[2014-05-06 22:17] crosbymichael opened #1 "Shouldn't this be a pkg that I can import?"
Should the core swarmd code be an importable package the I can import in my applications?

[2014-05-19 15:05] shykes opened #4 "Move Docker remote API to just another backend"

[2014-05-19 15:06] shykes opened #5 "Switch to native Beam instead of internal Docker engine api"

[2014-06-08 04:05] shykes opened #53 "Simple http adapter"
It would be nice to have an adapter which exposes a tree of objects over HTTP, in a rest-ish interface which can easily be navigated by eg. curl.

[2014-06-10 01:36] bfirsh opened #69 "Document the API and how to write your own service"
- What messages and verbs are
- How to write a service

[2014-06-17 07:23] asbjornenge opened #83 "Stateful containers & cluster configuration"
I have been thinking about cluster configuration lately.

My question is; _does it make sense to keep some mutable state inside a container? If so, does it make sense to design a standard interface to state controls?_

Example:

If we look at containers as lego bricks. You can either build a house solely out of stateless bricks. Whenever you want to switch on the lights, you swap out the dark ligh

[2014-06-18 00:24] shykes opened #89 ""Couldn't automatically load credentials""
Every time I run `swarmd` it prints the following line to standard output:

[code]

It seems to come from the Tutum backend, specifically from a library pulled in as dependency by that backend. @fermayo could you fix it to avoid the pollution please?

Thanks.

[2014-06-22 12:48] SvenDowideit opened #98 "how should we implement `info`"
and `docker version` ?

[code]

[2014-06-25 07:27] #1 closed, assigned to nobody

[2014-06-25 16:31] aaronfeng opened #104 "Dockerclient service / backend doesn't pull the container onto host the first time"
[code]

[code]

Once the image is on the machine (manually run the container on the host first), `docker run` work as expected.

It seems like some of this code needs to be in the libswarm dockerclient too:

https://github.com/dotcloud/docker/blob/master/api/client/commands.go#L1933-L1969

[2014-07-14 12:19] thedrow opened #111 "Add a build process"
The repository doesn't have a travis build.
We should add one.
What are the steps to build and test libswarm?

[2014-07-15 19:21] erikh opened #114 "clean up unix sockets in dockerserver after shutdown"
see https://github.com/dotcloud/docker/pull/6962

/cc @SvenDowideit

[2014-07-20 14:45] #111 closed, assigned to nobody

[2014-07-20 16:17] nnn-gif opened #118 "EC2 backend stucks while installing docker"
ec2 backend stucks at this message after that there is no activity

waiting for docker daemon on remote machine to be available.

[2014-07-28 23:25] nathanleclaire opened #124 "Documentation should explain using make deps etc. to build"
I wrote the "Installation" section of the README a little while back and it might still work in some cases, but with the introduction of `godeps` etc. I'm noting here that things should be rewritten to cover the more "modern" way of building libswarm e.g. you have to run `make deps`

[2014-07-28 23:31] nathanleclaire opened #125 "Documentation should explain basic concepts verbs etc. - and a "Real" usage"
The other day I sat down with @aanand and learned some core libswarm stuff that I couldn't figure out on my own.  It would be very helpful to have some documentation that covered what is the purpose of verbs, etc., and what does the overlying architecture of the system look like.  I'm interested in giving this a go, just filing an issue so it's kept track of somewhere other than in my head.

Addit

[2014-08-02 11:23] jamtur01 opened #126 "Master branch installation broken with ec2.go"
When I try to install libswarm I get:

[code]

[2014-08-06 16:41] jalev opened #129 "Master branch broken w/ dockerserver+Rax backend"
Trying to build swarm. Seems to fail on Dockerserver + Rax

[code]

Using Go version 1.2.2

[2014-08-07 16:01] #129 closed, assigned to nobody

[2014-08-14 06:49] ghost opened #132 "Can't install with `go get`"
[code]

Looks like these changes are covered by https://github.com/docker/libswarm/pull/115 -- or should I be doing something different to pull in an old version of `libchan`?

[2014-08-14 11:27] #132 closed, assigned to nobody

[2014-08-25 14:18] andrewwatson opened #136 "master won't build"
[code]

[2014-08-25 15:36] #136 closed, assigned to nobody

[2014-09-01 10:45] kennu opened #137 "Use TLS with dockerclient connections"
I couldn't figure out how to use a TLS connection with the dockerclient backend, although some TLS stuff is mentioned in the source code. Is it possible?

[2014-09-07 11:07] nadgowdas opened #139 "How to add new verb (support new operation)"
Hi,

I am trying to create "delete" operation for docker in libswarm. I made following changes:
1) add new verb to verbs.go
2) add new dockerserver handler (dockerserver.go)
3) add new method in client.go
4) Added handler in my backend service

Still, i am not able to get this new verb operational.

[2014-09-29 15:23] ric03uec opened #141 "client connect throws error"
i tried running libswarm using following command

[code]

Then tried to connect to the running server using following

[code]

which throws follwing error

https://gist.github.com/ric03uec/999f82756285d6657991
Tried restarting the server(as suggested by @cpuguy83  on irc) but didn't help.

System info

[code]

[2014-11-15 00:08] bmorton opened #143 "Aggregate backend hanging"
I'm trying to aggregate backends on a cluster of coreos VMs.  If I run swarmd like this, it works as expected:

[code]

However, if I try to aggregate instead, running `docker -H tcp://0.0.0.0:3333 ps` just hangs and never returns:

[code]

Interestingly enough, if I use the simulator, things work as expected as well.  If I try to aggregate two simulators, I see the same exact hang.

This is on ma

[2014-12-04 16:03] #143 closed, assigned to nobody

[2014-12-04 16:03] #141 closed, assigned to nobody

[2014-12-04 16:03] #139 closed, assigned to nobody

[2014-12-04 16:03] #137 closed, assigned to nobody

[2014-12-04 16:03] #126 closed, assigned to nobody

[2014-12-04 16:03] #125 closed, assigned to nobody

[2014-12-04 16:03] #124 closed, assigned to nobody

[2014-12-04 16:03] #118 closed, assigned to nobody

[2014-12-04 16:03] #114 closed, assigned to nobody

[2014-12-04 16:03] #104 closed, assigned to nobody

[2014-12-04 16:03] #98 closed, assigned to nobody

[2014-12-04 16:04] #89 closed, assigned to nobody

[2014-12-04 16:04] #83 closed, assigned to nobody

[2014-12-04 16:04] #69 closed, assigned to nobody

[2014-12-04 16:04] #53 closed, assigned to nobody

[2014-12-04 16:04] #5 closed, assigned to nobody

[2014-12-04 16:04] #4 closed, assigned to nobody

[2014-12-04 16:12] lukemarsden opened #144 "Plugins"
* Does swarm use a Docker plugin system? Or does it wrap Docker?
* Will swarm itself have a plugin system, such as networking (e.g. links across hosts) or storage?

[2014-12-04 16:12] tazjin opened #145 "Support some form of static clustering"
From what I can tell so far the discovery seems to be based on a similar process to [etcd bootstrapping](https://coreos.com/docs/cluster-management/setup/cluster-discovery/) in CoreOS. (The swarm discovery looks like it might even be using `etcd` as its backend?)

I've had a lot of problems with that in the past when experimenting with CoreOS and would therefore like to have some way to statically

[2014-12-04 16:17] robhaswell opened #146 "Links"
I searched the code but I couldn't find any references to the links feature. What is swarm's networking model? This should be clearly defined to be able to build a distributed system.

Perhaps this is just a documentation bug.

[2014-12-04 16:24] #146 closed, assigned to nobody

[2014-12-04 19:22] jbeda opened #147 "Discovery API is undocumented"
It looks like a key part of swarm is hosted on docker.com.  The API to that service is looks to be closed source and undocumented.  Is that code/spec available anywhere.

[2014-12-04 20:37] avaerkazmer opened #148 "TLS cert auth (both ends)"
Looks like TLS cert authentication is missing for both front and back end connections.

I presume this would be added with flags mirroring those of `docker`?

[2014-12-04 23:17] #147 closed, assigned to nobody

[2014-12-05 02:51] ykumar6 opened #149 "More optimal host selection strategy"
How easy or hard would it be to add a strategy where

1) Selection favors data locality on host (image cache)
2) Selection favors least weighted host (each task .. building vs running, assigns different weights to a host)

Here is something we wrote internally.
https://github.com/CodeNow/mavis

We don't have any Go programmers but will try to contribute to this

[2014-12-05 11:46] robhaswell opened #150 "Set the hostname of created machines to match the machine name"
When creating and managing multiple machines, it is confusing to identify which machine you have logged into after using `machine ssh`. Setting the hostname to match the machine name would be useful in this scenario.

[2014-12-05 12:32] #150 closed, assigned to nobody

[2014-12-05 21:58] daf opened #154 "Can't statically manage more than one host"
Using @vieux's recommendation in #145, I'm attempting to use `swarm manage --addr=<swarm listener> <dockerport1> <dockerport2>`, but it always fails with:

[code]

Tracking this error message down to [here](https://github.com/docker/swarm/blob/f9f83aae1f42b8223feef841383913d7acb837c6/cluster/cluster.go#L47), I see it's using the `Node`'s `ID` property to check if it's been added already.  Tracing

[2014-12-05 23:01] #154 closed, assigned to nobody

[2014-12-06 22:19] remmelt opened #155 "Enable CORS support"
In order to consume the swarm manage API using javascript, we need to enable CORS. It looks like it's already there but api.go has a hard coded false for `enableCors` on [line 360](https://github.com/docker/swarm/blob/2e7d9727558bc5b9117e7c325b3c80ebdc2a9315/api/api.go#L360). Could this be made into a flag?

[2014-12-06 23:04] #155 closed, assigned to nobody

[2014-12-07 09:36] nickschuch opened #156 "Roadmap"
Do we have a roadmap?

If I can see that I will have:
1) A better understanding of where to focus my time.
2) Confidence that the work Im doing in meaningful and will have a greater chance of being accepted.

[2014-12-08 16:01] ibuildthecloud opened #157 "Why isn't DISCOVERY_URL configurable?"
Is there any particular reason that DISCOVERY_URL is not configurable?  It would be nice if it was configurable similar to DOCKER_HOST.  Would you accept a pull request for this?

[2014-12-08 16:27] alexanderjardim-zz opened #158 "'unsupported version of Docker Engine' error with master docker build"
Hi,

Running the following installation procedures, I am running on error:

Building my vagrant machine

From inside the vagrant machine

And now the error:

[2014-12-08 19:01] #158 closed, assigned to nobody

[2014-12-09 21:45] #148 closed, assigned to nobody

[2014-12-10 21:04] #156 closed, assigned to nobody

[2014-12-12 20:04] #145 closed, assigned to vieux

[2014-12-12 20:04] #157 closed, assigned to vieux

[2014-12-13 15:05] LilliJane opened #170 "Error w/ swarm create"
Hi,

I'm trying to use swarm for the first time, and I followed the `README` but there is one error when I do "swarm create":

[code]

uname -a :

[code]

docker version:

[code]

docker -D info:

[code]

Any idea ?

Thank you,

Emeline

[2014-12-13 21:13] #170 closed, assigned to nobody

[2014-12-14 05:46] jjn2009 opened #171 "`swarm create` throws: "unexpected fault address", "fatal error: fault" on ubuntu 14.04"
On Ubuntu 14.04 immediately after installing:

[code]

in some instances its just a "Segmentation fault (core dumped)"

I spun up a new VM on Digital Ocean via applications > docker 1.4.0, ssh'd in and ran this before hand so its a clean install, plenty of cpu and ram:

[code]

The strangest thing about this is that if I give it some time it doesn't happen any more. I gave it a few minutes and the

[2014-12-14 21:23] avaer opened #172 "Per-server TLS certificates"
#148/#160 work fine for the frontend connection, but this change seems to assume all of the TLS backend servers use the same TLS config as the swarm manage listener... This is not always the desired behavior, especially with heterogeneous backends that don't all use the same certificate set (in which case you basically can't use swarm?).

There seems to be no way to override this behavior; correct

[2014-12-15 01:22] avaerkazmer opened #173 "Bind to unix socket"
It would be very useful for my use case to run the `swarm manage` server on a unix socket, without binding any ports at all (e.g. the case of running `swarm` in a networkless container).

This also would also bring `swarm` closer to parity with the docker daemon functionality.

[2014-12-15 23:40] #171 closed, assigned to nobody

[2014-12-16 10:32] avaer opened #177 "Additional Remote API endpoints?"
Currently many endpoints have a ```notImplementedHandler``` with a message that the endpoint is not supported in clustering mode. Found this out trying to do a swarmed image ```pull```, which would have been much nicer than ```pull``` in a loop.

Is this a case of "not implemented *yet*" or "swarm will not implement these APIs"?

If the latter, is the intended way to (for example) update images ac

[2014-12-16 21:59] #173 closed, assigned to nobody

[2014-12-18 11:15] multplx opened #187 "swarm manage yields TLS confusion"
I've followed these steps:
- host:
  - /usr/bin/docker -d -p /var/run/docker.pid -H 0.0.0.0:2375
  - swarm create
- container:
  - swarm join --discovery token://***\* --addr=172.17.0.2:2375

without error. But on
- host:
  - swarm manage --discovery token://***\* -H=172.17.42.1:4243

I am seeing
- INFO[0000] Listening for HTTP on tcp (172.17.42.1:4243)
- ERRO[0000] Get http:///v1.15/info: http: n

[2014-12-18 20:40] tlyng opened #188 "Swarm, isn't that a collection otf insects?"
It's probably a bit to late now, but it should have been named "Shoal" which is a large number of fish swimming together :-)

[2014-12-18 22:36] #188 closed, assigned to nobody

[2014-12-19 12:24] avaerkazmer opened #191 "Wrong proxy status codes"
`POST /containers/create` in particular seems to return `200 OK`, but the correct code is `201 Created` (https://docs.docker.com/reference/api/docker_remote_api_v1.16/#create-a-container).

From a quick look this seems like a broader problem since none of the API status codes are being proxied at all.

This breaks drivers like `dockerode` that expect the API spec to be followed.

[2014-12-19 12:57] kevinsimper opened #192 "Cloudinit example"
It could be cool to have a cloudinit example in the readme, as that would help to understand on how to use Swarm.

[2014-12-19 16:21] avaerkazmer opened #193 "Name JSON prefixing"
`/containers/json` prefixes `Name` with the node name, but `/containers/:id/json` doesn't, so currently it looks like there is no way to know with`/containers/:id/json` which node you are running on.

This case is a trivial fix, but according to TODOs in `api.go` the whole Name thing is unresolved anyway. So, is there an official word on the thinking behind how host info will ultimately be reporte

[2014-12-19 18:29] avaerkazmer opened #194 "Allow creating attachable configs"
See `postContainersCreate()`, https://github.com/docker/swarm/blob/master/api/api.go#L139:

[code]

This is preventing swarm from creating attachable containers, period. I know swarm doesn't support the attach endpoint, but I don't think erroring out on the create config is the correct place to fail: It's reasonable to create an attachable container via swarm and attach to it later some other way.

[2014-12-19 21:55] #191 closed, assigned to nobody

[2014-12-19 22:19] #187 closed, assigned to nobody

[2014-12-22 10:35] mountkin opened #197 "Unable to remove a node from the cluster"
The ```Watch``` method of the discovery backend calls ```cluster.UpdateNodes``` method to update the  node list according the return value of the ```Fetch``` method of the discovery service.
But it only inserts the nodes that aren't exist in the node list and doesn't touch the nodes that are "removed" from the discovery service.

If a node is removed from the discovery service, the ```swarm list``

[2014-12-26 15:07] raelmax opened #203 "ERRO[0014] unable to find a node with port available"
Hi, i have 3 machines running docker and docker-swarm, 2 with ubuntu server 14.04 and 1 with ubuntu desktop 14.04. The docker and swarm have the same version in all machines, docker 1.4.1 and docker-swarm 0.0.1.

I create a cluster with "swarm create" and start swarm join in 2 machines running ubuntu server, all without errors. When i start swarm manage in ubuntu desktop it's running ok, but when

[2014-12-26 17:34] #203 closed, assigned to nobody

[2014-12-29 06:20] phemmer opened #204 "consistent addressing"
The addressing of servers is rather inconsistent, especially between docker & swarm.

* The Docker documentation says to use the format `tcp://1.2.3.4:2375` ([here](https://github.com/docker/docker/blob/master/docs/sources/reference/commandline/cli.md#daemon-socket-option))
* The swarm documentation says to use the format `1.2.3.4:2375` ([here](https://github.com/docker/swarm)).
* The `swarm list`

[2014-12-30 01:28] vieux opened #209 "Add Windows and Darwin to travis.yml"

[2014-12-30 13:45] #193 closed, assigned to nobody

[2014-12-30 19:35] #194 closed, assigned to nobody

[2014-12-31 00:21] #209 closed, assigned to vieux

[2014-12-31 04:51] karlhelgason opened #212 "proxy function doesn't configure TLSClientConfig"
When using swarm with TLS I get the error: **" x509: certificate signed by unknown authority "** when using *"docker start"* and it also happens with *"docker logs"*.

The problem is that proxy function in utils.go doesn't use the tlsConfig.

This is what is missing is to configure the tls transport in the proxy function:

`  httpTransport := &http.Transport{`
`    TLSClientConfig: tlsConfig,`
`

[2014-12-31 21:58] tnachen opened #213 "Pluggable scheduler API"
Like to start the discussion around pluggable scheduler API, to make sure it doesn't become impossible to integrate with other schedulers.

I'm coming from the Mesos side, but I'm sure there are others too.

[2014-12-31 21:58] tnachen opened #214 "Integrate Mesos into Scheduler API"

[2015-01-02 12:50] bfirsh commented on #213
:+1:

The sooner we define an API the better – both so we don't become tied to our scheduler and so other providers (Kubernetes, Fleet, etc) can write their own drivers.

[2015-01-03 15:50] abronan commented on #214
Do we integrate with Mesos directly or through Marathon which already manages containers on top of Mesos? Seems to me that we could easily map Swarm label/constraints with Marathon constraints. Same about your comment on #197 with health checks, tracking, etc. Swarm can access the Marathon API or be notified with the scheduler API thus letting the underlying scheduler deal with health checking mec

[2015-01-03 22:22] tnachen commented on #214
It depends on what swarm is trying to cover and the information that it needs.

Ideally using Marathon will be the simplest approach although swarm will needs another dependency service.

Building a framework in swarm will be the most flexible approach, with the cost of building from scratch, which might not be too bad.

I am trying to avoid having two frameworks (marathon and another) that swarm

[2015-01-03 23:27] abronan commented on #214
:+1: Agree

@vieux Is it possible to extract, adapt and merge core parts of VoltFramework into Swarm then? At least we could get some inspiration from this project after some work with the pluggable Scheduler API :-)

[2015-01-04 00:04] tnachen commented on #214
I don't think voltframework integrates with swarm?

[2015-01-04 10:54] vincentwoo commented on #197
:+1: for node removal being a priority. If you have long running jobs, you need some way of signaling that a node is going to be removed but is still present while it is finishing its outstanding jobs.

[2015-01-04 20:02] vieux commented on #214
I also agree that swarm being a framework itself would be the most flexible approach.

No volt doesn't integrate with swarm, but it's a very simple framework written in pure go so it might look like the "swarm framework" in the end.

[2015-01-05 14:07] aluzzardi commented on #214
Agreed as well.

[2015-01-06 00:06] technolo-g opened #219 "Expose API Version for compatibility with Ansible"
Ansible is a very effective tool for orchestration with Docker containers. Unfortunately, it does not work with Swarm as it checks for the API version in use [1] which is not exposed by Swarm [2]. I think that the Swarm server should respond with it's minimum API compatibility level in a similar manner to the Docker daemon.

[1] https://github.com/ansible/ansible-modules-core/blob/devel/cloud/dock

[2015-01-06 00:15] vieux commented on #219
Thanks for the report, I'll make a PR

[2015-01-06 00:20] technolo-g commented on #219
@vieux, I was working on one now though I can't guarantee it will be what we need :)

[2015-01-06 00:23] vieux commented on #219
@technolo-g ah sorry, please see #219 <- would this work for you ?

[2015-01-06 00:26] technolo-g commented on #219
Never a problem with being too fast :) Confirming the fix w/ Ansible now...

[2015-01-06 00:34] vieux commented on #212
@karlhelgason thank you! can you open a pull request ? with your changes ?

[2015-01-06 02:23] technolo-g commented on #219
The fix has been tested and confirmed working. Thanks!

[2015-01-06 08:24] tnachen commented on #213
@vieux @aluzzardi how do we move forward with this? I think we should start implementing the default one under a interface at the very least.
Also it seems like the current scheduler class is only about the placement of a container, but there is also discovery and managing the state of a cluster.
I think all of this should be pluggable under interfaces.

[2015-01-06 19:47] #219 closed

[2015-01-06 20:54] vieux commented on #213
@tnachen you're right, right now, scheduler and discovery are separated. Discovery already has it's own interface (consul, etcd, etc...), but not Scheduler.

You could look at this https://github.com/docker/swarm/pull/178 for an attempt at really basic version of the Scheduler interface.

Regarding mesos I feel like Scheduler and Discovery needs to be blended because swarm won't get a list of node

[2015-01-06 21:56] vieux commented on #212
See #224

[2015-01-06 22:26] technolo-g opened #225 "Problem with TLS between Swarm <----> Docker hosts"
After enabling TLS on my POC setup, I am experiencing an issue with some functionality. I have everything setup and working, but when I do a docker create it gives me ‘x509 certificate signed by unknown authority’. It creates (but not starts) the container and other commands such as ps, info, rm work as expected.

Additional info can be found here: https://gist.github.com/technolo-g/dbc1a1445f1c72

[2015-01-07 02:03] technolo-g opened #226 "Using TLS with Consul discovery is broken"
Currently when attempting to use the Consul discovery mechanism there is no way to specify a HTTPS endpoint. What happens is that given a command of:
[code]
the actual value that is stored in Consul's key/value store is:
[code]

The way I have seen this type of setup work effectively is by using an actual value in addition to the path. For example, the structure in Consul for the above `swarm join

[2015-01-07 02:14] vieux commented on #226
Thanks for the report, as I was saying here https://github.com/docker/swarm/pull/208#issuecomment-68411270

I would like swarm to handle only ip:ports, no scheme or protocol.

Swarm will use https if you provide a `--tls` otherwise, regular http

[2015-01-07 03:16] technolo-g commented on #226
I'm cool with that approach :+1:

[2015-01-08 13:03] #212 closed

[2015-01-08 19:24] vieux commented on #225
@aluzzardi now that you merged TLS PR, can you take care of this one please ?

Thank you!

[2015-01-09 03:08] technolo-g opened #229 "Panic when dealing with a large number of containers"
When creating or destroying a few thousand nodes through swarm, it eventually dies with the following error and I'm not exactly sure what the problem is:

[code]

## Versions
[code]

[2015-01-09 18:47] vieux commented on #229
a few thousand nodes or containers ?

[2015-01-09 19:48] vieux commented on #213
Actually, after thinking about this more, I think we don't have to mix Scheduler and Discovery.

This will probably the main use case:
`swarm manage --scheduler mesos --discovery zk://<zookeeper_url_with_the_mesos_masters>/path`

But you should be able to use other discovery mechanism
`swarm manage --scheduler mesos --discovery file://list_mesos_master`

@tnachen what do you think ?

[2015-01-09 20:11] tnachen commented on #213
I think I need to understand more if discovery info is going to be used by some other commands or components of swarm.

Seems like discovery is simply listing all the swarm agents, does it also plan to list all the containers or find a particular container in the cluster?

But yes, I think discovery can stay as-is.
I'm thinking that the swarm framework can launch custom executors which launches th

[2015-01-09 21:12] vieux commented on #213
discovery gives you a list of ip/port you need to talk to:
with the default scheduler, it's a list of docker daemon, with mesos I think it'll be a list of mesos master.

right now, when you restart it, it'll reconstruct the cluster cache by reaching all the nodes and asking for their containers.
soon we will have a local cache on disk.
later we will have shared state (probably with raft)

[2015-01-09 21:49] technolo-g commented on #229
I apologize, containers.

[2015-01-09 22:08] vieux commented on #229
no problem, can you tell us more ? I cannot reproduce

[2015-01-10 00:46] tnachen commented on #213
So if you want a list of all the available nodes that you can a docker container, then it's the whole list of slaves (which you can get from querying the JSON endpoint from master).

However just getting the slave nodes doesn't necessarily tell you the swarm endpoints, unless we assume swarm is running on the same port on all the nodes.

Also it's either an assumption that swarm agent is already p

[2015-01-12 04:20] technolo-g commented on #229
I can no longer reproduce either. It could have been network connectivity. I will re-open if experienced again, sorry for the inconvenience .

[2015-01-12 04:20] #229 closed

[2015-01-12 22:19] vieux commented on #226
Closed by #208

[2015-01-12 22:19] #226 closed

[2015-01-12 22:59] vieux commented on #204
see #237

[2015-01-13 00:17] vieux commented on #192
I'll add @jpetazzo in the loop

[2015-01-13 16:45] timothysc opened #239 "Add support for user defined script to generate labels."
The idea here is piped|configs.

--labels=|/usr/bin/generate_json_or_yml_nvp_thunk.sh

This is nice because different folks could create their own script files to detect:
- cluster/rack awareness
- gpu capabilities
- over provisioning mechanics ...

[2015-01-13 18:57] vieux commented on #239
Hi @timothysc

Are you talking about host labels ? In this case the issue should go in docker directly.

[2015-01-13 18:57] vieux commented on #239
in any case, I like the idea

[2015-01-13 19:59] timothysc commented on #239
@vieux
Yes I'm talking host labels, but I can't claim the idea as my own, I've stole it from several other schedulers/cluster managers.

;-)

[2015-01-13 20:14] tnachen commented on #239
also ideally this should be dynamic, where it can be updated without restart. But that's a nice to have :)

[2015-01-13 20:21] timothysc commented on #239
@tnachen - of course ;-)

[2015-01-13 21:44] kyleschlosser opened #241 "Some invocations to a TLS enabled daemon occur via HTTP"
I have docker nodes and swarm daemon configured to use TLS, and some commands are working against the swarm daemon such as ps, but when I try to create a container, the container is created but does not start. It appears the start invocation is using http, while the other invocations which are succeeding presumably are using https.

[code]

Swarm Log:
[code]

Version reported is 0.0.1 installed vi

[2015-01-13 22:03] vieux commented on #241
@kyleschlosser thanks for the report, can you test the fix in #242 ?

[2015-01-13 22:03] vieux commented on #225
@technolo-g I think I figured it out, can you test #242 please ?

[2015-01-13 22:07] vieux commented on #239
right now we don't have dynamic host labels, we had a long discussion about it.

You start your daemon with `--label storage=ssd`

Then you schedule a few container with `-e constraint:storage=ssd`

Then you update your host label to `storage=disk`

What happen for your container ? Because it isn't matching the constraint anymore.

[2015-01-13 22:13] tnachen commented on #239
@vieux there are certainly a lot of things to handle when it comes to dynamic attributes/labels, so I'm not proposing we need to have it.
But from the experience of Mesos, there are quite some scenarios that is great with dynamic label updates.
In the situation you described, it certainly depends on the policy of how to handle this. It certainly deserves a seperate ticket but I this is not high pr

[2015-01-13 22:15] vieux commented on #239
@tnachen cool, we'd love to hear more about your experience soon.

@timothysc can you open this ticket on the docker repo ?

[2015-01-13 22:26] thaJeztah commented on #239
But does *not* having dynamic labels really prevent this situation? Stop/Starting the daemon would still allow changing the labels?

[2015-01-14 00:26] vieux commented on #239
@thaJeztah stop/start the daemon kills the container, so there is no question, the container won't restart and will be rescheduled if another machine with the "old" label is available

[2015-01-14 00:45] abronan commented on #239
@vieux Actually, the scenario you mentioned is a good case for container migration.

If a container does not match a constraint anymore due to dynamically changing labels, then Swarm (or the underlying pluggable scheduler) should know about that and trigger a migration after a new scheduling decision (live or not, it depends on the feasibility). It really depends on if we accept to stop/kill the c

[2015-01-14 01:32] timothysc commented on #239
@thaJeztah @vieux label persistence can be independent of the daemon itself.

In fact it should be to enable recovery of stateful data.

In order to truly do stateful services you would need some other moving pieces, but I'll leave that for another ticket.

[2015-01-14 01:35] timothysc commented on #239
Closing re: @vieux comments.

[2015-01-14 01:35] #239 closed

[2015-01-14 01:38] technolo-g commented on #225
@vieux it seems something is still awry and the healthcheck code is not working the same as the rest. Sticking to file based discovery, given a config of
[code]
and a docker swarm start line of
[code]

I get the following log entries:
[code]

When setting the scheme in the swarm config as so:
[code]

I am able to interact with swarm:
[code]

But standing up a container is non-functional:
[code]

[2015-01-14 02:37] technolo-g commented on #229
For posterity's sake, I was able to replicate this and the problem was I was using an old version of the Docker client (by accidentally forgetting a `brew switch docker 1.3.2`).

[2015-01-14 13:59] #225 closed

[2015-01-14 13:59] #241 closed

[2015-01-14 14:23] kyleschlosser commented on #241
Thanks for the quick turn around, its working fine now.

[2015-01-14 14:26] alktlr opened #244 "Incorrect content type in header"
The [Jenkins Docker plugin] (https://wiki.jenkins-ci.org/display/JENKINS/Docker+Plugin) is unable to read the output from swarm because the content type is "text/plain". The correct content type should be "application/json".

How to reproduce:

wget --server-response http://&lt;docker_host&gt;:&lt;port&gt;/version
  HTTP/1.1 200 OK
  Content-Type: application/json
  Job-Name: version
  Date: Wed,

[2015-01-14 14:49] alktlr opened #245 "Swarm/docker version conflict"
Yet another issue with [Jenkins Docker plugin] (https://wiki.jenkins-ci.org/display/JENKINS/Docker+Plugin). The version number in /version is the swarm version number where the docker plugin expect it to be the docker version number. It is possible to set the swarm version to SwarmVersion and pass-through the docker version.

Docker plugin exception
Caused by: java.lang.NumberFormatException: For

[2015-01-14 15:14] phemmer commented on #245
I don't think it feasible to pass-through the docker version.
Firstly, the docker servers might not be running the same version.
Secondly, the swarm API is not exactly the same as the docker API. Some things are currently missing, and others are implemented differently (`docker info` responds with a list of nodes when run against swarm, `docker ps` prefixes the node names with the node ID).
Both t

[2015-01-14 17:57] technolo-g commented on #225
@aluzzardi @vieux, This does still appear to be a problem.

[2015-01-14 19:12] vieux commented on #245
I agree with @phemmer it's not really possible to put the docker version.

@alktlr does the plugin uses the version in anyway ?
It's crashing because the current version is swarm/0.0.1 (not a number)
Docker can have version 1.4.1-dev and the plugin isn't crashing.

What about we put 0.0.1 (swarm) as version ? I'm pretty sure it won't crash.
Can you test that ?

[2015-01-15 01:00] vieux commented on #244
Fixed in 32c135314dd9573d54f5ec104537f9b51eb772f2

[2015-01-15 01:00] #244 closed

[2015-01-15 09:36] sourav82 opened #247 "How replication control and load balancing being taken care of?"
I wanted to create multiple replicas of same docker containers which should be replicated amongst the swarm nodes and a load balancer in place to balance the request to those replicas. Something similar to kubernetes pods, replicationControllers and services.

How can we do this using docker swarm?

[2015-01-15 09:44] alktlr commented on #245
I have looked at the code and 1.4.1-dev would also fail. It creates an array split by dots and parses each element to an int. I use 1.4.1.

[code]

The docker plugin will only accept version 1 or higher.

[code]

The good news is that the version verification step can easily be bypassed by saving configuration without testing the connection. But then ran into a not implemented feature. (not to hij

[2015-01-15 09:46] alktlr commented on #244
Thanks. The fix has been verified.

[2015-01-15 19:00] vieux commented on #247
For the load balancer part you need something like this:http://jasonwilder.com/blog/2014/03/25/automated-nginx-reverse-proxy-for-docker/
Listen to the swarm events api and rewrite your configuration accordingly.

For the rest, we are waiting for docker compose to add those features, you'll need to do it manually for now.

[2015-01-15 19:04] vieux commented on #245
ok, I believe we should fix the plugin itself, because if it doesn't work with `1.4.1-dev` it means it only works with stable versions, not master.

Anyway, yes, swarm doesn't support `docker images`

We will add it, we just need to figure out how to do it. (I'll make a proposal soon)

[2015-01-16 00:15] krallin opened #248 "Allowing `addr` to be hostname"
What would be the blockers (if any) that need to be resolved to allow `addr` to be a hostname (in `swarm join`)?

When using SSL, forcing the advertised address (which I understand `swarm manage` will collect to) to be a hostname makes things a little bit more complicated than they should (i.e. you need a certificate with an IP SAN, and generating one with OpenSSL isn't exactly the most intuitive

[2015-01-16 00:31] vieux commented on #248
@krallin nothing!
I agree we should have it, I'll make a PR

[2015-01-16 01:30] vieux commented on #248
@krallin please take a look at #250

[2015-01-16 01:40] vieux commented on #245
@alktlr see #249

[2015-01-16 01:41] vieux commented on #245
I'm closing this one. Feel free to comment in #249

[2015-01-16 01:41] #245 closed

[2015-01-16 05:08] resouer opened #251 "How to deal with --link --volume_from network container etc."
In a word, most of the cases in real world requires relationship between Docker containers like --link --volume-from --net=container, that means, at least, swarm should be able to schedule those containers to one host.

But I did not see this kind of strategy in swarm currently, is it under developing or swarm has other approach?

[2015-01-16 05:23] sourav82 commented on #247
Thanks @vieux. I noticed if one swarm node goes down, then the container scheduled on it marked as pending but not rescheduled to other available swarm nodes. From the manager node, I'm getting below logs -

ERRO[3121] [3FLV:RF2L:CXDR:PF3Y:QC7S:Y7SY:JLZF:TJH5:HEXA:FH52:YUCP:ASSB/etp-ProLiant-DL180-G6-3] Flagging node as dead. Updated state failed: Get http://10.227.125.3:2375/v1.15/containers/json

[2015-01-16 08:44] krallin commented on #248
Thanks! I'll close this issue and comment in the PR.

Cheers,

[2015-01-16 08:44] #248 closed

[2015-01-16 20:08] Tebro commented on #251
+1 for this, at least until there is a solution that allows containers to communicate when on different hosts (some kind of VPN setup?) it would be really useful if swarm put containers with link relations on the same host. I assume this should account for the future when docker compose starts to become more stable.

[2015-01-16 23:56] vieux commented on #251
Those issues will be resolved in docker itself, when overlay network support will land in the engine.

@resouer We might add theses strategies in swarm (using #243), but it'll be far from perfect.
Let's say one host has 2g of RAM, you schedule a container with 1g, it's going to this host, then if you schedule a `linked` or `--volumes-from` container asking for 2g, it's a dead end, the `--volumes-f

[2015-01-17 04:20] resouer commented on #251
@vieux Yes, can't agree more with you. If we want to make swarm really works, we need import concepts like Groups in Docker (as Pods n k8s). That really need Compose's help in this case. But I think Fig is not ready for that, group labels, group resource sharing ... are all lack from the project. Did you guys know about the direction of Swarm&Compose is going to?

[2015-01-19 00:37] jhamrick opened #253 "Bugs in binpacking strategy"
Is the bin packing strategy supposed to choose the machine that has the most resources free, or the fewest resources free? Currently, it appears that it chooses the machine with the *fewest* free resources, I think due to the implementation of `Less`, which actually tests for greater: https://github.com/docker/swarm/blob/master/scheduler/strategy/binpacking.go#L81

If this is intentional, it might

[2015-01-19 07:25] david-guenault commented on #247
@sourav82 for your -H problem the right syntax is DOCKER_OPTS="-H tcp://0.0.0.0:2375" where 0.0.0.0 will answer on every network interfaces. Since it is an http api just issue a curl http://localhost:2375 from your server and check that it answer 404 Not found.

[2015-01-19 10:59] chanwit opened #255 "Port filtering in the Host mode"
Correct me if I am wrong.

Does the current port filter work only with port mapping in the -net=bridge mode?
If so, is there any information we could obtain from a Docker instance to filter it with the host's port?

[2015-01-19 11:10] sourav82 commented on #247
Thanks @david-guenault. Will try with it.

[2015-01-19 11:59] aanand commented on #251
@resouer The networking effort - still ongoing - will most probably result in a top-level "network" concept that's essentially a multi-host group of containers which can intercommunicate. As and when that makes it into Docker master, Compose will use it.

[2015-01-19 19:21] rowoot commented on #253
In an ideal world, the bin packing scheduler should be capable of packing the appropriate processes that result in maximum utilization of the node's resources (implicitly reducing wastage of resources).

I think it is otherwise i.e it chooses machines with most free resources.  But, I agree that the working of the `Sort()` method here is a bit counter intuitive given that the expectation for `Sort

[2015-01-19 19:37] jhamrick commented on #253
Well, at least from testing this out and adding in debug statements to verify, it currently chooses the machine with the fewest free resources (i.e. the one with the most containers already allocated to it).

Hmm, well I will admit I am not particularly familiar with Go, so perhaps this is not the actual reason (does Go do order of operations backwards? In every other language I know, this would d

[2015-01-19 21:04] vieux commented on #253
I'll let @aluzzardi take a look at this one.
I must say I'm surprised because we have tests and this appears to be the behaviour we want.

[2015-01-19 21:07] vieux commented on #255
Not at the moment, like memory and CPU, we rely on docker to know what's used and what's not.

Maybe we could use `exposed` ports when `-net=host`.

@chanwit that's assuming you are using `-net=host` ?

[2015-01-19 23:22] phemmer commented on #253
The behavior of the strategy is correct. Information on the binpacking strategy can be found here: https://en.wikipedia.org/wiki/Bin_packing_problem
The idea is that you will fill a "bin" to it's maximum capacity before placing items in another "bin".

What you're probably after is a strategy which places containers on nodes with the least utilization. There is an open PR to add a strategy which d

[2015-01-20 00:14] jhamrick commented on #253
Ok, so that answers my question about how the strategy is supposed to operate -- though I think it would still be nice if this were documented and if the code were less ambiguous (and like I said, I am happy to submit a PR for this). @phemmer the strategy I'm looking for does indeed seem like the one you're working on in #227, thanks for the pointer.

There is still the other issue of the score al

[2015-01-20 00:24] vieux commented on #204
I believe we solved most of the issues ?

We can't change `-H` as we use it to match docker's flags

[2015-01-20 00:24] phemmer commented on #253
That 'divide by 200 multiply by 100' line looked like a problem to me as well. In fact I had created a commit on my personal repo to fix it. But I didn't submit it as a PR, and I thought that was because I determined it wasn't really an issue. But maybe it is, I'll go back and review it again.

[2015-01-20 00:51] vieux commented on #253
@jhamrick feel free to add a test in `scheduler/strategy/binpacking_test.go` and make a PR so we understand what's wrong.

[2015-01-20 01:01] phemmer opened #257 "SWARM_DISCOVERY env variable doesn't work"
[code]

This was working at one point as I've used it before.

[2015-01-20 01:04] vieux commented on #257
I see `SWARM_DISOVERY` in your gist, missing the `C`

[2015-01-20 01:08] vieux commented on #257
But you're right, I'm looking into it

[2015-01-20 01:11] phemmer commented on #257
Oops, typo while creating a simple reproduction instructions :-)

[2015-01-20 01:12] vieux commented on #257
@phemmer fixed in 829bcb562d2df0ba7a0560bf480a6dcd30361df8 Thanks for the report.

[2015-01-20 01:12] #257 closed

[2015-01-20 01:18] phemmer commented on #204
Well in it's current state, it's now broken for me:

[code]

And the swarm daemon logs are spitting out:

[code]

[2015-01-20 01:50] vieux commented on #204
@phemmer you need to update dockerclient (`go get -u`)
Can you do this and try again ?

[2015-01-20 03:10] jhamrick commented on #253
See #258 for an example that causes the scheduler to fail.

[2015-01-20 04:34] phemmer commented on #204
ahha, sorry about that :-)

Then yes, I think all is well enough. Though in response to #237, `docker -H 1.2.3.4:2375` works fine for me. No `tcp://` prefix needed.

[2015-01-20 08:33] phemmer commented on #213
@tnachen
Reading your last few comments, they don't make much sense to me. You speak of the swarm agent running on each node, but swarm only runs in one location. It talks to the docker daemon that runs on each node, but doesn't run there itself.

[2015-01-20 08:33] phemmer commented on #213
Just some of my thoughts on the whole scheduler thing. I think the scheduler interface will need to be a lot more advanced than just calling out to an external system and asking "what node should I place this container on?".
For example, if we use swarm for our system, we'll need it to be able to do things like handle when a new node comes up or goes down, so that it moves existing containers arou

[2015-01-20 08:42] tnachen commented on #213
@phemmer I'm looking at the example usage and also the discovery, and it seems to me that in order to be discovered you need to run the agent on each node in your cluster. Is this not true?

[2015-01-20 08:49] phemmer commented on #213
@tnachen Actually no. This is everyone's first thought when the see the swarm readme :-)
The `swarm join --discovery token://FOO --addr=BAR` action can actually be run from any node. All this does is publish the address of the docker daemon to the token based discovery service. It's a one-time registration operation. The swarm manager then reaches out to the discovery service to get a list of dock

[2015-01-20 08:50] tnachen commented on #213
@phemmer I see, the comments does it make it very confusing:
# on each of your nodes, start the swarm agent

[2015-01-20 08:54] tnachen commented on #213
I'm not all familiar with the intentions and the code, but it seems like just looking at join.go alone, it seems to imply that it's meant to run on each node as it continues to callback register in a infinite loop with heartbeat timeout. If it's just a one time registration it seems unnecessary, and definitely doesn't make sense to run a bunch of loops in one node just giving ip addresses.

[2015-01-20 08:59] phemmer commented on #213
Actually it looks like I'm somewhat wrong. The agent does stay running. It pings the discovery service periodically to let it know the node is still there. It's been a few months since I played with it, so apparently I'm out of date. I appologize.

[2015-01-20 09:18] chanwit commented on #255
yes we're using -net=host to avoid NAT to maximize our cluster's performance  :)

[2015-01-20 10:05] #247 closed

[2015-01-20 10:07] sourav82 opened #259 "Containers not re-scheduled to available nodes from dead nodes"
I noticed if one swarm node goes down, then the container scheduled on it marked as pending but not re-scheduled to other available swarm nodes. From the manager node, I'm getting below logs -

ERRO[3121] [3FLV:RF2L:CXDR:PF3Y:QC7S:Y7SY:JLZF:TJH5:HEXA:FH52:YUCP:ASSB/etp-ProLiant-DL180-G6-3] Flagging node as dead. Updated state failed: Get http://10.227.125.3:2375/v1.15/containers/json?all=1&size=0:

[2015-01-20 11:45] chanwit commented on #255
@vieux to make this happen, does it require any change to `docker`?

[2015-01-20 13:39] phemmer commented on #259
Currently it will not try and start it on another node. While it might be nice to try and do so, this would be rather dangerous territory.
Lets say it does does restart the container on another node, then that missing node comes back up and the container is still running on it, what happens? Should swarm stop one of them? If so, which one? Then what if the container is running an application where

[2015-01-20 18:04] ssoto opened #260 "Error compiling swarm"
Hi,
I'm trying to use swarm in Ubuntu 12.04 What requirements are need to do it?
[code]
I tried and I got some errors:
[code]

Thank you for your answers.

[2015-01-20 23:10] #253 closed

[2015-01-21 00:29] vieux commented on #260
Hi @ssoto,

`SetKeepAlivePeriod

[2015-01-21 00:29] #260 closed

[2015-01-21 00:58] vieux commented on #255
@chanwit I don't think so, if you can use `--expose` with `--net=host` we will just need to use it.

[2015-01-21 03:35] chanwit commented on #255
I see. Thank you @vieux

[2015-01-21 03:35] #255 closed

[2015-01-21 10:50] ssoto commented on #260
@vieux  thank you for your fast answer. That was all I need to know.

[2015-01-21 20:03] aluzzardi commented on #259
@sourav82: This is planned but not currently implemented. As @phemmer said, it's dangerous and complex. What we are going to do is give you an option when scheduling containers in order to set the rebalancing policy, in the same way Docker has a restart policy so you will be able to decide by yourself which containers are safe to reschedule.

[2015-01-21 20:04] aluzzardi opened #264 "Vendoring dependencies"
Right now we just assume developers will `go get` dependencies.

However this doesn't work well as my build of `swarm` might be different from, say, @vieux's build.

We need to find a way to properly vendor dependencies in a lightweight way.

[2015-01-21 20:20] vieux commented on #264
I always wanted to give http://labix.org/gopkg.in a try in docker but it's way to big, we could try it in swarm.

[2015-01-21 21:51] aluzzardi opened #267 "Help test 0.1.0"
Dear community,

We've put together a release candidate for 0.1.0.

Even though this will be a beta release (given that it's the very first one) and not meant for production use, we'd like your help to test it out and report your feedback, whether it's bugs or even small cosmetic issues.

Thank you!

[2015-01-21 21:55] rgbkrk commented on #267
@jhamrick is totally using it in production with JupyterHub (with IPython notebooks) already for her class for compmodels at Berkeley, hopefully we'll have something meaningful to report back soon. :smile:

I'll try it out with tmpnb.org soon too!

[2015-01-21 22:00] jhamrick commented on #267
I'm actually running a very slightly modified version until #227 is merged, but yes, what @rgbkrk said :smile:

[2015-01-21 22:06] aluzzardi commented on #267
Awesome! Thanks.

Ping @abronan @chanwit @ibuildthecloud @JeffChien @lukemarsden @metcalfc @mota @phemmer @thaJeztah @tnachen

[2015-01-21 22:25] thaJeztah commented on #267
Thanks for the ping, not a lot of time tomorrow, but will give it a spin this weekend

[2015-01-21 22:27] aluzzardi commented on #267
Sure! We are actually giving ourselves about 2 weeks to test it out, so there's plenty of time left.

Thank you

[2015-01-21 22:30] thaJeztah commented on #267
<--- topping up my DigitalOcean credits to run a huge cluster :sweat_smile:

[2015-01-21 22:47] mota commented on #267
Count on me!

[2015-01-21 23:57] abronan commented on #267
:whale: :whale: :+1: :whale: :whale:

@thaJeztah I guess I'll do the same. If there is a global outage, we'll know why :smile:

[2015-01-22 00:17] thaJeztah commented on #267
@abronan just steer away from AMS3 and you should be fine :smile:

[2015-01-22 03:13] technolo-g commented on #204
Everything seems to be working for me as well.

[2015-01-22 03:18] technolo-g commented on #267
I'll be giving it a go for sure :bomb:

[2015-01-22 03:33] sourav82 commented on #259
Thanks @phemmer and @aluzzardi for the information.

[2015-01-22 03:33] #259 closed

[2015-01-22 06:02] technolo-g opened #272 "Problem when specifying ports on docker run"
It seems like Swarm is treating an exposed port as a statically mapped port. If I have a cluster of 3 nodes and create 3 containers with this command:
`docker run -p 80 -d -t nginx:latest`

I get this error message upon creating the 4th:
`2015/01/21 22:53:02 Error response from daemon: unable to find a node with port  available`.

I would expect the above error if I were provisioning with the foll

[2015-01-22 06:13] phemmer commented on #264
Git submodules would seem better than gopkg.in to me. gopkg.in is restricted to github, and requires the deps to use the specified versioning scheme. But neither would handle deps from mercurial (though it is rare to need it).

[2015-01-22 09:31] chanwit commented on #272
It may be the case of both `binding.HostPort` and `requested.HostPort` being the blank value.
https://github.com/docker/swarm/blob/master/scheduler/filter/port.go#L38

[2015-01-22 09:48] chanwit commented on #272
@technolo-g could you please test the binary from my branch to confirm that it can fix your issue. Thank you!

[2015-01-22 12:39] ssoto opened #275 "Swarm config"
I''m trying swarm and I have some doubts related with the configuration. It looks so simple but I cant do it work. I have two servers, both with docker `1.4.1` and `go1.3.3`. I configure docker service to listen by a port

I can run the client with -H option to send commands between servers. Now come swarm part. I create de unique id from one of their and I try to join to first one from the other,

[2015-01-22 16:31] vieux commented on #275
We plan to add some debug, the command `swarm join` isn't frozen.
It never returns because it's pinging the discovery service every X seconds.
`swarm join` isn't the server, `swarm manage` is.

Once you have started the `swarm join` on both of your server, you can then start `swarm manage` on any machine, using the same token. Then you configure your docker client to talk to the `swarm manage` IP

[2015-01-22 22:44] #275 closed

[2015-01-23 00:28] rgbkrk commented on #264
Any opposition to Godeps and not checking in the `_workspace`?

/me ducks

[2015-01-23 00:29] aluzzardi commented on #264
@vieux I think you have some experience with Godeps?

[2015-01-23 00:41] vieux commented on #264
not at all, I have experience with [vendor.sh](https://github.com/docker/docker/blob/master/project/vendor.sh) :)

@rgbkrk can you explain what you mean by `checking in the _workspace` ?

[2015-01-23 00:47] aluzzardi commented on #264
@vieux http://stackoverflow.com/questions/26334220/should-i-commit-godeps-workspace-or-is-godeps-json-enough

[2015-01-23 01:17] aluzzardi commented on #272
Further details:

[code]

Basically, we only care about the requested ports, not the ports that have actually been mapped.

/cc @chanwit

[2015-01-23 01:41] daniel-garcia commented on #264
It's worth noting that godeps deprecated only saving the Godeps.json file.

http://goo.gl/RpYs8e

godep now saves all dependencies in the Godeps/_workspace directory by
default.

On Thu, Jan 22, 2015 at 6:47 PM, Andrea Luzzardi <notifications@github.com>
wrote:

[2015-01-23 04:57] SvenDowideit opened #279 "Docker swarm 0.1.0 rc1 is not a static binary"
so won't run on boot2docker. As there's no OSX or windows `swarm` yet, this will be an important way to test

[code]

[2015-01-23 05:39] SvenDowideit opened #280 "join address can be remote?"
I just ran `docker-swarm --debug  join --addr=10.10.10.4:2375 ...` on a box other than `10.10.10.4`, and it works.

is this intentional (atm, it feels useful to me)

[2015-01-23 05:40] SvenDowideit commented on #280
also, do _all_ the other nodes need to be able to access the node_ip, or just the manager node (s)?

[2015-01-23 07:12] SvenDowideit opened #281 "its possible to run more than one Docker daemon on a single host"
but you don't seem to be able to `docker-swarm join` the second.

[2015-01-23 07:12] tnachen commented on #281
out of curiousity, why would one run more than one daemon per host?

[2015-01-23 07:54] SvenDowideit commented on #172
So swarm can't talk to a group of pre-existing Docker daemons - for example, a set of boot2docker base servers, where each will have its own CA (and other certs).

I was hoping to add a very simple `docker-swarm join` to my boot2docker boot scripts, and instantly have a swarm.

[2015-01-23 07:56] SvenDowideit commented on #172
I'll do some work on the userguide docs to tell users what they need to know.

[2015-01-23 08:01] SvenDowideit commented on #172
@vieux @aluzzardi looking at the `docker-swarm manage` commandline - does that mean you also can't have a TLS swarm socket and non-TLS Docker daemons, or non-TLS swarm daemon with a TLS Docker daemon? or a mix of TLS and non-TLS Docker daemons?

[2015-01-23 08:02] SvenDowideit commented on #172
mm, also, can I use https://github.com/SvenDowideit/generate_cert ? that will generate the certs without requiring user input.

[2015-01-23 09:39] david-guenault commented on #280
This is possible but make no sense. if you use a clustered discovery backend (for example etcd) joining a remote host make no sense because if the remote host crash it will still be available in the discovery backend. And this is really bad for swarm manage scheduling (it will believe that the host is alive and so try to schedule containers on it .... and BOOOM)

[2015-01-23 09:42] david-guenault opened #284 "[QUESTION] swarm node naming"
When joining nodes in a swarm cluster will it be possible (or already possible) to specify a node name different from the hostname ? so when you ps on a swarm manage instance it display the nodename/containername and not hostname/containername.

[2015-01-23 10:23] david-guenault commented on #267
curently testing swarm, the only drawback i see at the moment is giving a logical name to swarm joined members (instead of hostname). That say it work quite well on a 3 hosts cluster (sorry i have no more computers available). Thinking off boostraping a docker cluster with an etcd discovery backend (physical hosts). Got a handfull Makefile (yeah i know old school way) to do it. Btw i started testi

[2015-01-23 11:01] david-guenault opened #285 "[ENH] etcd discovery backend"
I'm curently testing swarm with an etcd discovery backend. etcd is a three nodes cluster. Joining the cluster is a bit random because we do not know how many etcd hosts are available when starting the join command (production problem for example). It should be valuable to add the capabilitie to specify more than one etcd uri at startup so if i have a 4 nodes etcd cluster, swarm will try to join ea

[2015-01-23 13:03] phemmer commented on #281
I do this all the time using docker-in-docker, but I use a static discovery file, not `swarm join` (just because it's simpler).

[2015-01-23 13:14] cpuguy83 commented on #280
This makes total sense to me since there is no need of an agent to be running on the daemon host. It's registering a node with swarm.  If swarm can't reach it it will flag it (or it at least shows comm errors in the logs) as not accessible.

[2015-01-23 13:16] david-guenault commented on #281
@phemmer simple but not secure at all, say you loose a docker host, from a scheduling point of view  swarm will certainly try to schedule a container on the failed host ....

[2015-01-23 13:17] phemmer commented on #280
Yeah, this is probably a bug in the documentation

Only the manager needs to be able to reach it.

[2015-01-23 13:17] cpuguy83 commented on #172
@SvenDowideit I was messing with machine last night.
I think, or at least what I suggested, is to have machine generate a single CA (or allow one to be specified) and a single set of client keys, and then each new host gets a new set of server keys signed by that single CA.
This CA can then in turn be used to sign server keys for swarm.

[2015-01-23 13:18] cpuguy83 commented on #279
Yes, also, why no OSX build?  It works perfectly!

[2015-01-23 13:19] phemmer commented on #281
@david-guenault actually it won't. Swarm detects when nodes are down.

[2015-01-23 13:30] david-guenault commented on #280
@cpuguy83 why no need ? docker is agnostic of cluster behaviours. So the host membership need to be managed somewhere else. What i noticied using swarm join (and an etcd cluster discovery backend) is that it update every 25 seconds its entry in etcd. Why updating ? because there is a ttl and if we want to maintain the membership we must do it this way. When a docker host hang the ttl make desapear

[2015-01-23 13:38] david-guenault commented on #281
@phemmer realy ? last time i used this backend it was not working this way... gona give it a try. May be i missed something around there.

[2015-01-23 13:47] david-guenault commented on #281
@phemmer you were right (and i was wrong) swarm with this backend do alive checking for the members. Good ! So yeah it's a good use case. Great i learned another thing today ;-)

[2015-01-23 14:04] abronan commented on #280
@phemmer Good catch :+1: at the moment the documentation is unclear.

But what about the case where we'll need to create a Virtual Network between two containers on different hosts (to create links)?

Seems to me that for now (because we don't support links) only the manager needs to be able to reach agents but in the future, agents will need to be able to reach each other as well.

Looks like a d

[2015-01-23 18:41] aluzzardi commented on #284
Unfortunately, no. The node name is sourced from the docker daemon (`docker info`), and it currently outputs the hostname.

Changing that would require patching Docker itself.

[2015-01-23 18:41] #284 closed

[2015-01-23 18:45] aluzzardi commented on #281
@SvenDowideit You should be able to do two joins by specifying two different `--addr`

[2015-01-23 18:49] aluzzardi commented on #280
So, the problem is quite simple: We don't support "un-joining" yet :)

`join` and `healthcheck` do two different jobs:
1/ `join` stays alive in order to mark the membership of the node.
2/ `healthcheck` is used to detect **temporary** node failures.

Right now the two features overlap a bit. We are going to rework that soon enough in order to have a more robust health checking and discovery system

[2015-01-23 18:52] aluzzardi commented on #279
Indeed - but we figured it's much easier to add a platform rather than remove it.

Right now, swarm works great on OSX but we don't want to make that a constraint in the development. In the coming months we are going to add leader election and distributed storage which will require us to import huge third party libraries. They may work perfectly on OSX, but we don't want to take the chance right n

[2015-01-23 18:56] aluzzardi commented on #279
Regarding static compiling, true, we have to fix that.

Thanks!

[2015-01-23 19:00] #280 closed

[2015-01-23 19:01] aluzzardi commented on #204
Can we close this down?

[2015-01-23 19:09] vieux commented on #285
Hi @david-guenault,

You should be able to do `etcd://192.168.0.1,192.168.0.2,192.168.0.3/path` same as zookeeper.
Did you encounter an issue ?

[2015-01-23 19:20] vieux commented on #264
I think we should give it a try with git submodules.

@aluzzardi can you give it a try ?

[2015-01-23 19:27] vieux commented on #172
@SvenDowideit at the moment, is all TLS or no TLS, no mix. We don't want to introduce 8 flags for TLS in swarm, 4 is already enough :D

You have to generate the certs with `extendedKeyUsage = clientAuth,serverAuth`

@ehazlett can you confirm for machine ?

[2015-01-23 19:41] stevvooe commented on #264
@vieux @aluzzardi docker/distribution has adopted godep and its working pretty well. Note that I've filed tools/godep#172 to request that `godep` be updated to directly manage the ./vendor directory. That proposal would combine the best of vendor.sh and `godep save -r` (import rewriting). Please comment on that issue so it can get some visibility.

[2015-01-23 19:45] rgbkrk commented on #264
Egads. I think I used old VCS language there. I'm talking about not including the `_workspace` in git (explicitly part of the gitignore)

The nice benefit of dodeps is that users can get going without it. If someone wants the exact version being used on development, they can rely on godep and it will pull in the `_workspace`.

[2015-01-23 19:47] rgbkrk commented on #264
The reason why I *don't* want to see `_workspace` under version control is that it makes working through a PR **miserable**.

[2015-01-23 19:57] ehazlett commented on #172
Yeah after thinking about @cpuguy83 suggestion, I think this is the right way (single CA, single client, new hosts get new server certs).

I am working on this for Machine.

[2015-01-23 20:20] vieux commented on #264
if you don't version `_workspace` you can't go get / go build the project, right ?

[2015-01-23 20:21] vieux commented on #172
:+1:

[2015-01-23 21:44] rgbkrk commented on #264
Admittedly, I'm realizing that restoring locally in a development environment requires:

[code]

What we've been doing in a Dockerfile that adheres to what is in the Godeps.json is:

[code]

This does make me feel a little bit terrible in bike shedding and suggesting bucking the current practice from Godeps. Hopefully I'll still be welcome after this. :tongue:

/cc @smashwilson

[2015-01-23 21:59] aluzzardi commented on #172
:+1:

If you have a mix of CAs, you can still use TLS with no `--tls-verify`.

However, as soon as you want to verify the certs, we simply assume that a proper PKI is in place.

[2015-01-23 21:59] #172 closed

[2015-01-23 21:59] aluzzardi commented on #281
@SvenDowideit: Can you verify if that works, and if so, close this issue?

Thanks!

[2015-01-23 23:27] aluzzardi commented on #264
1/ Do not rewrite import statements.

This means that you can continue doing things the same way, in development go will pick up your local dependencies and you don't even need to be aware of godep.

To make sure dependencies are updated when needed, we would change `travis.yml` to run the tests using godep so that PRs introducing breaking changes will be stopped.

The only difference will be duri

[2015-01-24 00:12] stevvooe commented on #264
@aluzzardi Before, I was in the 1 camp before. After consideration, 2 is a much better option as it doesn't require casual users to pickup godep and makes the project trivially `go get`-able. Builds are faster and with rewrites, incantations of the godep tool are not required to manage builds.

@rgbkrk These benefits outweigh a little extra fat in code review that update dependencies. A little rev

[2015-01-24 00:13] aluzzardi opened #288 "Proposal: Labels and Swarm"
We've been waiting for labels for a long time and they might soon come with https://github.com/docker/docker/pull/9882

This will open a lot of possibilities for Swarm and will affect the way users interact with it, I thought we should start a conversation.

## Metadata Storage

Right now, we rely on environment variables to store things such as constraints.

This is great as it's a form of distri

[2015-01-24 05:46] chanwit commented on #288
+1

[2015-01-24 13:08] ssoto opened #293 "Ubuntu Trusty swarm installation script"
Hi guys,
I'm making an installation shellscript for Ubuntu Trusty to install docker + go + swarm:
https://github.com/ssoto/iso_scripts/blob/master/install-docker.sh

It is an alpha version but I am working to solve some issues.
I hope it is useful for you.

[2015-01-24 19:21] technolo-g commented on #272
@chanwit it looks to be fixed on your branch. Thank you!

[2015-01-24 19:21] thaJeztah commented on #288
+1 (exactly how I envisioned the labels to be used)

One nit, as it stands now, the same label can only be assigned *once*, so I think you have a typo in your first example;

    com.docker.swarm.constraint=<list of constraints the container has been scheduled with>
    com.docker.swarm.constraint=<list of affinities the container has been scheduled with>

[2015-01-24 19:43] technolo-g opened #295 "Should Consul discovery use the service discovery port at consul:8500?"
When using the Consul discovery mechanism it is required to run the Swarm daemon on the Docker hosts to connect to Consul, but it only puts the entry in once; nothing ever expires out of the list. Since we are running the daemon already, would it make more sense to use the services interface on Consul's port 8500 to dynamically maintain the list of servers? Or if not perhaps some expiration mechan

[2015-01-24 19:47] ankushagarwal opened #296 "TLS issue between Swarm and Docker nodes"
I am running boot2docker on OSX for testing swarm.

Ran the following on my OSX Terminal

1) swarm create

2) swarm join --hb 1 --addr=192.168.59.103:2376 token://TOKEN-ID-HERE

3) swarm manage -H tcp://0.0.0.0:4243 token://TOKEN-ID-HERE

I get this error :
[code]

I then add --tls option to swarm manage and I get :
[code]

My docker server inside boot2docker is running with the following options

[2015-01-25 01:23] mota opened #298 "Proposal: Affinity values as regexp patterns"
Currently, *affinity* values can be considered as either a regexp pattern if bounded by slashes, or a globbing pattern.
In the latter, any wildcard encountered is replaced by the regexp equivalent (".*") for a greedy match. Apart from this replacement, anything else in a value can be matched as a valid regexp special character, making the whole value a mere regexp pattern.

Furthermore, in the glo

[2015-01-25 03:39] mota commented on #298
After some research, there's a mismatch between `swarm.scheduler.filter.constraint_test` and the README.

The tests clearly reject a constraint in the form `constraint:region==us` to match the set {us-west, us-east}.
However, in the README's examples, an affinity with the form `affinity:image==redis` is supposed, I presume, match the **redis:lastest** image.

Secondly, the code currently used to p

[2015-01-25 05:29] vieux commented on #298
I opened a PR to fix the `redis:lastest` issue.

But I don't get the rest of your argument.
I like to do `region==us*` (personally I'll never use regexp) I don't want to do `region==^us.*$`

[2015-01-25 11:44] chanwit commented on #298
Removal slashes causes will make things more confused.
It's ugly to control exact matches, e.g., you have to always specify `name==^node1$` for an exact match. And `name==node1` will become partially matching, say `abcnode1abc` will be also matched.

[2015-01-25 15:39] cpuguy83 commented on #296
@ankushagarwal This is because your boot2docker daemon is doing tls with client authentication.
This means that swarm needs to be started with with a tls client cert signed by the same CA as the boot2docker daemon's cert.

Work is being done on docker/machine to make this integration simpler.

[2015-01-25 15:42] mota commented on #298
Yes, you're right. Victor's PR resolves the affinity behavior pretty neatly though.

[2015-01-26 17:14] analytically commented on #251
+1

[2015-01-26 19:38] vieux commented on #285
@david-guenault I'll close this one, comment if you still have an issue.

[2015-01-26 19:38] #285 closed

[2015-01-26 19:39] vieux commented on #295
@technolo-g I'm not familiar with consul enough, can you try to reword your question ?

Thanks.

[2015-01-26 19:44] #298 closed

[2015-01-26 19:57] david-guenault commented on #285
sorry was out ;-)
i gona test soon and give you feedback asap

[2015-01-26 20:01] aluzzardi commented on #288
@thaJeztah: Indeed, I don't know yet if labels will support multi values. If not, I think we could simply serialize them (using `:` for instance, like `$PATH`). Did you envision this differently?

[2015-01-26 20:02] aluzzardi commented on #288
/cc @aanand @bfirsh

[2015-01-26 20:02] aluzzardi commented on #281
Closing for now - please re-open if needed.

[2015-01-26 20:02] #281 closed

[2015-01-26 20:04] aluzzardi commented on #264
@stevvooe I'm still in between 1 and 2. 1 doesn't require users to know about godep at all - it's the regular Go workflow (`go get -u`, etc), so it seems much more lightweight, especially if we don't commit `_workspace`.

I could lean either way.

@vieux: Thoughts?

[2015-01-26 20:23] vieux commented on #264
I like 1 + commiting `_workspace`,  because I don't want to use godep :P

[2015-01-26 20:27] rgbkrk commented on #264
I would find 2 beyond awkward.

The `_workspace` bit is tangential to choice of 1 or 2. You're using `godep` if you're using the `_workspace`. This is still your repo and I'm just a user at this point.

[2015-01-26 20:46] thaJeztah commented on #288
Multiple values was *originally* in the proposal, but later removed, to keep things simple; allowing multiple values would also raise questions, such as; when should an existing label be *overwritten* when should it be *appended*, how to remove single value from the list of labels, etc.

(I realise some of those points are not relevant *directly* now, because labels will be immutable in the first

[2015-01-26 21:11] aluzzardi commented on #288
Thanks @thaJeztah, this is useful!

The part where it gets complicated is that since we use expressions, key/values won't be enough as we need to encode the operator (`==`, `!=`, etc) as well.

We could either serialize that in json or use a separator such as:

`com.docker.swarm.constrant=foo==bar:hello!=world`

I really like the third option, but `com.docker.swarm.constrant.hello=!=world` is real

[2015-01-26 21:52] thaJeztah commented on #288
Ah, yes, I completely overlooked that in my thinking. The *node* holds the value, the container the expression/conditions. Hmmm. I'll start thinking out loud again, but will come back after some more thinking :)

Basically, what's needed is a clean way to store "queries". Performance is probably not a key factor here, because each constraint/condition has to be analysed anyway, and only would be d

[2015-01-26 22:07] aluzzardi commented on #296
@ankushagarwal As @cpuguy83 says, it's because boot2docker is using TLS.

You either have to enable TLS in Swarm (which requires using `--tlscert` and `--tlskey`), or you have to disable TLS in boot2docker.

[2015-01-26 22:49] ankushagarwal commented on #296
@aluzzardi :
I tried this
[code]

and I get the output

[code]

I downloaded the latest swarm just before testing this. Commit id : ffe2800

[2015-01-27 01:12] aluzzardi commented on #296
You need to provide either `--tls` or `--tlsverify` in addition to the other flags.

The above commit will make swarm abort if you don't, thanks for catching this.

[2015-01-27 01:23] tianon commented on #264
FWIW, I hate Godeps personally, but if you go that route, I'm 100% +1 on checking in `_workspace` since I don't want to use `godeps` at all, like @vieux (but also don't want to `go get`, so Godeps is a nice compromise IMO if you guys aren't turned off by the way it manages the deps for you). :smile:

[2015-01-27 01:27] bfirsh commented on #264
Godeps has worked really well for us on Machine. Also our really lightweight Docker-based build and release scripts:

https://github.com/docker/machine/blob/master/script/build
https://github.com/docker/machine/blob/master/script/release

[2015-01-27 01:44] aluzzardi commented on #264
@tianon @bfirsh How about the rewriting the import statements?

Basically,
1/ If you let godep rewrite the import statements, all the imports will look like `github.com/docker/swarm/Godep/_workspace/github.com/...`.

This mean that your import statements look disgusting, BUT you, the users and other automated tools don't need to change `GOPATH` at all (and you don't need to do `godep go <command>`

[2015-01-27 01:46] #296 closed

[2015-01-27 01:49] bfirsh commented on #192
Yes! [Cloudinit is going to be used for Machine](https://github.com/docker/machine/issues/124), so this would be a great way to set up Machines with Swarm installed.

[2015-01-27 01:51] tianon commented on #264
I'm +1 on not rewriting imports, especially since it makes testing new versions as easy as updating your personal `GOPATH` and not worrying about Godeps until/unless necessary (but of course this makes Travis testing using the Godeps even more important because less developers are likely to be doing so).

[2015-01-27 01:51] pdericson opened #311 "Swarm over ssl not working?"
I am having trouble getting swarm working and I'm wondering if I'm doing something obviously wrong.

My error message is:

My steps to reproduce are:

1. Use docker-machine RC1 to create a docker host on digitalocean (docker-1)
2. as `machine ssh docker-1`:

    ```swarm join --addr xx.yy.zz.252:2376 --discovery token://<token>```

3. as `machine ssh docker-1` (same host as step 2):

    ```swarm

[2015-01-27 05:08] SvenDowideit commented on #311
As far as i understand it, swarm's TLS support requires all host's certificates to be signed using the same `ca.cert`, which is not how boot2docker (and i'm not sure about the DO machine implementation) works.

[2015-01-27 10:19] avaer opened #313 "Incorrect http status in non-proxy cases"
Re #191, it doesn't look like all cases are fixed since not everything goes through ```proxyContainer```.

In particular I see:

    POST /containers/create
    DELETE /containers/create

do not return the proper success status, which is not ```200```.

[2015-01-27 13:33] cpuguy83 commented on #311
Yes, the way docker-machine is creating certs (up to and including the RC) is not compatible with what swarm needs (for --tlsverify)
docker-machine master has changed how it generates TLS certs so that you can (more) easily add any machine created by docker-machine to a swarm cluster (assuming swarmd was started with a keypair signed by that CA as well)

On the docker-machine RC, each new machine

[2015-01-27 18:19] bryantidd commented on #197
what is the priority and timeline on node removal - housekeeping? It seems that this is integral to using Swarm. Otherwise it presents only a half solution for Docker cluster management. Would be happy to help test.

[2015-01-27 20:29] #272 closed

[2015-01-27 20:56] aluzzardi commented on #311
Yes, what @cpuguy83 said.

@pdericson There should be a few self explaining messages in the swarm logs about not being able to communicate with the nodes.

Can you confirm?

[2015-01-27 22:24] vieux commented on #313
You are right, those are one of the few call that we don't proxy, we are doing them in swarm internally.

I'll push a fix

[2015-01-27 22:37] #313 closed

[2015-01-28 00:36] pdericson commented on #311
Hmmm

Using docker-machine built from c209704

machine create -d digitalocean docker-1

machine ssh docker-1

[code]

machine ssh docker-1

[code]

Do I need to to build swarm master as well?

Really appreciate the help everyone

[2015-01-28 02:08] #264 closed

[2015-01-28 02:23] aluzzardi commented on #311
/cc @ehazlett

[2015-01-28 02:39] ehazlett commented on #311
This is because currently machine does not generate the proper extended usage in the certificate.  I have a branch "swarm" on my fork that does this and will be merged soon.

[2015-01-28 05:38] aluzzardi commented on #311
Thanks @ehazlett. I'm closing this down since it's not swarm related.

@pdericson: Please re-open if the problem is not fixed once @ehazlett's branch gets merged into machine.

[2015-01-28 05:38] #311 closed

[2015-01-28 05:40] ehazlett commented on #311
yw

On Wed, Jan 28, 2015 at 12:38 AM, Andrea Luzzardi <notifications@github.com>
wrote:

[2015-01-28 06:06] aluzzardi opened #321 "go run *.go doesn't work anymore"
This is a minor inconvenience caused by `join_test.go`:

[code]

Feel free to close this, just wanted to know if there was an easy fix we could do.

[2015-01-28 06:55] mountkin commented on #197
The node list is synced from discovery services periodically.
If we simply remove it from swarm's cached node list, it'll be added again when the next ```UpdateNodes``` is triggered by discovery service.

I think the problem can be solved in two ways:

1. Add a new member to the ```Cluster``` struct to keep all the nodes that had been "removed". And modify the ```UpdateNodes``` function to exclude

[2015-01-28 07:52] resouer opened #323 "Swarm can not unregister node manually"
Currently, we can not unregister or remove a node from a cluster. Although filter will make sure unhealthy node will not be served, but we really need to remove some nodes, for example it has failed or been destroyed. There's also complain from group.

So I think we should have this function in swarm. But that requires refactor of discovery interface.
I'm happy to give this a shot if this makes se

[2015-01-28 20:07] bryantidd opened #325 "Scheduler health filter issue? or manage?"
I join servers a, b, and c to Swarm cluster with Consul discovery at path A
I start a manage session from server d.
I terminate the joined servers and remove the key values from Consul leaving path A
I join a new server e to the same path A in Consul
I list server e correctly from server d.
I attempt a Docker run command from server d and receive:
Error response from daemon: No healthy node availa

[2015-01-28 20:13] aluzzardi opened #326 "panic when pulling images"
[code]

The offender seems to be:
[code]

`e.Id` in this case was `redis`, resulting in out of bound panic.

[2015-01-28 20:29] aluzzardi commented on #326
This was the offender:

[code]

[2015-01-28 23:30] vieux commented on #321
I don't think there is anything we ca go about it

[2015-01-28 23:31] #321 closed

[2015-01-28 23:32] vieux commented on #326
fixed by #328

[2015-01-29 15:15] resouer commented on #325
The same issue https://github.com/docker/swarm/issues/323 I'm trying to address this.

[2015-01-29 19:39] #326 closed

[2015-01-29 22:18] aluzzardi commented on #325
Duplicate of https://github.com/docker/swarm/issues/197

It's going to be a priority soon for us.

[2015-01-29 22:18] #325 closed

[2015-01-29 22:18] aluzzardi commented on #323
Duplicate of https://github.com/docker/swarm/issues/197

It's going to be a priority soon for us.

[2015-01-29 22:18] #323 closed

[2015-01-30 02:41] SvenDowideit opened #331 "swarm -v needs a git hash"
right now, I can't ask a user what version of swarm they have, and have any idea if its 0.1.0rc1 rc2, or a custom build?

(or worse, the real 0.1.0 release)

[2015-01-30 02:53] SvenDowideit opened #332 "what is my token?"
I made a discovery token last week - how do i find out what it was so I can use swarm again?

[2015-01-30 04:35] SvenDowideit commented on #279
I can confirm that 0.1.0rc2 i386 build works on boot2docker, and that you can

[code]

[2015-01-30 04:35] #279 closed

[2015-01-30 05:31] SvenDowideit commented on #332
From what I understand, I need to keep it - I'll add that to the docs

[2015-01-30 05:31] #332 closed

[2015-01-30 05:51] SvenDowideit opened #333 "swarm join --addr=192.168.59.104:2375 token:// doesn't error out"
If i understand correctly, the join cmd should error.

[code]

[2015-01-30 06:00] SvenDowideit opened #334 "need a `swarm info <discovery>`"
is there already a way to find out the IP and port of the manager?

[2015-01-30 07:11] david-guenault commented on #293
seems nice except one thing, why don't running swarm inside a container ?

[2015-01-30 07:24] sourav82 opened #335 "Anything for container monitoring for swarm cluster?"
I've created a docker swarm cluster using two nodes and containers are created amongst them. I would like to know if there is any tool like cAdvisor/heapster for container monitoring across swarm cluster?

[2015-01-30 08:01] ssoto commented on #293
First of all, thanks for your feedback.

I tested swarm outside a cointainer, must it be runed inside?

[2015-01-30 08:11] david-guenault commented on #293
must ? no, but it's better to do it this way, so you can boostrap your docker hosts remotely. Use the Dockerfile provided in github repo. My philosophy is if it can run as a containe do it ! :-)

[2015-01-30 08:18] ssoto commented on #293
First time I tested swarm I thought, why don't dockerice that? But then I think about c_groups privileges and other system security. Some special cofinguration to run swarm inside docker is need?

[2015-01-30 08:59] david-guenault commented on #293
nop swarm does not need to access cgroup (as far as i know), just have to connect to docker daemon through tcp.

[2015-01-30 09:36] chanwit opened #336 "Docker client via Swarm hangs for the first pull"
To reproduce, we need to prepare a **clean** 3-node cluster.
Then just `docker run`  via Swarm for a large image. Docker client will hang. I am quite sure it's waiting for Swarm to do image pulling. But an info message is not shown in Swarm.

Docker client without Swarm, of course, pull and run the image correctly.

However, after got the image pulled to every Docker instance, Docker client via Sw

[2015-01-30 17:12] vieux commented on #334
No, for now the manager isn't part of the discovery.

It's the same as the docker daemon, there is no way to "find out" it's IP and port.

[2015-01-30 17:23] vieux commented on #336
You are right, we need to add some debug, the not hanging, swarm is pulling the image ans there is no output.

Unlike the regular docker workflow, where docker is pulling the image where docker run returns a 404, it's swarm that is puling the image.

[2015-01-30 19:10] aluzzardi commented on #293
We are actually working on making swarm an official docker image: https://github.com/docker-library/official-images/pull/440

This is the way we are planning to distribute it: `docker run swarm`.

Thanks for the contribution, @ssoto, however we'd really like to containerize swarm.

[2015-01-30 19:10] #293 closed

[2015-01-30 20:00] vieux commented on #335
Note that I know of, but, as Swarm uses the same API as docker and docker 1.5 will add a stats command, any tool that will be built for Docker monitoring will work for Swarm.

See for example: https://github.com/icecrime/docker-mon for a POC (do not use in production)

[2015-01-30 20:49] ssoto commented on #293
Then I will use it! Thank you so much!

[2015-01-30 23:18] #333 closed

[2015-01-31 02:37] chanwit commented on #336
Sorry for calling this hang. It's just from a user's point of view. This bug would be a show stopper when someone's trying to use Swarm from scratch.

[2015-01-31 08:51] david-guenault opened #341 "Swarm with tls"
May be i'm doing things wrong but here is my problem

I have built 3 docker nodes with tls client auth. I can remotly access each node. Now i want to manage the nodes trough swarm (with tls). Here is my problem

say i'm on node3 and i remotely execute docker command on node1 it work fine

[code]

But when i want to use swarm everything goes wrong for me

[code]

the discovery file is :

[code]

No

[2015-02-01 02:02] ddysher commented on #296
Is this working now?  I got another tls error here.

1) create two machines using docker-machine
[code]

2) Created cluster and registered the two machines.
[code]

3) Start swarm manage:
[code]

No error from this command, but when I try to run a container, I got the following error from docker cli:
[code]
and the following error from swarm manage console.
[code]

[2015-02-01 02:10] jhamrick opened #342 "Leaking file descriptors"
It seems as though swarm is leaking file descriptors. Earlier today, I started seeing a bunch of errors like this in the swarm log:

[code]

I only had about 80 containers running, but checking `lsof` revealed that the swarm process had 1035 file descriptors open (which is above the current limit of 1024). It would appear that whenever I stop or start a container, swarm opens a new fd, and then ne

[2015-02-01 02:12] ankushagarwal commented on #296
What are your DOCKER_* environment variables?
ᐧ

On Sat, Jan 31, 2015 at 6:02 PM, Deyuan Deng <notifications@github.com>
wrote:

--
Ankush Agarwal
http://ankush.io
@ankushio <https://twitter.com/ankushio>

*There are 10 types of people in this world. Those who understand binary
and those who don't.*

[2015-02-01 02:20] ddysher commented on #296
You mean local machine?  I don't have any DOCKER_* environment var.

[2015-02-01 02:25] ankushagarwal commented on #296
1) Yes on the machine on which you ran the docker run command. Make sure that you have nothing when you run `env | grep DOCKER`
2) Also, in the error message, why does it say port 38330?

[2015-02-01 03:22] ddysher commented on #296
oops, I should connect to swarm manager using tls too..
[code]
That explains 38330, it's just a random port opened by docker cli to connect to swarm.

Thanks @ankushagarwal

[2015-02-01 23:50] jhamrick commented on #341
I ran into this same issue a while back. Swarm wants to connect via the ip address, but the certificates you've generated are only for the domain. You'll need to regenerate the certificates so that they have the IP address in the subjAltName. See this guide for how to do this: http://apetec.com/support/GenerateSAN-CSR.htm

[2015-02-02 02:58] anarcher opened #346 "[Question] How do I use or configure `swarm manage` in multi-region?"
According to the README.md, if I were right, `swarm manage` should be able to be used in other networks which is not the same as the network of `swarm join`.

    # on each of your nodes, start the swarm agent
    # <node_ip> doesn't have to be public (eg. 192.168.0.X),
    #  as long as the other nodes can reach it, it is fine.
    $ swarm join --addr=<node_ip:2375> token://<cluster_id>

    # st

[2015-02-02 05:59] david-guenault commented on #341
oh thx ! if it work, you save my day !

[2015-02-02 08:35] ssoto commented on #346
I have the same question related with the `swarm manage`and its requirements.

[2015-02-02 08:43] david-guenault commented on #341
well it's a little bit more complicated than i thought ... need to rewrite everything in my procedure. What i don't get is why docker client => docker daemon work like a charm and not swarm manage => docker daemon don't. Seems that swarm is not doing client/server communication the same way that docker client does ... @vieux what do you think ?

[2015-02-02 10:40] EmileVauge commented on #341
Same here. Unfortunately, it prevents from using swarm with docker machine :(

[2015-02-02 11:30] david-guenault commented on #341
if you follow the documentation (strict) it work between docker client and docker daemon, but if you follow the swarm documentation, it does not work at all. This is a major issue for those who want to use docker clusters in production (in the future). I'm curently digging in the openssl documentation about using SAN certificates but i'm a real noob on this subject so help will be really apreciate

[2015-02-02 17:59] vieux commented on #341
@david-guenault swarm act as client AND deamon, so the tls certs need to be configured to work in both ways.

It is definitely an issue with the documentation because it working ok on our side.

@EmileVauge docker machine should work with swarm, @ehazlett can you tell us more?

[2015-02-02 18:36] vieux commented on #346
@anarcher @ssoto you are both right, we updated it in the `userguide`, but we forgot in the `README.mds`

You should read

[code]

I'll make a PR asap.

[2015-02-02 18:39] vieux commented on #336
@chanwit I agree, but I don't see an easy way to fix it. I'll make a PR to add daemon side logging.
but besides this, I don't know how to fix it.

Ultimately, we should let the client pull it would solve many issues, but that's not easy.

[2015-02-02 18:49] ehazlett commented on #341
In machine (not yet merged; see https://github.com/docker/machine/pull/464) we use `ExtKeyUsageClientAuth` and `ExtKeyUsageServerAuth` when generating the certs.  We also pass the IPAddress of the machine as an IP SAN.

[2015-02-02 19:08] david-guenault commented on #341
@vieux yeah i know about the client AND daemon this is why the certificate is generated with  extendedKeyUsage = clientAuth,serverAuth

- testing the swarm cert against server cert with openssl s_client / s_server give a good result.
- testing the client cert against the swarm cert (remember both client/server) with openssl s_client / s_server give also a good result.
- testing client cert against

[2015-02-02 19:10] jhamrick commented on #341
If it helps, here's a bash script and corresponding ssl config file you can use to create the certificates with an IP SAN: https://gist.github.com/jhamrick/ac0404839b5c7dab24b5

[2015-02-02 19:15] david-guenault commented on #341
@jhamrick thx i'll give it a try but seems to work the same way i do it already here

[2015-02-02 19:41] david-guenault commented on #341
@jhamrick work well but (there is always a but) you use the same certificate for all of the usages (server, client, swarm) ? what i tried was to use specialized certificates. Anyway it's a good place to start.

btw i replaced random by urandom in the script

[2015-02-02 19:49] jhamrick commented on #341
I had one certificate authority, but created separate certificates for each machine. The docker instance on the machine that has swarm doesn't actually use TLS, but swarm does use TLS with its own certificate, and then each of the nodes in the cluster have their own certificates as well.

Probably fine to use /dev/urandom for testing, but you should probably use /dev/random for deployment because

[2015-02-02 20:04] EmileVauge commented on #341
Thanks @ehazlett! It would be great to be able to test it in the next rc :)

[2015-02-02 20:08] david-guenault commented on #341
@jhamrick yup /dev/random is better but for my testing purpose it is fastest with urandom

[2015-02-02 20:11] rgbkrk commented on #341
It's faster because `/dev/random` blocks waiting for its entropy pool to fill. `/dev/urandom` gives out random like AOL gave out CDs in the 90s.

[2015-02-02 20:18] david-guenault commented on #341
@rgbkrk yes i totaly agree with that. The fact is that it is only for test purpose so no need to worry about entropy ;-)

[2015-02-02 20:24] ehazlett commented on #341
@jhamrick +1 for the certgen

[2015-02-02 20:33] david-guenault commented on #341
@vieux may be it would be valuable to add @jhamrick script to the official documentation (or at least a reference to it)

[2015-02-02 20:44] rgbkrk commented on #341
We've actually been talking about wrapping that same script (at least the origination of it) in a Docker container in https://github.com/cloudpipe/cloudpipe/issues/50. Would you all be interested in something like that, under docker or... somewhere?

[2015-02-02 20:54] jhamrick commented on #341
@rgbkrk That would be awesome! Definite :+1: from me.

[2015-02-02 21:35] #346 closed

[2015-02-02 22:31] smashwilson commented on #341
:metal:

I've been meaning to extract that to its own repo and auto-build a container from it. We already need it in two places in the cloudpipe org, so having it as a standalone container that can be used independently would be helpful for us, too.

Somewhat ironically, it was written more or less directly from the instructions in the [Docker docs](https://docs.docker.com/articles/https/).

@jham

[2015-02-02 22:34] jhamrick commented on #341
@smashwilson Sure thing, thanks!

[2015-02-02 22:36] david-guenault commented on #341
Ok, tested with specialized certificates (server, client and client/servber) and everything is working like a charm. I close this one

[2015-02-02 22:36] #341 closed

[2015-02-03 00:15] ctarwater opened #351 ""discovery service not supported" swarm join --discovery=token://"
Trying to join a swarm by using token discovery doesn't seem to work. I have generated a swarm cluster id with `swarm generate` but when attempting to run `swarm join discovery=<cluster_id>` I always get the error that "discovery service not supported".

Also, running discovery according to the docs doesn't work if you run `--discovery=` - you have to just run `discovery=` without the `--`

[2015-02-03 01:59] #331 closed

[2015-02-03 02:11] aluzzardi commented on #351
Thanks for reporting this - it's actually just a bug in the documentation.

Please use `token://<cluster_id>` instead of `--discovery`

[2015-02-03 02:18] #351 closed

[2015-02-03 08:08] pdericson commented on #311
Working in https://github.com/ehazlett/machine/tree/swarm :)  thanks

[2015-02-03 08:20] pdericson commented on #272
@ehazlett is have noticed the same behaviour in your machine swarm branch - "-p 80" NG, "-P" OK - I'm assuming your swarm image contains swarm rc1 binaries?

[2015-02-03 09:33] chanwit commented on #272
This bug's fixed since rc2. Please give it a try @pdericson @ehazlett

[2015-02-03 15:22] kevinsimper opened #359 "swarm_ip"
In the readme it says <swarm_ip>, but that it not clear enough, which ip is that?

Is <swarm_ip> the ip of where the swarm manager is running? :)

[2015-02-03 19:13] ctarwater commented on #351
That did it - thanks for the quick update.

[2015-02-03 19:26] david-guenault opened #360 "etcd discovery backend SSLTLS client"
Hi, just a little question, is it planned to make etcd discovery backend compatible with SSL/TLS ? Curently only simple http client is supported on etcd discovery backend but go-etcd provide both Client and TLSClient clients. I'm not a go developer so seems to be hard to do it by myself, but if you are all overloaded it's a good way to start learning a new language :-)

[2015-02-03 19:32] vieux commented on #359
Yes, it's the ip/port you listen on with `swarm manage -H tcp://<swarm_ip:swarm_port>`

[2015-02-03 19:32] #359 closed

[2015-02-03 19:34] vieux commented on #360
It is not currently in our roadmap, but it would be a nice feature to have.

[2015-02-03 19:38] #204 closed

[2015-02-03 21:21] smashwilson commented on #341
The independent repo is here: https://github.com/cloudpipe/keymaster

And the container is built here: https://registry.hub.docker.com/u/cloudpipe/keymaster/

Interestingly, reading from `/dev/random` inside a container blocks indefinitely, as far as I can tell -- even when I mapped it with `--device`. Maybe it's still mapping the device from the boot2docker VM, which is also low on entropy? For k

[2015-02-04 02:13] ctarwater opened #362 "ID duplicated - Node was already added to the cluster"
Trying to launch a container into my swarm gives me the following error:

`ID duplicated. HAAX:6AZ2:5ISX:5XRJ:WDUL:LXXO:OUXD:2WJF:NBAG:ONYR:6SY4:47QP shared by xxx.30.1.xx2 and xxx.30.1.xx1`

I have my Swarm Host and two separate ec2 instances as my swarm nodes. I create my swarm, add each node to the swarm, and then start `swarm -debug manage token://<cluster_id> --host=0.0.0.0:2375` on my host.

[2015-02-04 02:26] aluzzardi commented on #362
Did you clone the instances by any chance?

That ID is generated the first time the Docker daemon is launched.

The fix is to remove `~/.docker/key.json` and let Docker re-generate the ID.

[2015-02-04 02:26] #362 closed

[2015-02-04 02:27] #335 closed

[2015-02-04 02:33] ctarwater commented on #362
That was the issue, thanks for the clarification.

[2015-02-04 17:09] davelester commented on #214
Since multiple Mesos schedulers (including Marathon, Aurora, and Singularity) can now schedule Docker containers, would it be possible for Swarm to offer a simple integration point with those instead creating a new framework? It's unclear to me why you'd want to create a new framework for this when there are already several options.

[2015-02-04 17:20] vieux commented on #214
Is there a way something generic ? To my knowledge, it's not possible, as they all have a different way to communicate (proprietary API / CLI)

Our plan was to do a Scheduler API + implement simple Swarm framework, after, is the Aurora team wants to build and support the Swarm's "aurora backend" that would be great.

[2015-02-04 19:43] ctarwater opened #363 "Constraint filter - unable to find a node that satisfies storage==ssd"
Playing with filters and I keep getting the error that `Error response from daemon: unable to find a node that satisfies storage==ssd`

If I'm reading it right, it's adding the second '=' sign when trying to match. The actual tag shows up correctly in `docker info` as storage=ssd.

[2015-02-04 20:19] vieux commented on #363
The `==` is expected. In `docker info` there is only one `=` because is it the format `key=value`.

In the contraints it's an expression `==` or `!=`

Can you paste us what docker run you are using ?

[2015-02-04 20:31] ctarwater commented on #363
Sure.

`docker -H <ip>:2375 run -d -P -e constraint:storage==ssd blackfinsecurity/tha-kali`

[2015-02-04 20:43] vieux commented on #363
What's your docker versions, locally and on your nodes ?

[2015-02-04 21:16] aluzzardi commented on #341
@jhamrick This should fix the issue of IPs and TLS you mentioned.

[2015-02-04 21:36] ctarwater commented on #363
Version 1.4.1 on everything

[2015-02-04 22:23] ctarwater commented on #363
Ok, nevermind.

I was using different tags and they all work unless you try to assign a tag `node=foo`. Sorry for the bother.

[2015-02-04 22:23] #363 closed

[2015-02-04 22:46] tnachen commented on #214
Hi Dave, I think the current swarm architecture is easier to integrate via it's own framework than calling other mesos meta framework as it is growing its feature set assuming communication directly to docker daemons instead using d

[2015-02-04 22:49] tnachen commented on #214
(Oops fat fingered on my phone!)

Hi Dave, I think the current swarm architecture is easier to integrate via it's own framework than calling other mesos meta framework as it is growing its feature set assuming communication directly to docker daemons instead using docker containerizer.

IMO as swarm is changinv rapidly and being designed along the way, it's easier to write it's own framework for n

[2015-02-05 00:45] jhamrick commented on #341
@aluzzardi Sweet, thanks!

[2015-02-05 20:27] aanand commented on #251
Is co-scheduling based on links/volumes-from/net an easy fix to sneak in for 0.1.0? It'd be really cool from Compose's point of view.

[2015-02-06 03:15] jhamrick commented on #342
I'm not sure if this is fixed, unfortunately, as descriptors still seem to be counting up when containers are run and stopped:

[code]

The full output of `lsof` shows that the connections are still in the `ESTABLISHED` state:

[code]

[2015-02-06 04:52] vieux commented on #342
thanks @jhamrick we'll investigate more.

[2015-02-06 04:55] noodlehaus opened #371 "Please use `uname -s`-`uname -m` as suffix for the binary releases"
This would make it easier to embed the download links in provisioning scripts.

Example:
[code]

[2015-02-06 06:51] Tebro commented on #251
@aanand +1

[2015-02-06 07:53] david-guenault opened #372 "[ENH] consul discovery backend, add support for multiple consul nodes"
With a consul "cluster" we do not know at join time which of the consul nodes are healthy. Should it be possible to specify more than one consul ip address so when joining it take the first available and healthy node ?

[2015-02-06 07:58] david-guenault opened #373 "[DEPRECATION WARNING] consul discovery"
consul-discovery is deprecated since Jan 7, 2015 in favor of the api package

- https://github.com/armon/consul-api/blob/master/README.md
- https://github.com/hashicorp/consul/tree/master/api

[2015-02-06 08:03] david-guenault commented on #372
Also should it be possible for the consul discovery to retrieve the consul members list so if a consul node fail the agent is able to connect to the next available node ?

[2015-02-06 10:36] blackrosezy commented on #341
@aluzzardi So with the new fix, we no longer have to generate certificate with IP SANs? I am a bit confuse here.

[2015-02-06 19:34] ahromis opened #374 "Auth Support"
I haven't been able to get swarm to work with a registry that requires authentication.  I logged in from each node, and from swarm itself but it keeps telling me image not found.  I can docker pull from each node individually and then launch them via swarm.  It also works fine with public images.

It might just not be implemented yet.  Are there plans to have auth support in the near future?  Than

[2015-02-06 21:18] vieux commented on #372
@david-guenault you can do `consul://1.1.1.1,2.2.2.2,3.3.3.3/path`

[2015-02-06 22:44] aluzzardi commented on #371
Hey @noodlehaus, we are actually planning to stop distributing binaries and instead rely on the docker image (docker run swarm).

Thoughts on that?

[2015-02-06 22:47] aluzzardi commented on #251
@aanand Technically we are in a code freeze so no.

In reality, I might try to sneak it in :)

But no guarantees.

[2015-02-06 22:50] aanand commented on #251
![mgs_3_sub_12-sneakingmissioncopy](https://cloud.githubusercontent.com/assets/1062/6088815/88665e28-ae28-11e4-8224-c3ede5aa429e.jpg)

[2015-02-06 22:54] aluzzardi opened #376 "Swarm needs integration tests"
Right now, we only rely on unit tests to ensure everything is working properly but that's not enough.

For instance, TLS was recently broken (https://github.com/docker/swarm/issues/341) and we didn't notice until a user reported the issue.

Integrations test should set up a real cluster of engines and daemons and test things such as:
- TLS/PKI (`swarm<->node` and `cli<->swarm`)
- End-to-end featur

[2015-02-07 04:05] jmmills opened #377 "Architectural question regarding high availability with swarm manager"
Just got done watching the keynote from Dockercon 2014, and started playing with swarm. I'm already finding it helpful for experimenting with multi-node environments (maybe vm's created with docker-machine should have the ability to run the swarm agent as well?), but I have a few questions about how it works behind the scenes.

If there is a one to one relationship with a docker service (node) and

[2015-02-07 04:08] jmmills opened #378 "Would people find a Hiera discovery backend useful?"
My employer will be rolling puppet for managing all of various systems in the near future, so we will be deploying Hiera, rather than adding yet another service in to the environment I was thinking that it might be useful to use it as a discovery backend for swarm.
Anyone else think this would be useful?

I'm a go beginner, but I'd be willing to give it a shot.

[2015-02-07 06:29] abronan commented on #377
Hey @jmmills!

You are right! This falls under the failure recovery and availability of the Swarm Manager service.

As you may already know, the Swarm Manager just proxies API requests to Swarm Agents after taking scheduling decisions and **keeps local informations** about the cluster in a persistent Key/Value store. This persistent Key/Value store acts as the minimum required feature for the fail

[2015-02-07 08:23] david-guenault commented on #377
@abronan are you sure that it is working like you said ?
```the Swarm Manager just proxies API requests to Swarm Agents```
I thought that the Manager proxies API requests to docker daemons taking cluster membership from the discovery backend and does a health check of each of the docker nodes.

[2015-02-07 08:50] abronan commented on #377
@david-guenault You said it better than I did, I just took a huge shortcut in my explanation to go straight to the shared state part :)

[2015-02-07 09:08] david-guenault commented on #372
@vieux i'm not sure about that. First because it throw me an error and then because reading the consul backend code i do not see any mention of a split addr allowing to try multiple nodes (like etcd or zookeeper does).

Here is an exemple (i have a three node running consul cluster)

[code]

I then launch swarm join on one node with the syntax you are giving (consul://ip1,ip2/path)

[code]

The pu

[2015-02-07 15:37] chanwit commented on #376
Boot2docker does not seem to be a choice then.

[2015-02-07 18:00] david-guenault commented on #372
Just finished to test and started some code to add support for multi consul node support ...

[2015-02-08 05:46] noodlehaus commented on #371
hi @aluzzardi. i see. will swarm be made part of the docker executable as another action? `docker swarm ...`? we're hoping for the same thing with `docker machine` and `docker compose`.

[2015-02-08 09:24] mota commented on #371
Hi @noodlehaus. I don't have the definitive answer but I think it is unlikely since tools such as swarm or machine are proposed as "batteries included but removable". They are meant to interact with the Docker API instead of being part of it.

[2015-02-09 01:47] noodlehaus commented on #371
I see. Ok, thanks for the response :) Closing this.

[2015-02-09 01:47] #371 closed

[2015-02-09 15:03] chanwit commented on #378
@jmmills I am doing a PR (#347) to propose a plugin system for Swarm.
With this kind of architecture, we can have a discovery service as a separated module.

[2015-02-09 20:18] david-guenault commented on #377
@abronan ok ;-).

[2015-02-09 22:19] vieux commented on #342
@jhamrick I cannot reproduce, what binary are you using ? build statically or not ?

[2015-02-09 22:29] vieux commented on #342
Apparently it's related to ssl, can you try without and tell me if you have the same issue

[2015-02-09 22:42] bryantidd opened #380 "Swarm Manager errors seen"
I'm seeing errors like the following when I join 3 nodes to a consul backend, start a manage process on that cluster (separate machine), remove those nodes from consul (via my own script because there is no leave or housekeeping), join 3 new nodes with the same path in consul backend, stop the manage process , start the manage process again.
ERRO[1061] ID duplicated. BLRC:LDFG:NT7R:ATNF:DHI7:TNPB:

[2015-02-09 23:09] vieux commented on #373
@JeffChien as you wrote the 1st version of the consul discovery backend, do you have time to take care of this ?

Thanks

[2015-02-09 23:11] vieux commented on #374
Hi @ahromis yes, we have plan to do it, currently it's unsupported because, swarm is actually pulling the images instead of letting the client pull.

This should be solved in #349

Cheers.

[2015-02-09 23:16] vieux commented on #378
@jmmills would you be around to support it after it's merged ?

[2015-02-09 23:20] vieux commented on #380
The `docker ID` is generated by docker the 1st you launch the daemon.

Here 2 machines have the same ID. It is likely because you installed docker on a VM -> the install start the daemon -> generated an `ID` and then you make copies of the VM.

So all of your machines have the same ID.

You need to remvove `~/.docker/key.json` or `/root/.docker/key.json` and restart the daemon.

Please tell us if

[2015-02-09 23:20] vieux commented on #372
@david-guenault thanks !

[2015-02-10 00:09] david-guenault commented on #373
@vieux @JeffChien tried with the official repo (by changing import) and everything seems to work ( building the binary by hand work but not with the Dockerfile).

[2015-02-10 00:16] david-guenault commented on #372
@vieux ok everything seems to work (just added a loop to iterate over declared consul nodes until finding one available, since consul api does not provide an availibility check or multinode connection support i had to make http requests directly to consul http api and so added a dependency on net/http module). This is my first try with golang so i'm not sure i'm doing it the right way. I will subm

[2015-02-10 01:34] vieux commented on #342
@jhamrick I opened https://github.com/docker/swarm/pull/381 that help (if not fix) your issue.

[2015-02-10 02:08] aluzzardi opened #382 "Port filter always gets initialized"
When specifying a single filter:

[code]

When specyfing the `port` filter:
[code]

Note that those two are the only one getting initialized.

[2015-02-10 02:39] aluzzardi opened #383 "Proposal: Redesigned filtering system"
Currently, `Filter`s take a list of nodes and return either a subset of nodes or an error.

This causes problems for different reasons:
- Implementing a filter is repetitive. Every filter we have creates a list of candidates and has the same code, which is annoying (at best) and creates errors (at worst). For instance, a filter is responsible for returning the original node list if it's not trigge

[2015-02-10 02:43] aluzzardi commented on #383
/cc @vieux @chanwit

[2015-02-10 03:18] vieux commented on #383
+1 very good proposal

[2015-02-10 04:21] chanwit commented on #383
I like this.

[2015-02-10 04:52] jmmills commented on #378
@chanwit sounds good, I'll keep an eye on it as evolves.
@vieux In theory yes, all of my contributions are tied to GitHub... even more so if my day job buys into it.

[2015-02-10 08:17] chanwit commented on #383
@aluzzardi I am not sure, but this method:
`String(*dockerclient.ContainerConfig) string`
should be something like:
`ErrorMessage(*dockerclient.ContainerConfig) string`
as it represents an error message of the filter, but not the filter itself?

[2015-02-10 08:19] chanwit commented on #383
FYI, there's an interesting design of errors and how they are collected from the Spring framework:

http://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/validation/Errors.html

[2015-02-10 12:32] inercia opened #387 "Proposal: move the Discovery system to an external library"
I propose to move the Discovery system to an external library. The code seems to be in very good shape for this, with no external dependencies and a simple API.

With this change, the same discovery mechanism could be used by external services, so they could synchronize with the current cluster managed by Swarm. For example, [Weave](https://github.com/zettio/weave) could use the same library and,

[2015-02-10 13:15] JeffChien commented on #373
@vieux @david-guenault thanks, I'll look into it

[2015-02-10 16:17] JeffChien commented on #373
@vieux I'm a little confuse about godeps, should my PR need to update 'Godeps/_workspace' ?

[2015-02-10 16:47] bryantidd commented on #380
Thank you! That's what I needed.

[2015-02-10 16:47] #380 closed

[2015-02-10 17:15] david-guenault commented on #373
@JeffChien @vieux correct me if i'm wrong but according to coding rules yes you have to make dependencies part of the PR.

[2015-02-10 18:58] vieux commented on #387
@inercia that's the ultimate goal, how would you implement `an external library` in go, knowing where is no shared library `(.so)` in go.

[2015-02-10 19:04] aluzzardi commented on #383
Initially I was going with `Error()`.

However, if we take `PortFilter` as an example, the output would be something like `-p 80:80`, which is not related to an error at all.

You could image doing something like:
[code]

[2015-02-10 19:09] aluzzardi commented on #373
[code]

That will update `Godeps/` and then you just need to send a PR.

[2015-02-10 19:56] #382 closed

[2015-02-10 21:41] #342 closed

[2015-02-10 23:22] smothiki opened #390 "Couldn't get swarm running with docker 1.4.0 and greater"
tried running swarm binary from the releases with docker version > 1.4, couldn't succeed  on both Coreos( docker version 1.4.1) and Ubuntu ( docker version 1.5.0 ) . help needed to debug the issue let me know if I'm going wrong any where .

coreos
[code]
ubuntu
[code]

[2015-02-11 00:18] vieux commented on #390
Can you paste us:

[code]

thanks

[2015-02-11 01:04] smothiki commented on #390
for host 172.17.8.102 which is running swarm manager

[code]
docker info
[code]

for host  172.17.8.100 its not runnign swarm manager
[code]
I think only docker version 1.5.0 support info command .
guessing ,might be a problem at this line
https://github.com/docker/swarm/blob/e87c276c1e3b492e30d1f8340096a77fc15a713f/cluster/node.go#L125

[2015-02-11 01:47] vieux commented on #390
so `172.17.8.102 ` is running the manager, it shouldn't be part of the discovery. you shouldn't do the swarm join on this machine.

for `172.17.8.100` this line https://github.com/docker/swarm/blob/e87c276c1e3b492e30d1f8340096a77fc15a713f/cluster/node.go#L125 is perfectly fine.

If you do `docker -H 172.17.8.100:2375 info` you should see the ID

[2015-02-11 07:23] chanwit commented on #387
@inercia I am crafting a plugin system in #347 and it can adopt to implement Swarm discovery too.

[2015-02-11 07:39] chanwit commented on #383
@aluzzardi I see

[2015-02-11 07:53] errordeveloper commented on #387
I think the point is to make sure the code is reusable and lives in it's
own repo, I cannot see particular need for shared objects on the host it
will run on.

On Tue, 10 Feb 2015 18:59 Victor Vieux <notifications@github.com> wrote:

[2015-02-11 07:56] inercia commented on #387
As @errordeveloper said, the point would be to move the code to its own repo so it could evolve independently from Swarm.

[2015-02-11 16:34] chanwit commented on #376
@aluzzardi here's a quick and dirty framework to test cluster on my own.

https://github.com/chanwit/marine

Just in case if you're interested.

[2015-02-11 18:11] smothiki commented on #390
I think the issue is  docker swarm container is not binding to the host IP and port while doing swarm join  .
got through the version error but not able to connect to peers from the swarm manager machine
[code]

[2015-02-11 18:23] vieux commented on #390
@smothiki join doesn't need to bind anything, but it needs to advertise the host ip.
Here in your command `--addr` should be the host IP.

join add the `addr` in a key/values store that's it.
then, the manager get the list from the key/values store and connect to them.

To debug, instead of the token, you could use a static list of nodes. (so you don't need to do any join)

[code]

[2015-02-11 19:22] #373 closed

[2015-02-11 20:13] smothiki commented on #390
This is my understanding
- manager is trying to talk to <ip:port> on each node .
- on each node when we do a swarm join its starts a container and exposes port 2375.
So if manager has to talk to those swarm containers created while doing a swarm join , manager should know the container IP and port . giving host IP and port works only if the container port is bind to the host port .
below gist has

[2015-02-11 20:13] smothiki commented on #390
Apologies
 accidentally closed the issue

[2015-02-11 21:09] vieux commented on #390
@smothiki this means on `172.17.8.100` you don't have docker listening on port `2375`

You need to listen on this port on docker, with `docker -d -H 0.0.0.0:2375`

[2015-02-12 11:15] orkaa opened #394 "Pulling docker hub private images doesn't work through swarm"
Swarm can't find the image, docker can.

[code]

The two commands above are both performing tasks on a same host. I've used `docker login` and `swarm login` successfully but still can't pull the image through swarm.

[code]

[2015-02-12 18:51] vieux commented on #394
Hi @orkaa,

This is the same issue as #374

Closing as duplicate

[2015-02-12 18:51] #394 closed

[2015-02-12 18:56] vieux commented on #192
We know that swarm will be distributed as an official docker image, should we close this ?

[2015-02-12 19:43] smothiki commented on #390
Thanks for the help  . swarm is running after restarting the docker engine to listen on 2375 .

[code]
But when I run  ```docker run -d -m 1g redis ``` for  3 times . The third container is starting on the same machine . each  VM I tried has 2GB of ram . Isn't it suppose to schedule the third one on a different VM  .

[2015-02-12 20:59] smothiki commented on #390
Sorry My bad I'm not trying to launch the containers through swarm manager .
Closing the issue . thanks for the help

[2015-02-12 20:59] #390 closed

[2015-02-13 18:59] #251 closed

[2015-02-14 19:12] thaJeztah opened #399 "Enable logging for #docker-swarm on botbot.me"
I noticed that the #docker-swarm IRC channel currently isn't logged. Would it be possible to enable logging for this channel on https://botbot.me?

[2015-02-14 22:02] vieux commented on #399
Yes, I asked at the beginning, but they came to the chan to verify in the middle of the night and no OP was online at that time.

I will request again

[2015-02-14 22:06] vieux commented on #399
![screen shot 2015-02-14 at 14 05 36](https://cloud.githubusercontent.com/assets/1032519/6201231/a83469d6-b452-11e4-83f8-684a7ab52616.png)

I will contact the support.

[2015-02-14 22:25] thaJeztah commented on #399
Great, I'll see when it is solved then, thanks!

[2015-02-16 18:54] vieux commented on #399
Done.

[2015-02-16 18:54] #399 closed

[2015-02-16 18:58] thaJeztah commented on #399
Thanks!

[2015-02-17 10:16] kevinsimper opened #401 "connection refused on swarm manage"
I spun up some machines with `docker-machine` and then joined them in a swarm cluster, but i get a connection refused.

That is because docker on the nodes does not accept connection from outside, unless you go in a change so they listen on 0.0.0.0

That is not very clear and is not in the tutorial on the readme.

How is that done correctly?

[2015-02-17 17:12] ctarwater commented on #341
@blackrosezy - correct. We no longer need to use IP SANs if we generate the certificates with hostnames instead. I just wrote up step-by-step instructions for anyone curious: http://www.blackfinsecurity.com/docker-swarm-with-tls-authentication/

[2015-02-17 22:46] sonchang opened #402 "Unable to delete a cluster using the hosted discovery service"
Sending a DELETE HTTP request to:
https://discovery-stage.hub.docker.com/v1/clusters/0ac4cd6c658661d5d80bfbd0215309a0

Produces the following:
pq: update or delete on table "clusters" violates foreign key constraint "nodes_cluster_id_fkey" on table "nodes"

[2015-02-17 23:55] aluzzardi commented on #401
/cc @ehazlett

[2015-02-18 01:38] ehazlett commented on #401
@kevinsimper can you list what `docker-machine ls` reports?

[2015-02-18 10:44] david-guenault opened #404 "Add ssl/tls support in discovery backends"
Since all the docker tools support SSL/TLS (docker, swarm, compose ...) should it be possible in the future to add the same for discovery backends. For exemple etcd and consul does support ssl/tls but it is not possible to enable it in swarm discovery backends.

As a reference you can see #360

[2015-02-18 11:46] kevinsimper commented on #401
[code]

[2015-02-18 12:51] kevinsimper commented on #401
[code]

[2015-02-18 12:51] kevinsimper commented on #401
[code]

[2015-02-18 12:53] kevinsimper opened #405 "Example does not work"
You need to specify the run swarm manage needs to be with double colon when double colon.

[code]

If you run that you get
[code]

The example needs to be:
[code]
or
[code]

[2015-02-18 16:04] ehazlett commented on #401
Thanks.  A couple of things.  First, the machines are in the `Error` state so you will need to check DigitalOcean to make sure those instances still exist / are available.  Second, Machine will only create hosts that are TLS secured and use the Docker port 2376 (not 2375).  In order to use TLS with the swarm-master, you will need to get the certs on that host, bind mount the host dir when launchin

[2015-02-18 21:56] vieux commented on #405
@kevinsimper you need to replace `<swarm_port>` by the port you want to use.

Let's say you choose swarm_port to be 4242 and cluster_id to be XXXXXXX

`$ docker run -t -p <swarm_port>:2375 -t swarm manage token://<cluster_id>`
becomes
`$ docker run -t -p 4242:2375 -t swarm manage token://XXXXXXX`

[2015-02-18 21:56] #405 closed

[2015-02-18 21:57] vieux commented on #404
I agree

[2015-02-19 01:03] SvenDowideit commented on #341
@ctarwater will you be adding that to the swarm documentation, or should I ? :)

[2015-02-19 01:04] SvenDowideit commented on #341
this is also what https://github.com/SvenDowideit/generate_cert was created to do - its go, so we could just import the code...

[2015-02-19 05:30] Hokutosei opened #406 "panic: runtime error: on swarm:latest"
Greetings,

Im getting lots of this today, on a 1master, 2nodes.  any ideas on this?

master
Distributor ID:	Debian
Description:	Debian GNU/Linux 7.8 (wheezy)
Release:	7.8
Codename:	wheezy

node1
Distributor ID:	Debian
Description:	Debian GNU/Linux 7.8 (wheezy)
Release:	7.8
Codename:	wheezy

node2
CoreOS stable (557.2.0)

all running
go version go1.4.1 linux/amd64

[code]

[2015-02-19 05:33] vieux commented on #406
What command did you use to start swarm ?

[2015-02-19 05:38] Hokutosei commented on #406
node1:
    docker run -d swarm join --addr=10.240.235.207:2375 token://

node2:
    docker run -d swarm join --addr=10.240.62.29:2375 token://

master:
    docker run -t -p 2375:2375  -t swarm manage token://

been running swarm for weeks already..

[2015-02-19 05:41] vieux commented on #406
@Hokutosei and what swarm version do you have ? `docker run swarm -v` your stack trace is telling us error line 94, but it doesn't match the last RC

[2015-02-19 05:41] Hokutosei commented on #406
@vieux swarm version 0.1.0 (e87c276)

[2015-02-19 05:50] vieux commented on #406
@Hokutosei thanks I see the error, it comes from a networking error, I don't know what's the cause, but I'll push a fix soon to not panic.

btw you are using RC3 and we released RC4 of swarm, you can do `docker pull swarm to update`
but your bug is still in RC4, so you'll have to wait for RC5 to fix.

[2015-02-19 05:53] Hokutosei commented on #406
@vieux oh, i see. btw, all of this is on GCE. I'll do a ```docker pull swarm```. hope to fix this soon!, thanks for the tool again!

[2015-02-19 06:50] david-guenault commented on #360
@vieux, @aluzzardi  The #404 make this issue redondant. I think we can close it.

[2015-02-19 07:19] #360 closed

[2015-02-19 19:15] kevinsimper commented on #401
@ehazlett Thanks a lot for your help! Seems that i miss a some vital things! I thought that machine and swarm were made together, but as i can see from your branch it is very close :)

The Error state was because i had close the nodes as you guess, but then decided to do it the exact same to show what I did.

I looked at the code from your branch and can't seem to understand how i will get my cert

[2015-02-19 19:39] #406 closed

[2015-02-19 19:49] kevinsimper commented on #401
I shared the folder with swarm and pointed swarm to the same certificates, those that came when i created them with docker-machine:
[code]

I also swiched the nodes to listen on 2376
[code]

But now i get a handshake failure
[code]

[2015-02-19 19:55] kevinsimper commented on #401
Can read in https://github.com/docker/swarm/issues/311 that it is not the right way still.

[2015-02-20 09:58] filosganga commented on #377
Is the fact that, every manager instance has a non shared view of the cluster,  true also in case of an external discovery system? Eg: etcd?

[2015-02-20 10:38] JasonSoft opened #408 "[Question] swarm cluster"
Hi All,

Sorry for disturbing, I was confused about swarm cluster.  Would you mind helping me, please?

Scenario:
I have three nodes.  Docker is installed on every node.  NodeB and NodeC are joined to swarm manager (NodeA).  For example,

NodeA: 192.168.0.1 (Swarm manager will be run on the node)
NodeB: 192.168.0.2 ( app1 container will be run on the node)
NodeC: 192.168.0.3

Questions:

1. if Nod

[2015-02-20 12:49] allisonvoll opened #409 "Node image upgrade"
as is not possible do `docker pull` through swarm, how images can be upgraded without direct access to each node?

[2015-02-20 15:59] abronan commented on #377
@filosganga Yes, because the discovery part (and informations about peers and their metadata replicated amongst etcd instances) is separated from the cluster management part (containers running on nodes, images pulled, resources available, etc..).

[2015-02-20 16:36] abronan commented on #408
Hi @JasonSoft,

1. AFAIK, node rebalancing is not yet implemented. You can check the [Roadmap](https://github.com/docker/swarm/blob/master/ROADMAP.md) for more informations. But ideally, yes we'll see **app1** being re-scheduled on **NodeC** (or **NodeA** if there is a Swarm Agent running next to the Swarm Manager) because it has the resources available to host the container. Still, if NodeC has n

[2015-02-20 16:59] vieux commented on #409
https://github.com/docker/swarm/pull/349 should solve this issue, right now you need to use docker info to get the address of each node and connect to it directly as you said.

[2015-02-20 17:05] david-guenault commented on #377
I would like to know what you mean by "cluster". I do not like the term in the swarm context. What i see is that we have three parts. Membership, node availability and scheduling (discovery backend deal it for membership, manager for availability and scheduler ... for scheduling). But availability is only from a scheduling point of view (as far as i know). The scheduling part just prevent to sched

[2015-02-20 18:01] filosganga commented on #377
Oh I see, so etcd only store the cluster topology (the nodes state), but not the docker specific informations. It seems very similar to the hdfs namenode.

[2015-02-20 19:48] david-guenault commented on #377
@filosganga no the discovery backend store the membership. Node state is checked by swarm manage.

[2015-02-20 20:04] filosganga commented on #377
@david-guenault thanks. Wondering why not using etcd (or consul.io) to keep the node status, in this way the information is replicated out of the box.

[2015-02-20 20:51] abronan commented on #377
@filosganga Yes Swarm could totally use *etcd* or any kind of distributed Key/Value store and benefit from log replication. The thing is, this is quite a strong dependency just to have a shared state. Including this directly into Swarm and plugging the existing lightweight Key/Value store to a Raft backend sounds like a good idea to avoid dealing with an external service (even if it means using th

[2015-02-20 21:00] abronan commented on #377
@david-guenault I think it is totally fair to call the congregation of Nodes running docker daemons as well as Swarm Agents a "cluster". They are used to host containers in a larger context and will eventually see the support for cross-container linking so I think it is fine. Or you mean it is unfair to call it a cluster because Swarm Nodes running Agents are not directly connected to each other b

[2015-02-20 23:13] filosganga commented on #377
@abronan It makes perfect sense to me. I think swarm could abstract this part, that could be implemented as a simple solution natively, but also using some pluggable implementation.

[2015-02-20 23:47] abronan commented on #377
Agreed :+1:. I guess that we can allow both in the long run, a default internal store with shared state that works out of the box (to keep the setup part easy for most users) but the possibility to plug additional Key/Value stores :smile: Even though we should only allow *strongly consistent* Key/Value stores to be pluggable for obvious reasons.

:bow: *performs incantation to summon the good will

[2015-02-21 01:19] ehazlett commented on #401
@kevinsimper swarm provisioning is now merged into machine :)  please note: *this is experimental and the ux and commands will most likely change*.  that out of the way, here are the instructions :)

https://github.com/docker/machine#swarm

[2015-02-21 05:54] david-guenault commented on #377
@abronan reading (again) the roadmap it become clear that we do not have yet a "real" cluster with all of the needed features (but you are right, it's a cluster as a congregation of nodes). But it's planed => https://github.com/docker/swarm/blob/master/ROADMAP.md

[2015-02-22 06:50] JasonSoft commented on #408
Hi @abronan,

Thanks for clarifying.  I was wondering if we could run two Swarm Manager instances ( either master and master mode or master and slave mode) at the same time.  Therefore, if one of manager instances is down, others can take over it.  Is it possible?

Thank you.

[2015-02-23 04:46] 128keaton opened #412 "FATA[0000] discovery service not supported on manager"
Hey, I have two Nodes, Nimbus and Cringle. I initiate the nodes with:
Cringle:``` docker run -d swarm join --addr=192.168.1.139 ticket://d33760e5a31990475eef578df2955e4c ```
Nimbus: ```docker run -d swarm join --addr=192.168.1.124 ticket://d33760e5a31990475eef578df2955e4c ```

and then try to manage them on Nimbus (or Cringle)
``` docker run -t -p 2375 -t swarm manage ticket://d33760e5a31990475eef

[2015-02-23 04:56] bacongobbler commented on #412
the correct protocol is `token://` rather than `ticket://`. See https://github.com/docker/swarm/#example-usage

[2015-02-23 05:10] 128keaton commented on #412
@bacongobbler you are right *head-desk* thats what I get for rushing. Now I have another error when starting manage.

[2015-02-23 05:10] #412 closed

[2015-02-23 05:13] 128keaton opened #413 "ERRO[0000] Node is running an unsupported version of Docker Engine. Please upgrade."
Me, again. The last error was silly, totally on my part. This time, I'm mystified. Everything appears to be right, except this:
[code]

[2015-02-23 05:33] #413 closed

[2015-02-23 05:45] 128keaton opened #414 "swarm not load balancing to other node"
I have a process running in my swarm's IP, that causes the CPU to jump to 100%, shouldn't swarm be load balancing? The other node never goes about 0.3%. Is swarm not configured correctly?

[2015-02-23 05:49] bacongobbler commented on #414
swarm's default [scheduling strategy](https://github.com/docker/swarm/tree/master/scheduler/strategy) is bin-packing, so it will always try to load up the most packed node to avoid fragmentation. There are other strategies in discussion such as #227, though.

[2015-02-23 05:52] 128keaton commented on #414
@bacongobbler now I'm wondering if I am just running one node, because I should be going over the threshold. My 'start' command is "docker -H tcp://192.168.1.139:2375 run cadvisor" where 192.168.1.139 is a node

[2015-02-23 17:53] #414 closed

[2015-02-23 18:01] 128keaton opened #415 "Not fully understanding, help would be appreciated."
Hi. Its me, again. I have two machines, both running docker and have swarm. The way I undertstand it is that these are nodes, so I join them together.

 Lets say **192.168.1.139 is Nimbus** and **192.168.1.124 is Cringle**. Nimbus already has a working container that I'd like balanced over itself and Cringle, so my understanding is to run ``` docker run -d swarm join --addr=192.168.1.124:2375 toke

[2015-02-23 18:23] bacongobbler commented on #415
When you join a node to a cluster, it is made discoverable by the [discovery backend](https://github.com/docker/swarm/tree/master/discovery). In your case, the host addr is published to your unique token at http://discovery.hub.docker.com. When you start a manager, it uses the discovery backend to discover where the nodes are located and communicates with them.

Again, the docs demonstrate how you

[2015-02-23 18:35] 128keaton commented on #415
@bacongobbler ok, so how would I get the swarm IP from that url. Also, running manager from any node results in: FATA[0000] Error response from daemon: Cannot start container 35fba79b32cc037d8aa16c942714e4c6b02998f46b74c45deefc50671725d58a: Error starting userland proxy: listen tcp 0.0.0.0:2375: bind: address already in use.

[2015-02-23 18:48] bacongobbler commented on #415
start the swarm manager on some other port: `docker run -t -p 2376:2375 -t swarm manage token://<cluster_id>`

Your swarm IP is the host running the swarm manager, and you can get more information on the swarm nodes using `docker info`. In your case:

[code]

[2015-02-23 18:50] 128keaton commented on #415
@bacongobbler alright! That got manager working fine, aside from both nodes are refusing connection. Hmm,

[2015-02-23 19:07] 128keaton commented on #415
@bacongobbler ok, so I redid everything (fresh slate, new ID, creation, etc) and manager still spits out:
[code]

[2015-02-23 19:15] 128keaton commented on #415
@bacongobbler got the manager working fine, now getting the IP address for the swarm is what I'm stuck on.

[2015-02-24 00:24] vieux commented on #415
@128keaton let's restart from the beginning, create a new token.

192.168.1.139 is *Nimbus* and 192.168.1.124 is *Cringle*
on both machines, docker is listening on 0.0.0.0:2375.

Nimbus needs to join youd cluster, you do
`docker run -d swarm join --addr=192.168.1.139:2375 token://<cluster_id>`

Now Cringle need to join your cluster, you do
`docker run -d swarm join --addr=192.168.1.124:2375 token:

[2015-02-24 01:12] 128keaton commented on #415
@vieux thanks, that got me totally up and running. Last question, is there anyway for a single container to be balanced over the two machines?

[2015-02-24 01:19] aluzzardi commented on #414
@128keaton: `docker -H` should point to swarm, not a node.

[2015-02-24 20:15] vieux commented on #415
@128keaton what do you mean, having a single computer on 2 machines ? no you will have to run it twice.

[2015-02-24 20:42] thaJeztah commented on #415
As @vieux mentioned, no, that isn't possible, Docker Swarm doesn't work at such a "low level"; it doesn't form a single "computer/CPU"; all nodes in the cluster are still separate servers, but you're able to manage them through a single tool.

A single container can *never* have more processing-power or memory than the node it's running on, but you *can* "scale" by deploying *more* containers, dis

[2015-02-25 20:50] chanezon opened #419 "Can't build on Mac OS X"
Following build instructions at https://github.com/docker/swarm#2---alternative-download-and-install-from-source

[code]

pat-2:gocode pat$ go version
go version go1.4.2 darwin/amd64
pat-2:gocode pat$ uname -a
Darwin pat-2.local 14.1.0 Darwin Kernel Version 14.1.0: Mon Dec 22 23:10:38 PST 2014; root:xnu-2782.10.72~2/RELEASE_X86_64 x86_64
pat-2:gocode pat$ git version
git version 1.9.3 (Apple Git-5

[2015-02-25 21:38] vieux commented on #419
@chanezon your dockerclient seems outdated `go get -u` ?

[2015-02-25 22:40] #409 closed

[2015-02-25 23:01] jmmills commented on #377
On the topic nomenclature, if one is wanting to avoid the term of "cluster" I vote to call it a "Pod"... because you know, there's a whale in the logo.

[2015-02-26 16:00] allencloud opened #422 "Docker Daemon ID conflict when using ubuntu deployed by IaaS image already has docker"
Hi, all
when I use swarm to manage docker node, issue happens reporting docker register fails, as the docker daemon id is already taken.

I analyzed the issue and found the reason. My docker daemon was  already deployed in the IaaS image, so when I duplicated the vms with IaaS image, each docker daemon in vm has the same docker daemon id.

As a result, I have to delete the file in ~/.docker/key.js

[2015-02-26 17:29] rcarmo opened #424 "ubuntu/armhf image"
Kindly consider having an ARM image, even if prominently marked "EXPERIMENTAL - MAY BLOW UP".

[These base Ubuntu images](https://registry.hub.docker.com/u/mazzolino/armhf-ubuntu/) work on a few different development boards (like the ODROID series and the Raspberry Pi 2), and there would be no shortage of folk willing to test them (I myself intend to take a stab at building one, given that I have

[2015-02-26 19:32] vieux commented on #422
In my opinion, you need to remove `~/.docker/key.json ` before duplicating your VM

[2015-02-26 20:39] jpetazzo commented on #336
Actually, sometimes, it's really hanging. Just got that on a fresh cluster, tried to run redis through swarm, and after a few minutes, nothing happened. I nuked the cluster (remove all images and all containers) and tried again, this time it worked.

In any case, I think it would be nice to have more debug info in Swarm to tell what's going on during the run/pull.

[2015-02-26 20:41] jpetazzo opened #425 "Container output doesn't show up without `-i` flag"
**What I do:** `docker run busybox echo ohai`

**What I expect:** `ohai`

**What I see instead:** nothing

What I tried:

- `docker run -i busybox echo ohai` → `ohai`
- `docker run busybox sh -c "sleep 3; echo ohai"` → nothing

[code]

[2015-02-26 20:48] jpetazzo opened #426 "`docker ps -l` shows last *running* container"
**What I do:** `docker run -d busybox sleep 42; docker run busybox true; sleep 1; docker ps -l`

**What I expect to see:** the `true` container

**What I see instead:** the `sleep` container

Note: I understand that there might be (at least) two ways to implement this correctly:
- display the last container started across the cluster;
- display the last container started *through this Swarm master

[2015-02-26 21:07] jpetazzo opened #427 "Race condition when pulling+running named containers"
**What I do:**

On a clean cluster (no image present):

`docker run --name lemon -d busybox sleep 42 & docker  run --name lemon -d busybox sleep 42`

**What I expect to see:**

The ID of one container, and an error message about the name `lemon` being already in use.

**What I see instead:**

Two containers are started, confirmed by:

[code]

I believe Swarm checks the uniqueness of the name at th

[2015-02-27 00:33] chanezon commented on #419
Not sure I understand.
Do I need to build docker from tip in order for swarm build to work?
I'm using docker client latest release https://github.com/boot2docker/osx-installer/releases/tag/v1.5.0

[2015-02-27 00:35] vieux commented on #419
@chanezon docker client si hosted here: https://github.com/samalba/dockerclient either you update your docker client ro you install godep and go a `godep go build` to build using the vendored dependencies

[2015-02-27 01:25] chanezon commented on #419
Thanks, that worked:-)

[2015-02-27 01:25] #419 closed

[2015-02-27 02:11] allencloud commented on #422
Oh, my god, this is the easiest way to solve this issue. Thank you very much.

[2015-02-27 02:12] #422 closed

[2015-02-27 02:18] chanezon opened #428 "swarm cluster provisioned with docker-machine does not seem to distribute workloads"
Maybe I'm getting the doc wrong.

I provision a 3 machine cluster according to docker-machine documentation.
[code]

If I try to do
[code]
it blocks

Talking to the docker daemon on master directly works.
[code]
But then I get no benefit from swarm, a second invocation, instead of scheduling on another node, barfs on port conflict.
[code]

swarm-master runs 2 containers: swarm-agent on port 2376 a

[2015-02-27 02:44] vieux commented on #428
@ehazlett can you take a look

[2015-02-27 02:52] aanm opened #429 "No healthy node available in the cluster"
I've followed this example https://github.com/docker/swarm#example-usage

I'm running 4 VMs (192.168.3.{1,4}), they ping each other.
The .1 is the manager and the rest are nodes.
The manager was started with the following command:
`sudo docker run -d -p 2375:2375 swarm manage token://<token-id>`
I can't start any containers on the manager since I get this:
`FATA[0000] Error response from daemon: N

[2015-02-27 03:04] chanezon commented on #428
Seems to be azure specific, the crate team were successful on gce
https://crate.io/blog/deploying-crate-with-docker-machine-swarm/
Not sure what that container on port 3326 on azure is used for, but that's the port docker-machine env produces.

[2015-02-27 03:05] chanezon commented on #428
Cc @jeffmendoza

[2015-02-27 03:19] nmackenzie commented on #428
Caveat. I haven't looked at this yet.

However,

1) Is there a reason you have deployed each of these nodes into its own cloud service?
pat-swarm-master-3.cloudapp.net:2376
pat-swarm-node-01.cloudapp.net:2376
pat-swarm-node-00.cloudapp.net:2376

2) Did you create an appropriate port 2376 port-forwarded endpoint on each cloud service?

3) Ideally, all the nodes could be deployed into a single cloud

[2015-02-27 03:29] chanezon commented on #428
@nmackenzie
Yes that's how I would deploy it in production.
But here I'm just trying the out of the box experience with docker-machine (which creates one cloud service per machine) and swarm.

[2015-02-27 05:05] bacongobbler commented on #429
you have the swarm cluster binding on port 2375 yet you're targeting 2376 with `nc`. When you joined the nodes to the token via `docker run -d swarm join --addr=<node_ip:2375> token://<cluster_id>`, try using 2376 instead of 2375.

[2015-02-27 07:38] david-guenault commented on #424
Online labs is curently building some sort of hardware cloud based on arm socs.
http://labs.online.net/try-it

Ask them as i know they already have a registry for that.

[2015-02-27 09:31] rcarmo commented on #424
Thanks, but isn't there something more... public?

[2015-02-27 11:04] bfirsh commented on #428
How long did it block for? It's quite possible it's blocking pulling the image.

When you create a container on a Swarm, it pulls the image for that container but doesn't report back pulling status with progress bars like usual – it just hangs. See https://github.com/docker/swarm/pull/349 for a potential fix for this.

[2015-02-27 11:10] david-guenault commented on #424
Yup all of the images are available at => https://registry.hub.docker.com/repos/armbuild/
And the source repo is available at github => https://github.com/online-labs

This is imo a good start point to build your own arm images.

[2015-02-27 11:46] aanm commented on #429
the `nc -l 2376` part was only to test if the VMs could speak with each other via TCP

[2015-02-27 12:34] therealprologic opened #431 "[compile error]: warm/cluster/node.go:368: not enough arguments in call to n.client.RemoveContainer"
Getting a compile error with ``0.1.0`` tag:

[code]

[2015-02-27 15:20] olc commented on #429
You should use a different port for 'swarm_port', for exemple:
`sudo docker run -d -p 1234:2375 swarm manage token://<token-id>`

After that, you will be able to use the regular CLI in order to send docker commands through swarm:
`docker -H tcp://<swarm_ip>:1234 info`

HTH

[2015-02-27 15:27] aanm commented on #429
[code]

[2015-02-27 15:58] aanm commented on #429
I was using Vagrant for the nodes, I tried to use one physical machine in one of the nodes and I got it working as expected.
Thanks for the support guys.
Should I close it or leave it open so other people with the same problem can reach it?

[2015-02-27 15:58] bacongobbler commented on #431
dupe of #419

[2015-02-27 16:31] akaspin commented on #419
Alternatively, you can download and install from source instead of using the Docker image.
Ensure you have golang and git client installed (e.g. apt-get install golang git on Ubuntu). You may need to set $GOPATH, e.g mkdir ~/gocode; export GOPATH=~/gocode.
The install swarm binary to your $GOPATH directory.
go get -u github.com/docker/swarm

:-)

[2015-02-27 16:39] osallou commented on #419
Getting same issue. I build it some time ago and it was fine. I upgraded docker (from docker repo) and now swarm fails with:

    ERRO[0000] Node 127.0.0.1:2376 is running an unsupported version of Docker Engine. Please upgrade.

I tried to rebuild swarm but I get same error message

    ldaptop:~/Development/NOSAVE/gocode$ go get -u github.com/docker/swarm
    # github.com/docker/swarm/cluster

[2015-02-27 16:48] sonchang commented on #419
@osallou I ran into this yesterday as well.  The problem is swarm currently isn't compatible with the latest version of https://github.com/samalba/dockerclient (which takes in 3 arguments for RemoveContainer).  If you look at https://github.com/docker/swarm/blob/master/Godeps/Godeps.json , you'll see it uses an older version of dockerclient.

[2015-02-27 18:54] chanezon commented on #419
Workaround, on Mac OS X, for now as suggested by @vieux
[code]

[2015-02-27 19:05] vieux commented on #429
I think closing it is better, thanks for the update @aanm

[2015-02-27 19:05] #429 closed

[2015-02-27 19:10] vieux commented on #419
I'm going to update swarm's godep to use the last version of dockerclient.

[2015-02-27 21:30] therealprologic commented on #419
/cc @therealprologic

[2015-02-27 22:43] vieux commented on #267
Thanks everybody for testing the beta!
It was released on 26/02/2015, see http://blog.docker.com/2015/02/scaling-docker-with-swarm/

[2015-02-27 22:43] #267 closed

[2015-02-27 22:54] bacongobbler commented on #267
:tada:

[2015-02-28 17:49] rcarmo commented on #424
Finally got round to checking this. Thanks - am going to see if I can get swarm to build on ARMv7...

[2015-02-28 18:44] scollier opened #436 "broken links for swarm documentation"
All of the links at the bottom of the page:

https://github.com/docker/swarm/tree/master/scheduler/strategy

are broken.  Specifically, the ones under this section:

"Docker Swarm documentation index"

[2015-02-28 19:24] david-guenault commented on #404
@vieux, thinking about that i do not see how it should be implemented. The only parameter that it is curently possible is the discovery uri in the form [backend]://ip:port, ip:port,.../path. How should it be implemented ? With environment variables ?

[2015-02-28 23:28] vieux commented on #436
ping @SvenDowideit

[2015-02-28 23:29] vieux commented on #404
@david-guenault what about etcds:// and consuls:// ? and we use the same tls certs we already have

[2015-03-01 21:50] thaJeztah commented on #404
or  something like `etcd+https://`, `consul+https://`?

[2015-03-02 05:35] bacongobbler commented on #404
I'm :+1: for `etcds`. I could see `etcd+https` being interpreted as two connections (etcd and https) rather than a single connection through a tls-secured etcd backend. /my2c

[2015-03-02 18:42] squillace opened #437 "Question: Relationship between docker endpoints and swarm endpoints"
Sort of a followup from [https://github.com/docker/swarm/issues/415](https://github.com/docker/swarm/issues/415).

I am hosting the $master and $node1 and $node2 in the cloud, all three in completely separate VMs. Because I'm using Microsoft Azure, the default docker port -- secured by default, also -- is port 4243 on all machines. I'm operating all this from an Ubuntu laptop sitting... on my lap.

[2015-03-02 19:26] bfirsh opened #438 "Swarms created on Hub discovery service should be linked to Hub accounts"
At some point, we may have some kind of UI for managing Swarms created with the Hub discovery service. To be able to do this, we should connect Swarms that have been created to Hub accounts.

When running `swarm create`, it should first ask you to provide user/pass to log in with, then the Swarm will be attached to this user.

In the future when we allow you to use custom token servers, this could

[2015-03-02 23:28] vieux commented on #437
No that's because the port 2375 is exposed in the swarm image.
As you can see the port is not used (otherwise you would have something like `0.0.0.0:2375->2375/tcp` in ps)

So your `docker --tls -H tcp://$node1:4243 run -d swarm join --addr:$node1:4243 token://$clusterid` seems totally fine.

If you do a `docker --tls -H tcp://$node1:4243 run -d swarm list token://$clusterid` you should see your n

[2015-03-03 00:05] squillace commented on #437
Thanks, so in theory, when I get the proper listing at the end, that seems correct, then? What is the best next steps to demonstrate that the management is working? Should I spawn three port 80 nginx'es to produce a failure? What's the simplest you can think of?

I'm happy to submit the doc fix as a PR so that you can focus on other things. :-)

[2015-03-03 00:17] vieux commented on #437
@squillace `docker info` should print you CPUs/Memory and addr of all your nodes.

please submit the PR :D

[2015-03-03 00:26] squillace commented on #437
I'm repro'ing my world, and then I'll be happy to submit the PR.

[2015-03-03 01:45] squillace commented on #437
one final confirmation: I apologize, but want to be sure:

I should be able to start manage by saying

correct? that is, I connect to the master's docker port, then pass some random open port (2375), and then my docker port (4243)? this is the master's docker host starting `swarm manage`.

if so, then I can connect to the manager on $master by which of the following calls?:

1. docker --tls -H tcp

[2015-03-05 20:50] vieux commented on #437
No, you cannot do `docker -H tcp://$master:4243 run -d -p 2375:4243 swarm manage token://$clusterid`

`-p 2375:4243` will redirect the port 4243 inside the container to the host. but inside the container, swarm isn't listening on 4243, but 2375, so you would need to do

`docker -H tcp://$master:4243 run -d -p 2375:2375 swarm manage token://$clusterid`

If you do that, docker listen on 4243 and swa

[2015-03-06 00:54] aluzzardi opened #447 "Proposal: Soft Affinities"
Currently, affinities are **hard** enforced, that is, if an affinity cannot be met the container won't be scheduled.

We'd like to introduce **soft affinities**. Soft affinities would provide the behavior as regular affinities, except that if the conditions aren't met the scheduler would simply discard them.

## Use Cases

Here are a few examples showcasing how soft affinities are useful.

### Fas

[2015-03-06 17:28] bfirsh commented on #288
If we're namespacing labels, I really hope there's some way we don't have to type `com.docker.swarm...` all the time. I wonder if we can reserve `swarm` as a special namespace.

[2015-03-06 18:08] thaJeztah commented on #288
@bfirsh I agree that typing the whole namespace can become cumbersome; perhaps Swarm should automatically prepend the namespace for swarm-specific usage.

[2015-03-06 18:32] apexskier opened #449 "Cannot create node"
I've created a swarm on a single machine.
[code]
Then I started a node on that same machine.
`$ docker run -d swarm join --addr=<ip of this machine>:2375 token://<token from last command>`

I don't see any nodes available when managing.
[code]

Am I not allowed to use the creation machine as a node? Am I doing something else wrong?

[2015-03-06 19:33] vieux commented on #449
Is docker listening on 2375 on your machine ?

Can you do `docker -H <ip of this machine>:2375 info` ?

[2015-03-06 19:35] vieux commented on #447
I am in favor of using `~` because we could event support "soft constraint" like, try to put my container on a fedora machine, but if there no fedora availalble, put it anywhere else:

`-e constraint:operatingsystem==~fedora`

[2015-03-06 21:32] apexskier commented on #449
No, that's not working.

[code]

Ah, after some research, is my problem that I'm not making docker available over tcp?

https://docs.docker.com/articles/basics/#bind-docker-to-another-hostport-or-a-unix-socket

[2015-03-06 21:48] vieux commented on #449
@apexskier yes exactly, docker needs to listen en tcp

[2015-03-06 21:49] #431 closed

[2015-03-06 23:21] k2xl opened #450 "Docker Labels and Constraint Filter"
I have a file "deploy.txt" with
[code]
On node 1:
[code]
On node 2:
[code]
On node 3:
[code]
I run
[code]
on my linux machine which has access to all the nodes (BTW, is there a way to run swarm manage as daemon? Right now I have to launch another process to do the next few commands...)

(Note that the reason I'm using swarm executable is because when I use the swarm docker container the file is un

[2015-03-07 00:28] garagatyi opened #452 "add docker commit"
I'm working on service that allows users to create developer environments. I'm planning to use swarm instead of (or with) self written tool for load balancing. To save user's containers in private registry I need commit, tag, push commands.

[2015-03-07 00:30] garagatyi opened #453 "Add docker push"
I'm working on service that allows users to create developer environments. I'm planning to use swarm instead of (or with) self written tool for load balancing. To save user's containers in private registry I need commit, tag, push commands.

[2015-03-07 00:31] garagatyi opened #454 "Add docker tag"
I'm working on service that allows users to create developer environments. I'm planning to use swarm instead of (or with) self written tool for load balancing. To save user's containers in private registry I need commit, tag, push commands. Tag is neccessary for pushing to private registry.

[2015-03-07 00:34] garagatyi opened #455 "Add docker build"
I'm working on service that allows users to create developer environments. I'm planning to use swarm instead of (or with) self written tool for load balancing.
User should be able to create dev environment by building container from Dockerfile.

[2015-03-07 01:07] vieux commented on #450
in `deploy.txt` you have
[code]

right ?

---

`swarm manage -H 9999:2375 file://$PWD/deploy.txt ` what is this `9999` here ???

[2015-03-07 02:45] k2xl commented on #450
@vieux  - My fault. I copied and pasted the wrong command from my history. I updated the top. I simply ran
[code]

[2015-03-07 10:10] vieux commented on #450
@k2xl so I guess the last example in the pr is also wrong ?

[2015-03-07 10:11] vieux commented on #450
[code]

???

[2015-03-07 10:12] docteurklein opened #460 "Use implicit ambassadors when detecting cross-node --link"
Ambassadors being described as the [official](http://docs.docker.com/articles/ambassador_pattern_linking/), preferred (and only) way to handle cross-node links, I wonder if it would worth to hack around it, while native overlay networks and cross-node container-graph db lands in docker itself.

I know about #251, and I know swarm without `--link` is not that useful (pardon me :)).

I've [implement

[2015-03-07 14:10] k2xl commented on #450
What is wrong about it? Are you referring to passing in blah as an env variable as well as a constraint? Even if I don't and only have the constraint I still have the same issue.

[2015-03-07 14:11] k2xl commented on #450
What should the command be?

[2015-03-09 07:18] kakazuo opened #462 "How to integrate swarm with mesos"
Hi, I have several questions on integration between swarm and mesos:

First one. how to configure the swarm and mesos to implement the integration? I have a mesos cluster with three master nodes,  and I installed swarm on all master nodes using go get. then I tried to run command:

./swarm manage --cluster mesos zk://192.168.140.134,192.168.140.135,192.168.140.136/mesos

it responses:

INFO[0000]

[2015-03-09 10:25] frntn opened #463 "Cluster-wide container name conflict"
When using swarm, the `NAMES` column of `docker ps` shows names using `hostname/container` format. But the conflict detection mechanism only check the `container` name...

[code]

Name conflicts shouldn't be checked cluster-wide, but local to each remote nodes using the full `hostname/container` format.

---

[code]

[2015-03-09 11:26] frntn commented on #463
### Proposal

This issue can be secured in two ways:

- The [SelectNodeForContainer](https://github.com/docker/swarm/blob/master/scheduler/scheduler.go#L23) function could filter out the `nodes []cluster.Node` where containers have the same name (It supposes the call of [refreshContainers](https://github.com/docker/swarm/blob/342ef1fff29575ae59557ff9f6320b797f7889e2/cluster/swarm/node.go#L183) fun

[2015-03-09 11:42] frntn commented on #463
Hmmm... seems the cluster-wide container name uniqueness may be expected by others as in #427.

The behaviour must be defined first.

I don't think the uniqueness should be cluster wide at all.
For example I can connect on the remote hosts and start containers with the same names breaking this swarm "rule". This may lead to major side effects later on (remove the wrong container, [unexpected updat

[2015-03-09 12:10] frntn commented on #463
### I have tested the following unexpected behaviour

**What I do**

[code]

**What I expected**

- The container started via swarm is removed, the one in the swarm state =>  `d3dd4854609e`
- The container started on the remote node is still up

**What I get**

*the opposite* :
- The container started via swarm is still up, the one in the swarm state
- The container started on the remote node is r

[2015-03-09 14:27] k2xl commented on #450
I updated the example above to remove the -e blah=999. It still has the same issue in not finding the node...

[2015-03-09 17:00] k2xl commented on #450
I figured it out. It was related to this: https://github.com/docker/swarm/issues/380

I was seeing "duplicate IDs" but wasn't sure what was going on. When the nodes were provisioned they were cloned so the key.json was the same.

Removing /etc/docker/key.json on each node then restarting the service worked!

[2015-03-09 17:00] #450 closed

[2015-03-09 17:03] chanwit commented on #376
As framework in #448 is working great now, scheduling strategies need an addition set of integration tests too.
  * Spread in #458
  * Binpack tweaks in #451

[2015-03-09 17:55] vieux commented on #460
I think we should wait to have this feature natively.
Soon, Swarm will reschedule containers on host failure.
This will get very complicated with ambassadors.

Networking is moving very fast on the engine side.

Let's revisit the question in a few weeks.

Thanks.

[2015-03-09 18:07] vieux commented on #462
The mesos and swarm integration is in process, it is not merged so `./swarm manage --cluster mesos zk://192.168.140.134,192.168.140.135,192.168.140.136/mesos` won't work as `--cluster` doesn't exists in swarm yet.

Regarding the "why?" Swarm uses the same API as docker, this means if you are used to the docker cli and if you have tools that works today on top of docker (like fig) they will work on

[2015-03-09 18:08] vieux commented on #436
ping @SvenDowideit

[2015-03-10 06:43] gideonairex opened #469 "Permission denied on swarm create"
I run __docker run --rm swarm create__. It returns
[code]
Am i missing something? I dont know where this error comes from.

[2015-03-10 07:33] vieux commented on #469
Sorry, it was an error on our side. Fixed.

[2015-03-10 07:33] #469 closed

[2015-03-10 07:36] gideonairex commented on #469
Where can I pull the fixed swarm?

[2015-03-10 08:04] vieux commented on #469
@gideonairex sorry, It broke again, I'm working on a fix

[2015-03-10 08:06] gideonairex commented on #469
Okay thanks

[2015-03-10 08:16] pchaussalet commented on #469
@vieux Is the problem related to swarm or to the docker image ? (i.e. : do I have a chance to be able to build a usable version from sources ?)

[2015-03-10 08:16] vieux commented on #469
@pchaussalet it's an issue with the hosted service

[2015-03-10 08:17] pchaussalet commented on #469
@vieux ok, no chance, then... thx

[2015-03-10 08:27] vieux commented on #469
@pchaussalet @gideonairex I fixed the issue for now, we are going to migrate to a new DB in a few days.

[2015-03-10 08:28] gideonairex commented on #469
Thanks man!

[2015-03-10 09:07] docteurklein commented on #460
@vieux thanks for the fast answer. good to hear that networking is going well :)
I'm still wondering how the graph will be stored, since it currently a sqlite db, local to each node.
Anyway, thanks for the awesome work!

[2015-03-10 21:42] vieux commented on #425
I don't get it,

1st: I cannot reproduce, can you ?
2nd: You said in What I do/What I expect/What I see instead that you see nothing and a line after you said ` docker run -i busybox echo ohai → ohai `, so did you see ohai or not ?

[2015-03-10 23:42] #426 closed

[2015-03-12 17:07] csabapalfi commented on #374
Same here. I built swarm locally from the latest master. It still fails.

[2015-03-12 18:27] vieux commented on #374
@csabapalfi you'll have to docker pull first to pull your private image on all hosts

[2015-03-12 20:01] csabapalfi commented on #374
Yeah, I ended up with just doing docker pull locally on all swarm hosts via ansible.

[2015-03-12 20:11] vieux commented on #374
I meant that you can do `docker pull` on swarm, it will pull on all boxes.

[2015-03-13 00:20] ehazlett commented on #401
@kevinsimper were you able to get swarm with the latest beta?

[2015-03-13 00:30] gabrtv commented on #447
+1. This is also a hard requirement for us to adopt to Swarm in a production setting. :racehorse:

In my opinion, soft affinity is the best way to achieve HA placement of homogenous containers distributed via the bin packing strategy.  As an example, if I scale web=5, I'm likely to wind up with 5 containers on the same host.  If I lose that host I suffer an outage of all 5 containers.  With soft a

[2015-03-13 18:29] bfirsh opened #472 ""discovery" implies that Swarm supports service discovery"
Just as a heads up, I have had several people get confused about what "discovery" is in Swarm. They mistakenly assume it is a way for containers to do service discovery (e.g. how does my web server find my database).

I guess it's service discovery for Swarm nodes, but I wonder if there's a better word that could be used so people don't mistake it with a service discovery system they can use for t

[2015-03-13 18:55] thaJeztah commented on #472
Valid concern (I think). Given that `join` is used, "membership" seems like a close match to that for terminology. It does sound a bit awkward though (membership service?)

[2015-03-14 23:40] jhamrick commented on #342
I am finally getting around to updating my deployment of swarm, and can confirm that this is indeed fixed. Thanks @vieux !

[2015-03-15 00:37] jhamrick opened #475 "CPU shares is the number of CPUs rather than shares"
Swarm appears to interpret "cpu shares" as "number of cpus". For example, if I have a machine with 2 CPUs and I schedule a container with 512 CPU shares (which according to [the Docker documentation](https://docs.docker.com/reference/run/#runtime-constraints-on-cpu-and-memory) should give it 50% of CPU time), I get an error saying that there are no resources available to schedule the container:

[

[2015-03-16 01:30] electrical commented on #455
I would love to see this implemented. In my case I want to use this in a CI environment where docker images are built dynamically depending on the job.

[2015-03-16 16:07] jpetazzo commented on #425
With "docker run -i" I see "ohai" but without "-i" I see nothing.

On Tue, Mar 10, 2015 at 2:42 PM, Victor Vieux <notifications@github.com>
wrote:

--
@jpetazzo <https://twitter.com/jpetazzo>
"Is it safe to run applications into containers?"
http://www.slideshare.net/jpetazzo/docker-linux-containers-lxc-and-security

[2015-03-16 17:55] vieux commented on #425
@jpetazzo can you reproduce with the last version ? (I can't)

[2015-03-16 23:08] vieux commented on #424
@rcarmo any news on this ?

[2015-03-16 23:08] vieux commented on #425
ping @abronan

[2015-03-16 23:20] vieux commented on #472
I agree, I think we should say Node Discovery service

[2015-03-16 23:23] rcarmo commented on #424
Not yet. I've gone and built OVS for ARM and got sort of sidetracked. No ETA...

[2015-03-17 07:32] jpetazzo commented on #425
I don't know if I'll be able to test before end of April :/

Are you able to reproduce with 0.1? If you can repro with 0.1 but not with
master, you probably fixed it :-)
On Mar 17, 2015 12:08 AM, "Victor Vieux" <notifications@github.com> wrote:

[2015-03-17 16:53] aluzzardi commented on #427
This is way worse than that - the entire scheduler has this race condition I believe.

If you `docker run -m 10g`, swarm blocks pulling, and right after you `docker run -m 10g`, you might end up scheduling 2 `10g` containers on the same machine (that happens only to have `10g` of ram).

[2015-03-17 17:36] abronan commented on #427
@aluzzardi Agreed, this one is trickier than it seems. Just throwing an idea but we could probably put each request and their attached configuration into a queue at the Manager level. We could pick a node and pull images in parallel for each entry in the queue but only `run` containers once they dequeue. This gives some room to verify resource constraints and naming collisions as well. If at the `

[2015-03-17 17:37] vieux commented on #378
@jmmills any news on this ?

[2015-03-17 17:53] aluzzardi commented on #427
Indeed, this one is tricky. We've been thinking for a while on how to fix it and we basically reached the same conclusions you just did.

This seems to be dependent on the key/value store.

I'm not sure if we should postpone this until we actually have a K/V around? What do you think?

[2015-03-17 23:33] vieux commented on #427
@aluzzardi @abronan what about checking if the node can still carry the container after the pull, and if not retry the whole process ?

Surely it doesn't fix the issue completely, but it helps https://github.com/docker/swarm/pull/481

[2015-03-18 00:45] abronan commented on #427
@vieux Yes, sounds like a good idea to circumvent the issue until we find a better way. We could check for the name as well after the pulling process and throw an error if a container already exists with that name (even though we still need to embed this information in the K/V).

[2015-03-18 00:54] vieux commented on #427
@abronan we could add a default always on "unique name filter"

[2015-03-18 23:46] abronan commented on #425
@jpetazzo I managed to reproduce the issue on a vagrant setup with:

[code]

Will look into it..

[2015-03-19 02:58] chanwit opened #484 "Proposal: Swarm should have the MAINTAINERs file"
The project grows and I'd like to know who should I talk to for code reviews.
The MAINTAINERS file is a good place for new comers to know about this.
As an outside contributor, I have my guess as following:

[code]

/cc @vieux

[2015-03-19 17:13] #192 closed

[2015-03-20 02:32] jimmyxian opened #485 "Proposal: Add node name in "docker images" response"
Currently, the cmd "docker images" show all node images, but it doesn't have node information. Sometimes, we want to known which node the image is belong to .
So, I want to add node name in "docker images" response.
Also,  "docker images" response has five headers(<REPOSITORY><TAG><IMAGE ID><CREATED><VIRTUAL SIZE>).  Which header is better to contain the node name?

[2015-03-20 04:27] vieux commented on #485
There is no good header that's why we didn't put the node name anywhere :p

Docker recently merged labels for both images and container, so this feature will come very soon.

[2015-03-20 07:20] jimmyxian commented on #485
@vieux thks.  It's very nice to have labels to put node information.

[2015-03-20 14:33] calh commented on #475
I'm running into some odd behavior with the CpuShares in the swarm manager API as well.  I'm using the ruby docker-api gem, but it's pretty much just a 1:1 call to the API, so I don't think that's the issue.

If I have 2 nodes in a swarm cluster, one with 16 CPUs, and one with 8 CPUs, and specify `"CpuShares" => 1` I get a container with **12** shares.  If I specify 256 shares, I get "no resources

[2015-03-20 16:01] theodorick commented on #374
I built swarm from master and tried pulling an image from a private registry from the manager.  It looks like it tried the pull on all 3 swarm agents instead of giving a not implemented error, but each node still says authentication required.  I verified the nodes are all logged in and I can pull the image from the private registry on the nodes.  @vieux, it looks like you implied the pull should w

[2015-03-20 16:12] abronan commented on #425
I cannot pinpoint to the location of the issue.

@jpetazzo What was your setup at the time of the test?

@vieux cannot reproduce it with 3 distant agents and a local manager while I can reproduce with 4 local VMs (Agents and Manager directly accessible to each other). Seems to be latency related but not sure.

[2015-03-20 16:27] xcrezd opened #486 "Discovery - sync nodes and not just add the new of them."
cluster.go

In the source code of newEntries func i see that its only adds new nodes to the cluster
For example if i use FileDiscovery and have 3 nodes in nodes.txt file
172.54.12.5:2375
172.54.12.6:2375
172.54.12.7:2375

newEntries will add them to the cluster. We have situation then we need to remove our node(we dont want to use it again) so the new nodes.txt will be like this

172.54.12.5:2375

[2015-03-20 16:52] vieux commented on #486
It's a duplicate of https://github.com/docker/swarm/issues/197, it's in our roadmap, it'll come very soon.

[2015-03-20 16:52] #486 closed

[2015-03-20 23:42] SvenDowideit commented on #436
yeah - those links are written for the published docs: http://docs.docker.com/swarm/scheduler/strategy/

If people are reading them here, I guess we'll have to rename the files in this repo to match how they're published.

[2015-03-21 00:21] #378 closed

[2015-03-21 18:10] Nickology opened #488 "Minor typos in "Filter" documentation"
Though the content appears to be identical, there are two small typos on [docs.docker.com](http://docs.docker.com/swarm/scheduler/filter/) and one in the [README.md](https://github.com/docker/swarm/blob/master/scheduler/filter/README.md).

On [docs.docker.com](http://docs.docker.com/swarm/scheduler/filter/):
* _You can schedule a container only on nodes where the images **are** already pulled._
*

[2015-03-21 18:32] abronan commented on #488
Hey @Nickology, thank you for reporting the typos! Would you like to submit a Pull Request for this? We would be happy to merge :)

[2015-03-21 19:39] Nickology commented on #488
Hi @abronan. I'll submit one right away. :)

[2015-03-21 22:07] #488 closed

[2015-03-22 16:30] oba11 opened #490 "swarm doesnt work with private repositories"
Hi,

Currently playing around with swarm.
I tried `docker run -d -p 80:80 --name app private/app`
I get this error `FATA[0001] Error response from daemon: Error: image private/app: not found`
Note: I already have my .dockercfg in the home directory which works

I manually pulled the image on one of the swarm-hosts but didnt work either

I got it working only by using image affinity `docker run -d

[2015-03-22 16:39] oba11 opened #491 "swarm manage doesnt update swarm hosts"
Try to manage swarm cluster from my local machine using etcd service discovery with below command
`docker run -d -p 2375:2375 --name swarm swarm manage -H tcp://0.0.0.0:2375 etcd://etcd:4001/swarm`

I have 3 hosts in the cluster which works fine with docker info

[code]

If I terminate one of the instances and the key is removed from etcd, swarm manage doesnt update the swarm host list unless I re

[2015-03-22 16:49] oba11 commented on #491
NB: Adding hosts work but not cleanup of stale of hosts

[2015-03-22 20:09] abronan commented on #491
Hey @oba11. We are aware of this, it's a duplicate of #197. It'll come very soon.

[2015-03-22 20:10] #491 closed

[2015-03-23 01:40] jfrazelle opened #492 "Integration tests for API"
Right now, the API is not being covered by unit tests since it's hard to properly test. Integration tests could be written covering every supported CLI command.

Currently, we are missing the following tests:
- [x] docker attach
- [x] docker build
- [x] docker commit
- [x] docker cp
- [x] docker create
- [x] docker diff
- [x] docker events
- [x] docker exec
- [x] docker export
- [x] docker history

[2015-03-23 02:25] crosbymichael opened #493 "Add integration tests to the consul discovery backend"
**Problem**

Add integration tests to the consul discovery backend

**Solution**

Add integration tests to the consul discovery backend

[2015-03-23 02:25] crosbymichael opened #494 "Support tls in the consul discovery backend"
**Problem**

Support tls in the consul discovery backend

**Solution**

All the docker tools supports SSL/TLS, it should be possible to enable TLS to talk to the discovery service. Let's use `consuls://` and use the tlsconfig already provided

[2015-03-23 02:25] crosbymichael opened #495 "Add integration tests to the etcd discovery backend"
**Problem**

Add integration tests to the etcd discovery backend

**Solution**

Add integration tests to the etcd discovery backend

[2015-03-23 02:26] crosbymichael opened #496 "Support tls in the etcd discovery backend"
**Problem**

Support tls in the etcd discovery backend

**Solution**

All the docker tools supports SSL/TLS, it should be possible to enable TLS to talk to the discovery service. Let's use `etcds://` and use the tlsconfig already provided

[2015-03-23 02:26] crosbymichael opened #497 "Add a test for the events endpoint"
**Problem**

Add a test for the events

**Solution**

Add an integration test for the events. Using bats, create a test that connects to the events endpoint, start a few container and check that you goo all the corresponding events"

[2015-03-23 02:27] crosbymichael opened #498 "Integration tests for the file discovery backend"
**Problem**

Integration tests for the file discovery backend

**Solution**

Write integration tests to verify the file discovery backend is working correctly

[2015-03-23 02:27] crosbymichael opened #499 "Add automated golint on pull requests"
**Problem**

Automated golint on pull requests

**Solution**

Add golint to travis.yml

[2015-03-23 02:27] crosbymichael opened #500 "Run golint on the entire codebase"
**Problem**

Golint on the codebase

**Solution**

Use golint on the codebase and fix most of the issues

[2015-03-23 02:28] crosbymichael opened #501 "Add error checking on swarm create if unknown arguments are used."
**Problem**

swarm create command must fail if an unknown argument is used.

**Solution**

Check if argument length is > 0 in the code that handles the create command in `main.go` `main()` function using : if len(c.Args()) != 0 and log a fatal message

[2015-03-23 02:29] crosbymichael opened #502 "Improve overall test coverage"
**Problem**

Improve test coverage for the entire repository.

**Solution**

Test coverage is currently low - it needs to be improved by writing more tests. The most critical areas are scheduler and cluster.

[2015-03-23 02:29] crosbymichael opened #503 "Add integration tests for TLS connections"
**Problem**

Integration tests for TLS

**Solution**

Write integration tests to verify TLS is working correctly both for CLI<->Swarm and Swarm<->Engines.
The tests should generate certificates and verify both --tls and --tlsverify.

[2015-03-23 02:29] crosbymichael opened #504 "Add integration tests to the zookeeper discovery backend"
**Problem**

Add integration tests to the zookeeper discovery backend

**Solution**

Add integration tests to the zookeeper discovery backend

[2015-03-23 05:49] oba11 commented on #491
Thanks @abronan

[2015-03-23 05:53] david-guenault commented on #404
sorry i've been out for a while. Well etcds seems fine for me.

[2015-03-23 05:54] david-guenault commented on #496
isn't this a duplicate of #404 ?

[2015-03-23 06:28] outrunthewolf opened #505 "Naming"
dudes?!

http://www.whale-world.com/what-is-a-group-of-whales-called/

[2015-03-23 06:42] bacongobbler commented on #505
The project's already called swarm. It was a missed opportunity, but what can you do ¯\\_(ツ)_/¯

[2015-03-23 16:27] outrunthewolf commented on #505
:stuck_out_tongue:

[2015-03-23 16:27] #505 closed

[2015-03-23 16:57] abronan commented on #475
I agree that this is an issue that we need to fix to avoid people using CPU limitations getting confused. Even though I think that the notation with a number of shares higher than the actual CPU number could be confusing for most users.

I much prefer something like the Marathon notation with a number of shares linked to the number of CPUs (using a relative weight once you have multiple containers

[2015-03-23 17:13] jpetazzo commented on #425
I've reproduced with:

- local manager + nodes on EC2 (with various latencies; i.e. SF-to-Oregon, Paris-to-Ireland, and a few others)
- manager and nodes all on EC2

[2015-03-23 17:15] calh commented on #475
In a perfect world, I think it would be nice to specify an app's utilization in MIPS.  Lets say you benchmark an app, and at 5 concurrent requests it uses 500MB of memory, and utilizes 50% of a CPU running at 8500 BogoMIPS.  (Save the arguments over bogomips for later though!)

In production, if I wanted my application to scale up to 50 concurrent users, I'd fire off 5 containers, each with a limi

[2015-03-23 17:33] bacongobbler commented on #475
@calh that's probably a good feature request for upstream. Swarm just consumes the Docker API, so a feature like limiting a container by MIPS should be posted there.

[2015-03-23 17:39] calh commented on #475
Okay sure, I'll give it a try.  We'll see how much traction it gets?

[2015-03-23 22:05] abronan opened #507 "Proposal: Rethinking the storage part"
As of now, the storage part stores `RequestedStates` in a local file. This is sufficient for simple use cases, but a few issues and design decisions might need a new way to store node informations.

Mainly, this is blocking a few issues and new features amongst which are:
- The use of multiple managers in a consistent way with replicated state machines (#377)
- The handling of errors like containe

[2015-03-23 22:08] tnachen commented on #507
CAS and deleteCAS which are not always supported in k/v stores, although you mentioned they're optional, if swarm actually relies on these calls then it makes it mandatory then.

In what scenarios does Swarm needs both of them?

[2015-03-23 22:32] abronan commented on #507
I added those calls here just in case. As an example: we would need it for Multi-Managers with load-balancing capabilities. To avoid a Manager trying to book a name for a container while another Manager tries to do the same thing with the same name. So CAS could be useful in the future (even though I agree it's absolutely not necessary for now).

Basically:
- CAS for load-balanced Managers
- Witho

[2015-03-23 22:36] tnachen commented on #507
I see, then seems like minimally just the ability to insert if it doesn't exist and return the status of the write is sufficient. In Zookeeper this just returns a node already exists type status code.

[2015-03-23 23:10] abronan commented on #425
@jpetazzo thanks for the followup. Ok this eliminates an hypothesis :)

[2015-03-23 23:26] abronan commented on #475
@calh Agreed, would be super cool to have the capability to define resource usage on non uniform hardware, though indeed as we consume the docker API, we are limited by existing representations and notation of CPU shares. We could map our own representation in Swarm to the existing one in Docker, but not much more than that unfortunately.

[2015-03-24 17:49] anderssv opened #508 "Docker run needs to show more status when pulling images"
Might be a result of me running on DigitalOcean/ams2 . But when I do a: '''docker run -ti ubuntu /bin/bash''' it pulls the image correctly, but shows no progress whatsoever. As this is a slow operation it is quite hard to know if there is a problem or not. Please print progress when doing this. :)

[2015-03-24 17:53] bacongobbler commented on #508
dupe of https://github.com/docker/swarm/issues/336

[2015-03-24 17:57] abronan commented on #508
@anderssv feel free to comment on the original issue about it :)

[2015-03-24 17:58] #508 closed

[2015-03-24 18:32] anderssv commented on #336
Getting same issue, just with two nodes. Haven't tested with just one. Not seen any real hangs yet though. :)

[2015-03-24 21:54] vieux commented on #490
This is expected for now, as explained in https://github.com/docker/swarm/pull/349

[2015-03-25 09:41] peggyl commented on #500
#dibs

[2015-03-25 10:35] nadgowdas opened #511 "No healthy node available in the cluster"
Hi,

I just started using swarm and i am having issue starting a new container.
I created a swarm cluster and joined from 3 docker hosts.

started swarm from image on node1
node1> docker run -d -p 8090:2375 swarm manage token:0754366c8d2b3d09e8fffd300337aa33

joined cluster from 3 different nodes
node1> docker run -d swarm join --addr=x.x.y.1:2375 token://0754366c8d2b3d09e8fffd300337aa33
node2> do

[2015-03-25 12:29] docteurklein commented on #460
duplicate of  #221.

[2015-03-25 16:38] abronan commented on #511
Hi @nadgowdas,

Prior to running `swarm join` on your Agents, you need to make sure that docker daemons on those agents are available on TCP.

You can launch the docker daemon on those Agents with: `docker -H tcp://0.0.0.0:2375 -H unix:///var/run/docker.sock -d`

(It's actually on the doc but needs an highlight at the top of the node configuration part. Seems to be a common pitfall when first runn

[2015-03-26 00:18] technolo-g commented on #499
#dibs

[2015-03-26 00:19] technolo-g commented on #501
#dibs

[2015-03-26 01:12] gegere commented on #499
#dibs next...

[2015-03-26 01:35] rot26 commented on #498
#dibs

[2015-03-26 01:45] timfallmk commented on #496
:+1:

[2015-03-26 02:51] #501 closed

[2015-03-26 04:05] nadgowdas commented on #511
Thanks abronan.
It work for me now, after starting the docker daemon to listen on TCP port.

[2015-03-26 04:23] abronan commented on #511
@nadgowdas Cool! :+1:

[2015-03-26 04:23] #511 closed

[2015-03-26 04:38] chanwit commented on #504
@crosbymichael maybe I could help for this issue.

[2015-03-26 06:15] vieux commented on #504
@chanwit go for it :D

[2015-03-26 07:23] packetcollision commented on #496
#dibs

[2015-03-26 07:50] technolo-g commented on #499
PR submitted (https://github.com/docker/swarm/pull/514), but depends on Issue #500 before it can be merged. If there is no PR by @peggyl (no rush :) ) maybe we can knock that out together @gegere ?

[2015-03-26 13:34] aluzzardi commented on #507
I'm wondering if get/set is enough.

For instance, if data is keyed by container ID then in order to check for name collision we'd have to fetch the entire data set (since we cannot do lookups based on container names). Thoughts?

[2015-03-26 17:40] abronan commented on #507
@aluzzardi I think having **prefix namespaces** and a single keyed "name store" makes sense as everyone will lookup for the same key and try to modify the same list of names. Thus you don't have to fetch the whole data set to check for names. But, you need CAS in that case. This is only if we want load-balanced Managers, we are not there yet :)

My current PoC only has `Put`, `Get`, `Delete`. Let'

[2015-03-26 17:56] timfallmk commented on #503
To be done after #496

[2015-03-26 18:03] timfallmk commented on #496
Hi @packetcollision, you mind if I take this one? I already fixed it at the party but haven't double checked my work.

[2015-03-27 00:06] pratapchand opened #520 "Fixing Readme file to correctly install with godep"
In the readme file, the documentation is not clear about where swarm needs to be cloned.
The correct way to do it would be within the $GOPATH (e.g. ~/gocode/src/github.com/docker/).

[2015-03-27 00:06] pratapchand commented on #520
#dibs

[2015-03-27 00:41] groob commented on #498
#dibs

[2015-03-27 05:33] technolo-g opened #522 "Integration tests failing in master"
Hi guys,
 When we were hacking yesterday at the open-source-a-thon, we couldn't get the integration tests to pass on master. We were able to write an additional one that works but the ones already there seem to be jacked (or we couldn't understand the instructions). Here is what I'm seeing:
[code]

What `docker ps` looks like during the test:
[code]

[2015-03-27 05:42] packetcollision commented on #496
@timfallmk go for it!

[2015-03-27 12:18] robwithhair opened #523 "Failover in swarm/machine"
Hi there,

I have read multiple articles mentioning failover in docker swarm but I can't find anything in the docs.  Is this feature still in development?  If not can you point me in the right direction to where to find out about it?

Sorry to put this in the issue queue as it's kind of a question but also I suppose a documentation/communication issue.

[2015-03-27 12:43] nadgowdas opened #524 "not able to install swarm from source"
Hi,

I am trying to install swarm code from source, and i am getting bunch of import errors:

/home/shripad/repository/gocode/

/home/shripad/repository/swarm

manage.go:12:2: cannot find package "github.com/docker/swarm/api" in any of:
        /usr/local/go/src/github.com/docker/swarm/api (from $GOROOT)
        /home/shripad/repository/swarm/Godeps/_workspace/src/github.com/docker/swarm/api (from

[2015-03-27 12:47] robwithhair commented on #452
I'm having the same issue.  Could do with being able to commit and push our jenkins container from the swarm.

[2015-03-27 12:59] pratapchand commented on #524
The instruction in the readme file is incomplete. Before the git clone step for swarm, you need to change directory to $GOPATH/arc/github.com/docker.

This is similar to the issue #520

[2015-03-27 13:07] nadgowdas commented on #524
Thanks. After changing the swarm clone location, i am able to build it.
It would also help, if we could change the documentation.

[2015-03-27 13:55] pratapchand commented on #524
There is a PR that is waiting to be reviewed.
https://github.com/docker/swarm/pull/521

[2015-03-27 19:15] #520 closed

[2015-03-27 19:25] vieux commented on #524
#521 was merged.

[2015-03-27 19:25] #524 closed

[2015-03-27 19:26] vieux commented on #522
@aluzzardi can you take a look ?

[2015-03-28 00:51] TrumanLing opened #527 "How to build Swarm"
I tried to use ```go build``` and got swarm executable binary file, but my modification can't be compiled into the binary file.

So I tried to modify ```Dockerfile``` and make a new build script file, which are made by referring Docker Machine, but size of output binary file is different, and I am worrying that.

How do you compile swarm, very much hope to get response from you?

[2015-03-28 01:55] Fangfenghua opened #529 "Swarm state monitor"
Did swarm has any plan to implement function monitor swarm status?

[2015-03-28 03:02] peggyl commented on #499
@technolo-g @gegere Sorry for the delayed response; a few other things came up this week and I didn't get a chance to revisit this after the Docker SF event on Wednesday.

I started on #500 but so far have mostly fixed the naming/casing issues. The remaining golint fixes are for adding comments on exported functions and variables, which is a bit more non-trivial since it requires reading enough of

[2015-03-30 02:50] jimmyxian opened #533 "The idea of the implementation of 'docker commit' in swarm"
I want to implement the 'docker commit' api in swarm, the following steps is my idea to do this:
(1) find the node that CONTAINER is running on
(2) send commit request to this node

is it OK?

[2015-03-30 03:57] abronan commented on #527
Hi @TrumanLing,

What kind of modification have you made? `go build` seems enough if you got the binary in the first place but if you added a package related to the changes you made, `go get` the package first and then `godep save`/`godep go build`. If you can provide us with more details about the nature of those changes, we can probably help troubleshoot the issue and find out why you can't buil

[2015-03-30 06:02] rachit1arora opened #534 "How to reserve CPU"
I am trying out swarm . I have built a swarm cluster using 2 nodes.

I am able to reserve memory using -m option during run command , but i am not able to reserve cpu , i have tried cpuset="0-3" and cpuset="0" and cpuset="0,1" , none of these reserves a CPU ,

Here is the output from info command
 docker -H tcp://10.ddd.yy.xx:2375 info

Containers: 12
Nodes: 2
 xxx-dev-008: 10..XXX.DD.ZZ:2375
  â

[2015-03-30 07:04] Fangfenghua opened #535 "Enable cpu filter"
In  NFV case, some application need high perfermance, the end-user want the application  exclusive the cpu core.So we want add a cpu filter.The main idea is:
1 if the host has run contariner,that not specify cpuset,then the node  will past;
2 if all container had spectfiy cpuset,but didn't has enough cpuset the node  will pass;

[2015-03-30 08:19] TrumanLing commented on #527
@abronan thanks for your response!

My case is very simple, I just added some log code in file discovery/token/token.go to check its implementation flow. But there is no any compilation with this file's modification, moreover the executable binary file ```swarm``` I got is downloaded from somewhere, and it's version is 0.1.0, however, I cloned the latest source code, it should be 0.2.0 at least.

[2015-03-30 15:56] gegere commented on #499
@technolo-g @peggyl I am still pretty new to Go and thought this would be something I could tackle at the hackathon. Any chance a future hangout would work and explain a few details. Happy to be a grunt, need to take on some more knowledge. Thanks!

[2015-03-30 17:35] vieux commented on #535
I don't get it, what's the difference with `-c 1` ? to have one cpu

[2015-03-30 19:15] Fangfenghua commented on #535
That's mean let -c 1 is exclusive!Other container can't use it!The container  you assign the core can use it 100%!

[2015-03-30 19:18] vieux commented on #500
Closed by #514

[2015-03-30 19:18] #500 closed

[2015-03-30 22:59] vieux commented on #533
@jimmyxian yes it seems good.

[2015-03-31 01:11] jimmyxian commented on #533
@vieux OK. I will do it

[2015-03-31 01:17] jimmyxian commented on #529
@Fangfenghua You can see following issues, maybe help you:
https://github.com/docker/swarm/issues/507
https://github.com/docker/swarm/issues/377

[2015-03-31 02:31] snrism commented on #485
@jimmyxian maybe you know this already..just fyi: you can use the filter to get the images in a specific node "docker images --filter node=host1".

[2015-03-31 06:51] Fangfenghua commented on #535
@vieux   Use  -c 1,  We can let container bind to cpu-set 1, but  can't restriction other container use cpu-set 1 in the same node . In high-perfermance use case, We want the cpu-set can just use by one container in a node,it's exclusive.
     If we run container A  in node-1 use cpu-set 1-2，We didn't wish any container didn't specify cpu-set or specify cpu-set 1-2 can run in node-1,Only container

[2015-03-31 07:22] jimmyxian commented on #485
@snrism Yes, but I think it's much better to do this through label. Just like this issue(https://github.com/docker/swarm/issues/288).

[2015-03-31 16:40] snrism opened #544 "Use of Health Filter"
I am trying to understand the need for health filter in scheduler. The doc mentions that the health filter "will prevent scheduling containers on unhealthy nodes". I believe this is the expected default behavior even without the filter right? If yes, then why have the health filter option? If no, some clarification on this will help..thanks

[2015-03-31 19:02] #499 closed

[2015-03-31 20:36] vieux commented on #544
Right now, the nodes are never removed of the cluster, they are marked as unhealthy.

As soon as we properly remove nodes from the cluster, we won't need the health filter anymore.

[2015-03-31 20:41] vieux commented on #533
Closed by #538

[2015-03-31 20:41] #533 closed

[2015-03-31 21:16] aluzzardi commented on #544
@snrism: Yes, this is the expected behavior. The filter is the implementation of that behavior. Filters are the way we add filtering to the scheduler, not just options.

[2015-03-31 21:16] #544 closed

[2015-03-31 21:40] aluzzardi commented on #475
@jhamrick  @abronan

Swarm interprets CPU shares as # of CPUs.

The reason it doesn't work in the same way as Docker is because we need a relative weight that works across nodes, which Docker itself doesn't need.

For instance, if you specify `-c 512` and end up on a 16 CPUs machine, then you'd get 8. If, on the other hand, you end up on a machine with just 1 CPU, you'd get half. Basically `-c` be

[2015-03-31 21:42] vieux commented on #475
@smothiki ^

[2015-03-31 21:47] aluzzardi commented on #534
It's not `cpuset` but cpushares `-c`. Just do `-c NumberOfCPUCoresYouWant` and you should be good to go.

[2015-03-31 21:47] #534 closed

[2015-03-31 21:49] aluzzardi commented on #527
All you need to do is:

[code]

[2015-03-31 21:49] #527 closed

[2015-03-31 21:52] aluzzardi commented on #522
Hey @technolo-g, silly question: Is docker reachable from the terminal you are trying to run bats from? (as in, DOCKER_HOST properly set, pointing to an actual docker daemon, not swarm itself, etc)

[2015-03-31 22:07] snrism commented on #544
Got it..thanks

[2015-03-31 22:35] smothiki commented on #475
@aluzzardi  I agree that # of cpus is always a better convention ,but the main intention of the PR is to make Swarm CPU shares compatible with Docker Client .
As commented by @vieux in the PR  about ```--cpu-mode``` . A better implementation would be supporting Docker client compatible CPU Shares by default and a ```--cpu-mode``` flag to mention # of CPUS . I feel its better if # of CPUs supports

[2015-03-31 23:02] vieux commented on #475
@smothiki the things is, as mentioned @aluzzardi

Let's say you have a cluster of 2 machines, one has 1cpu and the other has 4 cpus.

When you do `docker run --name db-mysql -c 512 -d mysql` do you expect 0.5 cpu or 2 cpus ?
We simply cannot use cpu-shares across multiple machines.

[2015-04-01 00:54] smothiki commented on #475
@aluzzardi @vieux Sorry , got it . Right now docker doesn't respect # of CPUs . So we need to normalize # of Cpus to 1024 to pass it to docker API.  Below are few issues we've faced .

1. Swarm cannot take fraction of a CPU i,e float, as the GO docker Client doesn't support float for CpuShare.
2. When a container is launched through docker cli (without using Swarm) giving a cpu share number that i

[2015-04-01 01:19] vieux commented on #475
@smothiki for 1. what do you think of https://github.com/docker/swarm/pull/546

[2015-04-01 01:39] smothiki commented on #475
@vieux #546  doen't solve issue 1 giving fraction of a CPU (0.8/1) [samalba/dockerclient] (https://github.com/samalba/dockerclient/blob/b6fedb4bb68f1a49ae6dd6bf0ece55d39fa32510/types.go#L11) .But normalizes the Cpu value to 1024

[2015-04-01 01:54] smothiki commented on #475
@vieux Apologies for multiple updates of the comment .
#546 doen't solve issue 1 giving fractional values of Cpus . (0.8/1)

[2015-04-01 19:00] vieux commented on #475
@smothiki you are right, at least it fixes the calculs, that are completely wrong today.

[2015-04-01 21:23] smothiki commented on #475
@aluzzardi @vieux  any thoughts on making Cpu shares multiples of 10 .

[2015-04-01 22:41] #427 closed

[2015-04-02 00:01] smothiki opened #555 "Optimize atomic operations in swarm"
A short term fix for the race conditions was merged in PR https://github.com/docker/swarm/pull/545 .
The main operation that requires atomicity is applying filters to a set of nodes and selecting a node form the filtered list according to the scheduler strategy . Once a node selection is atomic then create container operation on that node need node be locked.

[2015-04-02 07:32] ashish235 opened #557 "Not able to run containers in the cluster."
I started with swarm today using a docker image but I 'm unable to run any containers from the cluster.

The swarm version on my machine is:
[root@localhost ~]# docker version
Client version: 1.5.0-dev
Client API version: 1.18
Go version (client): go1.3.3
Git commit (client): fc0329b/1.5.0
OS/Arch (client): linux/amd64
Server version: swarm/0.1.0
Server API version: 1.16
Go version (server): go1.3

[2015-04-02 08:06] snrism opened #558 "Make heartbeat type as unsigned int"
Current heartbeat type is integer and can accept negative values or single digit interval time. This can lead to frequent registration with the manager and can be flaky. To improve this, I believe we can make two changes:

- Make heartbeat type as unsigned
- Define a minimal heartbeat interval (say 10sec). However this can be optional.

Any thoughts if this will be useful?

Thanks,
Sriram

[2015-04-02 11:36] sunyc opened #559 "static file discovery backend should ignore line start with "#""
currently it doesn't, I will see if I can send a pull request for this.

[2015-04-02 11:40] vincentwoo commented on #197
@vieux saw from your comments in linked issues that this was going to be addressed soon - can you give us any updates on how this is coming together?

[2015-04-02 12:48] evoevodin opened #560 "Runtime error when getting system information"
I can't reproduce it but anyway.

[code]

* CentOS 7
* Docker version 1.4.1
* Swarm version 0.2.0-rc1

And i had the same problem dealing with swarm 0.1.0

[code]

[2015-04-02 15:39] abronan commented on #557
Hi @ashish235,

Have you tried using `docker -H tcp://0.0.0.0:6000 info` instead?

[2015-04-02 18:23] vieux commented on #559
@sunyc good idea

[2015-04-02 19:14] qkslvrwolf opened #562 "Docker swarm not connecting with "unsupported version""
I have two machines, .137 and .138.  Both are ubuntu 14.04

Both have docker 1.5.0 Build a8a31ef

I used docker pull swarm, like the docs said.

On 137, I ran
docker run --rm swarm:0.2.0-rc1 create
which returned: af88de735316ff60e61db70e5d8c5e0f

Then on 137, I ran docker run -d -p 2375:2375 swarm:0.2.0-rc1 manage token://af88de735316ff60e61db70e5d8c5e0f

And on 138 I ran docker run -d swarm:0.2.

[2015-04-02 21:00] ch3lo commented on #534
Why -c? If I'm right, -c by default is 1024 and it is a relative weight to others containers.

[2015-04-02 23:57] phuna opened #563 ""docker info" returns "Nodes: 1" while I joined 2 nodes"
I'm not sure why when I run "docker info" it returns only the the node which joined 1st. I tried to run "docker info" several times to ensure it's not caused by discovery delay but result still the same.

[code]
Commands I used to create cluster and join nodes:
[code]

[2015-04-03 00:05] mgoelzer opened #564 "Docker Swarm: Race condition in etcd discovery"
In the etcd discovery provider, when you use a short heartbeat interval, a race occurs between the TTL and the heartbeat update causing nodes to briefly disappear from the cluster (due to etcd key expiration) and then reappear.

How to reproduce:

1.  Start swarm join with a short heartbeat interval, e.g., 1 second:

[code]

2.  Note that this will cause ttl to be 1 because of this line:  ```s.ttl