[2015-09-02 00:57] bfirsh commented on #1156
An idea: Maybe we could run the entire Compose integration test against Swarm? It's a pretty thorough test of everything Compose does.

[2015-09-02 01:12] #1149 closed

[2015-09-02 01:12] jimmyxian commented on #1149
via https://github.com/docker/swarm/pull/1159

[2015-09-02 01:59] ahmetalpbalkan commented on #1185
:+1: thanks for the investigation @MHBauer.

[2015-09-02 20:23] kevinsimper commented on #1173
I tested it today, but of cause i could not reproduce today, so that is good i think.

I will post again if I experience it again.
[code]
![swarm](https://cloud.githubusercontent.com/assets/1126497/9643270/34c8dd30-51c1-11e5-9d22-300dac79e186.gif)

[2015-09-02 23:17] bfirsh opened #1189 "Support volume API"
Engine 1.9 will have a new volumes API, which Swarm should probably support in some way. It is perhaps not practical to support local volumes, but it could be pretty interesting to support network storage with volume drivers.

https://github.com/docker/docker/pull/14242

/cc @cpuguy83 @lukemarsden

[2015-09-02 23:44] lukemarsden commented on #1189
Hey @bfirsh - thanks for the ping! @vieux could we do a hangout to discuss what you have in mind for this, and how it can fit into the volume plugins model?

[2015-09-02 23:47] vieux commented on #1189
@lukemarsden let's keep the discussion here, so it's open to everyone who wants to participate.

[2015-09-02 23:57] vieux commented on #1189
What do you think of this naive approche to start with, we do the same thing as we do with images.

`GET /volumes`: we do kind of like images, we display volumes for all the machines, without duplication (like https://github.com/docker/swarm/pull/1166)
`GET /volumes/{name:.*}`: we forward to *a* node that has the volume and return the volume (like inspect for images)
`POST /volumes`: we do it on e

[2015-09-03 00:10] thaJeztah commented on #1189
One thing to take into account here is that reference counting is performed *per daemon*; What if a plugin offers centralized storage (I.e,, "volume A" on each node actually points to the *same* volume), and that volume is no longer referenced on a node? In that case, the daemon on *that* node will proceed, and remove/delete the volume, whereas it can still be referenced on *another* node.

I also

[2015-09-03 10:32] agsmorodin opened #1191 "Swarm panic when docker-machine is unreachable"
Swarm dies if I create/remove docker-machines (EC2) and  send the requests to swarm at the same time (using just docker ps).  I am using default discovery method.

Swarm log:
[code]

[2015-09-03 15:39] MHBauer commented on #1185
I think this is the same as issue #1044. We don't try to do an initial connect to an engine more than once.

[2015-09-03 18:42] myechuri commented on #1189
[code]

This sounds like duplication of a lot of work done in Flocker. Instead of Swarm reimplementing volume driver's control service functionality, would it be more efficient to make these Swarm calls passthrough to volume driver's control service (like Flocker control service), since the volume driver has greater visibility into backend types (shared/DAS/etc)), therefore dealing with scenarios

[2015-09-03 18:44] vieux commented on #1189
I would like to be able to use https://github.com/vieux/docker-volume-sshfs with swarm or any other simple volume plugin. That's why I think the work should be done in swarm, not always delegated to the plugin.

[2015-09-03 20:54] aanm opened #1194 "Swarm has deadlock with the scheduler"
I think swarm has a deadlock with the scheduler if a request is lost between swarm master and the docker daemon.
[code]

https://gist.github.com/aanm/cd073fe77f74d63732e4

ping @abronan

EDIT: This occurs with replication mode

[2015-09-03 20:57] aanm commented on #1194
Probably related with https://github.com/docker/swarm/issues/786 but I was able to do `docker info`, `docker ps -a` etc. What I wasn't able to do was `docker create` or `docker run`

[2015-09-03 21:23] abronan commented on #1191
Hi @agsmorodin, thanks for reporting the issue. Can you output these informations for the swarm running with machine:

[code]

[2015-09-03 21:39] aanm commented on #1194
Turns out it happens to without replication mode

[2015-09-04 01:07] abronan commented on #1194
I'm not yet 100% sure but this might not be *only* a Swarm issue, docker `1.8.2-rc1` fixed a few issues related to `docker pull`:

- Fix ^C on docker pull (*on the cli side*)
- Fix docker pull issues on client disconnection.

So this could also be an intermittent (and rare) issue on pull with `docker run` (which goes through the scheduling process), the pull stays blocked and the scheduler remains

[2015-09-04 03:46] aanm commented on #1194
@abronan I'll test it later, btw I can confirm that there isn't a single pull being done by the requests since all images are already installed.
My setup is something like this:
[code]

[2015-09-04 05:00] shihch commented on #1191
Got the same issue. After I use 'docker-machine rm <swarm-agent>',  using docker ps or docker info only hangs on the docker-machine host.

-swarm version 0.4.0 (d647d82)

docker info from my swarm-master
[code]

docker version
[code]

[2015-09-04 08:01] agsmorodin commented on #1191
Hi,

my info:

[root@ip-10-10-92-129 centos]# docker info

Containers: 3

Images: 31

Storage Driver: devicemapper

 Pool Name: docker-202:1-67184923-pool

 Pool Blocksize: 65.54 kB

 Backing Filesystem: xfs

 Data file: /dev/loop0

 Metadata file: /dev/loop1

 Data Space Used: 1.519 GB

 Data Space Total: 107.4 GB

 Data Space Available: 18.73 GB

 Metadata Space Used: 2.245 MB

 Metadata Space T

[2015-09-04 15:56] abronan commented on #1194
@aanm thanks for checking. Yes the pull issue I mentioned has virtually the same effect than dropping a connection in the middle of a create request: The scheduler could stay locked. This is a general issue with the scheduler if you are dropping connection between the Manager and the Agents. Was trying to pinpoint what could possibly trigger this situation without dropping the connection. But thos

[2015-09-05 23:34] kawasakitoshiya opened #1197 "docker run fails when using private registry that needs authentication"
`docker run` fails when using private registry that needs authentication, while `docker pull` works.
[code]

I'm using `swarm:0.4.0`

[2015-09-06 01:03] jimmyxian commented on #1173
@kevinsimper OK

[2015-09-06 02:12] chanwit commented on #1173
@kevinsimper is it possible to be caused by another process or at the OS-level? Like when we're doing something bulky, our machine looks hanging.

[2015-09-06 06:46] jimmyxian commented on #1189
I think do `volume create` on every node is not proper. This case:
Swarm cluster have four nodes. Two nodes have A volume plugin driver, another two have B volume plugin driver. I want use A drvier to craete volumes, just like this:
[code]
In swarm, I think we should just do `create` on the nodes that have A volume driver.
But it seems that can not get volume driver list from a docker engine. If w

[2015-09-06 09:04] chanwit opened #1198 "Proposal: Serf-discovery mode"
Currently we need to hard-code a discovery URL for every `swarm join` to make the agent able to join a cluster. Hard-coded discovery makes this architecture not scaling very well.

This issue proposes a new architecture called `self-discovery`. It includes:
- IP scanning on a specific port to make an agent try its best to find a peer in the current network (but it's not the best idea anyway)
  - u

[2015-09-06 11:15] jimmyxian commented on #1198
Cool!
But we need consider this case: Create two container on different two managers at the same time.  We will meet Parallel scheduling problem.
Maybe two ways to solve:
* Using Something like Using Distributed Lock to solve Parallel scheduling.
* Using  leader election. Only one leader at a time. If the request lands on a manager that is not currently the leader, it forward it to the right insta

[2015-09-06 11:33] kevinsimper commented on #1173
@chanwit It could most likely! It was just a little too long time, so I did not thought it was that.

[2015-09-06 11:44] chanwit commented on #1173
@jimmyxian shall we close this issue then?

@kevinsimper please feel free to re-open it when you find something strange again.

[2015-09-06 11:48] chanwit commented on #1198
@jimmyxian yep, leader election would be helping us.

[2015-09-06 12:22] doronp opened #1199 "Authorization (ACLs) support in Swarm as a first step towards multi tenancy."
## Overview

Swarm currently doesn't support multiple tenants or general authorization roles. It may be crucial for some users to be able to manage their docker cluster  using Swarm while being able to isolate between the different tenants and users. This means that while several tenants are using the same docker engines and other resources to run their containers they will have isolation in terms

[2015-09-06 12:38] jimmyxian commented on #1173
@vieux Yeah

[2015-09-06 12:38] #1173 closed

[2015-09-06 12:44] thaJeztah commented on #1189
@jimmyxian good point; I think you should open an issue for that. As a workaround, daemon labels could be (mis)used to indicate which drivers are supported on a node

[2015-09-06 12:51] chanwit commented on #1189
@jimmyxian maybe `volume create --filter driver=A`?
If we can support filtering like this, `--filter` could be also applied for `volume ls` too?

[2015-09-06 13:05] thaJeztah commented on #1189
I think the driver should only be of concern when *creating* a volume (with a specific driver); after the volume is created, the volume can be referenced by its name, and Swarm should only be interested if a volume with that name is present or not. Querying if a volume with a specific name *and driver* exists would take away the abstraction that "named volumes" provide.

It would become "interesti

[2015-09-07 00:55] jimmyxian commented on #1189
@thaJeztah Thanks. I will create a issue in docker.

@chanwit I agree with @thaJeztah :)

[2015-09-07 11:22] wayerr opened #1200 "swarm manage with token discovery hangs after errors"
hang at 88 line:

https://github.com/docker/swarm/blob/6678a167fe873a320d00aa99be09945ac5f9ca96/discovery/token/token.go#L88

Trace:
[code]
This problem is appears when we run 'swarm manage' with temporary inaccessible internet, after access is returned the swarm will not retrieve node list, but swarm join work correctly.

[2015-09-07 11:26] interair commented on #1200
+1

[2015-09-07 16:42] chanwit commented on #1198
Maybe we can try `mDNS` mode in `serf`. It's known to work well for private networks (but not for cloud).
https://github.com/hashicorp/serf/blob/master/command/agent/mdns.go

[2015-09-07 19:40] abronan commented on #1200
Hi @wayerr, thanks for reporting the issue. Can you test with #1201? Should work :smile:

[2015-09-08 04:18] #1200 closed

[2015-09-08 04:51] abronan commented on #1200
@wayerr So the patch was merged but feel free to re-open if you still encounter the issue. Couldn't reproduce despite shutting down my connection and putting it back up a few times (Adding and removing nodes). Thanks again for reporting it.

[2015-09-08 05:07] chanwit commented on #1200
@abronan sorry for not looking at this issue before merging :(:(:(

@wayerr please feel free to re-open if the problem still persists.

[2015-09-08 05:12] abronan commented on #1200
@chanwit No worries, it was such a small obvious patch that this needed to be merged :+1: I just want to make sure the issue is indeed fixed from this PR perspective, might be a detail I missed for example.

[2015-09-08 11:03] wayerr commented on #1200
Thanks, after fix it not reproduced!

[2015-09-08 12:20] garagatyi opened #1203 "docker events command doesn't work with swarm"
I tried to run swarm in accordance to docs at https://docs.docker.com/swarm/install-w-machine/.
Docker events doesn't return anything. Here is how I check it:

[code]

Do you have any thoughts?

[2015-09-08 12:22] chanwit commented on #1198
We will have this file: `~/.docker/swarm/.known_peers` for storing a set of known peers to make bootstrapping faster for the first run. Let me know what do you think about this.

[2015-09-08 14:32] lukemarsden commented on #1189
Hey @vieux, (@cpuguy83 FYI),

We've done some analysis on your proposed behavior against Flocker plugin's behavior, and it should all work as you propose. Detailed analysis below.

It's important to note that with Flocker and the Flocker Docker plugin, Docker volumes are more like *references* to Flocker volumes. Flocker volumes have a lifetime which can survive beyond that of individual container

[2015-09-08 17:29] abronan commented on #1203
Hi @garagatyi, thanks for reporting. It just seems like `events` from swarm only gets the event stream and does not support the request parameters: `since`, `until` and `filter`. We need to add those so that `events` is fully supported.

[2015-09-08 18:52] #1164 closed

[2015-09-08 22:03] ahmetalpbalkan commented on #1185
eh that seems stalled.

[2015-09-08 22:33] abronan commented on #1093
Fixed by #1168

[2015-09-08 22:33] #1093 closed

[2015-09-08 22:36] abronan commented on #1002
There is a proposal ongoing in #1198

[2015-09-08 23:32] MHBauer commented on #1203
Looking at the code, it's set up to stream the events as they come in. Getting events in the past, using `--since` would mean going and talking to every client, and then collating them. Or the events could be cached from each daemon, as they only keep the most recent 64 events (see [here](https://github.com/docker/docker/blob/master/daemon/events/events.go#L23)), but you'd have to ask for all the

[2015-09-09 00:23] vieux commented on #1203
@MHBauer can you try to implement `until` and then `since` in a separate PR ?

Thanks!

[2015-09-09 00:47] vieux commented on #1151
@jimmyxian @chanwit any news on this one ?

[2015-09-09 00:49] MHBauer commented on #1203
Yes, I will give `until` a shot.

[2015-09-09 00:50] vieux commented on #1203
Thank you

[2015-09-09 00:58] vieux commented on #1140
@abronan did you open an issue on the engine ?

[2015-09-09 01:08] feiskyer commented on #821
@aluzzardi Looking forward to it.

[2015-09-09 03:54] abronan commented on #1140
@vieux Yes the proposal on the Engine side is on docker/docker#15639. Needs your input :)

[2015-09-09 04:11] jimmyxian commented on #1151
@vieux Yeah, here is my idea:
Once pull/load/import error on some nodes, do not return util all nodes done.
Then collect all the errors in swarm and finally return all the error to client.

WDYT?

[2015-09-09 21:09] abronan commented on #1199
Thanks for the proposal @doronp and the thorough research on issues that are on the engine side, I do think this is important and that we should allow to clearly separate objects living in the cluster based on authorizations.

We can still **emulate** this behavior on top of Swarm: you can have your own authorization mechanism, apply labels on containers and filter on those labels based on authori

[2015-09-09 22:00] abronan commented on #1198
@chanwit Sounds good! :+1:

IP scanning might not the best approach though, we can have a very simple UI like:

[code]

And this should be sufficient for most cases and the UI is not much more complex .

The flag is badly chosen because it stutters with the command name but we can find another one or use the existing notation for discovery services:

[code]

Also I see how the file could be useful

[2015-09-09 22:05] abronan commented on #1198
@jimmyxian Scheduling is an issue today even with a single Manager and multiple requests incoming. The purpose of a Serf backend for discovery would be to get rid of the store entirely though and keep the operational maintenance low, so `Distributed Locks` or mechanisms for `Leader Election` might not be available in this case.

My first shot for the parallel scheduler was to use Consul, Etcd and

[2015-09-09 23:42] MHBauer commented on #775
Since this is base docker which is actually printing the response, and it knows nothing about swarm, it prints what it gets returned without any awareness of what it is printing. I am not sure if `docker info` can be passed flags that go down to the server. If not, the only real option is to add more information from `swarm manage`, but that might be an information overload on anything but the sma

[2015-09-10 03:49] MHBauer commented on #1090
@aluzzardi this is fixed by #1205 and can be close.

[2015-09-10 03:50] jimmyxian commented on #1090
@MHBauer Thanks :+1:

[2015-09-10 03:50] #1090 closed

[2015-09-10 09:55] h0tbird commented on #1183
+1

[2015-09-10 16:04] doronp commented on #1199
@abronan . Indeed I started with a prototype based on labels and filters above Swarm then integrated it into Swarm. If it is OK with you I will clean it up and issue a pull request.

[2015-09-10 18:53] abronan commented on #874
Sorry for the late response @mklatsky, I guess you figured this out in the meantime but if using `docker-machine` you should use `docker-machine env --swarm swarm-master` instead to point and set the proper environment variables. It is in the docker-machine [documentation](https://github.com/docker/machine/blob/e054d06163d6559ee5417fc577ea14befbd456ff/docs/get-started-cloud.md).

The reason is tha

[2015-09-10 18:59] ahmetalpbalkan opened #1207 "Default SWARM_HOST (--host) is not documented in the CLI"
By looking at the following output I have no clue what port Swarm will be listening on. Could be 2375, 2376 or maybe a socket... I think the default should be documented here somehow.

[code]

[2015-09-10 19:01] abronan commented on #874
I'll close this one for now, feel free to re-open if there is still an issue with swarm registering node.

[2015-09-10 19:01] #874 closed

[2015-09-10 19:04] MHBauer commented on #1207
I know the swarm *image* is set to listen on 2375, but I don't think swarm itself has that configured. It keys off of the environmental variable `SWARM_HOST`, which is exactly what the doc there says.

[2015-09-10 19:17] ahmetalpbalkan commented on #1207
@MHBauer Hmm I think perhaps we can even pick up from the default...

For instance Docker CLI picks up things from the env and shows what defaults are used.

if you run `docker --help`:

[code]

but If I set DOCKER_TLS_VERIFY and DOCKER_CERT_PATH:

[code]

see how --tlsverify and other --tls* flags are changed.

[2015-09-10 19:42] pbecotte commented on #1106
That solution could solve some of the SAME problems that something like Consul does- but it won't help RUN something like Consul, where you have to pass command line arguments to the process when you launch it.

[2015-09-12 23:05] rgardler commented on #1183
This makes Swarm+Mesos completely unusable. What is even worse is that SWARM is sucking up all the resources from other frameworks too. @tnachen can you point me at the refactoring work you mention, this is a blocker for me right now and I'd like to follow along and at least provide some testing, if not patches.

[2015-09-14 13:23] jimmyxian opened #1211 "Use discovery from docker/docker"
Use discovery from docker/docker, as soon as https://github.com/docker/docker/pull/16229 merged.

[2015-09-15 08:57] otzy007 commented on #705
I'm having the same trouble when trying to link kibana to an elastic search container:

[code]

[code]

[2015-09-15 08:57] chanwit commented on #1198
Waiting for docker/docker#16229

[2015-09-15 17:54] feiyang21687 commented on #930
@aluzzardi are you still working on it?

[2015-09-15 18:33] abronan commented on #930
Hi @feiyang21687, it's done on the `libkv` side for at least `etcd` and `zookeeper`.

The only bits left are the `Consul` TTL scheme (with session delete **behavior**) in `libkv` and finally add the flag here to configure the `TTL` accordingly. I guess that this issue should be tracked on both sides now that we have a separate repository to handle the distributed locking logic.

[2015-09-15 20:08] gauravphoenix opened #1214 "/info JSON output of docker swarm is not machine friendly"
Here is sample output given by "/info" api

[code]

Instead of providing JSON array of docker hosts with nested information, the API provides a flat output which is cumbersome to parse. The parser needs to be aware of position of elements within JSON array which is not a good design

A much cleaner output will look like this-

[code]

[2015-09-15 20:14] vieux commented on #1214
@gauravphoenix yes but the docker cli wouldn't display these information

[2015-09-15 20:15] gauravphoenix commented on #1214
@vieux  I agree. This is a problem for those who are trying to consume the docker swarm API.

[2015-09-15 20:23] abronan commented on #1214
I think this is a more general issue regarding the Swarm API that is discussed in #735. As of now we offer the same subset than the Docker remote API, but Swarm should somehow extend this capacity to provide more useful informations and capabilities. `/info` is a good example.

[2015-09-15 21:14] abronan commented on #869
Closing this for now, @myfear let us know if you still encounter this issue with the latest versions of `swarm` and `docker-machine`, thanks! :)

[2015-09-15 21:14] #869 closed

[2015-09-16 04:42] aanm opened #1215 "events after engine connection inexistent"
If an agent is disconnected from a cluster, that shows up in the list of events of swarm master
[code]
However, the same doesn't occur if node1 is connected again.

[2015-09-16 05:18] abronan commented on #1215
Hi @aanm, hmm strange we do have an emitted `engine_connect` event on `ConnectWithClient`.. does this only happen when the engine disconnects and reconnects?

[2015-09-16 12:40] kevinsimper opened #1217 "Reserved Memory not release"
Containers that have exited still take up reserved memory, is that correct?

`Exited (137) 35 minutes ago`

[2015-09-16 12:44] kevinsimper commented on #1217
I just tried do a `docker restart swarm-master` and that did not make it reload it config. This is pretty bad!

[2015-09-16 13:56] aanm commented on #1215
@abronan I had a master and an agent on that node (node-1). I was listen for events on the master node (node-0). I did `docker rm -f swarm-agent` on `node-1`, waited more or less minute an half until I saw `2015-09-16T05:34:37.000000000+01:00 (from swarm node:node1) engine_disconnect` on `node-0`. After a while I did `docker run swarm-agent` (with the specific arguments for using `consul`). I wait

[2015-09-16 16:56] abronan commented on #1217
Hi @kevinsimper, Yes if you want that chunk of memory to be released you need to explicitly remove the container. The reason why is that a container might have a `restart policy` on exit/failure and you don't want that process to fail restarting because its allocated resource chunk has been given to some other container in the meantime :)

[2015-09-16 17:14] abronan commented on #1215
@aanm Ok. In the meantime do you see the first `engine_connect` when an engine first connects to a cluster? Trying to narrow down and see if this only happens on `disconnect/reconnect`.

[2015-09-16 17:47] aanm commented on #1215
@abronan Weird...
1) Started master on `node-0`
2) `DOCKER_HOST=localhost:2373 docker event` on `node-0`
3) Start swarm master and swarm agent on `node-1` (replication mode is active)
4) Stop swarm agent on `node-1`
5) Output of `node-0`:

[code]

[2015-09-16 18:26] kevinsimper commented on #1217
Okay, that makes sense, but I can't read that anywhere?
https://docs.docker.com/swarm/api/swarm-api/

I did `memory=512M` because i wanted the container to be limited, not the whole cluster to be limited. I don't want a docker container to be take up all the memory, but I want to be able to put 10 containers on a 2GB machine. How can i do that?

From what i read here, memory is not calculated toge

[2015-09-16 18:36] abronan commented on #1217
@kevinsimper I admit that somehow this should be configurable but as of now, resource accounting was conservative regarding the container state. You can put 10 containers on a 2GB machine but just make sure that some containers are not lurking around holding up resources. Usually you would like to clean and remove containers in the `exit` state.

In the meantime I'm migrating the resource accounti

[2015-09-16 18:37] abronan commented on #1215
Ok I see, somehow the `engine_connect` is not emitted even on first connect. Annoying if you rely on events to register `connection/disconnection` from an external program. I'll try to have a look at it.

@vieux any idea?

[2015-09-16 18:41] kevinsimper commented on #1217
Okay that sounds good! However, I was not talking about containers that has `exit` state, when I talked about 10 containers. Most of the time containers does not use that much memory, you just want to control them, that they don't use too much!

For an example, 10 golang web servers could only take up 1 GB, so they could easily fit on a 2 GB server, I just don't one 1 golang server to leak and tak

[2015-09-16 18:48] abronan commented on #1217
@kevinsimper You can put soft memory limits on a container, docker allows that (so you put a lower/upper bound memory limit to your container). This might help in this case. Haven't tried on swarm though, this might require a change on the client. Curious to see!

[2015-09-16 19:01] kevinsimper commented on #1217
I just tried, and docker puts the soft limit on, but does not limit the overall system. So docker swarm needs a option to allow that :)

[2015-09-17 02:02] jimmyxian commented on #1215
@abronan Maybe I have found what's wrong. I'll try to fix. :)

[2015-09-17 14:09] etlweather opened #1220 "Access node by DNS"
Even though the documentation clearly shows to advertise an IP address:

[code]

I tried doing it with a fully qualified host name.

[code]

As a result, the `swarm manage` process logged:

[code]

I know the container running `swarm manage` can do host lookup because it's able to resolve `consul.example.com`. So it seems to really be expecting an IP address and no do host lookup on the nodes.
I t

[2015-09-17 20:11] cindyc opened #1222 "CLI command to list cluster ids"
The cluster_id/token is required in swarm list, manage, join commands, but there is no command to list the cluster_ids:

[code]

So after a token is 'swarm create', it has to be copied and stored somewhere for later use.

Also, if 'swarm create' could provide an option to define a name for a cluster, or generate a random name for a cluster, it'll be much easier to use than tokens.

[2015-09-18 19:21] wallnerryan opened #1224 "cannot start container, System error write."
When using Swarm to schedule container on a cluster, the error being seen is:
[code]

Though I can run the docker command directly against the docker engines, (not swarm) with no problem. Which led me to file the issue here.
[code]

Swarm Servers Tried
[code]

[code]

Docker Client
[code]

Docker Server
[code]

Check-config on engine nodes
[code]

[2015-09-18 19:55] abronan commented on #1224
Hi @wallnerryan, thanks for reporting the issue. What if you use another version of Docker, like 1.7.1, or 1.8.0 (not the dev binary)? Does this error still happen? Also what is the OS and the kernel version you are using? (we know there are issues with RHEL for example).

Would help if you can give us the output of `docker info` for the docker daemon and swarm :)

Thanks!

[2015-09-18 20:04] wallnerryan commented on #1224
@abronan

I need the --volume-driver flag, so 1.8+ would be preferred. I can try 1.8.0, is the volume-driver flag in non experimental of 1.8.0?

Docker info on Daemon
[code]
Docker info on Swarm (mind the extra labels)
[code]

[2015-09-18 21:33] abronan commented on #1224
Thanks @wallnerryan, will try to see what's going on here but this seems related to the default value of `memory.swapiness` in `runc` for older kernels. I need to investigate and test it properly but I need a `CentOS` setup for that.

What would be worth a try is probably update your kernel to `3.18` and see if this gets rid of the issue. In the meantime we should still fix this for older kernels.

[2015-09-18 22:42] u2mejc commented on #985
Hi All, I have this issue is reproducible the latest images: swarm:latest and 0.4.0-rc2. It's breaking third party tools that use the API or wrap this command. It's not related to a dead node that I can tell, the log is still printing token discovery requests and no other containers are running on clean ec2 instances running ubuntu 14.04.

[code]
[code]

@bpradipt asked:
**1. How the swarm cluster

[2015-09-18 23:08] abronan commented on #985
Hi @u2mejc, thanks for your investigation! Although I think the issue you hit is related to docker/docker#16403 somehow because the response returned by the daemon you used (`1.8.2`) was empty (nil instead of an empty array). The patch got merged so you might want to try with the latest `docker` version and build the `dev` binary to see if the issue still persists :)

Let me know if you still have

[2015-09-19 09:37] jimmyxian commented on #1215
Close via https://github.com/docker/swarm/pull/1219

[2015-09-19 09:37] #1215 closed

[2015-09-21 11:57] Gladmir commented on #1217
+1 for overall limitation config

[2015-09-21 13:09] djl197 opened #1225 "File based discovery - File Not Found"
I am trying to use a local file to list the nodes that are available to the swarm
I create this file /etc/swarm/cluster_config
# /etc/swarm/cluster_config

dockerhost01:2375
dockerhost02:2375
dockerhost03:2375

I then try to manage this swarm:
docker run -p 8181:2375 swarm manage file:///etc/swarm/cluster_config

However I get the following error:
time="2015-09-21T12:58:53Z" level=error msg="Disco

[2015-09-21 14:29] MHBauer commented on #1225
If the file exists on the Docker host, then the file needs to be mounted as a volume inside the swarm image when you run it.

[2015-09-21 14:30] wallnerryan commented on #1224
@abronan would like to try and fix for this kernel, I have a dependency on this for current work. willing to dig in anywhere with some pointers

[2015-09-21 14:35] djl197 commented on #1225
Awesome thankyou - shame thats missed in the documentation examples.  I suppose it should be obvious! But when following the docs you can forget to think about these things!

[2015-09-21 14:38] MHBauer commented on #1225
Yes, the docs are split between using the binary directly, vs using swarm in an image. PRs always welcome.

[2015-09-21 19:04] wallnerryan commented on #1224
@abronan since talking directly to the docker daemon works without any hiccup, where does the relevant code in swarm live that may try to set these limits on memory cgroups?

[2015-09-21 20:32] u2mejc commented on #985
Hi @abronan, the issue appears to still persist at master for swarm (and docker):

[code]

Also tested 1.9.0-dev and swarm/0.4.0 together with the same results. I followed the steps for docker master here: https://github.com/docker/docker#getting-the-development-builds and swarm here: https://github.com/docker/swarm#installation-for-swarm-developers

This issue appears specific to when swarm is th

[2015-09-21 21:33] abronan commented on #985
@u2mejc Thanks a lot for all those details.

I just tried with the exact same setup, I built the binary as of today for `1.9.0-dev`, with swarm `0.5.0-dev`  (also on ubuntu `14.04` with the same kernel) and issuing a `docker ps -a` works as expected and does not panic :(

Not quite sure what is the issue in your case yet but will keep looking at those logs.

[2015-09-22 01:14] jimmyxian commented on #1151
Close via #1206 #1213

[2015-09-22 01:14] #1151 closed

[2015-09-22 01:47] jimmyxian commented on #985
@abronan @u2mejc
[code]
How this container created? without Names......

Just like @vieux say:https://github.com/docker/swarm/issues/985#issuecomment-122965344

[2015-09-22 08:29] amethystic opened #1227 "Leader failover too slow, taking 40 seconds"
Hi there,
   I've started two swarm managers with advertise set to their own hostnames. With consul, I could implement the leader failover successfully, but found the whole process always took 40 seconds before the new leader information was written to the KV store in consul. I guess this is becuase the default TTL for consul session is 15 seconds. Consul takes a conservative method to multiple it

[2015-09-22 09:00] jimmyxian commented on #1227
@amethystic
Related to https://github.com/docker/swarm/issues/930

[2015-09-22 09:04] amethystic commented on #1227
Thanks for the response. Seems the configurable TTl only applies for 'swarm join'. It's not a valid parameter for 'swarm manage'

![image](https://cloud.githubusercontent.com/assets/11549429/10014456/ed746b3a-614b-11e5-89a8-53c75e79be5d.png)

[2015-09-22 09:10] jimmyxian commented on #1227
@amethystic Yeah.
Not support in `Swarm Leader Election` yet. It will come soon. :)

Just as @abronan say:

[2015-09-22 09:11] amethystic commented on #1227
Bad luck since we have to use Consul. Do you think it's okay to change the source code directly to set a lower TTL ?

[2015-09-22 09:15] jimmyxian commented on #1227
@amethystic
Actually, No.
Firstly, we have to add support TTL in `libkv`, and then support in `swarm`.

[2015-09-22 09:18] amethystic commented on #1227
Thanks for the nice responding. Below is what I wanna do, correct me if I am wrong:
candidate.go:
lock, err := c.client.NewLock(c.key, &store.LockOptions{Value: []byte(c.node), TTL: 5}) //add TTL:5
consul.go:
if options != nil {
		consulOpts.Value = options.Value
		consulOpts.SessionTTL = options.TTL  // add this line to receive the TTL passed from candidate.go
	}

Do you think it's a workable way

[2015-09-22 09:24] jimmyxian commented on #1227
@amethystic Aha, I'm not familiar with `Discovery`. :)
ping @abronan

[2015-09-22 09:46] amethystic commented on #1227
Thanks. @abronan , please kindly advice.

[2015-09-22 14:39] buster commented on #765
I'm evaluating docker machine+swarm+compose and it seems strange that i can't stop and restart containers because of this.
I'd vote for the port filter fix, please do this :+1:

[2015-09-22 16:05] abronan commented on #1227
Hi @amethystic, you can't set the TTL lower than 20 seconds with Consul using `libkv`. As you mentioned, consul takes the conservative approach to multiply the `ttl` by 2x but this was misleading as other K/V are not taking this approach so we divide it back to it's original value. If you want to do so you need to use Consul `0.5.2` and set the `session_ttl_min` parameter in the consul config to `

[2015-09-22 16:06] abronan commented on #1227
I'll handle this on `libkv`'s side.

[2015-09-22 18:45] wallnerryan commented on #342
seeings this again in 0.5.0 built from source. (pulled just not sep 22 2:45, commit 063f5dbab4a8129c9a21bac7bf1710f830185f27)

fd's seem to multiply * the number of docker engined attached

[code]

lsof output
[code]

fd tree
[code]

[2015-09-23 12:26] djl197 opened #1230 "Taking Nodes offline for maintenance"
We are just starting to experiment with Swarm.
Its not clear from the documentation how we might 'remove' a node from the cluster for maintenance.

We are currently using file based (static list) - to specify the list of nodes.
If I was to restart the swarm manager with a new file list will it update its node list?
The problem with this approach is that I need to restart the manager, is there a be

[2015-09-23 18:16] u2mejc commented on #985
Like others before me, this bug appears to have crawled back under the rock from which it emerged. I did whip up a quick branch and was going to submit a PR after documenting how to reproduce it. Here's the one liner to check the length before trying to trim the string: https://github.com/u2mejc/swarm/commit/a61c38cfb14b264d3bb317d5ecb8b99dc02334a7

I believe there could have been some older docke

[2015-09-23 18:36] abronan commented on #985
@u2mejc No worries, thanks again for your posts and for your update. At least we narrowed it down quite a bit since the beginning of this thread. Let's close this issue for now as this seems to be due to a faulty docker `engine` version.

[2015-09-23 18:36] #985 closed

[2015-09-23 23:28] vieux commented on #1183
@ahmetalpbalkan hey, sorry for the delay, we are aware of the issue. Can you try with https://github.com/docker/swarm/pull/1212 to see if it helps ? thanks.

[2015-09-23 23:32] vieux commented on #1220
@etlweather is `myhost.example.com` in your `/etc/hosts`, pointing to `127.0.0.1` ?

[2015-09-23 23:33] vieux commented on #1222
@cindyc thanks we will keep this feature in minds

[2015-09-23 23:37] vieux commented on #1207
@ahmetalpbalkan good idea, unfortunately we aren't using the same flag pkg as docker/docker and it doesn't seems possible out of the box in the one swarm is using.

I'll take a look

[2015-09-23 23:40] etlweather commented on #1220
@vieux - no, but it's my DNS server. It's also not localhost.

[2015-09-24 07:21] amethystic commented on #1227
Please also add support to specify lock-delay when creating consul sessions.

[2015-09-24 07:33] amethystic commented on #1227
How can I specify lock-delay for a consul session which is used as a leadership election? Seems Swarm  hard-coded 15 seconds as the default value. Can I change it?

[2015-09-24 15:15] lwhit3 opened #1232 "Images on a single node ignore any strategies and filters."
I have three different images (all websphere-liberty) with three different names: websphere-liberty, wlp1, wlp2. websphere-liberty is on both of my nodes in my two node swarm, wlp1 is on node1 and wlp2 is on node2. The last two are an assumption based on my issue.

[code]

I then run the images explicitly placing them on a node using the node name constraint.
WLP1 -> Node1 - works fine
WLP2 -> Nod

[2015-09-24 17:07] abronan commented on #1227
@amethystic It's done in #1228 you might want to take a look, just waiting for it to be reviewed and merged ;)

[2015-09-24 17:58] abronan commented on #1227
@amethystic Ah just realized, no there is no way to specify the `lock-delay` in this PR. Although the `lock-delay` is not at `15s` but is fixed at `1ms` in libkv (for whatever reasons putting this at `0` does not work as intended and can block for the default period..). So the `lock-delay` is virtually disabled.

[2015-09-24 18:46] #1227 closed

[2015-09-24 20:40] wallnerryan commented on #1224
@abronan  I see the ```ContainerConfig``` only has ```MemorySwap``` and setting this to -1 has no effect, is there a way to can set the ```Swappiness``` to -1? Not sure why it working via Docker CLI directly to the engine and not to swarm. I see in docker, the run config can set the cgroup to -1 which seems to be a solution for previous similar problems with runc.

[2015-09-24 20:44] frank-dspeed opened #1233 "Add: Couchbase discovery"
it would be nice if this would directly support couchbase but i cant find the code for etcd as example so i can't work on a couchbase discovery :(

[2015-09-24 20:52] abronan commented on #1233
Hi @frank-dspeed, it is now on `docker/libkv`. I'm not sure couchbase applies but feel free to open an issue or a PR there so we can discuss about it. Thanks :)

I'm closing this one.

[2015-09-24 20:52] #1233 closed

[2015-09-24 21:30] abronan commented on #1224
@wallnerryan `Swapiness` is set to `-1` by default in `runc` (see opencontainers/runc#95), it should indeed work just fine using docker and older kernels. On the other side I don't recall that we have any `MemorySwapiness` parameter in `dockerclient` so this could be the issue of the remote client being out of sync with the update that was introduced in docker `1.8` and the remote API endpoint of

[2015-09-24 21:40] vieux commented on #1198
@chanwit I'm super excited by this PR :)

[2015-09-24 21:59] vieux commented on #1232
From what I am reading, it's working as expected.

`wlp1` is only on node1 so it's expected to have `Error response from daemon: unable to find a node that satisfies node==swarm-agent2` on node2.

You will have to explicitly pull the image `wlp1` on node2 to be able to start containers on it.

[2015-09-24 22:42] wallnerryan commented on #1224
Yes I did see that, so I thought it should work just fine too. If I use the cli on the hose that swarm would choose e.g "constraint:node==node1" then the container comes up no problem. So this would tell me it's an issue with Swarm and whatever request it's passing might be out of sync? that make sense?

This still wouldn't make sense to me (im less familiar with swarm code base though) since swar

[2015-09-24 23:48] u2mejc opened #1237 "/info api returns with unicode back spaces"
When calling the api request for /info, unicode \b chars in ascii are sent.

Background, built today:
[code]

When I use curl, I'm getting a malformed string back: (including unicode backspaces "\u0008")
[code]

The string [to me] looks like copypasta  from something and I created a PR to remove these characters that does not impact the cli. This is chipping away at the larger issue that this API

[2015-09-24 23:49] vieux commented on #1237
Hello @u2mejc, see my answer in https://github.com/docker/swarm/pull/1147

[2015-09-24 23:52] chanwit commented on #1198
@vieux should I go for it by now?
It seems there will be a similar mechanism inside the engine by 1.9.

[2015-09-25 00:04] vieux commented on #1198
@chanwit I think it's safer to wait until 1.9 PR is merged

[2015-09-25 00:08] amethystic commented on #1227
@abronan Thanks for the information, but the result shows the lock-delay is still 15 seconds as shown below:
![image](https://cloud.githubusercontent.com/assets/11549429/10090004/a0ec9f18-635c-11e5-92ca-91780d623031.png)

Do I make any mistake?

[2015-09-25 00:13] abronan commented on #1227
@amethystic Actually you are right because I just noticed that the `libkv` tests for Consul are taking `15s` more than `etcd`.... So setting the `LockDelay` has no effect in this case. Thanks for the update. I will investigate and fix :+1:

[2015-09-25 08:28] amethystic commented on #1227
Thanks！

[2015-09-25 10:36] agsmorodin commented on #1067
I still see the exceptions in logs when I am trying to create the container, docker version:
swarm version 0.5.0-dev (76591d2

[code]

[2015-09-25 12:50] wallnerryan commented on #1224
changed the dockerclient on the host which was ```1.8.0-dev``` to ```1.8.0``` and this is fixed. :| sorry for taking this issue on a run around but i would assume the dev release didnt treat swappiness on centos correct. Seems fixed for now so I'm going to close this.

[2015-09-25 12:50] #1224 closed

[2015-09-25 15:18] kgoudeaux opened #1239 "Swarm should not hijack Execs with Detach=true"
The docker daemon doesn't hijack the request when Detach is true:
https://github.com/docker/docker/blob/634a848b8e3bdd8aed834559f3b2e0dfc7f5ae3a/api/client/exec.go#L52

Because swarm hijacks regardless, it may be contributing to https://github.com/samalba/dockerclient/pull/163 where the hijacked connection is reused and subsequent requests go directly to the node, bypassing swarm.

[2015-09-25 16:30] abronan commented on #1224
@wallnerryan Yes you probably used a `1.8.0-dev` without the runC patch for `MemorySwapiness`. Glad this is fixed with `1.8.0`. Thanks for the update :+1:

[2015-09-25 16:35] abronan commented on #1067
@agsmorodin This is a different issue, take a look at #985. Updating docker to the latest should do the trick.

[2015-09-25 19:55] wallnerryan commented on #342
@jhamrick have you seen this recently? Pulled fresh from 0.5.0-dev and seeing this on Centos 7

[2015-09-25 23:49] abronan commented on #1183
This will not work with the current PR for now, haven't updated with the latest commits. Will update here as soon as the it is updated with a reasonable solution, it's more tricky than expected because:

- One might remove a container not going through swarm or the Mesos cluster driver, so the resource-accounting must listen to the events cluster-wide and deal with adding/removing available resour

[2015-09-26 01:07] klaus1982 opened #1241 "Docker 1.8.2 can not connect to Swarm 0.5.0-dev"
I'm using Docker 1.8.2 and Swarm 0.5.0 to build a cluster; but it seems the docker can not access Swarm because URL mismatch.

Docker is trying to access `/v1.20/containers/create`, but in Swarm's log, there is only `/containers/create` endpoint.

if I corrected it, it will report the following error:

    root@mesosStagingController:~/swarm_mesos/swarm# docker -H tcp://mesosStagingController:4375

[2015-09-26 01:09] klaus1982 commented on #1241
If any un-clear about the message, please let me know.

[2015-09-26 01:39] klaus1982 commented on #1241
It's a Swarm + Mesos cluster; after several hours, it keep reporting the following error's in swarm's log:

    2015/09/25 20:34:36 http: Accept error: accept tcp4 10.114.222.251:4375: too many open files; retrying in 1s
    2015/09/25 20:34:37 http: Accept error: accept tcp4 10.114.222.251:4375: too many open files; retrying in 1s
    time="2015-09-25T20:34:37-05:00" level=error msg="Flagging eng

[2015-09-26 05:56] vieux commented on #1241
Our CI tests the latest swarm master agains the latest docker engin all the time, so it's not a version issue.

@klaus1982 did you open the port `2375` on your slaves ?

[2015-09-26 06:33] tnachen commented on #1183
Not sure what you mean by relying on docker/runc for the resource reservation, but I think there is a bit of impedence mismatch here since if you rely only on docker for resource on the other hand your available resources is not given by docker but by Mesos, so you could get out of sync.

And about locking, If you don't lock than effectively you use compareAndInc/Dec for accurate accounting, but s

[2015-09-26 08:09] abronan commented on #1183
Sorry for the confusion, Mesos was a bad example for the whole second part. Because we rely on Mesos for resource offers and inform us of available resources.. But as the refactoring does not concern only Mesos I got lost in my thoughts...

Second part concerns mostly swarm and hypothetical cluster drivers relying on `docker` to do the resource accounting. So this was out of topic for this issue.

[2015-09-27 01:42] klaus1982 commented on #1241
I start the swarm by following command; it'll connect to mesos cluster.

    /usr/local/gocode/bin/swarm --debug manage -c mesos-experimental --cluster-opt mesos.address=10.114.222.251 --cluster-opt mesos.port=4375 zk://mesosStagingController:2181,mesosStagingCompute0:2181,mesosStagingCompute1:2181/mesos

One more question: according to the log, Docker is trying to access /v1.20/containers/create,

[2015-09-27 04:41] #1047 closed

[2015-09-27 20:28] jhamrick commented on #342
No, the most recent version I've tried with is from August, I believe. Unfortunately I can't currently test this out to see if I see it with the newer version, too.

[2015-09-28 01:27] klaus1982 commented on #1241
Configuration issue, close this issue.

[2015-09-28 01:32] klaus1982 commented on #1183
I meet a similar issue in my cluster (Swarm 0.5.0-dev + Mesos 0.25.0); when I run sleep 10000000, docker cli return "no resources available ", but it's running in the slave host & showing in Mesos GUI.

[2015-09-28 05:54] Pensu commented on #1232
@vieux Don't we have any mechanism to pull the image from a node to another one implicitly. I mean explicitly pulling the image doesn't sound like a good idea. It should be included in docker run only. Thoughts? Or is anybody working on this already?

[2015-09-28 06:00] Pensu opened #1243 "Proposal: Updating docs to separate b/w binary and image."
Hi,

This is inspired from #1225. As @MHBauer said docs are split between swarm binary and swarm image. We should clearly state what the user should do in what case. Will start a PR if this is approved.

[2015-09-28 06:11] Pensu commented on #1222
+1

[2015-09-28 06:20] Pensu commented on #735
+1 for adding specific stuff to swarm API. I think that would help manager make smarter decision as the scheduler becomes more mature.

[2015-09-28 19:22] dnephin opened #1244 "/images/json ignores label filters"
Looks like it only works with the `node` filter.  The `docker-compose` test suite needs this.

[2015-09-28 19:23] dnephin commented on #1244
I'm going to work on a fix for this

[2015-09-28 20:07] nsteinmetz opened #1245 "Doc with the use of swarm binary instead of docker run swarm ?"
Hi,

I would like to use docker on arm infrastructure ; thus I cannot use the swarm image as is. So I decided to compiled swarm on my cubietruck / raspberry.

On this issue #797,  it is said it's better to run swarm binary directly than a daemon docker. As mentionned in the doc [1], it says 'just replace docker run swarm by swarm".

I'm not sure on how it should be done and what is part of the doc

[2015-09-28 20:55] dnephin commented on #1244
This is going to be difficult.

So swarm keeps a list of images from the engine, but it's only the output of this `/images/json` call, which means it doesn't include labels.  When the call to this endpoint happens it only operates on the cached list, so there's no opportunity to add the filters to the API call, and the data needed to filter is not available.

The only options I can see are:
 1. ad

[2015-09-29 00:24] vieux commented on #1244
I think it's possible with 2, but as you said it would be too much expensive.

I think 1 would be the best, the Docker API returns labels in listcontainers, it should be the same for listimages

[2015-09-29 03:40] chanwit commented on #1245
@nsteinmetz `docker run swarm` is actually run the `swarm` binary pulled from the official repository. This `swarm` is compiled for x86-64 bit arch.

In our case that we are trying to run `swarm` on different archs, we need to compile our own binary of `swarm`. That's the reason that the doc is mentioned to replace `docker run swarm` (official 64-bit) to `swarm` (a custom binary that we must compi

[2015-09-29 06:47] klaus1982 commented on #821
Hi team, any plan & design doc for this integration?

[2015-09-29 06:58] nsteinmetz commented on #1245
Thanks @chanwit,

It's a little bit clearer but I think I'm not clear yet with the process. Maybe there is or I imagine too much inception there.

So far, I have 2 cubietrucks and 1 raspberri with docker 1.8.2 installed on all of them. Swarm is also compiled on each of them (not in a container)

What I did so far without success relying on [1] :
* On my Rasp :
  * Add the -H tcp://0.0.0.0:2375 opt

[2015-09-29 07:48] nsteinmetz commented on #1245
Thinking about it during my computation to office and re-reading the docs, shouldn't it be more:
* Each docker daemon listen to tcp://0.0.0.0:2375
*  From each node, do a swarm join --addr=<node_ip:2375> token://<cluster_id>
* Then promote a node as a master

I think I confused the notion of daemon with the notion of master and so when I was doing the swarm join, I was trying to join the supposed

[2015-09-29 18:53] MHBauer commented on #1245
@nsteinmetz that looks good. To reinforce, each node needs to have the docker daemon running on it. Then each node needs to run swarm join. Then the manager/master needs to be started somewhere, either on a node or even a remote computer, as long as it has network connectivity to all nodes.

[2015-09-29 21:25] nsteinmetz commented on #1245
Thanks @MHBauer for the confirmation.

I did it as at the end, I can do:

[code]

But I cannot find the way to manage my cluster:

[code]

However, I could do it remotely with:
[code]

So is there a way to manage from a node using the swarm binary ?

[2015-09-29 21:30] MHBauer commented on #1245
`swarm manage` takes a `--host -H` parameter like `docker daemon`. Give it a different port to listen on, as you already have the daemon listening on 2375.

[2015-09-29 21:40] nsteinmetz commented on #1245
Indded @MHBauer, thanks. I thought first that host would only accept an IP.

But this would work:

[code]
And then:

[code]
Hopefully it may be useful for someone else ; just need to make it run by supervisor so that I don't have to run it manually.

I think I have everything I need now ; a huge thanks to @chanwit  and @MHBauer to show me the way :)

[2015-09-29 21:40] #1245 closed

[2015-09-29 21:55] dnephin commented on #1244
Good news, it turns out it is actually in the API response!  It's just missing from the docs, and from the go dockerclient.

So I should be able to just fix the client and get it working in swarm.

[2015-09-30 18:03] abronan commented on #821
Hi @rhim @feiskyer @klaus1982, the new UX for networking is reviewed in docker/docker#16645. Once this is merged I'll work to adapt what I've done so far with the old UX to integrate with Swarm.

[2015-10-01 08:02] chanwit commented on #1198
@vieux docker/docker#16229 is already get merged. I'll continue on this.

[2015-10-02 00:49] vieux commented on #1203
@MHBauer can you look at `since` :)

[2015-10-02 20:49] #1244 closed

[2015-10-02 20:56] aluzzardi opened #1256 "leaderTTL flag is weird"
- All our other flags are `like-this` and not `likeTHIS`
- We use `leader` here but the other flag is `replication`

ping @abronan

[2015-10-02 21:06] abronan commented on #1256
@aluzzardi What about `--replication-ttl`?

[2015-10-02 22:26] dnephin opened #1257 "/images/json ignores repo name filter"
Similar to #1244 but for repo name instead of labels

[2015-10-02 22:31] dnephin commented on #1257
Looks like this param is also missing from the api docs https://docs.docker.com/reference/api/docker_remote_api_v1.20/#list-images

[2015-10-02 23:38] benjaminwootton commented on #1232
Are you sure that is correct @vieux?

The nodes are filtered before the container is placed, so I don't think it's anything to do with a lack of the image on the node.  Shouldn't that be transparent to the user?

On a fresh cluster, I have full control of the container placement like this:

docker run -d -P -e constraint:node==swarm-agent-1 busybox
docker run -d -P -e constraint:node==swarm-agent-

[2015-10-02 23:42] vieux commented on #1232
@benjaminwootton since the images cannot be pulled, the node it chosen, and then the pull fails.

[2015-10-03 00:00] benjaminwootton commented on #1232
Sorry would you mind explaining this for me.  We filter before creating the container.

   n, err := c.scheduler.SelectNodeForContainer(c.listNodes(), configTemp)
   <snip>
   container, err := nn.Create(config, name, true)

This error is raised from constraint.go.

Therefore, we never seem to reach a stage of a failed pull?

[2015-10-03 00:05] benjaminwootton commented on #1232
Note OP is not looking at affinities, but node name filtering

[2015-10-03 00:44] benjaminwootton commented on #1232
@lwhit3 How did you initially populate the cluster?

Did you manually put those images on boxes or request via docker run into the swarm daemon?
I think Swarm should managing the cluster state
Also, is wlp1, wlp2 and web sphere-liberty all accessible form your registry?
Can you not just run websphere-liberty as it's the same image?

What I think happens here from a code perspective is:

We request

[2015-10-03 19:08] RustJason opened #1259 "Port 2375 or 2376?"
I restart my laptop and restart docker-machine. swarm shows no node conneted cause IP address changed, then I ssh to my one of my node and use:
[code]
But it won't work.
And then I ssh to my swarm-master to execute ```docker ps```, it shows:
[code]
Will, now let's see the result of ```netstat -natp```
[code]
There is a 2376 open, But no 2375.
Is this a change?

[2015-10-04 02:41] chanwit commented on #1259
Hi

Docker port 2375 is the insecured where 2376 is for TLS (secured port).

Anyway when we start a swarm manager, we usually use another secured port number just for swarm, which is 3376.

[2015-10-04 03:08] RustJason commented on #1259
How do you think about this? @nathanleclaire is 2375 is insecured, then why it is not opend?

[2015-10-04 03:18] RustJason commented on #1259
Thank you very much @chanwit , This issue seems like blongs swarm, When I add a node in swarm, How did it know the master's IP address? Since I only pass node's address here.https://github.com/docker/swarm/blob/master/cli/join.go#L23

[2015-10-04 03:47] chanwit commented on #1259
Clients don't know a master. Each client registers itself to a discovery service.

You need to pass either a discovery string which contains IP addresses or `token://`.

A master then read a list of nodes from the discover service you specified.

[2015-10-04 05:54] RustJason commented on #1259
I passed with token, so token contains master IP in it?

[2015-10-04 07:45] chanwit commented on #1259
@RustJason no, but the token will  be used by Docker Hub. The Docker Hub will be your discovery service.

When you pass the token to your master, the master will know a list of your nodes.

You don't tell the master IP to the nodes, the master node knows them from the discovery service.

[2015-10-04 11:51] RustJason commented on #1259
Thanks, That's helps me a lot!

[2015-10-04 11:51] #1259 closed

[2015-10-05 08:48] lwhit3 commented on #1232
@benjaminwootton The images were built whilst controlling the docker master. So I assume it just delegates it to one of the agents and thats why the image is only on one agent? In my specific case I was just doing a proof of concept case so it may not be a real use case. It works perfectly fine if I push wlp1 and wlp2 to docker hub and then pull them back down.

[2015-10-06 13:20] wallnerryan commented on #342
thanks @jhamrick

[2015-10-06 21:09] #1256 closed

[2015-10-07 19:02] abronan opened #1265 "Engine refresh value interval should be tweakable"
Related to #1263

We should be able to tweak the values of the refresh in some ways. I don't see any other way than adding flags at the moment (put this in a config file would be convenient though). It goes alongside the flags for the `TTLs`, `heartbeat`, and Lock `TTL` tweakable values.

Maybe:

- `--engine-refresh-low-value 30 --engine-refresh-high-value 60`
- `--refresh-low 30 --refresh-high 60

[2015-10-07 19:51] aluzzardi commented on #1265
How about `min` / `max` instead of `low` / `high`?

[2015-10-07 19:57] abronan commented on #1265
:+1:

[2015-10-07 22:27] wrotki opened #1267 "Swarm manage leaks file descriptors leading to "too many files open""
Try running swarm manage container for a while and then doing:

sudo lsof -p <swarm process PID>

It shows a lot of socket type fds - In my case, I start and stop a lot of containers relatively quickly (several a minute), which might lead to multiple "container not found" situations when refreshing engines - and this "not found" is the condition triggering the leak.

Caused by a bug in samalba/doc

[2015-10-08 02:15] jimmyxian commented on #1232
@benjaminparnell Thanks for the deep analysis
I think so, If use `constraint:node`, should not try `soft image affinity workflow`. I will work on this.

[2015-10-08 06:59] ezrasilvera opened #1269 "Send authConfig when engine perfoms pull during create container"
Is there any special reason why authConfig is passed during /image/create but is not passed during the image pull initiated by swarm engine during the /container/create (see bellow passing nil)

		// Otherwise, try to pull the image...
		if err = e.Pull(config.Image, nil); err != nil {
			return nil, err
		}

[2015-10-08 09:34] agsmorodin opened #1272 "Unable to find a node fulfilling all dependencies"
Hi,

I am experiencing the following problem: when I am trying to run the simple compose file via swarm:
[code]

I receive the error: Unable to find a node fulfilling all dependencies: --link=name-db:db
The problem is that db container exists in swarm cluster.  if I rerun the command - it works perfectly.
I can reproduce the issue only from time to time.   Most of the times this case works.

docke

[2015-10-08 18:49] vieux commented on #1269
Because the docker CLI unfortunately doesn't send us  the config on `/container/create`

[2015-10-08 19:03] ezrasilvera commented on #1269
I understand but if I use remote API and not the client I could pass X-Registry-Auth in the header and that could have work, right?   Can't we check if X-Registry-Auth exists and pass it if so ?

[2015-10-08 19:05] ezrasilvera commented on #1269
Probably would need small changes in postContainersCreate to pull the auth as well ..

[2015-10-08 20:41] MHBauer commented on #1203
@vieux I can try. How do you think I should approach the problem? Since (ha!) we have to go back in time to get previously existing events, it doesn't fit with the way the events are currently set up, which works by streaming the events live from the engines.

[2015-10-08 23:12] coryb commented on #1267
Just to chime in here, I ran into the same issue with my swarm manager.  Established TCP connection grows linearly with time, it seems to have no correlation to docker client activity.

I have a graph of established connections over a week [here].(https://drive.google.com/file/d/0Bw7wjULOuWzVME1FLW5yOF90SGc/view?usp=sharing)

The graph is too linear to be related to docker client activity, leaking

[2015-10-08 23:56] coryb commented on #1267
Looking into the code, it seems pretty clear that your patch will fix this.  In my case RefreshVolumes is called every 30s which makes a call to my docker daemon which does not support the /<version>/volumes api, which returns a 404 and then leaks a connection as your patch indicates.  Hopefully this can get fixed soon.

[2015-10-09 01:32] #1239 closed

[2015-10-09 21:37] dnephin commented on #1257
+kind/bug
+area/api (I think)

I'm going to start working on this, since it's one of the last issues blocking the compose test suite from running.

[2015-10-10 12:28] thaJeztah commented on #1211
ping @jimmyxian @vieux https://github.com/docker/docker/pull/16229 was merged :-)

[2015-10-10 14:40] ericchapman commented on #765
I ended up doing the following
  - ```%> docker-compose build```
  - ```%> docker-compose stop```
  - ```%> docker-compose rm -f```
  - ```%> docker-compose up -d```

It adds an extra few seconds of downtime but seems to work around the issue

[2015-10-10 14:41] chanwit commented on #1257
@dnephin Have you got some steps to reproduce? If so, I can help you test it when your PR is ready.

[2015-10-10 14:44] chanwit commented on #765
@docker/swarm-maintainers I think we should consider @jimmyxian's solution for the better UX. I know that it's gonna have race conditions, but the UX will be better IMO.

[2015-10-10 14:55] dnephin commented on #1257
Yup

[code]

It will show all the images, but it should only show busybox images

I've got the fix mostly done in https://github.com/docker/swarm/compare/master...dnephin:fix_filter_images_by_repo

I just have to fix the integration test I think

[2015-10-12 01:00] jfourment opened #1279 "Returns EOF when trying to connect to the Swarm Manager with TLS"
Hello,
I have been using Swarm for a while now and all was good until i tried to secure my cluster.
Any connection to my Swarm manager returns an EOF error and there is nothing in the logs:

<code>An error occurred trying to connect: Get https://localhost:50003/v1.20/info: EOF</code>

I'm trying a simple configuration running on one host.
1. My daemon is TLS enabled and listening on port 2376 and

[2015-10-12 01:32] onlyjob opened #1280 "please update documentation license grant"
Similar to [libkv](https://github.com/docker/libkv), please update license grant for documentation with proper statement (including version of the license) and the scope of the license. Thanks.

[2015-10-12 21:45] nicolaka opened #1281 "Node labels only refreshed after Swarm Manager restart"
If a node's labels are updated or changed, the changes aren't reflected in Swarm manager( even after restarting the engine). The only way to reflect these changes is to restart the Swarm Manager itself.

Swarm Version: swarm/0.4.0
Node engine version: 1.8.2

Steps to Reproduce:
1. Update the labels on a node ( e.g add DOCKER_OPTS= --label=environment=production to /etc/default/docker)
2. Restart t

[2015-10-12 21:54] pwnall opened #1282 "Image builds using affinity"
I want to be able to use Swarm to build images based on other images that I have built, and are not pushed to repositories.

I can run containers based on images that I have built, using affinities. Swarm 0.4+ even attempts to figure out image affinities on its own. I want to be able to specify affinities when building an image (AFAIK, that happens in the `POST /build` API call).

I noticed that A

[2015-10-12 22:16] scrisenbery commented on #804
@moxiegirl Along a similar note, I am seeing an error similar to that in @jasw 's step 6, however I have added the -H flag to the daemon and it still does not work. The manual documentation is not clear here http://docs.docker.com/swarm/install-manual/#create-swarm-nodes), specifically under step 2 of that section. I am not sure which machine that command is supposed to be run on. It is failing wh

[2015-10-12 22:20] MHBauer commented on #804
@scrisenbery in theory you run it on the node itself. This guarantees it has docker, and that if it goes down, it will stop advertising.

`swarm join` with the token discovery service can technically be run from anywhere, as long as it can access the internet. The manager also has to contact the internet.

[2015-10-12 22:29] scrisenbery commented on #804
So if node1 is the master and node2 is the one I am trying to join to the swarm, I should run:
`docker run -d warm join --addr=node2:2375 token://token` ? And that could be run on wither node1 or node2? @MHBauer

Both nodes have docker but I get the error mentioned in step 6 above if I run it on node2.

[2015-10-12 22:49] aluzzardi commented on #804
@scrisenbery Hey. You should run the `join` on node2.

Basically, the join advertises to the cluster that the node is alive. If `node2` goes down, then `swarm join` will go down with it and eventually it will get removed from the node list.

In your cluster you should have:
- **1** `swarm manager` (you can have more with master/slave replication, but for the sake of simplicity let's assume only on

[2015-10-12 23:01] MHBauer commented on #804
I think I see the problem in the docs.
jasw wrote a potential solution.
Since the docs say to manually start with `-H 0.0.0.0:2375` the local socket isn't available.

@scrisenbery two things to try
 1. when starting on each node, run `docker daemon -D -H unix:///var/run/docker.sock -H 0.0.0.0:2375`
 2. a more immediate fix is to run `docker -H 0.0.0.0:2375 run -d warm join --addr=node2:2375 token:

[2015-10-13 03:43] pwnall opened #1284 "attach seems to hang"
The following hangs when my DOCKER_HOST points to a Swarm master, but works just fine when DOCKER_HOST points to a Docker Engine.
[code]

I tested this by installing docker and docker-machine from Homebrew on OSX, and using docker-machine to build a 1-VM Swarm cluster, where my manual test fails, as well as a standalone engine VM, where my test passes.

Swarm `docker version`

[code]

Swarm `docke

[2015-10-13 05:19] chanwit commented on #1284
@pnwall could you try experimental version of Docker (1.9) with latest Swarm image from dockerswarm/swarm:master ?

[2015-10-13 05:22] chanwit commented on #1282
+1

This will solve compatiblity problems of the orchestration workflow too.

[2015-10-13 05:28] abronan commented on #1194
This should be fixed by #1261, Closing this one.

@aanm Thanks! Let us know if you have any more issue with master :)

[2015-10-13 05:28] #1194 closed

[2015-10-13 05:32] abronan commented on #786
This issue should be fixed now with #1261. Closing this one. Thanks and let us know if you encounter any more issue with master.

[2015-10-13 05:32] #786 closed

[2015-10-13 05:41] abronan commented on #1191
@agsmorodin Sorry for the delay coming back to this issue, this should be fixed as of now with the general improvements in the refresh loop and also requests made during an Engine removal. Can you give it another try with master for `swarm` and `docker-machine`? Thanks!

[2015-10-13 05:46] abronan commented on #404
Fixed by #1254. Swarm now supports TLS for consul and etcd through `libkv` and the `--discovery-opt` flag. Closing this one.

[2015-10-13 05:46] #404 closed

[2015-10-13 05:47] abronan commented on #930
Closed by #1228

[2015-10-13 05:47] #930 closed

[2015-10-13 06:26] pwnall commented on #1284
@chanwit This still occurs.

For future reference, here's how I built my 1-node cluster.

[code]

[2015-10-13 12:58] chanwit commented on #1284
@pwnall It seems I cannot reproduce this issue.

[code]
ping @docker/swarm-maintainers  just in case others can reproduce this.

[2015-10-13 13:05] chanwit commented on #1284
@pwnall @docker/swarm-maintainers I got this behaviour updated.

It seems to be hanging only after the `exit` command. On my machine, a couple of hitting enters helped me get through.

[2015-10-13 15:23] abronan commented on #1284
@chanwit do you have any steps to reproduce? What was changing (in your config, etc.) from your first try to your second try where you managed to reproduce? Seems like this is a long standing issue but happens randomly as we never managed to reproduce it on our side :confused:

[2015-10-13 15:32] chanwit commented on #1284
@abronan nothing is changed between the first and the second try.
I used a Windows client where @pwnall seems to use an OSX client.

Steps:

1. provision 2 machines, one is a Swarm master and another is a Swarm node
2. I just use the token discovery
3. Point `DOCKER_HOST` to the Swarm manager.
4. `docker run --rm -it busybox`

Tested with Docker 1.9-dev and 0.5-dev (from `dockerswarm/swarm:master`

[2015-10-13 16:38] pwnall commented on #1284
@chanwit Sorry for not being clear enough! You found my problem correctly -- after an `exit` command, the docker CLI is still running.

Is it possible that the hijack proxy should stop after the engine closes the stream?

Specifically, the goroutine below should tell the other goroutine to stop?
https://github.com/docker/swarm/blob/master/api/utils.go#L177

[2015-10-13 17:19] abronan commented on #821
This issue is being currently solved by #1262

[2015-10-13 17:50] #804 closed

[2015-10-13 18:56] ppadala commented on #213
@aluzzardi - can you point me to the documentation on plugin API and how to create them?

[2015-10-13 18:57] agsmorodin commented on #1191
I can confirm that now it's working fine without any problem with swarm master.

[2015-10-13 19:35] vieux commented on #213
@ppadala hello, there is no documentation really. You have to implement this interface: https://github.com/docker/swarm/blob/master/cluster/cluster.go

[2015-10-13 19:35] vieux commented on #213
@ppadala I'm opening an issue to create documentation.

[2015-10-13 19:44] abronan commented on #1191
Thanks for checking @agsmorodin! Closing this one.

[2015-10-13 19:49] ppadala commented on #213
Thanks, @vieux. How do I install and register the plugin? If there's example code somewhere, please point me to it.

[2015-10-13 19:53] vieux commented on #213
@ppadala you have to add a `case` to this `switch` https://github.com/docker/swarm/blob/master/cli/manage.go#L258

[2015-10-13 21:25] rhim opened #1288 "Why does swarm expose port 2375"
While going through the dockerfile for swarm, I see the following:

ENV SWARM_HOST :2375
EXPOSE 2375

I want to understand the purpose for it.

For swarm containers that I run on nodes with --join, they seem to have a local port on container open, but I don't understand the need for these containers to listen to anything - since they are just publishing whatever is passed in --advertise to discove

[2015-10-13 21:26] ppadala commented on #213
@vieux Is it expected that third party Swarm plugins live in docker tree and built together for now? Will there be a plugin architecture similar to volumes and libnetwork in the future?

[2015-10-13 21:57] vieux commented on #213
@ppadala yes, we are thinking about a plugin architecture, for now they are to be checked in in the code.

[2015-10-13 22:07] ppadala commented on #213
Thanks for the quick responses @vieux.

Slight digression, but is there a way to find the Swarm ID from a container ID? It looks like currently Swarm master gets the container association by querying the Docker engines on each of the hosts. We are experimenting with sharing hosts across Swarm clusters and need a way to distinguish containers by Swarm IDs.

I see that labels are a way to distinguis

[2015-10-13 22:20] dnephin opened #1289 "runtime error in port filter"
I'm running master with 1f66308

[code]

This failure is triggered by [this](https://github.com/docker/compose/blob/c06d9ec6723beae80f63f7b251d31f393502536b/tests/integration/cli_test.py#L591) test in the `docker-compose` test suite. It fails when compose tried to create two containers with the same port.  The create container call runs in parallel on the client, so both containers are created at

[2015-10-13 22:31] dnephin commented on #1289
Actually, I think any test that use the compose `scale` command causes this failure.

I wasn't seeing it when running against master from about a week ago, so I think it's something that was merged recently.

[2015-10-14 08:49] chanwit commented on #1288
it's for backward compatibility when you'd like to start the swarm manager without TLS.
I make use of this port extensively during development.

[2015-10-14 14:31] chanwit commented on #336
@docker/swarm-maintainers I feel like we should address this by 1.0 to prevent uncomfortable user experiences of new Swarm users.

[2015-10-14 21:39] dnephin opened #1293 "/images/create fails with an image digest tag"
from `api/handlers.go` `postImagesCreate()`

[code]

It assumes that the tag is always an image tag, but it could also be a digest.  By joining them in this way , the query to engine fails.

+kind/bug
+area/api

[2015-10-15 03:56] cpuguy83 opened #1297 "`run -i` requires hitting input to exit"
When doing `docker run -i` against swarm, when the container exits, it is required to hit enter 2 times to get back to a prompt.
This is true with a  shell in the container `docker run -it busybox` (then type exit), or even just `docker run -i busybox false`.
It always requires hitting enter 2 times to fully exit.

### info
[code]

### version
[code]

[2015-10-15 04:13] chanwit commented on #1297
Duplicated with #1284

[2015-10-15 17:15] rhim commented on #1288
Hmm, let me try to clarify a bit.

The swarm container that runs on worker nodes (with join command) - AFAIK - its sole job is to publish the URI for the docker engine running on that host (let's assume it runs on port 2376). So there would be no inbound connections to this container.

The swarm container that runs on manager (with manage command) - AFAIK - it makes docker remote API calls to endp

[2015-10-15 18:29] dnephin commented on #288
I think this was done? https://github.com/docker/swarm/blob/master/cluster/config.go#L76 seems to support it.

Can this issue be closed?

[2015-10-15 18:32] dnephin opened #1298 "Update docs to reflect that labels are the preferred way to set affinities and constraints"
And that environment variables are deprecated.

In https://github.com/docker/swarm/blob/0d94d7/cluster/config.go#L64 affinities set as environment variables are removed from the container config.

But all the docs (https://github.com/docker/swarm/blob/0d94d7a11a8efc97ddceb04073a281adce93b365/docs/scheduler/filter.md, https://github.com/docker/swarm/tree/master/scheduler/filter#affinity-filter) sti

[2015-10-15 18:38] vieux commented on #288
Yes, thanks @dnephin

[2015-10-15 18:38] #288 closed

[2015-10-15 18:39] vieux commented on #1298
:-1: I don't consider environment variables as deprecated, it's stored as labels internally, but it's so complicated to use, I think we should keep env vars.

[2015-10-15 18:44] dnephin commented on #1298
Would it be worth documenting that it's at least an option?

The problem I have with environment variables is that they get removed from the ContainerConfig. It's very unexpected for a user to create a container and then see their config disappear when they inspect the container.

If environment variables aren't deprecated, could we keep them in the container config instead of removing them?

[2015-10-15 18:48] vieux commented on #1298
Yes we could mention labels in the docs.
It's way easier to have them store all in one place, that's why we kept only labels

[2015-10-15 18:52] dnephin commented on #1298
I understand that. I think it makes a lot of sense to copy them out of environment and into labels, but I think it's unnecessary to remove them from environment.  Once they are copied they should be able to stay in environment.

[2015-10-15 20:52] #1232 closed

[2015-10-15 21:20] anweiss opened #1301 "Couldn't load x509 key pair, no such file or directory"
Trying to launch a Swarm manager using the following command:

[code]

For some reason, the container doesn't seem to launch due to the following error:

[code]

I can confirm that all certs were created using the same CA and that the certs are indeed at the root of the user's home directory. Not sure what's missing.

SLES 12
Docker 1.6.2, build 7c8fca2
Image -> Swarm:latest

[2015-10-15 21:28] abronan commented on #1301
Hey @anweiss, because you are using `docker run` to launch swarm you should mount the host directory containing certs as a data volume for those certs to be available inside the container.

[code]

[2015-10-15 21:32] anweiss commented on #1301
Thanks @abronan! Can't believe I missed that lol. Closing

[2015-10-15 21:32] #1301 closed

[2015-10-15 21:44] abronan commented on #1297
@vieux can you reproduce? I can't :disappointed:

[2015-10-15 21:45] abronan commented on #1297
ping @dongluochen I know that you showed me the behavior. Can you provide us with more details of your setup?

[2015-10-15 22:11] mbentley opened #1302 "[1.0.0-rc1] 'docker volume ls' output not showing node name (swarm 1.0.0-rc1 and engine 1.9.0-rc1)"
Description of problem:
'docker volume ls' output not showing nodes when getting info via swarm 1.0.0-rc1.  This makes it difficult to manage the local volumes that are running across a swarm cluster since you can't be sure which node the local volumes exist when they do not exist across all nodes.

`docker version`:

[code]

`docker info`:

[code]

`uname -a`:

[code]

Environment details (AWS, V

[2015-10-15 22:18] dongluochen commented on #1297
I have a repro on Mac. When I issue ‘docker run hello-world’ it returns to prompt right away. When I issue ‘docker run -i hello-world’, I need 2 returns to get back to prompt.

info

Dongluos-MacBook-Pro:~ dongluochen$ docker info
Containers: 17
Images: 6
Role: primary
Strategy: spread
Filters: affinity, health, constraint, port, dependency
Nodes: 3
 agent-00: 192.168.99.102:2376
  └ Containers: 5

[2015-10-15 23:00] nathanleclaire opened #1304 "403 error attempting to create swarm token"
On my DigitalOcean droplet (ostensibly in SFO1 datacenter):

[code]

Hey, I'm not in Iran y'all!!

cc @abronan @vieux @aluzzardi

[2015-10-15 23:02] nathanleclaire commented on #1304
Works fine directly from my VM in the SF office though.

[2015-10-15 23:03] anweiss commented on #1304
+1 getting same error here...running on Azure VM

[2015-10-15 23:05] abronan commented on #1304
This error is hilarious :smile:

Y'all in Cuba just admit it.

We'll look into it and try from some provider's VM to see if we run into the same issue.

[2015-10-15 23:10] xbglowx commented on #1304
Taking a look at the geoip blocking

[2015-10-15 23:12] abronan commented on #1304
thanks @xbglowx

[2015-10-15 23:14] xbglowx commented on #1304
Is this still happening for everyone?

[2015-10-15 23:15] abronan commented on #1304
@nathanleclaire @anweiss Can you retry and see if that works?

[2015-10-15 23:19] xbglowx commented on #1304
The problem is still there. Seems your swam endpoints are hitting our staging environment.

[2015-10-15 23:21] xbglowx commented on #1304
I found the problem. Should be fix for all in stage. Good thing I didn't push this change out to prod yet.

[2015-10-15 23:24] nathanleclaire commented on #1304
Looks good on my end now

[2015-10-15 23:24] abronan commented on #1304
Nice :+1:

Closing. Thanks @xbglowx !

[2015-10-15 23:24] #1304 closed

[2015-10-15 23:36] nathanleclaire commented on #1304
:+1:

[2015-10-16 05:06] Yam408 commented on #1304
√

[2015-10-16 12:11] riuvshin commented on #1241
Hey! @klaus1982  I'm having same issue I have to nodes managed by swarm 0.4.0 and it works perfect. But sometimes it's starting to print exactly the same messages
`2015/10/16 11:32:27 http: Accept error: accept tcp [::]:2375: too many open files; retrying in 1s`
restart swarm doing the fix but I wanted to know what I've missed in my config. can you please share what you've done with it? Thanks!

[2015-10-16 12:37] coding4m opened #1307 "broken container cause list containers error."
container withoutname (rm occurs error) cause call
/containers/json?all=1 occurs error at

api/handlers.go:197
[code]

[2015-10-16 13:04] chanwit commented on #1307
@coding4m it is unusual that a container does not have name.

Could you explain in which situation your container does not get its name set?

cc @vieux

[2015-10-16 14:24] chanwit commented on #1307
Sorry for not reading it clearly.

It seems we need fixes to prevent this Names[0] in several places.

[2015-10-16 17:18] dnephin commented on #752
Some more differences I ran into while working on compose integration:

* **pull** reports errors with a different format `{'errorDetail': {'code': 1}` instead of `{'error': ..., 'errorDetail': {'message': ...}}`
* `CpuShares` is modified to a different value (possible fixed by #475 ?)
* Affinities specified by environment variables are removed from the Config (and moved to labels), related to #12

[2015-10-16 18:43] vieux commented on #1307
I don't get it, a container should always have a name

[2015-10-16 20:36] cpuguy83 commented on #1307
This was a bug in engine, it's not possible anymore as of 1.9.
Basically, when a container is partially removed due to an error, the names are the first thing that get wiped out (all of the names)... so we end up with this container with no names.

[2015-10-16 20:36] cpuguy83 commented on #1307
p.s. the partial removal is still possible, but engine won't send a null array anymore.

[2015-10-16 20:56] vieux commented on #1307
@cpuguy83 I see thanks.

[2015-10-16 23:57] klaus1982 commented on #1241
@riuvshin the issue of Accept error is still here, I have to re-start swarm after a few hours; seems no solution for that now :(. But it's enough for my demo.

[2015-10-17 00:41] #1284 closed

[2015-10-17 00:41] #1297 closed

[2015-10-17 06:40] Yam408 commented on #752
Sent from Yahoo Mail on Android

  On الجمعة, أكتوبر ١٦, ٢٠١٥ at ٨:١٨ م, Daniel Nephin<notifications@github.com> wrote:
Some more differences I ran into while working on compose integration:

   - pull reports errors with a different format {'errorDetail': {'code': 1} instead of {'error': ..., 'errorDetail': {'message': ...}}
   - CpuShares is modified to a different value (possible fixed by #475

[2015-10-17 09:27] Yam408 commented on #1282
Good

[2015-10-17 09:29] Yam408 opened #1311 "A.B.C"

[2015-10-17 09:45] #1311 closed

[2015-10-19 01:51] jimmyxian opened #1312 "Keep track of the missing API endpoints options in swarm"
I have compared the latest docker API. Our Swarm is missing the following api OPTIONS:
#### push
- [ ] --disable-content-trust

#### build
- [ ] --disable-content-trust
- [ ] --ulimit=[]
- [x] --build-arg

#### pull
- [ ] --disable-content-trust
- [ ] --all-tags

#### run
- [ ] --disable-content-trust
- [x] --stop-signal
- [x] --dns-opt=[]
- [x] --kernel-memory=
- [x] --group-add=[]
- [x] --memory

[2015-10-19 06:52] doronl commented on #664
I was not able to fix this...

When I run:

sudo docker run swarm create

I get:

2015/10/19 06:15:47 Post https://discovery-stage.hub.docker.com/v1/clusters: dial tcp: i/o timeout

When I add a proxy:

sudo docker run --rm -e https_proxy=http://***:8080 -e http_proxy=http://****:8080 swarm create

I get:

2015/10/19 06:20:52 Post https://discovery-stage.hub.docker.com/v1/clusters: http: error con

[2015-10-19 07:23] riuvshin commented on #1241
@klaus1982 yeah same on my side. So maybe we should reopen issue?

[2015-10-19 11:25] klaus1982 commented on #1241
Yes, seem we'd better to re-open this issue for `Accept error`.

[2015-10-19 14:33] agsmorodin commented on #1289
I have the same issue:

2015/10/19 12:39:12 http: panic serving 10.10.92.93:54360: runtime error: invalid memory address or nil pointer dereference
goroutine 22068 [running]:
net/http.(*conn).serve.func1(0xc8211ef3f0, 0x7f6085941f18, 0xc820953080)
	/usr/local/go/src/net/http/server.go:1287 +0xb5
github.com/docker/swarm/scheduler/filter.(*PortFilter).portAlreadyInUse(0x11a9b08, 0xc820540780, 0x0, 0

[2015-10-19 14:38] interair commented on #1289
+1

[2015-10-19 14:45] dnephin commented on #1289
Are you hitting this in the 1.0.0rc1?

+kind/bug
+milestone 1.0.0

[2015-10-19 14:48] agsmorodin commented on #1289
swarm version 1.0.0 (fe88189)

[2015-10-19 15:23] chanwit commented on #1289
@dnephin @agsmorodin could you elaborate steps to reproduce this?
(It would be great if we can reproduce it without `docker-compose`, anyway)

[2015-10-19 15:36] dnephin commented on #1289
@chanwit it's easy to reproduce with this:

[code]

I'll add it to the PR description as well

[2015-10-19 17:51] vieux commented on #1289
Thanks, we are going to investigate asap

[2015-10-19 17:51] vieux commented on #1289
ping @aluzzardi

[2015-10-19 20:40] abronan commented on #1227
@amethystic Coming back to this and it seems to work as intended with Consul. Just using `--replication-ttl "10s"` shows that the `LockDelay` in the session is set at `100000ns` which is `1ms`. (I should probably set this at `1ns` but better would be to fix this in Consul and allow to specify a `LockDelay` of `0`)

related to hashicorp/consul#1077

[2015-10-19 20:44] aluzzardi commented on #1289
@dnephin Can you confirm #1314 fixing the crash?

[2015-10-19 20:53] aluzzardi commented on #1289
Thanks for spotting @dnephin, this was a really nasty one.

[2015-10-20 07:54] interair commented on #1289
The error doesn't reproduce anymore
Thanks!

[2015-10-20 16:38] dnephin opened #1316 "/networks filters param is not supported"
https://github.com/docker/docker/blob/master/docs/reference/api/docker_remote_api_v1.21.md#list-networks

This param is required by compose

[2015-10-20 16:41] dnephin commented on #1316
+kind/bug
+area/api
+milestone 1.0.0

I'll probably have a chance to work on this soon

[2015-10-20 19:14] #1289 closed

[2015-10-21 07:52] stephanbuys commented on #1156
@chanwit I would add one point, in that the Swarm 'strategies' should include a check, that if all other methods are unavailable, the container should be started on a host that actually contains the image.

[2015-10-21 08:02] jimmyxian commented on #1156
@stephanbuys
In Swarm, If run a container and pull image with not found err,  Swarm will try a soft-image-affinity( try to run the container on the node which have this image) https://github.com/docker/swarm/issues/743

[2015-10-21 09:06] jimmyxian opened #1319 "Godep update cmd remove the test file"
The latest `godep` automatic remove the `_test` file.

I found that use `godep save -t` can save _test file.(https://github.com/tools/godep/commit/87fb5cdc4cbd6f0150f2e58087e235e843065304)
But `godep update` do not have `-t` option to save `_test` file(https://github.com/tools/godep/issues/298).

Now, which way should we go?
ping @docker/swarm-maintainers

[2015-10-21 18:38] vieux commented on #1319
I think we should remove the tests

[2015-10-21 19:52] kacole2 opened #1323 "Can't create a swarm cluster manually"
Been banging my head against a wall for a few hours now. We are looking to use the latest versions of the docker engine, compose, and swarm.

I create 2 hosts with Docker Machine and set the `--engine-install-url https://experimental.docker.com` (we are creating a lab environment for people to install Swarm manually, thus not configuring via Docker Machine) and the install completes.

on node 1:
[

[2015-10-21 20:08] abronan commented on #1323
Hi @kacole2,

Could you please output the logs of the swarm Manager (`docker logs swarm-agent-master`)? Either this is a connectivity issue between the swarm Manager and the Agents (are the docker daemons exposed over TCP? with `-H tcp://0.0.0.0:237[5-6]`?), or a discovery issue. Thanks!

[2015-10-21 20:19] kacole2 commented on #1323
@abronan thanks for the response. here are the logs:
[code]

no idea if the daemon is exposed over TCP. It was just installed from Docker Machine provisioning

[2015-10-21 20:44] abronan commented on #1323
@kacole2 If using docker-machine to provision the docker daemons, then they are most likely exposed on `2376` using TLS which explains why the Manager can't connect to the Agents as it is not configured to use TLS (also because the port given to join: `2375`, seems wrong in this case).

As you are setting up the swarm Manager manually (not letting docker-machine set up Swarm for you as explained [

[2015-10-21 20:45] kacole2 commented on #1323
I just tried running these commands on a new host and still no go:
[code]

[2015-10-21 20:45] kacole2 commented on #1323
@abronan i'll dig into it more. thanks for the help.

[2015-10-21 21:19] #1323 closed

[2015-10-21 21:23] abronan commented on #1323
@kacole2 Feel free to re-open and comment here if you have any more trouble or question, if you follow the guidelines for the manual install you should be good to go :)

Concerning the TLS part it's a little bit more tricky but following the docker docs that I linked in my comment above you should also be good to go.

[2015-10-21 21:29] kacole2 commented on #1323
@abronan i'm realizing that it won't really work if i'm deploying the hosts with Docker Machine. would probably only work if i start everything from scratch.

[2015-10-22 00:45] #1316 closed

[2015-10-22 01:19] jimmyxian commented on #1312
@vieux I just have done some `run` options, not all. :). Anyway, i will continue to work on this.

[2015-10-22 01:58] jimmyxian commented on #1319
@vieux OK, got it!

[2015-10-22 01:58] #1319 closed

[2015-10-22 07:33] jimmyxian commented on #1312
@abronan Closed?

[2015-10-22 12:49] bhar19 opened #1325 "How to debug swarm source code"
Hi,

I am a newbie, i want to explore more on scheduling strategy. Can any one help me, is there any debug tools available for debugging or, we need to use debug option through swarm ?

BR,
Bhargava

[2015-10-22 13:23] chanwit commented on #1325
I am not sure how others do. To me, I didn't start with a debugging tool. I read the tests (_test files) to study how the code works.

[2015-10-22 13:39] bhar19 commented on #1325
Thank you !! I will do the same for now.

But if we do some changes in code and I want to ensure whether it is going in right way then in that case it might be useful. As Go language can be debugged through gdb, but i am not sure how can i use in case of swarm.

[2015-10-22 13:41] chanwit commented on #1325
@bhar19 With that, we cope with those changes using unit and integration tests. See `_test` files and also `.bats` in the `integration` directory for what we did here.

[2015-10-22 13:58] vieux commented on #1312
@jimmyxian you wrote "Fix #1312" in the PR #1318 so it closed this one automatically, it's not @abronan he just merged #1318.

I usually use "Related to #xxx" when It doesn't fix entirely the issue.

[2015-10-22 14:04] bhar19 commented on #1325
Thanks alot !!

[2015-10-22 14:08] ekristen opened #1326 "/images/create returns 201 with swarm, but 200 with docker, no documentation"
It seems that when you call /images/create you get a 201 not a 200, but there is no documentation (at least that I could find) to support that the endpoint was modified from the default docker api, which returns a 200.

[2015-10-22 14:09] #1325 closed

[2015-10-22 14:09] chanwit commented on #1325
@bhar19 No problem. Have fun!

[2015-10-22 15:08] riuvshin commented on #1267
related issue https://github.com/docker/swarm/issues/1241

[2015-10-22 15:17] riuvshin commented on #1267
ok so here is my 5 cents.
swarm version 1.0.0-rc1
docker version 1.6.0
CentOS 7.1

[code]
gives ```7189   77996  734580```

there in lsof output were ~7k messages with (CLOSE_WAIT) state

ulimit -a

[code]

in swarm logs:

[code]

limits were riched in ~2 days.

[2015-10-22 16:06] vieux commented on #1326
@ekristen thanks for reporting, we are going to fix it.

[2015-10-22 16:30] ekristen commented on #1326
@vieux no worries! thanks for addressing it so quickly.

One other question, I've also noticed that it doesn't appear to stream the layer information like the normal docker api, is that intentional?

[2015-10-22 22:57] dongluochen opened #1328 "Scheduler does not evict engine from scheduling decision before it is flagged as dead"
In Swarm 1.0.0 it may take 90 seconds or more to flag a node down. In a swarm set up with 2 nodes 'vm2' and 'vm3'. When docker daemon on vm2 was shutdown, 'docker run’ commands to swarm failed for around 90 seconds until swarm ‘flag engine as dead’. During that time requests to swarm got refused. In these 2 node setup it has about 50% chance to report the issue.

[code]

[code]

[code]

[code]

[2015-10-22 23:01] vieux commented on #1328
ping @abronan @aluzzardi

[2015-10-22 23:17] abronan commented on #1328
The problem as I see it is that the node is not flagged as dead as soon as a connection fails. Thus in a setup of two nodes, the scheduler will continually pick `node2` even though it's down but still not flagged as dead. The result is that all the requests are going to fail for `90` seconds.

The fact that there are only two nodes exacerbate the problem.

Se we should evict the node from any sche

[2015-10-23 01:06] jimmyxian commented on #1312
@vieux :laughing: Got it.

[2015-10-23 01:10] #1326 closed

[2015-10-23 01:25] abronan commented on #1328
There are two solutions:

- Either we say it's the default behavior to wait for the node being flagged as dead during the `refresh` loop. In this case it's only a problem when you have a small number of nodes.

Downside (let's say bug even): *You have N/M chances to be blocked for the time of the refresh loop if the node that is down is the one picked by the strategy for the next request*

- Eithe

[2015-10-23 02:15] aluzzardi commented on #1328
@dongluochen @abronan @vieux: That's the work I started with #1276, basically, instead of selecting one node to run the container, we get a list of nodes.

They idea is that we can try on one of the nodes (the first one, since they are ranked by priority) and if it doesn't work, we move on to the second one.

Also related to this, which we should probably push by `1.0` is: the number of retries as

[2015-10-23 02:27] abronan commented on #1328
Oh forgot about this change. Indeed sounds like we just need to continue on that path and select the next one on the list :+1:

[2015-10-23 03:18] dongluochen commented on #1328
#1276 sounds great! If we have a short list of nodes, swarm manager can also 'ping' them to select healthy ones before containers are scheduled. It may reduce failure attempts to provide a better user experience. One failure case for that is swarm manager itself is under network partition that it cannot reach the majority of nodes. That problem should be handled by election/monitoring.

[2015-10-23 08:18] pwnall commented on #1282
I put together a patch in PR #1310. I pushed a swarm build that incorporates the patch at  `pwnall/swarm:image_filters`

[2015-10-23 14:06] riuvshin opened #1331 "discovery by file don't retry cheking not active node"
Hi! I faced with the issue where swarm don't trying to reconnect node after 1st failure
[code]
I was failed 1st time due to node was not ready it was provisioned after swarm started, but once node become available swarm not trying to join node.

I can touch it with curl
[code]
So I need to restart swarm to get it works. But If I manually stop docker on node swarm trying to reconnect node continuou

[2015-10-23 19:46] derailed opened #1333 "Documentation request..."
All,

   I am trying to setup a load balanced node cluster on aws. I have several tech piece in my stack that each require knowing about each others ip/ports in order to load balance and cluster. My compose file is working fine on a single instance but now need to make it real in a deployed env by providing balancing and replication across a node cluster. I understand there is a way to setup a pri

[2015-10-23 20:08] MHBauer commented on #1331
this sounds kind of like #1185, but with file instead of token.

[2015-10-23 20:12] technolo-g opened #1334 "runtime error: invalid memory address or nil pointer dereference"
Hi guys,
 When attempting to deploy:
[code]

...against rc-1 we're getting these errors:

[code]

Here is some pertinent info:

### Docker Version
[code]

## Docker Info
[code]

Please let me know what other info I can provide

[2015-10-23 20:22] technolo-g commented on #1334
Swarm daemon info:

[code]

[2015-10-23 20:28] vieux commented on #1334
@technolo-g I think I know where it comes from, but I have one question.

Where you adding/removing nodes while scheduling containers ?

[2015-10-23 21:05] #1334 closed

[2015-10-23 21:07] technolo-g commented on #1334
I don't believe so. Everything was static at the time. Nodes have been up/down/reinstalled repeatedly since Swarm was started though.

[2015-10-23 21:09] vieux commented on #1334
@technolo-g alright, that's the only place in the code where I could see the error happen, so we merged this one. Let's see if the error still happen with rc2 (to be released soon)

[2015-10-23 21:13] #1183 closed

[2015-10-23 21:54] #1282 closed

[2015-10-23 22:05] jtwile2 opened #1336 "Swarm locks cluster indefinitely if 'create' hangs on node"
The http client used by swarm to communicate with docker nodes has a Dial Timeout, but not a response timeout.  If a 'create' hangs on the docker daemon, swarm locks the cluster indefinitely.

HTTP Client creation with Dial Timeout only:
https://github.com/samalba/dockerclient/blob/master/utils.go#L11

Mock Docker Daemon with a sleep on 'create' request:
https://github.com/jtwile2/docker/blob/mast

[2015-10-23 22:25] abronan opened #1337 "Integration tests are flaky for store backends"
Tests are almost always failing on zookeeper now even though there was no change in the `libkv` code or the kv discovery logic since the time it was working fine. Might be due to the environment or the image but not sure.

This should be investigated and fixed.

[2015-10-23 22:31] mastermindg commented on #797
Heads up that you'll need to adjust the timeout settings when compiling go on arm.

[2015-10-23 22:59] vieux commented on #1336
@jtwile2 can you give us the exact version of swarm you are using ? I believe it's fixed in 1.0.0-rc1

[2015-10-23 23:00] abronan commented on #1336
Looks like a duplicate of #1194

[2015-10-23 23:10] jtwile2 commented on #1336
I built it today using 'go get github.com/docker/swarm'

[2015-10-23 23:35] jtwile2 commented on #1336
I'm going to close this, just tested again and works great, it was fixed with #1194

[2015-10-23 23:35] #1336 closed

[2015-10-25 03:36] aluzzardi commented on #1288
@rhim It's simply because the same image is used for both manage and join.

Manage has to expose the port, join does not, but since it's the same image they both do.

[2015-10-25 23:01] thaJeztah commented on #1288
It may be worth adding that the `EXPOSE` instruction only *informs/hints* docker which ports a container is listening on, but does not actually make ports reachable; the `EXPOSE` instruction merely makes the image more convenient to use. We recently merged a PR to clarify this in the documentation; https://github.com/docker/docker/pull/16965/files

[2015-10-26 03:18] technolo-g commented on #1334
SGTM

[2015-10-26 03:19] clintonskitson opened #1339 "Requesting volume-driver and new volume from Swarm does not work"
When trying to create a volume from a `swarm` endpoint and specifying the `volume-driver`, the new volume is not created as expected.  The following command results in a new volume created using the `local` driver instead of the requested storage-driver.

Swarm: 1.0.0-RC1
Docker: 1.9.0-dev

[code]

[2015-10-26 05:33] chanwit commented on #1288
I think @thaJeztah's is clear enough. Shall we close this then?

[2015-10-26 06:19] jimmyxian commented on #1339
@clintonskitson Thanks for reporting this. :)
I will fix this.

[2015-10-26 10:52] vincentwoo commented on #197
@aluzzardi I see that this was marked resolved in https://github.com/docker/swarm/pull/811, but I don't see the topic addressed in the official docs or changelog. Can you describe the procedure required to remove a node from the cluster? Does it depend on the discovery service?

[2015-10-26 15:00] rhim commented on #1288
Yep. Go ahead. 

-Himanshu

On Sun, Oct 25, 2015 at 10:34 PM -0700, "Chanwit Kaewkasi" <notifications@github.com> wrote:

I think @thaJeztah's is clear enough. Shall we close this then?

—
Reply to this email directly or view it on GitHub.

[2015-10-26 16:23] abronan commented on #197
Hi @vincentwoo, Yes it depends on the discovery service. If using the `kv` discovery or the `token` discovery, there is a `TTL` field attached to the node entry. If the node does not heartbeat to notify of its presence in the cluster (ie. stopping the `swarm join` or the node crashes), the `TTL` will expire and the Manager will be notified to remove the node entry.

[2015-10-26 17:29] vincentwoo commented on #197
So if I understand you correctly, the way to remove a node is to explicitly kill whatever background process `swarm join` is running in, and wait for the TTL to expire? Are there plans to encapsulate or document this?

[2015-10-26 17:34] abronan commented on #197
Yes exactly. The documentation mentions the `heartbeat` flag but I agree that this should be explained better.. Especially about the whole process off tagging a node as dead to evict it from any scheduling decision and then removing it from the cluster, the process of heartbeating and watch notifications, etc.

You can maybe open an issue to track this. I'll look into enhancing the docs for this a

[2015-10-26 18:24] vincentwoo opened #1341 "There should be documentation on how to remove a node from the swarm"
Per @abronan's request, opening an issue to track lack of docs on this topic. Node removal is kind of tricky, and users need to be away of ways it can fail, as well.

see #197 for reference

[2015-10-26 20:13] jianghaitao commented on #664
@doronl you need to check if you can reach your proxy servers first. I passed proxy settings into swarm and was able to get a token.

[2015-10-27 09:19] doronl opened #1343 "Swarm node disconnects after SSH terminal closes"
Hi,

  I set up a swarm cluster, when I run on the host\node:

  docker daemon -H tcp://0.0.0.0:2375 I get the daemon output to the console and everything works fine but when I close the terminal or the SSH connection disconnects I get:

  Error response from daemon: dial tcp <node IP>:2375: connection refused

  when runing commands on the cluster manager.

  It seems the deamon is not listing to

[2015-10-27 09:45] doronl commented on #664
I eventually gave up using the hub token and used a etcd for discovery.
Thanks

[2015-10-27 16:12] abronan commented on #1343
Hi @doronl, not if the daemon process is attached to your terminal session. Make sure you run the daemon as a background process using `nohuo`/`&`. This way it will keep running when you close your terminal session.

[2015-10-27 16:51] riuvshin commented on #1331
@MHBauer  thank you for notification! I'll track #1185  also as it's blocker to me.

[2015-10-27 21:09] alexellis opened #1344 "ARM + PC mix Error response from daemon: client is newer than server"
I am running Docker swarm on my Raspberry PIs - with the following listed configuration and I'd like to know whether I can get these to work together.

I have been able to

* create a swarm token (on PC)
* create a swarm master (on PC)
* run docker daemon on arm
* run docker swarm on arm with statically linked and built swarm binary
* run swarm manage list and see my two
* run docker ps etc while

[2015-10-27 21:20] doronl commented on #1343
Thanks @abronan! it looks like it did the trick… funny it was not mentioned in any example I have seen so far…

A small feedback if I may, lMO this should be built in capability rather than using a wrapper command, when I run something in daemon mode I expect it run in the background.

[2015-10-28 01:48] dave-tucker opened #1345 "1.0.0-rc2: docker network inspect returns error"
Just trying out Swarm RC2 and hit this issue
[code]

[2015-10-28 01:48] dave-tucker commented on #1345
/cc @vieux

[2015-10-28 02:10] vieux commented on #1345
@dave-tucker can you confirm it works if you use the ID?

[2015-10-28 03:52] chanwit commented on #1344
Could you try compiling `swarm` 1.0.0-dev with `docker` 1.9-dev? There would be some fixes on version compatibility lately.

[2015-10-28 03:53] vieux opened #1348 "json: cannot unmarshal object into Go value of type []string after docker run -it"
Using docker engine 1.9.0rc3 and swarm master:

[code]

As you can see, after a docker run with `-it` there is an issue: `json: cannot unmarshal object into Go value of type []string
`

~~In TTY mode, the cli is doing an `inspect` after the run to get the exit code (see https://github.com/docker/docker/blob/b227d19cae34d6d0ce92b72a53f02330b0be5992/api/client/utils.go#L281)~~

~~Since the docker in

[2015-10-28 04:05] vieux commented on #1348
@abronan @aluzzardi I updated the issue content.

[2015-10-28 04:12] #1345 closed

[2015-10-28 04:32] #1348 closed

[2015-10-28 04:33] vieux commented on #1348
I was using rc1 client...

[2015-10-28 04:33] #1257 closed

[2015-10-28 04:33] abronan commented on #1348
:ghost:

[2015-10-28 07:36] rgardler commented on #1183
I confirm that this appears to work. At least on the tests I've done so far I'm not seeing the issue. Thank you @vieux

[2015-10-28 08:21] alexellis commented on #1344
I started up swarm manage on one of the PIs and then I was able to run the cluster and see them reporting as present and I could start a container that way.

But ideally I'd like the PC to be the 'manage' node though and it has the higher API version. Is there a way of making the docker engine on the PC 'play' with nodes at a lower client version? (short of harmonising all the versions)

[2015-10-28 11:01] micheletedeschi commented on #792
Same problem. I have two nodes on virtualbox created with docker machine on OSX. I use Weave works on top of Swarm.

[code]

[code]

I've create a test container with this command:
[code]

if I use swarm endpoint the command execute, I see the command output but I need to send **Enter** twice to see the prompt, no problem with other endpoints.

[code]

If I run exec with weave or docker endpoint a

[2015-10-28 13:39] cpuguy83 commented on #792
This should be fixed in 1.0.0-rc2 (and master)

[2015-10-28 15:01] abronan commented on #792
Yes this one should indeed be fixed (thanks @cpuguy83 :), closing this one for now but feel free to comment if you have any more issues related to `exec`/`attach`. Thanks!

[2015-10-28 15:01] #792 closed

[2015-10-28 15:16] micheletedeschi commented on #792
Thanks!

[2015-10-28 18:30] ezrasilvera commented on #1269
Just as a test case - we are currently using this change (#1359)  in our local Swarm based cloud service and we already have a customer that is successfully using private registry by passing the X-Registry-Auth header

[2015-10-28 19:04] dave-tucker opened #1351 "1.0.0-rc2: port mapping missing from "docker ps" on overlay networks"
[code]

To replicate

[code]

Port mapping is actually working though as I can browse to Nginx on port 80

[2015-10-28 20:36] aluzzardi commented on #792
@micheletedeschi Hey, you can try the latest master build by running `docker run dockerswarm/swarm:master` instead of `docker run swarm`

[2015-10-28 20:59] dave-tucker commented on #1351
closing as root cause appears to be docker/libnetwork#716

[2015-10-28 20:59] #1351 closed

[2015-10-28 22:28] #1339 closed

[2015-10-29 01:47] cpuguy83 opened #1352 "Exiting a container with `-t` yields json unmarshal error"
[code]

This only happens with `-t`, if I do about with just `-i`, no issue (except of course no terminal).

This is swarm rc2 talking to docker rc3 daemons.

[2015-10-29 01:50] cpuguy83 commented on #1352
Ok, only happens with rc2 client, works with rc3... sorry for the noise.

[2015-10-29 01:50] #1352 closed

[2015-10-29 08:23] aluzzardi commented on #1343
Hey @doronl - sorry about that. It's a documentation problem.

You should just update your docker startup configuration to add the right `-H` flag.

The problem is, that configuration depends on which operating system you are using, therefore it's tough to document.

On Ubuntu, that would be `/etc/default/docker` (`DOCKER_OPTS` I believe)

[2015-10-29 08:24] aluzzardi commented on #1333
ping @vieux

[2015-10-29 08:25] aluzzardi commented on #1302
ping @vieux

[2015-10-29 08:27] aluzzardi commented on #1293
@jimmyxian Could you have a look into that since if I remember correctly you tweaked the image matching?

Or was it you @vieux ?

[2015-10-29 08:28] aluzzardi commented on #1281
Perhaps we should call `refreshSpecs` in the engine refresh loop.

Thoughts? /cc @docker/swarm-maintainers

[2015-10-29 08:30] aluzzardi commented on #1279
Hey @jfourment - how about the connection between the manager and the nodes?

If it manages to connect, you should see something in the logs.

Do you have the full logs by any chance?

[2015-10-29 08:40] aluzzardi commented on #1267
Hey, thanks for the report and the fix, @wrotki!

I thought it was the end of leaking fds, we fixed a similar problem months ago :/

Perhaps we should add an integration test that checks against leaking file descriptors so it will never happen again. /cc @docker/swarm-maintainers

@abronan Was this https://github.com/samalba/dockerclient/pull/172 ever godep updated into swarm?

@riuvshin @coryb If

[2015-10-29 08:41] aluzzardi commented on #1241
Am I right to assume this is a dupe of #1267 ?

[2015-10-29 08:44] aluzzardi commented on #1129
Hey @shashiranjan84, sorry this fell through the cracks.

This likely means swarm cannot reach the nodes.

If you can't restart it with the debug flag, you could simply start another swarm with the same token AS LONG as you use it in read-only mode (e.g. don't run containers on it).

My guess is ` --addr` in `join` was used wrong.

You could try something like this:

In the manage machine, run:
-

[2015-10-29 08:45] aluzzardi commented on #1121
Hey @cpuguy83 - I believe we can close this down?

[2015-10-29 08:52] riuvshin commented on #1267
@aluzzardi Hi, it seems that issue still actual but maybe due to some other bug. I've updated swarm to latest from master with fix in dockerclient but after 2 days of work with 2 nodes it reproduced again:

[code]
there is 16k nofile limit (default 1k)

Maybe it's related somehow to discovery by file?

[2015-10-29 08:54] aluzzardi opened #1353 "swarm join heartbeat should be an interval"
When starting a bunch of machines at the same time it hits hard the store.

[2015-10-29 09:04] aluzzardi commented on #1267
@riuvshin Perhaps it's simply because we didn't update to the latest dockerclient.

Will check

[2015-10-29 09:09] riuvshin commented on #1267
There is:
[code]
which should include fix.

[2015-10-29 09:43] klaus1982 commented on #1241
@aluzzardi , I think so.

[2015-10-29 10:10] aluzzardi commented on #1185
We have to redesign the node registration system.

Right now, as you mentioned, if the initial registration fails then it gives up. That's for multiple somewhat valid reasons.

It just assumed that whenever we detect a new node, a join was just issued therefore the node has just been started therefore it should be reachable. If not, then it was probably because of a join misconfiguration.

Adding

[2015-10-29 10:11] aieeeeeeeee commented on #705
I'm also having the same issue when trying to link a django container with postgres:
[code]

As said by kacole2, my understanding is that a swarm cluster behaves like a standalone node and therefore that all the names are shared accross the nodes.
Nevertheless, I see 2 possible solutions:
- Either export all the names of the differents nodes to the cluster so names would be known everywhere
- Eith

[2015-10-29 10:16] aluzzardi commented on #705
@aieeeeeeeee Is `django_postgres` a container somewhere?

@mavenugo: Should we recommend to just use overlay instead of linking?

[2015-10-29 10:19] aieeeeeeeee commented on #705
[code]

Isn't it correct?

[2015-10-29 10:25] aluzzardi commented on #705
Weird, it seems to be working here:

[code]

Could you provide the output of a `docker info` please?

[2015-10-29 10:28] aieeeeeeeee commented on #705
[code]

[2015-10-29 10:29] aluzzardi commented on #705
Also, how was `django_postgres` started?

Same question for you, @otzy007: how was elastic search started?

`--link` can only work if the two containers run on the same machine.

docker 1.9 and swarm 1.0 are introducing a new multi-host network features that allows containers to talk to reach other on different hosts without the need of linking.

[2015-10-29 10:33] aieeeeeeeee commented on #705
@aluzzardi: `django_postgres` has been started as follows:
[code]

[2015-10-29 10:45] jimmyxian commented on #1267
@aluzzardi Already updated.

[2015-10-29 10:57] jimmyxian commented on #1293
@aluzzardi OK, I will take this.

[2015-10-29 11:16] cpuguy83 commented on #1121
Yep.

[2015-10-29 11:16] #1121 closed

[2015-10-29 11:17] linecheng opened #1354 ""No such image" error during swarm push"
I‘m using swarm  push my image to my local registry.

This is some information

Registry  :  172.16.150.12:5000
Swarm :      172.16.150.11:8080

I have an image named `172.16.150.12:5000/demo/app_45:tag_45` on  172.16.150.12 .

use the command
[code]
It returns
[code]
But I can push it  by using this command
[code]

How to push it by using swarm ?

Docker Version ：Docker version 1.8.3, build f4bf5

[2015-10-29 12:01] jimmyxian commented on #1354
@linecheng Thanks for reporting this.
I will fix this.

[2015-10-29 13:47] aieeeeeeeee commented on #705
@aluzzardi: I've tried your example with redis and nginx which is indeed working. Are you able to make the following works (I use public containers so you can try to reproduce the issue)

[code]

And then while linking things I get the same error as before:
[code]

[2015-10-29 13:59] mavenugo commented on #705
@aluzzardi thats correct. linking is a pure single-host concept. Overlay networking provides inbuilt service discovery for the containers with --name. So, I would recommend using pure overlay networking in swarm instead of linking (which doesnt work cross-host).

[2015-10-29 14:51] kacole2 commented on #705
@mavenugo quick question for you... I've got overlay networking properly working. How would you take the existing Wordpress Dockerfile image and have it point to a mysql instance without using `--links`? If I'm not mistaken, the official Wordpress image requires the use of `--links`. Just didn't know if there was a work-around. thanks!

[2015-10-29 15:02] micheletedeschi commented on #792
@aluzzardi With dockerswarm/swarm:master works!

[2015-10-29 15:15] schmunk42 commented on #705
@kacole2 I have the same question. Currently `--link` is not only used for network service discovery, it also shares environment variables, eg. database credentials. How will this work in the future when links become deprecated.

@mavenugo Did you use consul for overlay networking? Is consul, zookeeper or etcd mandatory for overlay networking?

[2015-10-29 15:26] mavenugo commented on #705
@schmunk42 do you mean for testing ? I use either of the 3 you mentioned. And yes, we need atleast 1 of these to have overlay networking working. We also have e2e multi-host Integration-Tests in libnetwork project using all these 3 stores. Please check it out.

You also brought up some of the short-term pain with migrating away from links. `Links` is an awesome feature with some limitations. one s

[2015-10-29 16:25] dnephin opened #1356 "Duplicate networks created when using Compose/Swarm/Networking"
Bringing this over from: https://github.com/docker/compose/issues/2280

From @dave-tucker:

Running through the same example in #2279 on Docker Swarm with `--x-network-driver overlay`
I have big problems after `up -d && stop && rm`

When I bring `up` my compose file again...
Instead of re-using the network (as happens in the single host use case), Compose creates a new network with the same name!

[2015-10-29 16:26] schmunk42 commented on #705
@mavenugo Thank you. I will try to check out the integration tests.

I saw in another issue, that someone reported a 404 error, when trying to use overlay networking without a kv-store, and I had the same error without getting the problem in the first place.
And since I found not much documentation about it I thought I ask in advance :) before trying it out.

[2015-10-29 16:28] kacole2 commented on #705
@schmunk42 i just got an entire lab ready for WebSummit next week where we are demo'ing the networking in 1.9. Take a look here and adjust as necessary for your needs.

[EMC {code} Docker Workshop at WebSummit 2015](https://github.com/emccode/training/tree/master/docker-workshop/websummit)

[2015-10-29 16:28] dnephin commented on #1356
I discussed this with @mrjana, and we believe this constraint should be enforced by swarm.

I'll dig into this some more to see if I can create a test case for this.

[2015-10-29 17:40] cpuguy83 commented on #1356
If the nodes are all hooked up to the same store, then it the network should be everywhere anyway. No?

[2015-10-29 18:25] vieux commented on #1356
`docker network create` against swarm only does one create on one random machine.

If you see two `counter` network, it's because two `network create` were made against swarm (by compose?)

[2015-10-29 18:27] vieux commented on #1356
I'm not sure swarm should prevent multiple global scope networks with the same name, since libnetwork allows it

[2015-10-29 18:32] peebles commented on #792
Works for me too.
a

On Thu, Oct 29, 2015 at 8:02 AM, Michele Tedeschi <notifications@github.com>
wrote:

[2015-10-29 19:04] abronan commented on #1267
@aluzzardi Yes it was already updated in dockerclient so the leak might come from somewhere else.

[2015-10-29 19:16] vieux commented on #1356
after a quick chat with @dave-tucker I understand the issue better.

If compose against engine doesn't create multiple networks then it's something we have to fix in swarm, there should be no difference for compose.

On a side note, swarm uses overlay as default network driver when it's not specified. so `--x-network-driver overlay` shouldn't be required when talking to swarm.

[2015-10-29 20:19] vieux commented on #1302
@mbentley sorry I didn't reply earlier, we refactored the UX in the rc2 and have a few fix in master. We are going to release rc3 soon.

[2015-10-29 21:05] ahmetalpbalkan commented on #1185
@aluzzardi ^ this SGTM, I think for point 4, as long as we list healthy / non-healthy engines separately in the output, it can be a very clean solution to the problem.

[2015-10-29 23:18] jfourment commented on #1279
Hey,
I found the problem but I forgot to come back and update the issue. Sorry about that!
I was mapping my manager exposed port  on the wrong internal port. Swarm Manager internal port in 2375 and not 2376 .. as I was expecting with TLS enabled.
Don't know if it has been done on purpose, but at least the documentation should be clearer on the subject. I think someone else opened an issue on the s

[2015-10-29 23:18] #1279 closed

[2015-10-29 23:33] aluzzardi commented on #1267
@riuvshin @coryb @wrotki Can anyone of you provide a reproducible case?

I've been trying to get leaks by forcing the refresh every 1s and getting a bunch of 404s but no luck so far.

[2015-10-29 23:57] wrotki commented on #1267
My case involved stopping/deleting/creating/starting a container relatively frequently (every minute or so), no TLS. It was triggering 404s (container not found) on refresh I believe and handles left behind. But it was on 0.4.0 - with the fix I couldn't see the leak anymore. Perhaps the rate is way lower now. I didn't try 1.0.0_rc2 yet.

[2015-10-30 00:11] abronan commented on #1267
This might be related to the file discovery as mentioned by @riuvshin . Since the fix I had multiple swarm running for more than 2 days using kv discovery and couldn't replicate this behavior. Might be worth investigating there.

[2015-10-30 00:46] vieux commented on #1356
@dnephin my guess is that it's fixed in https://github.com/docker/swarm/pull/1346 we are going to do an rc3 tomorrow.

In rc2, inspect using names is broken for global scope networks, so compose cannot find the network and creates a new one.

[2015-10-30 02:06] ghost opened #1357 "Re-direct Swarm's log to a file instead of stdout"
One requirement of mine is to re-direct Swarm's log to a file instead of stdout; ">" is not the option as I'd like to run swarm in docker and retrieve the log by file. If this feature is here, I'd suggest to update it in `Dockerfile`

[2015-10-30 03:18] MorganBauer commented on #1357
Just throwing this out there. Given the work put into the implementation in the docker-engine (multiple backends, etc), do you think it's feasible to turn that into a pkg and reuse it?

[2015-10-30 03:19] MHBauer commented on #1357
Just throwing this out there. Given the work put into the implementation in the docker-engine (multiple backends, etc), do you think it's feasible to turn that into a pkg and reuse it?

[2015-10-30 03:58] klaus1982 commented on #1357
I think it's each component's work to log to a file; for example, zookeeper/marathon are using log4j which can be configured to append log message to a file.

But, I not sure this issue is to Swarm or log tool.

[2015-10-30 04:55] linecheng commented on #1354
It was fixed by  https://github.com/jimmyxian/swarm/commit/5d1fd77aeac5acda7d98cd38dd727cd9802ea9d7.

I will update to add  `workaround` for anyone meet the same question and close this issue.

[2015-10-30 04:55] #1354 closed

[2015-10-30 06:39] coryb commented on #1267
@aluzzardi I just built and pushed out the latest changes to my cluster.  It has been running for ~6 hours now and there are no leaked connections.  fwiw, I previously forked and "fixed" swarm with this gross [hack](https://github.com/coryb/swarm/commit/9f1ad2f59b34218fb661fc6a156f78e5e88d0b98)

For me the ListVolumes call was getting 404 from docker daemons and leaking the file descriptor.  My ha

[2015-10-30 09:40] sinderrellar commented on #511
hello, I met the same question, but I'm sure I add -H tcp://0.0.0.0:2375 -H unix:///var/run/docker.sock -d, so, any other possible???

[2015-10-30 21:45] aluzzardi commented on #1203
Nah, I don't think we can do `since` with the current architecture - there's no way to go reliably back in time, unless we store events, but I don't think we want to get in that business.

[2015-10-30 21:46] aluzzardi commented on #1163
Weird ...

load/save are streaming without buffering to ram

[2015-10-30 21:47] vieux commented on #1203
Right, we don't want to store events but I think the engine stores a few events (maybe up to 64) so we could try to support since and call since on the underlying engines.

Not sure it's useful though

[2015-10-30 21:49] aluzzardi commented on #1267
@coryb @wrotki  Yeah I've been trying to hammer my local swarm with a bunch of requests, including 404s (docker start does_not_exist) and I haven't really noticed a leak.

Could you please keep an eye on that? It's really a critical issue.

We'll have integration tests verify we don't leak any FDs.

[2015-10-30 21:54] aluzzardi commented on #1203
Oh yeah, if there's a limit, then we could store those even in memory in our events struct

[2015-10-30 21:56] vieux opened #1360 "possible issue with rmi -f"
https://github.com/docker/docker/pull/17460 changed the behavior of rmi -f with multiple tags.

I think we need to update swarm to reflect this change.

@jimmyxian can you take care of this ?

[2015-10-31 00:42] jimmyxian commented on #1360
@vieux OK

[2015-10-31 01:51] dongluochen commented on #1191
In api.getContainersJSON, container.Names[0] is referenced without validating not empty.

[2015-10-31 07:12] chanwit opened #1364 "Swarm 1.0.0-rc2 API 1.21 but Docker Engine API 1.22"
Hi
Not sure if we need to have the same API version by the final release of Swarm 1.0.0?

Here's version I got from swarm 1.0.0-rc2.
[code]

Here's version from the master branch (image: `dockerswarm/swarm:master`)
[code]

Here's what I've got from Docker Engine, the experimental channel.
It seems to be 1.22.
[code]

[2015-10-31 07:15] chanwit commented on #1364
Other things, especially the networking part, is working fine BTW.
I can create, and list the overlay network with client/1.22 -> swarm/1.21 -> engine/1.22.

[2015-10-31 20:34] wrotki commented on #1267
I'm running 1.0.0-rc2 on a persistent install now, haven't noticed leakage yet  but will observe for a couple of days.

[2015-11-01 07:13] vieux commented on #1364
@chanwit it's tricky :)

Although 1.9.0 isn't release yet, it's going to be API 1.21 as you can see here https://github.com/docker/docker/pull/17000

What you are testing diverged from 1.9.0 and should be considered as 1.10.0-dev

[2015-11-01 07:21] vieux commented on #1191
@cpuguy83 I can't find your previous comment about this. You said it shouldn't happen in the recent version of engine ?

[2015-11-01 07:46] doronl commented on #1343
OK, thanks @aluzzardi! this should cover it :+1:  ... but IMO this aspect should be more visible.

[2015-11-01 09:00] chanwit commented on #1364
@vieux Thank you. I got it.

[2015-11-01 09:00] #1364 closed

[2015-11-01 11:50] cpuguy83 commented on #1191
Correct. In 1.9 we make sure the list is never nil.

[2015-11-02 00:42] jimmyxian commented on #1360
Already Supported.

[2015-11-02 00:42] #1360 closed

[2015-11-02 12:20] schmunk42 commented on #705
@kacole2 Thank you, that's looking great.

[2015-11-02 12:52] cerias opened #1367 "HTTP /events stream"
Currently i try to impliment swarm in our docker farm. But currently i encouter an problem wich i cannot future debug currently. The following demo code works fine with the docker remote api an logs the docker events. Sadly the same code make no output with the swarm api.

           Client client = ClientBuilder.newClient();

            WebTarget target = client.target("http://docker-app1:2376/"

[2015-11-02 18:22] abronan commented on #1241
Hi @klaus1982 (/cc @riuvshin), could you give it a try with the latest `swarm:1.0.0-rc3` image? The problem should be solved by now, let us know if you still have issues with this version.

[2015-11-02 20:06] dongluochen commented on #1191
thank you @cpuguy83 @vieux. I think my test was on < 1.9. Closing this issue.

[2015-11-02 20:06] #1191 closed

[2015-11-02 22:43] MHBauer commented on #1367
I think this is java, so wouldn't `"http://docker-app1:2376/".concat("/events")` be `http://docker-app1:2376//events`? I think the two `//` might do the wrong thing server side. Just a guess.

[2015-11-03 00:19] lukemarsden commented on #1189
@vieux @cpuguy83

You'll be pleased to know that @stephenitis and I tested this and it appears to work as predicted by the analysis above.

Sorry for the long lead time on getting this feedback to you!

[2015-11-03 02:09] klaus1982 commented on #1241
@abronan I'll try it and keep you posted, thanks for your feedback :).

[2015-11-03 07:31] cerias commented on #1367
Jep, sadly it's Java. :)

You correct with the double slash, but after the change the problem is still there. The connection to the endpoint was sucessfuly established (Http response 200). Also before this change.

[2015-11-03 14:22] cpuguy83 opened #1373 "network inspect output is non-intuitive"
Since a multi-host network is by definition available on every node of the cluster, there is only one entry in `docker network ls`.
However, if I `docker network inspect multi` I only get output from a single engine:

[code]

In reality I have 3 containers attached to this network, however there doesn't seem to be anyway to actually get at that information.

[2015-11-03 16:52] abronan commented on #821
Closing this one as we added the libnetwork support in 1.0.0 :)

[2015-11-03 16:52] #821 closed

[2015-11-03 16:55] abronan commented on #1373
Yes we discussed about that in #1262 but this couldn't make it in time for `1.0.0`. This will likely be included in a `1.0.1` with some small enhancements.

[2015-11-03 17:10] natarajanv opened #1374 "soft affinity and constraints not working properly together (1.0.0-rc3)"
if we launch a docker container with the following soft affinity/constraints, swam throws the following error:  "Error response from daemon: unable to find a node that satisfies mitre.pool==B"

[code]
This occurs when busybox is already running on pool A, and we are trying to start busybox on pool B as well. What should happen here is that even though the soft affinity is being met by r10a-dockers

[2015-11-03 17:22] abronan commented on #1374
Thanks for reporting @natarajanv

ping @jimmyxian @vieux

[2015-11-03 18:12] vieux commented on #1374
@natarajanv something is not right in your logs.

You use `-e constraint:mitre.environment==DEV` but both of your engines were started with `mitre.environment=SND`

nothing should run at all.

[2015-11-03 18:14] vieux commented on #1374
also when you use `-e affinity:container==~busybox` you say `don't run on a machine when a container named busybox is running`, it's not using the image, just the container name (or ID).

[2015-11-03 18:15] natarajanv commented on #1374
Sorry for the typo. These are the parameters:

[code]

[2015-11-03 18:24] natarajanv commented on #1374
according to the documentation:
Then, using -e affinity:container==frontend flag schedule a second container to locate and run next to frontend.

My understanding is, run busybox container on env SND and pool A where the "old version" of busybox is running. If an older vesrion is not running, still go ahead and run the container there.

I used busybox as an example , using a container name there i

[2015-11-03 18:35] vieux commented on #1374
@natarajanv here the test I wrote to try to reproduce your env:

[code]

Can you tell me if it looks like your env ? because the test pass without issue.

[2015-11-03 18:52] keith- commented on #1374
I work with @natarajanv. I believe the test needs to be altered as follows to match our situation, which is running a container with the same name on a node in both group A and B. And for subsequent runs use the same nodes in group A and B if the container is already running.

[code]

[2015-11-03 18:59] vieux commented on #1374
@keith- you cannot start 2 containers with the same name (c0) I updated the 2nd container to c1 like this:

[code]

The test fails, I'm investigating

[2015-11-03 19:19] vieux commented on #1374
@keith- @natarajanv I created a place holder https://github.com/docker/swarm/pull/1375 to keep track of the progress

[2015-11-03 19:26] keith- commented on #1374
@vieux - I really appreciate you looking into this...I am able to start 2 containers with the same name in my swarm cluster by using constraints to make sure they do not end up on the same nodes. It is only when we try to introduce soft affinities that we see problems. For example, here is output from docker ps showing 2 containers with the same name running successfully:

[code]

We need this cap

[2015-11-03 21:17] vieux commented on #1374
@keith- are you starting them through the manager or manually on each machine ?

[2015-11-04 02:43] keith- commented on #1374
@vieux - Doh! You are right, for the containers with the same names shown in my "docker ps" output, they were started by bypassing the manager... So thank you for updating the test case to use unique names as the constraint and soft-affinity issue is captured by that test case.

[2015-11-04 09:34] chengjingtao opened #1379 "Does spread strategy will consider the status of container ?"
I am using the spread strategy and it is very great .

But I have this scene:

[code]

I prefer to create new container on `docker01` ,because it has less running containers.
Is there any way to  solve the question from the viewpoint of strategy ?

[2015-11-04 17:09] moxiegirl opened #1380 "Dead links in docs"
@docker I found a typo on https://t.co/pS7bqR17wY  it should be `$ docker network ls` not `$ docker networks ls` under h2::Create a network

[2015-11-04 18:10] vieux commented on #1379
I think it's a good idea, @aluzzardi @abronan  ?

[2015-11-04 19:39] auzias commented on #1380
I'll know what to do next time :wink: :+1:

[2015-11-04 20:32] moxiegirl commented on #1380
@auzias Yay! We'll look forward to additional contributions.

[2015-11-04 21:33] abronan commented on #1379
Agreed, we should be able to restrict the strategy to be applied only to running containers on each nodes.

[2015-11-04 22:22] dongluochen commented on #1379
Similar to network load balancing, these are 2 different strategies. The first one is round robin which distributes tasks to every node (sequentially). The second one is least connections where the one with least active connections is selected. I think both are useful.

[2015-11-05 01:39] aluzzardi commented on #1379
I'm not sure - stopped containers may come back to life at any point.

In reality, I think they won't in most cases.

[2015-11-05 04:12] MHBauer commented on #1380
@auzias are you interested in making a PR? The doc in question is located [here](https://github.com/docker/swarm/blob/master/docs/networking.md#L22)

[2015-11-05 07:40] auzias commented on #1380
That's done : https://github.com/docker/swarm/pull/1381

[2015-11-05 08:28] #1380 closed

[2015-11-05 19:26] alexebird opened #1383 "swarm docker ps shows container Up, node docker ps shows container Exited"
We have been seeing this intermittently on 0.4.0 and now 1.0.0. We're running a single swarm manager.

[code]

[code]

[code]

[code]

We can get expected behavior by restarting the swarm manager.

Let me know if I can provide any more info!

[2015-11-05 21:57] abronan commented on #1383
Hi @alexebird, thank you for reporting the issue. Just curious, does it show up the same output if you use docker `1.9`? I'm keeping an eye on this as I'm using `1.9` and haven't seen this behavior before.

[2015-11-05 22:35] alexebird commented on #1383
Thanks for the quick response. Unfortunately we'll have to get back to you on that as we're using CoreOS stable (without fleet/etcd) and won't have access to docker 1.9 until they include it.

[2015-11-06 07:21] dsampath opened #1385 "Panic Error: Discovery error: Unexpected watch error"
time="2015-11-06T01:13:05Z" level=error msg="Discovery error: Unexpected watch error"
time="2015-11-06T01:13:25Z" level=info msg="Removed Engine dj-1"
time="2015-11-06T01:13:25Z" level=info msg="Removed Engine dj-0"
time="2015-11-06T01:23:48Z" level=info msg="Listening for HTTP" addr="0.0.0.0:3376" proto=tcp
time="2015-11-06T01:23:49Z" level=info msg="Registered Engine dj-1 at 54.193.124.217:2376"

[2015-11-06 13:54] ThibautGery opened #1386 "Master can't connect to node"
Master can't connect to node
=======================

I run one agent, one master and the discovery service on the same host `192.168.56.25`

Environment
-----------------
Port on the host:

 * consul : `8500`
 * docker daemon: `2375`
 * agent port: `2376`
 * master port: `2380`

docker version:

		Client:
		 Version:      1.9.0
		 API version:  1.21
		 Go version:   go1.4.2
		 Git commit:   76d6b

[2015-11-06 21:47] jmccormick2001 commented on #1214
+1, I am integrating Swarm into my app and just ran into this issue.

[2015-11-06 23:50] vieux commented on #1385
ping @abronan

[2015-11-07 00:20] ch3lo commented on #1386
In your swarm agent change the adevertise to advertise=192.168.56.25:2375 and in the master remove the advertirse in your master.

Regards

[2015-11-07 13:15] ThibautGery commented on #1386
Thank you very much, I misunderstood the fact that the master contact directly the docker daemon instead of the swarm agent. I had to change my docker options to : `--tls=false -H tcp://0.0.0.0:2375 -H unix:///var/run/docker.sock`

The following commands work properly :

		docker run -p 8500:8500 --name consul --rm=true progrium/consul -server -bootstrap
		docker run --rm=true --name node1 swarm j

[2015-11-07 13:15] #1386 closed

[2015-11-08 05:55] rgardler opened #1387 "Swarm not releasing ports on `docker stop`"
I started three containers on a three node cluster:

docker run -d -p 80:80 web

As expected I got one container on each node.

Then I stopped them:

docker stop $(docker ps -q)

Then I tied to restart one of the containers with the same command:

$ docker run -d -p 80:80 web
Error response from daemon: unable to find a node with port 80 available

FYI

$ docker info
Containers: 6
Images: 9
Role:

[2015-11-08 06:00] rgardler commented on #1387
Perhaps this is expected behavior?

$ docker ps
CONTAINER ID        IMAGE               COMMAND             CREATED             STATUS              PORTS               NAMES
$ docker ps -a
CONTAINER ID        IMAGE               COMMAND                  CREATED             STATUS                      PORTS               NAMES
2e1c743ab23b        web                 "apache2-foreground"     18 minu

[2015-11-08 06:04] abronan commented on #1387
@rgardler Yes this is the expected behavior :) reason for that is that you may want to restart the container you just stopped and the port will not be available in that case. So we expect users to remove the container entirely if the port needs to be made available to some other container.

[2015-11-08 06:07] rgardler commented on #1387
Thanks.

[2015-11-08 06:07] #1387 closed

[2015-11-08 15:16] onlyjob opened #1388 "please improve license grant"
Similar to [libkv](https://github.com/docker/libkv#copyright-and-license), please update [Copyright and license](https://github.com/docker/swarm#copyright-and-license) paragraph to explicitly mention version(s) of the documentation license and its scope.
Thanks.

[2015-11-09 03:55] swan-go opened #1389 "docker-swarm 1.0 supports the images automatically sync to a different host it when you start the container?"
as title, thanks!

[2015-11-09 14:39] daemonza commented on #670
Using the example container create for server API version 1.21 (http://docs.docker.com/engine/reference/api/docker_remote_api_v1.21/#create-a-container)
I get the exact same json error

using

[code]

response I get back

[code]

[2015-11-09 15:12] cerias commented on #1367
The problem still exists for me with swarm 1.0 and docker 1.9

Other stream api's like the container/{id}/stats api works fine. except the events api where no line is printed.

[2015-11-09 15:37] stemau98 opened #1390 "Swarm Docker Run Proxy Issue"
Hey!

I'm working behind a company proxy and trying to run a docker swarm cluster.
I am able to join and manage a cluster but when it comes to starting a container with docker run I get a html response from the proxy server with error code 502.

Proxy settings for docker work fine.

All other commands within the swarm cluster like ps, pull, etc. worked also fine, only the run command failed.

[2015-11-09 15:39] cerias commented on #1367
I think i got the problem.

If i get char for char, my output is correct. So from my point of view there is an missing line terminator in the events api so readline() would never end. And so its behave a little bit diffrent from the others endpoints.

Could anyone check if i'm right?

[2015-11-09 17:50] riuvshin commented on #1241
@abronan I've updated to rc3 also

[2015-11-09 17:52] riuvshin commented on #1267
I've updated to rc3, will see if it will appear.

[2015-11-09 19:41] abronan commented on #1267
@riuvshin final `1.0.0` is available now, so you can also pull `swarm:v1.0.0` :)

[2015-11-09 22:09] aruneli opened #1391 "Typo error in Docker Swarm Networking"
![image](https://cloud.githubusercontent.com/assets/7720752/11048231/75b294da-86eb-11e5-80ff-7e56620bbe18.png)

It has to be "docker network ls"

[2015-11-09 22:11] MHBauer commented on #1367
Docker the client reads by decoding json objects. This client is reading by lines.

Docker the server has newlines between json objects. Swarm does not separate the json by newlines.

I would guess that docker the server has newlines to flush the buffer.

[2015-11-09 22:41] MHBauer commented on #1391
Was this already fixed by #1381?
@moxiegirl
Are we waiting for a cherry-pick to the displayed docs?

[2015-11-09 22:45] MHBauer commented on #1391
I think so, because I have no instance of the string `docker networks` present in my repository.

[code]

[2015-11-09 23:12] programmerq opened #1393 "Swarm node is removed and then re-registered when deleting a container"
I've been working on diagnosing the following issue:

-----------

-----------

In my attempts to reproduce the "No such container" issue, I found the following setup was able to give me the same output:

I launched consul on one host, and then created a swarm cluster in digitalocean using the consul discovery backend.

I then launched 30 instances of bash running `docker run -e constraint:node==s

[2015-11-10 00:45] moxiegirl commented on #1391
@MHBauer I have not done a cherry-pick yet.  Next release is Thursday.

[2015-11-10 07:23] bhar19 opened #1396 "Change in scheduling strategy"
Hi,

Started docker swarm manager using binpack strategy and then later I decided to change it to spread strategy on the same port, is this kind implementation is available in docker swarm?

docker run -d -p 32768:2375 swarm manage --strategy "binpack" token://da0d4fd2d37068a4cbf891dda0378d5e

//
Bhargava Tadi

[2015-11-10 09:06] doronp commented on #1396
Assuming you mean that you stopped the running manager and ran it again with the command you wrote -  The manager will schedule using the strategy you asked for from that point on. Notice that the formerly allocated containers will not be re-balanced or anything of that sort. Hope this helps.

[2015-11-10 09:13] bhar19 commented on #1396
If I want to change the strategy allocation of running manager, then is it possible?

[2015-11-10 10:50] schmunk42 commented on #599
Any news about this feature?
Or is there a 3rd party rescheduling implementation which uses native docker tools (swarm & compose)?

[2015-11-10 13:27] doronp commented on #1396
Not that I am aware.

[2015-11-10 14:09] bhar19 commented on #1396
Thank you Doronp!
I would like to know if this feature is available in the Swarm or not, I would like to own the issue and try to solve it.

[2015-11-10 20:27] tacchino commented on #1214
:+1:

[2015-11-10 22:25] nathanleclaire opened #1398 "docker build -t image/name .; docker push image/name is non-deterministic"
I am not 100% sure but I think that if you `docker build` and then `docker push`, if there's an "invalid cache" version of that image tag on one of your nodes, it's possible that the `push` won't "stick" to the same node as the `build`.  Consequently, the wrong thing might be pushed and you're not guaranteed to push what you just built. I realize this is a tricky problem but I was wondering if you

[2015-11-11 01:10] nathanleclaire opened #1399 "Can't get memory limit (docker run -m) to work with Swarm"
I've got a four-node Swarm cluster running in DigitalOcean (Debian 8) using Consul as the KV store in a setup very similar to what's described in the overlay networking quickstart in the docs (https://docs.docker.com/engine/userguide/networking/get-started-overlay/).  Each server has about 500m of memory.

It seems that the memory limit flag isn't working as I expected?  Historically I thought tha

[2015-11-11 01:14] nathanleclaire commented on #1399
I should note that it's the latest of everything: `swarm:latest`, Docker Machine 0.5.0, Docker client and daemon 1.9, etc.

[2015-11-11 01:18] vieux commented on #1399
@nathanleclaire you are using the flag correctly, I don't understand what's wrong with you setup:

[code]

I'll be happy to take a look tomorrow.

[2015-11-11 01:25] nathanleclaire commented on #1399
Thanks Victor... I'll leave the Swarm cluster running and post some more logs etc. if I come across them.

[2015-11-11 01:27] nathanleclaire commented on #1399
Don't see anything interesting in the Swarm master logs so far.

[2015-11-11 01:53] dongluochen commented on #1398
@nathanleclaire You are right that if 2 nodes have same image name, `docker push` will push the first one it finds. There is no 'wrong' image in this sense. Users need to tag images properly. Current good practice is not to build/push thru swarm, but on docker.

[2015-11-11 02:11] nathanleclaire opened #1400 "No constraint / affinity syntax for labels without values"
Providing a value for `docker run --label` in addition to a key is optional.  Both of the following are valid:

[code]

However, Swarm does not have any syntax to schedule based on the key alone as far as I can tell.  If you set `--label com.something=foo`, you can schedule like:

[code]

But, if the original container was set with `--label something`, without any value, it is not clear how to sch

[2015-11-11 05:13] abronan commented on #1399
@nathanleclaire Can't reproduce with swarm `1.0.0` and docker master :confused: not sure what is the issue and why it isn't reported correctly. This is the kind of things that the CI would catch if not working. What version of the engine are you using?

If you restart the docker engines and swarm from scratch, can you still reproduce this issue?

[2015-11-11 07:19] ahmetalpbalkan opened #1401 "Mesos plugin does not honor mesos.offertimeout, holds offers for long durations"
As far as I can tell, no matter what I set as `--cluster-opt mesos.offertimeout` (such as `=10s`) swarm just holds off the offers it gets and does not let them go even though I am not scheduling any containers.

The repro is rather very easy, I just start a Chronos task that repeats very quickly (`PT5S`) and I can see it working fine. Then I start Swarm, Chronos tasks suddenly stop getting schedul

[2015-11-11 07:34] cerias commented on #1367
Yeah, adding an line terminator would make it easier to switch from docker to swarm.

For prototyping i used for me the most basic form with parsing line for line. After this clarification i switched it to jackson and everything works fine.

     for (Iterator it = new ObjectMapper().readValues(
                    new JsonFactory().createParser(inputStream), SwarmEvent.class);
                 it

[2015-11-11 07:34] #1367 closed

[2015-11-11 08:22] ahmetalpbalkan commented on #1401
Turns out this is my bad. I was having a typo like `--cluster-opt mesos.offertimout=` while running the command and swarm didn't complain and silently proceeded with the default value for offertimeout.

Closing this issue as it works as expected but I'd like to note that 10 mins is probably not a good default in this situation as it makes the entire mesos cluster pretty much unusable for another f

[2015-11-11 08:22] #1401 closed

[2015-11-11 08:24] riuvshin commented on #1267
So I've updated swarm to **1.0.0 (087e245)** and there is the same issue with too many open files.
I have 2 docker engines on node0 and node1 which connected to swarm.host

[code]

**lsof | grep swarm** gives 7k records like:

[code]
more info about env:
- I'm running swarm on CentOS host (not as a docker container)
- swarm discovery configured  by file
- swarm launched on custom port 23750

`nohu

[2015-11-11 12:01] cerias opened #1402 "Network connect multihost env | invalid container <nil> :"
If i try to connect an container to an network it's works only on the same host as the master is. When i connect to an other host direct to docker i can connect the container to the network and everything works as excepted.

Steps to reproduce:
[code]

Inspecting the Network delivers only for the current host the connected containers.
[code]

All machines was installed by docker-machine.

System i

[2015-11-11 18:18] abronan commented on #1267
This might be a specific issue with the file discovery apparently, as I can't reproduce with `kv` discovery with a cluster running for 2 weeks now. I'll try to run my cluster with the file discovery and see. Thanks for the follow-up @riuvshin.

[2015-11-11 18:45] coryb commented on #1267
fwiw I have been running the latest release with zookeeper discovery without any issues.
-Cory

[2015-11-11 19:28] dongluochen commented on #1267
@riuvshin In your setup port 23750 is swarm service port where it receives requests. It looks like you issue the requests from the same machine (swarm.host). These connections should be closed when requests are completed. What requests do you issue? What are the state of these requests? Do you see the same problem if these requests are sent from another machine?
[code]

[2015-11-11 19:59] dongluochen commented on #1390
@stemau98 Can you provide details of your swarm topology, including swarm master, docker client, swarm nodes, and proxy setting on them? What's the output from docker run and docker pull?

[2015-11-11 19:59] nathanleclaire commented on #1399
@abronan and I sat and took a look at this.  We found the problem :\

![screen shot 2015-11-11 at 11 58 46 am](https://cloud.githubusercontent.com/assets/1476820/11101408/9a2b3106-886b-11e5-9578-dbdd4a1f3264.png)

Naturally there isn't an issue with Swarm but it probably could be better documented to ensure that Swarm needs memory limit support enabled to support this feature (I know it should be

[2015-11-11 19:59] #1399 closed

[2015-11-11 22:49] dongluochen commented on #1389
@swan-go can you clarify your scenario?

[2015-11-11 23:51] ikreymer commented on #475
I am wondering if the following use case is possible: I have a cluster of 8-cpu machines (on ec2). Each host is running a couple of 'fixed' containers on each node (started directly in docker without swarm), at full 1024 shares. I would like to use swarm to schedule additional containers throughout the cluster, using swarm, with each container getting, say 128 shares. Based on the info in this thr

[2015-11-12 02:38] dongluochen commented on #1393
@programmerq I'm not sure of your ask here. Swarm gets container information thru the nodes it manages. If a node is not in KV, in this case the node fails its connection with consul, swarm would not see this node when consul removes it. Swarm will not be able to list containers from this node.

[2015-11-12 04:35] danehammer opened #1404 "Some feedback from the Getting Started experience with docker swarm"
With some encouragement on Twitter from @aluzzardi and @abronan (I am @devops_hobo on Twitter, btw), I just wanted to share what I thought as I set myself up a swarm on some ARM processors. In fact now, it's 2 old laptops running ubuntu, a Raspberry Pi, and an [ODROID C1](http://www.hardkernel.com/main/products/prdt_info.php?g_code=G141578608433).

Overall, the doc was pretty solid. I don't have a

[2015-11-12 07:08] stemau98 commented on #1390
I'm running the swarm master on my laptop in our company network, the Swarm Nodes are running on two of our Servers in the same network.
The entire network is behind our company proxy and on all machines the environment variables like http_proxy are set. I also added the environment variables to the container at startup.

I have to start the Swarm Master like:
docker run -d -e HTTP_PROXY=http://co

[2015-11-12 09:24] schmunk42 opened #1405 "Service discovery (swarm join) unreliable, missing events"
I am having trouble keeping a consistent node-cluster, basically all my nodes are running fine, but `swarm join` fails from time to time.

Sometimes the outage is longer than `ttl` and the swarm master removes the node. See period from `09:06:43` to `09:08:08`.
I can't see if this is a problem with my node or the discovery service (also had some `500` errors in the past days).
There's no further e

[2015-11-12 11:10] riuvshin commented on #1267
@dongluochen Interesting. In fact I'm using sever which calls swarm API so maybe it's a problem of that server. I'll investigate this. Thank you.

[2015-11-12 15:28] xuxilei opened #1406 "swarm manage always print error: ID duplicate , when 2 node register to it"
create a swarm cluster: 1 manage , 2 node
swarm manage always print error: ID duplicate , when 2 node register to it

both docker discovery and static local file , have this probelem

[2015-11-12 15:30] chanwit commented on #1406
You seems to clone your machines (or VMs).
Stop `docker` service, delete `/etc/docker/key.json` (or finding then delete it).
Then restart `docker` service again.

Your machines will be good to go.

[2015-11-12 15:35] xuxilei opened #1407 "windows docker client can connect to swarm manage, but linux can't"
create a swarm cluster:  1 manage , 2 node
the manage print error: ID duplicate 。 （I already commit as another issue）
then, a  windows docker client can connect to the swarm manage ,  get image/contain info about one node ( only one , because the error of  ID duplicate )
but linux, the docker client even can't connect to swarm manage .

[2015-11-12 16:09] miguelpuyol opened #1408 "Docker Swarm Master disappearing"
I have created a docker swarm cluster with this setup:
- 1 Master Node (named swarm-master)
- 3 Nodes for Kafka contaienrs (named swarm-kafka-1, 2 and 3)
- 3 Nodes for Clients of Kafka (named swarm-client-1, 2 and 3)

The creation works fine. But when I try to run the cluster, executing containers, some of the nodes disappear, including the swarm master

[code]
And the output is: (I have removed t

[2015-11-12 18:21] dongluochen commented on #1390
@stemau98 HTTP proxy should be applied to external request only. You can use `no_proxy` setting to specify internal addresses. In your case communication to docker agent shouldn't use proxy as it's internal communication.
http://askubuntu.com/questions/11274/setting-up-proxy-to-ignore-all-local-addresses

[2015-11-12 18:43] vieux commented on #1407
@xuxilei we need much more logs and debug information that this.

I and most of our team as running linux, so I can assure you something is wrong with your configuration.

[2015-11-12 19:35] programmerq commented on #1393
After sleeping on this, I'm not as convinced that we definitely have a case that can be purely blamed on the network. Going back to the original issue, the "No such container" issue happens a small percentage of the time. It seems like consul takes longer to detect a failure than the 50-100 millisecond window where this message can occur.

Let me see if I can phrase it differently:

-----

When I

[2015-11-12 23:12] dongluochen commented on #1353
The problem is synchronized registration when nodes are added in batch mode. Adding a random delay at `swarm join` should reduce the spike to store.

[2015-11-13 00:52] abronan commented on #1393
@programmerq This works as intended, if you shut down, lose contact with the store, cut the contact with the store yourself: Nodes are going to fail to renew their TTL on Consul and the Manager will ultimately be notified that those Nodes are not taking part in the cluster anymore (because as far as I understand, the Manager was still talking to Consul). All those Nodes are going to be removed fro

[2015-11-13 06:26] fsfshijm opened #1411 "When using swarm1.0, cannot start container, memory.swappiness: invalid argument"
swarm1.0 + docker1.9 + docker-compose1.5

[code]

[2015-11-13 06:33] fsfshijm commented on #1411
I can run 'docker-compose up -d' directly against the docker engines, (not swarm)  with no problem
My OS is RHEL7
Could I set swappiness on swarm?

[2015-11-13 06:39] jimmyxian commented on #1411
@fsfshijm Can you provide compose yml file?

[2015-11-13 07:00] fsfshijm commented on #1411
@jimmyxian

[2015-11-13 07:10] fsfshijm commented on #1411
@jimmyxian
$>  cat docker-compose.yml
[code]
thanks!

[2015-11-13 07:28] jimmyxian commented on #1411
@fsfshijm Can you test `docker-compose up` directly against the docker engine on both of the two machines?
From the yml, I see you don't set swappiness. The default swappiness value is -1.

[2015-11-13 07:35] stemau98 commented on #1390
I have set the no_proxy settings like described here: https://docs.docker.com/engine/articles/systemd/
And docker itself worked fine for me even with the proxy settings.

I only need http_proxy settings inside the swarm agent containers to get the token from the discovery service on Docker Hub.

The strange thing is that only the docker run command which points to my swarm cluster get an error res

[2015-11-13 07:43] kunalkushwaha commented on #1390
@stemau98 Can you please share the ``docker logs <container-name>`` for failed container.
I am also facing something similar, but with consul based discovery.

Had fixed issue for token based discovery in docker-machine https://github.com/docker/machine/pull/2166

[2015-11-13 07:44] sanga commented on #374
Any news on this? This basically means swarm is quite inconvenient to use with private images on hub.docker.com. I wound up with the same solution mentioned above: pull directly from the hub for each of the nodes in the swarm individually, but that's quite clunky.

[2015-11-13 07:52] kunalkushwaha commented on #1390
docker command on host utilizes the proxy of you docker host settings, while in case of ``docker run `` your container, will utilize the proxy which is set in your environment settings for container i.e. passed as ``-e`` while docker run.

Try ``docker run -d -e "http_proxy=http://example-proxy:port" swarm join --addr=host-IP:swarm-port token://618194207ddfcbf6e13693d08f0dc5fc``

[2015-11-13 07:53] stemau98 commented on #1390
@kunalkushwaha
The contianer I want to start will only be created on the swarm agent and dokcer logs fot that container is:  <code> invalid character '<' looking for beginning of value </code>
i think this is also a bug because i get this message for every single container even for continaers i started direct on the swarm node.

[2015-11-13 07:55] stemau98 commented on #1390
I already use the -e "http_proxy=http://example-proxy:port" for my swarm agent contianers and the connection between master and agent is correctly setup.

Only the run command give ma an error message

[2015-11-13 07:57] kunalkushwaha commented on #1390
I think u misunderstood with ``docker logs <container-name>``  command, your error message ``invalid character '<' looking for beginning of value `` suggest you typed ``<`` before container name.

It is simply ``docker logs container-name``

[2015-11-13 08:01] stemau98 commented on #1390
I know but this is the message I get when I run: <code>docker -H tcp://127.0.0.1:2375 logs 0bd383e60036 </code>

[2015-11-13 08:04] kunalkushwaha commented on #1390
humm that is strange, If possible, please ssh or login to that node and try these commands. Also, you may check ``/var/log/docker.log`` or docker log as per your host OS distribution.

[2015-11-13 08:07] stemau98 commented on #1390
I did this already and there are no logs for the contianer because the container is only created but never started. So my continaer have no logs.

[2015-11-13 08:18] kunalkushwaha commented on #1390
You may try with docker machine.
For proper proxy support for swarm in, use latest code from github and build it.

[2015-11-13 08:52] fsfshijm commented on #1411
@jimmyxian, I have tested ```docker-compose up``` on this two machines, they both are normal;
'-1' is correct ?  and how to set swappiness in docker-compose.yml?

thanks

[2015-11-13 10:40] garagatyi commented on #1214
+1

[2015-11-13 11:03] garagatyi commented on #761
Maybe in that case `docker pull` should be called on the node implicitly during container creation step?
See https://github.com/docker/swarm/pull/1350#issuecomment-152112163

[2015-11-13 12:39] schmunk42 opened #1412 "docker -D ps on a swarm endpoint breaks console ouput"
When I run this on a swarm:1.0.0 or :latest

[code]

My whole shell output is broken afterwards:

![bildschirmfoto 2015-11-13 um 13 36 45](https://cloud.githubusercontent.com/assets/649031/11146158/eec47f82-8a0b-11e5-88d1-3f4be3fd5a65.png)

[2015-11-13 15:39] xuxilei commented on #1406
solved !  thank you very much!

[2015-11-13 15:39] #1406 closed

[2015-11-13 15:42] xuxilei commented on #1407
in linux, i do:   docker -H tcp://x.x.x.x:yy   info   ,    want to connect to swarm manage .
then, no output , wait a very long time , the terminal print:  error occur , get: EOF

[2015-11-13 16:15] keith- commented on #985
We are experiencing this issue. When we do a docker ps -a (through swarm), the following error is returned:
[code]
This error only seems to be occurring if the nodes in the swarm cluster have containers in a DEAD state.

Note: When docker ps -a is run outside of swarm it returns without error. Here is our version information:

docker version (not through swarm):

[code]
docker version (through swa

[2015-11-13 16:23] aanm opened #1413 "Primary doesn't recognize replicas"
[code]

This seems to be happening when both nodes (they are 3 actually) are started almost at the same time.
Race condition maybe?

[2015-11-13 18:37] dongluochen commented on #1390
@stemau98 Replying your previous question,
[code]
When you issue a docker run command to swarm, it selects an agent to start a container. The request goes thru the REST API on an agent's docker daemon. You can issue command `docker -H agent_i:port_i run <your app>` against each agent to validate the output. It may help you identify the source of proxy error. In your case node discovery and image p

[2015-11-13 21:44] dongluochen commented on #1408
@miguelpuyol I need some info about your swarm cluster. What command do you use to start swarm? What are the logs from swarm? Output from docker version?

[2015-11-13 22:24] abronan commented on #1408
@miguelpuyol it's because it's using the `token` discovery service by default. Since very recently we saw a huge spike in Swarm token usage and requests are timing out from time to time. Thus the nodes are going to be unregistered when failing to renew their TTL in the Hub. We advise you to use Consul or Zookeeper with docker-machine in the meantime so we can investigate (and probably throw some m

[2015-11-14 07:56] abronan commented on #1405
Hi @schmunk42, there was a recent spike in usage of the token discovery which might have impacted the service. Some requests are timing out and thus nodes are getting unregistered wrongfully. We advise to use the other discovery methods in the meantime while we are investigating the root cause.

`token` is a mean to get easily started but you can get the same result using the `node` or `file` disc

[2015-11-14 19:02] aluzzardi opened #1415 "docker events: Chunk encoding problem"
After firing a **bunch** of events, there seems to be a problem in the chunk encoding.

[code]

[2015-11-15 12:39] meza opened #1416 "HA Consul + HA Swarm 1.0 nodes not propagating properly"
Hi,

I have a HA setup with 3 Consul nodes, 3 Swarm 1.0 Managers and 3 Swarm 1.0 agents.

Now the consul instances see each other perfectly.
![screen shot 2015-11-16 at 13 17 10](https://cloud.githubusercontent.com/assets/211977/11182672/659fe272-8c64-11e5-8f1e-e7eb5f14c1b2.png)
The managers seem to see each other perfectly, as the roles are recognized and a primary is elected.
The agents seem to

[2015-11-15 13:55] raghuvirkamath opened #1417 "docker node not registered to swarm"
I created two machines RHEL7.1 and docker on it.
a. created a cluster on machine2 (swarm machine) and got cluster id (token)
b. registered the node to the cluster using the below command on machine1 (node)
 sudo docker -H tcp://0.0.0.0:2375 run -d swarm join --addr=:2375 token://<token id>
c. on machine2 , i ran following command
 docker run -d -p 2374:2375 swarm manage token://<token id> --heartb

[2015-11-15 14:07] raghuvirkamath commented on #1417
the following command returns nothing
 curl -s https://discovery-stage.hub.docker.com/v1/clusters/<token id>
[]

[2015-11-15 19:29] MHBauer commented on #1412
I've had this happen before. I think it happens when the TLS certificate that gets printed out (because `-D`) has control bytes in it. I've never figured out a way to cause it on demand.

[2015-11-15 19:34] dongluochen commented on #1417
@raghuvirkamath Advertise address should be in the form of `--addr=<node_ip:2375>`. If you remove `-d` in step b you can see the error.
[code]

[2015-11-15 23:17] euprogramador opened #1418 "docker multi-host net container count bug"
Hello people,

I detected a problem in multi-host mode using swarm docker.

to create an overlay network hosts are separated properly, but is not being possible to make a connect between the containers and the counting of containers on the network using the network inspect the cluster is also at fault. follows my confguration, tests, and the reported problem:

docker manual configuration:
172.19.1

[2015-11-16 00:01] euprogramador commented on #1418
duplicated #1373

[2015-11-16 00:01] #1418 closed

[2015-11-16 00:15] euprogramador opened #1419 "docker multi-host network not stable connection"
I have a network with one master and three swarm slaves, I created two networks and put two contaneres on both networks, however when trying to connect a container to network the system displays error, but after repeating the various procedure times the system connects, see the log below:

root@master-01:/home/poc# docker -H tcp://172.19.160.135:2375 network connect scba d5175ff3e129
Error respons

[2015-11-16 00:58] jimmyxian commented on #1411
Yeah, -1 is correct. I test locally, but can not reproduce.
Can you try this and see if container is created successfully?
[code]

[2015-11-16 06:15] fsfshijm commented on #1411
@jimmyxian Yes, it's successful,
[code]

I also try this, I run containers separately，it's successfull; but when running them in docker-compose.yml, it's failed.
[code]

[2015-11-16 08:18] dongluochen commented on #1413
@aanm Do you think it's the same issue as #1185 `Manager does not retry for failed nodes`? If a node is not reachable on swarm manager's first probe, the manager will drop it permanently even the node comes back. A replica comes up later may have more nodes than primary.

[2015-11-16 09:26] miguelpuyol commented on #1408
Thanks for your response @abronan

We will use our own discovery service then.

[2015-11-16 09:26] #1408 closed

[2015-11-16 10:57] aanm commented on #1413
@dongluochen You've to answer me first, does swarm have the same behavior when using the `--replication` mode on? `192.168.50.1` is started first, then `192.168.50.5` and finally `192.168.50.6` both they are using replication with consul

[2015-11-16 11:01] stemau98 commented on #1390
@dongluochen Thanks for the information!

I have another question in matter of the proxy settings.
Does Docker take locally set environment variables like http_proxy or no_proxy? Or have they set up within the config files http-proxy.conf in /etc/systemd/system/docker.service.d/ ?
And is there any difference between no_proxy and NO_PROXY?

[2015-11-16 14:18] stemau98 commented on #1390
@dongluochen  I run the command <code>docker -H agent_i:port_i run <your app> </code> like you suggest from the same machine where the swarm master is running. And I got no error and the Container started normally on the swarm node.

But when I run the same command pointing to my swarm master I get a proxy error and the container will only be created on the swarm agent but not be started.

I teste

[2015-11-16 14:36] alexec opened #1420 "Questions"
I'm trying to compare various solutions in the container cluster management space. I wondered if anyone could be so good as to please help me:

* Is there any out of the box service discovery?
* How does Swarm self-heal when, for example, a container is up, but return HTTP 500 errors?
* Can Swarm auto-scale?
* Can Swarm schedule base on CPU or memory requirements?
* Does Swarm automatically clean-

[2015-11-16 14:50] auzias commented on #1420
Hi!
I'm new on swarm, but may answer some of your questions and point you out some doc.

 - Is there any out of the box service discovery?
Yes, [token](https://docs.docker.com/swarm/discovery/#hosted-discovery-with-docker-hub) and [file](https://docs.docker.com/swarm/discovery/#using-a-static-file-describing-the-cluster)
 - Can Swarm auto-scale?
It scales [very well](https://blog.docker.com/2015/1

[2015-11-16 16:11] schmunk42 commented on #1405
I haven't tried consul yet, but it looks to me that this is more a problem on the node (or swarm-agent) rather than the discovery service. I think I saw 5xx errors in other very rare cases when the discovery wasn't available.

For example, I have a green-blue redeployment script, which can be run in parallel.
When I start 1 or 2 parallel redeployments, usually there are no problems, but when I run

[2015-11-16 18:12] schmunk42 opened #1421 "Dead containers break docker ps -a output"
I have the exact same issue as mentioned in https://github.com/docker/swarm/issues/985#issuecomment-156476578

If there's a `DEAD` container in the swarm I can no longer use `docker-compose` or `docker ps -a`.

To work around this issue, I need to login to every swarm machine and find the `DEAD` containers:

[code]

Container removal throws an error...

[code]

... but looks like it's gone now

[c

[2015-11-16 21:32] everett-toews opened #1422 "Prevent removal of the Swarm containers"
Naturally it's critical to have the Swarm agent and manager containers running on the cluster. However it's very common that users are used to running `docker rm -f $(docker ps -aq)` for a quick clean up of their environment. Doing this in a Swarm causes nothing but problems for those users.

It would be a great enhancement to Swarm usability if you could prevent the removal of the Swarm container

[2015-11-16 22:16] abronan commented on #1422
Hi @everett-toews, I think this all falls under the `ACL` effort in Swarm and Engine (see #1366). This way an admin user can create all the Swarm containers and regular users are not able to list or manipulate those containers.

Once we get this in, we allow multiple users to manipulate their own containers or the ones they have an access to. WDYT about this approach?

[2015-11-16 22:25] stevenpall opened #1423 "No Resources from Mesos"
Hi there,

I'm currently attempting to get the Swarm Mesos driver working against a 3 node cluster. `docker engine` version is 1.9.0. `docker swarm` version is 1.0.0. I followed this doc: https://github.com/docker/swarm/blob/master/cluster/mesos/README.md and was successfully able to start the swarm manager connecting to my zookeeper nodes. The command I ran was: `docker run -d --name=swarm --rest

[2015-11-16 22:34] dongluochen commented on #1390
@stemau98 Please provide your command and output for `info, version, ps -a, images, run, logs, inspect`. And `env | grep -i proxy`.

[2015-11-16 22:38] rgardler commented on #1423
See #1372

[2015-11-16 23:35] abronan commented on #1420
Hi @alexec:

Basically, Swarm is the base layer of clustering, managing the docker daemons. You can use any other service on top and integrate with pretty much all the other service discovery, orchestration tools, etc.

To answer all the questions:

**1 -** Yes, you can use file/node discovery (see the [docs on discovery](https://github.com/docker/swarm/blob/master/docs/discovery.md)) or Consul, r

[2015-11-17 00:34] stevenpall commented on #1423
Hum, I built a test image from #1372, but I'm still seeing the same issue. Perhaps @vieux's fix isn't related to my issue...

[2015-11-17 03:49] raghuvirkamath commented on #1417
thanks Dongluo Chen , I tried as you suggested but the same result .

1. create a new swarm using command in machine1 -> docker run swarm create
2. machine2 has docker and here i ran the command -> docker run -d swarm join --addr=<ip of machine2>:2375 token://<my cluster token id>
3. came back to machine1 (swarm machine) and ran the command -->
 docker run -d -p 2374:2375 swarm manage token://<my

[2015-11-17 03:51] raghuvirkamath commented on #1417
thanks dongluochen i tried as you suggested

1. create a new swarm using command in machine1 -> docker run swarm create
2. machine2 has docker and here i ran the command -> docker run -d swarm join --addr=<ip of machine2 > :2375 token://
3. came back to machine1 (swarm machine) and ran the command --> docker run -d -p 2374:2375 swarm manage token:// --heartbeat=1s
4. tried to list the node but it

[2015-11-17 03:53] raghuvirkamath commented on #1417
thanks dongluochen i tried as you suggested

create a new swarm using command in machine1 -> docker run swarm create
machine2 has docker and here i ran the command ->

docker run --rm -d swarm join --addr=ip of machine 2 :2375 token:// my cluster token id

came back to machine1 (swarm machine) and ran the command --> docker run -d -p 2374:2375 swarm manage token:// --heartbeat=1s
tried to list the

[2015-11-17 04:22] panli889 opened #1424 "[Question] Can not create a container when the registry needs auth"
We have a private registry needing auth and a self written docker cli using swarm. When we want to create a container using swarm, it can not download the image from registry since the api can not receive the 'X-Registry-Auth' header so it has no auth message.

I notice there has been some issues talking about this, maybe there are two solutions for us:

1. Use image/pull method to first download

[2015-11-17 05:45] AzenYao commented on #1411
Did this problem has been fixed? I faced this problem too

[2015-11-17 06:12] jimmyxian commented on #1411
@AzenYao I'm trying to reproduce, but can not.
Can you provide detail information about your environment and reproduce step. Thanks

[2015-11-17 06:15] AzenYao commented on #1411
@jimmyxian Are you in Huawei? I'm in Shanghai.
Perhaps we can make a phone call or chatting via wechat.... cos it is complicated...

[2015-11-17 06:17] AzenYao commented on #1411
@jimmyxian
I used Compose 1.5.1, Swarm 1.0.0 and Docker 1.9 in my host which is Centos7
the kernel version is  3.10.0-123.9.3.el7.x86_64

I could start container via compose and docker or swarm and docker,
but when I want to combine swarm, compose together, it responded that
Cannot start container 2669a535766c5e19c9e58e67fc411218ec1bc8151f5c5a220f985903f45eff36: [8] System error: write /sys/fs/cgr

[2015-11-17 06:20] dongluochen commented on #1417
@raghuvirkamath After you set up swarm manager, you should run `docker -H <manager_ip:2374> info` because you set 2374 as service port. If you still see problem, please run your commands without `-d` and provide the output of each command.

[2015-11-17 06:22] jimmyxian commented on #1411
@AzenYao Yeah, 342288824 is my wechat number. I will build a Centos7 environment, and try to reproduce.

[2015-11-17 07:04] fsfshijm commented on #1411
@jimmyxian, this is my docker daemon:
[code]
and I setup my swarm like this:
[code]
I'm not sure if this can give some help for reproducing

thanks

[2015-11-17 09:16] bhar19 commented on #1396
Any other inputs are welcome, is this valid question? I want to work on this item if this is not available.

[2015-11-17 09:25] jimmyxian commented on #1411
@AzenYao @fsfshijm Done to confirm. it's a bug.

* Compose --> Docker: When `create` container, `compose` create container without `Memory swappiness`, the value is set to 0/null. It should be -1

[code]
I will fix Compose-->Swarm.

The other two problem, we should open issues in docker project.

/cc @abronan @vieux

[2015-11-17 10:42] fsfshijm commented on #1411
Got it, Thanks very much! @jimmyxian

[2015-11-17 11:37] euprogramador commented on #1402
I am having the same problem

[2015-11-17 12:53] alexec commented on #1420
Wow! Thanks for such detailed answers to my questions. They have been incredibly useful!

[2015-11-17 13:44] raghuvirkamath commented on #1417
thanks a lot dongluochen . it worked fine now.

[2015-11-17 13:44] #1417 closed

[2015-11-17 14:18] agsmorodin opened #1426 "swarm panic from time to time"
I get the following exception that I am experiencing from time to time with latest docker. I get this error almost every day.

docker -v
Docker version 1.9.0, build 76d6bc9

and swarm :
docker exec -ti e360 /swarm --version
swarm version 1.0.0 (087e245).

System details as requested ( I am using docker machine with centos 7.1 image ).
[code]
uname -a
[code]
[code]

[2015-11-17 15:32] vlerenc commented on #1334
Hit the same issue, will try the new RC.

[2015-11-17 15:34] xuxilei opened #1427 "manage tls cert: can't recognize home directory char:~"
it can't recognize character  ~    .    but docker daemon can .

[2015-11-17 19:59] meza commented on #1416
Solved it...
Turned out, that while using packer to provision the docker boxes, you need to remove the `key.json` before spinning up each instance, to truly make them unique...

[2015-11-17 19:59] #1416 closed

[2015-11-17 21:30] abronan commented on #1426
@agsmorodin Thank you for opening in a separate issue. Is there any sequence of actions that triggers this error, something interesting in the Manager logs? Never encountered this issue on long running clusters since we fixed the refresh loop but never tried on CentOS (or RHEL 7.1) either :confused:

By any chance, is one of the containers in your cluster in the `Dead` state when this occurs? Prin

[2015-11-17 23:19] everett-toews commented on #1422
Certainly seems like it would cover this case. Thanks for the info!

I'll subscribe and watch the fun over in #1366.

[2015-11-17 23:19] #1422 closed

[2015-11-18 00:03] ccirello opened #1428 "Nodes not showing on "docker info" and jobs not being send to them"
I am running the manager with etcd. The node is registering itself successfully.
[code]

However on `docker info`, I get no information about the nodes.
[code]

This is how docker swarm manager is started:
[code]

The docker daemon itself is started as:
[code]

What is wrong?

1 - I can't see any pretty information about the nodes, like in the docs (https://docs.docker.com/swarm/install-w-machine/

[2015-11-18 00:26] ccirello commented on #1428
False alarm.

`-p` parameter is missing.

[2015-11-18 00:26] #1428 closed

[2015-11-18 06:32] bluishpe opened #1429 "Whats command to configure docker to run under SSL?"
Hello,
      Can you point me to documentation that has steps to configure docker under SSL on Linux?

Regards,
Baltazar Luis

[2015-11-18 06:42] stemau98 commented on #1390
@dongluochen Output: <code> env | grep -i proxy </code>
HTTPS_PROXY=http://xxx.xxx.de:3128/
no_proxy=localhost,127.0.0.0/8,::1
HTTP_PROXY=http://xxx.xxx.de:3128/

Start Swarm Master
docker run -d -e HTTP_PROXY=http://xxx.xxx.de:3128/ -e HTTPS_PROXY=http://xxx.xxx.de:3128/ -p 127.0.0.1:2375:2375 swarm manage token://xxxxxxxxxxxxxxxxxxxxxxxxx

<code> docker -H tcp://127.0.0.1:2375 info </code>
Conta

[2015-11-18 06:53] jimmyxian commented on #1429
@bluishpe
Maybe you can follow this. Hope it helps you.
http://www.blackfinsecurity.com/docker-swarm-with-tls-authentication/

[2015-11-18 09:22] yoshiokatsuneo opened #1430 "stdin close event is not transferred to a docker node on TLS"
Swarm does not transfer "stdin close" event as TCP half close to docker node daemon when TLS is enabled.
The reason is what "crypto/tls" does not have CloseWrite() method to send half close.
"docker" package solved the issue by implementing their own CloseWrite method(and "tlsDial", "dial")
   https://github.com/docker/docker/blob/master/api/client/hijack.go
How about using the same way to handle

[2015-11-18 09:23] yoshiokatsuneo commented on #1430
docker version:
Client:
Version: 1.9.0
API version: 1.21
Go version: go1.4.2
Git commit: 76d6bc9
Built: Tue Nov 3 17:43:42 UTC 2015
OS/Arch: linux/amd64

Server:
Version: swarm/1.0.0
API version: 1.21
Go version: go1.5.1
Git commit: 087e245
Built:

OS/Arch: linux/amd64

docker info:
$ docker info
Containers: 22
Images: 3
Role: primary
Strategy: spread
Filters: health, port, dependency, affinity, c

[2015-11-18 09:24] yoshiokatsuneo commented on #1430
I also tested on the very latest docker and swarm commit.

[2015-11-18 09:24] yoshiokatsuneo commented on #1430
Related: https://github.com/docker/docker/issues/18035

[2015-11-18 09:40] yoshiokatsuneo commented on #1430
Note: the above commit does not fix this issue.

[2015-11-18 09:41] #978 closed

[2015-11-18 14:59] aluzzardi commented on #1426
Thanks @agsmorodin - I think #1414 fixes this.

[2015-11-18 17:38] #1293 closed

[2015-11-18 18:06] abronan commented on #1429
@bluishpe There is unfortunately no documentation to set up TLS (because this is a per user/use case scenario) but a lot of good resources. Docker documentation includes instructions to protect the Engine daemon (see the [docker documentation](https://docs.docker.com/engine/articles/https/)).

The resource linked above is also a good one to setup Swarm to use TLS if using as a development or testi

[2015-11-18 18:23] abronan commented on #697
Closed by #1395

[2015-11-18 18:23] #697 closed

[2015-11-18 18:24] abronan commented on #374
@sanga This is implemented by #1384 and will be included in a `1.0.1` most probably, but this depends on another PR in `docker`.

[2015-11-18 18:26] sanga commented on #374
excellent. Cheers!

[2015-11-18 18:29] abronan commented on #485
PR has been merged on the docker side, we can maybe move forward on this one? Does it makes sense still?

/cc @jimmyxian @aluzzardi

[2015-11-18 18:32] abronan commented on #555
Closed by #1261

[2015-11-18 18:32] #555 closed

[2015-11-18 18:36] abronan commented on #771
@nathanleclaire Is it possible to create a VM with `docker-machine` with only a Swarm Manager running on it as per `0.5.0`? Seems to me that we always create an Agent alongside the Manager right?

[2015-11-18 18:54] abronan commented on #818
Closing this one, as this is specific to `docker-machine`. Generally we want to avoid running the Manager on a local laptop (even though it's possible), it should run on a dedicated machine with dedicated resources for performance, security and reliability reasons.

Proper solution for this kind of setup would be to set up Swarm without `docker-machine` and create the certificates ourselves. But s

[2015-11-18 18:54] #818 closed

[2015-11-18 19:08] abronan commented on #891
@aluzzardi Ok will take care of this one, I ignored it for long enough (just worried about the implications of changing flag names post-`1.0` now). Should we have a deprecation policy now for those types of changes?

[2015-11-18 19:14] abronan commented on #781
Closing this one, let us know if you still have this issue with swarm `1.0.0`. There was known issues on RHEL and fedora but this is likely fixed by now. Also please update to a recent and supported docker version (1.8 or 1.9). Feel free to comment below or open a new issue instead to continue the discussion.

[2015-11-18 19:14] #781 closed

[2015-11-18 19:28] abronan commented on #1077
Will close this one, this is likely fixed by #1340 and swarm `0.2.0` is quite outdated now. @ahmetalpbalkan Let us know if you still hit this issue with `1.0.0` or feel free to open another one if necessary :)

[2015-11-18 19:28] #1077 closed

[2015-11-18 19:55] abronan commented on #1241
Hey @klaus1982 and @riuvshin. Any news from the RC testing (and now final `1.0.0`)? Can we close this? Thanks!

[2015-11-18 20:07] nathanleclaire commented on #771
@abronan So far, yes.  https://github.com/docker/machine/issues/2302#issuecomment-157553786 proposes one possible solution to the issue.

[2015-11-18 20:54] abronan commented on #771
Closing in favor of docker/machine#2302. Let's continue the discussion here as this is related to docker-machine.

[2015-11-18 20:54] #771 closed

[2015-11-19 10:14] dileban commented on #1423
Observing the same issue: Docker 1.9.0, Swarm 1.0.0, Mesos 0.25.0. Any workarounds?

[2015-11-19 16:13] schmunk42 commented on #1405
Using consul solves my problems so far, additionally here are some stats about service discovery (recorded events from swarm-agent registering at the discovery service)

<img width="958" alt="bildschirmfoto 2015-11-19 um 16 59 45" src="https://cloud.githubusercontent.com/assets/649031/11275896/fdae4a36-8edf-11e5-8746-cbee1a187e7f.png">

Swarm agent heartbeat: 7s

First one: 4 node cluster with con

[2015-11-19 20:27] dongluochen commented on #1402
I can reproduce this problem with docker-machine. The issue is the network `connect` command is routed to incorrect machine. In the following example, container meb666 is on mhs-demo0 but the connect command is routed to mhs-demo1. After some time (<1 min) swarm resolves it automatically and routes the request to the right machine.

[code]

[code]

[2015-11-19 21:14] chromerobv commented on #1383
i see this same thing on docker 1.8.2, stuck in the same boat as above have to wait until there is an official 1.9 package on centOS.

[2015-11-19 23:16] dongluochen commented on #1419
@euprogramador This is tracked by #1402.

[2015-11-19 23:40] Spritekin commented on #1423
Do not use Zookeeper, connect to the mesos master straight away. That worked fine for me.
For some reason Swarm won't accept my ZK.

Also veryfy you have started the docker daemon in the slaves listening to the shared port (2375) make sure the port is active in each slave before even trying to start the swarm manager. Check from a remote computer. The slave should report ok. If it says it is not a

[2015-11-20 03:12] kendiyqx opened #1435 "why is mesos-go instead of mesos http API"
mesos-go is experimental and mesos Scheduler HTTP API is experimental too

[2015-11-20 07:39] c2j opened #1436 "Return EOF when ps -a"
"docker ps" and "docker ps -a" will be OK, "docker -H swarm-manager:2376 ps" is OK also, but if input "docker -H swarm-manager:2376 ps -a", it will report an error:
An error occurred trying to connect; Get http://swarm-manager:2376/v1.21/containers/json?all=1; EOF

[2015-11-20 07:49] abronan commented on #1436
Hi @c2j. This seems related to docker/docker#18009 somehow but I fail to reproduce the issue. Are you using `docker-machine` to setup the swarm cluster?

Also, can you give us some more information about your setup? Mostly the output of:

- `docker info`
- `docker version`
- `uname -a`

Thanks!

[2015-11-20 09:03] tnachen commented on #1435
mesos http API is a very recent finished API and mesos-go will be supporting the HTTP api as the current development progresses. So eventually swarm will be using mesos http API with latest mesos-go.

[2015-11-20 11:26] c2j commented on #1436
Thanks, A lot of dead containers exist in some node, When I remove them manually, then execute "docker -H swarm-manager:2376 ps -a" show me OK.
So I consider it's related with DEAD containers.

[2015-11-20 14:01] batmat commented on #1421
FWIW, same issue with Docker 1.9.0 and Swarm 0.4.0 (gonna upgrade, yes, but might also be interesting to show the issue was already there in this version :)).

[2015-11-20 19:13] bitgandtter commented on #599
This suppose to only re-balance containers that fails since the cluster node fails? or also will re-balance or re-create those containers that stop for some reason? As explained in issue https://github.com/docker/compose/issues/2435 a feature on compose or swarm that keeps track of the running containers and keep the expected amount of containers for a service running will be really helpful for di

[2015-11-20 21:48] herau opened #1437 "Readme of swarm discovery - broken links"
All the links are broken in the `Docker Swarm documentation index` part in the readme file

[2015-11-20 21:58] MHBauer commented on #1437
On github, or on docs.docker.com ?

[2015-11-21 00:33] bergtwvd opened #1439 "Constraint:node and volumes dependency issue"
I have a container C that needs to run on a specific node with an associated data container D:

When using Docker-Compose in combination with Docker-swarm, I am not able to start the container.

Snippet of my compose file:

[code]

Container C will follow D w.r.t. location, which may not satisfy the constraint put on C.
I tried to add a node constraint on D, without effect.

How can this be done?

[2015-11-21 00:45] vincentwoo commented on #1341
@abronan, any movement on this? Would still really love some guidance on how to remove nodes. I also need to be able to say "remove this node from the pool for future containers, but keep any containers on it running i/o through the swarm manager".

[2015-11-21 01:03] schmunk42 commented on #1436
Possibly related: https://github.com/docker/swarm/issues/1421

[2015-11-21 01:04] MHBauer commented on #1341
This is not be relevant, but I can imagine (ab)using constraints for this. The only problem is the daemon needs to be restarted to change labels.

Make a label that marks a node as "bad", and then subject any future runs to a `not` constraint. Voila, anything that was already on it stays on it, but nothing new starts on it. Unfortunately you have to restart docker to label a deamon, so this doesn'

[2015-11-21 01:13] vincentwoo commented on #1341
Oof, that's pretty brutal. I think there really needs to be a better user story here - running a bunch of potentially long jobs on a cluster that routinely gets reprovisioned seems like a very common use case for this stuff.

[2015-11-21 09:35] herau commented on #1437
@MHBauer on [github](https://github.com/docker/swarm/blob/master/discovery/README.md)

[2015-11-21 15:46] lucj opened #1440 "Network error when deploying compose app on digitalocean swarm"
Hi,

When I run the following compose file against a fresly created swarm (consul, 1 master, 1 agent) on DigitalOcean:

    interlock:
      image: ehazlett/interlock
      ports:
        - "80:80"
      volumes:
        - /etc/docker:/etc/docker
      command: "--swarm-url tcp://xxx.xxx.xxx.xxx:2376 --swarm-tls-ca-cert=/etc/docker/ca.pem --swarm-tls-cert=/etc/docker/server.pem --swarm-tls-key=/et

[2015-11-22 15:24] pdonorio commented on #563
Ah! This issued saved me from getting crazy :)

Please take a note about the ID problem for duplicated images inside the swarm documentation... it may be a common situation.

Thanks for the great work!

[2015-11-22 15:44] chanwit commented on #1440
@lucj  Could you please confirm that your VM's running Debian Jessie (or Linux with Kernel 3.16)?

[2015-11-22 15:48] chanwit commented on #1437
@herau It's normally broken when you're viewing on Github. I've heard someone's going to fix it. Please use docs.docker.com in the mean time.

[2015-11-22 16:53] lucj commented on #1440
@chanwit I was running 14.04 (default DigitalOcean image) with kernel 3.13.
I've just tested to create the swarm (consul + master + agent) with several other ubuntu images (14.10, 15.04 or 15.10) but each time the creation fails (https://github.com/docker/machine/issues/2366)

[2015-11-22 20:29] lucj commented on #1440
@chanwit I've tested with Debian Jessie and its 3.16 kernel, the swarm is created correctly.
Thanks a lot for your help !

[2015-11-22 20:29] #1440 closed

[2015-11-22 22:46] vegbrasil commented on #670
I have the same problem as @daemonza and can't figure out why.

Running Docker Engine ```1.9.1, build a34a1d5``` on Debian and I got the same responde using the example container or any other.

[code]

Any ideas?

[2015-11-22 23:25] vegbrasil commented on #670
I found the problem.

The Docker/Go json parser can't handle empty fields like ```"Entrypoint": ""```. The official documentation should alert about that? Or the example should not have empty fields?

[2015-11-23 10:25] batmat commented on #735
_Sorry if I rehash discussions here, or am not on the right issue. Please tell me if so. I hope to help clarify potential newcomers here later, like me, who will arrive here after searching/googling ;-)_

Hi, currently trying to monitor how full my swam cluster is. Where now & in the future should I try to retrieve that information? My goal is to be able to be alerted of potential issues with stal

[2015-11-23 13:55] dzlab commented on #1272
Did you managed to find what's causing this? I'm having a similar problem when I try to scale a service:
[code]

[2015-11-23 14:24] batmat commented on #601
Hi, out of curiosity this issue and some others have the milestone 1.0.0 attached. As the 1.0 has already been released, I supposed those issues should actually be set with [1.1.0](https://github.com/docker/swarm/milestones/1.1.0] or something? Thanks

[2015-11-23 14:29] schmunk42 commented on #601
I would also be very interested in an update about this topic.
I tried to implement my own scheduler based on `swarm-manager` logs, but it was unreliable.
When nodes joined or left during rescheduling, I ended up with `Dead` containers, see https://github.com/docker/swarm/issues/1421

[2015-11-24 08:19] woshihaoren opened #1441 "new demand"
Hi:
   I have a new demand.
   Docker doesn't support update time, But My test envirment's application needs update time. So I run some kvm. I wish I could run only one container at KVM, through swarm scheduling filter.

Like this:
   docker  -H 10.255.33.102:2376 run -d -P -e constraint:machine==kvm -e constraint:containers==0  tomcat

But, Now docker info's Containers is not a Standard Constrain

[2015-11-24 09:33] riuvshin commented on #1267
Hi, some updates here. our client using **swarm evens** and it seems that there is also some leaks. it's possible to reproduce this way:
- launch swarm container ```docker run -d -p 23750:2375 swarm manage token://<TOKEN> ```
- execute few times ```docker -H tcp://localhost:23750 events```
- list openen files by ```sudo lsof | grep swarm```

on my side (ubuntu) the output is following:

[code]
Eac

[2015-11-24 16:52] Bahaika opened #1442 "Swarm HTTP API and CORS not working for other verbs than GET"
Hi,

It seems there is a bug in the implementation of the --cors option. I'm currently working on a web interface to manage a swarm cluster, and I consume the HTTP API using AngularJS.
I started the swarm manager with the `--cors` option, and I can use it for all the GET requests. But when it comes to the POST requests, nothing works anymore :

[code]

The thing is, it didn't do a POST request, bu

[2015-11-24 19:22] MHBauer commented on #1442
I'm going to guess this line, https://github.com/docker/swarm/blob/master/api/primary.go#L93 needs to be `"/"` or `"/*"`. I am going to try to write a test.

[2015-11-24 19:35] Farjad opened #1443 "Unable to communicate with host machine"
So I have a swarm:
[code]

I did the following:
[code]

This container spun up on spv07vcs6 and I ran the following in the container:
[code]

Is there any reason when on swarm, my container refuses to communicate with the host machine?

Any help is appreciated.

Thanks

[2015-11-24 20:03] dnephin opened #1444 "Proposal for changes to the "filters" docs"
I'd like to propose some changes to https://docs.docker.com/swarm/scheduler/filter/, which I'm happy to write up if there is some agreement.

1. Rename this section to something like "Scheduling Constraints and Affinities" instead of filters. I understand the implementation of this is basically "filter nodes", but as a user, I don't really see these as filters. Maybe it's just me, I don't feel tha

[2015-11-24 20:03] dnephin commented on #1444
cc @moxiegirl

[2015-11-24 22:21] dongluochen commented on #1267
@riuvshin I think it's a minor bug that swarm doesn't close the connection when client stops the `/events` request. Swarm side would have the TCP connection at `CLOSE_WAIT` state. After each `events` request one more connection gets into such state.

[2015-11-24 22:37] riuvshin commented on #1267
Thank you for your response @dongluochen !
Yeah it's not a reason why I have too many open files, It's just something I've found. there is also something that gives leaks.
What I've found also is that we have some kind of *tcpConnectionTimeouts* (60 sec) and each 60 sec it opens 6 new connections in CLOSE_WAIT state.

We are still digging on our side, but maybe it will be somehow helpful for you.

[2015-11-24 22:38] garagatyi commented on #1267
Also looks like there is leak of file descriptors on build if client is been disconnected due to connection timeout. Maybe it is not only build API, but I haven't checked.

[2015-11-25 13:39] aluzzardi commented on #1405
Thanks for the report, @schmunk42.

It looks like we have problems scaling the hosted discovery /cc @vieux

@schmunk42 Out of curiosity, what did you use to generate those metrics?

I guess we should either work on improving the hosted discovery scale or just deprecate it in favor of consul/etcd/zookeeper. Thoughts?

[2015-11-25 13:53] auzias commented on #1405
I just leave a comment to get the info about what tool did @schmunk42 to generate these.

Also I suggest, when possible, to use static file discovery. Far easier, faster and safer.
[Docker doc](https://docs.docker.com/swarm/discovery/https://docs.docker.com/swarm/discovery/#using-a-static-file-describing-the-cluster), [step-by-step tutorial using it](https://www.auzias.net/en/docker-network-multih

[2015-11-25 14:03] aluzzardi commented on #1444
:+1:

I'd love to see those changes.

[2015-11-25 14:03] aluzzardi commented on #1443
ping @vieux

[2015-11-25 14:05] schmunk42 commented on #1405
The charts are screenshots from Kibana (ELK-stack), running a logspout in every node, tagged with the swarm name.
While the logspouts are also reporting swarm events, you can filter out these events easily in Kibana and create a visualization from them.
I'll try to create an example stack for that, since the one I have is a combination from different ones across the net.

[2015-11-25 14:08] aluzzardi commented on #1441
Hey @woshihaoren, you can achieve that by using *affinities*.

Example:

[code]

What that does is:
1. Create a tomcat container
2. Label that container `foo=bar` (with `--label`)
3. Tell Swarm to **never** run that container on the same machine where another container labeled `foo=bar` is already running (`-e affinity:foo!=bar`)

This will effectively guarantee that you only have one container ru

[2015-11-25 14:09] aluzzardi commented on #1405
@schmunk42 Any issues running with consul?

As a user, would you rather use `token` for simplicity or are you happier using a consul on-prem?

[2015-11-25 14:14] aluzzardi commented on #1404
Thanks for the feedback - this is very helpful!

We'll be going through some docs overhaul in the future - this will definitely help.

/cc @docker/swarm-maintainers @bfirsh

[2015-11-25 14:18] gesellix commented on #1214
shouldn't this issue be placed in docker core, too or why is it swarm specific?

[2015-11-25 14:37] schmunk42 commented on #1405
Basically I wanted to use the `token` discovery, because of simplicity. I really tried to avoid consul, since it's another piece to the puzzle. But honestly, I really cursed the current `token` discovery, since I lost so many hours with it.
The reason behind is: I tried to create a very-very basic scheduler, which would detect a node failure and then reschedule the containers, but since "a node-fa