[2016-03-03 05:31] Spritekin commented on #1920
I'm reading through the mesos issues and it looks like this might be a floating point precision problem. They have recently issued a fix.

[2016-03-03 07:42] rfyiamcool opened #1921 "Up Less than a second"
why swarm happens "Up Less than a second" problem ?

[code]

[2016-03-03 07:57] garagatyi commented on #1912
@vieux @aluzzardi WDYT?

[2016-03-03 09:41] #1920 closed

[2016-03-03 10:07] chanwit opened #1922 "Pull with @ to specify node location"
This may be a pre-proposal document trying to collect ideas in open of how should we abuse a syntax of `pull` :-)

Finding we can do `docker pull nginx@sha256:abcdef` makes me think that it's possible to adopt this syntax for pulling image to a specific node in the cluster, a lengthy discussed feature.

With the `@` tag we will be able to do something like:

`docker pull nginx@node-1`

or maybe ev

[2016-03-03 10:24] chanwit commented on #1913
@jpetazzo A network-related problem also bugged me and I accidentally found a workaround. The good news is that you don't need to wipe the whole the cluster.

The workaround is to clean up the cluster store (in my case `consul`) by recursive delete all keys there. After that, wait until all nodes registering themselves again, all overlay networks will be gone and you'll be good to go.

This bug se

[2016-03-03 20:11] nishanttotla commented on #1560
Closing this issue since discussion is being tracked in #1879. Please review PR #1880 for a starter implementation of introducing the `engine-api`.

[2016-03-03 20:11] #1560 closed

[2016-03-03 23:46] nishanttotla commented on #1922
Quick question about the use case - if we allow this, then presumably you'd want your container to also run on the same node. Sometimes it may not be possible to do that given other constraints, does that reduce the utility of such a feature?

[2016-03-04 00:58] jimmyxian commented on #1560
@nishanttotla Great!

[2016-03-04 01:04] thaJeztah commented on #1922
Note that there's a similar proposal in docker/docker https://github.com/docker/docker/issues/19785

Can't we use the same syntax for `docker pull` as for `docker run`?

[2016-03-04 01:18] kunalkushwaha commented on #1902
@anentropic Can you please share details of commands you used for configuring swarm with consul as backend.

In general, use [docker-machine](https://github.com/docker/machine/releases) for easily configuring nodes with docker-swarm.

Typical steps it requires is.
1. Run Consul container on one host. ( Lets say Consul running on ``192.168.99.100:8500``)
2. Create swarm master host with discovery b

[2016-03-04 02:28] dongluochen commented on #1921
@rfyiamcool Are these containers up all the time? Have you looked at their logs? What is `docker -H xxx version`?

[2016-03-04 05:38] bk1te commented on #1902
@anentropic maybe you should use something like gliderlabs/registrator on eash swarm worker node?
I don't have services registered too with only swarm

[2016-03-04 07:20] joes commented on #1906
Thank you for the great work! Is there an upcoming release that includes this fix?

[2016-03-04 07:53] shenshouer opened #1926 "Create container with remote api error: json: cannot unmarshal string into Go value of type []string"
Hi,
I want to create container with the remote api of swarm.but I got the error:
[code]

It`s ok when create container with docker remote api .
[code]

swarm version:
`swarm version 1.1.3 (da37fb5)`
docker version
[code]

[2016-03-04 09:06] anentropic commented on #1902
My question is really: what is the scope of 'discovery'?

Initially I assumed it was 'service' discovery, and would register the containers you launched etc.

But I think now it is just 'node' discovery, i.e. for internal use of docker swarm.

I just wanted to confirm this before implementing progrium/registrator ...because this feels like something that should be built-in.

Also docker moves so f

[2016-03-04 09:41] kunalkushwaha commented on #1902
discovery is for internal swarm usage. Stores information required containers exist in swarm also can be used for overlay network.

Docker docs are always up to date but various blogs may not :)

I think, you shall understand [use case of swarm](https://www.docker.com/products/docker-swarm), then should decide weather it is required in your case or not. I you don't require to create docker host cl

[2016-03-04 10:55] anentropic commented on #1902
I understand the use case of swarm

I don't understand why `gliderlabs/registrator` would be useful on a single-host though... in that case all my services would be in a known location and I wouldn't need any service discovery.

The essential problem is I need to point my DNS to a static IP, so I need to set up an HTTP proxy at a known address, that can then forward traffic to the dynamic address

[2016-03-04 11:27] Yogesh9692 commented on #1731
I am not facing this issue now. Don't know why! I am using same docker version. I am trying to reproduce the bug will update you soon. Closing it for now.

[2016-03-04 11:27] #1731 closed

[2016-03-04 12:43] chanwit commented on #1922
@nishanttotla I think eagerly pulling a large amount of images onto a production cluster would outweigh this.

@thaJeztah yes, it will be really great if `docker pull` can adopt `-e` from `docker run`.

[2016-03-04 13:22] thaJeztah commented on #1922
@chanwit perhaps you can comment on the docker issue I linked to, and briefly describe what you think is needed for this?

No guarantees, but it would help the maintainers making a decision

[2016-03-04 20:49] nishanttotla commented on #1906
@joes I think the 1.2 release will include the fix that supports IPv6. This should happen in about a month's time. If you're interested in using it now, you can build from the master branch.

[2016-03-05 02:25] dongluochen commented on #1838
Currently `Disconnect` can be called multiple times, for example, triggered by `monitorDiscovery` multiple times, or in your case by `removeOffer`. It crashes the manager. I'm testing a fix for this.

[code]

[2016-03-05 09:54] azpekt commented on #1484
I`m having similar issues with AWS ECR. Is there anything for enabling passthrough auth apart from authenticating from every node in cluster?
Thanks

[2016-03-05 10:16] eric-basley opened #1928 "API: How to build an image with affinities or constraints"
I'm using api to automatically deploy applications. Since swarm migration, frequently after the build of an image, I cannot run it because docker can't find it.

It seems that the build can be launched on any node, whereas I express constraints to run the container.

How to express constrains during the build to be sure that image will be available where I want to  run container ?

Note:

1/ I don

[2016-03-05 14:56] allencloud opened #1929 "API: Some Swarm response status codes are different from Docker response status codes"
Hi, All:

Recently I found that swarm response status codes are not completely the same as docker native api response status code. For example:

When I do a request  `POST /volumes/create`,  swarm returns a response of 200, while docker will return 201. This kind of incompatible issue exists in lots of Swarm APIs.

I think it's not so good for swarm which aims at supporting totally compatible APIs

[2016-03-05 16:59] nishanttotla commented on #1929
@allencloud thanks for reporting. It would be great if you could briefly list down all such endpoints, so that we can address them individually.

Also, we're moving to a new client for Swarm (#1879) which will also likely address some of these issues.

[2016-03-05 17:09] allencloud commented on #1929
@nishanttotla
Actually, I am on the listing work. :）

During the list process, I found that we could better some api response status code in github.com/docker/docker as well, such as `DELETE networks` should return 204 instead of 200 in docker/docker.

[https://github.com/docker/docker/issues/20976](https://github.com/docker/docker/issues/20976)

Wish to discuss more here, as in this part swarm an

[2016-03-06 07:52] garagatyi commented on #1912
@thaJeztah Hi! Can you review this issue and ping vieux and aluzzardi

[2016-03-06 09:15] chanwit commented on #1928
You can use:
`docker build --build-arg constraint:node==node-2`
to basically build on `node-2` of the cluster.

[2016-03-06 09:53] MrAta commented on #1304
hey dudes! im from iran and need to use docker for my research!
Open source communities never make sanctions against any country! because it is in contradiction with their brand:"free knowledge"
so why docker does so?
its like a joke! its a disaster for me and my friend that we can't access docker hub from iran!
if you search a little and see your around, you would find that iran is far different

[2016-03-06 13:32] soletan commented on #1643
I am having issues with using consul cluster for registration either. There is a consul cluster consisting of three nodes and I'm trying to join docker swarm using a command like this:

[code]

@abronan How would provide this environment variable? Like this?

[code]

In my case this didn't work. Either command results in this:

[code]

[2016-03-06 13:56] doronp commented on #1730
Interesting. Is that consistent for you (Swarm never re-Register)?

[2016-03-06 14:58] soletan commented on #1643
Okay, found a basically working soluttion:

1. In my case I had to explicitly choose port number to use on selected consul node.
2. Of course, environment variable wasn't passed and before that attempt above I simply missed the fact that `-e` behaves differently according to where it is given in command line to docker.

Fixing port on its own resulting in

[code]

But by properly providing environ

[2016-03-06 15:41] soletan commented on #1643
Just to qualify my anser to include some basic security concerns (as providing token on command line isn't quite save): I switched using environment file for providing token, e.g. in */etc/docker/token*:

[code]

This file is then used like this:

[code]

[2016-03-07 01:35] kunalkushwaha commented on #1902
AFAIK ``gliderlabs/registrator`` works as service discovery for single host. Containers on single host too can be recreated on error or can be increased/decreased depending on workload. In such case for service discovery ``registrator`` is good fit.

You may try to look at Docker [Overlay networking](https://docs.docker.com/engine/userguide/networking/get-started-overlay/).
You can create/publish

[2016-03-07 09:00] eric-basley commented on #1928
Yes but how to express or reproduce  this constraint via API ?
I cannot find such attribute in API documentation !

[2016-03-07 09:11] #1928 closed

[2016-03-07 11:07] anentropic commented on #1902
I thought I understood roughly what was needed but now I'm more confused.

I thought the point of registrator was that it listens to events from the docker daemon and puts information about the containers that are launched into consul... hashicorp consul-template can then be used to watch for that info and generate nginx or haproxy config.  I'd assumed that I would run a proxy server outside of th

[2016-03-07 22:00] wallnerryan commented on #1651
@jpetazzo @schmunk42 in your journeys with compose, swarm and rescheduling have this been proven to work yet? Working with master today and can't seem to get this to work with compose `1.6.2` using `reschedule: "on-node-failure"`

[2016-03-07 22:21] schmunk42 commented on #1651
@wallnerryan For very simple (actually single container) stacks it was working for me.

More complex compose setups were not really working for me, eg. with `volumes_from`.

As an example:  Let's say you've a container `A` which has a data-volume and container `B` which uses volumes from `A`. When `A` dies, `B` may die also, swarm tries to reschedule `A` and `B`, but `B` is still "linked" (via vol

[2016-03-07 22:37] wallnerryan commented on #1651
Hmm okay, am using links. So I can try to eliminate that.

Yes I am using v2.

Btw how are you testing the failover, (I'm just doing a 'shutdown -h now' for failing a node ) I didn't see any log output todo with rescheduling just the nose was de registered and unhealthy in the manager logs, but wondering because I'm using a more complex multi service v2 compose file that it may not be working corr

[2016-03-07 22:40] schmunk42 commented on #1651
Run `docker events` on your swarm.

[2016-03-07 23:34] dongluochen commented on #1838
@Spritekin The latest swarm code should fix the `panic: close of closed channel` from Disconnect function. It'd be great if you can give it a try.

[2016-03-08 00:23] kunalkushwaha commented on #1902
Your understanding on registrator +  consul-template + nginx or haproxy is correct. No confusion :)

for understanding overlay networking with service discovery please go through this document. https://docs.docker.com/engine/userguide/networking/get-started-overlay/

Service discovery is done through ``service name``. Custom IP is for containers not service.

[2016-03-08 02:53] Spritekin commented on #1838
I will try...

[2016-03-08 04:14] shenshouer commented on #735
+1

[2016-03-08 07:33] schmunk42 commented on #1651
Links are marked deprecated and will be removed in 1.12 AFAIR.
With v2-sytnax I was able to remove links, which I needed for networking.

[2016-03-08 09:32] auzias opened #1931 "create network hangs"
The command `swarm-docker network create -d overlay ntwk-name` hangs and, after a dozen of minutes, shows this error:

This command once worked. Is there anything I could do to create my own network?

**`swarm-docker network ls`**
[code]

---
#### Environment details
**`docker version`**
[code]
**`swarm version`**
[code]
**`docker info`**
[code]
**`swarm info`**
[code]
**`uname -a`**
[code]

[2016-03-08 09:53] jpetazzo commented on #1651
I couldn't get rescheduling to work reliably so far. I'm testing with a stand-alone `nginx` container (no links, no nothing) and I test by rebooting the node hosting it. It never gets rescheduled correctly (I almost always end up with *2* new containers instead, and then they fail to start). I test on 5 nodes cluster where each node is a Swarm manager.

[2016-03-08 10:06] auzias commented on #1931
Docker daemons have been restarted and it works again.

[2016-03-08 10:06] #1931 closed

[2016-03-08 10:09] anentropic commented on #1902
what do you want to mean here?

[2016-03-08 13:01] dvenza commented on #1214
Adding to what has been already said, to return structured information per-node instead of a single list, please, return numbers instead of strings for all quantities. Right now there is memory: instead of a string with a unit (10 Gib) return the number of bytes.
Also, split reserved and total memory/cores in two different fields.

[2016-03-08 13:11] dvenza commented on #735
+1
We are building on top of Swarm and we need to have access to the data about nodes (how many, health), reserved memory and labels.

[2016-03-08 13:59] wallnerryan commented on #1651
Thanks for the info @jpetazzo and @schmunk42. Removing links isnt an issue i just didnt set up networking yet when i tested. Will try a few things out and at least I know where I may run into issues. @schmunk42 did you only get reschedule with swarm to work with labels

[code]

or were you able to get it working with
[code]

[2016-03-08 14:09] schmunk42 commented on #1651
Last time I tried, I remember only `labels` with the "bit quirky" syntax were working, but compose 1.6 (stable) wasn't released back then.

[2016-03-08 15:10] pgporada commented on #1484
This is a pain for my company as well. We switched out of Amazon ECS due to the lack of scheduling capabilities and didn't need every bell and whistle that Mesos or Kubernetes provides.

[2016-03-08 16:13] wallnerryan commented on #1651
ok, so running `docker run -d --restart=always -e reschedule:on-node-failure redis` then doing a `shutdown -h now` on one node I see the container get rescheduled and `Created` but not started.

From logs i see it go down then i see the create
[code]

Then i see the container but not started
[code]

[2016-03-08 16:19] wallnerryan commented on #1846
Seeing same behavior as @antimack , container created but not started on 1.1.3 as well

[2016-03-08 17:23] michaelzangerle opened #1934 "Swarm bootstrapping when using TLS and domains instead of IPs"
I have a basic docker swarm setup including containers for swarm-master, swarm-nodes and etcd. I also added TLS according to the docs with a self signed certificate and created a overlay network where I can ping from one container to another one by using the their names. Up to this point everything works fine.

In the next step I want to use a real certificate and also domains instead of IPs. So I

[2016-03-08 22:23] Spritekin commented on #1838
Checked 16 hours later. Stable, 10 connections. No restarts.

[2016-03-09 00:06] Spritekin commented on #1838
Ok this is a new one but will go to another post. I stopped all nodes in the cluster and left just the 2 where swarm was running. Suddenly it started to fail the marathon health checks (meaning it was unable to run hello-world). After a few restarts it stabilized.
So shutting down nodes has an effect on swarm?

[2016-03-09 01:02] dongluochen commented on #1838
@Spritekin Right let's track that as separate issue.

[2016-03-09 01:13] Spritekin commented on #1838
As I shutdown 3 nodes (down from 5 to 2 slaves), now I have 7 connections instead of 10. Stable considering the panic time I had before.
If you can solve the Keepalive problem I would consider this done.

[2016-03-09 01:21] Spritekin opened #1935 "Shutting down mesos nodes destabilizes the swarm manager."
Using: Swarm most recent code at Wed 9 March (Sydney time)
Mesos 0.27
CoreOS 899.9
Marathon 0.15.3

I was testing swarm on a 5 node mesos cluster in AWS. Swarm running under marathon scaled to two services, each service running on  its own node.

The only things running on swarm were the periodic health checks. Every minute the health check forced a hello-world command on each of the 2 swarm servi

[2016-03-09 01:36] marcosnils opened #1936 "Short container ID format cannot be used in affinity filter"
When using the container ID affinity filter the full container ID needs to be specified. In contrast, when using other swarm commands, this is not required.

It seems a bit odd to expect different behaviors when using container IDs. Per @mgoelzer this might be an issue but wanted @vieux to confirm. If this is the case I'd like to craft a fix so I can start diving into the swarm source code.

[2016-03-09 03:00] Spritekin commented on #1935
Ok so I retried the experiment. Increased 5 nodes, left it running for a while, then shut them down.
I got this messages. Seems like something is stuck trying to resolve an IP that is no longer there.
[code]

[2016-03-09 03:53] marcosnils commented on #1936
per  @mgoelzer using regex support in filters did the trick, so issuing `docker run -e affinity:container==2ab62c2*` worked.

Same applies for image IDs. Is this the correct way to proceed?.

[2016-03-09 06:02] mgoelzer commented on #1936
Yes, it's the recommended way to proceed.  (Incidentally, it will also work for container names.)

[2016-03-09 06:08] #1936 closed

[2016-03-09 09:08] kunalkushwaha commented on #1902
Hi @anentropic the kind of service discovery (+ load balancing) you are looking for can only be achieved externally  i.e. through Nginx, HAProxy etc at this moment. So your approach is correct.

Sorry for my initial comments regarding service discovery through docker networking. This service discovery is basically for internally services to identify each other over network. So no hardcode IP or na

[2016-03-09 14:37] OferE commented on #1106
+1.
Very important feature.

I need to pass the ip address of the hosting instance into its containers - using swarm.
Since I have consul agent installed on all my nodes - and i want my containers to register to the appropriate agents...

Is there any workaround for this?

[2016-03-09 15:02] blazejosinski opened #1937 "docker events only arriving from the local agent"
Hello!
I've a small swarm setup created with `docker machine`: there is one node with swarm master and agent and another one with just swarm agent.

After setting up environment variables, I can start containers on both machines, as expected. However `docker events` only shows information related to containers which are created on the master node. I'm only interested in newly arriving events and I

[2016-03-09 15:27] OferE commented on #1848
highly important - is there a way to workaround?
this is related to:
https://github.com/docker/swarm/issues/1106

[2016-03-09 17:18] allencloud commented on #1891
WDYT @vieux @abronan @jimmyxian @nishanttotla

[2016-03-09 17:56] dongluochen commented on #1937
@blazej0 What's your `DOCKER_HOST` setting? What's the output from `docker info`?

[2016-03-09 18:41] vieux commented on #1891
I don't really like the idea of

[code]

when it was exited, but I would be ok to implement pause

[2016-03-09 23:57] Spritekin opened #1939 "Request: Resync jobs when mesos-master restarts"
Hi,

When the mesos-master crashes then restarts, I can see the jobs run by marathon being resync'd with the master. They are not restarted, they are still running fine, they are just updated in the mesos list. For example, if I had an http server running for 20 hours when the master crashes, when the master restarts marathon will resync the info with the master and I will see it appear in the run

[2016-03-10 10:27] blazej0 commented on #1937
$ echo $DOCKER_HOST
    tcp://10.0.4.227:3376

    $ docker info
    Containers: 7
     Running: 7
     Paused: 0
     Stopped: 0
    Images: 16
    Role: primary
    Strategy: spread
    Filters: health, port, dependency, affinity, constraint
    Nodes: 2
     swarm-master: 10.0.4.227:2376
      └ Status: Healthy
      └ Containers: 5
      └ Reserved CPUs: 0 / 1
      └ Reserved Memory: 0 B / 2.

[2016-03-10 11:48] allencloud commented on #1827
@jpetazzo Great Idea！ ：）

[2016-03-10 14:22] auzias opened #1940 "Swarm ps --filter bug"
I can't figure out how does `--filter` works with swarm and I guess that there is bug (or I just don't know how to use it, but I do without swarm).

---
For the local docker daemon everything is fine:
[code]

---

However, when I try to filter with `swarm-docker` it just does not filter anything (or _does_ filter out eveything).
[code]

---
#### Environment details
**`docker version`**
[code]
**`d

[2016-03-10 14:45] nfoonf commented on #1781
Hi,

is there any idea, how to fix/workaround this issue?

[2016-03-10 16:46] anentropic opened #1941 "Unexpected response code: 413 (Value exceeds 524288 byte limit)"
(previously posted as https://github.com/docker/compose/issues/3041 but apparently it's a swarm issue)

So I've been going round and round trying to get my swarm working

Thought I was getting close but now when I `docker-compose up` I get the following error:

[code]

seems to be in the step to create the overlay network

...

`docker-machine restart` fixed it (I restarted both the master and the

[2016-03-10 18:20] dongluochen commented on #1937
@blazej0 Thanks for the info! `docker events` to swarm manager should aggregate events from all nodes. It doesn't look like #1405 because you have all the nodes listed in `docker info`.

It may be the aggregation has problem, i.e., `swarm-node-01` events are not collected. Or `swarm-node-01` stops sending events. Can you do a side-by-side tests running both `docker events` (to swarm manager) and `

[2016-03-10 21:13] akamalov commented on #1889
Does Swarm currently support framework authentication against Mesos (i.e., MESOS_AUTHENTICATION_PRINCIPAL, MESOS_AUTHENTICATION_SECRET_FILE, etc) ?

Thanks,

Alex

[2016-03-10 21:50] nishanttotla commented on #1847
Closing issue, fixed with #1872.

@echupriyanov thanks for the fix. Please post back here if you face further issues.

[2016-03-10 23:04] dongluochen commented on #1937
@blazej0 I suppose you run swarm manager in a container. It's weird no logs since Mar 4th. How often do you see such problem? Can you start manager with debug option like `docker run -d --name=manager swarm -l debug manage ...`? Also swarm v1.1.3 has released you may want to use it.

When a node is connected to swarm manager, manager starts `monitoring events` from the node. For some reason it see

[2016-03-10 23:36] gradywang commented on #1889
@akamalov , It does not support now.

[2016-03-11 00:40] akamalov commented on #1889
@gradywang Bummer...Can we propose/request for enhancement ?

[2016-03-11 01:15] moxiegirl commented on #1771
@nishanttotla `provision-with-machine.md` explains that it is possible but doesn't show how to do it step-by-step.  `install-w-machine` which we will rename to remove the `machine` assumes a local install in a Toolbox environment but uses the regular `swarm` image to provision.

[2016-03-11 01:25] jimmyxian commented on #1940
@auzias Thanks for reporting this.
* The value of `ps filter --name=` in swarm should not include node name. Just use `swarm-docker ps -a --filter name=weaveproxy`

* ` --filter ancestor ` does not support in swarm. (not easy to do) :)

[2016-03-11 01:41] dongluochen commented on #1902
The embedded DNS allows you to name/alias containers so containers can be discovered with name. It doesn't help name discovery from external where you need your registration/name service.

For load balancer integration you can try [interlock](https://docs.docker.com/swarm/swarm_at_scale/04-deploy-app/). There is a nice [blog post](https://bitcontainer.wordpress.com/2015/09/18/scaling-microservices

[2016-03-11 01:48] dongluochen commented on #1899
cc @mgoelzer, @ehazlett. Can you comment on what should change from v0.3.3 to v1.0.0?

[2016-03-11 02:31] gittycat commented on #1899
@dongluochen The main change is that the new interlock:1.0.0 is now using config data /file instead of flag arguments. You also need to explicitly use "ehazlett/interlock:1.0.0" to pick up this new version. Check other changes here.
https://github.com/ehazlett/interlock/blob/master/docs/getting_started.md

The docker documentation mentions flags, which doesn't work anymore when using v 1.0.0
https

[2016-03-11 02:36] gradywang opened #1944 "Proposal: Swarm should support the framework authentication against Mesos"
Currently, Swarm does not support the framework authentication against Mesos, if mesos cluster enable the authentication, then Swarm will be reject when registering.

[2016-03-11 02:37] gradywang commented on #1889
@akamalov, yes, I have logged a new issue for this proposal.

[2016-03-11 02:40] Spritekin commented on #1935
Marathon is a framework to manage services. Marathon will keep the tasks running in case of failure, if a node crashes, all running services are relocated to other node.

So one feature in marathon is the ability to define health checks. It is possible to do simple health checks (i.e. http:/swarm.marathon.mesos:2376/info) and Marathon will request that url in a periodic basis (i.e. every minute).

[2016-03-11 02:51] Spritekin commented on #1935
Ok so to answer what I see as unstable.
a. After stopping a node, swarm (that was running just doing hello-world tasks all night) started to fail all health checks forcing marathon to restart the services a few times until it got stable again.

b. A swarm that is doing nothing suddenly starts crashing. Thats unstable.

c. When I request a container information or logs and one in 10 times it says "

[2016-03-11 06:44] gradywang commented on #1818
@Spritekin, I think if you do not want Swarm to receive some offers from some specified node, you can try the dynamic reservation feature on Mesos. Currently, Swarm only support to register Mesos with the default role (*), so you can dynamic reserve all resources (cpus and mems) on that specified node to some other Mesos role, then Swarm will no get offers from that node.

[2016-03-11 07:24] jmalloc commented on #1484
I can't say I understand how this works _at all_, but I can manage to pull down images from private repositories to our swarm if my `config.json` file contains an `auths` entry with an empty string key:

[code]

I still require an entry for `https://index.docker.io/v1/` when I am using a node directly.

[2016-03-11 08:40] anentropic commented on #1902
@dongluochen thanks very much for the tips

[2016-03-11 09:12] #1940 closed

[2016-03-11 10:03] vathanlal opened #1947 "Running Conatiners with Docker swarm using Marathon"
Hi,

I have an environment with Mesos for resource allocation marathon for job scheduling and Docker Swarm integrated with Mesos. My setup is like below

Master Node - Mesos Master and Marathon is running here
Slave 1- Mesos Slave
Slave 2 - Mesos Slave
Slave 3 - Mesos Slave

1st issue

I can use Marathon to start Docker Swarm with Mesos. Its work fine. But the problem is Mesos will automatically s

[2016-03-11 10:15] gradywang commented on #1947
@vathanlal, For your first question, if you want to to deploy Swarm Manager on the Master node, you need to also run Mesos Slave on the Master node, then you can use hostname as a constraint on the Marathon Portal to start swarm manager on Manager node.  For your second question, I think it is does not supported now, except Mesos can integrate with Swarm.

[2016-03-11 10:22] vathanlal commented on #1947
@gradywang Ya that is working for me with mesos slave on the master node.
Ok that means marathon + Docker Swarm support is not there right now. Right now Docker Swarm can integrate with Mesos only. Thanks.

[2016-03-11 10:35] ehazlett commented on #1899
As @gittycat said a config file is now required (you can optionally use a KV store).  One other large change is an external proxy container is now required.  For example, the official "nginx" or "haproxy" images from the Docker Hub.  This keeps interlock small and allows for custom proxy images.

[2016-03-11 15:57] pgporada opened #1948 "Cannot launch container on previously bound ports"
My setup is 3 centos7 vagrants. I have TLS configured across my cluster and use consul for service discovery.
[code]

One time and one time only can I bind a port from the host to the container. I can then restart my vagrants, reprovision them to try, attempt to bind to that port again, but get failure messages from swarm.
[code]

I then stop and remove the containers
[code]

I then unsuccessfully

[2016-03-11 18:38] dongluochen commented on #1948
@pgporada You haven't removed the containers from swarm. The command to remove a container is `rm`, `rmi` is to remove images. If you run `docker -H swarm-node01:3376 ps -a` you can see the containers. They are stopped but still in swarm. Swarm takes node port as resource and don't allow reuse even the container is stopped.

[code]

[2016-03-11 18:47] pgporada commented on #1948
@dongluochen
That did it. Is there any sort of user interface change you can make to let someone know that "Hey you need to check this first!" ?
[code]

[2016-03-11 18:57] wmark opened #1949 "memory and cpu hot-plugging support"
I've started *Docker*, *etcd2*, and *Swarm* on a *amd64* machine able to receive more CPUs and memory on-the-fly (aka hot-plugging), running Linux 4.4.0. It's a swarm of one machine only.

[code]

The »CPU«-count is obviously off by one when displaying through *swarm*, fine with *docker*.

Anyway, I've plugged in one more CPU and more memory. Both get detected and are made available by Linux corre

[2016-03-11 19:01] ChrisMcKenzie opened #1950 "Port collisions with other Containers"
I currently am running a 7 node docker swarm cluster on top of coreos alpha and I have a set of containers being run via fleetd namely swarm itself and some cluster wide log shipping and things like that.

The issue i am having is that occasionally one of the containers started by fleet and one started via swarm get assigned the same port needless to say this causes some not so fun issues. So i gu

[2016-03-11 19:07] dongluochen commented on #1948
@pgporada Swarm has docs about [port filter](https://github.com/docker/swarm/blob/master/docs/scheduler/filter.md#use-a-port-filter). But it's very hard to cover every issue.

[2016-03-11 21:58] dongluochen commented on #1950
@ChrisMcKenzie Can you provide more info about how containers are started by fleet? Are they started via Swarm? Swarm keeps track of ports used by containers it starts. It'd not put a new container to a node with conflicting port.

[2016-03-11 22:12] rjsteinert opened #1951 "How to guarantee that container is redeployed to the same machine after image update?"
Hi folks - I use volumes to persist data between image updates for containers. How do I guarantee that when I update a container with a new image tag that the container is deployed back to the same machine where its own data lives?
[code]
The above example could result in the container being deployed to a different machine thus the `/container-a` folder that the new container is using would no lon

[2016-03-11 22:18] ChrisMcKenzie commented on #1950
Yeah that was my suspicion fleet is not going through swarm but rather the local daemon on each machine. My assumption was that they (docker, swarm) keep track of ports separately.

[2016-03-11 22:24] nishanttotla commented on #1781
@nfoonf if you don't really need to do it, the support for passing `HostConfig` at `/start` is deprecated, so not recommended. We're trying to figure out how to best fix this until then.

[2016-03-11 22:44] dongluochen commented on #1950
@ChrisMcKenzie Can you provide docker version, docker info, command and errors you see?

[2016-03-11 23:12] dongluochen commented on #1951
@rjsteinert Swarm has support for [volume dependency](https://github.com/docker/swarm/blob/master/docs/scheduler/filter.md#use-a-dependency-filter). Use `--volumes-from` to specify a volume container that you want to mount. In case you don't want to mount volume directly you can use container affinity `-e affinity:container==xxx`.

[2016-03-11 23:31] #1948 closed

[2016-03-11 23:32] ChrisMcKenzie commented on #1950
[code]

[2016-03-12 00:20] dongluochen commented on #1818
A hack from @aluzzardi is documented in #1508.

[2016-03-12 02:30] dongluochen commented on #1950
@ChrisMcKenzie Thanks for the info. I want to understand the exact issue.

Are both containers in running state as shown in `docker ps -a`? If the first container is running, Docker Engine shouldn't be able to start the second one. It's ok if the existing container is not running (Swarm doesn't allow that but Docker engine does). Also can you describe how this issue is causing trouble?

[2016-03-12 03:50] ChrisMcKenzie commented on #1950
I am sorry. So both are showing in a running state (which i thought was weird) although only one is accessible via the offending port. Recreating this issue is obviously not very easy as it only happens with containers that don't statically assign their ports it seems to only really happens when I reboot a machine.

[2016-03-12 11:26] nfoonf commented on #1781
I know it is deprecated.  But I am nailed on using it because the docker-build-steps plug in and probably also shipyard are bitten by this bug. I therefore would highly appreciate a fix,  even if it is obviously wrong to use it like this in the first place

[2016-03-12 12:50] soletan opened #1954 "Order of arguments matters on `swarm manage`"
I am trying to set up swarm cluster using consul for discovery backend. I tried running swarm manager like so:

[code]

This resulted in running swarm manager logging this every few seconds:

[code]

Without checking code that carefully I tried a poor fix:

[code]

Et voila: swarm manager is now logging:

[code]

Log is quiet after this.

So the order of arguments matters. URL of discovery backend

[2016-03-12 13:20] gittycat opened #1955 ""docker-compose run" doesn't recognise an existing volume"
When running `docker-compose run <service> <cmd>` in a swarm context, the relationship between services and their mounted volumes as listed in `docker-compose.yml` doesn't seen to be respected.
(docker 1.10.2, swarm 1.1.0, compose 1.6.2, amazonec2, CLI from OSX)

I've better show an example to explain:

docker-compose.yml
[code]

Then we do
[code]
and look at the results using:
[code]
Under a **no

[2016-03-12 16:46] soletan commented on #1954
Just to add this note: prior to finally establishing a running cluster I saw that logging on discovery required for managing cluster, again, when replacing files of certificate and/or restarting docker engine on server running container with `swarm manage`.

Since my two-node cluster is working now I tried restarting docker engine but could not even reproduce this case. However, I can still reprod

[2016-03-12 22:34] vimalprakashts opened #1956 "Error response from daemon: No healthy node available in the cluster."
Hi,

I followed this documentation

https://docs.docker.com/swarm/install-manual/

I am in Step 6. Communicate with the Swarm

I try to execute this command

docker -H :4000 run hello-world

and ti gives me this result,

docker: Error response from daemon: No healthy node available in the cluster.
See 'docker run --help'.

But my docker info says

Containers: 0
 Running: 0
 Paused: 0
 Stopped: 0
I

[2016-03-13 01:40] nishanttotla commented on #1781
@nfoonf the reason I asked you is because I think Docker Engine will stop supporting this in the next release (in less than a month), after which Swarm will not be able to.

@thaJeztah can you confirm that, or suggest what can be done?

[2016-03-13 02:48] gittycat commented on #1956
Have a look at this similar issue https://github.com/docker/swarm/issues/511
Also check that the Consul server is running fine using `docker logs consul`.

If you're on OSX/Windows, using `docker-machine create` makes this a lot simpler.

[2016-03-13 05:29] gittycat commented on #1955
I'm not sure if this is a docker-compose or swarm issue so I've also posted this on the docker compose issue tracking.

[2016-03-13 09:07] OferE opened #1960 "ER: overlay network configuration"
Hi,
Why do i need to configure the daemon with flags to create the overlay network?
Shouldn't the swarm manager handle it for us (as we already gave it an ip of the KV store).

Would be nice if this can be avoided.

[2016-03-13 09:19] OferE opened #1961 "work with a service discovery cluster"
A high availability bug and enhancement request:

Currently all the flags to work with KV store expects a single address of the KV store:
Whether is is swarm manage/join or even create network and set the daemon to the KV store address.

Why all the flags require just one ip address of the KV store?

If one of the KV store manager falls - this shouldn't interfere with the swarm cluster. The KV sto

[2016-03-13 14:22] arunwizz opened #1965 "typo in install-manual.md"
There seems to be a typo in section 4 last paragraph of https://github.com/docker/swarm/blob/master/docs/install-manual.md. The word 'consul' is spelled as console.

[2016-03-13 16:13] arunwizz commented on #1965
submitted PR #1966

[2016-03-13 16:49] allencloud commented on #1929
https://github.com/docker/docker/pull/20977
this pr has been merged into docker-master.
So delete network return a status code of 204.

[2016-03-13 17:02] ppadala commented on #336
Any update on this? We have seen that that this trips up users quite a bit. They think that Swarm is hanging and often kill the pull.

[2016-03-13 23:59] dongluochen commented on #1956
@vimalprakashts Your nodes are unreachable, as shown in
[code]
You need to check if `docker -H xxxxx:2375 info` is up from your manager. It could be you are not opening port 2375 on your nodes, or the port is blocked by network firewall.

[2016-03-14 00:14] dongluochen commented on #1949
@wmark Thanks for reporting this problem! Currently Swarm manager updates node specification when the node first join the cluster, or when the node comes back from unhealthy state. Periodic node spec update might be a little inefficient. Can you run `docker events` towards the node and check if there is specific `event` when you add/remove CPU/Mem? If there are such events, we can update spec when

[2016-03-14 00:56] dongluochen commented on #1960
Current [overlay networking](https://docs.docker.com/engine/userguide/networking/dockernetworks/) model is based on VXLAN. It uses layer 4 UDP to encapsulate layer 2 packets for the logical network entities.

One reason for daemon flags is Docker overlay network doesn't have to run with swarm. It can run by itself so other tools can use it. Another reason is Swarm doesn't bootstrap docker nodes, r

[2016-03-14 03:08] vimalprakashts commented on #1956
@dongluochen , Yes that was the issue , thank you :+1:

[2016-03-14 03:08] #1956 closed

[2016-03-14 03:17] OferE commented on #1960
i know the reason - but it is not comfortable when used with swarm. a lot of duplicate configurations.

[2016-03-14 10:31] nfoonf commented on #1781
@nishanttotla to hear, that this won't be supported in the near future is good news in my eyes.
So People will have to fix their code anyway.

[2016-03-14 11:04] thaJeztah commented on #1781
Hm, yes, it is scheduled to be removed in docker 1.12 (see https://github.com/docker/docker/pull/17799). Not sure what's best here, fix the regression, or document it as a difference between the Docker API and the Swarm API (because there's already some differences); guess it depends on how difficult it is to fix

[2016-03-14 11:59] blazej0 commented on #1937
A new manager container with debug option worked correctly - events are collected. Previous manager is also working now, after restarting (`docker stop; docker start`). In both cases still using the version 1.1.0.

So the problem is not present at the moment, I'll report if it happens again.
I also hope that restarting manager won't be needed too often.

@dongluochen Thanks for advices on the debu

[2016-03-14 14:41] fiunchinho opened #1968 "Use same Consul for both overlay network and service discovery"
Hi!

I've got a swarm cluster running with an overlay network using Consul. Now, I'd like to run two services (`service1` and `service2`) that will talk to each other through service discovery with Consul. The problem is that, on startup, both services register themselves on Consul with a health check, but Consul can't ping the health URL since is not on the same network as those 2 services. Servi

[2016-03-14 16:11] mavenugo opened #1969 "Skip redundant endpoints in "network inspect""
With https://github.com/docker/docker/pull/21160, docker engine will return all the endpoints (local, remote & stale endpoints). The remote and stale endpoints will have be represented as `ep-{endpoint-id}` . Example output from a host that doesn't own this endpoint (which represents the remote container).

[code]

This would cause duplicate endpoints in the `docker network inspect` output when ex

[2016-03-14 17:07] echupriyanov commented on #1955
Here is how to make your setup work with Swarm.
Here is list of my nodes:
[code]
Pick one node to hold your volume and create a named volume:
[code]
Make sure there is only one volume with that name in cluster:
[code]
Lets now add some data to that volume:
[code]
Now, `docker-compose.yml`:
[code]
And, finally:
[code]

The main point here is to describe exactly, where is your local volume is locate

[2016-03-14 17:21] dongluochen commented on #1960
@OferE Swarm doesn't bootstrap docker nodes, rather the Docker nodes join a swarm cluster. I don't see a way to reduce this option from Swarm. [Docker networking](https://github.com/docker/libnetwork) needs to provide a way to accept such option on the fly. You may check with networking.

[2016-03-14 17:24] dongluochen commented on #1950
@ChrisMcKenzie Please send us the above details `docker ps -a`, `docker inspect #container#` and error logs when you see a reproduce.

[2016-03-14 18:04] OferE commented on #1960
seems you are right. thanks for the response.

On Mon, Mar 14, 2016 at 7:21 PM, Dongluo Chen <notifications@github.com>
wrote:

--
Regards,
Ofer Eliassaf

[2016-03-14 18:11] ChrisMcKenzie commented on #1950
ok will do! haven't had it happen yet but will send as soon as it happens.

[2016-03-14 19:38] echupriyanov opened #1970 "[suggestions] Swarm and docker volume sub-command"
I would like to recap current state of how `docker volume` works with Swarm and how it can be improved.
- `docker volume ls` - lists all available volumes on all active engines. looks perfectly ok.
- `docker volume inspect` -
  - for local volumes - returns volume information if it finds a local volume with unique name, error if several volumes with the same name present.
  - for non-local volumes

[2016-03-14 20:25] amitshukla commented on #1821
@CRogers closing this issue as it looks like you didn't hit the issue with 1.1.1

[2016-03-14 20:25] #1821 closed

[2016-03-14 20:28] nishanttotla commented on #1970
@echupriyanov thanks for the detailed description. Let's use this issue to track progress. We aren't planning to work on these issues right away, so please feel free to submit PRs or add more details on this issue.

[2016-03-14 21:02] nishanttotla commented on #1965
Thanks @arunwizz. Closing issue.

[2016-03-14 21:02] #1965 closed

[2016-03-14 23:48] nishanttotla commented on #1781
@vieux WDYT?

[2016-03-15 00:15] vieux commented on #1781
@nishanttotla looking into in now

[2016-03-15 01:24] #1785 closed

[2016-03-15 01:31] vieux commented on #1781
it is an easy fix, see #1972

[2016-03-15 02:42] dongluochen commented on #1968
@fiunchinho I think you can resolve this problem by making your services available on docker default network and overlay network. When you start a container on overlay network, it has 2 interfaces when `eth0` is for overlay network and `eth1` is for default network. You Consul instance can access the containers thru the default network, while the containers has an overlay network for their own ser

[2016-03-15 06:28] gittycat commented on #1955
@echupriyanov Thanks a lot for this workaround.

This issue is covered in the more generic volumes copied across nodes question.
#1529

[2016-03-15 06:29] gittycat commented on #1955
@echupriyanov Thanks a lot for this workaround.

This issue is covered in the more generic volumes copied across nodes question.
#1529

[2016-03-15 06:29] #1955 closed

[2016-03-15 06:38] gittycat commented on #1529
@itzg Yes, data containers are clunky but the alternative (duplicated volumes) is a can of worms; You can't tell where your data is and in which state of sync it is.

[2016-03-15 06:49] echupriyanov commented on #1955
@gittycat I've checked #1529 and didn't find where it says that volumes are copied implicitly. And as I see in my experiments they really are independent volumes with the same name on different docker engines.

[2016-03-15 09:35] gradywang commented on #1730
@doronp Yes, today I have tried with some times again, and Swarm never re-register when Mesos master recovery.

My steps as below:
- Start Mesos master with command:
[code]
- Start Swarm Manager with command:
[code]

- Kill the Mesos master
[code]

- Restart the Mesos master:
[code]

-  After checking Mesos portal and logs, swarm never re-register.

Swarm logs:
[code]

[2016-03-15 10:24] fiunchinho commented on #1968
Thank you for your response.

Let's say I have Consul running on node1. If I run the nginx container in my Swarm cluster, the container may end up on host2 or host3. Even connecting the nginx container to the overlay network as you mentioned, Consul will not be able to connect to the nginx on localhost:80 since the container is running elsewhere. Containers will be able to talk to each other, but

[2016-03-15 10:39] gittycat commented on #1955
@echupriyanov That's what I meant. A new volume with the same name is created on each node.
My expectation when I first used the `docker volume create` was to have one volume created on the active vm. That's what I meant by implicit creation on the other vm's. I wasn't expecting it.

[2016-03-15 11:01] woshihaoren opened #1974 "how to use swarm manager to rmi image"
swarm version:1.1.2
docker version:1.10.3

###### [root@zw-docker-2 ~]# docker -H swarm-manager:3376 images
REPOSITORY                                  TAG                 IMAGE ID            CREATED             SIZE
background   532d8cc             645c73d6b195        About an hour ago   788.9 MB
swarm                                       latest              d1c2b663d66a        3 weeks ago

[2016-03-15 18:19] #1859 closed

[2016-03-15 18:37] dongluochen commented on #1859
@shenshouer Feel free to re-open if you think it still has problem. Your test results are welcome.

[2016-03-15 19:03] dongluochen commented on #1949
@wmark Just check docker code, it doesn't emit events. It just collects `runtime.NumCPU()` when user issues `docker info`. Swarm as an aggregator has to refresh engine spec to get the update.

[2016-03-15 20:35] kacole2 commented on #1970
@echupriyanov thanks for the detailed findings. this is something I brought up a long time ago and has since moved to #1529. I didn't know you could use `<engineId or engineName>/<name>` which is helpful. I think it's a long-term hindrance in regards to volume management. infrastructure should be immutable and we shouldn't be pinning ourselves to mention a hostname during create/rm for named volum

[2016-03-15 20:36] #1929 closed

[2016-03-15 20:45] doronp commented on #1730
It seems the problem is not necessarily in Swarm:
https://github.com/mesosphere/kubernetes-mesos/issues/344

Problem in mesos go which was not attended to.

[2016-03-15 20:51] clintonskitson commented on #1970
@echupriyanov Thanks for posting the issue. We have thought about this a bit as well. I believe the path forward tends to lean towards an implementation of a volume scheduler driver where Swarm and directly speak with a single controller to perform operations such as Create/Remove.

When approaching the clustering or Swarm layer, you would expect that the implementation of volume functionality wou

[2016-03-15 21:06] calavera commented on #1781
The host configuration should be sent when the container is created, never after. This behavior has been deprecated in the docker engine for very very long time and you should not rely on it. Please, consider also dropping supported engine versions from Swarm if the only reason to do this is to keep compatibility with them.

[2016-03-15 21:15] dongluochen commented on #1968
@fiunchinho What I meant was you can have nginx up on multiple network. But I'm not clear how Consul tracks your service. Let's say you have Consul on node1, and start nginx at node2 and expose it as `node2:80` and `node2-my-net:80` in overlay network. Consul should be able to access it at `node2:80`.

[2016-03-15 21:16] cpuguy83 commented on #1970
+1, the storage controller needs to be at the cluster level.

[2016-03-15 21:30] wmark commented on #1949
@dongluochen Thank you for looking into this! If I understood that completely we need *Swarm* to poll periodically, and *Docker* or the *Agent* to refresh its stats. (I didn't look into it on this side.)

It will be enough if we re-read total memory and core count on signal ```syscall.SIGPWR``` on the target machine(s).

[code]

[2016-03-15 22:36] dongluochen commented on #1949
@wmark Docker doesn't store CPU/Mem information. It queries them on-the-fly. Swarm doesn't get event notification from the nodes. A simple fix is to refresh node spec periodically. To reduce resource requirement, we may select a refresh interval of several minutes.

[2016-03-15 22:57] dongluochen opened #1976 "Swarm does not retry on event monitoring failure"
Swarm manager may lose events from some nodes. The issue is swarm manager doesn't retry the connection, or fail the node.
[code]

[2016-03-15 23:17] wmark commented on #1949
Or just generate an event on syscall.SIGPWR?

[2016-03-15 23:20] gradywang commented on #1730
Thanks @doronp, do we have the plan to fix this issue?

[2016-03-15 23:21] clacki commented on #1304
hi guys ...
i have this problem too.
anybody can fix this problem ?

دوستان عزیز این مشکل چطوری میشه رفع کرد .
داکر لازمم نمیدونم چی کار کنم ...
همه جا هنوز ما تحریمیم ؟

[2016-03-15 23:55] dongluochen commented on #1949
I doubt Docker maintainers would agree to that.

[2016-03-16 01:23] dongluochen commented on #1974
Confirm the error is also on Swarm 1.1.3.
[code]

[2016-03-16 03:57] gittycat commented on #1970
Docker compose would need to be kept in sync with the new functionality/syntax.
It unfortunately tend to lag behind (eg: no way to specify the node for volumes)

[2016-03-16 05:15] MrAta commented on #1304
hi @clacki
We've used proxy servers. that is we have another server abroad and by using shadow socks proxy and polipo we created a tunnel and then we could pull from docker's hub.
[this](https://github.com/noNameFa/linuxProxyTutorial) is a great tut. hope be helpful.

[2016-03-16 09:19] doronp commented on #1730
@gradywang
I've opened https://github.com/mesos/mesos-go/issues/231

Let see if we can get it looked at, otherwise I will try to.

[2016-03-16 12:20] fiunchinho commented on #1968
Yes, but to create the overlay network in the first place I need Consul running, so I can't connect Consul to that same network afterwards.
So I see it as a circular problem like:
Consul for overlay network -> create overlay network -> run nginx container on that network -> connect consul to that network (I can't do that AFAIK)

[2016-03-16 12:21] echupriyanov commented on #1970
while we still have no storage controller on cluster, I’m trying to find a way how to imporove situation with minimal impact on current code base. Currently, docker-compose V2 works with volumes Swarm if they are pre-created in advance and described as `external`. To enable automatic creation/destroying volumes we can do following:

1. for non-local volumes
  * `docker volume create <name>` with u

[2016-03-16 21:47] dongluochen commented on #1968
I agree that there shouldn't be circular dependency. (I think you can add Consul to the overlay network if you run it in container. But I wouldn't suggest it.)

Does Consul needs to be in the target network to do service registration? In that case you need a Consul for every network.

[2016-03-16 21:55] fiunchinho commented on #1968
AFAIK yes, I need Consul in the target network. I was thinking about connecting all containers needing service discovery to the Consul network. What do you think?

I think I couldn't add Consul to the overlay network, because that Docker host will not know about the overlay network at all.

[2016-03-16 22:07] dongluochen commented on #1968
There is a hack to do that. The Docker host can start with the same `--cluster-store` option even Consul doesn't exist yet (You know what the option `will` be, right?). Docker host will keep trying the cluster-store and be able to join overlay network when Consul starts later. But to make Consul available on the overlay network, you need to run it in a container and use `docker -H manager:port net

[2016-03-16 22:14] vieux commented on #1974
@woshihaoren thanks for the report, I opened a fix in https://github.com/docker/swarm/pull/1979

[2016-03-16 22:17] morxa opened #1980 "Swarm overlay networks leave stray virtual network interfaces after removal"
### The issue

I'm using Swarm with 3 Swarm agents and one separate master and etcd for cluster discovery.

I frequently create new overlay networks, run containers in the network, and remove the network after the containers were destroyed. Sometimes, I observe stray network interfaces that should have been removed, such as this one:

[code]
### How to reproduce

I can reproduce the issue with the

[2016-03-16 22:23] mavenugo commented on #1980
This is a dupe of https://github.com/docker/libnetwork/issues/984. Will be resolved in 1.11.

[2016-03-16 22:47] #1974 closed

[2016-03-16 22:59] #1976 closed

[2016-03-17 00:19] #1781 closed

[2016-03-17 09:07] #1468 closed

[2016-03-17 15:17] auzias opened #1989 "Swarm Agent does not receive containers"
A couple of Swarm agents (`bugs10` and `bugs17`, see the **`swarm info`**) do not receive containers.

While the **`swarm info`** actually shows `Containers: 3` it is containers that were started **before** the Swarm was deployed.

As the [`Strategy: spread`](https://docs.docker.com/swarm/scheduler/strategy/) I'm expecting that if 22 containers are deployed on the 11 nodes each node will host 2 co

[2016-03-17 16:23] nfoonf opened #1991 "telling Swarm Manager to listen on a unix socket creates a directory instead of a socket"
starting Docker Swarm with the following config should create a socket **/var/run/swarm.sock**. Instead it creates a directory with this name.

[code]

the error Message is:
[code]

docker version: 1.10.2
host: virtual-box

[2016-03-17 18:39] dongluochen commented on #1991
@nfoonf I guess your intention to start a swarm manager in a container and want the unix socket available on the host machine. In that case you just pass the directory `/var/run` to the container. `swarm.sock` will be created inside the container. Because the directory is mapped, you can access it from host. Skipping other options, it's something like:

[code]

[2016-03-17 19:12] dongluochen commented on #1954
@soletan I found that putting discovery in the middle of other parameters would fail. The help page indicates separation of `OPTIONS` from `discovery` and I think it best to follow that.

[code]

[2016-03-17 21:03] dongluochen commented on #1989
Do you see any failure to these nodes in swarm logs? Failure may decrease their priority in selection. If you put node affinity to these nodes in docker run, do they run successfully, like `docker -H manager:port run -e constraint:node==bugs10 ...`?

[2016-03-17 22:34] vandita31 commented on #1760
@abronan @dongluochen ,

Can anyone look into my last comment , and the comment from @nishanttotla and inform if there is an issue with swarm currently not recognizing FQDN in wildcard certs? I prove above that it only works when certs are created using IP addresses of nodes and fail using wildcard.

Any update would be much appreciated. Thanks in advance guys!

[2016-03-18 00:49] dongluochen commented on #1969
@mavenugo Currently Swarm each engine overlay network manifest includes every container local, remote, or stale. Say there are `N` nodes with `M` containers in an overlay network, docker inspect network would have to filter `N * M` entries to get unique results. It seems a waste on resource. Is it ok that swarm doesn't restore remote/stale? I don't see them useful for Swarm. Here is an example out

[2016-03-18 01:39] dongluochen commented on #1969
@mavenugo I feel like listing remote and stale containers should be optional. Doesn't it make sense to have default network command not to return them? You can add an option to show them. It'd make it clean for existing tools.

[2016-03-18 02:46] appbead commented on #927
I have set "RegistryMirror" incorrectly in ~/.docker/machine/machines/default/config.json
After adding quote mark (") for items, it fixed.

[2016-03-18 04:40] mavenugo commented on #1969
@dongluochen Swarm master infact reflects the cluster state and not the local state. But the Stale endpoints are never seen either in swarm or engine level... The main intention of docker/docker#21160 is to identify a stale endpoint. unfortunately at the engine level, it will not know if an endpoint is a remote endpoint or a stale endpoint. But Swarm can (due to his global view of containers that

[2016-03-18 05:45] dongluochen commented on #1969
@mavenugo I'm not sure of that. Today overlay network is control with `cluster-store` option. An overlay network can be bigger than a Swarm cluster. Nodes in an overlay network know each other, while Swarm doesn't.

The weird thing here is that a node is reporting endpoints that doesn't belong to it. Also the search space jumps from linear to quadratic.

[2016-03-18 09:46] nfoonf commented on #1991
Oh I tried what you said. Classical Layer8 Problem :) Thanks for nudging me in the right direction ;-)

[2016-03-18 09:46] #1991 closed

[2016-03-18 14:57] auzias commented on #1989
The only error in the logs are to report a name conflict.

Both `swarm-docker run -it -e constraint:node==bugs10 debian bash` and `swarm-docker run -it -e constraint:node==bugs17 debian bash` works (and the containers are deployed on the expected node).

Any clue?

[2016-03-18 15:22] mavenugo commented on #1969
@dongluochen that's absolutely fine. If someone is deploying that way, then swarm's `docker network inspect` will also contain the `ep-{endpoint}` from the node that is not controlled by swarm. The idea of this feature is to make sure we provide all the tools for the user to visualize what is seen by the network subsystem.

That's not true, in a multi-host scenario, every endpoint that is attached

[2016-03-18 17:40] dongluochen commented on #1989
No clue. Scheduler first excludes nodes not fit for the new container based on affinity, constraint, health, port filters, then sorts the remaining nodes by recent failure count and node's load. From your description I don't see why `bugs10` or `bugs17` are not selected.

Have you enable debugging on swarm manager `swarm -l debug manage ...`? Is this problem reproducible, i.e., do you have a repro

[2016-03-18 18:41] ulnneverknow commented on #1941
This is the exact same problem that @auzias was having with #1931 . I had a similar problem which I solved by restarting the docker daemons and everything worked again.

[2016-03-19 00:18] dyoder commented on #1484
Having the same issue as @azpekt re: AWS ECR.

[2016-03-19 18:24] fiunchinho commented on #1968
I can't create an overlay network unless there is at least a healthy node, but there are no healthy nodes until the Consul that I passed as --cluster-store is running.

I could create the swarm agent nodes passing the Swarm manager IP as --cluster-store, but I'm using docker-machine to create the Swarm manager, so I don't know the public IP address before hand.

Any ideas?

[2016-03-19 20:36] dongluochen commented on #1968
Docker-machine is to create machines from a driver, either cloud provider or local hypervisor, then start docker or swarm procedure. You can login the machines and restart docker daemon.

`--cluster-store` is the place your node will _retry_ to connect. You can decide consul to run as `consul://node1-ip:8500`. You can even set `--cluster-store=consul://node1-ip:8500` for `node1` docker daemon. Whe

[2016-03-20 14:08] fiunchinho commented on #1968
Thank you for all your responses.
What would be a clean design?

[2016-03-20 16:52] mujiburger commented on #1356
That seems to have fixed it for overlay networks, but not bridge networks.  I need a user defined bridge network on each node.  Compose/swarm can't currently handle this situation (see docker/compose#3146), so I have to create them by hand and then tell compose to use them.

This is fine so long as there is a single node:
[code]

as soon as I add another node things go haywire:
[code]

notice that

[2016-03-21 00:15] mujiburger commented on #1356
After a few hours of digging into the compose and swarm code, I understand more of the complexity of the problem.  The reason duplicates fail when called with `docker network create` is that request has `CheckDuplicate:true`  There isn't even a way to set that flag in the docker-py library used by compose.  It wouldn't really fix the problem if there were.  Setting it by hand results in a `500 Int

[2016-03-21 07:49] auzias commented on #1989
No I didn't start swarm in debug mode and I really wonder how to reproduce this issue that I cannot diagnostic myself.

What do you mean by

[2016-03-21 14:54] ezrasilvera opened #2000 "Swarm HA may not work properly with Mesos"
In manage.go all managers (leader and followers) first create the cluster (mesos.NewCluster() )  and only then decide if their role is leader or follower (through setupReplication()  ).
In mesos.NewCluster() we register the Swarm framework in Mesos.

As a result of the above it seem that also the "followers" will register in Mesos and may mixup the Mesos scheduler (e.g., recive offeres, tec..)

[2016-03-21 16:45] dongluochen commented on #1989
@auzias I want to know if the problem is reproducible on your side. Do you see the same behavior when you restart swarm manager with the same nodes?

[2016-03-21 18:16] rjsteinert commented on #1951
Thanks @dongluochen. It looks like that will do the trick.

[2016-03-21 18:16] #1951 closed

[2016-03-21 18:26] DarkFranX opened #2001 "'--tmpfs' support ?"
I set up Docker Swarm according to this [article](http://blog.scottlowe.org/2015/03/06/running-own-docker-swarm-cluster/) and I am using docker-py to control it.

The problem is that even if I add the --tmpfs option to the container creation parameters, the swarm ignores it (no errors). So the desired temporary volume is not created inside the container.

However, if I use my local docker deamon o

[2016-03-21 19:51] doronp commented on #1961
https://docs.docker.com/swarm/discovery/

It says you can put several instances... Does it not work?

[2016-03-21 22:22] nishanttotla opened #2002 "Integration tests failing on master"
Most integration tests started failing around Friday (as pointed out by @dongluochen), and the error seems to be
[code]
It's possible that #1997 introduced new `engine-api` behavior that is causing this, because the text corresponds with `ErrConnectionFailed`. It's not clear though, since tests passed on #1997. Good news is that the client is working with manual testing, so it's likely only the in

[2016-03-21 22:41] OferE commented on #1961
even the consul one?

On Mon, Mar 21, 2016 at 9:52 PM, Doron Podoleanu <notifications@github.com>
wrote:

--
Regards,
Ofer Eliassaf

[2016-03-21 23:21] vieux commented on #2002
Depends on https://github.com/docker/docker/pull/21341

[2016-03-22 02:11] yoshiokatsuneo opened #2003 ""docker run -i -t" hangs on Ctrl-p + Ctrl-q detach."
"docker run -i -t" with docker swarm hangs on ctrl-p ctrl-q sequence to detach.
 https://docs.docker.com/engine/quickstart/#running-an-interactive-shell

[2016-03-22 03:47] jimmyxian commented on #2001
@DarkFranX
It has already supported in swarm master. Can you try swarm master?

[2016-03-22 04:02] OferE commented on #1961
I'm using consul - this is why i missed it.
I will give it a try tomorrow - and close this issue if it works!
Thanks!

[2016-03-22 04:05] jimmyxian commented on #2003
@yoshiokatsuneo Thanks for reporting this.
Tested locally and can reproduce.

[2016-03-22 07:59] jotunskij commented on #1094
+1

[2016-03-22 11:30] DarkFranX commented on #2001
What do you mean by trying swarm master? I am using the swarm image from docker registry already. Or maybe there is something else?

BTW I just saw that "SwarmMaster" build is failing since four days, could it be related?

[2016-03-22 14:07] venki93 opened #2005 "How to set up a private registry for docker swarm ???"
I've configured docker swarm cluster with 2 nodes (v.m's) and a master(v.m) in our organization.  I've followed the token method for setting up the swarm cluster. I want to set up a private registry for that swarm cluster. For single host insecure registry flag works and for swarm cluster i don't have any info on it. So, please help me out with this.

[2016-03-22 18:10] mrapczynski commented on #1651
Just chiming in that I am also getting the same issue reported if I try to specify a rescheduling policy as an environment variable in a Compose file. Here is the raw errors output from our CI:

[code]

[2016-03-22 18:21] vieux commented on #1651
@mrapczynski ` ERROR: for 1  invalid reschedule policy: on-node-failure=` can you try with compose 1.6.2 and if it still doesn't work paste your compose file here ?

[2016-03-22 18:41] mrapczynski commented on #1651
@vieux OK upgrading to Compose 1.6.2 seems to have done it. Thanks.

[2016-03-22 18:56] dongluochen commented on #2005
Have you try [registry](https://docs.docker.com/registry/deploying/)? There are also some blogposts on this topic.

[2016-03-22 19:00] mrapczynski opened #2007 "Allow setting of default (or global) rescheduling policy for Swarm manager"
I looked through existing issues and did not see any mention of this so I would like to bring it up for a future Swarm iteration.

It would be great to see a command line flag added to the startup options of a Swarm manager that specifies a _default_ rescheduling policy for containers that do not explicitly provide one.

I have a Swarm a cluster with labeled soft boundaries between production, tes

[2016-03-22 19:07] fredhsu opened #2008 "Docker network options not showing up in Swarm event stream"
I'm trying to get information about the networks created from `docker network create` from swarm.  Right now it doesn't appear that the network options are being sent in the event stream on swarm.  Here are the output of the swarm events and the commands used to create the network.  Specifically we will need access to macvlan/ipvlan options when those networks are created.  Since those are new fea

[2016-03-22 21:52] #1969 closed

[2016-03-23 00:16] MHBauer commented on #2002
docker/docker#21341 is merged. What is next to do?

[2016-03-23 01:21] dongluochen commented on #1838
@Spritekin I think it makes sense to provide an option to disable Keepalive. However there is an on-going change #1879 to migrate samalba/dockerclient to docker/engine-api. All TCP transport options need to re-organize with that change. We may do that after 1.2.0 release. I'd suggest we close this issue, and open a separate one for Keepalive. WDYT?

[2016-03-23 03:09] venki93 commented on #2005
I tried to deploy registry 2.0 in one of the machines running swarm cluster and i tried --insecurity-registry flag on all nodes and i tried to pull the image through docker -H :4000 pull <ip_of_host>:5000/img_name but of no use.

[2016-03-23 03:44] Spritekin commented on #1838
Yes I think its ok, but I also think the mesos driver should come with a warning that it may crash a few hours later. Even with the increase of the threads it will happen eventually.

[2016-03-23 12:49] DarkFranX commented on #2001
Problem solved with image **swarm:1.2.0rc1**

Closing.

[2016-03-23 12:49] #2001 closed

[2016-03-23 13:26] michaelzangerle commented on #1488
Is there anything planned in near future regarding rescheduling and multi-host network?

[2016-03-23 13:52] michaelzangerle opened #2011 "Documentation issue with rescheduling by setting label"
According to the [documentation](http://docs.master.dockerproject.org/swarm/scheduler/rescheduling/) one has to set an environment variable or a label to enable rescheduling for a container. When I tried it, it only worked with the environment variable and not by setting a label. Taking a closer look at the output of inspect I discovered that the results differ.

Enabling rescheduling by setting a

[2016-03-23 14:09] tsofnat opened #2012 "swarm periodic"

[2016-03-23 17:22] dongluochen commented on #2012
Yes.

Discovery happens before a node joins a cluster. Node information update has mutex to prevent race condition. You can take a look at node state machine at #1486.

[2016-03-23 17:45] dongluochen commented on #2008
Network events are generated by Docker Engine, not Swarm. Is there something changed in the events? Or you want extra info?

[2016-03-23 18:22] mavenugo commented on #2008
@dongluochen it seems the network options is not passed to the docker engine. is it possible that the swarm APIs are not complete for `docker network create` and not take care of all the UX options ?

[2016-03-23 18:43] dongluochen commented on #2008
@mavenugo I can see the option in docker inspect. What might be missing?

[code]

The events from manager is:
[code]

Docker info output:
[code]

[2016-03-23 20:00] amitshukla commented on #1572
@moxiegirl any update on this?

[2016-03-23 20:03] mavenugo commented on #2008
@dongluochen can you try the same use-case without swarm in picture ?  (directly in docker engine) and see if the event has the options properly ?

[2016-03-23 20:13] nishanttotla commented on #977
@aanm @mbentley this should be fixed in #1796, can you please try the latest RC (1.2.0-rc1) and let us know if your issue was resolved?

[2016-03-23 20:19] nerdalert commented on #2008
I think the question is if Swarm event streams are supposed to be truncated to notify about the event on an element, and then if you need the details you then query the API for the details.

In @fredhsu example, he wants to see network events so he watches the API events:
[code]

Then an event occurs, but the stream does not show all of the details about the new network (specifically `--options`):

[2016-03-23 20:43] dongluochen commented on #2008
@mavenugo Event from Docker Engine is the same for network create.

[code]

[code]

[2016-03-23 21:16] dongluochen commented on #1954
@soletan Any issue to run Swarm with this format `swarm manage [OPTIONS] <discovery>`?

[2016-03-23 21:17] DarkFranX opened #2014 "1.2.0rc1 volumes not updating correctly"
### Short story:
Volumes are not updated correctly unless you restart the swarm containers.

Specifically, if I modify a text file on host machine by adding (or deleting) characters, the same file in the volume will have space at the end (or will be cropped) by the same amount of characters that I added (or removed).

### Detailed story:

Basically, I set up the swarm with virtualbox and consul di

[2016-03-23 21:37] dongluochen commented on #2014
Swarm would run the command on a selected node. If you see the problem directly with a node then it's not a Swarm issue.

The problem may be in Engine or docker-py. I cannot reproduce this problem on Docker 1.11 Engine with Docker CLI. I notice https://docs.docker.com/engine/userguide/containers/dockervolumes/
[code]

[2016-03-23 22:03] rolfedh commented on #1598
@moxiegirl Please reassign this task.

[2016-03-23 22:03] rolfedh commented on #1571
@moxiegirl Please reassign this task.

[2016-03-23 22:03] rolfedh commented on #1548
@moxiegirl Please reassign this task.

[2016-03-23 22:29] nlsun opened #2015 "Why does swarm affinity respect stopped containers?"
I'm curious about why this is the case, and wonder if there is any way to have swarm affinity filters ignore stopped containers.

[2016-03-24 00:11] DarkFranX commented on #2014
I was mistaken when I said I was doing it on the node directly. I was actually communicating with the **swarm image on the node** (via 192.168.33.12:2375).

Additionally, I do not encounter that issue when using docker-engine directly.

I was aware of the inode problem. I will try to bind the parent directory instead of the file specifically and will report back. Although I **did not have this pro

[2016-03-24 00:21] dongluochen commented on #2015
Container state is dynamic. A container can failed for different reasons. Swarm wants to have a more stable view of the cluster.

It's also related to the view of resource in Swarm. CPU/Mem and network ports are considered as resources. If a container registers a port at the host, Swarm considers it in-use, regardless of the container state.

Controlling dynamic resource would have all sort of rac

[2016-03-24 01:13] dongluochen commented on #2014
What's `docker -H manager:port info` in your set up? Do you have a one node cluster? If you have more than a node, the following command may be run on different nodes, i.e., different files.

[code]

[2016-03-24 04:12] jimmyxian commented on #2003
@yoshiokatsuneo
Can you provide swarm version and docker version?

[2016-03-24 04:26] shenshouer commented on #1926
It`s ok when I rebuild swarm from the master.

[2016-03-24 04:26] #1926 closed

[2016-03-24 05:30] allencloud opened #2018 "No type validation of cluster-opt in swarm manage and no output when incorrect type"
Hi, all
I found that when `swarm manage` works, it will not validate the correct type of cluster options `cluster-opt`.

For example, when we set `swarm.createretry=-1`, -1 is an int and swarm will check if this value is larger than 0.

While, when we set `swarm.createretry=ssss`, ssss is not an int and swarm will check this options but nothing will output to let administrator know it is in incorr

[2016-03-24 06:11] yoshiokatsuneo commented on #2003
@jimmyxian
Strangely, I cannot reproduce the issue, now...
I close this case for now...

[2016-03-24 06:11] #2003 closed

[2016-03-24 06:58] jimmyxian commented on #2018
@allencloud Good catch!
Feel free to submit a PR to check those two options.

[2016-03-24 07:00] soletan commented on #1954
Sorry for the late response. This approach is working either:

[code]

[2016-03-24 08:10] allencloud commented on #2018
@jimmyxian
Actually, I am on this work.

[2016-03-24 10:07] Rohlik opened #2019 "Docker labels don't work with Swarm replication"
Hello,
I have 5 nodes with 2 Swarm master in replication mode. My settings:
node1 - Swarm client, Consul and Swarm manager with replication setting enabled, now primary master
node2 - Swarm client, Consul and Swarm manager with replication setting enabled, now replica master
node3 - Swarm client
node4 - Swarm client
node5 - Swarm client

Node2 have set custom label `typ=zaloha`. When I use `docker

[2016-03-24 11:15] DarkFranX commented on #2014
This is the node Manager : -H=tcp://192.168.33.11:3375

My nodes' swarm images are advertising to 192.168.33.10 (consul discovery) and their address are :
Node1: 192.168.33.12:2375
Node2: 192.168.33.13:2375
Node3: 192.168.33.14:2375
Node4: 192.168.33.15:2375

[2016-03-24 11:40] jimmyxian commented on #2007
I like this idea. +1 for this

[2016-03-24 12:16] jimmyxian commented on #2019
@Rohlik
Try to reproduce locally, but can not.
Can you provide more information?
* swarm version
* docker version
* reproduce step and cmd you use

[2016-03-24 12:36] #1281 closed

[2016-03-24 12:38] jimmyxian commented on #1949
Fixed by: https://github.com/docker/swarm/pull/1992

[2016-03-24 12:38] #1949 closed

[2016-03-24 12:44] Rohlik commented on #2019
No problem.
**node1**:
[code]
**node2**:
[code]

**cmd which I use:**
`docker -H node1:4444 info`
[code]

`docker -H node2:4444 info`
[code]
On node2 I have Docker deamon running with `--label typ=zaloha`
As you can see `typ=zaloha` isn't displayed in `docker -H node1:4444 info`

[2016-03-24 14:22] jpetazzo commented on #1810
@vieux pointed out to me that since I issue a `reboot`, the Engine does a proper shutdown, and my `highlander` container is stopped normally. When the rescheduling logic kicks in, the container is created on another node, but it's not started -- this is the normal behavior.

However, it doesn't explain why I have *two* containers. I reproduced the same tests, but by disconnecting the node from the

[2016-03-24 17:25] dongluochen commented on #1954
@soletan thanks for confirming.

[2016-03-24 17:25] #1954 closed

[2016-03-24 17:33] amitshukla commented on #2008
Closing since this is not a Swarm issue. The behavior of Swarm and Engine is the same.

[2016-03-24 17:33] #2008 closed

[2016-03-24 18:06] dongluochen commented on #2014
@DarkFranX When you run the consecutive commands `docker -H manager:port run -v ...`, are they forwarded to the same Docker node? You can see that if you enable debugging in Swarm log (`swarm -l debug manage ...`). If it is, can you run the commands on that Docker Engine directly to see if it has the same output. If it isn't, you are looking at different files on different nodes.

I don't see Swar

[2016-03-24 19:06] victorock opened #2023 "Support filter by ipadress or network"
It would be great in dynamic environment with multiple networks and segmentations the ability to define filters based on the ip address of the nodes/hosts.
# If the node has the specific IP

service1:
  environment:
    - "affinity:ipaddress==10.10.10.10"
# If the node is part of the network

service2:
  environment:
    - "affinity:ipaddress=~10.10.10"

...etc

[2016-03-24 19:12] DarkFranX commented on #2014
I don't know if it is forwarded to the same node and I can't try right now (until next week).

However, let me explain my setup:

Each swarm container is in a ubuntu virtual machine. So my manager is in VM1, node1 in VM2, node2 in VM3, node3 in VM4 and node4 in VM5. The sixth virtual machine has a consul container to discover nodes.

The file.txt is actually in a shared folder between my host and

[2016-03-24 21:04] dongluochen commented on #2014
I'm not aware of changes to data volume in Swarm 1.2.0-rc1. I'm surprised to see swarm:1.2.0-rc1 behaves differently from  swarm:latest (i.e., swarm:1.1.3 as for 3/24/16). If you can validate that, it may help us to locate the problem.

You share a file from host to multiple VMs, then bind the file with multiple containers. I'm not sure how the updates are propagated. Timing could play a role in t

[2016-03-24 21:42] DarkFranX commented on #2014
I will make a deeper investigation, try your suggestions and report back Tuesday!

[2016-03-24 22:46] podviaznikov opened #2024 "Swarm consul host wasn't deleted"
I'm running swarm 1.1.2 and with consul 0.6.3.
This week I saw following problem happened twice:
1. one of the docker hosts was deleted
2. even 1 day later consul still had KV pointing to the deleted host
3. swarm keep trying to schedule container create on the delete host because that record was in the consul.

It is strange that removed docker host has unlocked KV record in the Consul.
Swarm con

[2016-03-24 22:50] moxiegirl commented on #1572
@amitshukla @abronan was going to gather a list.

[2016-03-24 22:55] ggtools commented on #1937
I did notice the same issue with the same workaround:

[code]

[2016-03-24 23:12] abronan commented on #1572
I have a list of blog posts that can be really helpful for users. But I was thinking, maybe we should do it in another repository to let people propose meaningful content and keeps things clean here?

Thinking about something like [this](https://github.com/ctjhoa/rust-learning)

WDYT?

[2016-03-24 23:34] moxiegirl commented on #1572
@abronan Well, I wanted to include it in the actual documentation.  I have a central private repository where we can put that.  But it won't be intended for GitHub but for docs.docker.com.  Work for you?

[2016-03-25 00:08] dongluochen commented on #2019
@Rohlik Did you change label on node2 daemon after node1 manager was brought up?

Also, before swarm:1.2.0-rc1, manager doesn't proactively refresh node spec. Swarm:1.2.0-rc1 adds a periodic node spec update at 5 minute interval.

[2016-03-25 00:18] dongluochen commented on #1819
@gradywang I missed your message last month. It's tracked by #475.

[2016-03-25 00:19] dongluochen commented on #1819
@gradywang @dvenza I think we can close this issue.

[2016-03-25 09:56] allencloud opened #2026 "In container rescheduling, container create succeeds, while container start fails, nothing output"
Swarm manages two nodes:
node1(192.168.2.56): normal
node2(192.168.2.59): has mysql server running on it listening 3306

swarm manage command:
[code]

run a containers:
[code]

docker ps
[code]

shut down docker daemon on node2(192.168.2.56), we get logs from swarm:
[code]

while when we execute `docker ps`:
[code]

There may be two things that can be improved.

[2016-03-25 12:07] echupriyanov opened #2027 "Certificate issues in current master branch (HEAD@510ea94)"
I’ve tried to run swarm manager built from master branch (HEAD@510ea94)
And I see following certificate issues in logs:
[code]

Same error appears in build from v1.2.0-rc1 tag.
Build from tag v1.1.3 has no such errors.

[2016-03-25 17:33] dongluochen commented on #2026
@allencloud Thanks for PR!

What's the output from `docker ps` to the engine itself?

[2016-03-25 20:30] MHBauer opened #2030 "integration test `zk discovery: watch for changes` seems flaky"
I see this test fail on the `retry` step sometimes.

I have seen it fail when locally running the tests, and also on jenkins.

[2016-03-25 21:04] dongluochen commented on #2030
Yes it's tracked by #1915.

[2016-03-25 21:05] #2030 closed

[2016-03-25 21:36] MHBauer commented on #2030
my bad.

[2016-03-25 21:46] #1810 closed

[2016-03-26 00:10] ChrisMcKenzie commented on #1950
I just ran into this issue again after a system reboot, from what i can tell the affected containers are ones that have restart policy set to always and they start back up with the port they had on reboot and any containers that get started up on boot that are new they can get one of the same ports.

[2016-03-26 02:29] allencloud commented on #2026
@dongluochen
like below:
[code]

[2016-03-26 13:09] kamigerami opened #2033 ""4. Run a container" in the install-w-machine.md needs -i flag added to the docs"
**Output of `docker version`:**

[code]
Swarm version 1.1.3

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Vagrant / Virtualbox

**Steps to reproduce the issue:**
1. Run swarm manager with x nodes
2. export DOCKER_HOST=ip:port
3. docker run hello-world

**Describe the results you received:**

No output thought the container runs fine and exits.

[code]

**Describe the resu

[2016-03-26 13:28] allencloud commented on #2026
I did a test that using restful api to get this container's info via swarm and docker engine, they both return a container's status of `created`.

Then why is the output different?

Confusing.

[2016-03-26 22:27] kamigerami commented on #2033
#dibs

[2016-03-27 05:43] #2012 closed

[2016-03-27 07:30] kamigerami commented on #2033
#dibs

[2016-03-27 10:00] allencloud opened #2036 "command `docker events` has no options of --since and --filter?"
Like the topic:

In swarm, `docker events` only supports the option of `--until`.
While in docker engine, it supports `--since` and `--filter`.

[2016-03-28 00:47] jpetazzo commented on #2027
Confirmed -- just ran into this exact same issue on my test clusters. I use Consul for discovery (not that it should matter).

My setup works with 1.1.3-rc2 (7e9c6bd) but not with master (7e9c6bd).

[2016-03-28 01:24] jpetazzo commented on #1810
Confirmed, #2025 fixes it. Thanks!

[2016-03-28 01:29] jpetazzo commented on #1914
This seems to be gone in master: I can't reproduce it reliably. I'll close, and re-open if I see it again.

[2016-03-28 01:29] #1914 closed

[2016-03-28 01:36] jimmyxian commented on #2036
Same as https://github.com/docker/swarm/issues/1203

[2016-03-28 02:03] allencloud commented on #2036
@jimmyxian
OK, Thanks for your remind.
Then should I close this issue report?

[2016-03-28 05:04] CodeJuan opened #2039 "API "/images/create" is available, and the document swarm-api is out of date"
The document [swarm-api](https://github.com/docker/swarm/blob/master/docs/swarm-api.md#missing-endpoints) said the API "/images/create" is not available, but I found that the API "/images/create" is OK, I tried
[code]
And the response is
[code]
After that, I checked the images on the nodes by cli `docker images`, and found the image busybox.

So I think the  document [swarm-api](https://github.com

[2016-03-28 05:05] nishanttotla commented on #2039
cc @thaJeztah

[2016-03-28 12:55] jpetazzo commented on #1651
My problem was linked to issue #1810 (bad interaction between Swarm manager failover and container rescheduling). Now that this one is fixed, I have the following feedback.

**Network partitions**

In case of network partition, containers are rescheduled correctly (cool!) but when the partition resolves, you end with multiple copies of the container. This is not a big problem, *except* that it mak

[2016-03-28 16:05] abronan commented on #2027
/cc @vieux @dongluochen

[2016-03-28 16:14] abronan commented on #2024
Hi @podviaznikov, thanks for the report. The key in Consul must be attached to a Session to hold a TTL with the `Delete` behavior when the TTL expires. In this case I guess that the key is detached somehow from the Session and thus never expires. I guess a workaround for now if this happens again would be to delete the key manually in Consul but this is bothersome. Never saw that problem happening

[2016-03-28 16:21] abronan commented on #2023
Hi @victorock, sounds like a good idea to me even though I would be tempted to say that a subnet can be defined as a `label` to identify a zone/environment while a machine with a specific IP is qualified by its `name`.

I see how this can be useful in a setup with subnets without any label applied but the good practice would be to label those subnets to clearly identify boundaries and use constrai

[2016-03-28 16:38] abronan commented on #1572
Ok, I'm working on the list at the moment (I'm half-way, trying to gather as much on every topic as I can), we can work on including this in the docs once the list is complete before the release.

[2016-03-28 17:39] victorock commented on #2023
Hi @abronan, in understand your point, but i would consider that in a dynamic environment the network is the basis to isolate environments and commonly adopted to define the boundaries of PODs/Racks within the datacenter. From my perspective the infrastructure should have standard labels, where additional fine-tuned labels can sit on top and the application/deployment model decide which ones to le

[2016-03-28 17:55] dongluochen commented on #1950
@ChrisMcKenzie What's the error message you get? Do you mean 2 different containers are trying to bind the same port?

[2016-03-28 18:05] ChrisMcKenzie commented on #1950
Unfortunately no error messages just two running containers that are bound to the same host port.

[2016-03-28 18:11] dongluochen commented on #1950
Swarm considers server port number as resource. It doesn't allow a second container claiming the same port on a host. Do you start one of the containers out of band, i.e., not through Swarm CLI?

[2016-03-28 19:06] diogomonica commented on #2027
What I don't understand here is this:

Get https://swarm-node-**04a**.cybertonica.aws:2376/info: x509: certificate is valid for swarm-node-**04a**.cybertonica.aws, not swarm-node-**05a**.cybertonica.aws  Addr=swarm-node-**04a**.cybertonica.aws:2376

I don't understand how that error log like can even show 05a, when we're clearly connecting to 04a.

[2016-03-28 20:01] echupriyanov commented on #2027
@diogomonica There is a `TLSClientConfig *tls.Config` structure, which contains TLS configuration used to connect to Docker engines. Part of this structure is `ServerName` field. That field is usually empty, which means we only check if certificate received from engine matches the url we use to connect to it. **But** if its not empty, we also check if engine'e hostname matches `ServerName` in prov

[2016-03-28 20:01] ChrisMcKenzie commented on #1950
yes one of the containers is started via the docker cli on the host and the other through swarm.

[2016-03-28 20:38] #1819 closed

[2016-03-28 20:57] diogomonica commented on #2027
That makes sense, thank you for the detail.

"But if its not empty, we **also** check if engine'e hostname matches ServerName in provided TLS config."

I don't think this is a "we also check", I think this is a "we only check". IIRC, if you provide a ServerName, the underlying TLS stack will only check against the provided ServerName, so it's not an additive check, it's a replacement check.

[2016-03-28 22:25] dongluochen commented on #1950
Swarm doesn't allow 2 containers (stopped, or live) to use same port. Docker allows a new container to claim a port as long as the system allows it (a stopped container wouldn't occupied the port from Linux point of view). Both are valid because they have different views of resource.

Generally speaking, in Swarm user is discouraged to run containers out of band. And it's best to remove stopped co

[2016-03-29 00:33] dongluochen commented on #2033
@kamigerami I don't remember having this problem. Is your stdout get redirected? Could Vagrant change CLI environment?

[2016-03-29 01:12] dongluochen commented on #2026
Yes. See https://github.com/samalba/dockerclient/pull/236.

[2016-03-29 01:53] abronan commented on #1782
@jpetazzo I found some time to spend on this issue and I found the culprit. I'm have a working fix (which is quite non trivial), need to spend some time testing with other stores and implement the tests. Thanks again for reporting!

[2016-03-29 03:16] jimmyxian commented on #2036
@allencloud Yeah.

[2016-03-29 03:16] #2036 closed

[2016-03-29 05:52] vieux commented on #1484
@dyoder @azpekt did you follow the guide at https://github.com/docker/swarm/blob/master/docs/swarm-api.md#registry-authentication ?

[2016-03-29 06:20] kamigerami commented on #2033
@dongluochen - I do get the output if I use the -i flag. Not sure if vagrant actually does something however I'll try the CLI directly from virtualbox and report back.

I'll try it out with docker machine on my Mac (as the docs suggest) as well.

I'll even try it out on actual vmware hosts running swarm (and leave out vagrant altogether) just to make sure.

[2016-03-29 08:29] kamigerami commented on #2033
I can confirm that it works fine without the -i flag using only virtualbox or only vmware or only docker-machine on my local workstation (not using vagrant).

So when using vagrant the -i option might be needed.

Closing this.

[2016-03-29 08:29] #2033 closed

[2016-03-29 08:46] byrnedo opened #2044 "Pending status although nodes healthy"
After a few days of bringing a swarm cluster up, I end up getting 'pending' status on all nodes.

I'm running on aws using consul as the kv store.

In the swarm-master logs I see this:
[code]
I've individually checked nodes 1 and 2 and they're fine. Also consul is reachable from both.

Docker version on the nodes:
[code]
Docker version from my machine talking to swarm:
[code]

[2016-03-29 09:28] eoghanino opened #2045 "Volume mounting a file or directory that doesnt exist creates a directory"
If i run `docker run -it -v `pwd`/myconfig.conf:/myconfig.conf busybox` but there is no myconfig.conf on the filesystem a local directory called myconfig.conf is created and a mounted directory in the container is created. It should fail when this happens. The worst case scenario for this is when you are trying to mount a file, as the file does not exist on the filesystem but its mounted as a dire

[2016-03-29 09:29] #2045 closed

[2016-03-29 10:49] venki93 commented on #2005
thanks @dongluochen finally i resolved and i am able to access the private registry now

[2016-03-29 10:49] #2005 closed

[2016-03-29 12:01] vimalprakashts opened #2047 "How to setup a docker swarm cluster with AWS ubuntu machine"
I am getting the bellow error. while creating and running container in swarm cluster.

      Creating network "ubuntu_default" with the default driver
            ERROR: 500 Internal Server Error: failed to parse pool request
        for address space "GlobalDefault" pool "" subpool "":
        cannot find address space GlobalDefault
        (most likely the backing datastore is not configured)

T

[2016-03-29 12:05] DarkFranX commented on #2014
@dongluochen Good news, it is the 'iron/gcc:dev' container that does not update the file. Nothing to do with swarm. I don't want to ask too much, but do you have any idea of what is causing this?

[2016-03-29 14:19] DarkFranX commented on #2014
Problem solved using Apline 3.1 image. Thanks for your support! Closing.

[2016-03-29 14:19] #2014 closed

[2016-03-29 17:39] nanounanue commented on #1567
I am having the same problem.

And I believe it has to do with the fact that I recreate (`docker-compose build`) the container.

Any solution?

[2016-03-29 17:49] dongluochen commented on #2047
To enable overlay network, you need to set `cluster-store` and `cluster-advertise` on **all** the Docker `daemons` that want to participate the overlay networking. Make sure you open corresponding network ports for VXLAN. See https://docs.docker.com/engine/userguide/networking/dockernetworks/ .

[code]

[2016-03-29 17:53] dongluochen commented on #2044
Can you show `docker -H manager:port info`? We should see the reason of Pending in the `Error` message. Make sure you can run "docker -H node:port info" successfully from manager.

[2016-03-29 17:57] byrnedo commented on #2044
Completely forgot to add that.

I'm connecting using tls. Once I restart a host it goes back to health.
[code]

[2016-03-29 18:18] byrnedo commented on #2044
`docker info` still showing `pending`
[code]

[2016-03-29 18:39] vieux commented on #1885
@shenshouer there are 2 issues here:

1) you cannot rm duplicate containers: you must use full name in docker rm `docker rm worker-xxx-125/adoring_hopper` and `docker rm worker-xxx-110/adoring_hopper`

2) why do you have duplicate containers, we did several improvments to the rescheduling lately, ca you try again with master and tell me if it still happen ?

Thanks.

[2016-03-29 18:54] vieux commented on #977
@aanm @mbentley I'm going to close this one since we believe it was fixed in #1796, feel free to comment here if it's not fixed.

[2016-03-29 18:54] #977 closed

[2016-03-29 20:33] mattgiles commented on #1922
One idea might be for the docker pull cli/api to support something like node constraint arguments. Swarm could then evaluate which nodes are eligible etc.

In compose, for example, it may well make sense for docker-compose up to pull all images to all eligible nodes, but it doesn't make as much sense for that pull to offend node constraints defined in the docker-compose.yml.

Believe this would al

[2016-03-29 20:54] dongluochen commented on #2044
I run Swarm 1.1.3 on AWS and do not have a repro of your problem. When manager reaches the step of `Start monitoring events`, it means it can connect to the docker engine. But somehow it cannot finish validation. We have a backoff strategy that nodes failing validation need to wait some time before next validation. I wonder if that might be the case.

But I do not understand why rebooting a host w

[2016-03-29 21:05] byrnedo commented on #2044
As I said before, this happens after some time, a few days.

I used docker-machine and the 'generic' driver to provision docker on my
servers. From inspecting the container, this is the swarm-manage command
line :

[code]

Here is the `ps` output of the daemon on the master

[code]

I run consul agent for dns and bind it to the docker bridge, hence the
`--dns 172.17.0.1`

On 29 March 2016 at 22:54

[2016-03-29 21:07] byrnedo commented on #2044
Is it perhaps to do with the `-H tcp://0.0.0.0:2376` along with `--cluster-advertise eth0:2376`?

[2016-03-29 21:08] #2026 closed

[2016-03-29 21:39] arun-gupta opened #2049 "Incorrect port number in "Install with machine" instructions"
Instructions at https://docs.docker.com/swarm/install-w-machine/ uses port "3376" where as the master is running on port "2376".

This either need to be explained correctly or fixed.

[2016-03-29 22:08] dongluochen commented on #2044
Back to your original post, the following error means discovery (Consul) removes the nodes. If you keep seeing these messages, it means the discovery pipeline has problem. Either the nodes are failing to register themselves, or Consul is failing for some reason. From manager point of view, when Consul reports a node dropped, it'll remove it from cluster; when Consul puts it back again, the node wo

[2016-03-29 22:28] dongluochen commented on #2014
@DarkFranX Thanks for your update!

[2016-03-30 01:06] abronan commented on #1572
@moxiegirl By the way I stumbled upon a currated list that we maintain for Swarm blog posts: https://github.com/docker/community/blob/master/Docker-Releases/Docker%20Swarm.m

This can be of use :ghost:

[2016-03-30 01:52] arun-gupta opened #2051 "Overlapping docs for Swarm + Machine"
Opening a new issue from https://github.com/docker/compose/issues/3237

https://docs.docker.com/swarm/install-w-machine/ and https://docs.docker.com/swarm/provision-with-machine/ seems to have an overlap and should be cleaned up.

[2016-03-30 07:03] byrnedo commented on #2044
Is it possible to debug this via the values in the kv-store? I have one working cluster and one failing and I'm finding it hard to spot any differences.

From looking at the consul logs I do see that there is a re-election now and again due to small network outages, maybe once a day.

When you say that "when Consul puts it back, the node would start from `pending`", is there any confirmation I can

[2016-03-30 09:43] zet809 commented on #2047
@vimalprakashts I have followed you steps to create a small swarm cluster. But for step5, even though there is docker created and running on slave host, the master can not get info about them.
The only slave added successfully into the swarm cluster is the docker host which have swarm master running on.
And the log for the container running on slave docker host output the following msg, do you hav

[2016-03-30 09:57] zet809 opened #2052 "Slave dockerhost can not be added into swarm cluster"
I have followed the doc https://docs.docker.com/swarm/install-manual/ to setup a small swarm cluster.
But swarm master can not add slave docker host which is not the host the master running on.
My scenario:
dockerhost1(10.4.0.1):     the consul node, swarm master and swarm slave
dockerhost2(10.4.0.2):    swarm slave

The steps to reproduce the issue:
1. create consul
docker run -d -p 8500:8500 --n

[2016-03-30 13:54] Spritekin opened #2054 "Request: When swarm crashes, do not kill the running jobs"
Swarm may crash, maybe due to code inmaturity, maybe due to failed health checks. The point is that, at least in mesos, it crashes.

The problem is that swarm can indeed restart, but when doing so it will kill all the running jobs that had no problem at all.

So, it would be nice if instead of terminating the jobs, just leave them running, so the swam service can be restarted and it will continue

[2016-03-30 14:32] Spritekin opened #2055 "Questions on Swarm HA"
Hi,
Some questions on Swarm High Availability. I hope someone may me kind to guide me.

a. Does it work on mesos?
b. I use zookeeper. Do I need to change anything? Just --replication --advertise hostip:port ?
c. I use Marathon to scale up/down. Does it have any effect in the instances?
d. I use mesos-dns so all started instances respond to swarm.marathon.mesos (mesos-dns will handle load balancing

[2016-03-30 15:19] byrnedo commented on #2044
This occurred again today where I restarted the master docker daemon. The master became healthy but the other nodes were now pending.

[2016-03-30 15:37] echupriyanov commented on #2027
I’ve updated PR with a fix on Swarm level.

[2016-03-30 15:51] moxiegirl commented on #1572
@abronan Why don't we link to that page from the Swarm docs rather than maintaining our own? We can also work with the community to update that one.  WDYT?

[2016-03-30 17:04] echupriyanov commented on #2027
Should be fixed by https://github.com/docker/engine-api/pull/179

[2016-03-30 17:14] abronan commented on #1572
SGTM! :)

I'm still preparing something a bit more structured though (with a table of content and sections for discovery/setup/tips/HA/TLS, etc.). I think this will help tremendously when searching for a particular topic rather than a long list of links ;)

[2016-03-30 17:51] Spritekin commented on #2055
Ok tested all:
a. Partially, when the manager dies the new leader is elected but the jobs die with the old manager.
b. Works fine.
c. Can't pass the $HOST in the arguments.
d. If properly configured any request against a secondary manager will be rerouted to the primary.

So looks good except the jobs die with the old manager which is a huge NO!

[2016-03-30 17:52] Spritekin commented on #2054
Tested in HA mode. New leader is elected, but jobs are lost anyway.

[2016-03-30 18:19] abronan opened #2057 "Manager HA: leader notifications fail after store restart using zookeeper 3.5.1 alpha"
Confirmed leader election happens after a store failure with zookeeper `3.4.6/7/8` but starting `3.5.1-alpha`, a store failure blocks the leader notifications somehow and the cluster is left without a leader. Might be related to some changes in the Watches or just an incompatibility with the go/zookeeper client.

Probably not a huge deal for now (still an alpha version), but worth tracking as the

[2016-03-30 18:29] abronan commented on #2055
Hi @Spritekin, do you have rescheduling enabled?

/cc @vieux

[2016-03-30 19:02] dongluochen commented on #2047
When running Docker in cloud platform, some network ports need to open.
Docker port (your choice, 2375, 2376, etc)
Discovery: 8500 for Consul
Overlay network: tcp 7946, udp 4789, 7946.
SSH: 22

[2016-03-30 19:43] byrnedo commented on #2044
This appears in the docker daemon logs on the master a few days ago I see. It has appeared a few times since too:
[code]

[2016-03-30 20:38] dongluochen commented on #2027
We will merge the change docker/engine-api#179. Thanks @echupriyanov!

[2016-03-30 22:59] shmcfarl opened #2058 "IPv6 with swarm 'manage' doesn't work"
**docker-version:**

Client:
 Version:      1.11.0-dev
 API version:  1.23
 Go version:   go1.5.3
 Git commit:   79edcc5
 Built:        Sat Feb 13 00:12:47 2016
 OS/Arch:      linux/amd64
 Experimental: true

Server:
 Version:      1.11.0-dev
 API version:  1.23
 Go version:   go1.5.3
 Git commit:   79edcc5
 Built:        Sat Feb 13 00:12:47 2016
 OS/Arch:      linux/amd64
 Experimental: true

**d

[2016-03-30 23:01] Spritekin commented on #2055
Hi @abronan ,

I think rescheduling intention is to restart jobs. I don't want then restarted but maintained because:
a. They are long running number crunching jobs. They have been running for 20 hours so being deleted is no fun and costs us a lot.
b. Our system tracks what each job is doing by its ID. If it has a reason to fail then ok, then engine will restart the jobs. But if it is rescheduled

[2016-03-30 23:34] Spritekin commented on #2055
Ok so here is the situation. I have a mesos cluster with two slave nodes running swarm in HA mode. They coordinate using Zookeper. Swarm runs as a docker container of course. I kill one swarm manager so the other takes control. I do it multiple times to see it works ok.

So then I start some jobs, in this case many (like 9) http services. They are distributed in the two nodes but one swarm in 172.

[2016-03-30 23:50] Spritekin commented on #2055
Starting Docker in debug mode... hopefully it might give me more hints.

[2016-03-31 00:42] Spritekin commented on #2055
This is interesting. While waiting for new nodes to start I started digging into the mesos-master node. This is the log at the same time:
[code]

So it means Swarm kills all the tasks related to that framework. Not a swarm problem then.

[2016-03-31 01:57] zet809 commented on #2047
The port scan from slave node shows 8500, 22 are opened on the master node. And use tcpdump show that the slave node doesn't send out any request to master node at all. Really strange.
nmap <master IP>

Starting Nmap 6.40 ( http://nmap.org ) at 2016-03-30 21:44 EDT
Nmap scan report for master (master IP)
Host is up (0.00012s latency).
Not shown: 996 closed ports
PORT     STATE SERVICE
22/tcp   ope

[2016-03-31 02:30] zet809 commented on #2047
My guess is correct that after I assign 10.0.0.x IP for the slave docker container, it can register to the swarm master. But the problem is there will be another IP needed beside the docker host, which means how many slave docker host there, 2 times IP address are needed within the same subnet.
Another problem is that the swarm master only know there is a new slave docker host, but the docker host

[2016-03-31 03:06] Spritekin commented on #2055
Ok so here is it... there is this failover_timeout parameter that can be set so that mesos waits for some time before destroying the tasks. Swarm is still not using the flag. I have to set it and its done.

[2016-03-31 03:26] allencloud opened #2059 "docker info and swarm info show different total memory"
Hi, all

I found that docker info and swarm info showed different total memory.
Below is my environment:
One Swarm(2375) and one Docker Engine(2376), both of them are on machine with IP 192.168.2.59.

1.Start Swarm Manager
[code]

2.check swarm info using port **2375**
[code]

3.check docker info of docker engine using port **2376**
[code]

**Result:**
In swarm info:   └ Reserved Memory: 0 B / 2.0

[2016-03-31 04:26] allencloud commented on #2059
It is overcommit that causes this difference.
And the default overcommit ratio is 0.05

Then I will close this issue.

[2016-03-31 04:26] #2059 closed

[2016-03-31 06:32] jmzwcn commented on #2049
Seems I don't think the instruction is wrong, because master's manager is actually listening to 3376, [2276 is master's docker engine port]?

[2016-03-31 07:01] Rohlik commented on #2019
Thx for your time. Now it's working for me!

[2016-03-31 07:01] #2019 closed

[2016-03-31 07:15] gittycat opened #2062 "Specify the name of a new swarm cluster"
Add an option to specify the name of a swarm cluster.

Currently, if I'm using `docker-machine` to create a cluster of say 2 nodes plus Consul, I will get something like this:

[code]

The name of the swarm cluster is `vmw-node02`, which I haven't specified anywhere. I'd need to be able to specify that name instead of having to discover (parse) it from the docker-machine commands.

I need to know

[2016-03-31 13:05] allencloud opened #2063 "images with same repo+tag while different image ids on nodes managed by swarm"
Hi, all

I ran into a case using swarm, here is my command output

[code]

we found that `docker images` show two images with same repo+tag, while image ids are different.
Maybe swarm should do something to classify each image is on which node.

when using commands related to image like `push`, `run`, `tag` and so on, is it necessary for swarm to classify two images?

[2016-03-31 13:21] allencloud opened #2064 "two containers with same name on different node cause swarm issues"
Hi, All

How to reproduce issue easily:
1. run a container with name `allen` on each docker engine(192.168.2.56,192.168.2.59):

[code]

2.start swarm managers:

[code]

3.docker ps (swarm ps ):

[code]
1. docker stop allen & docker inspect allen  (swarm stop & swarm inspect)

[code]

some strange things happened in this case.
Maybe swarm can remind user of more than one container with this name ex

[2016-03-31 17:03] allencloud commented on #2063
This issue can be treated similar to #2064

[2016-03-31 17:07] moxiegirl commented on #2049
You can actually specify a custom port for the manager which is what this example does here:

https://docs.docker.com/swarm/install-w-machine/#create-the-swarm-manager-and-nodes

Step 2...the reason for this is the Engine uses `2376`.

[2016-03-31 17:18] dongluochen commented on #2047
@zet809 Ubuntu has default docker configuration file at /etc/default/docker. Can you show the process info of your docker daemon like this?

[code]

[2016-03-31 17:19] arun-gupta commented on #2049
I think the reason for using a different port number should be clarified in the docs.

[2016-03-31 17:33] moxiegirl commented on #2049
Point taken. I'll get that fixed.

[2016-03-31 17:58] dongluochen commented on #2058
@shmcfarl From your **manager node**, can you use `curl` to access discovery info, like `http://[2001:db8:cafe:14::a]:8500/v1/kv/docker/swarm/nodes?consistent=`? I want to validate network reachability first.

[2016-03-31 18:02] vieux commented on #2027
fixed in #2065

[2016-03-31 18:02] #2027 closed

[2016-03-31 18:57] dongluochen commented on #2058
@shmcfarl I think your problem could be caused by no IPv6 routing in your container. See https://docs.docker.com/engine/userguide/networking/default_network/ipv6/. If you haven't enabled IPv6 routing in docker daemon, the container created with the following command do not have route to the etcd.

[code]

You can do a validation with `docker run -it ubuntu sh` on the manager node. You can inspect

[2016-03-31 19:25] dongluochen commented on #2044
@byrnedo Thanks for the logs. I suspect there is reachability issue, either network or program in your cluster. How long does it take to resolve, nodes get back to `healthy` state after master restart? If it's long enough. I think you can debug each component separately. To test engine, use docker command `docker -H engine:port info`. To test discovery, use docker command `docker run swarm list

[2016-03-31 21:08] shmcfarl commented on #2058
Thanks.  I do have routes for the containers to reach the etcd node and back (those are manually set).  Docker automatically enables forwarding and adds a route for its prefix when you set the --ipv6 --fixed-cidr-v6 option.  So, I don't think it is a route issue.

I can reach the etcd IPv6 address from containers in my manager and swarm nodes:
**Ubuntu container on manager:**
root@a3ef2491605d:/#

[2016-03-31 21:33] dongluochen commented on #2058
You are using the same swarm:1.2.0-rc1 image. Can you enable debug log to see if there is more info on discovery?
[code]

You can use `list` to show the members in discovery.
[code]

[2016-03-31 21:49] shmcfarl commented on #2058
Seems like discovery is working ok.  Also, I don't get any errors after the "engine update succeeded" happens.

time="2016-03-31T21:47:13Z" level=debug msg="Watchdog enabled"
time="2016-03-31T21:47:13Z" level=info msg="Listening for HTTP" addr=":2375" proto=tcp
time="2016-03-31T21:47:16Z" level=error msg="Discovery error: client: etcd cluster is unavailable or misconfigured"
time="2016-03-31T21:47

[2016-03-31 21:56] shmcfarl commented on #2058
It doesn't like the 'list' run:

docker run swarm:1.2.0-rc1 -l debug list etcd://[2001:db8:cafe:14::a]:2379
time="2016-03-31T22:00:20Z" level=debug msg="Initializing discovery service" name=etcd uri="[2001:db8:cafe:14::a]:2379"
time="2016-03-31T22:00:20Z" level=info msg="Initializing discovery without TLS"
2016/03/31 22:00:23 client: etcd cluster is unavailable or misconfigured

[2016-03-31 22:05] dongluochen commented on #2058
It looks like discovery issue with etcd. I have a consul set up and it works ok. cc @abronan.

[2016-04-01 01:51] Odravison commented on #429
Hello guys, i got the same problem.
I'm using VM on AWS with only one node on the swarm. The swarm, also, it's a VM on AWS. The security politic groups is enabled to comunicate with HTTP on PORT 80 in wich nodes (SWARM and NODE0).

I'm brazilian guy, sorry about the english.

[2016-04-01 02:53] zet809 commented on #2047
@dongluochen Thanks very much for you responding. I have found the reason in my environment that I have configure bridge manually for the nic that docker host need to use to contact outside.
The current question is, is it possible to assign IP address for the containers running in the swarm cluster and then I can ping it outside of the swarm cluster? It seems the overlay network only works inside

[2016-04-01 09:20] byrnedo commented on #2044
Thanks @dongluochen, going to try and debug further with swarm list etc.
I'm beginning to think this is related to https://github.com/docker/docker/issues/16572. I see that at the point which the swarm becomes unresponsive I tend to get `eth0: renamed from vethfbb53ab`. Will investigate further. Thanks for the help so far.

[2016-04-01 17:12] dongluochen commented on #2058
@shmcfarl Do you see the same messages with IPv4?

[2016-04-01 17:28] dongluochen commented on #2062
@gittycat AFAIK Swarm doesn't have a defined name. I'm afraid you need to parse it. For your specific tasks, there should be way to work around it. For example, you can label your nodes in a cluster then docker-machine can filter them based on label.

[2016-04-01 17:37] dongluochen commented on #2052
@zet809 Is your question covered in #2047?

[2016-04-01 18:05] shmcfarl commented on #2058
No. I get no errors at all if I use IPv4.

[2016-04-01 23:42] dongluochen commented on #2047
@zet809 It's possible but you have to manage the IP assignment and routing. Docker allows you to create a subnet with public IP `--net`, and it allows you to specify an IP for a container `--ip`. But you'll have to handle routing.

If you just want your container accessible from outside, you can use port mapping `-p` to map host port to your container port, or use host network where container uses

[2016-04-02 01:28] dongluochen commented on #1968
Re-use a component for different purposes may have problem in practice. It adds complexity in deployment, upgrade, failure recovery, etc. IMHO in production it's better to let one component do one job.

[2016-04-02 10:58] fiunchinho commented on #1968
Ok. I guess we can close this, as it's not really sensible or even possible. Thank you!

[2016-04-02 10:58] #1968 closed

[2016-04-03 03:54] zet809 commented on #2052
Yes, I will close this one.

[2016-04-03 03:54] #2052 closed

[2016-04-03 10:25] Spritekin commented on #2054
Solved in pull request:
https://github.com/docker/swarm/pull/2067

[2016-04-03 19:43] vimalprakashts opened #2073 "how to deploy applocations on docker swarm and expose that ip address to A record"
I have successfully setup the docker swarm cluster with nginx. on my ec2 instances. using this tutorial

https://botleg.com/stories/load-balancing-with-docker-swarm/

I am using like this

Manager 1

node 1

node 2

I am using consol with registrator for service discovery.

In Consul Machine
docker run --restart=unless-stopped -d -p 8500:8500 -h consul progrium/consul -server -bootstrap

Swarm Man

[2016-04-03 20:42] #2047 closed

[2016-04-04 08:12] bvandewalle commented on #1567
I have the same issue.
It seems it only occurs when docker-compose needs to build one of the images.

[code]

[2016-04-04 13:40] robwithhair commented on #1341
How are you supposed to remove a node?  I assumed simply shutting down the node would remove it from the cluster?

[2016-04-04 15:05] auzias commented on #1989
Ok, so... The Swarm cluster was redeployed. The bug persists. I restarted the swarm container, and the consul master/agents.

How to enable the debbuging mode of the Swarm container?

[2016-04-04 16:36] amitshukla commented on #1885
@shenshouer any update?

[2016-04-04 16:40] amitshukla commented on #1484
@dyoder @azpekt ping ^^

[2016-04-04 17:19] dongluochen commented on #1989
On swarm manager side, run `swarm -l debug manage ...` to enable debug logs. You can also enable debugging on `bugs10` and `bugs17` Docker daemon with option `--debug`.

[2016-04-04 21:34] dongluochen commented on #2073
IMHO you are asking a general load balancing question. Popular solutions include adding a load balancer in your service pipeline, or DNS based host selection.

Swarm itself doesn't include a load balancing component yet. But there are plugins available. Inside Docker [Interlock](https://github.com/ehazlett/interlock) has been well tested. If you are using public cloud services like AWS, they have

[2016-04-04 21:39] dongluochen commented on #2058
@shmcfarl Do I understand correctly that this is not a blocking issue on your side?

[2016-04-04 21:43] shmcfarl commented on #2058
As of a full rebuild and walking through this again, it is not a blocking issue but I do still see the errors.  I can check against the etcd store and see the nodes are there so I don't know what exactly it is whining about but Swarm seems to be happy.

[2016-04-04 21:56] dongluochen commented on #2058
It looks like an initial IPv6 connection issue to Etcd. But swarm manager would retry and it succeeds.

[2016-04-04 22:00] shmcfarl commented on #2058
That is exactly what I am seeing on this rebuild. It errors at first and then I never see the etcd messages about availability or misconfiguration again. Almost like some sort of race condition.

[2016-04-05 02:10] vimalprakashts commented on #2073
@dongluochen Thank you. I will try this.

[2016-04-05 02:10] #2073 closed

[2016-04-05 02:15] vimalprakashts opened #2079 "how to fix : unable to find a node that satisfies error?"
I am in a small cluster, with one master and 2 slave.

My docker info Says

[code]

above I can see the labels are set as node=node1,node=node2 for the slaves.

but If I try to execute ,

I am getting this error.

docker: Error response from daemon: unable to find a node that satisfies node==node1.
See 'docker run --help'.

[2016-04-05 02:26] allencloud commented on #2079
Oh, Great. I think constraints of "node" and labels of "node" went conflict in swarm manager.
"Node" in "constraint:node==node1" in swarm is a key word, swarm will search node whose name is node1, while in your cluster no node is named after node1.
Although you have a node with label node1, it does not work.
And in your case, you use "node" as a label name.
So, conflict happens.

[2016-04-05 02:42] vimalprakashts commented on #2079
Wow, It works, I just change that label to awsinstance=node1 on slave1 and  awsinstance=node2 on slave2.

Thankyou @allencloud

[2016-04-05 02:42] #2079 closed

[2016-04-05 07:58] HackToday opened #2081 "swarm docs seems outdated"
in https://github.com/docker/swarm/blob/master/docs/scheduler/filter.md

we could found that
[code]

while in latest release 1.10.3, I found following

[code]

It seems it not have any NODE column

[2016-04-05 08:25] byrnedo commented on #2044
I got to the bottom of this in the end. It's related to https://github.com/docker/docker/pull/20686, some file limit is getting eat up and then all the nodes fall into pending (explains why it happens after a few days). Restarting the plugin (in my case rexray) sends nodes health again.

Thanks for the help @dongluochen.

[2016-04-05 08:27] byrnedo commented on #2044
I got to the bottom of this in the end. It's related to https://github.com/docker/docker/pull/20686, some file limit is getting eat up and then all the nodes fall into pending (explains why it happens after a few days). Restarting the plugin (in my case rexray) sends nodes health again.

Thanks for the help @dongluochen.

[2016-04-05 12:35] Spritekin commented on #2055
Solved on https://github.com/docker/swarm/pull/2067

[2016-04-05 13:08] Spritekin commented on #2000
I was observing at this as well. This is not a "may not work", but a "does not work". It is exactly as you say.

I thought it was a side effect of my changes here https://github.com/docker/swarm/pull/2067 but it looks like this code has to be improved.

One of the problems is that swarm was not specifying a frameworkid so mesos would assign a random ID. As an effect if I have 5 swarm services each

[2016-04-05 13:50] auzias commented on #1989
I found out why. `bugs10` and `bugs17` do not have the image. I did not check it before as all other Swarm agent _do_ have the image.

Thanks for the help!

[2016-04-05 13:50] #1989 closed

[2016-04-05 14:17] ezrasilvera commented on #2000
So just to clarify - for now you just added the framework-id. What happen if I have several frameworks registered with the same ID ? Is that possible in Mesos or I'll get an error ?

[2016-04-05 14:41] andrea-spoldi opened #2082 "launching a "self destroying" container (aka --rm=true) through swarm -- hangs"
Hi,
 can't tell if this topic was already discussed, did a bit of research in issues without significant results.

Also, my question might be silly, so again sorry in advance

I'm running a test swarm cluster, 1 manger plus 2 nodes

sudo docker run --rm=true -it swarm --version
swarm version 1.1.3 (7e9c6bd)

sudo docker version
Client:
 Version:      1.9.1
....

using consul as key service (don't

[2016-04-05 14:51] Spritekin commented on #1947
a. You may start a slave service in the master and give a special role name for it (i.e. master-slave). In the resources parameter of that master-slave you can specify a number of CPUs and RAM for the master-slave role and nothing for the common role (*). In the marathon job definition for swarm specify you want to use the acceptedResourceRoles=master-slave. That way swarm will be deployed there b

[2016-04-05 15:40] ascotan opened #2083 "nopclient does not implement client interface"
Basically this change: https://github.com/docker/engine-api/commit/c3e35722bad23e13366c1186fd073ba60450e9ec  added a new interface method to the docker engine Client struct.  This file: https://github.com/docker/swarm/blob/master/api/nopclient/nop.go does not implement that interface so:

[vagrant@node ~]$ go get github.com/docker/swarm
\# github.com/docker/swarm/cluster
/opt/golang/src/github.com

[2016-04-05 16:16] nishanttotla commented on #2083
@ascotan This will be fixed in #2077. Meanwhile, you should build swarm using `godep go install`, so that it uses the `engine-api` code in Godeps and builds successfully.

[2016-04-05 17:18] dongluochen commented on #2044
@byrnedo Thanks for sharing the root cause!

[2016-04-05 17:18] #2044 closed

[2016-04-05 17:29] ascotan commented on #2083
Hey nishanttotla,

Thanks for the info. FYI I'm not setting up a development environment for swarm. In my case I'm installing swarm onto a production system without the use of the container.

/soapbox
With most golang repos the expectation is to be able to go get from HEAD to get a binary distribution.  I understand the vendoring issues that golang brings but HEAD *is* the release version of the p

[2016-04-05 17:37] nishanttotla commented on #2083
@ascotan I understand your problem, sorry that you have issues. This should be fixed today.

The fast moving nature of independent Docker repos and dependencies between them is the reason we use Godeps, so that we can fully control the Swarm `master` branch.

[2016-04-05 17:42] ascotan commented on #2083
:+1:  Thanks nishanttotla. nps.

[2016-04-05 19:31] nishanttotla commented on #2083
@ascotan the PR was merged, this issue should be fixed now. Feel free to point out more issues!

[2016-04-05 19:31] #2083 closed

[2016-04-05 19:48] doronp commented on #2064
Wouldn't be nice to be able to have 2 containers with the same name even on the same engine, let alone on the same Swarm cluster - What are there IDs for ;-)

[2016-04-05 20:14] dongluochen commented on #2082
@andrea-spoldi Can you provide the command you start swarm, and the command/output of your `docker run`? `--rm=true` shouldn't block container from starting.

[2016-04-05 20:19] mbentley commented on #1922
I agree with @mattgiles.  From a consistency standpoint with scheduling, I would think that I would like to be able to perform `docker pull` via swarm with the same constraint filters (node, labels, etc) as I can use to schedule containers.  I am not completely sure how these could be used from the standpoint of docker-compose but I imagine being able to consume constraints would be able to be pas

[2016-04-05 20:22] dongluochen commented on #2081
Thank @HackToday for reporting the format problem.

[2016-04-05 22:00] Jotschi opened #2085 "Docker swarm import using fromSrc is async"
I noticed that invoking `import` using a http url seems to just dispatches the import call to all agents. This behavior is different from invoking import on a docker agent.

Via Docker Swarm:

[code]

Direct :

[code]

In this case the http call blocks until the import has finished. Import via posting a tar stream blocks until the the image has been distributed. (At least it seems that way)

I jus

[2016-04-05 23:04] gittycat commented on #2062
@dongluochen  A swarm cluster must have some name at least internally, which is what is being used to filter the `docker-machine ls --filter swarm=<swarm-name>`
The listing output also seems to use some automatically picked swarm name (vmw-node02 in this case).
[code]

I guess this is a feature request then.
Add an api to specify the swarm name at creation (`docker-machine create`), and get it lat

[2016-04-05 23:35] Spritekin commented on #2000
I have started multiple frameworks with the same ID. They all appear in the task tab, but only one appears in the Frameworks tab. Its like mesos has them unified under the same ID.

The problem I had now is exactly what you mentioned. When a secondary swarm registers, mesos will send the offers to that secondary. What I guess happens next is that the leader receives the job requests but it never g

[2016-04-06 00:48] #2081 closed

[2016-04-06 02:19] dweinstein opened #2091 "alignment of error message to match docker daemon for imageNotFoundError"
it seems there is a difference between the error message one gets from the docker daemon vs using swarm. do you think we could align the two to be the same or at least send the same status message (I haven't confirmed if they do already) -- for sure it seems to be a different message:

https://github.com/docker/swarm/blob/ccb2bea9cf56a4fb1bddf6df160fc4e8497a3417/cluster/swarm/cluster.go#L140

vs

[2016-04-06 02:28] allencloud commented on #2064
2 containers with the same name even on the same engine?
Can it happen on the same engine?

[2016-04-06 03:03] ezrasilvera commented on #2000
@Spritekin I have started to look into a possible fix for that .. will try to push a PR in the comming few days ..

[2016-04-06 08:29] azpekt commented on #1484
will try to and update as soon, as possible

[2016-04-06 09:46] andrea-spoldi commented on #2082
@dongluochen thanks for replying

this is how I lunch the swarm manage container

sudo docker run -d --dns 172.17.42.1 -p 8333:2375 swarm --experimental manage consul://consul.service.consul:8500/swarm

and this is what I try running a simple container with "--rm=true"

sudo docker -H tcp://10.0.0.11:8333 run --rm=true debian date

no outputs here, but on one node I have

sudo docker ps -a
CONTAIN

[2016-04-06 10:30] doronp commented on #2064
As it stands this is not possible not in Swarm (unless you do your own scenario in which you 'went around' Swarm ) and definitely not in the engine.

Reason being - There is specific check for that as you know. Also when querying a container one can use name as a unique identifier.

But Why I ask - If we have unique ID - Why should a unique name  be forced? It is certainly possible to allow duplic

[2016-04-06 17:22] dongluochen commented on #2064
I think the reason Docker Engine does not allow name duplicate is usability. First it's hard for human to remember container ID. We prefer container names. Second orchestration tools can create names and use that in automation. For example Docker Compose creates web_1, web_2, ..., worker_1, worker_2, etc. IMHO allowing duplicate name would add unnecessary complexity and confusion.

[2016-04-06 17:36] dongluochen commented on #2082
@andrea-spoldi You may enable debugging on Swarm `swarm -l debug manage ...` and Daemon `docker daemon -D ...`. The logs may give you reason on the failure. You can also try the same command on the corresponding daemon to compare the result, and with or without `--rm=true`. It may give you better idea on the problem.

[2016-04-06 18:19] aviau opened #2092 "rescheduling containers when swarm manager dies"
I am running the swarm manager in replication mode on several nodes. The node that is running the master swarm manager died and the containers that were running on it were not rescheduled.

Could that be due to https://github.com/docker/swarm/commit/ffba4054dcca9f85f8e39012df4674af47066f85 (merged in #2025)?

If I understand, replica managers are not making sure that the master does the rescheduli

[2016-04-06 23:41] dongluochen commented on #2062
@gittycat Swarm itself doesn't have a name for a cluster. Here docker-machine is using the Swarm master to identify a cluster. It's part of the swarm plugin from docker-machine.

From Swarm side, you can use `docker -H any_manager:port info` to list swarm nodes in a cluster. The output to any manager is the same as the request is routed to master. Also you can list the nodes from your discovery by

[2016-04-07 09:16] andrea-spoldi commented on #2082
Hi, this is what happens on the swarm node, from docker daemon debug log
http://pastebin.com/xvshnsFY

This line here I think is the more relevant

[code]

I think somehow it cannot redirect/attaching-to the tty console from the container running in the remote node back to the swarm manager

I can't see anything interesting in swarm manager logs

similar thing happens without --rm=true, but lunchi

[2016-04-07 16:57] dongluochen commented on #2082
Do you see the same failure when you run it directly towards docker daemon, not swarm?

Also Docker engine version 1.9.1 is a bit old. Do you have reason to keep it? Otherwise would you upgrade it to current stable version [1.10.3](https://github.com/docker/docker/releases/tag/v1.10.3) and rerun the test?

[2016-04-07 17:36] dongluochen commented on #2092
It's an interesting problem but for now it is an unsupported scenario. Reschedule is done by Swarm `master` manager when it gets a node `disconnect` event. It cannot detect failure for itself. `replica` managers are in proxy mode. They shouldn't run cluster management tasks #2025, otherwise each replica manager would trigger a reschedule copy.

To fix such problem it would require persistent state

[2016-04-07 21:18] #1782 closed

[2016-04-07 22:07] damora opened #2094 "docker-swarm + mesos not supporting remote bash"
Hi, I execute from remote host:
docker  -H tcp://<ip addr of swarm manager host>:2345 run -i -t -m 2mb ppc64le/ubuntu:latest bash

The bash shell is not opened and the container immediately exits. If I run the same container on the machine with the swarm manager it works as expected.
### CONTAINER ID        IMAGE                   COMMAND             CREATED             STATUS

[2016-04-08 00:22] dongluochen commented on #2002
#2089 may have fixed it.

[2016-04-08 00:28] #2002 closed

[2016-04-08 04:47] allencloud opened #2096 "`docker swarm info` and `docker info` show some different details"
Hi, all,
I found that `docker swarm info` and `docker info` showed some different details in docker 1.10.0 and swarm/master.

Here are some aspects related to this situation:
- Images
- OSType
- Operating System
- Architecture
- Plugins(nothings)

**How to reporduce:**
I have only one docker host(192.168.2.59:2376) with swarm manager on it. Here is how I start my swarm manager on 192.168.2.59:

[c

[2016-04-08 07:02] marcuslinke commented on #1779
@nishanttotla I ran into a simmilar problem when using docker-machine with the vsphere driver. Everything seems fine but ports of swarm-agent-master container are not mapped.

[code]

[code]

[code]

[code]

[code]

[2016-04-08 08:42] byrnedo opened #2098 "Panic on swarm 1.1.3"
Client:
 Version:      1.10.3
 API version:  1.22
 Go version:   go1.5.3
 Git commit:   20f81dd
 Built:        Thu Mar 10 15:54:52 2016
 OS/Arch:      linux/amd64

Server:
 Version:      swarm/1.1.3
 API version:  1.22
 Go version:   go1.5.3
 Git commit:   7e9c6bd
 Built:        Wed Mar  2 00:15:12 UTC 2016
 OS/Arch:      linux/amd64

I had been getting `Error response from daemon: Cannot connect

[2016-04-08 09:01] allencloud commented on #2098
It seems a bug in Swarm.
In  https://github.com/docker/swarm/blob/v1.1.3/api/utils.go#L96-102,
client may be nil, so when call the function `resp, err := client.Do(r)`, panic happens.

Here is the definition of function `HTTPClientAndScheme `
https://github.com/docker/swarm/blob/v1.1.3/cluster/engine.go#L141

[2016-04-08 09:09] phucvinh52 opened #2099 "dcker-compose appear error when using a static file describing the cluster"
Hi all

[2016-04-08 13:31] vathanlal commented on #1947
@Spritekin Thanks for the info..
right now I have Marathon, Chronos, Aurora and Swarm in my Environment.  Swarm is running in the Mesos Master node itself and I can run containers on Swarm integrated with Mesos from the command line only. I can start Docker Containers from Marathon without using swarm..

My Idea is to create a overlay network using Swarm and Submit containers to swarm from Maratho

[2016-04-08 17:34] nishanttotla commented on #1312
@jimmyxian would you mind updating this issue? :)

It seems like there are newer options that we don't support with newer releases. We should also compile how our API endpoints differ from those in the upcoming Engine release. Ping @dongluochen .

[2016-04-08 17:37] nishanttotla commented on #2099
@phucvinh52 normally, it could take a little while before the stopped engine (swarm node) is flushed out of the discovery service, after which the manager will stop listing it. Could you run the same setup again, wait for a min before running `docker -H :4000 info` and report what happens?

[2016-04-08 18:36] nishanttotla commented on #2098
@byrnedo is this issue reproducible? And if so, could provide steps for it?

@allencloud's fix will likely fix it, but we'd like to make sure there isn't a deeper problem.

[2016-04-08 19:47] dongluochen commented on #2098
I suspect this is triggered when an Engine is removed from discovery. We set the Engine state to `disconnected` and remove clients. It looks there is a race condition when a disconnected node is still receiving requests. It matches this log. I think rejecting such request makes sense.

[code]

[2016-04-08 20:02] byrnedo commented on #2098
I had just reached an open file limit before this happened on at least one of the hosts ( due to https://github.com/docker/docker/pull/20686) so I think that might make sense since the engine becomes totally unresponsive at that point.

@nishanttotla it probably is reproducible if I eat up the open file limit again, but I'm off on holidays from tomorrow so wont be able to try for a few weeks.

[2016-04-08 21:37] #2098 closed

[2016-04-09 00:35] dongluochen commented on #1779
cc @nathanleclaire if there are recent change in docker-machine. Not seeing port mapping in the manager container looks wrong to me. (Note that `swarm join` doesn't need to open port on host.)

[code]

[2016-04-09 00:40] nathanleclaire commented on #1779
Hmmm there was a bug about Swarm port forwarding a while back but the fix _should_ be in 0.6.0.  Let me see if I can dupe with the latest Machine 0.7.0 RC.

[2016-04-09 01:01] nathanleclaire commented on #1779
Hrm... Well, @dongluochen it slipped through the cracks that this container is [run with --net host](https://github.com/docker/machine/blob/master/libmachine/provision/configure_swarm.go#L96) (it shouldn't be), so that's why you don't see it, I wonder if that's contributing (I'll put in a PR to fix that).

However, with Machine 0.7.0-rc3 I can't dupe this particular problem (I'm using token discov

[2016-04-09 01:12] dongluochen commented on #1779
Also please make sure you open corresponding port in your VPC.

Docker port (your choice, 2376, etc)
Discovery: 8500 for Consul
Overlay network: tcp 7946, udp 4789, 7946.

[2016-04-09 14:05] allencloud opened #2104 "Does it necessary to show engine ID in `docker info` in swarm?"
Hi, All,

In a docker cluster with many docker engines managed by Swarm, there may be several engine with the same name, even all the same.

When managing docker engines, we usually run into some error from specific engine, in the error message, Output just shows engine name without engine ID.

In this case, users have no idea error is happening on which engine.

How about:
* 1. showing ID in `doc

[2016-04-09 21:35] danielbjornadal opened #2106 "restart: unless-stopped - will restart outside the swarm"
If you add <code>restart: unless-stopped</code> to the docker-compose.yml, and restart the node, the container will restart at the node, without "adding" it to the cluster.
This will cause problems when doing docker-compose down.

In a 3 node cluster, only the two that did not restart will stop. the third must be manually stopped at the node it was running on.

Client:
 Version:      1.11.0-rc4
 A

[2016-04-11 02:34] HackToday commented on #2092
It seems this is still on going

https://github.com/docker/swarm/issues/1488

[2016-04-11 02:44] Spritekin commented on #1947
Let me see if I understand. So your problem is that you want to launch new tasks that run using overlay networking. And given Swarm supports overlay (and Marathon doesn't) you want to leverage on that functionality.

Well then you have hit the million dollar question. I'm looking exactly for the same. I think Marathon 1.1.0-rc1 has support for overlay networks on their experimental code (I might b

[2016-04-11 03:09] phucvinh52 commented on #2099
Thanks for your response @nishanttotla ,
I tested with above example and received a problem is like my problem. It still doesn't update status.
I tested with etcd and consul and it updated status in a litle time, but with discovery service via file:///... swarm manager doesn't update, it only updates when I restart swarm manager.

[2016-04-11 12:32] andrea-spoldi commented on #2082
@dongluochen running the container on the node itself (so not from the swarm master) just works

I also tried to upgrade docker to 1.10.3, same result

[2016-04-11 13:35] Garreat opened #2108 "docker ps inconsistency: master vs node"
Greetings Swarm community!
This issue seems somewhat related to:
[https://github.com/shipyard/shipyard/issues/728](https://github.com/shipyard/shipyard/issues/728)
[https://github.com/docker/swarm/issues/1468](https://github.com/docker/swarm/issues/1468)

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.

[2016-04-11 17:03] amitshukla commented on #1484
@azpekt any update?

[2016-04-11 17:15] ezrasilvera commented on #2108
I think I see where the issue may be coming from - Just to verify what do you get when you do "inspect" from Swarm on that exited container ?  Do you see the correct status ?

[2016-04-11 17:56] ezrasilvera commented on #2064
@dongluochen I think there are two different issues here:
1) The general issue of using unique resource names in Docker engine (container names, volume names, etx..). And using this names as the "display names"
2) The original problem that @allencloud posted which is related but belongs to a different class of issues: Should Swarm be able to connect to existing Docker engines and be able to discov

[2016-04-11 20:27] Garreat commented on #2108
Thanks for your reply

[code]
It looks correct.

[2016-04-11 20:45] dongluochen commented on #2108
What is swarm version? Are there logs from Swarm like "Error monitoring events"? In Swarm container state update is event driven. When a container's state change, Swarm should receive an event from the corresponding node and refresh the container to retrieve the container state. There was issue on losing event stream from nodes. It should be fixed in Swarm 1.1.3.

[2016-04-11 20:58] dongluochen commented on #2104
I think having duplicate node name is a bad practice for Swarm. Swarm follows Docker CLI in name handling. Docker don't allow container name duplication although IDs are different. For the same reason we don't want duplicate node name, although it's not an error. Generally speaking users prefer names to access nodes, which is often built-in with DNS records. I think adding Engine ID is unnecessary

[2016-04-11 21:09] Garreat commented on #2108
Thanks for your reply
[code]
I have debug flag among daemon parameters: `ExecStart=/usr/bin/docker daemon -D `.
I have ran `dockkv1~# journalctl -u docker > debug.log; cat debug.log | grep -i error`
and received no output.
The file `debug.log` is about 20MB large, containing almost entirely this:
[code]

[2016-04-11 21:26] dongluochen commented on #2108
How about Swarm logs? You can also enable swarm debugging with `swarm -l debug manage ...`. Are there errors?

[2016-04-11 21:27] ezrasilvera commented on #2108
@dongluochen The problem is that in order to help with performance the periodic refresh loop uses RefreshContainers(false) --> which means there will be no inspect and no full update in case the container exists (which in this case it does).
This means that in general in case we loose the event (we do full update on event) the refresh loop will not pick ANY change (state, info, etc..) ...

[2016-04-11 21:36] dongluochen commented on #2108
@ezrasilvera Yes this is a problem if manager misses events. I'm thinking to force a `full` update in the refreshloop on a predefined interval. WDYT?

[2016-04-11 21:48] Garreat commented on #2108
I have rebuilt the cluster using `swam -l debug manage` for swarm binary container.
Reproduced the issue as expected.
`dockkv2~# docker logs swarm | grep -i error` = no output

I'm not an expert on Docker internals but I think I understand your point @ezrasilvera .
@dongluochen maybe this is a kind of collateral damage from 'fastest orchestrator' race. I can't remember having similar issue across

[2016-04-11 21:53] ezrasilvera commented on #2108
I wouldn't recommend it  Remember that this will imply doing inspect on ALL containers on each loop this is a huge performance hit and what is worse is that it will introduce linear degradation in performance as the number of containers grow.
Maybe we can just add a status change check after calling ListContainers and force a "full" update if there is a state change ...
I can try it out later on

[2016-04-11 22:09] dongluochen commented on #2108
`inspect on ALL containers on each loop`, no we don't want to do that. It'd be a much larger interval, like 5 minutes. Recently we add this to refresh Engine spec because some Engine spec changes do not trigger events.

[2016-04-11 22:15] Garreat commented on #2108
For now my workaround is to `docker rm` before each `docker run` (only 'fake running' would actually get deleted). Could also incorporate some `docker start` but that's kinda stateful experience.

Anyway, I believe we can call this a bug... the current output of `ps` on Swarm master is just wrong (misleading).

[2016-04-12 07:48] jimmyxian commented on #1312
@nishanttotla OK, I will compare the newer options and update this ASAP

[2016-04-12 11:08] casertap commented on #1664
Hi guys I have the same issue right now:
docker-machine version 0.6.0, build e27fb87

I upgraded my docker-machine:
docker-machine version 0.7.0-rc3, build d6c595f

Destroy all the machine and retry again. I still have the same trouble:
[code]

I opened an issue on stackoverflow (I am not sure if it is a bug or if I am doing something wrong): http://stackoverflow.com/questions/36560681/can-not-con

[2016-04-12 11:09] azpekt commented on #1484
@amitshukla - yes, it works! weee!
quick script i wrote to call each time i need to deploy things in swarm
[code]

[2016-04-12 12:22] bruceauyeung opened #2109 "how does swarm have a sprint meeting?"
using an irc channel ? a docker meetup ? or something else ?

[2016-04-12 14:13] roggithubuab commented on #1937
I have the same problem.

[2016-04-12 14:14] allencloud commented on #2104
Although duplicate node name is bad practice, actually when we use docker machine or some IaaS to provision a bunch of VMs, there definitely will be a scene that all the vm has the same hostname.
In this case, if in swarm log we find some error message just showing the hostname(node name), it will be not readable for user. A user can do nothing according duplicate name.
If we show node ID, it is t

[2016-04-12 14:19] allencloud commented on #2064
@ezrasilvera @dongluochen
That is true.
From my point of view. it is good to support (2), but some kind of conflict, we had better handle it peacefully, at least do not report some message which is not the truth.

[2016-04-12 16:04] doronp commented on #2108
This issue is about (eventual) consistency if I get it right.

Either one acknowledges that the state represented by Swarm can be stale for some shot amount of time (relatively to a container state change on an engine in the cluster) or one acknowledges that once he send a command to Swarm he should wait (for full update).

Maybe the solution is to let the user decide if he can live with eventual

[2016-04-12 17:44] dongluochen commented on #2108
Reproduced the issue as expected.

@Garreat Can you provide the steps to reproduce the problem? How many nodes in the swarm cluster? What commands do you use to get to this state?

[2016-04-12 18:04] dongluochen commented on #2108
@ezrasilvera @doronp I like your comments. Can you sync up on PR preparation?

IMHO we might have 2 problems here. The first problem is container state update. Swarm manager subscribes to Engine event stream to refresh corresponding container state. It should keep container state fresh. We should fix any problem from this.

The second problem is event misses on manager or for some reason Engine do

[2016-04-12 18:12] gongsu832 opened #2111 "go get github.com/docker/swarm broken"
It was working yesterday but today:

[code]

[2016-04-12 18:25] ezrasilvera commented on #2108
@dongluochen I'm not sure that (1) is relevant to the discussion. If indeed there is a bug in how we handle events we should obviously fix as we do with every other issue :-)
We want to see if we identify a scenario that can lead to out-of sync info/state. If we believe that events can be missed or that the engine may not generate events then indeed this is such a scenario, and we will get out of

[2016-04-12 19:02] nathanleclaire commented on #1664
@casertap Please see my answer on StackOverflow.  In general I prefer to use the `--swarm-*` flags for Machine if experimenting with Swarm, it's much easier.

[2016-04-12 19:04] dongluochen commented on #2108
Totally agree. That's why I ask for the reproduce steps.

Yes it'd help how to resolve it.

[2016-04-12 19:18] ezrasilvera commented on #2108
Agree - I tried to do some exits and couldn't reproduce :(   Seems Swarm got the correct event on my tests :-)  I'm not an expert in go channels and can't comment on theoretical event lost ...
I guess the chances for that will increase as the number of engine increases

[2016-04-12 19:50] doronp commented on #2108
I noticed that:
https://github.com/docker/swarm/blob/master/cluster/engine.go#L769

(No refresh if update fails)

So @Garreat Can you grep your log for
"Update engine specs failed"

And let us know ?

[2016-04-12 20:08] ezrasilvera commented on #2108
@doronp that's not relevant to the problem at hand
if the engine is not healthy the inspect he did wouldn't have worked (and judging by his report it was working as expected)
If we believe events can get lost (and on large scale cluster this should  be our assumption), or events may not sent/generated correctly (on the engine side) then we must have some corrective sync actions and the only way to

[2016-04-12 20:16] hdanniel opened #2112 "Multiple requests to consul when creating a container with swarm"
When checking the time that takes create a container with swarm (engine 1.10 / swarm 1.1.3 with overlay network in AWS)  I see multiple connections to consul from/to the node when the container is scheduled. We have two consuls: one for swarm (port 8500) , and the other for multihost networking (port 8501)

In normal circumstances running a new container with swarm takes around 3 seconds. All seem

[2016-04-12 20:25] doronp commented on #2108
That's an easy test no need to make assumptions when one can test.

We believe and I think we are all on agreement that we should add periodic sync and expose the refresh iteration interval for configuration.

I'd even consider making full refresh loop on possibly another interval to be on the safe side:
https://github.com/docker/swarm/blob/master/cluster/engine.go#L781
(true on the refresh)

[2016-04-12 20:31] ezrasilvera commented on #2108
@doronp that was the proposal ..... do a full refresh loop at an interval defined by the user (see couple of comments  above)

[2016-04-12 21:42] Garreat commented on #2108
tldr: can't reproduce after restarting docker daemon on each Swarm member (managers and nodes)

infrastructure (vSphere VMs ):
- dockkv1, dockkv2; docker daemon running consul server and swarm manage
- dockgw1, dockn1, dockn2: docker daemon running consul client and swarm join

what I've done before:
- (every member) docker rm -f $(docker ps -aq)
- rebuild Consul infrastructure
- rebuild Swarm inf

[2016-04-12 21:47] MHBauer commented on #2111
I think if `go get` worked, it was by chance that all the dependencies were at compatible. The official way to build is with `godep` and documented in [contributing](https://github.com/docker/swarm/blob/master/CONTRIBUTING.md).

[2016-04-12 22:03] gongsu832 commented on #2111
By chance or not, go get github.com/docker/swarm certainly is a much simpler way to build than the "official" way.

[2016-04-12 22:12] ezrasilvera commented on #2108
@Garreat that's 100% fine!  your post actually triggered a discussion on a more general problem so it was very helpful !!  :-)

[2016-04-12 23:25] vieux commented on #2111
@gongsu832 it's very common to have this issue when the project's dependencies evolve so quickly.

This particular issue is going to be solved when we are going to switch to go 1.6 with the new vendoring

[2016-04-13 00:07] gongsu832 commented on #2111
@vieux good to know. Thanks!

[2016-04-13 02:58] dongluochen commented on #2109
We don't have a sprint meeting at this time. There were quite a few Docker (online) meetups on Swarm in past 2 months. We are close to Docker 1.11 release. There would be some meetups on that.

[2016-04-13 06:16] nishanttotla commented on #2111
This is due to https://github.com/docker/engine-api/pull/162 being merged today. This should be fixed the next time we update Godeps for `engine-api`, preferably after #1983.

[2016-04-13 07:12] rain1024 commented on #1815
@woshihaoren, how do you pass this issue, I meet this issue too

[2016-04-13 08:09] redhatlinux10 commented on #2109
@dongluochen https://github.com/docker/swarm/wiki/Open-Source-Planning-Process says

do you mean the roadmap for Swarm 1.3.0 will not be discussed during a sprint meeting but during a meetup ?
but which way for swarm 1.4.0, 1.5.0 ?  what is the conventional way ?
and it's a sprint meeting, which way is it ? an irc channel ? a docker meetup ? or something else ?

[2016-04-13 08:15] vincentwoo commented on #1341
monthly checkup! @amitshukla, you still appear to not have assigned this task to the proper recipient.

[2016-04-13 09:41] vathanlal commented on #1947
@Spritekin Ya exactly the same thing.. Aha Marathon 1.1.0-rc1 has support for overlay networks thats a new info for me thanks.. I will look into that..

[2016-04-13 14:13] ezrasilvera commented on #2108
@dongluochen @doronp and I synced up on the PR and we think that our combined approach will address the general issue  of sync between Swarm data and Engine/Container data
1) Full update loop with a user defined time interval
2) Update the Container fields (e.g., status, ports, etc..) returned during the ListContainer (used in refreshContainers) - currently if the container exists nio update is be

[2016-04-13 15:04] Spritekin commented on #1947
@vathanlal
Even if its there (again not sure) I would imagine any support will be very thin. I'm not even sure mesos supports it. So I would suggest you hack it using the other suggestions (run as cmd or use a launcher proxy).

[2016-04-14 03:10] allencloud commented on #2018
ping @vieux @dongluochen @MHBauer @nishanttotla
I think this is an important feature swarm needs to implement. WDYT

[2016-04-14 03:12] JoshRagem opened #2119 "All containers end up on one node"
I'm at home with a small cluster of machines: 2 managers and 4 nodes with consul.
I am using `doit` on a manager to launch multiple containers. Every single container ends up on the same node:

[code]

you can see they are all on `atom3`. I have tried `spread` and `random` strategies. When I run individual containers by hand: `docker run busybox hostname` the containers seem to be distributed corr

[2016-04-14 03:16] allencloud commented on #2119
There is some possibility that it is  potentially has some affinity in the commands doit executed.
Can you show more details about the doit commands?

[2016-04-14 06:15] hdanniel commented on #2112
Changing consul with etcd gave me the same results. Starting from a clean consul/etcd the times are ok but adding more containers result on bigger times.
Digging deeper on the issue, I've found out that this request from swarm to the docker API results on the multiple requests to consul/etcd:

    GET /v1.15/networks

When hundreds of containers are running, this request takes 3 seconds (with thou

[2016-04-14 06:18] JoshRagem commented on #2119
the commands are build this way (to give a general idea):

[code]

is it because the containers are linked? the doit code was written to run on one machine.

[2016-04-14 09:46] doronp commented on #2119
@JoshRagem Links are only working on the same host.

[2016-04-14 09:48] allencloud commented on #2119
Is there any details in links `link_str `? @JoshRagem

[2016-04-14 11:46] dvenza commented on #1106
Any news? With Swarm being able to restart containers on different hosts in case of failure, tracking their external <ip:port> address is even more important than ever.

[2016-04-14 12:31] doronp commented on #2096
**Images** - I only manage to reproduce for short amount of time - The Swarm data is being refreshed and it gets back to being correct.
Can you elaborate - how to reproduce this and for how long you can be in a state in which the image count is not the same?

    **OSType** - Put operating system value here?
    **Operating System** - Remove by leaving empty and use OTtype instead^^?

    **Archit

[2016-04-14 12:46] doronp commented on #2091
@dweinstein Can you please add steps to reproduce in which you include the command you have used both on Engine and Swarm and off course version and so on? Thanks!

[2016-04-14 12:52] danielbjornadal commented on #1815
Me to.
`http: TLS handshake error from 172.17.0.4:45653: remote error: bad certificate`

Certificate is valid if I use CURL to talk to the api.
(/etc/hosts contain the valid FQDN of the certificate)

Something wrong with the --tlsvalidate flag when running the `run swarm manage`
Could this be that the swarm manage cant validate the FQDN set when generating the certificate request ?

To make it wor

[2016-04-14 13:59] JoshRagem commented on #2119
@doronp ok, that makes sense. I guess I missed the step of creating an overlay network and leveraging that, so the only way the containers could be linked is on the node-local docker bridge network. is my new understanding correct?

@allencloud they are nothing special: `' '.join([ '--link={}-{}:{}'.format(k,TEST_ID,v) for (k,v) in links.items() ])` just basic linking to some other containers. I t

[2016-04-14 15:13] OferE opened #2121 "[question] run containers with private registry doesn't work"
Hi,

I know about:
https://github.com/docker/swarm/issues/1424
And here:
http://docs.master.dockerproject.org/swarm/swarm-api/

I am using AWS ECS registry, and i just can't figure a way to retrieve the X-Registry-Auth.

Is this solution works just for docker hub or is it generic?

thanks!

[2016-04-14 20:11] vieux commented on #2111
@gongsu832 this will be fixed by #2124

[2016-04-15 00:12] #2111 closed

[2016-04-15 02:50] shenshouer commented on #1885
@amitshukla @vieux  The problem still exist!
I start one swarm manager(swarm-01) and two slave, then run 10 containers on two slave, 7 on swarm-02, 3 on swarm-03. and I stop the swarm-node serivce , the 3 container cannot rescheduled. I used binary file built from the release version v1.2.0

OS version:
[code]

swarm-manager.service on swarm-01:
[code]

swarm-node.service on swarm-03:
[code]

[2016-04-15 03:16] casertap commented on #2044
I am having the same issue I think. I have open an issue on stackoverflow because I am not sure if it is a bug or if I am doing something wrong.
I think it is a bug but anyway here is the issue: http://stackoverflow.com/questions/36637600/docker-swarm-tls-failed-to-validate-pending-node

Basically, when I set up my swarm cluster using aliases for my nodes host, I get this log than is actually look

[2016-04-15 03:48] ojongerius opened #2129 "Integration tests code example issue"
The location of the teardown function in the example code in test/integration/README.md is incorrect.

[2016-04-15 03:50] woshihaoren commented on #1815
@rain1024  @danielbjornadal
Yeah, I pass it.
first, you should use hostname
then, make a certificate, CN=*.xxx.com

example:
hostname: docker01.xxx.com

openssl req -subj '/CN=*.xxx.com' -new -key server.key -out server-req.csr -days 3650

swarm-agent use hostname register
docker run -d --name swarm-agent swarm:1.1.2 join --addr=$(hostname-f):2376

[2016-04-15 03:51] rain1024 commented on #1815
thank you @woshihaoren

[2016-04-15 03:54] ojongerius commented on #2129
Am following the guildlines in [CONTRIBUTING.md](https://github.com/docker/swarm/blob/master/CONTRIBUTING.md). It feels a little contrived to create a separate issue like this, is this still the recommended way? To contribute?

[2016-04-15 05:11] #2129 closed

[2016-04-15 05:37] vieux commented on #1885
@shenshouer can you paste the manager's logs ?

[2016-04-15 07:49] dongluochen commented on #2044
@casertap I just answered your question on stackoverflow. I paste it below.

Although you define node1 in your machine's /etc/hosts, the container that swarm manager is running doesn't have node1 in its /etc/hosts file. By default a container doesn't share the host's file system. See https://docs.docker.com/engine/userguide/containers/dockervolumes/. Swarm manager tries to look up node1 thru DNS r

[2016-04-15 08:42] michelvocks commented on #1941
+1 I have the same issue

[2016-04-15 08:45] auzias commented on #1941
@michelvocks did you try to reboot your daemon[s]?

[2016-04-15 11:26] JoshRagem commented on #2119
after getting an overlay network set up and refactoring the doit script, this works as expected.

[2016-04-15 11:26] #2119 closed

[2016-04-15 14:12] riuvshin commented on #1912
Hi @vieux I wonder does that change in latest 1.2.0 version
- Select apiClient version according to node docker version

should fix that issue?

[2016-04-15 17:29] nishanttotla commented on #1922
Ping @chanwit did you make progress with this issue?

[2016-04-15 23:56] anandkumarpatel commented on #2024
Saw this again, here is output from consul
[code]

[2016-04-16 07:13] ndeloof opened #2133 "docker swarm fails to start rescheduled container"
running https://github.com/ndeloof/rpi-voting-app/tree/master/vote-apps on 4 Rapsberry Pis. This is Docker voting app, adapted by @jmMeessen to run on ARM.
Running Swarm 1.2.0 (ndeloof/rpi-swarm, based on hypriot's script)

docker-compose up do deploy the app on the cluster. Voting app lands on pi #4.
Kill pi4 - really kill it by power unplug, not a king system shutdown
## Expected :

container is

[2016-04-16 19:35] ndeloof commented on #2133
@vieux @abronan any thoughts ?

[2016-04-18 03:19] ojongerius opened #2134 "Add support for maintenance mode"
While spiking Docker Swarm for a internal project we missed the possibility to set nodes into maintenance mode.

The use case is dynamically adding new nodes to a swarm from an (AWS) autoscaling group.
To scale down we need to be able to drain nodes, so we can destroy them without introducing a disruption to our tasks.

Issue https://github.com/docker/swarm/issues/1486 mentions adding of a mainten

[2016-04-18 09:14] doronp commented on #1919
@nishanttotla Do you think it is related to the fact that iterating on maps in Go does not guarantee the order, and so when it comes to the call

`c.scheduler.SelectNodesForContainer`

it works on a node list which comes from

`range`

on map values which holds the nodes.

Ref:
https://blog.golang.org/go-maps-in-action

[2016-04-18 09:30] EamonZhang commented on #1491
same problem .
# docker -H :4000 info
Containers: 0
Images: 0
Server Version: swarm/1.1.3
Role: replica
Primary:
Strategy: spread
Filters: health, port, dependency, affinity, constraint
Nodes: 0
Kernel Version: 3.10.0-327.el7.x86_64
Operating System: linux
CPUs: 0
Total Memory: 0 B
Name: e141a4722f25
# docker images
REPOSITORY          TAG                 IMAGE ID            CREATED             VI

[2016-04-18 15:04] abronan commented on #1491
Hi @EamonZhang, are you using Consul? In this case, can you try with `swarm:1.2.0`? Thanks.

[2016-04-18 19:28] fritzb opened #2138 "Cluster leadership lost"
Hi All,

I need help to debug cluster leadership lost problem that we are facing.
I have 3 machines, each machine runs swarm manager and etcd.
The 3 etcds are forming a cluster, and the docker swarm managers are configured to form primary/replica.

I dont see any errors in the etcd logs, however swarm manager logs did show etcd watch error and lost of leadership. Could someone let me know the appr

[2016-04-18 20:12] vieux commented on #2133
@ndeloof I'll take a look asap.

[2016-04-18 20:18] abronan commented on #2138
Hi @fritzb, thank you for reporting the issue.

What is the etcd version you are using? (Swarm does not support ` etcd < 2.0.0`)

Also can you still reproduce with `swarm:1.2.0`? (I see that you are still using swarm `1.1.3`)

From the logs I would say that there are either connection drops between the Swarm Manager and the etcd server or between etcd servers (the `getsFail` stat seems rather high

[2016-04-19 00:18] dongluochen commented on #2134
@ojongerius Thanks a lot for making this proposal! We had discussion when implementing #1486 on how to support maintenance state, yet we haven't reached an agreement. Following table includes pros and cons of 2 proposals. It has impact to long term strategy. It may take some time to resolve.

| method | Pros | Cons |
|:------------- |:-------------| :-------------|
| Add Swarm API like your propos

[2016-04-19 01:21] EamonZhang commented on #1491
Hi @abronan  ,I am using ectd instead of consul,and has the same problem .
This time my swarm is version 1.2.0

[2016-04-19 01:24] abronan commented on #1491
@EamonZhang Oh I actually missed that piece of logs, but `level=error msg="client: etcd cluster is unavailable or misconfigured` suggests that the manager can't connect to the etcd server somehow through the client, are you using any kind of special setup for your etcd cluster, like Proxy mode or else?

[2016-04-19 06:13] EamonZhang commented on #1491
Hi @abronan
etcd problem was solved.but the problem still exists .

**[root@node1 opt]# docker -H :4000 ps**
Error response from daemon: No elected primary cluster manager
**[root@node1 opt]# docker -H :4000 info**
Containers: 0
Images: 0
Server Version: swarm/1.2.0
Role: replica
Primary:
Strategy: spread
Filters: health, port, dependency, affinity, constraint
Nodes: 0
Kernel Version: 3.10.0-327.e

[2016-04-19 08:43] raarts commented on #735
Any progress on this?

[2016-04-19 09:40] mamciek opened #2140 "Problem with network (overlay)"
After restart swarm works fine, but after a while, when some number or containers are created and running I am experiencing problem with network connection between containers (timeouts). I have noticed that it correlates with log entries:

Apr 19 11:36:23 node3 docker[3069]: time="2016-04-19T11:36:23.397441341+02:00" level=warning msg="2016/04/19 11:36:23 [WARN] serf: Query queue depth: 954\n"
Apr

[2016-04-19 09:47] andrea-spoldi commented on #2082
Still running into this issue, has anybody using swarm ever tried to run a container through swarm with --rm=true option successfully ?

ty

[2016-04-19 10:22] schmunk42 opened #2141 "docker info: display number of running containers per node"
When running `docker info`:

[code]

... the output contains the count of all containers, including i.e. exited ones. I'd propose to add the number of runnings containers also, like

[code]

Related: https://github.com/docker/swarm/issues/2096

[2016-04-19 13:21] allencloud commented on #2141
I am afraid I did not get your point. Your suggested format is like
[code]
So, what is the differences?

[2016-04-19 13:34] schmunk42 commented on #2141
Sorry, I wasn't clear enough :)

I meant **per node**; I updated the issue title.

Usage example:
We have a swarm with master, proxy and application (worker) nodes. On master(s) and proxies there should be only 2-3 containers *running*, but the output per node includes also *stopped* and *exited* containers, which is kinda confusing IMHO.

[2016-04-19 13:42] allencloud commented on #2141
@schmunk42
Reasonable, more specific details about containers on each node.

[2016-04-19 14:46] allencloud opened #2142 "can not build binary of swarm after vendor dependencies"
Hi All,

I found that docker swarm has already move Godeps into vendor.
However when I followed the instructions in CONTRIBUTING.md to build binary of swarm, error happened. And the output is like below:

[code]
Anybody can reproduce this?
Something wrong in the vendor folder?

[code]

there is a vendor in `/root/gocode/src/github.com/docker/swarm/vendor/github.com/stretchr/testify` and the objx h

[2016-04-19 15:12] allencloud commented on #2141
When the node is `unhealthy` status, show nothing about container status?

[2016-04-19 17:19] dongluochen commented on #2082
I tried it on 2 different swarm clusters and both were successful. The first one is Swarm 1.1.3 with Engine 1.9.1, the second one is Swarm 1.2.0 with Engine 1.11.0. In both case `docker -H manager:port run --rm=true debian date` finished and containers were removed.

[2016-04-19 18:30] schmunk42 commented on #2141
Hmmm, I'd assume that you can't get any information then.
But actually, I don't have an opinion on that.

[2016-04-19 19:01] mlabouardy opened #2145 "DockerSwarm UI"
I have built a web interface to manage DockerSwarm cluster (nodes, containers, images ..)
https://github.com/mlabouardy/dockerswarm-ui

[2016-04-19 22:17] fritzb commented on #2138
Hi @abronan

I'm using etcd 2.3.1 and will upgrade to swarm 1.2.
The swarm manager is configured to talk to the local etcd in the same machine so unlikely there was a network connection problem btw manager and etcd. There may be network problems between etcd servers, but I didnt see any failure in the etcd logs.

I tried your first suggestion (I'm still waiting proper window to do the second sugge

[2016-04-19 22:35] thaJeztah commented on #2145
Nice! (You may want to add a license to that repo though)

[2016-04-19 22:44] dongluochen opened #2146 "integration test timeout on master branch"
Integration tests started failing recently on master branch due to timeout between test `api/stats` and `api/stop`. It doesn't happen on Docker 1.9 or Docker 1.10 tests.
https://jenkins.dockerproject.org/job/Swarm-PRs%20(engine%20master)/2494/console

[code]

[2016-04-19 22:47] dongluochen commented on #2140
cc @mavenugo.

[2016-04-19 22:59] fritzb commented on #2138
The problem is still seen after upgrading to swarm 1.2

Any further request to the engine failed until cluster stabilize: "No elected primary cluster manager". I wonder if we can do better here. Are there timeout value that we can tune ?

time="2016-04-19T22:35:47Z" level=info msg="Registered Engine swsdk27 at swsdk27.insieme.local:2375"
time="2016-04-19T22:35:51Z" level=info msg="Registered Engin

[2016-04-19 23:46] ojongerius commented on #2134
@dongluochen thanks for providing some extra context.

As a user of Swarm my preference would be to have Swarm implement the Docker API, as is currently (mostly) the case, but have extra endpoints/commands to handle cluster related operations.

Implementing maintenance mode using labels would work, and label keys would help make it less hacky. But it still feels much less clean as separate endpoin

[2016-04-20 01:16] EamonZhang commented on #2145
mark

[2016-04-20 01:24] EamonZhang opened #2147 "SHM size must be greater then 0"
RUN docker swarm :
**docker -H :4000 run --name nginx22  nginx**
Error response from daemon: 500 Internal Server Error: SHM size must be greater then 0
Change command
**docker -H :4000 run --name nginx22 --shm-size=67108864 nginx**
ok!

docker code :
const DefaultSHMSize int64 = 67108864
Is there anything overwrite  DefaultSHMSize = 0

CentOS 7
**df -h**
tmpfs                    497M     0  497M

[2016-04-20 01:46] vandita31 commented on #1760
@dongluochen @abronan

Hi folks ,

It has been really long since anyone has updated the ticket. If someone could respond whether there is an issue with certs in relation with FQDN or not as shown above, i would greatly appreciate that so I can move forward with some decision with respect to my infrastructure.
Thanks much.

[2016-04-20 02:07] allencloud commented on #2147
@EamonZhang
Can you provide more specific details of you testing environment, such as

* Swarm version
* docker version
* swarm debug log
* anything you think is helpful

:)

[2016-04-20 02:30] EamonZhang commented on #2147
Swarm 1.2.0
docker 1.9.1
centos 7

Sorry, I do not know how to debug .

docker -H :4000 --debug=true run --name nginx22 nginx
Error response from daemon: 500 Internal Server Error: SHM size must be greater then 0

[2016-04-20 02:46] allencloud commented on #2147
@EamonZhang
I am afraid it is not your command to open debug of swarm.
It is swarm's debug log level instead of nginx container.

First, you run your swarm in container or just binary on host?

1. if in container, you need to add `-l debug` in your container command, like:
[code]

2. if in binary, like below:
[code]

Second, when you can reproduce this issue, check  the log swarm output and attach

[2016-04-20 04:33] mlabouardy commented on #2145
@thaJeztah i added :)

[2016-04-20 05:54] EamonZhang commented on #2147
@allencloud  Thank you .

10.2.0.13 node3  manage
10.2.0.14 node4  join node
10.2.0.15 node5  join node

below command on node3
[code]

[code]

[code]

[code]

[2016-04-20 08:45] bruceauyeung opened #2148 "docker images over swarm does NOT list untagged images"
host : `10.114.51.163`, docker 1.11.0, will be set as a swarm node, has untagged images

host: `10.114.51.245`, docker 1.11.0, has swarm image 1.2.0, will be set as swarm manager. on this host there is a file `/root/cluster.cfg`,its content follows:

now on host `10.114.51.245`  i run command `docker run -v /root/cluster.cfg:/etc/cluster.cfg -p 2376:2375 -t swarm manage file:///etc/cluster.cfg`
an

[2016-04-20 09:13] thaJeztah commented on #2145
@mlabouardy great! 👍

[2016-04-20 10:49] slawekgh opened #2149 "swarm rescheduling doesnt work with overlay networks"
I have 2 swarm nodes SwarmNode#1  and SwarmNode#2
I created 8 containers , 4 of them with regular network, 4 of them with overlay network
next I simulated downtime for SwarmNode#1

after that swarm rescheduled only these containers which dont have overlay network

for those which has overlay there is log in swarm manage:

Failed to start rescheduled container XXXXX: 500 Internal Server Error: serv

[2016-04-20 12:24] hsmade opened #2150 "swarm 1.2.0 fails to talk to docker 1.6.1"
When creating a swarm with one engine on version 1.6.1, it fails to add the engine because of:
Failed to validate pending node: Error reading remote info: json: cannot unmarshal number into Go value of type bool  Addr=172.17.0.1:2375
This does work with version 1.1.3

To replicate:
$ sudo ./bin/docker-1.6.1  -d -H 0.0.0.0:2375 -H unix:///var/run/docker.sock &
INFO[0000] +job init_networkdriver()
I

[2016-04-20 16:14] yank1 opened #2151 "Auto scaling like kubernetes horizontal"
Is there any solution like [kubernetes horizontal](https://github.com/kubernetes/kubernetes/tree/master/docs/user-guide/horizontal-pod-autoscaling) to _auto_ scale compose with Swarm?

Thx

[2016-04-20 17:47] ChrisMcKenzie commented on #1950
Hello I have just experienced this issue again only this time it was between two container started via swarm.

Steps to Reproduce:

1. Was making a change to docker daemon options.
2. Restarted docker
3. containers with restart=always that were started via swarm came up with colliding ports.

A docker ps on swarm shows two containers running on the same port and both do serve there content as if t

[2016-04-20 18:08] JoeDoyle23 commented on #1484
I just ran into the ECR issue as well. It looks like the answer is not to use `aws ecr get-login` but `aws ecr get-authorization-token`! From there you get JSON with the authorizationToken which can be parsed out and should be able to be sent in the X-Registry-Auth header to Swarm.

[2016-04-20 18:58] doronp commented on #2149
@slawekgh I would like to have a look. Can you please provide Steps to reproduce, Docker Swarm, versions etc (regular detailed bug report) .

From what you have included my guess would be that in the Engine the network ubuntu07 (it is a network right?) is being recreated when it shouldn't be...

I would assume that you actually created the networks along with the containers and that Swarm is actua

[2016-04-20 22:25] arun-gupta opened #2152 "Change pulse rate for container rescheduling"
Created a Swarm cluster as https://gist.github.com/arun-gupta/c42cacfa3225727f5c71ff4a5dc547dc

Started a new Couchbase node as:

[code]

Shutting down the node using VirtualBox as at https://blog.docker.com/2016/04/docker-engine-1-11-runc/ restarts the container. It took ~3 mins to reschedule the container:

[code]

How can this pulse rate be changed?

`docker ps` output keeps showing that the no

[2016-04-20 22:44] vieux commented on #2152
@arun-gupta yes it can be changed.
You can change how fast will swarm detect when a node goes down with those flags:

`--engine-refresh-min-interval=1s --engine-refresh-max-interval=1s --engine-failure-retry=1`

[2016-04-20 22:49] arun-gupta commented on #2152
@vieux so this would need to be `--engine-env --engine-refresh-min-interval=1s --engine-env --engine-refresh-max-interval=1s --engine-env --engine-failure-retry=1` when Swarm cluster is created using Docker Machine?

`--env="reschedule:on-node-failure"` feels like a second class option as opposed to other `docker run`options. Any plans to add something like `-reschedule`?

Is `on-node-failure` the

[2016-04-20 22:59] vieux commented on #2152
@arun-gupta not sure about machine, @nathanleclaire

@arun-gupta no plans for `-reschedule` unless it's comes to the engine directly.
It's like constraints or affinities, you can use env or labels.

@arun-gupta `on-node-failure` is currently the only one, `off` is the default

@arun-gupta yes, that's why it's `on-node-failure` we may add a `on-container-failure` policy

[2016-04-20 23:52] arun-gupta commented on #2152
@nathanleclaire Creating a machine as:

[code]

shows the following log:

[code]

[2016-04-20 23:53] vieux commented on #2152
@arun-gupta it's a swarm option, so I doubt it's going to be ` --engine-opt`

[2016-04-21 00:13] arun-gupta commented on #2152
@vieux @nathanleclaire Created the machine as:

[code]

It took ~6mins for the container to be rescheduled:

[code]

[2016-04-21 02:18] mrapczynski opened #2153 "Swarm 1.2.0 potentially making incorrect call to Consul API for creating sessions"
I attempted to upgrade to Swarm 1.2.0 tonight, but failed because both Swarm manager and Consul are constantly dumping messages like the following:

[code]

I downgraded back to 1.1.3, and then I could control the cluster again.

[2016-04-21 07:10] killkill opened #2155 "Lost container static IP setting when swarm rescheduling"
I create a private network by bridge on two swarm nodes(node01/node02) :

[code]

run a container by swarm manager:

[code]

of course , swarm lunch a container get static IP 192.168.217.152 on node01 in my envirement , perfect work .

I shutdown all containers on node01 and kill docker daemon to simulate node down，about 20s ， swarm manager knows  nodes01 down and toggle this container  reschedule

[2016-04-21 07:57] slawekgh commented on #2149
I have 3 nodes:
gmbNode01 - swarm master + consul
gmbNode02 - swarm node #1
gmbNode03 - swarm node #2

gmbNode01 - 10.3.0.10
gmbNode02 - 10.3.0.11
gmbNode03 - 10.3.0.12

=====================================
docker info for all 3 nodes:

root@gmbNode01:~# docker info
Containers: 13
 Running: 11
 Paused: 0
 Stopped: 2
Images: 13
Server Version: 1.11.0
Storage Driver: aufs
 Root Dir: /var/lib/docker

[2016-04-21 12:35] rogerwelin commented on #2145
Nice! I'm using [shipyards](https://github.com/shipyard/shipyard) ui which I think works great

[2016-04-21 13:59] abronan commented on #2153
Hi @mrapczynski, so the default `LockTTL` should be at `20s` now which should work by default for all configs on every store. Are you using the `--replication-ttl` flag at a value of `15s` by any hazard? Otherwise to circumvent that, you can use a `config.json` on Consul startup with:

[code]

And this will solve the issue.

[2016-04-21 14:14] mrapczynski commented on #2153
@abronan Yes incidentally it is 15s! How did you know? Does that drive a calculated value elsewhere?

I'll try the Consul config in the meantime - easy change.

[2016-04-21 16:32] abronan commented on #2153
@mrapczynski Yes :smile: Consul divides the TTL by `2x` and does not support `TTLs < 10s` by default. So an acceptable default value for Consul is `20s` minimum for `--heartbeat` and `--replication-ttl`, otherwise you have to specify the `session_ttl_min` on Consul config (we have to do that in the CI to speed up tests).

I'm glad you made it all work! Closing this one but feel free to open a new

[2016-04-21 16:32] #2153 closed

[2016-04-22 08:52] marsmensch opened #2157 "No elected primary cluster manager error"
## What I have
- 3 nodes cluster
- manager node runs Consul 0.6.x server
- each node runs Swarm 1.2.0 with Consul as KVS
- Swarm is setup to use consul://MANAGER_IP:8500 for discovery
## Details

Since upgrading from Swarm 1.1.3 to 1.2.0 i have seen multiple cases where the cluster shows the _"No elected primary cluster manager"_ error.

I replicated this with a publicly available repo.

**Steps t

[2016-04-22 17:29] abronan commented on #2157
Hi @marsmensch,

I see in your Compose file that you are using a `--replication-ttl` at `4s` (which is a low value, for example in swarm we only use it in the CI to speed up tests). What if you bump it to `10s` or `15s`? The reason it was working with `swarm-v1.1.3` was that the session would **stick** in case something went wrong or the renew session failed. But this would cause errors when the s

[2016-04-22 17:58] vwbusguy commented on #2147
I've seen this as well, but setting --shm-size=64m on build and run makes it work again.  64m is the default.

[2016-04-22 18:26] dongluochen commented on #2151
Not available today. Swarm uses Docker-Compose to scale statically. CPU/QPS monitoring is needed to do auto scaling. Swarm doesn't have that yet.

[2016-04-22 20:36] nathanleclaire commented on #2152
These are `swarm manage` flags IIRC?  If so, they should be specified using `--swarm-opt`:

[code]

[2016-04-22 20:53] arun-gupta commented on #2152
@nathanleclaire that's how I created the machine as shown above but still it took ~6 mins for the container to be rescheduled. any idea what could be wrong with the command?

[2016-04-22 21:03] nathanleclaire commented on #2152
I'm not sure, can you post the `docker ps --no-trunc` for the swarm containers that are running and the logs from each?

[2016-04-22 21:16] arun-gupta commented on #2152
@nathanleclaire here is the log:

[code]

Have not shutdown the node yet.

[2016-04-22 21:16] nathanleclaire commented on #2152
`docker ps` with `--no-trunc` please?

[2016-04-22 21:20] arun-gupta commented on #2152
[code]

[2016-04-22 21:56] nathanleclaire commented on #2152
thx

[2016-04-23 16:30] bokysan commented on #1639
How did you solve this? I'm facing the same issue?

[2016-04-25 04:25] ikrel opened #2161 "containers are unable to communicate on overlay network"
I have Docker UCP installed following the production guide with 3 controllers and two workers.
Finished up by doing engine-discovery and restart to setup networks. However the containers are unable to speak to each other when spread across the nodes (ping).

[code]

[code]

[code]

I can ping host IPs from any container to any host. The containers can ping each other when they are on the same host

[2016-04-25 07:53] marsmensch commented on #2157
Hi @abronan,

i tried to bump the TTL to 10s and 15s and still got not joy. The following is an excerpt from the Swarm manager container logs:
[code]
I have no idea why the session TTL is interpreted as "7500000000", but i guess this is the culprint. Afaik consul has a max TTL of 14h. Removing the  `--replication-ttl` flag completely for Swarm 1.2.0 works for me.

Also did some more testing today

[2016-04-25 12:44] xianlubird opened #2162 "Swarm engine_reconnect event doesn't work in some case"
If a node failed, swarm will reschedule container to other node.But after this node key expire in etcd, Swarm will delete this engine in cluster. If a node fail some long time and reconnect to this cluster, swarm will don't know it is reconnect,because engine id has already be deleted. It will be consider a new-added node. Then the container which already running on this node won't be remove and t

[2016-04-25 13:42] slawekgh commented on #2149
Any ideas?

[2016-04-25 15:54] ikrel commented on #2152
If I am running 5 node Docker Datacenter (3+2) - where would these options go? It  takes about 60s for failover to be detected in my case.
Docker on top of Ubuntu, on top of Openstack

[2016-04-25 17:19] abronan commented on #2157
@marsmensch Sorry my mistake, you should bump it to at least `20s` because you are using Consul and it does not accept a TTL `< 10s` (because Consul divides the original TTL by 2x, also `7500000000` is in nanoseconds so this is `7.5s`). This should work using those values (default value without the flag is `60s` so that's why it works).

Otherwise you can still tweak Consul to accept a lower TTL v

[2016-04-25 17:21] wallnerryan commented on #1651
@jpetazzo this is what I was hoping with `--restart=always` as something such as terminating a VM on AWS still "shuts down" the node, so containers do not come back up `Started`

[2016-04-25 17:43] abronan commented on #2145
We should look into adding this to the list of useful tools in the Swarm ecosystem. This is a really cool contribution!

[2016-04-25 18:34] #2142 closed

[2016-04-26 00:20] anandkumarpatel opened #2166 "incorrect "no resources available to schedule container" error"
We are hitting this issue in our system where we get  "no resources available to schedule container" error however when we do swarm info right after there is plenty of resources.

swarm debug logs:

[code]

swarm info at that time:

[code]

^^ has plenty of space for 1gb container

we use remote API to create / start the containers but it is the equivalent of running:

[code]

returns error `no re

[2016-04-26 02:36] allencloud commented on #2166
I am afraid that the code here returns false:
https://github.com/docker/swarm/blob/v1.2.0/scheduler/strategy/weighted_node.go#L63
[code]
But have no idea why.

In the function `weighNodes`, the parameter of `nodes` can not be `nil`. The reason is that if `node` is nil, the err will be `errNoNodeAvailable = errors.New("No nodes available in the cluster")`, like below:
https://github.com/docker/swar

[2016-04-26 07:52] schmunk42 commented on #2133
Same here on our staging swarm with `1.1.3` - custom rescheduling.

We were starting stacks with `docker-compose`; two stacks which have containers connected in a network together (separate compose files, with container affinity constrains) show errors.

So I tried to manually remove the network
[code]

Inspected it...

[code]

And tried to remove the containers, which fails 💥

[code]

Trying to f

[2016-04-26 08:03] schmunk42 commented on #2133
Possibly related:
- https://community.getcarina.com/t/overlay-network-seems-to-have-a-stale-endpoint-and-cant-be-removed/139
- https://github.com/docker/swarm/issues/2149

[2016-04-26 09:41] marsmensch commented on #2157
Thank you @abronan, got it. The default will work for me!

I am still thinking about, if Swarm should implement some kind of logic (or a baseline) for the supported backends. Even a log message would help to lead other in the right direction. If nothing else, i am volunteering to write some docs in the appropriate section. What do you think?

Also the swarm integration tests [1] seem to use a cont

[2016-04-26 10:06] slawekgh commented on #2149
exactly, the same case :-)

[2016-04-26 12:09] schmunk42 opened #2167 "Missing events on engine/API version mismatch(?)"
Continued from https://github.com/docker/docker/issues/21902

These are my swarm versions...

[code]

Corresponding machine versions

[code]

If a container ends up on a `1.10` node events are sent

[code]

But on a `1.9` node I just get this "event"

[code]

I also received `Unrecognized input header: 99`.

:(

[2016-04-26 14:00] allencloud opened #2168 "Cannot locate container to specific node when nodes with same name"
Hi, all

My need:
schedule a container to one specific node via Swarm

My environment:
2 nodes with same name `ubuntu`(I  think nodes with same name appears in lots of cases.)

My approach:
1. `docker run -d -e constraints:node==ubuntu ubuntu:14.04 sleep 10000` can not meet my need(two nodes with name `ubuntu`).
2. try to find `Node ID` of the specific node, but I can not get `Node ID` via swarm a

[2016-04-26 16:43] etoews opened #2170 "Container run on node join"
When a node joins a Swarm cluster, it would be very useful to be able to specify a container to run on that node immediately after the node has joined the cluster.

Some examples of services that would make use of such a feature are [Docker Registry](https://github.com/docker/distribution), [Registrator](https://github.com/gliderlabs/registrator), [a Consul agent](https://www.consul.io/intro/getti

[2016-04-26 17:16] schmunk42 commented on #2133
After trying "everything" from `docker rm` over `docker network rm`, `docker-compose down`, etc..
The only workaround I found is to manually remove the keys from our *consul* discovery service.

If a container is registered with a network, but the container is no longer existing (for some reason - eg. node constraints failed in our case), it is not possible to remove the network (retried with swar

[2016-04-26 17:53] pballester commented on #2133
same problem rescheduling a container in a overlay network generated by docker-compose, i think the same, new container is failing to start because the previous instance hasn't been cleaned.

[2016-04-26 21:33] andrea-spoldi commented on #2082
@dongluochen I tried again, new cluster, Swarm 1.2.0 with Engine 1.11.0, no consul this time (testing with token://<token-id>) and no experimental mode..

actually the lunch of a non-persistent-self-destroying container works, but it just takes 2minutes before actually starting the container ...this is the test I made

from the swarm manager :

ubuntu@swarm-test-node-mg:~$ time sudo docker -H tcp:

[2016-04-27 02:25] chrodriguez commented on #2108
Hi everyone! I've recently installed a swarm cluster and evidenced some kind of the behavior described by this issue, but in a different way.

First I will describe my infraestructure:

1. Consul HA + Swarm manager HA
  1. SERVER 1: consul server + swam manager
  2. SERVER 2: consul server + swarm manager
 3. SERVER 3: consul server + swarm manager
2. Swarm nodes
  1. SERVER 1: swarm node
  2. SER

[2016-04-27 05:59] killkill commented on #2155
Any Idea ?

[2016-04-27 08:22] allencloud commented on #2170
@everett-toews
Is my understanding right?
You hope to specify a container to run on specific node.
And what is the relationship between this and node joining?

[2016-04-27 11:27] shenshouer opened #2178 "runtime: failed to create new OS thread (have 40325 already"
swarm manager crash . the log:

[code]

swarm info:
[code]

swarm version:
[code]

[2016-04-27 14:00] sebmoule opened #2179 "Command ps -a report a false status for swarm-agent container"
Hi,

When I make a ps -a on my swarm cluster I see a swarm-agent container in Exited (2) status

[code]
while if I select directly the engine on the machine the container **f8a0cdffe47d** it is **Up**
and by the way this container works normally

[code]

my swarm version is 1.2.0 on ubuntu 14.04

[2016-04-27 14:50] crewjam commented on #1089
So I have the inverse problem ... I want TLS between the manager and docker daemons, but I want the manager to listen on a plaintext unix socket (I plan to use ghostunnel in front of the manager). Would there be an interest in a patch that adds `--disable-nodes-tls` and `--disable-server-tls` ?

Alternately for my use case, a patch that disables TLS for unix sockets would work, but that may not be

[2016-04-27 15:32] mlabouardy commented on #2145
@abronan  yeah that would be awesome :+1:

[2016-04-27 17:21] dongluochen commented on #2170
It's under the issue of global scheduling https://github.com/docker/swarm/issues/601. We have plan to implement them in the future. It requires persistent state management.

[2016-04-27 17:26] nicolaka commented on #2161
@ikrel where are you running this setup? also , could you make sure that the following ports are open ? https://docs.docker.com/ucp/production-install/#step-2-configure-your-network-for-ucp ?

[2016-04-27 18:04] everett-toews commented on #2170
@allencloud I hope to run a container on all nodes automatically (even when a new node joins the cluster).

The issue that @dongluochen referenced fits my use case. Thanks for that!

[2016-04-27 18:50] ikrel commented on #2161
@nicolaka i am running this on our openstack installation with wide open security group:

open
ALLOW IPv6 to ::/0
ALLOW IPv4 1-65535/tcp from 0.0.0.0/0
ALLOW IPv4 to 0.0.0.0/0
ALLOW IPv4 1-65535/udp from 0.0.0.0/0
ALLOW IPv4 icmp from 0.0.0.0/0

Image Name
ubuntu 15.10 wily werewolf

two of the nodes are on the same Nova engine, and still cant talk so that excludes inter-node openstack issues (i t

[2016-04-27 19:16] anandkumarpatel commented on #2166
Alright so after much digging with https://github.com/CodeNow/swarm/pull/1/files I found out issue. Turns out the image we were trying to create only existed on one host (there was an error pushing it to the registry). that host was full so we received  "no resources available".

However this is very misleading because on image not found swarm **automatically** add an image constraint instead of r

[2016-04-27 20:08] #2168 closed

[2016-04-27 22:02] vieux commented on #2179
@sebmoule thanks for the report, could you show us `docker logs f8a0cdffe47d` please ?

[2016-04-28 08:46] Typz commented on #1708
This can be implemented with existing container constraints:

[code]

This works well when starting the app (with `docker-compose up` or `docker-compose scale service=N`), but compose will fail when trying to use `docker-compose up` after images have been updated:

[code]

[2016-04-28 08:50] vschiavoni opened #2181 "Connectivity problem with overlay driver"
We have setup a multi-host swarm deployment.
For testing purposes, we have deployed only 1 container in each host, and there are only 2 hosts.
We use Consul for discovery service.
According to network inspect, the two containers are properly registered:

[code]

But,  boring_snyder   cannot ping suspicious_goldstine (and viceversa):

[code]

This is the routing table of boring_snyder:

[code]

Thi

[2016-04-28 08:54] sebmoule commented on #2179
@vieux sorry i have accidentally delete my cluster on aws.. I'll post if I encountered again the problem

Thanks!

[2016-04-28 09:24] vschiavoni commented on #2181
One more piece of information, in the host that executes boring_snyer I see these docker logs:

[code]

[2016-04-28 09:56] smattheis opened #2183 "Spread scheduling keeps assigning containers to same node (bug?)"
I'm trying to start multiple instances of a (self-built) image in a Swarm cluster of three nodes (including master) with an overlay network. Starting a first instance with a published port succeeds, while any other attempt to start an instance fails with:
[code]

I'm starting containers as follows:
`docker run --name foot-ef7239f7-8865-4edc-ac29-491b30f8b983 -it -p 49152:49152 footstep /bin/bash`

[2016-04-28 15:01] mrapczynski opened #2186 "Swarm manager getting flustered leading to random container rescheduling"
Sorry, I could not think of a more technical issue title as I'm not quite sure yet what I'm dealing with.

**Platform:** CentOS 7, Docker 1.10.3 CS (we are now a paying customer), Swarm 1.2, Consul 0.6.4. Size of Swarm is 5 engines, 5 managers (1 on each VM), and 5 Consul instances (1 on each VM).

I'm coming into the office each morning and finding a few of the containers for which I have explici

[2016-04-28 19:03] nicolaka commented on #2161
@ikrel can you double check your cluster-store config? I spoke with the networking team and it seems like that is the issue. How did you configure multi-host networking? did you use engine-discovery as described here https://docs.docker.com/ucp/networking/ ?

[2016-04-28 23:17] schmunk42 commented on #2140
I see this with `1.11.0` and `swarm-1.2.1-rc1`.

[2016-04-28 23:38] schmunk42 commented on #1484
I had this issue with an upgraded swarm; all nodes running on `1.11.0` and `swarm-1.2.1-rc1`.
I was unable to pull images, despite the fact I had pulled images from our private repo before on this swarm.

It started working again after I created a new `master` with `1.10.3` and `swarm-1.2.0`.
And even more strange, after that - now I can also pull with the master `1.11.0` which was broken.

Could

[2016-04-29 00:53] mattgiles commented on #1094
+1

[2016-04-29 00:55] vieux commented on #2179
@sebmoule ok, I'm going to close this PR, feel free to comment again if you can reproduce.

[2016-04-29 00:55] #2179 closed

[2016-04-29 02:33] ikrel commented on #2161
Hi @nicolaka , yes I used the discovery process on one node at a time, starting from master, going to replicas and then workers. I also tried discovery again since then.
What should I be checking and how around cluster-store config? Is there a troubleshooting doc or some pointers?
thanks!

[2016-04-29 04:06] ojongerius commented on #2134
@dongluochen is there anything we can do to speed up this decision process?

[2016-04-29 04:21] adohe opened #2188 "confused about scheduler.SelectNodesForContainer"
FYI. I am just learning your scheduler code, I got confused when I noticed that `SelectNodesForContainer` method returns a node list, but always use the first one(`nodes[0]`), why not just make the scheduler return the first one(also the best one, since some sort has done). Besides I think there is no need to use `int64` to type weight of node, `int` is enough.

[2016-04-29 04:39] allencloud commented on #2188
I think `SelectNodesForContainer ` is useful, because in the future if swarm supports `global scheduling`, `SelectNodesForContainer` will be needed.

While, this is my own understanding. @AdoHe

[2016-04-29 17:27] dongluochen commented on #2188
Remember having similar conversation. I think the function signature of `SelectNodesForContainer` was intended to schedule multiple containers, e.g., a user wants to create 5 copies of nginx. With the list return it'd be easy to pick top 5 nodes and start the containers in parallel. I think this could be generalize to select top K nodes without sorting the whole list. But docker CLI doesn't have p

[2016-04-29 18:38] dongluochen commented on #2134
@ojongerius Thanks for following up! We will discuss this on next Swarm meeting.