[2015-06-07 18:01] adamkdean opened #907 "Cannot publish port to interface without knowing IP beforehand"
I have an issue which at the moment is a bit of a "security risk" with running swarm.

My setup is currently three Digital Ocean droplets running Ubuntu 14.04 LTS, they have a public interface `eth0` and a private interface `eth1`. They are networked together using `eth1`. The firewall allows all traffic between the three `eth1` interfaces.

I have `consul` for kv storage/discovery, `swarm` sat on

[2015-06-08 00:28] jimmyxian commented on #792
@peebles I'm trying to reproduce locally, but can not.
Can you provide the debug info about swarm and docker deamon.

[2015-06-08 03:37] jimmyxian commented on #906
@vbichov
Can you use `docker inspect -f "{{.HostConfig.Ulimits}}" container_id` to see if `ulimit` passed to docker daemon.

[2015-06-08 04:07] jimmyxian opened #908 "swarm does not support some run parameters"
Swarm does not support some run parameters:
`--device`
`--cap-add`
`--cap-drop`
`--read-only`
` --cgroup-parent`
`...`

The reason is `ContainerConfig` and `HostConfig` in dockerclient is not fresh. These two configs lost some parameters.

#### In docker master code:
https://github.com/docker/docker/blob/master/runconfig/config.go#L109
https://github.com/docker/docker/blob/master/runconfig/hostcon

[2015-06-08 07:12] diamantn commented on #907
@adamkdean I'm afraid that I've encountered a similar if less convoluted issue.
You may often need to refer to the hostname, (or IP in your case) of the target host.

may be related to: https://github.com/docker/swarm/issues/760

Swarm has this information at scheduling time, you do not.
It might have been nice if Swarm supported its own API that would allow you to specify variables that should be

[2015-06-08 07:52] vbichov commented on #906
@jimmyxian got "<no value>"

[2015-06-08 08:57] abronan commented on #907
Hi @adamkdean. Thanks for reporting the issue. As explained by @diamantn, this is because of the dynamic nature of scheduling containers with Swarm. We most definitely have this under our radar even though this is not a top priority at the moment.

In the meantime, you can still *pin a container to a particular node* (thus losing a bit of the convenience of using Swarm) with **constraints**, this

[2015-06-08 11:02] affo opened #909 "Wrong reserved cpus and memory (always 0)"
- Cloned swarm.
- Created branch from `master`.
- Added an endpoint to `router.go` with `proxyContainerAndForceRefresh` as handler.
- Built a swarm image from `master` launching `docker build -t myswarm .` in swarm directory.

Now I am launching a swarm cluster with `myswarm` image and everything goes well -- at least
the "custom" endpoint works.
The problem is that swarm manager doesn't count res

[2015-06-08 13:20] affo commented on #909
I think it is a bug.
Changed from

[code]

to

[code]

in `engine.UsedMemory` and everything works as espected.
I think the bug should be in method `consolidateResourceFields` in `cluster/config.go`

[2015-06-08 13:26] bpradipt commented on #826
@chanwit while re-reading the proposal again, and trying some more hybrid (x86_64/ppc64le) cluster experimentation on my setup, I came across some challenges which I would like to discuss.

1. The requirement for having the image tagged like name:ver.arch puts a restriction on the way users would need to tag their images. Users might just decide to tag the image as name:arch or name:ver_arch or na

[2015-06-08 14:27] adamkdean commented on #907
Thanks for the responses folks. It would be great if we could do some sort of templating or have some variables exposed to us, so that I could just `-p $eth1::8000` etc. For the meantime, I think I've found a potential solution by inverting the expliciticy of publishing ports.

By setting the default IP docker publishes ports to, docker will bind published ports to this IP rather than 0.0.0.0, and

[2015-06-08 16:44] mbentley opened #910 "Swarm filter example for image affinity has typo"
In the documentation on docs.docker.com, the example for using image affinity is incorrect.  See http://docs.docker.com/swarm/scheduler/filter/#affinity-filter and the example is `-e affinity:image=redis` when it should be `-e affinity:image==redis`

[2015-06-08 17:06] abronan commented on #910
@mbentley Thanks :+1: Let us know if you want to take care of this.

[2015-06-08 17:10] mbentley commented on #910
Sure, I'll submit a PR here is a minute.

[2015-06-08 17:13] mbentley commented on #910
I'm only semi-familiar with the docs but I am assuming that they are built from the `.md` files as these were the only instances I could find via a quick grep.

[2015-06-08 17:14] abronan commented on #907
Glad you found a workaround. We definitely want to make this easier through Swarm though as this is a very common scenario. Keep us posted if you find any inconvenience about using Swarm for handling your services! It's always great to have feedbacks.

[2015-06-08 17:23] thaJeztah commented on #910
Got that right! Thanks for taking care of this!

[2015-06-08 17:24] mbentley commented on #910
Sure thing, glad to help :+1:

[2015-06-08 17:36] vieux commented on #909
@affo can you write a test to reproduce the issue ?

[2015-06-08 17:39] vieux commented on #909
@affo also, what version of docker are you using ?

[2015-06-08 17:50] adamkdean commented on #907
Of course, and thanks for your help Alexandre. It's through collaborating like this that we make progress.

So far everything is working fine. I've made changes where I need to, but all services that were running via eth1 already were happy for things to be bound specifically to eth1. For public services, I just had to find eth0 and bind to this specifically. This works well and means I can now us

[2015-06-08 18:24] vieux commented on #906
@jimmyxian can you take care of this one ?

[2015-06-08 19:48] jpetazzo opened #912 "add-host doesn't work"
## What I do

Create a container with extra hosts:

[code]

## What I expect

`/etc/hosts` should contain the `redis 1.2.3.4` entry

## What I see instead

[code]

No bueno!

## Versions

[code]

[2015-06-08 19:53] abronan commented on #912
Thanks @jpetazzo. This is related to #908. `dockerclient` misses a few fields in `HostConfig`, `ExtraHosts` is one of them.

[2015-06-08 20:34] vieux commented on #908
@jimmyxian 0.3 if you can! thanks.

[2015-06-08 23:46] maguec opened #915 "swarm join container send tcp reset"
=== Docker running Swarm manage ===
[code]

=== Docker running Swarm join ===
[code]

TCP resets:
[code]

[2015-06-09 01:20] jimmyxian commented on #908
@vieux OK, I will do it today.

[2015-06-09 01:24] jimmyxian commented on #909
@affo @vieux
This may related to https://github.com/docker/swarm/issues/908
The latest code in docker have moved the `Memory` filed from `container config` to `host config`

[2015-06-09 02:31] jimmyxian commented on #906
@vieux Sure.
@vbichov Can you provide swarm version and docker version ?

[2015-06-09 08:06] affo commented on #909
Sorry for the late answer (different time zones...).
@jimmyxian yes, I think it is related.
@vieux both swarm and docker are built from master, so docker v1.7.0-dev and swarm v0.3.0.

I am trying to write a test.

[2015-06-09 08:39] vbichov commented on #906
Docker is 1.6.0
Swarm is 0.2

[2015-06-09 09:07] Pensu opened #917 "Not able to install swarm with go1.4.2 in Ubuntu trusty"
Hi all

So I am trying to install swarm binary in ubuntu 14.04. Here is my docker version and info:

vagrant@vagrant-ubuntu-trusty-64:~$ sudo docker version
Client version: 1.6.2
Client API version: 1.18
Go version (client): go1.4.2
Git commit (client): 7c8fca2
OS/Arch (client): linux/amd64
Server version: 1.6.2
Server API version: 1.18
Go version (server): go1.4.2
Git commit (server): 7c8fca2
OS/

[2015-06-09 09:55] guiltry commented on #804
hi @jasw, I write up how to install docker swarm, I hope this article can help you. :smile:
http://blog.guiltry.com/how-to-setting-docker-swarm-properly/

[2015-06-09 10:36] #917 closed

[2015-06-09 10:43] chanwit commented on #826
@bpradipt

  1. This should be the problem IMO, When you call `docker build` via Swarm, it can detects the platform string of the underlying machine. After the build is successful, we can let Swarm issues another command to tag the image.

  2. I am not familiar of how the registry work. Maybe you're right about this. But ultimately, I think the topology of the build system would be like this:

[c

[2015-06-09 11:15] jimmyxian commented on #906
@vbichov Yeah, Swarm 0.2 does not support `ulimit `. You can use swarm 0.3 or upstream. Anyway, thanks for reporting this.

[2015-06-09 11:38] Pensu opened #918 "swarm test failing for API version matching"
Hi all,

So my swarm test for API version matching is failing as the client version is 1.6.2 and server version is 1.7.0-dev. Here is the output that comes in api_version.bats file:

Client version: 1.6.2
Client API version: 1.18
Go version (client): go1.4.2
Git commit (client): 7c8fca2
OS/Arch (client): linux/amd64
Server version: 1.7.0-dev
Server API version: 1.20
Go version (server): go1.4.2
Gi

[2015-06-09 12:50] vbichov commented on #906
@jimmyxian Thank you.
Since you imply that swarm 0.3 solves this issue, I'm closing it.

[2015-06-09 12:50] #906 closed

[2015-06-09 12:51] affo commented on #909
I am so sorry for making you lose your time.  Everything seems to be OK now!

However, here's the [(passing) test](https://github.com/4is2cbetter/swarm/blob/fix_reserved/test/integration/config.bats). I can't reproduce the bug anymore because I pulled from upstream on master and rebased. Now I cannot say at which commit I was in the moment I found that bug... If you trust me, I swear that there re

[2015-06-09 12:52] #909 closed

[2015-06-09 12:58] Pensu opened #919 "Swarm stress test is failing."
Hi all,

I am using swarm version 0.3.0 and docker version 1.6.2 on Ubuntu trusty.

Here are the concerned outputs:

swarm --version
swarm version 0.3.0 (HEAD)

docker version
Client version: 1.6.2
Client API version: 1.18
Go version (client): go1.4.2
Git commit (client): 7c8fca2
OS/Arch (client): linux/amd64
Server version: 1.6.2
Server API version: 1.18
Go version (server): go1.4.2
Git commit (s

[2015-06-09 14:32] vbichov commented on #906
0.3.0-rc2 is bugged, can't list Consul hosts.
docker run -ti --rm swarm list consul://[ip]:8500/[cluster]
returns a list of ips
docker run -ti --rm swarm:0.3.0-rc2 list consul://[ip]:8500/[cluster]
returns empty

[2015-06-09 14:38] vbichov opened #921 "Consul discovery stopped working for 0.3"
0.3.0-rc2 is bugged, can't list Consul hosts. (so is rc1)

docker run -ti --rm swarm:0.2 list consul://[ip]:8500/[cluster]
returns a list of IPs

docker run -ti --rm swarm:0.3.0-rc2 list consul://[ip]:8500/[cluster]
returns empty

docker version is 1.6.0

[2015-06-09 17:30] abronan commented on #921
Hi @vbichov, just tested with both versions and the exact same command and it works fine. Could you provide us with more details on your setup? Where is your Consul server located? etc.

Can you operate the cluster normally despite the `swarm list` not listing nodes?

[2015-06-09 17:32] abronan commented on #921
Also make sure the `consul://[ip]:8500/[cluster]` does not have a typo on the `[cluster]` part, this might be one of the reasons you see an empty cluster list.

[2015-06-09 18:46] jmaitrehenry opened #922 "Latest swarm image doesn't work"
Hi,

I try to install swarm:latest on 2 different linux (centos7 and fedora21) and I have an error :
[code]

On mac, with boot2docker I don't have the error.

Thanks,

[2015-06-09 18:49] #922 closed

[2015-06-09 18:51] jmaitrehenry commented on #922
Mine is just a duplicate of #781

[2015-06-10 00:46] vieux commented on #919
ping @aluzzardi

[2015-06-10 01:35] abronan commented on #721
@smothiki we pushed a fix in #867 in time for the `rc2`. Just tested with a fresh `etcd v2.0.11` cluster and it works fine. I haven't tested on older versions of etcd though.

[2015-06-10 03:42] aluzzardi commented on #919
Hey @Pensu, thanks for the feedback! Glad you opened an issue.

stress tests were created a long time ago (a couple of months actually, but things move fast) but are not actively maintained simply because they are not run automatically (integration tests get triggered on every PR, but stress tests are manual). Since no one noticed they broke, no one fixed then.

Feel free to fix them - we should a

[2015-06-10 04:06] Pensu commented on #919
Thanks for the reply @aluzzardi. I am on it!

[2015-06-10 04:41] arun-gupta commented on #771
@aluzzardi The cluster is created as:

[code]

What should be the updated command?

[2015-06-10 07:41] vbichov commented on #921
@abronan Thank you for you quick response!
I've investigated further and found the cause. This is **not a bug**.

Somebody changed the key-value definition in Consul.
The newer version does not write to `/[cluster]/`
It writes to `/[cluster]/docker/swarm/nodes/`

I have neglected to switch all of my swarm agents...
If this change / convention has been documented somewhere, I'm afraid I haven't see

[2015-06-10 07:41] #921 closed

[2015-06-10 10:40] Pensu commented on #918
@aluzzardi Could you please have a look? Thanks.

[2015-06-10 15:31] affo commented on #535
@vieux I think this is not a bad idea even out of the field of high performances.
If we think of swarm as a manager for a cluster that offers a IaaS, we could have users that run _flavor-based_ (as for VMs in OpenStack) docker containers.
Say we have small (2 cores, 2GB of RAM), medium (4 cores, 4GB) and large (8 core, 8GB); a user should be able to run, for instance, a medium-flavored redis conta

[2015-06-10 18:22] vieux commented on #918
@Pensu something is wrong in your setup. `Server version: 1.7.0-dev` is likely the version of a docker daemon. The test is supposed ot run against a swarm daemon (the version should be like `swarm/0.3.0`)

[2015-06-10 18:28] #919 closed

[2015-06-10 21:49] abronan commented on #899
@chanwit we'll probably migrate this issue to `docker/libkv`? What do you think?

[2015-06-10 21:57] #910 closed

[2015-06-10 21:57] abronan commented on #721
I'm closing this. @smothiki Let us know if you encounter any other related issue and thanks again for reporting!

[2015-06-10 21:57] #721 closed

[2015-06-10 21:58] marc- opened #927 "FATA[0000] Error response from daemon: invalid character 'I' looking for beginning of value"
Getting this error while executing following command:
[code]
Specified image exists on certain node only in the cluster (I've committed container from previous run). But seems swarm is unable to locate that node and run container there.
Anyways error message is misleading.

[2015-06-10 22:26] marc- commented on #773
Did you try to use something like HAProxy as frontend for this? So your application JDBC configuration will be always point to same host (HAProxy host) and HAProxy will take care finding working MySQL instance. You can also add discovery service to dynamically reconfigure HAProxy.

[2015-06-10 22:29] aluzzardi commented on #890
ping @vieux @abronan

[2015-06-10 22:31] marc- commented on #743
How about locate the image and replicate it across cluster (or copy to specific node on demand)?

[2015-06-10 22:34] aluzzardi commented on #762
@vbichov Did you hit this problem again?

[2015-06-10 22:35] aluzzardi commented on #699
@thaJeztah Agreed!

[2015-06-10 22:41] thaJeztah commented on #699
ping @moxiegirl (non urgent); wdyt on using such tables for the various projects?

[2015-06-10 22:45] aluzzardi opened #928 "Leader Election Documentation"

[2015-06-10 22:51] aluzzardi opened #929 "Leader Election Integration Tests"

[2015-06-10 22:52] aluzzardi opened #930 "Leader Election with configurable TTL"

[2015-06-10 23:11] sayash commented on #608
I face this error when asking swarm to run an image from an insecure private registry. I've added the "--insecure-registry" line on the Docker engine, but I still see the `invalid character 'v' looking for beginning of value` error.

I pulled and started running swarm last week, and a `docker pull swarm` says it is the latest image. Would love to help with logs  if someone can point me to the rele

[2015-06-11 00:35] chanwit commented on #899
@abronan no problem, Please go for it.

[2015-06-11 01:34] arun-gupta commented on #773
Got it working using simple container linking: https://github.com/javaee-samples/docker-java/blob/master/chapters/docker-container-linking.adoc

[2015-06-11 01:34] #773 closed

[2015-06-11 02:33] aluzzardi commented on #608
@sayash You can try the 0.3.0 release candidate: `docker run swarm:0.3.0-rc2`

[2015-06-11 03:16] moxiegirl commented on #699
@thaJeztah I think it is a great idea. It would be nice to maintain it centrally some place --- the documentation is a good stop gap. If it is down in the readme we might miss the users that never go to the project areas.  I've seen people host them on support pages as well.  The commercial team might already have something. I an ask

[2015-06-11 06:15] Pensu commented on #918
@vieux I guess the test is running through api_version.bats, which has line 15: run docker -H "${HOSTS[0]}" version, so I guess it's checking against docker version only. Please correct me if there is anything wrong. Because my setup has docker server as 1.6.2 only.

[2015-06-11 17:54] vieux commented on #918
@Pensu my bad, the failure is expected as you don't use the same version for client (1.6.2) and server (1.7.0-dev)

[2015-06-11 22:11] vieux commented on #657
@thefallentree I cannot reproduce the problem, can you still reproduce with 0.3.0-rc2 ?

Althouth I found an issue that might help your problem: #657

[2015-06-12 04:39] Pensu commented on #918
@vieux That is the thing, here is the output on my machine for "docker version":

vagrant@vagrant-ubuntu-trusty-64:~/gocode/src/github.com/docker/swarm$ sudo docker version
Client version: 1.6.2
Client API version: 1.18
Go version (client): go1.4.2
Git commit (client): 7c8fca2
OS/Arch (client): linux/amd64
Server version: 1.6.2
Server API version: 1.18
Go version (server): go1.4.2
Git commit (serv

[2015-06-12 05:09] aluzzardi commented on #918
@Pensu, hey, yes indeed, that's "supposed" to happen.

Your CLI is 1.6 while the server is docker master (the server is created by the integration tests and is always docker master).

Just run your tests using `test/integration/run.sh` (you can specify just a file ton run, such as `test/integration/run.sh api_version.bats`).

`run.sh` will run the tests in a docker container (instead of directly o

[2015-06-12 05:11] aluzzardi commented on #927
@marc- Could you run `docker -H 192.168.34.7:2376 version`?

Also, could you try this with swarm 0.3.0-rc2 (as in `docker run swarm:0.3.0-rc2` instead of `docker run swarm`).

Thanks

[2015-06-12 05:13] aluzzardi commented on #915
ping @abronan

I see you are using consul. Would you mind trying this with the `swarm:0.3.0-rc2` image? We rewrote the discovery service between 0.2 and 0.3

[2015-06-12 05:15] aluzzardi commented on #915
Also, I see in the logs:
[code]

and in your `swarm join`:
[code]

Can the machine where swarm manage is running reach docker at that address?

[2015-06-12 05:23] aluzzardi commented on #905
[code]

We just need to run it automatically in Jenkins somehow

[2015-06-12 05:28] Pensu commented on #918
@aluzzardi Thanks for the response, I tried that already. But I keep getting an even stranger error.

vagrant@vagrant-ubuntu-trusty-64:~/gocode/src/github.com/docker/swarm$ sudo test/integration/run.sh
Unable to find image ' #:latest' locally
time="2015-06-10T15:13:54Z" level=fatal msg="Invalid repository name ( #), only [a-z0-9-_.] are allowed"
test/integration/run.sh: line 25: -v: command not fo

[2015-06-12 07:20] aluzzardi commented on #918
@Pensu Very weird - could you do an `env | grep INTEGRATION_IMAGE`?

`run.sh` can use the `INTEGRATION_IMAGE` environment variable to override which test image to use (defaults to `dockerswarm/swarm-test-env`). It looks like in your environment it's defined to `#` and therefore it's trying to pull `#:latest`.

You can either remove that `INTEGRATION_IMAGE` from your environment or run:
`INTEGRATIO

[2015-06-12 08:14] Pensu commented on #918
@aluzzardi Did it, It's the same result again!

vagrant@vagrant-ubuntu-trusty-64:~/gocode/src/github.com/docker/swarm$ env | grep INTEGRATION_IMAGE
INTEGRATION_IMAGE=dockerswarm/swarm-test-env
vagrant@vagrant-ubuntu-trusty-64:~/gocode/src/github.com/docker/swarm$ sudo test/integration/run.sh
Unable to find image ' #:latest' locally
time="2015-06-10T18:00:48Z" level=fatal msg="Invalid repository na

[2015-06-12 08:51] marc- commented on #927
[code]
Will give a try to `swarm:0.3.0-rc2` .

[2015-06-12 10:35] marc- commented on #927
Still same with `swarm:0.3.0-rc2`:
[code]

Though, it works following way:
[code]

[2015-06-12 17:47] aanm opened #939 "Troubles running manage mode"
I'm running swarm agent and swarm manager on 2 computers, they can see each other and then can reach the internet. However if I use the manager mode it doesn't work, but it does work if I use the static mode. Is there any problem on running swarm agent and swarm manager with tokens at the same time?
[code]

[2015-06-12 20:07] #854 closed

[2015-06-12 20:11] maguec commented on #915
If I run up netcat and hit it from that node, it is not firewalled

[2015-06-12 20:22] aluzzardi commented on #915
What happens if you `docker -H 172.19.81.223:2375 info` from the machine where swarm manager is running?

[2015-06-12 20:23] aluzzardi commented on #939
Can you reach those nodes from the machine running the manager?

[code]

[2015-06-12 20:35] vieux commented on #927
@marc- can you push your image so we can test or is it sensitive information ?

[2015-06-12 20:52] maguec commented on #915
it resets, but if on the local machine I run it
 FATA[0000] Get http://127.0.0.1:2375/v1.18/info: read tcp 127.0.0.1:2375: connection reset by peer. Are you trying to connect to a TLS-enabled daemon without TLS?

[2015-06-12 20:59] aluzzardi commented on #915
Did you make docker listen on port `2375`?

[2015-06-12 21:03] aluzzardi commented on #915
@moxiegirl I think this is yet another case of the getting manually started problem.

It's not obvious that swarm talks to **docker**, not to `swarm join`. It's not obvious that you must open up docker for external communication and it's not obvious that `2375` in the docs is just an example.

@maguec I don't think it's a bug, but just a docs problem. As I mentioned above, swarm **must** be able t

[2015-06-12 21:08] aluzzardi commented on #927
@vieux @marc- I think this is a pretty straightforward issue.

1. Unfortunately, you **cannot** run with a *local* image unless you specify an image affinity. That is, either your image can be pulled from a registry from **any** node in your cluster, or you specify an affinity (build, commited, imported images, etc)

2. Swarm is erroring out on you. Unfortunately, it looks like the error message d

[2015-06-12 21:38] marc- commented on #927
@vieux you can just commit any container and try to run from that image.

@aluzzardi
1. It would be really nice if swarm could replicate images across cluster on demand. It will address number of issues about building and committing images. But this is out of this issues scope.
2. Unfortunately nothing useful in logs of swarm manager:
[code]
Run manager with --debug option. Didn't find a way to ma

[2015-06-12 21:43] aanm commented on #939
@aluzzardi Yes. The `swarm-manager-static` has the following startup command `manage 192.168.50.5:2375, 192.168.50.6:2375` and I can successfully run those 2 commands that you ask me. Is there any chance of running a debug mode or something?

[2015-06-12 22:09] marc- commented on #927
Got something from docker daemon, hope it'll help (different image, but same approach):
[code]

My guess is that docker swarm can not process error response from docker daemon. And `invalid character 'I'` could come from `Invalid repository` string (last log's raw).

[2015-06-12 22:36] moxiegirl commented on #915
@aluzzardi I see. Just those three points. I can't promise but I will try this weekend and see if I can update the manual install with the feedback we have so far.

@maguec It would be a huge help if you could identify any areas of the doc you found awkward. Thank you for bringing this problem to our attention.

[2015-06-12 22:43] maguec commented on #915
That is the issue.  Thanks for helping to get this running
What is confusing is that the docks say on each node do something, but the swarm should specify the "swarm manager container" specifically.  I know it makes it wordier..

[2015-06-12 22:49] aluzzardi commented on #915
Keeping this open until we address the docs issue

[2015-06-12 22:50] aluzzardi commented on #915
@moxiegirl: No rush - the problem existed since day 1. It's okay if we fix it even after 0.3 is out (as in, this is not a new problem introduced in 0.3)

[2015-06-12 22:51] aluzzardi commented on #939
@aanm Yes, swarm outputs log messages to stdout. If you are running swarm in a container, just do `docker logs <swarm manage container id>`.

You can get more logs by setting the log level to debug: `swarm -l debug manage <...>`

[2015-06-12 22:54] aluzzardi commented on #939
Sorry, I misread the entire issue :) Let me read it again

[2015-06-12 22:54] aluzzardi commented on #939
In the meantime, please use `-l debug` in `swarm-manager-token` to see what happens

[2015-06-12 22:55] aluzzardi commented on #939
Can you provide the start options of `swarm manage` and `swarm join`?

[2015-06-12 22:58] #699 closed

[2015-06-12 23:54] abronan commented on #891
`ttl` and `heartbeat` on **join** --> good

On the **manage** side I'd rather do something as suggested by Victor with `--cluster-opt swarm.refresh=20s` or something. You most definitely want to tweak the `ttl` and the `heartbeat` values with **join** but modifying the `refresh` time on discovery with **manage** is a less used, advanced configuration scenario.

[2015-06-13 00:03] aanm commented on #939
@aluzzardi So many questions let me see if I can get them

node1 `swarm join`
[code]
node1 `swarm manage`
[code]
node2 `swarm join`
[code]
node2 `swarm manage`
[code]

node1 manage logs
[code]
node2 manage logs
[code]

[2015-06-13 00:18] aluzzardi commented on #939
Wait - you have two swarm manage running?

[2015-06-13 00:43] aanm commented on #939
node1 IP -> 192.168.50.5
node2 IP -> 192.168.50.6
manager with discovery hub -> nodeIP:2370
manager with static IPs -> nodeIP:2373
[code]

[2015-06-13 00:49] vieux commented on #939
@aanm I get that you want to have 2 managers to test, one token and one IP. but it seems like you have 4, 2 per node ???

[2015-06-13 00:56] aanm commented on #939
@vieux yes, yes I have. 1 manager and 1 agent on each node.

[2015-06-13 01:01] vieux commented on #939
@aanm

[code]

so what's the IPs of `manager with discovery hub` and `manager with static IPs` ?

[2015-06-13 01:02] aanm commented on #939
`manager with discovery hub`: 192.168.50.5:2370,192.168.50.6:2370
`manager with static IPs`: 192.168.50.5:2373,192.168.50.6:2373

[2015-06-13 01:03] vieux commented on #939
wat

[2015-06-13 01:03] vieux commented on #939
so you have 4 managers ?

[2015-06-13 01:04] aanm commented on #939
lol why is that such a big fuss? Does it break anything?

[2015-06-13 01:09] vieux commented on #939
@aanm no but it doesn't make sense

[2015-06-13 01:11] vieux commented on #939
and it's hard to follow all the logs and everything. can you try to reduce the number or managers and see if it happen again ?

[2015-06-13 01:11] aanm commented on #939
@vieux I know it doesn't... But that was the only way I found out to get docker events for the whole swarm on every node (by only doing docker -H localhost:2370 docker events). If you have any other idea I'm free to suggestions :-)

[2015-06-13 01:19] aanm commented on #939
@vieux It does happen again. My main goal is what I've wrote in the last comment. I only added the managers with static IPs to see if the same thing happen.

[2015-06-13 02:32] maxfields2000 commented on #781
Same issue as stefan jones, Centos 7

Containers: 3
Images: 7
Storage Driver: devicemapper
 Pool Name: docker-253:1-22698-pool
 Pool Blocksize: 65.54 kB
 Backing Filesystem: xfs
 Data file: /dev/loop0
 Metadata file: /dev/loop1
 Data Space Used: 319.6 MB
 Data Space Total: 107.4 GB
 Data Space Available: 26.05 GB
 Metadata Space Used: 1.008 MB
 Metadata Space Total: 2.147 GB
 Metadata Space Availa

[2015-06-13 05:59] chanwit opened #945 "Swarm nightly images of unstable or HEAD versions"
In the last two versions, many users keep reporting issues for the stable (`:latest`) of the old version, and it's hard for them to help testing the latest one, HEAD, properly. Moreover, Docker orchestration requires Swarm as an image. So is it possible to have nightly images for Swarm (`swarm:unstable`) on the Hub every a couple of days?

It could be `janky` than help tag and upload HEAD to the H

[2015-06-13 07:05] maxfields2000 commented on #781
Actually the latest version of Swarm is incompatible with Docker 1.5, so downgrading isn't such a great idea.

[2015-06-13 07:51] maxfields2000 commented on #380
These solutions did not work for me on Centos7. There is no ~/.docker file and no key file. While all of my docker daemons do in fact run on VM's, docker was installed by hand on each VM /after/ the VM was imaged.

Where is the ".docker" folder on Centos7?

[2015-06-13 19:10] zstarer opened #946 "docker logs fails"
Hi guys -

I'm not sure what the cause of this is, but I've tried rebooting the manager, all the slaves, all the containers, and pretty much everything short of creating a new token. I'm on CoreOS.

This happens on every container running in the swarm. I can get the logs by ssh-ing into the host and running 'docker logs $id', so it seems limited to getting logs via the master.

[code]

[2015-06-13 20:25] zstarer commented on #946
hah. I checked the free memory on the server running the manager, and it only had ~150mb free.

rebuilt the master and I can get my logs again. :)

[2015-06-13 22:02] zstarer commented on #946
now I get this, looks the same.. not sure why, there's plenty of memory now.

$ docker logs -f $id
panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xb code=0x1 addr=0x0 pc=0x504b1e]

goroutine 1 [running]:
github.com/docker/docker/engine.(*Env).Get(0x0, 0xd18630, 0x4, 0x0, 0x0)
	/go/src/github.com/docker/docker/engine/env.go:21 +0x21e
github.com/docker/docker/api/cl

[2015-06-15 00:44] #908 closed

[2015-06-15 05:03] ahmetalpbalkan opened #949 "/info does not return SystemTime"
The `/info` endpoint does not return a SystemTime.

This issue might in fact be invalid, because that's added in Remote API version 1.18. I am not sure what version Swarm currently supports in the source tree. I saw it makes the requests to the underlying docker hosts as 1.16, however I'm not sure if that is what actually determines Swarm's Remote API implementation.

[2015-06-15 05:13] ahmetalpbalkan opened #950 "Thready safety in api/server.go dispatcher.SetHandler"
https://github.com/docker/swarm/blob/174ea0c4d78c87d66b2d8e40c64bd26833659d84/api/server.go#L22-L25

This code seems like it may lead to a pointer address-related runtime panic. Go actually does not do atomic pointer assignments.<sup>1</sup> I think this code probably needs a RWMutex or [`atomic.StorePointer`](http://golang.org/pkg/sync/atomic/#StorePointer) here. Could that be the case?

[2015-06-15 05:25] ahmetalpbalkan opened #951 "Confusing error when discovery proto not specified"
When I forget then `token://` part in the discovery URI, it tried to parse the token as `<ip1>,<ip2>`:

[code]

This probably would be hard to diagnose for a newcomer falling into the same mistake. If the input was parsed more systematically, I think Swarm can show user a better error message.

Since the `<discovery>` argument in `swarm join` is defined as:

[code]

I think the list of static IPs

[2015-06-15 05:28] chanwit commented on #951
@ahmetalpbalkan It's `nodes://` and we made it optional. Maybe the doc should mention about this.

[2015-06-15 05:38] ahmetalpbalkan commented on #951
@chanwit hmm so it was on purpose. I think users would be more consistent if `nodes://` was enforced. I don't think anybody would complain about some extra prefix?

also between 0.2.0 and 0.3.0-rc2, I can see a slight difference for the `join -h` output in the whitespace between "`<discovery>` and the sentence explaining it.

![image](https://cloud.githubusercontent.com/assets/159209/8153671/f650f

[2015-06-15 05:39] chanwit commented on #951
ping @vieux

[2015-06-15 05:54] ahmetalpbalkan opened #952 "Natural sorting in EngineSorter"
EngineSorter currently sorts the machines alphabetically like:

[code]

and that's what appears in `docker info` output. By using a natural sorting algorithm (e.g. https://github.com/skarademir/naturalsort) the output can be showed as for better readability:

[code]

[2015-06-15 06:00] chanwit commented on #952
I think this could be an improvement for 0.4.0.
@vieux @aluzzardi @abronan what do you think?

[2015-06-15 08:26] vbichov commented on #762
@aluzzardi using swarm:0.3.0-rc2 this problem has been resolved. (well done!)
By using running numbers for container names I can now try to mimic global scheduling...
Thank you!

[2015-06-15 08:26] #762 closed

[2015-06-15 10:27] aanm commented on #771
@arun-gupta Did you run something like `docker-machine create -d virtualbox --swarm join` on the `swarm-master`? If you did, you shouldn't have to in order to achieve what you want.

[2015-06-15 19:11] francisbouvier opened #957 "Register containers configuration in discovery service"
In order to prepare Container Rebalancing (https://github.com/docker/swarm/issues/599), Scalling and Global Schduling (https://github.com/docker/swarm/issues/601) we could save the containers configuration in the discovery service, using SwarmID.

Using something like /swarm/containers/<SwarmID>/<ContainerID>/<ContainerConf>
- Write by the nodes through discovery.Register
- Watch by the manager th

[2015-06-15 20:42] vieux commented on #952
@ahmetalpbalkan @chanwit good idea

[2015-06-15 20:46] vieux commented on #951
@ahmetalpbalkan regarding the spaces, it's because we change the whole usage to look more like docker. we could reduce the number of spaces.

I'll open a PR

[2015-06-15 21:03] thaJeztah commented on #952
Looks like a good improvement!

(I noticed that https://github.com/skarademir/naturalsort doesn't have any releases or tags yet, perhaps something to ask?)

[2015-06-15 21:07] vieux commented on #949
@ahmetalpbalkan where `/info` should return a time ? I don't see it.

[2015-06-15 21:08] ahmetalpbalkan commented on #949
@vieux http://docs.docker.com/reference/api/docker_remote_api_v1.18/

[2015-06-15 21:08] vieux commented on #946
@zstarer would you mind opening your issue on docker/docker ? It looks like docker is panicing.

[2015-06-15 21:10] vieux commented on #781
The docker engine version 1.7 will ship with our own RPM that shouldn't have this issue.

You can test 1.7.0-rc3 here:

[code]

[2015-06-15 21:12] vieux commented on #945
@chanwit `dockerswarm/swarm:master` should do it.
For now there is no way to combine a library image with an automated build, that's why we have 2 repos.

[2015-06-15 21:16] aluzzardi commented on #952
:+1:

[2015-06-15 21:20] #836 closed

[2015-06-15 21:24] zstarer commented on #946
Sure @vieux , I'll move it over now.

[2015-06-15 21:30] ahmetalpbalkan opened #962 "RenameContainer uses RLock"
https://github.com/docker/swarm/blob/b8ba1ff52acc2ba475dea0f1dc3cbc33a2c16a8e/cluster/swarm/cluster.go#L559-L581

Apparently the RenameContainer currently uses a reader lock although it mutates the state.

Is it by design or a bug?

-----------

Pardon my ignorance in advance. :)

[2015-06-15 21:41] aanm commented on #781
@vieux Will it work for fedora 22?

[2015-06-15 23:20] RusDavies commented on #781
The Docker/Docker version has other issues on Fedora.

For example, it directly manipulates /etc/systemd/docker, whereas other Fedora packaged software expects docker configuration under /etc/sysconfig/docker*.

One example is flannel on Fedora, which fails when used with the docker/docker version.

[2015-06-16 00:09] vieux commented on #781
@aanm yes, sorry I forgot to add thoses:

[code]

[2015-06-16 03:01] jimmyxian opened #966 "Proposal: Swarm over Swarm"
Right now, when we create swarm cluster with a number of engines, on manage may be not enough to manage the cluster.

Also, multi-swarm clusters work separately, we can't manage clusters in one software.When we want to create a container in one swarm clusters, we have to set the endpoint of that swarm.

Also, when we create a swarm cluster on multi-environment(AWS/Azure), we have to make sure  swa

[2015-06-16 03:46] chanwit commented on #945
I see. Thank you @vieux

[2015-06-16 03:46] #945 closed

[2015-06-16 07:01] sourav82 opened #967 "Swarm integration with Mesos"
Does swarm integrate with Mesos as a framework like kubernetes, marathon etc.?

[2015-06-16 07:02] tnachen commented on #967
Hi @sourav82 I'm not sure what's the purpose of this issue, but yes it is integrating with Mesos as a framework. This is already merged so I think we can close this ticket.

[2015-06-16 07:21] vieux commented on #967
@sourav82 yes, as @tnachen said, it's integrated as a mesos framework, see https://github.com/docker/swarm/blob/master/cluster/mesos/README.md for more information.

[2015-06-16 07:21] #967 closed

[2015-06-16 19:34] #890 closed

[2015-06-16 20:33] abronan commented on #844
@coffenbacher Did you managed to reproduce it somehow? I couldn't reproduce on my side, I tried with local VMs, on GCE and on Digital Ocean using `swarm` or `machine/swarm` with the latest `rc`'s (also destroying and re-creating instances).

[2015-06-17 04:20] Pensu commented on #918
@aluzzardi @vieux Any other suggestions?

[2015-06-17 07:14] shashiranjan84 opened #969 "before query string to get all the container does not work over swarm."
Here I am using limit and before to paginate all the containers. It works on each swarm agent node but not for swarm master.

https://www.dropbox.com/s/gcdbtftrxcra1vs/2015-06-17%2006.55.24.jpg?dl=0

Am I doing something wrong or its just not supported on swarm?

[2015-06-17 17:33] vieux commented on #969
@shashiranjan84 you are right, this is not yet supported by the manager. We will work on it.

Thanks for reporting the issue.

[2015-06-17 17:56] shashiranjan84 commented on #969
is there another way to paginate through all the containers instead of fetching them all once?

[2015-06-17 17:58] djsly opened #970 "Docker-Compose + Swarm : Problem when trying to deploy twice the same stack on two different Node using different constraint."
Hello, I am trying to use Swarm + Docker-Compose to deploy a stack of services meant to be running and talking to each other on the same physical host.

I have a A/B type of environment, where I would like to deploy version X on Node1 while deploying version Y of the stack on Node2.

What I have discovered so far is that I can safely deploy the stack on either of the Nodes (1|2) as long as the oth

[2015-06-18 03:12] jimmyxian commented on #970
@djsly

When `pull` in Swarm, swarm will `pull` on every node

[2015-06-18 07:52] ghost opened #972 "Etcd Connectivity Issue with proxy mode"
Docker Swarm seems to have intermittent difficulty connecting to etcd even though it is available and works the majority of the time. It will not fail and retry either, just continue to error out indefinitely.

[code]

[code]

[2015-06-18 14:09] eoghanino opened #973 "Swarm manager crash"
Swarm Version: 0.3.0-rc3
Discovery Service: Consul
Docker Version: 1.6.0
Kernel: 2.6.32-504.el6.x86_64

time="2015-06-18T13:19:28Z" level=info msg="Removed Engine c4t11666.company.com"
time="2015-06-18T13:19:37Z" level=error msg="HTTP error: No such container: 6b3ed3244b8de3c60accae128906155bd23f4ae9edd94e446cf32c0aadb5747a" status=404
time="2015-06-18T13:19:37Z" level=error msg="HTTP error: Conta

[2015-06-18 14:13] robtec commented on #973
+1

[2015-06-18 16:04] jsipprell opened #974 "Swarm manager intermittently unable to see newly joined docker host nodes"
Using a test cluster of two docker hosts with _different_ /etc/docker/key.json files, swarm manager (running master branch, rev 174ea0c) occasionally is unable to see the advertisement of the second docker node once its been down past the ttl interval.

When this happens the container running `swarm agent` logs the following:

    time="2015-06-18T15:21:42Z" level=error msg="Discovery error: missi

[2015-06-18 17:20] abronan commented on #972
Hi @UserTaken,  can you provide some more information about your `etcd` cluster, like the version, etc.? We use the latest version of `go-etcd` and we test against etcd `v2.0.11`. You might encounter issues if you use etcd `v0.4.XX`.

Also are you able to simply `curl` the API on localhost?

And I see that you are using port `2379` instead of `4001` in your config. Could it be related?

[2015-06-18 18:47] abronan commented on #974
Hi @jsipprell, thanks for reporting the issue. I managed to reproduce using the same setup and `v0.3.0`.

Zookeeper seems to give us back an empty value during the watch trigger so it returns the error because the discovery cannot parse an empty entry. It seems to be related to #417 somehow where we need to ignore empty values to let zookeeper report later when we change the content of the key by

[2015-06-18 18:55] abronan commented on #973
Hi @eoghanino and @robtec. I cannot seem to reproduce using swarm `v0.3.0` with the latest Consul and kernel `3.13`. Would be great if you can provide us with the steps that led to the panic :+1: (or out of curiosity, testing with a more recent kernel and the latest version of Consul)

[2015-06-18 19:08] UserTaken commented on #972
@abronan The CoreOS release I am running is 709 which includes Etcd 2.0.11 that I am running in proxy mode. Proxy mode exposes both port 4001 and 2379 for client communication so I don't think that matters. Etcd has to be working as Swarm depends on Docker which depends on Flanneld which depends on Etcd.

[2015-06-18 19:24] abronan commented on #972
@UserTaken TBH I never tried using a CoreOS cluster nor using `etcd` in proxy mode, for testing we use a standard config (also exposing `4001` and `2379`) on an Ubuntu cluster. So I might give it a shot and see if I can reproduce using CoreOS ;)

[2015-06-18 19:45] aanm opened #977 "When an affinity isn't "matched", swarm returns an error of constraint"
[code]
None of the nodes has the image `busybox:latest` but the message should be more clear.

If I remove the constraint I get
[code]

[2015-06-18 19:46] aanm commented on #939
Somehow I can't replicate the issue with a new setup, sorry

[2015-06-18 19:46] #939 closed

[2015-06-18 20:57] UserTaken commented on #972
@abronan Here is a video of the above - https://vid.me/kTwM

[2015-06-18 21:36] abronan commented on #972
@UserTaken thanks :+1:

[2015-06-19 15:41] eoghanino commented on #973
@abronan kernel version is 2.6.32 rhel 6.3 patched to 6.6

[2015-06-19 16:55] chanwit commented on #826
Hi all,

We would like to test our cross-platform Swarm cluster on the following platforms:

  - Linux / IBM Power8
  - Linux / ARM64 (X-Gene)
  - Windows / AMD64

If any one could sponsor (or allow accessing) the above machines (and platform), please drop a comment on this issue.

[2015-06-19 17:02] ahmetalpbalkan commented on #826
@chanwit if you sign up to Azure, I believe there's a pretty good 90-day free trial. You can get quite Windows VMs easily from there.

[2015-06-19 17:04] shykes commented on #826
@chanwit the official Docker testing infrastructure is pretty advanced and well funded. I think it would be great if we could help test this setup! It would be very useful to the Docker project as well.

[2015-06-19 17:07] chanwit commented on #826
Thanks for the prompt reply, @ahmetalpbalkan is it possible to try the new Windows kernel (with Docker support) on Azure? I have Swarm running fine on Windows now.

[2015-06-19 17:09] chanwit commented on #826
@shykes Thank you very much. This will be fantastic!!

[2015-06-19 17:09] ahmetalpbalkan commented on #826
@chanwit Unfortunately not yet, containers will come in Windows Server 2016.

[2015-06-19 17:11] chanwit commented on #826
@ahmetalpbalkan I see. Can't wait for it to be released :)

[2015-06-19 17:19] abronan commented on #973
@eoghanino Are you running Swarm inside a container or using the binary? We have known issues running Swarm with **rhel**, it is not directly related but you might take a look at #781.

[2015-06-19 17:54] ahmetalpbalkan opened #978 "ROADMAP out of date"
It says:

also there are other parts in it that are implemented with 0.3.0 but not marked as complete.

[2015-06-19 19:53] abronan commented on #974
I'll create a PR soon that depends on #924 (which includes many fixes on the separate `docker/libkv` repo). The issue is that we check `len(addr) == 0` to ignore empty values while zookeeper returns us `\x01` which bypasses the check and throws the error. The sync issue on nodes is actually an intermittent watch error on the discovery side which will be fixed as well.

[2015-06-19 21:23] bklau commented on #781
I tested Docker 1.6 with latest swarm on Fedora 22 Cloud Image, it has same issues as reported originally by RusDavies :(
Any more progress on resolving this issue  or workaround?

[2015-06-19 21:28] aluzzardi commented on #781
@bklau Hey, as some other reported here, the bug comes from the patched version of Docker RedHat is using, not from Swarm itself:

https://bugzilla.redhat.com/show_bug.cgi?id=1213258

You could try to install Docker official RPMs that @vieux provided earlier

[2015-06-19 21:29] aluzzardi commented on #973
@robtec Same issue as well?

[2015-06-19 23:24] abronan opened #980 "Multi-Manager: Followers crashing when using etcd and stopping the store"
Followers are crashing when using `etcd` and when we stop the store. This is due to a missing nil check in `etcd` backend. `etcd` may return nil for `result` when the store is not available.

[2015-06-19 23:34] abronan opened #981 "Swarm Manager crashes if Agent docker daemons are stopped and resumed"
Swarm does not like Agent docker daemons being stopped using `SIGSTOP` and resumed using `SIGCONT`. Manager crashes right after `SIGCONT` signal is sent to one of the docker daemons managed by swarm.

We should make sure that swarm recovers the connection gracefully or creates a new one when an agent is `unpaused`.

[2015-06-20 00:21] abronan opened #982 "Leader Election: no elected leader if the store fails and recovers after some time"
If the store fails and recovers after some time, there will be no elected leader left and we couldn’t query the Managers anymore. Leader Election should have the same recovery mechanisms as for the discovery watches.

This leaves us with:

[code]

As a result, we need to restart one of the manager to take the lead again.

(This issue seems to happen only on Consul and Etcd, Leader election on zook

[2015-06-20 00:25] abronan opened #983 "Leader Election: wrong information reported if store fails"
Swarm reports wrong informations when the store fails and one of the manager is restarted to recover the leader election process. (This seems to be only a **UI issue** as the requests are proxied to the right machine)

**Manager-1** (role: **Replica**, Primary: **manager-2**)
[code]

**Manager-2** (role: **Primary**, Primary: **self**)
[code]

**Manager-3** (role: **Replica**, Primary: **manager-1

[2015-06-20 02:49] abronan opened #984 "Discovery: Watch mechanism eats up half of the CPU after recovering failure with etcd"
With a classic configuration (3 Managers - 3 agents) and using `etcd`, if you stop the store and relaunch it after a while, Managers will eat up half of the CPU after the recovery process.

**Note**: this **only** happens with etcd, so this might be related to **pkg/store - libkv** (leaking goroutines in etcd watches? or in the `Lock` implementation for `etcd`)

`Consul` and `Zookeeper` are unaffe

[2015-06-20 07:30] zoobab commented on #826
armv7, armv5?

[2015-06-20 07:40] chanwit commented on #826
@zoobab we already have a multi-arch cluster over ARMv7 and x86-64 at our lab. Listed above are hardware archs that we'd like to try Docker & Swarm on them.

[2015-06-20 13:54] proegssilb commented on #826
I've got an older AMD64 machine you guys can use, but honestly, you can get a "good starting point" AMD64 machine for $300 ($200 if you've got a copy of windows) pretty trivially on newegg. Some assembly may be required.

[2015-06-20 14:25] chanwit commented on #826
@proegssilb thank you for that. I already have AMD64 machines for testing.

[2015-06-20 22:34] bfirsh opened #985 "Unstarted container causes ps -a to panic"
Running `docker ps -a` against my Swarm causes a panic:

[code]

Here's the container that causes it:

[code]

[2015-06-22 20:33] vandita31 opened #988 "Docker-Swarm and ETCD"
Hi,

I am trying to attempt set up Docker Swarm on some hosts and instead of generating tokens , I am trying to use ETCD to bring up the Swarm Manager.  Swarm Join with ETCD currently breaks and throws the following error -

[root@dcavm-ch2-122p ssl]# ~/gocode/bin/swarm manage --tlsverify --tlscacert=/app/support/docker/ssl/ca.pem --tlscert=/app/support/doer/ssl/dockerhost-cert.pem --tlskey=/app/s

[2015-06-22 21:44] abronan commented on #988
Hi @vandita31, can you provide the commands you used to spin up that `etcd` cluster? Usually this error is brought up when the `--advertise-client-urls` and `listen-client-urls` are not properly configured. In this case, swarm will have trouble to get back the discovery informations from the `etcd` cluster.

[2015-06-23 19:50] eoghanino commented on #973
@abronan Ok, thanks for the info, its pretty stable just the removal of nodes from the manager when using consul

[2015-06-23 20:40] abronan commented on #973
@eoghanino Ok! #924 will fix the node removal issue with Consul.

[2015-06-23 20:43] JamieCressey opened #989 "Scheduling: Anti-Affinity Deployment Filtering"
Is there currently a way to define anti-affinity filters when deploying new containers, or would it be suitable to be added to the roadmap?

Use case: Deploying a MySQL master and slave. It would be preferred these containers were not scheduled to run on the same host to mitigate down time caused by server outages.

[2015-06-23 20:44] eoghanino commented on #973
@abronan cool thanks!

[2015-06-23 21:09] vieux commented on #989
@JamieCressey you can do this with:

[code]

Every container will be schedule on a node where there is no container starting with `mysql-` running.
If you have only 3 machine, the last `docker run` will fail. If you still want to do it you can use soft affinities:

[code]

This is going to try to apply the affinity, and if it's not possible, discard the affinity.

[2015-06-23 21:11] JamieCressey commented on #989
Perfect, exactly what I'm looking for - thank you!

On 23 June 2015 at 22:10, Victor Vieux <notifications@github.com> wrote:

[2015-06-23 21:12] #989 closed

[2015-06-23 21:35] abronan commented on #973
I'll close the issue ;) feel free to re-open this one or create a new issue if you still have problems running Swarm with Consul

[2015-06-23 21:35] #973 closed

[2015-06-24 02:56] HackToday commented on #781
I hit same issue on fedora 21 with docker 1.6.0

[2015-06-24 02:56] HackToday commented on #781
Use fedora 21 atomic image

[2015-06-24 02:58] HackToday commented on #781
Hi @aluzzardi  I think fedora 21 can not direcly installed docker-engine-1.7.0-0.3.rc3.fc22.x86_64.rpm

As it depends on other libs and package. So it is not good idea to directly install rpm

[2015-06-24 03:35] aanm commented on #781
@HackToday That's for fedora 22 not, fedora 21.
For fedora 21 is
[code]

[2015-06-24 07:05] vbichov commented on #907
Hi @abronan , We ourselves are unable to effectively use Swarm without a host / IP translation mechanism.

Examples: when using the Consul-Registrator the hostname of the local Consul agent is required.
There are many other containers (clustered DBs etc.) that expose their IP for others,  and so, must receive it via the Docker run command.

Because we like Swarm so much, we've added a small modifi

[2015-06-24 08:54] HackToday commented on #781
yes, I tried to rpm install docker-engine-1.7.0-0.3.rc3.fc21.x86_64.rpm,  it could not directly rpm installed on fedora 21 atomic image

[2015-06-24 08:56] HackToday commented on #781
The official docker guide seems this

https://docs.docker.com/installation/fedora/

It not same as your url.  it is 1.7.0 not with 1.7.0-rc3

[2015-06-24 11:17] ghost opened #990 "Docker API Proxy"
Current usage of Swarm requires modification of default daemon options or Systemd socket file to expose Docker's API over TCP. How about as an alternative, have Swarm be able to open a port that proxies to Docker's default Unix socket. Something like

[code]

Thoughts?

[2015-06-24 18:18] moxiegirl opened #991 "Sync master > docs"
Hi,

For the Dockercon  1.7 Eng and 2.0 Hub release, your project documentation was pulling from your master branch.

At this point, you must sync your  master branch files into the docs files BEFORE making changes for future releases in master.

This step allows Docker _as a whole_ to make incremental updates to the documentation website between releases.

After completing this work, please respo

[2015-06-25 08:59] sourav82 opened #992 "Swarm with Mesos: hostname executable file not found in $PATH"
I was trying to set up swarm (0.3.0) on a mesos cluster (local) but was not able to start it due to below errors -
[code]
I started the swarm using below command -
[code]
Could anyone help if I'm doing something wrong here?

[2015-06-25 14:41] kubenstein commented on #844
hi, i have similar issue, my swarm contains only virtualboxed hosts on local machine. When i remove one node, master still reports it in the swarm. here are steps to reproduce it:
[code]
 tools im using:
[code]

i thought maybe starting container on non existing node will refresh node list but i only get proper error and list stays the same.

[2015-06-25 16:41] TMaddox commented on #792
Wondering if I'm hitting the issue described here. If I try to do something like:
[code]
Here's the output:
[code]
It just hangs here and never completes.

This works fine when talking to a remote Docker API, but not when talking to a Swarm cluster.

[2015-06-25 22:37] abronan commented on #844
Hi @kubenstein, you need to use swarm `v0.3.0` with Consul, Etcd or Zookeeper in order to see nodes removed from the cluster.

If you want to use the latest version of swarm with machine, you need to specify the flag:
[code]

This means that you will also have to use the `--swarm-discovery` flag using a custom Consul, Etcd or Zookeeper if you want your nodes to be removed from the cluster.

[2015-06-26 03:33] yoanisgil commented on #735
As @ahmetalpbalkan mentioned this is a feature which could be very useful for tools looking to integrate with swarm. As an example I am working on heapster source implementation for swarm (see here for details: https://github.com/GoogleCloudPlatform/heapster/issues/367) and right now we have not way of getting the list of nodes other than running `swarm list`.

@vieux if the concept of node does n

[2015-06-26 05:46] chanwit commented on #735
I also would like to have an API for selecting and returning a node (not placing the new container just selecting).

This is ver useful for the cluster-wide build process.

[2015-06-26 12:02] yoanisgil commented on #735
Maybe we should put together a list of pros and cons so we can reach a
consensus and decide whether this something should be not or not. A few use
case might help as well.

Bests,

Yoanis

Le vendredi 26 juin 2015, Chanwit Kaewkasi <notifications@github.com> a
écrit :

[2015-06-26 14:49] chanwit commented on #735
Following these. I +1 for

 * `GET /nodes` for listing nodes returning `<host names, addresses>`.

 * `GET /candidate` for selecting the most appropriate candidate with all filter applied. This makes Swarm act as the front-end scheduler for client suche as `docker-compose`. `GET /candidate` should accept parameters similar to `docker run`. Basically, this endpoint is the `dry` version of the `run`

[2015-06-26 14:56] vandita31 commented on #988
Thanks @abronan for your response. I have a 3 node ETCD cluster set up. This is how the ETCD process is running on one of the nodes ..

 /usr/bin/etcd -name cdaetcd1 -data-dir /var/lib/etcd/automation -peer-ca-file=/etc/etcd/ssl/ca.crt -peer-cert-file=/etc/etcd/ssl/cdaetcd-ch2-1p.sys.comcast.net.crt -peer-key-file=/etc/etcd/ssl/cdaetcd-ch2-1p.sys.comcast.net.key.insecure -ca-file=/etc/etcd/ssl/ca.

[2015-06-26 16:57] ahmetalpbalkan commented on #735
Sorry for not following up on this discussion I started earlier. :-)

@vieux what is being asked here is not related to Docker Remote API, we're proposing a different set of API endpoints (that look like Remote API of course) which provides various info about cluster. This could be simply for building GUIs/visualizations on top of Swarm, collecting data about Swarm, or orchestrating/extending Swar

[2015-06-27 03:01] chanwit commented on #735
@vieux these kinds of change are really important for us to unlock the barrier between platforms using Swarm.

For example we can `GET /candidate` to select the node, then issue the build command say `Dockerfile.windows_amd64` if the node runs Windows OS.

[2015-06-27 05:06] yoanisgil commented on #735
Following up with what @ahmetalpbalkan and @chanwit endpoints such as /nodes, which provides the list of nodes on the cluster alone with the information describing some of the nodes characteristics (CPU, RAM, etc) will ease the integration with monitoring tools such as heapster.

For instance I'd like to implement a heapster metrics source which integrates with Swam. The very first step towards th

[2015-06-29 15:52] dreilly1982 opened #996 "Issuing commands to Swarm replicas"
This is more of an issue with the docs at https://docs.docker.com/swarm/multi-manager-setup/ and actual performance.  The second to last paragraph states 'You can use the docker command on any Docker Swarm primary manager or any replica.', while there are many commands that can be issued to the replicas, not all commands are supported.  The control API on the replicas also answers with the underly

[2015-06-29 16:34] abronan commented on #996
Hi @dreilly1982, +1 the documentation emphasizes on the fact that you can issue commands on any replica but this sounds like you can do this without any impact on performance. Replicas are primarily used in case of the *Primary* **failure**.

The documentation should encourage to always point to the current Primary as the default.

[2015-06-29 16:46] abronan commented on #988
Ok taking a step back and looking at the logs, this is actually due to TLS. Swarm currently does not support secure communication with discovery/storage (which must be behind a secured network configuration).

We need to add proper flags to point to cert files for the discovery/storage (separately from the docker daemon certs). See #496.

[2015-06-29 17:57] #928 closed

[2015-06-29 18:38] moxiegirl opened #997 "Split installation into a separate document"
Install in its own install

[2015-06-29 18:39] moxiegirl opened #998 "Have to change the flags on Docker itself"
Users need to change the docker daemon configuration needs to change; every daemon on each node

[2015-06-29 18:40] moxiegirl opened #999 "Add more diagrams from the presentations"
- Need to include more images or diagrams in an overview

[2015-06-29 18:42] moxiegirl opened #1000 "Add more diagrams from the presentations"
- Need to include more images or diagrams in an overview

[2015-06-29 18:43] moxiegirl opened #1001 "Manual installation of swarm on existing vbox images"
- Need to go through what is there.
- TLS manual setup

[2015-06-29 20:25] abronan commented on #844
I'm closing this for now, @coffenbacher please feel free to re-open if you still manage to reproduce the sync issue with `swarm:0.3.0`.

[2015-06-29 20:25] #844 closed

[2015-06-29 23:00] aluzzardi commented on #996
Which commands are not supported by the replica?

[2015-06-29 23:04] aluzzardi commented on #990
Sorry for the slow response - been busy at DockerCon.

We've been talking about this and I kinda like the idea.

A few thoughts:
- For backward compatibility, how about leaving `swarm join` as is (and deprecate it), and move this new stuff into a `swarm agent` sub-command?
- Security is a pain here. It becomes much easier to leave docker in the open (before you explicitly had to alter the docker s

[2015-06-29 23:04] aluzzardi commented on #990
/cc @ehazlett @nathanleclaire

[2015-06-29 23:05] aluzzardi commented on #992
/cc @vieux @tnachen @jimenez

[2015-06-29 23:31] aluzzardi opened #1002 "serf discovery"
I'm toying with the idea of using serf for discovery.

It would provide gossip-based cluster membership in a very easy to setup way.

So easy, in fact, it could replace the default `token`-based discovery: Just pass the address of **any** node in the cluster to `swarm join` and you're done.

I guess the way to lay it down would be to start the manager as is (no addresses) and then start every node

[2015-06-29 23:31] aluzzardi commented on #999
Duplicate of #1000

[2015-06-29 23:31] #999 closed

[2015-06-29 23:59] abronan commented on #1002
I like the idea but: we probably need an additional port + it's own set of certs for the TLS config which brings us to a number of up to 9 possible flags just for TLS (for docker daemons, the gossip discovery, and the optional storage backend). Or we reuse the certs from the docker daemons for the gossip discovery but this might not be a good idea.

[2015-06-30 00:31] vieux opened #1003 "API version test"
The docker engine changed the way it display version

[code]

The test greps for `client version` but it doesn't exists anymore.

[2015-06-30 03:00] aluzzardi commented on #735
I tend to agree with this.

We had a bunch of conversations at DockerCon around APIs with many contributors (including @icecrime and @shykes).

One of the ideas we've been toying around (not sure everyone agrees) is that the current *Docker API* could become the *Container Management API*, which both the Engine and Swarm implement.

Swarm would also implement the *Cluster Management API*, which co

[2015-06-30 03:12] yoanisgil commented on #735
@aluzzardi Not sure what exactly you mean by *Container Management API* nor by *Cluster Management API*. Is this some sort of documentation which already exists? I am sorry if I'm missing something obvious.

Generally speaking,  it would be nice to have such APIs. I imagine what you call the *Cluster Management API* will be a superset, as many others has mentioned here, of the `Container Managemen

[2015-06-30 03:14] #606 closed

[2015-06-30 03:15] aluzzardi commented on #606
Should be fixed by #993

Thank you @phemmer and @ealang !

[2015-06-30 04:16] chanwit commented on #735
@aluzzardi thank you for the info. It seems that we can focus on defining the `CMA` then.
How should we start? I think all extra information provided by `docker info` via swarm could be a good starting point. Actually, I did hack `dockerclient` (https://github.com/chanwit/dockerclient/blob/dev/types.go#L222) to add `Node struct` to the container info for these a while ago too.

[2015-06-30 04:34] aluzzardi commented on #735
**TL;DR Summary**: Let's do this. I'm for `/nodes` or something similar (pending other maintainers approval), but let's take a step back for a moment and think about the big picture first.

@yoanisgil *Container Management API* is basically the *Docker API* - pretty much all it does is expose endpoints to manage containers (creation and operation).

*Cluster Management* is basically what is propos

[2015-06-30 04:40] chanwit commented on #735
Yes, let's do this :+1:

[2015-06-30 04:40] abronan commented on #735
Too bad no one can see me behind my keyboard because I'm +1'ing this like crazy. Even though this should be something worth of a *Proposal* I guess?

[2015-06-30 04:53] ehazlett commented on #735
+1 from me as well :)

On Tue, Jun 30, 2015 at 12:40 AM, Alexandre Beslic <notifications@github.com

[2015-06-30 06:18] vieux opened #1005 "`docker attach through websocket` fails all the time with the last docker master"
@jimmyxian can you please take a look ?

Thanks.

[2015-06-30 09:37] pacaletx commented on #992
Same problem here, any idea ? :/

[2015-06-30 10:13] viranch opened #1006 "Swarm's docker events inconsistent with actual docker events"
Running `docker -H <manager_ip>:<manager_port> events` yields events with inconsistent status fields when restarting containers:

[code]

Run sample container: `docker run -d --name sleeping ubuntu:14.04 sleep 10000`

Now running `docker events` and restarting the container with `docker restart sleeping` gives following events:
[code]

OTOH attaching to docker events via swarm manager (`docker -H

[2015-06-30 13:15] yoanisgil commented on #735
I am all in for this. Personally, I'd love to see Swarm be able to natively handle Compose ;), given that I am currently working on a deployment procedure based on Compose.

I think at the very least the *Container Management API* should provide  node discovery and management. Just wondering what's next ?

[2015-06-30 15:14] dreilly1982 commented on #996
I think now "commands" may be the wrong wording.  The underlying API that is being presented is different on replicas than on the primary.  While the primary when queried through the remote API presents the swarm API, the replicas present the underlying docker engine API.

This can be seen using the /version endpoint.  Example below:
[code]
[code]

This leaves out necessary information as listed i

[2015-06-30 16:22] VincenzoFerme opened #1007 "Unable to Connect to a Node having Docker Daemon Exposed on a Port different from 2375"
I followed the instruction reported on the [official Docker Swarm documentation](http://docs.docker.com.s3-website-us-east-1.amazonaws.com/swarm/install-manual/).

I am not able to get the **swarm** working correctly when the Docker daemon's exposed port on a node is different from 2375.

The command I run to join my node is:

[code]

The command I run to start the master is:

[code]

The error I

[2015-06-30 17:52] vieux commented on #1007
@VincenzoFerme when you do a `swarm list token://<cluster_id>` do you see 2375 or 2376 ?

[2015-06-30 17:55] VincenzoFerme commented on #1007
@vieux 2375

[2015-06-30 18:05] vieux commented on #1007
@VincenzoFerme I don't know what to say besides "retry" I cannot reproduce:

[code]

[2015-06-30 18:08] coffenbacher commented on #743
This would be awesome for my workflow. Good idea, can't wait!

[2015-06-30 18:15] VincenzoFerme commented on #1007
@vieux you are right! I did again all the steps and it works as expected. I really don't see the difference from when I got the error....thank you!

[2015-06-30 18:15] #1007 closed

[2015-06-30 18:59] #1003 closed

[2015-06-30 19:18] coffenbacher commented on #844
Great, thanks @abronan. I just got back from vacation - on Swarm 0.3.0 now and nothing but good so far.

[2015-06-30 21:40] abronan commented on #844
Great :smile: :tropical_drink: feel free to re-open this one or open new issues if something goes wrong.

[2015-06-30 22:19] #980 closed

[2015-06-30 23:21] aluzzardi commented on #996
Hey @dreilly1982, there must a problem.

The replica exposes the **exact** same API - in fact, it just proxies every *command* to the primary, **except** for `/info`.

For whatever reason, I'm guessing `<replica-hostname>:<swarm-port>` are incorrect.

[2015-07-01 05:02] mountkin commented on #1006
I open a PR to fix this problem: https://github.com/samalba/dockerclient/pull/126
ping @aluzzardi

[2015-07-01 15:39] dreilly1982 commented on #996
I am not connecting to the wrong ports.  I will give you full output of my setup below:

I am using the following docker version:
[code]

and swarm image:
[code]

I am using consul for the discovery backend, and I have a consul client installed on each docker host.  This is just a "testing" environment, so I am running one swarm agent and one swarm manager on each of my three nodes (I know this is

[2015-07-01 17:16] aluzzardi commented on #996
The problem comes from the `--advertise` flag used in managers:

The manager is listening on `8333` although it's adverting `2375` as its external port - which I assume is the port used by the Docker engine. As a result, replicas are forwarding traffic to the Engine instead of the manager.

If you change this with:

Then it will work correctly

[2015-07-01 17:24] dreilly1982 commented on #996
that worked great!  Thanks!

[2015-07-01 17:31] elabrc commented on #771
I'm having this same problem. I would like docker-machine to create the swarm-master without having it join the swarm as a node eligible for receiving containers. In fact I was sure this is how docker-machine worked in 0.2.0. However since upgrading to 0.3.0 this behavior seems to have changed. @vieux may have the best option for the moment.

I think this output below shows that it runs a 'join' c

[2015-07-01 17:39] thaJeztah commented on #996
@dreilly1982 is this issue resolved for you, or do you think changes to the documentation are still needed here?

[2015-07-01 17:47] dreilly1982 commented on #996
Now that I re-read the docs, I kind of feel dumb.  The only thing I would suggest is to clearly state in the docks that the engine is running on p2375 and the swarm is running on p4000 in the given examples.  More of a clarification than a correction.  Thanks so much for your help, both of you.

[2015-07-01 17:51] thaJeztah commented on #996
@dreilly1982 would you be interested in contributing and creating a pull-request to improve the documentation? Sources for the documentation can be found in the `/docs/` directory in this repository.

[2015-07-01 17:52] dreilly1982 commented on #996
yes, I can do that

[2015-07-01 17:53] thaJeztah commented on #996
:+1: that would be awesome! thanks so much in advance!

[2015-07-01 20:54] vieux commented on #1006
@

[2015-07-01 20:54] vieux commented on #1006
@mountkin can you open another PR to update the godeps ?

[2015-07-01 22:03] abronan commented on #984
Fixed by #1008

[2015-07-01 22:03] #984 closed

[2015-07-01 22:05] #899 closed

[2015-07-02 02:08] jimmyxian commented on #1005
@vieux  OK

[2015-07-02 03:23] mountkin commented on #1006
#1018  @vieux

[2015-07-02 04:45] #1006 closed

[2015-07-02 21:13] #1005 closed

[2015-07-02 21:15] vieux commented on #992
@sourav82 @pacaletx should be fixed with https://github.com/docker/swarm/pull/1017

[2015-07-02 21:16] #991 closed

[2015-07-02 21:18] aluzzardi commented on #981
Might already be fixed. Please try to re-produce

[2015-07-02 21:19] aluzzardi commented on #978
Thanks @ahmetalpbalkan

ping @amylindburg

Should we get rid of `ROADMAP.md` and just link to the wiki? It gets out of date pretty quickly

[2015-07-02 21:27] abronan commented on #981
Can't reproduce, fixed :+1:

[2015-07-02 21:27] #981 closed

[2015-07-02 21:28] aluzzardi commented on #951
+1

Explicit is better than implicit

[2015-07-02 21:31] aluzzardi commented on #946
Resolved in docker/docker

[2015-07-02 21:31] #946 closed

[2015-07-02 21:31] aluzzardi commented on #927
ping @vieux

[2015-07-02 21:33] aluzzardi commented on #918
[code]

You have to get rid of that first `INTEGRATION_IMAGE` - not sure how it ended up in your environment.

Try: `unset INTEGRATION_IMAGE`

[2015-07-02 21:34] aluzzardi commented on #912
Fixed!

[2015-07-02 21:34] #912 closed

[2015-07-02 21:47] thaJeztah opened #1021 "Lists don't render properly on filters page"
originally reported by @alvinr here: https://github.com/docker/docker/issues/14192

# Problem

See

![screen shot 2015-06-24 at 4 06 07 pm](https://cloud.githubusercontent.com/assets/336450/8367753/772a554c-1b56-11e5-83a4-39e841c3e4f7.png)

Looks like this should be a list but it is not formatted as a list. May be a generic issue across all lists - would need to be confirmed.

# Reproduce
See http

[2015-07-02 21:50] thaJeztah commented on #1021
I had a quick look at the source of this document, and I think the problem here is that there's no blank line before the list; there are actually a number of lists in the document that miss a blank line and are not rendered properly.

@alvinr are you interested in creating a PR to fix this? Or do you want me to create one?

[2015-07-02 23:55] amylindburg commented on #978
@aluzzardi How about if we make the ROADMAP.md higher-level -- so it does not go out of date quickly? You can state your broader goals, and then the Project Pages will give the details on how you are meeting these goals. Then the ROADMAP.md document will complement the Project Pages.

For example, one high-level goal is getting Swarm hardened so that it can be used in Production. The ROADMAP.md ca

[2015-07-03 00:09] ahmetalpbalkan commented on #978
Agreed on Amy's view + I'd like to see what the product is tackling in each sprint/release so people can try to help maintainers with those. I think this is something we already have in the roadmap, but a long term high level goal along with that would be nice.

[2015-07-03 04:10] jimmyxian commented on #927
@aluzzardi
It's a bug in dockerclient `PullImage` method. We should check the response status code, if 500, just return the error, not do json decode.

[2015-07-03 04:12] shykes commented on #735
Hi everyone, sorry for not being able to participate more (currently on
vacation) but please don't forget an additional parameter: that we should
start thinking of the docker daemon as a special case of the swarm daemon.

Both daemons perform the same fundamental task: orchestrate
various available resources (the "backends") through a standardized
frontend interface.

In the single-host daemon, th

[2015-07-03 15:22] ArmandGrillet opened #1023 "Handshake failure when using TLS"
I'm trying to make a simple configuration (one master, one node) using Docker Swarm over TLS.
Master's IP address: `192.168.42.21` and node's IP address: `192.168.42.22`, both virtual machines are on Debian with Docker 1.7.

Running Swarm without TLS is working on the virtual machines. My method to create a Swarm is to change `/lib/systemd/system/docker.service` in `node` to listen on `tcp://0.0.0

[2015-07-03 15:45] yoanisgil commented on #735
@shykes there quite a few interesting things in your comment:

- `docker daemon as a special case of the swarm daemon`: This will help a lot to unify Swarm's and Docker`s API into a single API. Both project's could greatly benefit from it since this could be refactored out into some sort of common lib (which might already by the case ;)). However I do think there is one thing to keep an eye on:  t

[2015-07-04 08:04] justinwatkinson commented on #992
Same issue - will keep an eye out for 0.4.0

[2015-07-04 19:52] jsipprell opened #1025 "Manager leadership election can fail when paired with Consul 0.5.2"
Using `swarm 0.4.0 (d0b0491)`, `docker 1.7.1-rc1` and `consul 0.5.2` w/ a multi-engine cluster that has two independent manager containers on different docker engines. Heartbeat and ephemeral timing are all unchanged from the defaults (20s and 60s, I believe).

If sufficient time passes (often > 30min or so) without a leadership change and the current primary manager is terminated, leadership elec

[2015-07-04 22:55] jsipprell commented on #1023
You're free to do things exactly as your prefer, of course, but if I might suggest something that could _potentially_ make your life much easier:

*Containerize certificate creation and deployment* (and, in the process, possible switch away from using openssl for certificate or CSR generation)

A good place to start is w/ the `ehazlett/cert-tool` container. Here's how I did it (from scratch):

* `

[2015-07-05 20:37] tony-spataro-rs opened #1028 ""No such image" error during build + push"
I'm using swarm to build images and push them to DockerHub. For some reason I'm unable to push after building, even though `docker images` shows my newly-built image. Adding a 10s delay between build and push doesn't seem to help.

@aluzzardi asked me to add some debug output to my build; I've got a [gist with failing build output](https://gist.github.com/tony-spataro-rs/a34fed2c404b7fef66b4).

[2015-07-06 07:55] vinaychatra commented on #607
Although this issue is closed, just want to mention the workaround I followed which solved the issue. I created my own wrapper swarm image with http proxies defined.

FROM swarm
MAINTAINER Name <email>
ENV http_proxy http://www-proxy.us.oracle.com:80
ENV https_proxy http://www-proxy.us.oracle.com:80

I then worked with the "wrapper" swarm image instead of the swarm image itself

[2015-07-06 08:16] YanXiaoping commented on #607
Hi,

Thanks for this information.

Br, Rip

From: ext Vinay Prabhakar [mailto:notifications@github.com]
Sent: Monday, July 06, 2015 3:55 PM
To: docker/swarm
Cc: Yan, Xiaoping (Nokia - CN/Hangzhou)
Subject: Re: [swarm] Cannot create a swarm (#607)

Although this issue is closed, just want to mention the workaround I followed which solved the issue. I created my own wrapper swarm image with http pro

[2015-07-06 09:55] ArmandGrillet commented on #1023
Thanks a lot for your extensive explanation! It doesn't work, when launching `swarm manage` it returns:
[code]
The weird thing is that I don't have launch `swarm join` on the node but it returns me this message! I removed all my containers on both the `master` and the `node` and tried again and it still returns me these messages.

[2015-07-06 10:21] Pensu commented on #918
@aluzzardi Hi, so I tried to run tests again with a fresh installation, and the API test is still failing:

'vagrant@vagrant-ubuntu-vivid-64:~/go.bld/src/github.com/docker/swarm$ sudo bats test/integration/
 ✓ container affinty
 ✓ image affinity
 ✓ label affinity
 ✗ api version
   (in test file test/integration/api_version.bats, line 23)
     `[[ $(echo "${lines[0]}" | cut -d':' -f2) == $(echo "${

[2015-07-06 10:49] vinaychatra opened #1029 "HttpProxy not showing up with GET /info"
My docker host is  behind a proxy. I have set up http_proxy as mentioned in the docs - https://docs.docker.com/articles/systemd/.
But this doesnt show up when I do a GET /info using the remote API.

"HttpProxy": "",
    "HttpsProxy": "",
    "NoProxy": ""

I am facing a problem similar to the one mentioned in
https://forums.docker.com/t/proxy-issue-in-swarm/1221

I am not able to start a container

[2015-07-06 14:49] aanm opened #1030 "Proposal: Decrease detection of engine_disconnect"
Is it possible to decrease the detection time of an engine?
I was testing the amount of time swarm would take until notices that a particular engine was down.
[code]
I shut down the node 1 engine a couple seconds after running the hello-world image so I assume it has a 20 minute time out to detect if a particular engine was down. Can't we put around 30 seconds or less?

[2015-07-06 19:10] aanm commented on #1023
@ArmandGrillet Be aware that it's a different error, I would assume that either:
 * Ports 2375 and 2376 aren't open on 192.168.42.22's firewall
 * Master can't reach 192.168.42.22

Did you try it without your using your TLS config?

[2015-07-06 19:12] aanm commented on #1025
@jsipprell how many "Unexpected response code: 500" do you see?

[2015-07-06 20:50] vieux commented on #1028
@tony-spataro-rs looks like it's a bug on swarm, we don't push all the tags. Right now to fix the issue please use `docker push rightscale/test1_service:experimental_didio`

[2015-07-06 21:13] aluzzardi commented on #1025
/cc @abronan

[2015-07-06 21:15] #974 closed

[2015-07-06 22:29] vieux commented on #927
@jimmyxian can you take care of this ?

[2015-07-06 22:38] #1029 closed

[2015-07-07 01:09] vieux commented on #1021
@moxiegirl

[2015-07-07 01:34] #949 closed

[2015-07-07 02:53] jimmyxian commented on #927
@vieux
Yeah

[2015-07-07 06:44] cloudfly opened #1037 "key used by master election do not use the given path prefix"
I want to start multiple swarm manager by using etcd.

eg.
[code]
the key used to elect master, is always `/docker/swarm/leader`, ignoring prefix `/myapp/swarm`

this is designed on purpose, or a negligence ?

[2015-07-07 08:07] jimmyxian commented on #1037
@cloudfly
Etcd used here has two purposes:
* Used for discovery serivice:  The path is user defined `etcd://127.0.0.1:4001/myapp/swarm`
* Leader Election: The path is const `const leaderElectionPath = "docker/swarm/leader"`

[2015-07-07 08:34] cloudfly commented on #1037
@jimmyxian
yes, I know.

same with `leaderElectionPath`, `discoveryPath` is also a const string in code.
[code]

swarm-0.3 changed the discovery path, it join with prefix, now use `/myapp/swarm/docker/swarm/nodes`.

but the `leaderElectionPath` not.

swarm-0.3 now write two place on my etcd. so uncomfortable.

[2015-07-07 08:47] jimmyxian commented on #1037
@cloudfly
Yeah, maybe we can use the same prefix.
ping @aluzzardi @abronan

[2015-07-07 15:54] abronan commented on #1037
I'm not in favor of using the same prefix for a simple reason: it can have a different meaning for both leader election and discovery. Using the leader election key with a `mydiscovery/` prefix does not make much sense in the context of leader election.

You might want to separate the key space for both mechanisms.

Right now we enforce it but a specific flag could be included for leader election

[2015-07-07 16:08] abronan commented on #1025
Thanks @jsipprell, I will try to reproduce. I think that in that case, the key stays locked forever and the session is not released properly which leaves all other instances unable to lock the key in return.

In the meantime I'm working on changes for the Consul default Lock that we are using for the Leader Election process so it can use custom Sessions and not default ones. This way we are in con

[2015-07-07 17:56] nathanleclaire commented on #1002
Careful not to duplicate `libnetwork` work here.  In the experimental overlay network stuff I've been toying around with, I recall an embedded serf being used for discovery already.  cc @mrjana @mavenugo for comment.

[2015-07-07 17:57] nathanleclaire commented on #990
What would be the benefit of this approach?

[2015-07-07 18:23] ehazlett commented on #990
It means we wouldn't have to expose the engine on TCP or worry about TLS
settings for it as well. It would also reduce the attack area as it's just
listening on the socket.

On Tuesday, July 7, 2015, Nathan LeClaire <notifications@github.com> wrote:

[2015-07-08 07:34] cloudfly commented on #1037
I think it's necessary for user to custom the prefix for leader election path.

It will be more convenient to manage the my path. I had save all my data under /my-cluster-name, and do not want anything outside of there.

[2015-07-08 09:17] ArmandGrillet commented on #1023
Yes it's working perfectly without TLS using the port 2375.

[2015-07-08 09:28] garagatyi commented on #694
Consider such situation (docker API is used) :

There is 2 nodes
* node1 with 3 GB RAM left
* node2 with 4 GB RAM left

User1 wants to run container with 2 GB from dockerfile. Layers are not cached yet on instances.
Swarm schedule build from User1 on instance1.
User2 wants to run container with 2 GB from dockerfile. Layers are cached already. And first build is not finished yet.
Swarm schedule bui

[2015-07-08 13:39] jsipprell commented on #1025
@aanm AFAICT, there is only a single "Unexpected response code: 500" per incident (per consul/swarm/docker engine anyway).

[2015-07-08 14:17] abronan commented on #1037
@cloudfly Yes I think it's necessary too, adding a new flag you can then specify the same prefix for `discovery` and `leader election` so you can keep those under the same key space.

[2015-07-08 18:44] vieux commented on #1037
@cloudfly @abronan I agree not the exact same prefix, but why not append `/leader` to the current path, so in your example it would become `/myapp/swarm/leader` so we don't have to use another flag.

[2015-07-08 22:08] abronan commented on #1025
@jsipprell Can you reproduce each time your run the cluster for a long time or is this occasional? I tried two times (using `master`) running the cluster for 2 hours and killing the current Primary would rightfully elect a new one. Could you try with the latest `master` and see if you can reproduce again? Thanks!

[2015-07-08 22:09] jossemarGT opened #1047 "Resolve domain names between containers"
Greetings!

I'm trying to make that certain containers resolve a domain name (which can't be wrote in the /etc/hosts because it has multiple subdomains) that points to other container, the easiest approach was to install dnsmasq in the host machine and use it, but, when we're talking about clustering (with swarm) I still trying to figure out what's the best way to accomplish the same task.

Does a

[2015-07-08 22:23] jsipprell commented on #1025
@abronan I'll rebuild from latest master and give it a shot.

Unfortunately, I've noticed there can be a very significant delay between occurrences. I just made it happen but it had been up for many hours w/out leadership change beforehand.

Here's a little more consul debug output context from right around the latest event:

Note that the session `5ea60f58-07c0-2024-858c-e6b8e731a6f` *did* show u

[2015-07-09 03:47] cloudfly commented on #1037
I do not know how others use swarm and etcd, here is mine.

My `etcd` serves several services, like swarm, calico and others. In order to seprarate  them,  I create `/myapp/swarm` for swarm-0.2, which used only by swarm.

but swarm-0.3 now write the leader key outside there, and can not be custom. I don't think it's a good design.

my opinion is, user give a prefix, then
- discovery use `<prefix>/

[2015-07-09 06:19] jsipprell commented on #1025
I am able to intermittently reproduce the issue, _even at short time intervals_, however I cannot reproduce it consistently.

Therefore, I suspect the issue is likely caused by a race condition in consul's session handling related to numerous other simultaneous activities, although it is very likely an _expected_ race condition.

The consul documentation strongly suggests that session validity is

[2015-07-09 07:23] aluzzardi commented on #1037
It should append the path to the prefix - if it doesn't, then it's a bug on
my side as this was the intended behavior.

On Wednesday, July 8, 2015, Victor Vieux <notifications@github.com> wrote:

[2015-07-10 17:44] #927 closed

[2015-07-10 23:43] arun-gupta commented on #598
Docs at https://docs.docker.com/swarm/install-w-machine/ say "A single system in your network is known as your Docker Swarm manager." How can multiple Docker Swarm managers be configured?

[2015-07-11 00:13] kacole2 commented on #705
i'm experiencing the same issue as @aku163.

I'm explicitly telling the two containers to run on a separate host by using the `affinity:container!=` flag. However, I'm receiving
[code]
when running the following commands:
[code]

I'm running swarm v0.3.0-rc2 and all hosts were provisioned using Docker Machine v0.3.0.

[2015-07-11 15:12] icycrystal4 commented on #1047
-dns

[2015-07-12 11:40] docteurklein commented on #1002
@nathanleclaire @aluzzardi I can confirm the usage of serf on the experimental branch.
I had to open the port 7946 to allow service discovery.
Now I can't tell who is doing this, but it makes sense for either libnetwork or swarm to do it.

[2015-07-12 22:22] abronan commented on #834
@ehazlett @tiborvass Any way we can reuse the work done in Machine and Docker regarding certs generation and usage here in Swarm? Probably making it a separate repository and using it consistently in every project?

[2015-07-12 22:28] rmg opened #1055 "handler for POST /containers/{name:.*}/exec does not preserve 201 status"
The docker remote API specifies that a 201 is returned on successful
creation of an Exec and a strict client will not accept that being
turned into a 200.

See https://docs.docker.com/reference/api/docker_remote_api_v1.19/#exec-create

An example of this causing a problem is the _de facto_ node client, [dockerode](https://github.com/apocas/dockerode).

[2015-07-13 01:27] ehazlett commented on #834
I'm a huge +1 for this :)

On Sun, Jul 12, 2015 at 6:22 PM, Alexandre Beslic <notifications@github.com>
wrote:

[2015-07-13 05:31] chanwit commented on #834
This would be super cool !!

Best regards,

-chanwit

--
Chanwit Kaewkasi
linkedin.com/in/chanwit

On Mon, Jul 13, 2015 at 8:27 AM, Evan Hazlett <notifications@github.com>
wrote:

[2015-07-13 13:11] tiborvass commented on #834
@abronan +1 on having a repo for this, although I'm not sure on the UX: expose it through machine, now swarm, tomorrow docker? I'm wondering whether it should be handled by notary or some libtrust cli. /cc @dmcgowan @NathanMcCauley

[2015-07-13 16:13] abronan commented on #743
closed by #971

[2015-07-13 16:13] #743 closed

[2015-07-13 17:56] jossemarGT commented on #1047
Thanks @icycrystal4 that's exactly what I'm doing, but, having it as container which changes its ip every up.

That made me try another approach like having a core service pod which also has the dns container and only expose the host IP which is fixed. Actually I can't afford to have an external dns because I'm attempting to do "development boxes" which has to run locally.

I'll leave this issue o

[2015-07-13 18:23] rafabene commented on #668
This issue also happens with me and doesn't get fixed after waiting a minute.

[2015-07-13 21:28] arun-gupta commented on #668
Checked again with 0.3.0 and still the same issue. Here is what is reported:

[code]

[2015-07-14 15:09] djenriquez commented on #668
+1, same issue. An issue is open on machine: docker/machine#1518, thanks @arun-gupta

[2015-07-14 15:11] djenriquez commented on #668
Maybe an easy question to answer: for now, how would we reattach our docker-machine nodes back onto the swarm?

[2015-07-14 17:51] #1055 closed

[2015-07-14 18:40] abronan commented on #668
@arun-gupta @rafabene this is actually a TLS certs issue, a parameter gets changed on reboot (can be the private IP of the node if you stop/restart) and the certs are not valid anymore for docker daemons, thus Swarm cannot connect and register the Agents anymore. This needs to be consistently handled for machine restart. Thanks for opening the issue on the `docker-machine` side :)

[2015-07-15 00:02] #1028 closed

[2015-07-15 03:00] liangsuno commented on #380
It's at /etc/docker/key.json

[2015-07-15 09:35] aluzzardi commented on #1025
ping @abronan

[2015-07-15 10:01] wayerr opened #1060 "Disable tls on token discovery with local token server."
We use swarm with local token discovery service (yes, we use undocumented feature):
`swarm manage token://<host>/swarm_token_discovery/<clusterId>`
But we need to setup TLS and import CA on each node with swarm, because ['https' is hardcoded](https://github.com/docker/swarm/blob/master/discovery/token/token.go#L38). In local network it is an extra work.

[2015-07-15 15:32] tony-spataro-rs commented on #1028
Woo hoo; thank you, sir! I'll build swarm from master and test later this week.

[2015-07-15 17:27] aluzzardi commented on #1060
Out of curiosity - why not using consul, etcd or zookeeper instead of reimplementing the token protocol?

As for the problem itself, why not using a properly signed TLS certificate on the token server?

[2015-07-15 17:27] aluzzardi commented on #1030
We could and should add a flag to do that.

/cc @vieux @abronan

[2015-07-15 18:01] wayerr commented on #1060
Our project already contains service discovery system, and in this case we can choice: reimplement token-based discovery, write plugin for swarm or port system to consul (etcd or zookeper). Of course we  chose most easy way.

Obtaining of a signed certificate is outside the scope of liability of developers. Now we use self signed certificate, but swarm distributed as docker image, and it does not

[2015-07-15 21:13] atomi opened #1061 "Unable to pull from localhost registry"
This works:

```docker `docker-machine config swarm-master` run -d localhost:5000/atomi/fullscale```

This does not work:

```docker `docker-machine config --swarm swarm-master` run -d localhost:5000/atomi/fullscale```

error is:
```Error response from daemon: invalid character 'i' looking for beginning of value```

Edit: this is with ```registry:2```
[code]

[2015-07-15 21:35] atomi commented on #1061
This error is due to some nodes not containing the localhost registry. Pulling the registry first solves my issue.

[2015-07-15 21:35] #1061 closed

[2015-07-15 22:41] markcartertm opened #1062 "Add Docker Login support for Swarm clusters"
AFAIK, Docker Swarm cluster are currently unauthenticated, which is a major concern for enterprise adoption, even in test and Dev environments.
Dpcler currently supports a docker login command, but the credentials are only used when accessing a Registry.
Can we reuse the existing Docker Login functionality to allow a Docker Swarm cluster driver to mandate user authentication for creating / Reading

[2015-07-16 04:14] #1037 closed

[2015-07-16 17:59] wrotki opened #1064 "Panic in Swarm Manager at (*Etcd).Watch call"
I ran 2 machine swarm  cluster (swarm version 0.3.0 (28cd51b)), using Etcd cluster management option overnight. The cluster initially works just fine, but then after some time (haven't determined how long yet - just started to dig in deeper) I start to  see the following panic happening very frequently (container runs with autorestart):

time="2015-07-16T04:03:35Z" level=info msg="Listening for HT

[2015-07-16 18:02] vieux commented on #1064
ping @abronan

[2015-07-16 18:10] abronan commented on #1064
Thanks for reporting @wrotki! This should be solved in the latest **master**. It happens that etcd might return a nil pointer for values during network hiccups and connectivity issues with the store. This has been fixed in docker/libkv#17.

[2015-07-16 18:12] wrotki commented on #1064
Super. Thanks - let me try with the latest then.

[2015-07-16 18:15] abronan commented on #1064
:+1:

[2015-07-16 19:18] sayash opened #1067 "Swarm panic on trying to create container through API"
Reporting a potential bug.

I'm sending a POST request to swarm to create a new container, but the socket closes abruptly for me, and when I check swarm logs, this is what I see:

[code]
After I restart swarm, it works fine.

The swarm has been created by docker-machine (v0.3.0), Docker engine v1.7.1, which is running the swarm image id - 446e413bd987.

[2015-07-17 08:05] dove-young opened #1070 "swarm create failed on Fedora 22"
Here is the swarm image
[code]
Here is the failing message
[code]

But docker daemon works well.

[code]

[2015-07-17 08:29] dove-young commented on #1070
I pulled swarm:0.3.0 and tried again on my laptop. It still failed.

[code]

[2015-07-17 18:05] #1021 closed

[2015-07-17 18:23] wrotki commented on #1064
My test setup has survived the night under low albeit constant load with swarm built from the recent master without nil pointer panics, so I think the fix mentioned earlier was the right one. Closing - thanks a lot!

[2015-07-17 18:23] #1064 closed

[2015-07-17 23:32] moxiegirl opened #1072 "Replace references to boot2docker with docker-machine"
`boot2docker` is replaced with `docker-machine` in 1.8 `boot2docker` is deprecated.

[code]

[2015-07-20 06:33] gdmurali opened #1075 "Docker Swarm usage"
Hi,

I am new to docker swarm.

First I followed instructions below to create cluster, swarm Manager and swarm Agent on one Host.
https://docs.docker.com/swarm/install-manual/
Every thing is fine.
I see one manager contaienr running and one agent container ( for a docker host ) running

versa@gdlxc2:~$ docker ps
CONTAINER ID        IMAGE               COMMAND                CREATED             STA

[2015-07-20 07:38] UserTaken commented on #1075
The discrepancy in the documentation is a [known issue](https://github.com/docker/docker/issues/14721) that should be fixed. The `swarm` image contains a statically linked `swarm` binary from [swarm-library-image](https://github.com/docker/swarm-library-image) which you can use outside of Docker.

[2015-07-20 11:37] gdmurali commented on #1075
Thanks for update.

[2015-07-20 11:39] gdmurali opened #1076 "REST API equivalent to swarm join"
Hi,

 I would like to add a Docker Host(Register it ) to Swarm Manager like below
./swarm join --advertise=10.192.14.181:2375 token://6fae3c32908e47c9daf43ca6e116747c

Above works fine when I use swarm binary.

I would like to know if REST API exists to do same ? to join a docker host to a cluster ?

Murali G D

[2015-07-20 14:16] bpradipt commented on #1070
@dove-young this seems to be duplicate of - https://github.com/docker/swarm/issues/781

[2015-07-20 15:46] abronan commented on #1070
@dove-young It is indeed a duplicate of the issue referenced in the comment above (thanks for spotting this @bpradipt). I'll close this one but feel free to continue the discussion in #781.

[2015-07-20 15:46] #1070 closed

[2015-07-20 15:51] bpradipt commented on #985
Hello @bfirsh, can you please share more details which might help to debug the issue. I have been unable to recreate it after multiple trials.
1. How the swarm cluster was setup - discovery mechanism?
2. Is the panic happening for any container that is unstarted ?
3. Are you able to use ps -a on the individual swarm members ?

[2015-07-20 17:40] vieux commented on #1076
Hi @gdmurali

yes, the doc is here: https://github.com/docker/swarm/tree/master/discovery/token#add-new-nodes-to-a-cluster

[2015-07-20 17:45] vieux commented on #985
@bfirsh do you still have the machine availalble ? Can you do a curl `/v1.19/containers/json?all=1` against the docker daemon and post it here ?

The issue looks like `container.Names`, we could add a check to prevent the panic, but I don't see how it could happen in the first place.

[2015-07-20 20:19] ahmetalpbalkan opened #1077 "Confusing "Not found" log statement in swarm manager"
I'm using swarm:0.2.0 (although it reproes in 0.3.0 as well) and for some reason `swarm manage` does not report any healthy nodes...

join command:

    docker run -d swarm --debug join --addr=10.0.0.7:2375 token://1d7a047bf4787c7bdcf4ff7c065dae46

manage command:

    docker run -d -p 5555:2375 swarm --debug manage token://1d7a047bf4787c7bdcf4ff7c065dae46

In the logs of `swarm manage` container

[2015-07-20 21:58] vieux commented on #1077
@ahmetalpbalkan maybe it's because swarm runs in a container.

You can `docker -H tcp://10.0.0.7:2375 ps` from the manager machine, but can you

[code]

?

[2015-07-20 22:00] ahmetalpbalkan commented on #1077
@vieux yep looks like it's for some reason about outbound networking... Creating a new set of VMs solved the issue. :+1:

Any ideas where the error might be coming through? It might be good to add some details or prefix it with the package name that returns it for further debugging perhaps?

[2015-07-20 22:03] vieux commented on #1077
the error is defined in dockerclient. We should update it so it's more explicit.

[2015-07-20 22:14] ahmetalpbalkan commented on #1077
hmm is it this: https://github.com/samalba/dockerclient/blob/917647f05ae67447538651120adcc14f79447108/dockerclient.go#L104-L106 if so it makes me wonder what was it that it actually responded fine but it was a 404. I just deleted the repro unfortunately.. :(

[2015-07-20 23:06] djmaze commented on #1067
Same here. Restarting `swarm-agent-master`helped.

docker-machine 0.4.0-dev, Docker engine 1.7.1 running swarm 0.3.0/446e413bd987.

[2015-07-20 23:11] abronan commented on #1067
Hi @sayash and @djmaze, thanks for reporting. Do you encounter this issue on a fresh swarm or after some time using it? Also, do you run any kind of specific configuration: using Replication on a multi-Master setup, etc.?

[2015-07-20 23:15] djmaze commented on #1067
Hi @abronan. This was a fresh swarm. Running a container failed on the first try. The agents were started before the master. No special configuration otherwise.

[2015-07-20 23:21] sayash commented on #1067
Hi, this was on a fresh swarm. Master was started before agents.

On Mon, Jul 20, 2015 at 4:11 PM, Alexandre Beslic <notifications@github.com>
wrote:

[2015-07-21 00:16] abronan commented on #1067
Can't seem to reproduce using the latest `master` and docker `1.7.1`. Could you provide with more details about the commands you are using? (`docker run` or `docker create` command). Also the inspect output of the container would help (on a single docker daemon).

Are you able to reproduce each time you are running your Swarm or just once in a while?

[2015-07-21 13:30] ndeloof opened #1079 "Swarm do disable limits when local host don't support them"
Running docker-swarm (installed by homebrew) on OSX with a docker host connected to the swarm cluster

[code]

Notice WARNING about memory limit support, which make sense as it run on OSX, not a Linux kernel

(minor) issue here : Total Memory is *0B* despite the Node total memory is well reported

Then run :
[code]

expected :
container run on swarm-agent-1 node with 512 memory limit set
docker in

[2015-07-21 17:42] ndeloof commented on #1079
This issue is already fixed in HEAD
https://github.com/docker/swarm/commit/2bf6c1a5298e5dfcdbdf081c515673930e71c81d

[2015-07-21 17:42] #1079 closed

[2015-07-21 18:08] imshashank commented on #374
Has this been fixed yet ?

On OSX I would do:
[code]

but this doesn't get applied to the docker-machine environment.

[2015-07-21 18:44] wrotki opened #1081 "Nil pointer dereference panic at cluster/swarm.(*Cluster).createContainer"
Running Swarm on two machines for a while (a couple hours, with a minor but constant load), I found the following nil pointer dereference panic in the logs. It looks like Engine.Create can return nil for an error, but also nil for a container -  it can happen when Engine.refreshContainer doesn’t pick up the newly created container, due to  a network hiccup perhaps.

Here’s the log (from swarm mana

[2015-07-21 18:46] wrotki commented on #1081
I'm preparing a Pull Request with a fix which I tested overnight on my swarm testbed.

[2015-07-21 22:02] eabay commented on #670
I got the same error when trying to create a container with the following config:

[code]

I changed the `Cmd` field to an array (`["/nsqlookupd"]`) and problem solved.

It doesn't return error from docker remote api whether the value is a string or an array of strings as documentation explains:

[code]

[2015-07-22 07:09] djmaze commented on #1067
@abronan: Sorry, can't inspect, as the misbehaving cluster does not exist anymore. I was just running `docker run hello-world` as shown in the documentation, but running other containers failed the same way.

I should add I created that (3 node) cluster with RancherrOS on the Vultr cloud using a development version of [Docker Machine with Vultr support](https://github.com/docker/machine/pull/958).

[2015-07-22 08:19] agsmorodin opened #1083 "containers on 'host down' amazon machine"
When I create a machine on amazon cloud, create a couple of containers on it and then terminate the machine using :
docker-machine rm swarm-01
I still see containers on swarm-master with remark 'host down':
2a3946288f05        nginx:latest   "nginx -g 'daemon of   17 hours ago        Host Down           443/tcp, 10.10.92.199:32768->80/tcp   swarm-01/dockermachine_worker_2

And it's not possible to

[2015-07-22 11:03] aanm opened #1084 "Create an experimental tag on dockerhub"
Is it possible to have a new tag called `experimental` so we can use the latest swarm binary? Thanks

[2015-07-22 16:05] wrotki commented on #1081
https://github.com/docker/swarm/pull/1082

[2015-07-22 16:23] abronan commented on #1067
Thanks for the info! It seems that there is an issue between Swarm and RancherOS then.

@sayash Are you using a similar setup? (using RancherOS?)

[2015-07-22 17:00] abronan commented on #1083
Hi @agsmorodin, this is a known issue if you are using `docker-machine` paired to swarm `0.2.0` or `0.3.0` using simple discovery methods (file, token, etc.). If you want your machines to be removed from your cluster, for now you have to use *Consul*, *etcd* or *Zookeeper* when provisioning your `docker-machine` cluster.

You can do that by first creating a Consul instance somewhere and the using

[2015-07-22 17:11] sayash commented on #1067
Hi Alexandre - I'm not using RancherOS - just Ubuntu, docker-machine to
spin up VirtualBox machines.

Thanks for your follow up, but unfortunately, I'll have to wait and see
when the bug comes back. While I could create a new swarm and try to
reproduce the bug - but my existing swarm is supporting a few applications
at the moment.

I'll post an update if I'm able to reproduce it again. Let me know

[2015-07-22 18:04] vieux commented on #1084
@aanm it's `dockerswarm/swarm:master` as of right now you cannot combine library images with automated builds /cc @tianon

[2015-07-23 03:09] sumitkgaur commented on #598
I believe this feature so far is just master failover (master HA) and not reached till multi-tenancy. Correct me if I am wrong ?

[2015-07-23 10:40] krmcbride commented on #985
I was seeing this issue consistently when I had `Dead` containers hanging out anywhere in the cluster.  I could `docker ps -a` on any individual node, see the dead containers and clean them up, and then everything was peachy again when talking to swarm.

I was getting dead containers from running Consul health checks and hitting https://github.com/docker/docker/issues/9665.

[2015-07-23 19:01] aanm commented on #1084
@vieux At least is something for debugging. Thank you :)

[2015-07-24 22:32] mpilant opened #1086 "How do I remove *all* the docker swarm information?"
I'm running an Ubuntu 14.04 LTS VM and I had installed Docker.  In the process of doing swarm testing I have managed to have a lot of old (obsolete) information from previous swarm incarnations.  I would like to remove it so I *know* there is no old information laying around which might cause problems (or confuse me :-)
I thought that by removing docker all the swarm information would be removed a

[2015-07-24 22:37] MHBauer commented on #1086
I'm just learning, but I think I know the answer to this.

The swarm tokens and the associated machines are stored on a server.

See here https://github.com/docker/swarm/tree/master/discovery/token

From what I understand, when using the token discovery service, you cannot do anything but add nodes. Which means you cannot remove nodes, or release the token.

[2015-07-26 20:56] ahmetalpbalkan opened #1088 "No retries when Consul is unreachable for watch and never participates to re-election"
I have three swarm manager nodes (deployed at nearly the same times) each of them spin up a `progrium/consul` container and a `swarm manage` container (using docker-compose). All this happens automatically. And these containers  have `restart: always`.

All containers come up successfully, however (probably) during bootstrapping of the Consul cluster, consul containers becomes sort of unavailable

[2015-07-26 21:43] ahmetalpbalkan opened #1089 "TLS authentication only for client→manager"
#question

Is there a way to set up TLS authentication only for client-to-manager communications and not manager-to-node? I already secured my slave nodes behind a firewall and only managers and peer nodes can talk to them. However I still need to secure client-to-manager auth.

Looking at the docs at http://docs.docker.com/swarm/install-manual/#tls, looks like it's not possible –it's either all o

[2015-07-27 03:17] ahmetalpbalkan opened #1090 "manage --rootdir argument is not documented"
The `--rootdir` argument below has no documentation. Looks confusing.

[code]

[2015-07-27 06:30] thaJeztah commented on #1090
Interested in making a PR? :smile:

[2015-07-27 06:30] ahmetalpbalkan commented on #1090
I'm not sure what it is abou @thaJeztah  :)

[2015-07-27 06:35] thaJeztah commented on #1090
Ah, ok, apologies in that case, I thought you did :+1:

[2015-07-27 07:24] abronan commented on #1088
Hi @ahmetalpbalkan, thanks for reporting back the issue. There is already a PR: #1078 to fix this :)

This also looks like a duplicate of #1025.

[2015-07-27 14:38] ahmetalpbalkan commented on #1088
Ah neat, feel free to close.

[2015-07-27 16:41] #1088 closed

[2015-07-27 18:44] ahmetalpbalkan opened #1091 "Multiple IPs to consul:// silently discarded"
Followup to https://github.com/docker/swarm/pull/1087#issuecomment-125299274:

`swarm join --help` (v0.3) documents that `consul://<ip>/<path>` is the schema for consul discovery backend; however when multiple IPs are passed, they are silently discarded and `swarm join` keeps running by using the first IP addr and discarding others.

Not giving any error actually is misleading and `join` should fa

[2015-07-27 22:52] moxiegirl commented on #1072
ping @vieux @aluzzardi this needs to go into the 1.8 content

[2015-07-27 23:01] abronan commented on #1072
Just mentioning *Docker Toolbox* is a little bit confusing, this should be more specific and mention `docker-machine` directly (just trying to think as a new user of Docker and Swarm, I would google Docker Toolbox and find unrelated things instead). Or could this be a link to `docker-machine` releases maybe?

[2015-07-27 23:17] MHBauer commented on #1072
I can say that as a someone new to docker & swarm, and on osx; I do not know what /Docker Toolbox/ is. If there's a plan to completely describe that somewhere, it should be fine.

I did have a very easy time using `docker-machine` to create a swarm and run some workloads on it. So far so good on that front.

[2015-07-28 00:41] moxiegirl commented on #1072
@abronan @MHBauer  Docker Toolbox is the name of the new installer for Windows and Mac.  It will have an explicit mention in the installer guide where that is appropriate in docker/docker.  For the Swarm material I'll be doing a PR shortly to replace the references to the boot2docker in the install-w-machine.md file.

[2015-07-28 01:33] abronan opened #1093 "Swarm panics on Engine refreshContainer after TTL node expiration"
When testing the backend KV failure mechanism and trying a simple `docker run` after a recover, swarm eventually panics on `refreshContainer`. There seems to be a race when the TTL of a node expires after the recovery process and the `refreshContainer` is triggered while the Engine is being removed.

The (reduced) output:

[code]

[2015-07-28 01:37] abronan commented on #1072
@moxiegirl OK thanks for clarifying :+1:

[2015-07-28 01:39] #1072 closed

[2015-07-28 01:40] moxiegirl commented on #1072
np. Toolbox is moving fast so it is hard to keep up. :-)

[2015-07-28 05:18] ahmetalpbalkan opened #1094 "Using TLS gives "TLS handshake error ... EOF" in logs"
#question

I am using the same TLS certificates `<ca.pem,cert.pem,key.pem>` in all Docker engines serving as swarm nodes and all containers running the swarm manager.

Swarm cluster functions just fine, I can create containers that gets sprayed across nodes. However, I'm seeing errors like the following in the `swarm manage` logs:

    http: TLS handshake error from 168.63.129.16:57546: EOF

I rea

[2015-07-28 10:48] aanm commented on #1091
I honestly thought this would only work with 1 IP.

[2015-07-28 19:46] mpilant opened #1095 "Docker swarm not working on Microsoft Azure"
I'm trying to get Docker Swarm running on Azure and it seems to be "half" working.  By this I mean I can create the swarm, join all the nodes to the swarm, manage/start the swarm, and the IP/ports show up correctly with "swarm list".  However when I do an "info" to the swarm manager port, on the system running the swarm manager, the manager reports no nodes.
I'd try to look in the log files, but I

[2015-07-28 19:53] mpilant opened #1096 ""Oversized record" error on Microsoft Azure trying to get swarm info"
I'm trying to remotely get the swarm manage information using the command:
    docker --tls -H tcp://thesystem.cloudapp.net:2375 info
This command fails with an "oversized record received with length 20527".
The local system is Ubuntu 14.04 LTS running the docker 1.71 client.  The (Azure VM with the Docker VM extension) remote system is also Ubuntu 14.04 LTS reporting version 1.7.1 for the client

[2015-07-28 21:27] dockermikeg opened #1097 "Swarm commands should error out if token flag does not contain "://""
The "--swarm-discovery token://<token>" option should error out if the user does not specify "token://".

I have watched two people complete the Swarm "Getting Started" guide, and both specified "token:flkajdkasdl" instead of "token://flkajdkasdl".

For both cases, the individuals were confused by the documentation, and thought the '//' meant that the token value was a comment.  They didn't realiz

[2015-07-28 21:50] MHBauer commented on #1097
I think that's a flag for `docker-machine` and not swarm, but swarm also gets passed tokens.

[2015-07-29 03:56] harishjayakumar opened #1100 "Container names in description and example don't match"
https://docs.docker.com/swarm/scheduler/filter/
Under container affinity  , the description goes " For example, you can start a container called frontend running nginx:" but the shell prompt below creates a container called front. It should be frontend. The rest of the example continues with frontend, so its a bit confusing. The command should be changed from:
$ docker run -d -p 80:80 --name front

[2015-07-29 13:41] iqbalmohomed commented on #229
Hello ... we're able to reproduce this error fairly consistently when doing deletions on a swarm with a large # of containers (750 was the starting point). The deletions work for a bit and then swarm crashes with a similar error to that listed in the original issue. Using the latest version of swarm packaged in a container ...

root@vizio-devswarm-cont:~/gocode/src/orion/authproxy# docker $S info

[2015-07-29 13:42] iqbalmohomed commented on #229
Here is the crash log:

time="2015-07-29T13:27:05Z" level=info msg="Listening for HTTP" addr="0.0.0.0:2377" proto=tcp
time="2015-07-29T13:27:06Z" level=info msg="Registered Engine vizio-devswarm-host1 at 10.120.39.41:2375"
time="2015-07-29T13:27:06Z" level=info msg="Registered Engine vizio-devswarm-host2 at 10.120.39.34:2375"

time="2015-07-29T13:29:37Z" level=error msg="Unable to update state of

[2015-07-29 16:48] abronan commented on #1096
Hi @mpilant, it looks like you didn't set up TLS correctly on your Swarm Agents and your Manager.  Docker uses port `2376` for SSL so make sure that your Swarm agents have their docker daemons properly configured for secure communication (The docker documentation has an extensive part on configuring the daemon to use SSL). There are also a lot of resources to configure Swarm with TLS.

If you stil

[2015-07-29 16:49] abronan commented on #1095
Hi @mpilant, both issues (with #1096), look like you are not configuring TLS correctly thus the Manager cannot contact the Swarm Agents and get back informations to list those nodes in `docker info`.

[2015-07-29 17:08] mpilant commented on #1096
Hi @abronan .  At the moment, I have Docker configured to use TLS, and I can it to remotely interact with the individual nodes without any problems.  So I believe it is configured properly.  The problems seem to be with trying to set up a swarm.  This is one area where the documentation I have found (from Docker, Microsoft, etc.) is really pretty poor.  Almost all is really good at describing the

[2015-07-29 17:10] mpilant commented on #1095
Hi @abronan. At the moment, I have Docker configured to use TLS, and I can it to remotely interact with the individual nodes without any problems. So I believe it is configured properly. The problems seem to be with trying to set up a swarm. This is one area where the documentation I have found (from Docker, Microsoft, etc.) is really pretty poor. Almost all is really good at describing the comman

[2015-07-29 17:10] MHBauer commented on #1100
This is already fixed by a65766e6862279245ea26ce6a300e96ddbd56446

[2015-07-29 17:20] abronan commented on #1096
Thanks for the info,

Yes! Our documentation is pretty poor on this side but we expect to make it evolve soon enough to explain how to setup everything manually.

Regarding your issue, it's hard to pinpoint what might be problematic but this is definitely your Manager that cannot contact your Swarm Agents due to TLS configuration. The set of commands to get it working is non trivial so not sure at

[2015-07-29 17:38] ahmetalpbalkan commented on #1096
@mpilant we are working on amln Azure Resource Manager Template that would allow you to create swarm clusters with one click and we're hoping to write tutorials / shoot videos about it... Sorry fo the confusion in this area, this is all new cutting edge tech and I also agree we don't have very comprehensive docs at this area. In fact Azure docs were written quite a long time ago when Swarm first c

[2015-07-29 18:29] mpilant commented on #1096
@abronan Regarding port usage, could you help me understand the (port) relationship of "plain" Docker with swarm?  From what I can see from the documentation, for "plain" docker, port 2376 should be used when secure (TLS) communications are needed and 2375 should be used when security is not a concern.  Is this correct?

Now for swarm.  It would seem to make sense two ports would be needed: one fo

[2015-07-29 18:31] mpilant commented on #1096
@ahmetalpbalkan Templates are nice, but do little to help understand what is really going on; unless accompanied by good documentation.  Understand what is really going on is very useful when something goes wrong; you have a better idea of where to start looking.

[2015-07-30 01:19] aluzzardi commented on #660
The implementation we have internally uses PostgreSQL. consul/etcd/zookeeper are as simple to setup.

[2015-07-30 01:19] #660 closed

[2015-07-30 01:20] aluzzardi commented on #676
This is probably outside of the scope of Swarm (at least for now).

Swarm and Machine provide the APIs so that anyone can build a feature such as auto-scaling on top of them.

[2015-07-30 01:20] #676 closed

[2015-07-30 01:21] #748 closed

[2015-07-30 01:22] aluzzardi commented on #731
Closing due to inactivity.

[2015-07-30 01:22] #731 closed

[2015-07-30 01:28] aluzzardi commented on #496
Duplicate of #404

[2015-07-30 01:28] #496 closed

[2015-07-30 01:28] aluzzardi commented on #494
Duplicate of #404

[2015-07-30 01:28] #494 closed

[2015-07-30 01:29] aluzzardi commented on #761
I see what you mean - basically how to update an image on a particular host?

[2015-07-30 01:30] aluzzardi commented on #806
@aanm The `affinity` is not required anymore in `master` (and on the upcoming `0.4.0`) thanks to a PR by @jimmyxian

[2015-07-30 01:30] #806 closed

[2015-07-30 01:33] aluzzardi commented on #972
Up :)

[2015-07-30 01:34] aluzzardi commented on #826
ping @dmp42

[2015-07-30 01:36] aluzzardi commented on #907
@vbichov Sorry for the late response - could you please submit the code or at least some kind of mini proposal (an issue on github explaining a possible solution would be enough).

Thanks!

[2015-07-30 01:36] #929 closed

[2015-07-30 01:37] aluzzardi commented on #741
ping

[2015-07-30 01:37] aluzzardi commented on #608
@sayash Did you have a chance to try with `0.3.0`?

[2015-07-30 01:38] aluzzardi commented on #786
So this is related to parallel scheduling which we are going to address in the next release

[2015-07-30 01:40] #996 closed

[2015-07-30 01:42] aluzzardi commented on #966
Thanks @jimmyxian :)

This is super interesting

[2015-07-30 01:45] aluzzardi commented on #705
/cc @mavenugo

Currently, linking can only be done on the same machine. `--link` and the `affinity` are conflicting on each other

[2015-07-30 01:48] aluzzardi commented on #1075
Thanks @gdmurali

This is a dupe of #722

[2015-07-30 01:48] #1075 closed

[2015-07-30 01:49] aluzzardi commented on #1097
/cc @ehazlett @nathanleclaire

[2015-07-30 01:53] aluzzardi commented on #1089
Good question. The reason we made that call was to avoid flag *explosion*.

TLS flags are already bad as it is (`--tls --tlscacert --tlscert --tlskey --tlsverify`) and we wanted to avoid duplicating those and ending up with 10 different flags (`--tls-client-cert`, `--tls-server-cert` and so on).

Thoughts?

[2015-07-30 01:55] kacole2 commented on #705
I should have updated this... I read about cross-host networking being experimental. Will be looking forward to that being stable

[2015-07-30 02:37] nathanleclaire commented on #1097
Fixed in : https://github.com/docker/machine/pull/1606 thanks @hairyhenderson!

[2015-07-30 02:40] #1097 closed

[2015-07-30 04:00] moxiegirl commented on #741
Thanks for the ping @aluzzardi .  I'll work on this Thurs/Friday this week.

[2015-07-30 04:10] arun-gupta commented on #660
Is there a contract that needs to be honored by these services?

[2015-07-30 06:43] laktak opened #1105 "swarm list does not see other nodes on one node"
I've set up a cluster with three nodes, each running consul and swarm.

When I run `docker run --rm swarm -l debug list consul://10.246.246.173:8500/swarm` one node (10.246.246.174) will only see itself:

[code]

while the others see all:

[code]

Notice that one says `Initializing store service` while the others do not.

When running `curl http://10.246.246.173:8500/v1/kv/swarm?recurse\&pretty` I

[2015-07-30 06:53] sayash commented on #608
Hey - I did try switch to 0.3.0 a couple of weeks ago and I don't see this error anymore.
I should've updated the thread - my bad!

[2015-07-30 10:30] vbichov commented on #761
@aluzzardi Yes, but not just a particular host! **the host that is going to run your container**.
You do no possess this information, even if you could pull on a specific host, (which you must be able to do, or Swarm is not scalable and therefore cannot be used) if you use "docker pull" and "docker run" separately, it is conceivable that the host where the image was pulled on, and the host where i

[2015-07-30 11:44] vbichov opened #1106 "Proposal: Use Swarm place holders to supply target host and port to Docker run"
## Overview

Some (many?) containers must know at **docker run** time, what is the hostname/port of the host they are running on.

Apps that explicitly expose their IP for other apps for example. Many clustered applications / DBs do this, as well as Consul-registrator, Consul-template etc.

**example**:

[code]
## Problem

When using Swarm, one does not know the target hostname/IP because the targ

[2015-07-30 11:47] vbichov commented on #907
@aluzzardi NP, thank you for getting back to me, your help is greatly appreciated.
I've written some stuff down: https://github.com/docker/swarm/issues/1106
sorry for the ugly markdown.

[2015-07-30 14:50] eric-nuaa opened #1108 "Failed to build swarm with latest code in master and even release package"
Hi,

I tried to build swarm with its latest code in master, but it failed:
[code]

Then I tried to download v0.4.0-rc1, v0.3.0 and built, but failed too with the same error. So far the only one I can build successfully is v0.2.0. But I want to try the latest features of swarm.

Can anyone help? How can I build latest swarm code?

Thanks!

[2015-07-30 15:05] mpilant commented on #1095
Update: I have managed to create a Docker swarm on a bunch of VMs, not on Azure.  I did this mainly to make sure I could in fact deploy a working swarm.  The major difference is my local deployment did not use TLS/certificates for communications where the Azure Docker VM extension does.

Attempting to replicate the deployment, so far, has met with failure.  But, it does appear to be certificate re

[2015-07-30 16:48] abronan commented on #1108
Hi @eric-nuaa, do you still have this error with `godep go install ./...`?

[2015-07-30 16:52] abronan commented on #907
@vbichov Thanks for following up on this, apologies for missing your comment. We'll jump to your proposal ;)

[2015-07-30 17:15] dmp42 commented on #826
Thanks @aluzzardi
cc-ing @docker/distribution-maintainers for the record.

[2015-07-30 17:19] aanm commented on #806
@aluzzardi Thanks for the heads up! Can you tell me the PR number?

[2015-07-30 17:33] chanwit commented on #826
@aluzzardi @dmp42 it seems you've got some moves on this topic. Let me know if I can be any help.

[2015-07-30 17:37] vieux commented on #1105
@laktak are you sure you are using the last version of swarm on all you nodes ? maybe you need to docker pull swarm on node 10.246.246.174

[2015-07-30 17:42] aluzzardi commented on #806
Proposal is #743 and implementation #971

[2015-07-30 17:47] abronan commented on #1105
Hi @laktak, as @vieux suggested, can you check the version of the swarm image on the first node? It seems that the first node is not `latest` thus it is affected by a bug that has been fixed while other nodes are fine because they use the most recent version. Just a guess but let us know if this is the case :smile:

Same goes about your agents, try to pull the `latest` swarm image or the latest `r

[2015-07-30 17:56] stevvooe commented on #826
We are working on this as a part of the Distribution Working Group. The "platform" label is a common proposal but it has a number of drawbacks. In particular, ARM has a lot more variation than can be represented in a single label. We've discussed the notion of a "variant", "endian" and "abi" to correctly index different architectures.

Here is a similar discussion over at opencontainers: https://g

[2015-07-30 18:17] vbatts commented on #826
Is having the byteorder in there an _immediate_ requirement?

[2015-07-30 21:46] #484 closed

[2015-07-30 21:59] laktak commented on #1105
@vieux @abronan Sure enough I forgot to pull. Not sure how I missed that, sorry for wasting your time. After doing that and clearing consul, everything is now working. Thanks!

[2015-07-30 21:59] #1105 closed

[2015-07-30 22:31] FreedomWangLi commented on #1108
Hi @eric-nuaa, What is the version of golang you used  to build? I also meet this issue yesterday, and I have fixed this issue in patch https://github.com/docker/swarm/pull/1107, you can refer it to have a try again.

[2015-07-30 22:35] abronan commented on #1105
@laktak No worries, glad it works now. Let us know if you run into any trouble with the latest `rc` ;)

[2015-07-30 22:56] alvinr opened #1110 "Better message when Hub throws an error - in this case Hub was rate limiting requests"
# Problem
If I do a pull from a single host when Hub is rate limited you get the following message

[code]

However, if you are pointing at a swarm cluster you get the following
[code]

# Solution
Ensure that the error gets propagated back to the user

# Environment

[code]

[code]

[code]

[2015-07-30 23:14] aluzzardi commented on #608
Awesome - thanks!

And thanks @jimmyxian, I believe you fixed this issue.

[2015-07-30 23:14] #608 closed

[2015-07-30 23:15] aluzzardi commented on #1110
Thanks @alvinr !

[2015-07-30 23:17] aluzzardi commented on #1110
ping @vieux

[2015-07-30 23:20] aluzzardi commented on #761
Got it.

The workaround for now would be to run `docker pull` against Swarm - it will pull on **every** host (therefore including the host that is going to run your container).

But I agree that we need to find a real solution. Perhaps having a swarm specific flag (`-e repull`) or maybe a Docker flags (`docker run --pull`)

[2015-07-30 23:28] aluzzardi commented on #1106
Thanks @vbichov for this.

I'm wondering if we can find a higher level solution - there are some ongoing efforts in Docker to provide service discovery (/cc @mavenugo @icecrime).

Perhaps, with service discovery, a container such as `registrator` could self-discover its network address.

[2015-07-30 23:32] mikedougherty commented on #761
I don't know if this is the right place to pile on, but a option for the engine (which would get exposed via swarm) to force a pull before running would be very helpful in some situations. +1

[2015-07-31 00:22] aluzzardi commented on #761
Actually, there is a better workaround.

1. If possible, rely on tags rather than `latest` when scheduling a container (as in, instead of running `redis`, run `redis:3.0.3`). That way you will be sure that the underlying host will pull the right tag before creating the container
2. Docker supports addressing the content with a digest. You can schedule a container with the exact image you want and

[2015-07-31 02:30] jimmyxian commented on #1108
@eric-nuaa
You have to upgrade golang to 1.4 in you environment.

[2015-07-31 18:03] abronan commented on #1096
@mpilant

Yes.

For the Swarm Manager, it is configured in both Client and Server mode because it acts both as a client (communication with remote docker daemons) and a daemon (to serve requests from docker cli clients or other docker API compatible libraries). The port of the Manager is specified (no real convention here) when you first run it with:

`swarm manage -H :4000 [...] <cert-flags> <dis

[2015-07-31 20:29] dhiltgen opened #1113 "Establish well defined cert dir and detect certs automatically"
To simplify standing up swarm, it would be nice if swarm had a well known dir it looked for certs in and if present, used them automatically.  This could then be volume mounted in the container to make it easier to get a swarm up and running.

I don't have a strong opinion on the exact path, but perhaps something like /etc/docker/ssl with well known filenames like ca.pem, cert.pem, and key.pem

[2015-07-31 22:57] vieux commented on #611
This was implemented server side, time to close for good.

[2015-07-31 22:58] #611 closed

[2015-08-02 06:36] vbichov commented on #1106
@aluzzardi I hope this will help.
We've been using it, and it really made a difference for us.
(may not be pretty, but it made the issue just go away.)
I'm unaware of any Docker native service discovery efforts, I would be happy to hear more about that.

[2015-08-02 07:32] vbichov commented on #761
@aluzzardi either one of the flags you've suggested would be awesome!
(the workaround would work - of course , but may be tricky to *pull* off under certain circumstances... )

[2015-08-02 14:13] vbichov commented on #601
Is scaling a planned feature? just select the top "-e constraint:scale=[number]" hosts from the list returned by the scheduler and run? (and apply pigeonhole principle?)

[2015-08-03 09:15] spiderpug commented on #1067
I encountered the same thing I guess:

- started a new virtualbox with docker-machine  --swarm --swarm-master and so on ("swarm-master")
- started consul server on a different node
- started swarm-node-1 with docker-machine (with the same swarm discovery settings)
- restarted swarm-node-1 machine
- ran `docker run something`

This is the log output:

    time="2015-08-03T08:48:11Z" level=info msg=

[2015-08-03 13:49] eric-nuaa commented on #1108
Thanks @FreedomWangLi , the steps in your patch works good for me :+1:

[2015-08-03 13:49] #1108 closed

[2015-08-03 14:12] Gouthamve opened #1114 "Swarm crashes on ID duplication"
I don't know if this is the standard behaviour, but swarm crashed when I stopped a swarm node and rejoined it using a different port.

Complete log here: http://pastebin.com/tU371aRA

I was trying to get swarm working with weave networking proxy. So I stopped a node and rejoined immediately like this:

[code]

And then swarm manager crashed with: ```panic: runtime error: invalid memory address or

[2015-08-03 15:00] abronan commented on #1067
Thanks for the feedback @sayash and @spiderpug.

Trying to find some common ground, @sayash did you restart one of the Swarm Agent somehow during the process? (which can explain why you cannot reproduce now if you have a fresh cluster)

There are a few Open Issues in `docker/machine` with the Swarm Agent restart process (see docker/machine#1518, docker/machine#806).

Seems like what happened is th

[2015-08-03 16:39] moxiegirl commented on #831
Closing per @abronan

[2015-08-03 16:39] #831 closed

[2015-08-03 17:39] wrotki commented on #1081
The fix was merged, closing

[2015-08-03 17:39] #1081 closed

[2015-08-03 18:36] vieux commented on #1114
Thanks for the report @Gouthamve we will fix this asap.

[2015-08-04 11:43] mountkin commented on #1067
The `cluster.createContainer` should not return nil on this line https://github.com/docker/swarm/blob/master/cluster/swarm/cluster.go#L141.
I opened a PR https://github.com/docker/swarm/pull/1115 to raise an error when the scheduled engine get removed.
But I'm not sure whether the PR can fix this issue.

[2015-08-04 18:52] #982 closed

[2015-08-04 18:58] abronan commented on #983
Closed via #1078

[2015-08-04 18:58] #983 closed

[2015-08-04 19:01] abronan commented on #1025
Closed by #1078

@jsipprell Let us know if you still have an issue with Consul and feel free to reopen an issue if this is the case. Now no matter which one of the store you are using, it should retry after some time (on Lock failure, etc.).

[2015-08-04 19:01] #1025 closed

[2015-08-04 22:30] #1110 closed

[2015-08-04 23:50] aluzzardi commented on #985
ping @bfirsh

[2015-08-04 23:51] aluzzardi commented on #891
ping @abronan

[2015-08-04 23:52] aluzzardi commented on #657
ping @vieux

[2015-08-04 23:54] aluzzardi commented on #1091
ping @abronan

[2015-08-05 00:02] aluzzardi commented on #992
Fixed in master.

@justinwatkinson @pacaletx @sourav82 Could you please try with `swarm:0.4.0-rc1`?

Thanks

[2015-08-05 00:02] #992 closed

[2015-08-05 00:04] aluzzardi commented on #988
Thanks @vandita31

This is planned for `0.5.0` and is a duplicate of #404

[2015-08-05 00:04] #988 closed

[2015-08-05 00:06] aluzzardi commented on #972
We could reproduce with etcd in proxy mode:
https://github.com/coreos/etcd/blob/master/Documentation/proxy.md

[2015-08-05 00:07] aluzzardi commented on #952
@chanwit Want to take care of this?

[2015-08-05 00:15] aluzzardi commented on #834
@tiborvass Agreed.

ping @NathanMcCauley @diogomonica

[2015-08-05 00:19] #694 closed

[2015-08-05 00:19] aluzzardi commented on #694
Thanks @jimmyxian

[2015-08-05 00:22] aluzzardi commented on #694
Unfortunately, there's no way to do that.

Keep in mind that supporting `docker build` in Swarm is a "gimmick" and we encourage to push images to a registry before running in the cluster

[2015-08-05 00:24] aluzzardi commented on #1067
Duplicate of #670

[2015-08-05 00:25] aluzzardi commented on #668
I'll close this since it appears to be a machine issue. Please re-open if something needs to be fixed on swarm side

[2015-08-05 00:25] #668 closed

[2015-08-05 00:26] #632 closed

[2015-08-05 00:30] aluzzardi commented on #475
@rachit1arora The issue should now be fixed. Can you try to reproduce?

[2015-08-05 00:31] aluzzardi commented on #374
ping @vieux

[2015-08-05 00:33] aluzzardi commented on #1100
Fixed in #959

[2015-08-05 00:33] #1100 closed

[2015-08-05 00:38] aluzzardi commented on #1090
Indeed :) I think we are going to deprecate it soon enough.

[2015-08-05 00:38] aluzzardi commented on #1089
ping @ahmetalpbalkan

[2015-08-05 00:39] aluzzardi commented on #1086
@MHBauer: Nodes are going to disappear after a while when you stop `docker join` (after the TTL which by default is 60 seconds I believe)

[2015-08-05 00:39] #1086 closed

[2015-08-05 00:39] aluzzardi commented on #1086
@mpilant Does that solve the issue?

[2015-08-05 00:40] aluzzardi commented on #1084
ping @tianon on library + automated builds

@aanm As @vieux mentioned, we have `dockerswarm/swarm:master` plus release candidates (`swarm:0.4.0-rc1`) and that's pretty much all we can do so far.

[2015-08-05 00:40] #1084 closed

[2015-08-05 00:41] aluzzardi commented on #1083
Hi @agsmorodin, this should work now with the latest swarm.

Please let us know if it doesn't

[2015-08-05 00:41] #1083 closed

[2015-08-05 00:51] aanm commented on #1084
@aluzzardi I thought I had close this. `dockerswarm/swarm:master` is good enough for me, thanks :-)

[2015-08-05 02:00] diogomonica commented on #834
Libtrust already has some of the mechanics required for this. We should absolutely have it one one place instead of all over the place, and the idea of generating certificates automatically seems like the right one.

[2015-08-05 03:40] sourav82 commented on #1114
Same here but noticed only for Swarm (0.4.0-rc1) with TLS.

Looks like it crashes while handling events for register/de-register nodes from Swarm cluster. Below is the log for this case -

[code]

[2015-08-05 06:32] #1091 closed

[2015-08-05 09:12] hsubram1 commented on #927
Hello All, i am still facing this issue where i have a created a generic driver for Ubuntu box and created a swarm cluster.

When i am trying to pull the docker images either via docker-compose or manual docker pull from a private registry; i get the invalid character 'i' looking for beginning of value  error and as a result the image pull fails.

If i perform the same operation in a non-swarm env

[2015-08-05 09:14] hsubram1 commented on #927
Forgot to mention, i used the docker-compose version 1.4.0rc3 and docker swarm version 0.4.0-rc1

[2015-08-05 09:20] jimmyxian commented on #927
@hsubram1
Can you provide a reproducible use case? :)

[2015-08-05 09:30] hsubram1 commented on #927
Steps to reproduce:

1. Setup a private Docker Registry
2. Have a few images deployed
3. From another docker host machine, connect to the registry
4. Now, run the below commands
            docker pull swarm:0.4.0-rc1
            swarmid=$(docker run swarm create)
            docker-machine create -d generic --generic-ip-address <IP1> --swarm --swarm-master -- \
                     swarm-discover

[2015-08-05 09:42] jimmyxian commented on #927
@hsubram1
Also, Can you provide docker damon debug info, just like this https://github.com/docker/swarm/issues/927#issuecomment-111630420 , maybe we can find something useful.

[2015-08-05 09:49] hsubram1 commented on #927
I have just repurposed that system and dont have it now.

[2015-08-05 10:16] bfirsh commented on #985
Unfortunately haven't got the machine still available, happy for this to be closed.

Though generally, Swarm probably shouldn't panic given malformed API responses from the Engine. Perhaps this error could have been caught somewhere?

[2015-08-05 12:25] chanwit commented on #952
@aluzzardi  no problem. I'll do it.

[2015-08-05 12:31] chanwit commented on #952
I don't want to add an extra dependency for the sorting algorithm.
@skarademir would you mind if I'll grab your codes of `naturalsort` and put into a PR?

[2015-08-05 12:34] cpuguy83 opened #1121 "CLI freeze with `-it`"
I ran into an issue with a 3-node swarm (1 in DO, 2 in Vbox, master was in vbox) setup via docker-machine.
Basically doing a simple `docker run -it --rm debian:jessie` and then trying to exit caused the docker CLI to completely freeze, couldn't ctrl-c or anything.
Had to `kill -9` the docker client from another terminal. Upon doing this that terminal the client was using was fubar'd as well.
Once

[2015-08-05 16:12] ahmetalpbalkan commented on #952
@chanwit it should be ok as long as we vendor rather than copy/paste.

[2015-08-05 17:36] ahmetalpbalkan commented on #1089
@aluzzardi looks like this choice is not bad at all and looks like it's serving fine. However I think for someone who only wants to secure the cluster frontend (i.e. managers), maybe we can have a way to disable the manager&rarr;node TLS communication with a flag like `--disable-nodes-tls`? (I'm pretty sure someone else come up with a better name)

[2015-08-05 17:39] mpilant commented on #1095
Well, some more progress; after a fashion.
I just finished trying to create a swarm on Microsoft Azure using Docker Machine on an Ubuntu 14.04 LTS system.  I created three VMs: a swarm master and two swarm nodes.  (Using the information here: https://github.com/chanezon/azure-linux/blob/master/docker/swarm.md.)  The results were *not* encouraging.
All of the VMs were created successfully, the swar

[2015-08-05 17:48] mpilant opened #1122 "Is it possible to use Azure Load Balancing with a Docker Swarm?"
For about the past month, I've been trying to determine whether or not is it possible to use Azure (Internal) Load balancing with a Docker Swarm.  My testing indicates it is possible to use Azure Load balancing with a collection of VMs running Docker container applications.  It also indicates it is possible to create a Docker Swarm on Azure (using either Docker Machine or the Azure CLI), but the s

[2015-08-05 17:54] agup006 commented on #1095
@mpilant when using Docker Machine to spin up the swarm did you open 3376 endpoint in Azure manually? Docker Machine does not configure the endpoint for the swarm master - here is my pull request that enables this to happen automatically: https://github.com/docker/machine/pull/1647

[2015-08-05 18:16] mpilant commented on #1095
@agup006 Yes, I opened port 3376.
I don't think this exclusively a port problem.  I was getting very similar results when I was trying to manually set up a swarm using just the Azure CLI or the Azure portal (create VMs) and Azure CLI (using Docker).

[2015-08-05 18:19] mpilant commented on #1095
Given a couple of the subtle (unannounced) changes accompanying the new Docker VM Extension which cause me a great deal of grief, it would not at all surprise me if there are other bugs (sorry, undocumented features :-) as well.  Of course they may be completely unrelated.

[2015-08-05 18:39] agup006 commented on #1095
@mpilant what version of machine are you using, and what Azure Region? I was able to run "docker info" for my Ubuntu 14.04 Docker Swarm with no similar issue

[code]

[2015-08-05 18:46] aluzzardi commented on #952
Agreed with @chanwit - but then I looked at `naturalsort` and it turns out it's just a rather small file, so it should be fine to embed it with godep.

[2015-08-05 19:01] mpilant commented on #1095
@agup006 I am trying to run in the East US region.
Docker-machine was downloaded this morning and is  0.4.0-rc2 (c2b5f06).

[2015-08-05 19:03] mpilant commented on #1095
My problems could very easily be something I am doing incorrectly.  However, from all of the examples I have seen (Azure CLI or docker-machine) I have not been able to spot what I might be doing wrong.

[2015-08-05 19:06] mpilant commented on #1095
@agup006 Question: is this swarm one you had previously created or was it recently (say the past several days) created?

[2015-08-05 19:55] agup006 commented on #1095
@mpilant This was a swarm I created yesterday, in the West US Region. I'll give East US Region a try with the version mentioned and see if I can repro.

[code]

[2015-08-05 20:03] mpilant commented on #1095
@agup006 Interesting.  If you could put together a list of the commands you used I'll compare it with what I tried to see if I can spot any differences.  I have no problem being proven wrong :-P

[2015-08-05 20:08] agup006 commented on #1095
@mpilant Sure I'll put together a list of steps and send that out later tonight, hopefully can get this resolved :)

[2015-08-06 00:50] vieux commented on #657
@thefallentree can you try with swarm 0.4-rc1 ? it seems fixed to me.

[2015-08-06 00:51] vieux commented on #657
I see I asked this already for 0.3, I'm going to close this issue. please reopen if the problem persists.

[2015-08-06 00:51] #657 closed

[2015-08-06 00:55] aluzzardi commented on #767
@HackToday Any luck with `0.3.0`? Could you try `0.4.0-rc1`? Also, where is your CLI running (mac, osx, ...)?

I believe `exec` works but there might be some problem when receiving the result back.

Could you try to exec `rm -f /some/random/file/that/exists`? If the file is removed then `exec` did work, but it's an output issue.

Thanks

[2015-08-06 00:55] aluzzardi commented on #767
Might be related to #792

[2015-08-06 00:58] aluzzardi commented on #792
@peebles @thomasem Where is your client running (as in, OSX or whatnot)?

[2015-08-06 01:02] aluzzardi commented on #1121
Thanks @cpuguy83 - maybe related to #792 and #767

What's your setup ? As in, is the CLI running on a different machine than Swarm, is Swarm running on a container, what OS is the CLI running on, etc.

Thanks

[2015-08-06 01:03] vieux commented on #1114
@Gouthamve I cannot reproduce, can you give us reproducible steps ?

[2015-08-06 01:04] cpuguy83 commented on #1121
CLI is running on OSX.

Swarm on all 3 nodes were setup by machine and running in a container.
1 swarm node was in digital ocean, 2 were in virtualbox.
Master was in virtualbox.

[2015-08-06 01:07] aluzzardi commented on #1121
Thanks for the input, will try to reproduce using the same setup

[2015-08-06 02:17] peebles commented on #792
OSX.  Stock terminal app. Still having same problem with docker 1.7.1.

[2015-08-06 02:43] ddgnani commented on #1106
Thanks for posting this. Interesting and i'll follow here for docker native efforts.

[2015-08-06 03:03] ddgnani opened #1125 "Docker Swarm documentation clarification"
https://docs.docker.com/swarm/install-w-machine/

Section: Generate a discovery token using the Docker Swarm image.

I think it will help to point out at this section it uses Docker Hub based service discovery. It took a while to understand where the token generated is stored and how it is referred as part of adding nodes.

Thanks.

[2015-08-06 04:10] jimmyxian opened #1126 "docker exec problem Reproduce Step"
### docker exec do not work well in some cases:
#### Condition:
- run swarm in container
- use -p (DO NOT USE --net=host)
#### Reproduce step(all in one node)

[code]
#### Case1:(Using 127.0.0.1)  Not OK

[code]

Nothing output
#### Case2:(Using 0.0.0.0) Not OK

[code]

Nothing output
#### Case3: (Using public IP) OK

[code]
#### Case4: (Using -it) OK

[code]

Maybe related to:https://github.com/d

[2015-08-06 04:12] jimmyxian commented on #1126
ping @aluzzardi @vieux
Any thoughts?

[2015-08-06 04:44] agup006 commented on #1095
Hi @mpilant  I put together a blog post over docker swarm. Let me know if you find it useful: http://agup.tech/docker-machine-docker-swarm-azure-walkthrough/

[2015-08-06 06:04] abronan commented on #1095
Sorry for catching up late on this, thanks for the blog post @agup006! This might help a lot of people running docker on Azure and willing to setup a Swarm.

[2015-08-06 14:48] chanwit commented on #952
Thanks for inputs. I'll go with Godepping `naturalsort`.

[2015-08-06 14:50] thomasem commented on #792
I'm pretty sure I've seen this on my client on both Ubuntu and OS X. This particular reproduction was on OS X, however. I'll confirm the other and report back. :)

[2015-08-06 15:20] mavenugo commented on #1106
@vbichov @ddgnani As @aluzzardi mentioned, we are adding the native service discovery support in docker engine via the new experimental networking features. Please refer to these docs/blog

https://github.com/docker/docker/blob/master/experimental/networking.md
https://github.com/docker/docker/blob/master/experimental/compose_swarm_networking.md
https://github.com/docker/docker/blob/master/experim

[2015-08-06 15:42] mpilant commented on #1095
@agup006 Well, still not working but I did uncover some interesting things.
First, after I cleaned out all the VMs, cloud services, etc. from previous testing (there were no resources listed by the Azure portal for the subscription), when I attempted to create a new VM (using docker-machine), I could not because docker-machine said the name was in use.  So it would appear this information is persi

[2015-08-06 16:29] agup006 commented on #1095
@mpilant I accidentally made two Swam Masters and found a similar behavior to what you mentioned. Is it possible the Swarm Token is no longer valid? Definitely try regenerating that token and let me know what you get.

Also definitely forgot 3376 part for the blog, thanks

[2015-08-06 16:32] agup006 commented on #1095
@mpilant Also as a double check -- in Azure the service and VM were both removed?

[2015-08-06 17:31] mpilant commented on #1095
"docker-lachine ls" persisting information answer: On my local system, I found a number of directories in ~/.docker/machine/machines/ containing information for test systems I  had previously created and removed.  I just cleaned out all the directories (as well as the files in ~/.docker/machine/certs/) and started to create the swarm again.

[2015-08-06 17:40] agup006 commented on #1095
Ah, removing hosts with  `docker-machine rm` is really nice as it will remove the service and VM from Azure.

[2015-08-06 17:50] mpilant commented on #1095
OK.  Still no joy.  Here is what I did:
export SWARM_ID="NEW_SWARM_ID"
export AZURE_ID="AZURE_SUBSCRIPTION_ID"

openssl req -x509 -nodes -days 365 -newkey rsa:1024 -keyout mycert.pem -out mycert.pem
openssl pkcs12 -export -out mycert.pfx -in mycert.pem -name "My Certificate"
openssl x509 -inform pem -in mycert.pem -outform der -out mycert.cer

docker-machine create -d azure \
--azure-subscription-

[2015-08-06 17:52] mpilant commented on #1095
This was done after cleaning out everything from Azure.

[2015-08-06 18:06] mpilant commented on #1095
Curiously, only one of the two swarm nodes appear to have been joined to the swarm.  In other words, a "docker ps -a" to the swarm master system shown only the "swarm manage" container and a single "swarm join" container.  (When I created a swarm locally, there was one for each swarm node.)

[2015-08-06 18:55] agup006 commented on #1095
The CN for my cert is blank, but I'm not sure if having a CN set to something else would cause any of this -- as long as the cert is the same one uploaded in the Azure management portal. The commands look good from my point of view, nothing standing out.

[2015-08-06 19:01] mpilant commented on #1095
@agup006 OK.  The cert was the same one uploaded to the management certificates.  I'll blow away everything... again :-P and try the same thing with a blank CN.

[2015-08-06 19:41] hoeghh commented on #607
Hi, I had the same problem, but found out why.

I had added a "--dns=192.168.0.1" to my startup of the docker daemon. This is the dns we use where I work, but at home its 192.168.1.1, and then swarm will not run a create command. I corrected the dns, restartet the docker daemon, and then it worked. On Fedora 22 its in this file : /etc/sysconfig/docker

[2015-08-07 01:14] shashiranjan84 opened #1129 "new nodes are not showing up in cluster but i can see them on https://discovery-stage.hub.docker.com/v1/clusters/<mytoken>"
I created a swarm cluster some time back. To scale out I planned add two more nodes to swarm.

I used following command to add new node

sudo docker -H tcp://0.0.0.0:2375 run -d swarm join --addr=<node>:2375 token://<token>

I see new nodes on discovery hub with previous created nodes but when i query master node(docker info), it does not show the new nodes.

[2015-08-07 09:23] aku163 opened #1130 "Jenkins swarm client | swarm-client-1.26-jar-with-dependencies.jar"
Hi ,

We are using swarm client swarm-client-1.26-jar-with-dependencies.jar to connect the slave node container with jenkins master container.
But it is observed often when we trigger the deployment job, it waits post connecting to the node.

==============================================================
Jenkins Logs :

[code]

[2015-08-07 13:34] marcomusso commented on #1125
+1

[2015-08-07 15:29] damianopezzotti opened #1131 "Obtain Swarm node ip address from a container"
Is it possible to obtain the Swarm node IP address from a container?
We are building a microservices architecture based on docker and our application needs to publish its address to a centralized registry.
When we are in a cluster environment with containers running on different nodes, it is important for us to understand the node ip or, at least, a node identifier.

Tranks

[2015-08-07 15:51] jimmyxian commented on #1131
@damianopezzotti
Use `docker -H <SWARM HOST> ps`,
In NAMES column, you can find hostname the container run on.
In swarm, `NAMES` = `hostname/containername`
[code]

[2015-08-07 15:59] jimmyxian commented on #1131
Also,  use `docker -H <SWARM HOST> info`, you can get hostname <-->node ip

[2015-08-07 16:04] damianopezzotti commented on #1131
Hi Xian,
Thanks for your response.
I don't need to filter containers from node host or obtain information about the node.

What I really need is find the host IP address from an application running inside the container.
For example, if we have a swarm cluster with 3 nodes (master with ip 192.168.99.100, node001 with ip 192.168.99.101, node002 with ip 192.168.99.102) and I create a container, Docke

[2015-08-07 16:21] mpilant commented on #1095
This is really strange.  Yesterday I cleaned out all of the "old" testing from Azure and my host system and started to create a new swarm using a blank CN in the certificate.  Finishing up this morning, I'm getting the same result as earlier: docker-machine ls originally showed the systems as running and now shows them all as "Timeout", docker ps -a on the swarm master VM only shows one of the two

[2015-08-07 16:32] jimmyxian commented on #1131
@damianopezzotti
Related to https://github.com/docker/swarm/issues/1106

[2015-08-07 16:43] damianopezzotti commented on #1131
This is exactly what I need.
Thanks

[2015-08-07 17:12] abronan commented on #1125
Thanks for the feedback @ddgnani :)

/cc @moxiegirl

[2015-08-07 17:51] abronan commented on #1095
@mpilant We are getting there :ghost:

I'd really suspect a connectivity issue somehow because it seems now that you are doing it right with certs. Make sure that the remote docker daemons are available over TCP, well set up with certs, and that the correct ports are open. Also check `ufw` or `iptables` rules.

`swarm list` only requests the node list from the Token Service or the backend K/V stor

[2015-08-08 00:36] #952 closed

[2015-08-08 00:38] #969 closed

[2015-08-08 00:43] aluzzardi opened #1136 "Expose un-healthy nodes in info"
`docker info` should expose un-healthy nodes along with an error message.

Pseudo-Example:
[code]

Thoughts?

[2015-08-08 00:57] #951 closed

[2015-08-08 01:05] abronan commented on #1136
:+1: Good idea as it helps troubleshoot connectivity issues to Swarm nodes. Most of the time we would think it's a Swarm bug (in discovery for example) while in reality it might just be a misconfigured firewall or an unexposed port.

[2015-08-08 01:27] chanwit commented on #1136
It's a great step towards cluster management APIs that you have mentioned earlier.

[2015-08-08 05:11] UserTaken commented on #1136
When using a token with dozens of registered machines, what if you just want to show the active nodes instead of every entry? When using a backend such as Etcd, inactive nodes are automatically removed after a set TTL so how would this work with that?

[2015-08-08 12:14] orkaa opened #1137 "'docker info' over swarm a bit hard to parse"
I was working on my python app using swarm and docker-py and I tried to get some info about nodes in swarm.

Docker-py just proxies what it gets from the json api:

[code]

Docker cli renders the above to:

[code]

In the console it looks fine, but if you try to parse it straight from the api, it isn't very helpful. It's basically a non-json tree structure inside json.

Here's an example of the co

[2015-08-08 12:19] chanwit commented on #1137
It's been like this because Swarm adds extra information atop Docker info. I am quite sure this will be improved in the very near future.

We have an early discussion about these enhanced APIs in #735.

[2015-08-08 12:45] orkaa commented on #1137
Great news @chanwit.

I'm closing this ticket because it's a duplicate of #735

[2015-08-08 12:45] #1137 closed

[2015-08-08 16:23] atomi opened #1138 "Command ps -a --filter 'exited=1' not working"
here is my command:
```docker $(docker-machine config --swarm swarm-master) ps -a --filter 'exited=1'```

Docker version 1.7.0, build 0baf609

[2015-08-09 01:17] thaJeztah commented on #1126
/cc @cpuguy83 (as reporter of #1121)

[2015-08-09 11:47] jimmyxian commented on #1138
Thanks for reporting this @atomi
But I have tried locally but can't not reproduce.
Can you provide swarm version and Reproduce Step.

[2015-08-09 12:07] chanwit commented on #1138
Cannot reproduce neither with `swarm` 0.4 master and `docker` 1.8.0-rc.
@atomi  Maybe it's been fixed somehow.

[2015-08-09 12:09] chanwit commented on #1138
@jimmyxian could you please take care of this?

[2015-08-09 13:02] thaJeztah commented on #1062
Perhaps this proposal in Docker (and the ones linked from that) may be of interest here; https://github.com/docker/docker/pull/15365

[2015-08-09 20:38] atomi commented on #1138
[code]

[2015-08-10 01:02] jimmyxian commented on #1138
@chanwit Sure :)
@atomi Test on swarm 0.3, also can't reproduce. Can you test `ps -a`, to see if it works and paste the output here.

[2015-08-10 02:20] atomi commented on #1138
@jimmyxian ``$ docker `docker-machine config --swarm swarm-master` ps -a```  does work and it lists all the correct info.

[2015-08-10 03:34] jimmyxian commented on #1138
@atomi
Can you provide a reproducible use case? :)

[2015-08-10 03:44] jimmyxian commented on #1136
:+1: More easy to find what's wrong.

[2015-08-10 04:39] atomi commented on #1138
I'm not sure this is a swarm issue anymore.

[code]

[2015-08-10 06:09] jimmyxian commented on #1138
@atomi
We can see that the two containers exited with the code 0(`Exited (0) 15 seconds ago  `)
So, you have to run cmd with `exited=0` , just like:
[code]

[2015-08-10 12:59] chanwit commented on #1131
@damianopezzotti I shall close this issue then?

[2015-08-10 13:02] mpilant commented on #1095
@abronan It is almost certainly a connectivity issue, but where is the big question.  In this case, and others, I can interact directly with the Docker daemon on the VMs.  It is only the swarm manager which appears to be having problems.  In other words, I can do a "docker ps -a" to each of the individual VMs and get back the expected results.  However Docker swarm doesn't work properly.
BTW, this

[2015-08-10 13:03] chanwit commented on #1130
Hi @aku163
I am not sure it's within the scope of this project. Could you please report this to developers of the Hudson plugin. It's clearly a bug inside the plugin rather than `Swarm`.

[2015-08-10 13:41] atomi commented on #1138
@jimmyxian thanks.

[2015-08-10 13:41] #1138 closed

[2015-08-10 13:59] vbichov commented on #1106
@mavenugo Thank you for your post, interesting stuff.
We are already working with Hashicorp's Consul and Registrator much to the same effect.

Forgive me for not commenting on the 14083 - that thread has become dreadfully long.
Had I have, I would comment that managing "/etc/hosts" files seem unwise. extremely so.
Also, I would ask about containers that have identical names.
(if that question was

[2015-08-10 18:51] mpilant commented on #1095
Solution: Use a different Azure subscription.  For some reason, it appears my corporate Azure subscription has "limitations".  Using my MSDN Azure subscription I was able to successfully create a swarm using the blog entry from @abronan (thank you very much).

Unfortunately, this is not the first time I have seen this "problem".  So my next task is to find out how to compare the features and capab

[2015-08-10 18:51] #1095 closed

[2015-08-10 18:58] agup006 commented on #1095
Super Interesting -- I wonder if there is difference in the provisioning return output from that subscription. Might even be an administrator setting set for that account? I'll keep plugged in as I'm interest myself :).

[2015-08-10 19:09] mpilant commented on #1096
I suspect this problem may be related to the problem in #1095, which was "fixed" by using a different Azure subscription.  As this is not the first time this has happened to me (the last time was with Azure and IoT), I expect there are some subtle differences between Azure subscriptions.  All I have to do is find out what they are.

[2015-08-10 19:09] #1096 closed

[2015-08-10 19:43] ahmetalpbalkan commented on #1096
@mpilant I heavily doubt that there's a difference. All these stuff run in userspace (i.e. your VM) and Azure subscription is just a logical unit in Azure backend to categorize billing of resources under a payment method. I believe

means you're probably trying to access a non-TLS endpoint using TLS auth (or vice versa) due to misconfiguration in the Docker engines which run on each VM or the Swar

[2015-08-10 21:10] abronan commented on #1067
I really don't think it's a duplicate so I'll reopen until we find exactly what it is. AFAIK there are still issues on `postContainersCreate` and `refreshContainers`.

[2015-08-10 22:09] abronan opened #1140 "Proposal: Enhance `docker info` UI to show running and stopped containers"
I have a long running swarm that I use mostly for testing, sometimes I just stress test running containers while shutting down Agents and Managers.

The output of `docker info` in this case is:

[code]

From the output, we could think that I have 1362 running containers even though I only have 10. I don't think it makes much sense to show **Stopped** containers on `docker info` as it does not help

[2015-08-10 23:04] abronan commented on #1093
Re-opening, the issue on `refreshContainer` is still there on https://github.com/docker/swarm/blob/master/cluster/engine.go#L231. We trigger a refresh while `e.client` is nil.

[2015-08-11 01:02] jimmyxian commented on #1140
:+1: pretty good. It's OK to show it in docker info

[2015-08-11 02:01] huang195 commented on #475
I am also running into similar issue here. Here's my environment:
Client version: 1.7.0
Client API version: 1.19
Go version (client): go1.4.2
Git commit (client): 0baf609
OS/Arch (client): linux/amd64
Server version: swarm/0.3.0
Server API version: 1.16
Go version (server): go1.3.3
Git commit (server): 28cd51b
OS/Arch (server): linux/amd64

When I run:
% docker create -c 1 -d nginx
% docker inspec

[2015-08-11 02:57] chanwit commented on #1140
@abronan this is great!
Maybe tweaking a bit of the format would be easier to map this into JSON in long term.

[code]

[2015-08-11 06:37] damianopezzotti commented on #1131
@chanwit ok

[2015-08-11 06:46] jimmyxian commented on #475
@huang195
`dockerClient` connected to `swarm` or `docker-engine`?
Can you paste your full test code? Also, provide the cmd that run swarm.

[2015-08-11 06:58] #1131 closed

[2015-08-11 08:23] Pensu commented on #1140
+1. Sounds great. May be, we can have a more tabular form of output, that can go easier on eyes. I mean, like in OpenStack, each row can contain a node of the cluster, and the information can be given in columns.

[2015-08-11 09:30] Pensu opened #1142 "Confusion between Docker and Swarm API"
Hi, so I am a little confused between APIs being used by swarm and Docker. I have done a development setup of swarm through this: https://docs.docker.com/swarm/install-manual/

Now, I am not using swarm binary. Everything is being done using swarm image. What I want to know when I do "docker info" on my swarm manager, it calls the swarm API(i.e. the one in this repo) or Docker API(i.e. the one in

[2015-08-11 09:38] resouer opened #1143 "How Swarm guarantee container dependencies like volume-from"
I noticed swarm can make sure `c1 --volume-from=c2` co-scheduled to the same host: https://github.com/docker/swarm/pull/388

But how Swarm guarntee c2 will be scheduled first on the host?

Otherwise, c1 can not pass the `filter` as it can not find c2 ready host. will c1 wait for a reschedule again?

[2015-08-11 10:35] jimmyxian commented on #1143
Swarm do not care about container orchestration. You can use Compose(https://github.com/docker/compose) to run multi-container applications.

In Swarm, if you use `--volumes-from=c2` and `c2` is not exist, swarm will return an error, just like this:
[code]

[2015-08-11 10:46] jimmyxian commented on #1142
Hi, @Pensu
Swarm serves the standard Docker API, you can use docker CLI to run/stop.... in swarm cluster.
[code]

* `docker -H <Swarm Manger IP:PORT> info`: call Swarm API
* `docker -H <Docker Daemon IP:PORT> info`: call Docker API

[2015-08-11 12:49] chanwit commented on #1130
I think we can close this issue for now. Let me know if you still think it's related to Swarm.

[2015-08-11 12:49] #1130 closed

[2015-08-11 13:15] chanwit commented on #1129
@shashiranjan84 maybe it's got some delay before showing newly added nodes?
Decreasing the heartbeat rate to be a small value would help (I think heartbeat's default value is `25s`).

[2015-08-11 13:16] chanwit commented on #1076
@gdmurali shall we close this issue?

[2015-08-11 14:01] aku163 commented on #1130
We are still striving to get solution to it. Have raised the issue with jenkins.

Thanks.

[2015-08-11 14:28] huang195 commented on #475
@jimmyxian dockerClient connects to swarm. I'm just trying to do the same thing in my test code as `docker create` that points to swarm.

The cmd I used to run swarm is just the standard `docker run -p 5000:2375 -d swarm manage token://<token id>`.

My test code is following how Kubernetes kubelet's code communicates with Docker. It is the same as:  https://github.com/GoogleCloudPlatform/kubernete

[2015-08-11 15:29] resouer commented on #1143
Fig is clever enough. Issue closed,

[2015-08-11 16:47] #1143 closed

[2015-08-11 17:25] abronan commented on #1129
Hi @shashiranjan84, this would help if you can show the debug output that is shown on `swarm manage` and `swarm join` (using `--debug`)? Also what is the version of swarm you are using? Thanks!

[2015-08-11 17:30] abronan commented on #1140
@chanwit better :+1:

@Pensu I guess that using columns will be harder to parse maybe? (for our integration tests for example)

[2015-08-11 17:51] shashiranjan84 commented on #1129
@abronan  I am running it in production, so I cant stop the swarm and run the swarm in debug mode.
@chanwit  how do we update the heartbeat's?

[2015-08-11 18:59] chanwit commented on #1129
@shashiranjan84 you need to stop the manager and start it again with `--heartbeat=1s` , for example

[2015-08-11 19:05] gdmurali commented on #1076
Sure.

On Tue, Aug 11, 2015 at 6:47 PM, Chanwit Kaewkasi <notifications@github.com>
wrote:

[2015-08-11 19:23] #1076 closed

[2015-08-11 21:18] vieux commented on #1140
I like the idea, but can I suggest what we try to make this change in the engine itself ? I think it would be valuable even in single mode.

@abronan can you open an issue/proposal in the engine ?

[2015-08-11 22:32] abronan commented on #1140
@vieux Yeah I guess it could make sense even on a single docker daemon, having the information exposed through the remote API directly through `info`.

[2015-08-12 07:10] lmesz commented on #985
Hello,

Same here, when one of the node in the cluster contained "Dead" container. Swarm panic with the mentioned trace.
I agree with @bfirsh. In this case swarm should remove the node from the available nodes and don't crash.

[2015-08-12 07:14] jimmyxian commented on #475
@huang195 I have written a test code. It's OK.
You can check your code.
Note: 5000 is swarm port.
[code]

[code]

[2015-08-12 14:07] huang195 commented on #475
@jimmyxian thanks for your help. I ran your code in my environment, and it also gives the expected result. My swarm endpoint has 4 cores, so CpuShares was showing as 256. However, I see CpuShares appears twice when I do `docker inspect`. One was in the `Config` section and one was in the `HostConfig` section, and both of them have the same value. Your test seems to suggest CpuShares should only ap

[2015-08-12 17:53] Pensu commented on #1140
@abronan I was just talking about presentation. Parsing we can do in json format only. The thing is when you are listing 60-70 nodes, it kinds of become a lot of information to go through. Anyways, just a food for thought. :)

[2015-08-12 18:25] aehlke commented on #1130
@aku163 any update with this? we are seeing something similar. thanks

[2015-08-12 21:41] aehlke commented on #1130
@aku163 would also appreciate a link to your ticket with jenkins / the swarm plugin, can't seem to find it

[2015-08-13 07:40] ahmetalpbalkan commented on #1122
@mpilant yes it is possible. The template we have at https://github.com/Azure/azure-quickstart-templates/tree/master/docker-swarm-cluster does that. (It's currently broken as there was a leadership election bug that's fixed in swarm-0.4-rc2, I need to update the template.)

This template pulls all managers behind an Azure Load Balancer (so that you can just manage the cluster from a single endpoin

[2015-08-13 08:50] aamol commented on #1130
We did debug for the same but can't conclude if this is the issue with the swarm plugin or not.

The deploy was stuck when it uses copy-artifact plugin. This is not even consistent for every deployment.

We did a workaround to wget instead of using the plugin.

Let me know if you find this info useful.

[2015-08-13 10:23] Pensu commented on #1142
@jimmyxian Hi, thanks for the reply. I understand now that how can I call two different APIs. I just have a follow up question: when I call swarm manager, the request goes to the manager which is running as a container. Now, that takes the request, analyse it and send it to docker daemon. (Correct?). Now what I want to know is that when I am running swarm manager using swarm image, the code that i

[2015-08-13 10:26] chanwit commented on #1142
@Pensu yes, it is. Each stable version is compiled from a certain tag:
https://github.com/docker/swarm/releases
Now you should get `docker/swarm:0.4.0` when you pulling `docker/swarm:latest`.

[2015-08-13 10:28] Pensu commented on #1142
@chanwit Thanks a lot. Now all of this makes so much more sense :). Will close it.

[2015-08-13 10:28] #1142 closed

[2015-08-13 11:39] chanwit commented on #905
@aluzzardi is it too much to loop over these sets of integration tests for 2 current version of engines?
If you're OK, I'll create a PR.

[2015-08-13 14:50] chanwit commented on #1140
@vieux @abronan +1 for adding this to the engine.

[2015-08-14 23:00] tchk1228 opened #1149 ""docker tag" not tagging images for an entire cluster"
It looks like only the first registered node in my cluster is executing "docker tag".

Kernel: 3.10.0-229.el7.x86_64
OS: CentOS Linux release 7.1.1503 (Core)

Swarm Manager:

docker -H $CLUSTER_ENDPOINT version
Client version: 1.5.0
Client API version: 1.17
Go version (client): go1.4.1
Git commit (client): a8a31ef
OS/Arch (client): linux/amd64
Server version: swarm/0.4.0
Server API version: 1.16
G

[2015-08-14 23:24] vieux commented on #1149
Confirmed, `tag` currently uses proxyImageAndForceRefresh so it will only tag one image

[2015-08-15 00:03] tchk1228 opened #1151 ""docker pull" returning 0 on error"
Kernel: 3.10.0-229.el7.x86_64
OS: CentOS Linux release 7.1.1503 (Core)

Swarm Manager:

docker -H $CLUSTER_ENDPOINT version
 Client version: 1.5.0
 Client API version: 1.17
 Go version (client): go1.4.1
 Git commit (client): a8a31ef
 OS/Arch (client): linux/amd64
 Server version: swarm/0.4.0
 Server API version: 1.16
 Go version (server): go1.4.2
 Git commit (server): HEAD

Node 1:
 Server version

[2015-08-16 02:54] chanwit commented on #601
May be it's time to bring this up.

@aluzzardi I am trying to conceptualize how the global scheduling work.
With `libkv`, it would be something like the following:
[code]

From the design, I have found that global scheduling requires a specific implementation that I cannot relate it to scaling. Correct me if I am wrong.

[2015-08-16 06:42] chanwit opened #1153 "Proposal: versioning scheme"
Currently `swarm` version is changed only when releasing. This is a bit confusing for someone to report issues. (For example, `swarm` version is still marked as 0.4.0 but we started committing 0.5.0 works into master.)

We should follow Docker's versioning scheme to help solve this problem. For example,

 *  We are now in the new sprint (Sprint 22). At the beginning of a new sprint just after rele

[2015-08-16 06:43] chanwit commented on #1153
ping @abronan @aluzzardi @jimmyxian @vieux

[2015-08-16 09:05] thaJeztah commented on #1153
:+1: Docker used to have this as well, and it was really confusing

[2015-08-17 04:02] jimmyxian commented on #1153
:+1:

[2015-08-17 04:13] jimmyxian commented on #1151
@tchk1228 Thanks for reporting this. I will take a look..

[2015-08-17 12:09] chanwit opened #1156 "Better docker-compose compatibility"
This issue is used as an umbrella to track the progress of `docker-compose` compatibility.
- [ ] Containers are not scheduled to nodes that the image they're using was built on.
- [ ] Each swarm node will build an image independently from the same `docker-compose.yml`. It results in a set of images with the same name, but different IDs. For example, you will get `project_web` image on each node, b

[2015-08-17 13:37] mpilant commented on #1122
Is there any documentation / description of just what the template is doing?  That would greatly help understand just what is going on, and what to do should it be necessary to do a (slightly) different configuration.

[2015-08-17 14:00] bfirsh commented on #1156
I think some of these problems have been fixed in 0.4 - haven't done a proper test yet. :)

[2015-08-17 15:10] aanand commented on #1156
Thanks for creating this issue @chanwit!

I presume this means that they're not scheduled to nodes that the image they're using was built on? If so, would you mind rewording it for clarity's sake?

What does this mean?

[2015-08-17 15:26] chanwit commented on #1156
@aanand Yes. May I use yours?

Each swarm node will build images independenly, it results in a set of images with the same name, but different IDs. For example, you will get a `project_web` image on each node, but all of them will be different. So we cannot guarantee that we're going to run exactly the same container on the cluster.

[2015-08-17 15:34] aanand commented on #1156
Of course!

[2015-08-17 18:06] abronan commented on #601
I don't think it is necessary to use `libkv` for that. This would limit the usage of globally scheduled containers to users running a KV backend on the side (ie. step 2 is unnecessary).

We can just label containers with `global==true` and keep track of those based on their unique `Virtual ID`.

By the way, do you mean that a globally scheduled container should be automatically deployed when a new

[2015-08-17 19:16] ahmetalpbalkan commented on #1122
@mpilant you can refer to the readme link above, also the template language itself is not very complicated and it is pretty much self-documenting. I suggest going through readme first and then once you get an idea you can jump into specifics by looking at the azuredeploy.json.

[2015-08-17 20:31] abronan commented on #1156
Good idea @chanwit ! Added a box for the issue related to the scheduler. This is a good way to keep track of those ;)

[2015-08-17 21:05] tchk1228 opened #1157 "Request for "docker rmi" to support -f flag"
I'm using the -f flag with docker rmi on my swarm endpoint but it doesn't seem to be implemented in 0.4.0.

Kernel: 3.10.0-229.el7.x86_64
OS: CentOS Linux release 7.1.1503 (Core)

Swarm Manager:

swarm -version
swarm version 0.4.0 (HEAD)

docker -H $CLUSTER_ENDPOINT version
 Client version: 1.5.0
 Client API version: 1.17
 Go version (client): go1.4.1
 Git commit (client): a8a31ef
 OS/Arch (client

[2015-08-18 01:09] jimmyxian commented on #1156
@chanwit Cool!

[2015-08-18 01:13] jimmyxian commented on #1151
Done to confirm. `pull / load / import` all these three cmd always return 0 even errors.

[2015-08-18 01:20] jimmyxian commented on #1157
@tchk1228 Thanks for reporting this.

[2015-08-18 02:47] cy490761462 opened #1158 "swarm:0.2.0 create failed"
Env:
linux kernel version 2.6.32-504.23.4.el6.x86_64
Docker version 1.5.0, build a8a31ef/1.5.0
Issue:
while running "sudo docker run --rm swarm:0.2.0 create", meet error:
time="2015-08-18T02:31:16Z" level=fatal msg="Post https://discovery-stage.hub.docker.com/v1/clusters: dial tcp 162.242.195.83:443: i/o timeout"

[2015-08-18 03:05] chanwit commented on #1151
@jimmyxian It seems we need a PR then.

[2015-08-18 03:22] jimmyxian commented on #1151
@chanwit Yeah. I'm trying to slove this locally. :)

[2015-08-18 03:44] jimmyxian commented on #1158
@cy490761462
You can see the this issue:
Duplicate https://github.com/docker/swarm/issues/871

[2015-08-18 13:33] chanwit commented on #601
@abronan yep, this may be optional. But I still think it's necessary to share state of global scheduled containers, in case of the swarm master failure.

Yes, it's a normal use case for Big Data / Hadoop clusters. This is also mentioned by @aluzzardi above.

[2015-08-18 21:11] rgbkrk commented on #601
Oooh, this! I'm all about peek-a-boo services when nodes come online.

/cc @smashwilson

[2015-08-18 21:25] abronan commented on #601
@chanwit Ok my only concern with the auto-run on newly added nodes is that a Swarm can be divided in multiple sets/regions. Thus, a newly added node might be annotated with a label that says that it belongs to another group (not necessarily running the same tasks/workloads). In this case running the globally scheduled container automatically might not be the expected behavior from a user perspecti

[2015-08-19 02:19] ahmetalpbalkan commented on #1089
Looks like I might contribute something like this, are maintainers OK with such a feature implementation?

[2015-08-19 09:51] foxwang commented on #781
docker save err,i think it's same issue
docker 1.3 centos6.6
[2015-8-19 16:40:37][71f34048] +job image_export(name)
[2015-8-19 16:40:37][71f34048] +job image_inspect(id)
[2015-8-19 16:40:37][71f34048] -job image_inspect(id) = OK (0)
[2015-8-19 16:40:37][71f34048] +job image_tarlayer(id)
exit status 2
[2015-8-19 16:40:37][71f34048] -job image_tarlayer(ID) = ERR (1)
exit status 2
[2015-8-19 16:40:37

[2015-08-19 17:36] abronan commented on #781
@foxwang I think this is unrelated. Can you try with a newer version of docker (>1.5) and tell us if this fixes the issue?

[2015-08-19 17:40] abronan commented on #1153
Totally :+1: for this.

[2015-08-19 20:48] #1153 closed

[2015-08-19 20:52] abronan commented on #1158
Closing this one, @cy490761462 feel free to comment on the other issue as this is a duplicate. Thanks!

[2015-08-19 20:52] #1158 closed

[2015-08-19 21:48] chanwit opened #1161 "Integration tests on Windows"
Engine is now able to run on Windows Server 2016 TP3. But our testing infrastructure currently supports only Linux.

To ensure that `swarm` works similarly across platforms, we need to port all integration tests to Windows (Cygwin, MinGW, Power Shell are good candidates).

How could we achieve this?

[2015-08-19 22:44] abronan commented on #1161
There are already integration tests in Docker for Windows support so we could probably do the same for Swarm. Just a random thought, but can we run *bats* on cygwin? This would avoid the entire rewrite of the integration tests.

/cc @jfrazelle

[2015-08-19 23:53] chanwit commented on #1161
@abronan Yes we can run bats on Cygwin :)

[2015-08-20 03:43] abronan commented on #1157
Closed by #1162

[2015-08-20 03:43] #1157 closed

[2015-08-21 18:32] dhiltgen opened #1163 "Heavy parallel Save/Load exhausts memory, OOM killer then kills manager"
I'm running a 17 node cluster, and when I do a Save/Load of an image I just built on the cluster (to distribute it throughout the cluster so I can run it on any node) the manager memory usage spikes.  For example, a ~550M image pushes the resident size of the manager up to 19G.  When I try to run a few of these Save/Load scenarios concurrently, I can easily get the manager big enough to trigger th

[2015-08-22 04:39] chanwit commented on #1163
It seems we need the `bypass` mode for this and similar scenarios.

[2015-08-22 08:10] chanwit commented on #601
At code-level, it seems this kind of scheduler will be doing as a super scheduler.
  * It still requires filters
  * When selecting nodes, it's returning a list of nodes. This is at least an obvious difference from basic schedulers.
  * It's maintaining a list of container_configs in memory. When a new node is added, container placement mechanism will be started automatically. There will be some c

[2015-08-22 08:27] chanwit commented on #1163
@dhiltgen this is not to solve your problem as I have been facing it too.
My workaround is to have a local registry running on the same machine as the manager. After build, I push the image to the registry first. When pulling, it's not triggering the OOM for me.

FYI, my image is ~200M but my cluster size is 50-node.

[2015-08-22 09:02] krystism commented on #362
In ubuntu14.04, I find only 'key.json' in `/etc/docker/key.json', BUT if I delete it, docker daemon can'nt start anymore! How to solve it ?

[2015-08-23 09:26] rgardler commented on #1122
Another way of figuring out what is happening in that template is to deploy it and then use https://resources.azure.com/ to look at what happened (there is a documentation tab which explains the parameters you see).

For a 5 minute intro to this excellent tool take a look at https://www.youtube.com/watch?v=Ye9eOYRK3jE

[2015-08-24 10:56] bfirsh commented on #1156
I've made an issue on the Compose end to track too, because issues there will probably crop up. :) https://github.com/docker/compose/issues/1910

[2015-08-24 18:23] abronan commented on #1163
Generally speaking, we should have some sort of Memory and CPU cap for the Manager process that can be controlled somehow. This is especially needed as docker-machine runs the Manager on the same machine than the Agents and we don't want the Manager to eat up all the resources (I saw that this is also a general practice, users are launching a Manager alongside an Agent).

Using the registry is a g

[2015-08-25 07:00] ahmetalpbalkan opened #1164 ""docker images" de-duplication"
Just realized `docker images` swarm returns duplicates of the same images on multiple nodes (b/c image was fetched using `docker pull`). Looks like bad UX and we can probably remove duplicates from the list. Thoughts?

![image](https://cloud.githubusercontent.com/assets/159209/9460577/5e7b2752-4abc-11e5-982c-3d1f6dfefa6a.png)

[2015-08-25 07:46] chanwit commented on #1164
I'll take care of it.

[2015-08-25 11:48] dayiguizhen opened #1165 "a node disappear a few minutes later after I add this node in cluster"
I add one node in cluster,but after few minutes,it was disappear.

    root@ubuntu:~# docker run --rm swarm join --addr=10.0.5.142:2375 token://85be61e8f2301ece240f27dc51aa5c30
    time="2015-08-25T11:01:23Z" level=info msg="Registering on the discovery service every 20s..." addr="10.0.5.142:2375" discovery="token://85be61e8f2301ece240f27dc51aa5c30"
    time="2015-08-25T11:01:58Z" level=info msg="

[2015-08-25 13:59] abronan commented on #1165
Hi @dayiguizhen, It's the desired behavior. `swarm join` actively heartbeats to signal that the node is alive and working:

[code]

If you stop the `swarm join` program to execute, the node will stop signaling its activity and will thus be removed from the cluster list.

Each node has a TTL associated to their entry in the cluster list, so each time a node stops taking part of the cluster, the sto

[2015-08-25 18:06] ahmetalpbalkan opened #1167 "Client and server don't have same version"
With the release of Docker 1.8, Swarm is now two versions behind in Remote API version and this makes it hard to operate with Swarm clusters. Now I'll be downgrading my Docker client due to this problem.

[code]

[code]

Maybe some traction here https://github.com/samalba/dockerclient/issues/122 will help.

Alternatively you can support the movement here that would enable clients to override API v

[2015-08-26 03:02] dayiguizhen commented on #1165
So according to my understanding,if I want add the node to cluster  for long time ,I should use option `-d` launch swarm image.

[2015-08-26 03:11] jimmyxian commented on #1165
@dayiguizhen
Yes

[2015-08-26 03:14] dayiguizhen commented on #1165
Thanks!

[2015-08-26 03:14] #1165 closed

[2015-08-27 12:24] gianarb commented on #1167
Same issue at the moment

[2015-08-27 15:05] kevinsimper opened #1173 "docker rm makes the cluster unresponsive"
Sometimes if you do a `docker rm` on multiple containers from the commandline, the swarm cluster will be unresponsive for some time after, so a request like `docker info` hangs. After some time it is back to normal without any problems.

I tried to find out if you could debug the `swarm manage` process, but doing `docker logs` did not show anything.

Any help to figure out why the cluster stales?

[2015-08-27 16:04] mklatsky commented on #874
I am seeing a similar problem. I can set up a swarm if I create the machines and swarm at creation (docker-machine create -d digitalocean --swarm --swarm-discovery token://${SWARM_TOKEN} mysswarm-01).

However- I am unable to create and add existing systems, created by docker-machine, into a swarm. I have created a paste with more details at http://pastie.org/private/vhqef1oabeyi0voun9qt0g. Any he

[2015-08-28 08:59] nadgowdas opened #1174 "Does swarm provide high-availability and failover for containers?"
From the swarm announcement page at:
https://blog.docker.com/2014/12/announcing-docker-machine-swarm-and-compose-for-orchestrating-distributed-apps/

It is mentioned that
"In addition to resource optimization, Docker Swarm provides high-availability and failover.  Docker Swarm continuously health-checks the Docker daemon’s hosts and, should one suffer an outage, automatically rebalances by moving

[2015-08-28 10:10] nadgowdas commented on #1174
also, how swarm will support "restart=always" policy if docker host goes down?

[2015-08-28 11:15] abdulrahmanazab opened #1175 "Documentation of Swam in a network"
I'm trying to install swarm on our test cluster SNabel (16 compute nodes), by setting one as the manager. Have been through this manual (https://docs.docker.com/swarm/install-manual/), but there are issues. when docker is configured to run as ```docker -H tcp://0.0.0.0:2375 -d```
I found that the daemon MUST be called afterwards using ```docker -H tcp://0.0.0.0:2375 <command>```, and NOT ```docker

[2015-08-28 17:45] MHBauer commented on #1175
When using the token discovery service, the manager does a lookup using that token at the docker hub. The nodes do not know the address of the manager and do not need to. The manager calls them, not the other way around.
See [here](https://github.com/docker/swarm/blob/master/discovery/token/README.md) for the description of the token service sequence.

[2015-08-28 18:23] abdulrahmanazab commented on #1175
@MHBauer So the manager should find the nodes (through the discovery service) not the other way around. But now I'm confused again. Where is the discovery service located? and who tells it the IP addresses of the nodes? which step in the documentation is this?
In step 2 in the manual, it is said: "Register the Swarm agents to the discovery service", I ran the command: '''docker -H tcp://0.0.0.0:23

[2015-08-28 18:29] MHBauer commented on #1175
The discovery service is provided by the Docker hub.

The `swarm join` command has the address used to connect to the node in the `--addr` flag. Make sure to leave `swarm join` running.

[2015-08-28 18:51] abdulrahmanazab commented on #1175
Ok here is what I have done:
1- Installed docker on 3 machines a, b, and c in a LAN.
2- pulled the swarm image on each.
3- ran 'docker run --rm swarm create' on node (a) and got the cluster_id
4- On a, b, and c I edited the  /etc/sysconfig/docker and added:
other_args="-H tcp://0.0.0.0:2375"
and restarted the docker service
5- On a,b, and c I ran:
docker -H tcp://0.0.0.0:2375 run -d swarm join --a

[2015-08-28 19:30] rhim commented on #1175
Maybe you need to point to port 3376.

[2015-08-28 19:38] rhim commented on #821
Hi Folks,

Is there a better description of this task? For example, can we assume that all docker network and docker service commands will work when pointing to a swarm master?

Is there an experimental repo from where I can try it out?

Thanks

[2015-08-28 20:21] abronan commented on #821
Hi @rhim,

This is the intended goal yes :)

The API is still in the work and changing slightly on libnetwork's side but is near finalized and we'll include it in swarm as soon as possible. On our side, it's just a matter of supporting the new API endpoints: we'll just proxy networking api calls to the right machine or a random one according to what we want to do (create a network or a service, li

[2015-08-28 20:34] abdulrahmanazab commented on #1175
@rhim more specific. which step?

[2015-08-28 21:09] rhim commented on #1175
step 7.

[2015-08-28 21:13] rhim commented on #821
@abronan : do you have any timelines on this that you can share? If there is a private branch where this feature is in development, I would be happy to try it out and contribute.

[2015-08-28 21:48] abdulrahmanazab commented on #1175
Wait a sec, so all of the nodes must have connection to the docker hub through the internet? This is the issue then, because in my cluster only one node is connected to the internet. Is there a way to set this up to run locally? e.g. setup a local discovery service?

[2015-08-28 22:03] abronan commented on #1175
You can use your own Consul, Etcd or Zookeeper cluster to set up the discovery. Or just use a plain file with the IPs of the machine that must be reachable in your network :)

For an overview of the possibilities, here is the [doc](https://github.com/docker/swarm/tree/master/discovery) for discovery :)

[2015-08-28 23:56] abdulrahmanazab commented on #1175
@abronan This solved it, thanks :+1: I think that this part should be added to the manual

[2015-08-29 01:09] ahmetalpbalkan opened #1177 "mesos: Abnormal executor termination"
[code]

[code]

any ideas what might be going on here?

I see failed tasks on mesos master UI after running this a few times:

![image](https://cloud.githubusercontent.com/assets/159209/9559813/da48a77e-4daf-11e5-992d-77395709139d.png)

[2015-08-29 04:37] abronan commented on #1175
@MHBauer kindly made this change in #1176

Closing this one but feel free to open a new Issue or contact us on IRC (#docker-swarm) if you have any more questions! :)

[2015-08-29 04:37] #1175 closed

[2015-08-29 20:17] #1125 closed

[2015-08-29 21:04] kevinsimper commented on #761
@aluzzardi "You can schedule a container with the exact image you want and swarm will pull it."
How can you do that?

I have runned into the same problem, it is not really a solution to pull the same images on all hosts, and that I am trying to pull a private registry image.

[2015-08-29 21:13] kevinsimper commented on #374
I am trying to pull a private image via the remote api, but I get 500, but I have no idea what went wrong, does swarm support it?

[code]

[2015-08-29 21:21] kevinsimper opened #1179 "Support for pulling from private registry"
Currently it only supports pulling a name, implemented in #349, but it does not take in the parameters from docker remote api.

https://docs.docker.com/reference/api/docker_remote_api_v1.20/#create-an-image

[2015-08-30 02:13] rgardler commented on #1177
I know @ahmetalpbalkan and I are trying to do the same thing and I'm seeing the same problem.

The Mesos slave logs are empty, though there is evidence that a request was received.

rgardler@acs-1:~$ ls -l /tmp/mesos/slaves/20150830-002657-117440522-505 0-7896-S2/frameworks/20150830-002657-117440522-5050-7896-0000/executors /
total 20
drwxr-xr-x 3 root root 4096 Aug 30 01:44 3da44d93dca6
drwxr-xr-

[2015-08-30 02:18] tnachen commented on #1177
You're looking at the sandbox logs but I think you'll find the actual problem of the executor in the Mesos slave log. Usually there might be a user problem, where swarm is launched by a user and Mesos tries to impersonate that user on the slave but can't find it. If that's the case you can use SWARM_MESOS_USER env variable (e.g: SWARM_MESOS_USER=root)

[2015-08-30 02:46] rgardler commented on #1177
Thanks @tnachen that helps point me in the right direction, though I've not resolved it yet... (but now I know of another source of useful logs):

rgardler@acs-1:~$ cat /var/log/mesos/mesos-slave.ERROR
Log file created at: 2015/08/30 02:09:09
Running on machine: acs-1
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
E0830 02:09:09.269501 35183 slave.cpp:3258] Container '524076e6

[2015-08-30 05:20] tnachen commented on #1177
Ah so go framework tried to get the current user but it couldn't, setting SWARM_MESOS_USER=root or some other user in the slave will fix this

[2015-08-30 18:55] rgardler commented on #1177
Setting SWARM_MESOS_USER is not working for me. I am getting the same errors. I've confirmed that I am setting SWARM_MESOS_USER=root (on both master and slave, though if I understand you correctly I need only do it on the slaves).

Any other pointers?

[2015-08-30 18:59] tnachen commented on #1177
Sorry you need to set it when you launch Swarm, nothing needs to change for master or slave

[2015-08-30 20:35] rgardler commented on #1177
Ah-Ha! I feel I'm clawing my way up the learning curve. Thank you for your guidance. Running the Swarm container with '-e SWARM_MESOS_USER=root' did the trick.

@ahmetalpbalkan please verify this works for you and close this ticket.

[2015-08-30 20:37] ahmetalpbalkan commented on #1177
Will do. This probably should be part of the documentation as we installed Mesos cluster from the standard tutorials (nearly all are the same) and yet this step was required. I'm guessing we're not the only ones hitting this.

[2015-08-30 20:47] ahmetalpbalkan commented on #1177
Works for me as well. Here's my command:

[code]

[2015-08-30 20:47] #1177 closed

[2015-08-30 20:47] ahmetalpbalkan commented on #1177
thanks @tnachen

[2015-08-30 21:50] ahmetalpbalkan commented on #735
Since Swarm now supports multi-manager set up, the managers also have a knowledge of leader and followers. Therefore I'm extending the proposal:

* `GET /cluster/managers`: Returns a list of nodes along with their addr and leader/follower status.

Also can we mark this issue as `proposal` rather than `question`

[2015-08-31 00:53] jimmyxian commented on #1174
https://github.com/docker/swarm/issues/599

[2015-08-31 09:46] nadgowdas commented on #1174
Thanks @jimmyxian, in principle i agree with the concerns for enabling this capability.
Is there a plan to overcome those ?
IMO, swarm need to have this capability.

[2015-08-31 11:02] jimmyxian commented on #1174
@nadgowdas Yeah. Maybe in 0.5. You can see Milestone Page to get what we will do.
https://github.com/docker/swarm/wiki/0.5.0-Milestone-Project-Page

[2015-08-31 11:04] Pensu opened #1181 "How to add a new scheduler?"
Hi,

I am trying to add a new scheduler to docker swarm. Writing it from scratch. Is there any documentation available regarding how to do that? Or should I just look at the existing schedulers and implement a new one following their structure? TIA

[2015-08-31 11:27] jimmyxian commented on #1181
@Pensu Sorry, do not have any documentation about how to implement a new scheduler.
But you can look at the existing schedulers and implement a new one following their structure.
Also, when you implement, any problem you meet,  feel free to ping us.

[2015-08-31 14:49] kevinsimper commented on #1173
I also found that this command makes it unresponsiveable, doing something that does a lot in a row.

`docker kill $(docker ps -q)`

[2015-08-31 19:59] ahmetalpbalkan opened #1183 "mesos: no resources available to schedule container"
Hi, I have a Mesos cluster consisting of 2 agent nodes:

![image](https://cloud.githubusercontent.com/assets/159209/9588871/94873d2c-4fdf-11e5-94e2-075a0c16cc04.png)

![image](https://cloud.githubusercontent.com/assets/159209/9588873/971008c6-4fdf-11e5-8201-41ed2dec1852.png)

![image](https://cloud.githubusercontent.com/assets/159209/9588918/e42f2d4e-4fdf-11e5-9dad-165651e2c45a.png)

I started 2 c

[2015-08-31 21:57] vieux commented on #1173
@jimmyxian can you please take a look ? Thanks.

[2015-08-31 22:19] vieux commented on #1167
@ahmetalpbalkan I see 1.16 and 1.18 in your logs, is that correct ?

[2015-08-31 22:32] ahmetalpbalkan commented on #1167
LOL I can't actually repro this now for some reason... Apparently I was doing some upgrade or hit the wrong docker engine. Closing, sorry for the trouble @vieux.

[2015-08-31 22:32] #1167 closed

[2015-08-31 23:12] rgbkrk commented on #601
It's ok with me if you start implementing this. :wink:

[2015-09-01 04:41] nadgowdas commented on #1174
Thanks @jimmyxian

[2015-09-01 04:59] Pensu commented on #1181
Thanks @jimmyxian. Yeah, sure, will look into that. :)

[2015-09-01 05:45] ahmetalpbalkan opened #1185 "Manager does not retry for failed nodes (token:// discovery)"
version: 0.4.0

When Swarm manager starts (using discovery `token://`), if the node in the list is down, the manager flags it as dead **indefinitely** and does not pick it up again when the node comes afterwards.

This also happens after the Swarm manager was started. Once a node dies, the engine logs `Removed engine %s` and even though engine comes up afterwards, in the `--debug` logs the only `U

[2015-09-01 06:15] jimmyxian commented on #1173
@vieux Yeah..

[2015-09-01 06:17] jimmyxian commented on #1181
@Pensu  I shall close this issue then?

[2015-09-01 06:17] jimmyxian commented on #1174
@nadgowdas I shall close this issue then?

[2015-09-01 06:18] nadgowdas commented on #1174
Yes, please.

[2015-09-01 06:18] Pensu commented on #1181
@jimmyxian Yeah, sorry, forgot to do that. Will start a new discussion if there is any issue.

[2015-09-01 06:18] #1181 closed

[2015-09-01 06:19] #1174 closed

[2015-09-01 06:29] jimmyxian commented on #1173
@kevinsimper
Can you provide the following info?
- swarm --version
- `docker -H <swarm address> info`
- `docker -H <docker address> info`

[2015-09-01 17:50] tnachen commented on #1183
Hi there, I think there might be some problems around resource accounting in the swarm mesos scheduler that we need to figure out. Another thing is that we're refactoring the scheduler so we don't use a full offer per task, but try to run multiple tasks on a offer when we can. So short answer is that once we have the refactoring merged hopefully this will be fixed too.

[2015-09-01 21:45] MHBauer commented on #1185
I can confirm the behavior, though I don't see the "removed engine" message.

I could make an argument that this would self correct in most instances. However it would be better off to not have any timing dependent problems.

[2015-09-01 22:05] ahmetalpbalkan commented on #1185
@MHBauer maybe you need to start with `--debug` (actually it's an `info` log, but I'm not sure)...
and no it doesn't self-correct (unless container/VM restarts), that's what this issue is about.

[2015-09-01 22:09] MHBauer commented on #1185
It self corrects if the node stops advertising long enough for it to be removed from the list, and then re-added afterwards.

Here's my version info:
[code]

[2015-09-01 23:53] MHBauer commented on #1185
When the engines are bulk added in https://github.com/docker/swarm/blob/master/cluster/swarm/cluster.go#L253 addEngine() fails and returns an error, which is silently discarded. Thus the code never gets to the refresh loop that periodically checks on the state of a node.

It never gets re-added until it disappears and is readded through the join registration being killed and restarted.

I am not r