[2016-01-25 21:20] nishanttotla commented on #1667
@bluishpe this looks like a duplicate of #1511, so I'm closing it. If it's different, please let us know.

[2016-01-25 21:21] #1667 closed

[2016-01-25 21:26] tacchino opened #1682 "Network List API Name Filters"
When requesting a list of networks from the Swarm API endpoint with a name filter, overlay networks that match the filter are not returned. The network is returned in an unfiltered list request.

[2016-01-25 21:31] dongluochen commented on #1486
The majority of this proposal is completed. State `maintenance` will be added later when we have swarm API that can control nodes.

[2016-01-25 21:31] #1486 closed

[2016-01-25 21:39] dongluochen commented on #1647
@pablokbs Do you have update on this issue?

Swarm has released [v1.1.0-rc2](https://github.com/docker/swarm/releases/tag/v1.1.0-rc2) which contains better node management #1486. You may also try it.

[2016-01-25 21:45] dongluochen commented on #1678
Thanks @abronan. I would like to put disk space and inode exhaustion as `error` instead of scheduler preference. The reason is they are not a performance measure. They will cause errors and not performance penalty. It's also hard to fit them with strategy like `binpack`.

[2016-01-26 00:29] vieux commented on #1681
@tacchino can you provide steps to reproduce easily ? thanks

[2016-01-26 00:30] vieux commented on #1682
I'll take a look

[2016-01-26 00:50] #1675 closed

[2016-01-26 00:55] dongluochen commented on #1675
@paulczar The issue of unsupported engine version is resolved by #1683. You can see the error with `info`. If you build swarm from code, it'd be great for you to test it.

We are working on swarm API upgrade. We may include Engine version in normal display.

[2016-01-26 05:28] bluishpe commented on #1511
any help?

[2016-01-26 12:55] chanwit commented on #1682
I'd love to help testing. @tacchino which version of Swarm are you using? Is it 1.1-rc2?

[2016-01-26 13:31] tacchino commented on #1682
@chanwit I was running 1.0.1

[2016-01-26 13:32] chanwit commented on #1682
I've just tested with a master `be96293`. This bug is still be there but seems to be a bit different behaviour.

[code]

[2016-01-26 13:41] tacchino commented on #1681
@vieux Sure, I'll give you what I'm running.

* Set up multi-node Swarm cluster (I used three VirtualBox VMs each running a Swarm manager container and a Swarm worker container along with a 4th VM running an etcd container)
* Using the a manager containers API endpoint
  * Create an overlay network
  * Launch a container into the cluster
  * Connect the container to the overlay network (/networkid

[2016-01-26 16:08] StrictlySkyler commented on #668
+1.  If the machine goes down for a reboot from some other mechanism, say scheduled maintenance, the swarm-agent won't automatically reconnect to the swarm master.  This means the swarm-agent, at a minimum, needs to be recreated after any reboot.

[2016-01-26 19:26] nicolaka opened #1686 "events api not streaming events"
Version : swarm:1.0.1

Setup: 3 Swarm Managers with 2 Swarm nodes

Issue: Sometimes issuing `docker events` against a Swarm manager will not stream any events that the docker engines are reporting. Restarting the Swarm managers fixed the issue. Could not reproduce.

Example:

Here i'm creating containers as I listen for swarm events. But no events are showing.

$ sudo docker -H tcp://127.0.0.1:237

[2016-01-26 20:08] MHBauer commented on #1686
Was this a freshly set up swarm, or were you listening for events for a while? I know we have integration tests so listen for events, but I'm not sure how we'd test a problem that requires a swarm to sit around for a while.

[2016-01-26 21:10] nicolaka commented on #1686
Nop, and not sure exactly what caused it but it did happen to me before with a single manager. I'll try to reproduce.

[2016-01-26 22:41] vieux commented on #1681
@tacchino can you confirm that if you start the container directly on the network (with --net <NETWORK>) you see it in inspect ?

[2016-01-26 22:48] vieux commented on #1680
@auzias it look like a docker issue, let's keep only docker/docker#19589 open

[2016-01-26 22:48] #1680 closed

[2016-01-26 22:52] vieux commented on #1656
any news on this @abronan ?

[2016-01-26 23:03] abronan commented on #1656
@vieux I think this is fixed by #1658 and #1662

@dongluochen Can you confirm?

[2016-01-26 23:25] dongluochen commented on #1656
@abronan I didn't have enough info to reproduce the issue when it was reported. I still think engine came back and engine removed events were not directly related.

[2016-01-27 00:56] Spritekin commented on #1588
After reading the code, I think the problem is due to a lost object reference.

When swarm receives a resources offer from the master, if the offer is from a node not registered by swarm, it registers the node and initialises a docker client that periodically queries that node state in a never ending loop (cluster/mesos/scheduler.go:74)

If at any time it detects no more offers or tasks in the nod

[2016-01-27 02:14] nathanleclaire commented on #1664
If the `--replication` flag is to blame we should be good to go.  Maybe we should release an RC2 to address this issue.  @dgageot @jeanlaurent FYI

[2016-01-27 02:48] vieux opened #1689 "Use (unknown) name for pending nodes"
[code]

When a node is in pending, it has no name (since we cannot connect to it, it's expected) but I find the UI not pretty

Could we have `(unknown): 127.0.0.1:4444` instead of `: 127.0.0.1:4444`

/cc @dongluochen

[2016-01-27 02:58] dongluochen commented on #1689
@vieux I think it makes sense to be consistent with other nodes.

[2016-01-27 03:07] vieux commented on #1689
@dongluochen also (I know it's going to break consistency...) but what about removing all the informations that are always empty containers ?

`Containers` `Reserved CPUs` `Reserved Memory` `Labels`

The above output could be trimmed down to

[code]

[2016-01-27 03:18] dongluochen commented on #1689
They are not always empty. There are cases that we can reach the node but not passing it. One is duplicate ID, another one is engine with version < 1.6.0. But if a node is in pending state, those entries don't matter. I think we can use the more compact format.

[2016-01-27 08:07] dongluochen commented on #1686
@nicolaka Did the command exit by itself? Or did you send a Ctrl^C? What's swarm version?

[2016-01-27 10:00] tacchino commented on #1681
@vieux I'm using the API directly not the CLI. I'm not seeing an option in /containers/create to add in networking config although looking at the CLI code it looks like it might be using a NetworkingConfig data structure. Is there a documentation hole?

[2016-01-27 14:09] auzias opened #1691 "Multicast and overlay network"
I am testing a application using multicast for the discovery. I created a Swarm cluster and a `network create -d overlay swarm-net` so the containers share the same LAN across the several Swarm agents hosts.

The discovery seemed to not be working, so I installed `tshark`.  `tshark` shows the IP address node within which `tshark` is running and the multicast address for the packet being _sent_ tho

[2016-01-27 14:16] chanwit commented on #1691
Hi @auzias
I do not think an overlay network supports multicast.

cc @vieux @mavenugo

[2016-01-27 14:34] auzias commented on #1691
Really ?!  :fearful:

Does the doc give details about it? I can't find anything about that. I really did not expect such drawback. Where can I find info about it without getting lost in the source code?

[2016-01-27 14:36] chanwit commented on #1691
@auzias maybe I'm wrong.

Please wait for @mavenugo or other `libnetwork` guys to answer this.
We still have some hope.

[2016-01-27 14:40] chanwit commented on #1691
@auzias  Oh this is a bad news for you.
Libnetwork uses `vxlan` unicast.
docker/libnetwork#522.

But I think multicast will be implemented soon enough or maybe you can try some third-party plugins.

[2016-01-27 14:43] auzias commented on #1691
Any suggestion for third-party plugins?

I don't get the link between the  docker/libnetwork#522 and mine.

[2016-01-27 15:09] chanwit commented on #1691
@auzias  Sorry for my typo it's docker/libnetwork#552.

[2016-01-27 16:06] mavenugo commented on #1691
@auzias @chanwit, atm overlay driver doesn't support multicast. contributions welcome.

[2016-01-27 16:15] winggundamth opened #1692 "docker-compose pull with constraint on swarm cluster?"
Does docker-compose pull command support pull with constraint on swarm cluster?
I created issue on docker-compose but I'm not sure docker-compose or docker-swarm that responsibility for this.
https://github.com/docker/compose/issues/2764

For example

[code]

But when I did docker-compose pull it still pull to whole swarm cluster.

[code]

[2016-01-27 16:19] chanwit commented on #1692
@winggundamth Sorry no. It's always pulling the whole cluster.

Please note that `constraints` and `affinities` apply only when you're doing `docker run`.

[2016-01-27 16:21] winggundamth commented on #1692
Can I ask this as a feature request?

[2016-01-27 16:28] chanwit commented on #1692
@winggundamth it's a limitation of the docker client. You'd better request for this at the Engine repo.

It is known that there were similar requests like this for `docker build` with environment variables.
I personally think that it's a cool feature if we can selectively pull images to a zone of cluster.
@vieux @aluzzardi @thaJeztah WDYT about this?

cc @docker/swarm-maintainers

[2016-01-27 16:37] #1663 closed

[2016-01-27 16:41] chanwit commented on #1692
A side note.

Maybe `docker build --build-arg="constraint:node==node-1"` can be a workaround for pulling to a specific node. Compose also supports this feature.

[2016-01-27 16:47] winggundamth commented on #1692
I created issue on docker engine here https://github.com/docker/docker/issues/19785

@chanwit I'll try that but I'm not sure that it will support constraint by label or not.

[2016-01-27 16:50] chanwit opened #1693 "Adding network bandwidth knowledge to the schedulers"
There is a certain use case that CPU and memory are plenty enough but users would like put a new container in a machine that has lowest bandwidth usage.

Does this make sense?

[2016-01-27 17:09] auzias commented on #1691
@mavenugo  where should I start to contribute ?

[2016-01-27 17:13] mavenugo commented on #1691
@auzias https://github.com/docker/libnetwork/issues/552

[2016-01-27 17:43] nicolaka commented on #1686
@dongluochen nop, it just stays silent. Swarm version is 1.0.1.

[2016-01-27 19:35] #1682 closed

[2016-01-27 21:24] dongluochen commented on #1693
We need traffic control support in Engine to limit network usage. AFAIK, this was brought up several times in Engine but has not made any progress, see [docker#16477](https://github.com/docker/docker/issues/16477). The issue is related to docker network model. It sounds doable to me but it may request some work.

[2016-01-27 21:25] nishanttotla commented on #1511
@bluishpe We support authentication using TLS, as mentioned here: https://docs.docker.com/engine/articles/https/

Username/password isn't supported, also since it would have to be done in Docker Engine. You can try creating an issue there.

[2016-01-27 22:09] #1671 closed

[2016-01-27 22:34] nishanttotla commented on #1689
I agree with @vieux, the output could be prettier. It's hard to scan through all pending nodes because I can't see quickly see where node info begins.

[2016-01-28 00:21] tacchino commented on #1682
Thanks for the fast turn around!

[2016-01-28 06:52] chanwit commented on #1693
@dongluochen I think this is not the case of limiting network usage as currently we have already know some network information from `stat`.

With this we can then choose to put a new container into a node with least network (`rx / tx`) busy.

WDYT?

[2016-01-28 14:01] zhq527725 opened #1698 "Node resources are not considered in soft filter"
Hi,

I have a concern about how soft filter works, let me explain it with an example:
There is only one node in swarm cluster: `node1` which has 4GB memory and a label `env=prod`, now user creates a container which requests 3GB memory and with a soft filter `constraint:env==~dev`, so the container can be created successfully in `node1` since the filter is soft and `node1` has enough memory for the

[2016-01-28 18:23] dongluochen commented on #1656
@schmunk42 I close this issue since there is no repro. Feel free to reopen if you see it again.

[2016-01-28 18:23] #1656 closed

[2016-01-28 18:28] dongluochen commented on #1650
close via #1658.

[2016-01-28 18:28] #1650 closed

[2016-01-28 18:30] dongluochen commented on #1649
close by #1658.

[2016-01-28 18:30] #1649 closed

[2016-01-28 22:04] #853 closed

[2016-01-28 22:05] #889 closed

[2016-01-28 22:27] tiborvass opened #1699 "Do not use GOARCH for Architecture in `docker info`"
Swarm should use, like Engine, `pkg/platform` in docker/docker to determine what architecture it is running on.

The problem with GOARCH is that since a 32bit binary can run on a 64 bit system, it will be shown as 32bit when in fact it is 64 bit.

As a side effect of using GOARCH, engine outputs `x86_64` while swarm outputs `amd64`.

[2016-01-28 22:31] vieux commented on #1699
I tried using `pkg/platform` and `pkg/parsers/operatingsystem`

One of those 2 doesn't work on mac so I ended up using `GOARCH`

I'll try again and ping you if I have an issue.

[2016-01-28 22:33] morxa opened #1700 "images filter 'dangling' does not filter images, always returns all images"
In the following: `alias swarm=docker -H myswarm:2375`

Description of problem:
`swarm images -f dangling=true` does not filter the images, all images are marked as dangling. The same holds for `dangling=false`.

`docker version` on the client:

[code]

`docker version` on the host running the swarm:

[code]

Output of `swarm info`:

[code]

`uname -a` on the swarm host:

[code]

How reproducible:

[2016-01-28 22:38] vieux commented on #1699
@tiborvass also, why doesn't `version` use this fancy pkg https://github.com/docker/docker/blob/7a97e938e2229fa7a50b0f6e66c70eddcb9d2dc2/daemon/info.go#L133

[2016-01-28 22:39] tiborvass commented on #1699
@vieux thanks for those issues you raised. We're gonna address them :)

[2016-01-28 22:43] abronan opened #1702 "Scheduler should be aware of exclusive resource assignments (eg. cpusets)"
Re-opening/Related to #535
#### Problem statement

When we reserve a cpu for a node we use `-c 1`, but the value is converted to `--cpu-shares` which means that containers are using cpu resources in an non exclusive manner.

The solution to pin a container to a cpu exclusively is to use `--cpuset-cpus`.

The problem in that case is that the scheduler does not filter out nodes with non available se

[2016-01-28 22:44] vieux commented on #1699
@tiborvass confirmed, it doesn't work on mac.

[code]

Do you want me to update issues on docker/docker

[2016-01-28 22:45] abronan commented on #535
Closing in favor of #1702 so that this enhancement can be considered.

I think this is a good idea to have such knowledge included into the scheduler. Thanks a lot for opening @Fangfenghua and also @affo for the valuable feedback.

[2016-01-28 22:45] #535 closed

[2016-01-28 22:47] abronan commented on #1702
/cc @dongluochen @vieux

I tried to re-state the problem, let me know what you think about that. I think this is a very valid use case though.

[2016-01-28 23:10] tiborvass commented on #1699
@vieux sure, i'll fix it

[2016-01-28 23:47] jimenez commented on #1495
closed by https://github.com/docker/swarm/pull/1554

[2016-01-28 23:47] #1495 closed

[2016-01-29 00:47] dongluochen commented on #1693
@chanwit Docker `stats` has network IO bytes, not bps. It doesn't reflect current bandwidth utilization level.
[code]

That said, I think bandwidth constraint is a legit requirement. Docker doesn't support it yet.

[2016-01-29 01:08] abronan opened #1703 "Improve Swarm scheduler to take more metrics and parameters into account"
This is an umbrella issue as I just realized there are many issues regarding the scheduler and how to improve it and add more awareness of the nodes and their characteristics. The list below:
- [ ] #1702 Scheduler should be aware of exclusive resource assignments (eg. cpusets)
- [ ] #1678 Enhance the scheduler with knowledge about Disk space and inode usage.
- [ ] #1693 Adding network bandwidth kn

[2016-01-29 01:09] abronan commented on #1703
(Tentatively added a milestone to it, feel free to change that)

[2016-01-29 01:37] dongluochen commented on #1700
Docker `dangling` filter was added recently and swarm has not supported it yet.

[2016-01-29 01:55] vieux commented on #1700
@dongluochen recently ? I believe it was introduced in engine 1.2.0 :)

[2016-01-29 02:12] dongluochen commented on #1700
@vieux I didn't check all the code history :(

[2016-01-29 02:15] nishanttotla commented on #1689
One argument against trimming down the output for this is that consumers of our API might find it harder to parse when some fields are missing. WDYT?

[2016-01-29 04:28] winggundamth opened #1704 "Swarm node missing"
I already read https://github.com/docker/swarm/issues/563 but I think this issue is difference.
I'm not cloning VMs and I'm sure that all the key on Docker hosts is difference.

[code]

At first when I create this cluster, all nodes are working as expected. But as you can see from above. Swarm node bpl-prd-nde-02 and bpl-prd-nde-05 is missing after few days.

Please let me know if you need any mor

[2016-01-29 04:49] winggundamth opened #1705 "Run container to every nodes in Swarm Cluster"
Now I'm using this script to clean unused Docker Images in my whole Swarm Cluster

[code]

Any way to remove the for loop and use only one line command with docker run to run spotify/docker-gc to every nodes in Swarm Cluster?

I'm not sure sure this has to be done by Docker Engine or Docker Swarm?

[2016-01-29 09:02] dvenza commented on #1681
Hi, I have the same problem.

I run a new container (via the commandline) passing the option --net=testnet, network inspect says there are no containers:
[code]
If I inspect the container just started:
[code]

[2016-01-29 09:26] dvenza commented on #1681
Version info (latest available on Ubuntu):
`Docker version 1.9.1, build a34a1d5`

[code]

[2016-01-29 11:54] chanwit commented on #1703
Thank you @abronan
For me, a node's network utilization is the first priority since a cluster we have deployed is network IO intensive rather than CPU and memory.

Basically, I'll be working on a PR for #1693 using rx/tx without waiting for bandwidth control to happen in the Engine.

Is there any suggestion of how should I proceed this.
  * Should it be a new strategy?
  * Or should it extend the

[2016-01-29 12:08] chanwit commented on #1693
@dongluochen Thanks for that. I maybe use the wrong term :) :)
Like CPU percentage, I think it's worth to implement a scheduler atop this net i/o information away.
Using derivative calculation per second might do the trick.

[2016-01-29 12:08] chanwit commented on #1693
I'll change it to a proposal then.

[2016-01-29 13:19] fsoppelsa commented on #1704
What's their STATE in machine's ls output?

[2016-01-29 13:40] winggundamth commented on #1704
Please see output of docker-machine ls on my first post. All states is Running.

[2016-01-29 14:52] fsoppelsa commented on #1704
So is dm output the same "after few days" ?

[2016-01-29 16:30] winggundamth commented on #1704
Yes. The output you see is the output from current status.

[2016-01-29 17:47] vieux commented on #1704
@winggundamth can you please try to update to swarm:1.1.0-rc2 ? nodes shouldn't disappear and you will see the error listed in docker info.

the node management was greatly improved in 1.1.0

[2016-01-29 19:32] amitshukla commented on #1559
@disastrous-charly can you please test with Swarm 1.1.0 RC2?
docker pull swarm:1.1.0-rc2

[2016-01-29 19:43] nishanttotla commented on #1693
@chanwit just so things are clear, can you provide more detail about how exactly you will do this calculation?

[2016-01-29 19:47] dongluochen commented on #1561
Closing this issue now. Feel free to reopen if it's not resolved.

[2016-01-29 19:47] #1561 closed

[2016-01-29 19:48] amitshukla commented on #1511
@bluishpe please reopen if you have further questions

[2016-01-29 19:48] #1511 closed

[2016-01-29 19:51] amitshukla commented on #1508
The immediate question is resolved, and Node management (https://github.com/docker/swarm/issues/1486) is tracking a complete solution.

[2016-01-29 19:51] #1508 closed

[2016-01-29 19:53] chanwit commented on #1693
@nishanttotla would you be interested helping me do math?

I'm thinking of having a separate go-routine collecting network I/O information from each node.
Then having a window, say t=5, to average collected I/O into network usage per second.
I think this will be an enough information to be used by a scheduler.

WDYT?

[2016-01-29 19:58] chanwit commented on #1705
relates to #601

[2016-01-29 19:59] amitshukla commented on #1503
Thanks @ahaurw01 - closing this question

[2016-01-29 19:59] #1503 closed

[2016-01-29 20:00] nishanttotla commented on #1703
There are a few other issues under the `area/scheduler` label. I would suggest that we pick a milestone (like 1.2.0 here) and use this issue to prioritize which ones we want to have by that. In particular #383, #601 and #1396 are the ones not listed above.

[2016-01-29 20:00] amitshukla commented on #1484
@emilebosch this has been fixed in Swarm 1.1.0. Can you please try with the RC?
docker pull swarm:1.1.0-rc2

[2016-01-29 20:04] abronan commented on #1703
@nishanttotla I thought about adding those after doing some research but I think that they are not directly related. Here it's more about improving the scheduler to take smarter decisions based on more parameters.

[2016-01-29 20:04] jimenez commented on #1619
@klaus1982 +1 on this, thanks for contributing!

[2016-01-29 20:22] chanwit opened #1708 "Proposal: running containers on multiple nodes with constraint:global"
This issue proposes a new `constraint` to use alone or in conjunction with other constraints / affinities to force swarm to run newly created containers on "every" node that meets the criteria.
There are common use cases that users need to run multiple containers at once,
especially when they are scaling services to a specific zone of the cluster. (For example, a swarm cluster spanning across mult

[2016-01-29 20:31] winggundamth commented on #1705
Ok so I'll close this and follow #601 instead

[2016-01-29 20:31] #1705 closed

[2016-01-29 20:36] chanwit opened #1709 "Regression "label affinity in parallel" is always failing"
I did regression locally a lot on my boxes recently as I cannot wait `janky` to finish the test and found that this test "label affinity in parallel" is always failing on my boxes.

Could any one confirm this?

[code]

[2016-01-29 20:48] amitshukla commented on #1468
@ekristen were you able to reproduce the issue? Thanks

[2016-01-29 20:50] nishanttotla commented on #1709
I agree, has been failing for me too with the exact same output.

[2016-01-29 21:03] dongluochen commented on #1693
@chanwit I'd like to hear your proposal. But I have concerns about its functionality and performance. I'd like to see docker support for bandwidth measurement at container level. A common use case is to limit bandwidth usage on a container so that users can implement traffic management. Averaging bandwidth with a few seconds isn't accurate. The problem is network traffic is not constant. Applicati

[2016-01-29 21:08] vieux commented on #1709
alright, let's investigate this one @docker/swarm-maintainers

[2016-01-29 21:13] nishanttotla commented on #1693
I agree with @dongluochen. I'm also concerned that the averaging over a really short time period will not be very accurate, and heavily depends on the network. We could increase the averaging period at the cost of efficiency, as long as this feature is made optional with appropriate documentation.

[2016-01-29 21:17] chanwit commented on #1693
@dongluochen @nishanttotla
You're right. It seems intensive calculation does not fit inside the manager. Maybe we can have an out-of-process plugin to help feed in some custom information that guides the scheduler?

[2016-01-29 21:51] vandita31 opened #1710 "Docker Swarm and ETCD misconfigured issue"
Hi ,

I am facing a lot of issues with bringing up the swarm image and using the etcd cluster. I was having similar issues with TLS , so i decided to start fresh. I have a standalone etcd instance with the latest version  of etcd ( No TLS)

[code]

I created a "swarm" key on the etcd server-

[code]

I then proceeded to use the latest swarm image on a node , and following your documentation here (

[2016-01-29 22:17] vandita31 commented on #1561
@dongluochen - Thanks for that. I started afresh without TLS this time , so i opened a new issue around that , if you can help ( https://github.com/docker/swarm/issues/1710 ) I'll circle back on TLS and update this ticket if issues persist.

[2016-01-29 22:34] nishanttotla commented on #1693
Would it make sense for agents to keep track of this information? And rather than have a short window where we collect I/O information frequently, we could have a large window with less frequent updates. Then the manager could just get this information off of the nodes when (or if) it needs to. Would this be more efficient?

This won't be super accurate all the time, and could give unusable number

[2016-01-29 23:05] nishanttotla commented on #1427
@xuxilei how are you running the manage command, and are you using bash? In general, your shell should expand relative paths to absolute paths, although there are some limitations. Can you try skipping the `=` sign? For instance, try running your command as follows:

[code]
as opposed to
[code]
The former works for me, latter doesn't, can you try and report back? Meanwhile I will check if we want

[2016-01-29 23:44] nicolaka opened #1713 "net-alias not working with swarm"
Swarm is ignoring --net-alias flag introduced with engine 1.10. This isn't an inspect cosmetic issue as the functionality of dns lookup for that net alias is not working.  This functionality works fine with single engine.

Swarm Version : 1.1.0-rc-2
Steps to Reproduce ( assuming multihost networking is configured):

- Create an overlay network called 'bar'

[code]
- Create a container part of that

[2016-01-29 23:45] vieux commented on #1698
@zhq527725 you are absolutely right, I'm working on this asap

[2016-01-30 00:35] #1588 closed

[2016-01-30 00:35] #1655 closed

[2016-01-30 00:53] nicolaka commented on #1713
Also (`--ip`) ,another new option in 1.10, isn't working. @mavenugo

[2016-01-30 00:53] vieux commented on #1713
thanks for the report @dongluochen is looking into it

[2016-01-30 00:55] mavenugo commented on #1713
Thanks @nicolaka.

@dongluochen @vieux can you please make sure all the new options are supported ?
They are mentioned under `Networking` section of https://github.com/docker/docker/releases/tag/v1.10.0-rc2.

[2016-01-30 00:59] dongluochen commented on #1713
The dockerclient swarm uses doesn't have NetworkConfig type so these parameters are not passed to docker engine. We will add it shortly.

[2016-01-30 01:28] vieux commented on #1681
@dvenza yes this is a known bug in swarm 1.0.1 can you pleas try with the latest RC ?

`docker pull swarm:1.1.0-rc2`

Thanks

[2016-01-30 01:33] vieux commented on #1648
@schmunk42 since we don't want to store user's credentials in swarm, we nothing much we can do about it :/

[2016-01-30 01:37] vieux commented on #1708
I think it's a good idea, I'd also add a new "state" in the node managment, between "pending" and "healthy" like "warming up" so we don't start scheduling containers on a node until all it's global are launched.

The main issue will be docker ps ? do you expect one line per container ?

[2016-01-30 01:45] amitshukla commented on #1580
@moxiegirl @rolfedh any update on whether this will make 1.10?

[2016-01-30 01:46] amitshukla commented on #1443
@Farjad given the last update on this was 2 months ago, I am going to close this issue. Please reopen if it still repros. Thanks

[2016-01-30 01:46] #1443 closed

[2016-01-30 01:47] amitshukla commented on #1439
@bergtwvd I am hoping your question was resolved. If not, please reopen.

[2016-01-30 01:47] #1439 closed

[2016-01-30 01:50] amitshukla commented on #1424
@panli889 Swarm 1.1.0 supports registries with Auth
docker pull swarm:1.1.0-rc2
Closing this question.

[2016-01-30 01:50] #1424 closed

[2016-01-30 01:53] amitshukla commented on #1413
@aanm I am closing this issues since it hasn't been touched in 2 months. Please reopen if you find that this is still an issue.

[2016-01-30 01:53] #1413 closed

[2016-01-30 01:55] amitshukla commented on #1407
Per Xuxilei the issue was due to his http proxy.. closing

[2016-01-30 01:55] #1407 closed

[2016-01-30 01:56] amitshukla commented on #1404
@moxiegirl do you think you have incorporated this into the doc plan and we can close this issue?

[2016-01-30 02:01] amitshukla commented on #1396
@bhar19 we welcome your contribution! I suggest closing this issue and creating a proposal for the changes you are proposing.

[2016-01-30 02:05] amitshukla commented on #1379
@aluzzardi I also suggest that restarting a container should actually reschedule a container rather than restart it on the same node it was stopped on.

[2016-01-30 05:39] amitshukla commented on #1341
Node management (#1486) is tracking a complete solution. Closing this issue.

[2016-01-30 05:41] amitshukla commented on #1333
@moxiegirl @rolfedh is this being documented now as part of 1.10?

[2016-01-30 05:57] amitshukla commented on #1217
Closing: the question was answered and the docs were updated (https://github.com/docker/swarm/pull/1520)

[2016-01-30 05:57] #1217 closed

[2016-01-30 06:04] amitshukla commented on #1113
@dhiltgen any changes to this request?

[2016-01-30 06:07] amitshukla commented on #1089
@ahmetalpbalkan it's been a long time getting back to you. Please do make a proposal!

[2016-01-30 06:10] amitshukla commented on #1060
Closing as this issue is very old. Please reopen if you are still need help/want to propose an enhancement.

[2016-01-30 06:10] #1060 closed

[2016-01-30 06:13] amitshukla commented on #1001
@moxiegirl Given that this documentation item is old, and there are many other tickets tracking the current documentation push, I am going to close this.

[2016-01-30 06:13] #1001 closed

[2016-01-30 06:14] amitshukla commented on #1000
@moxiegirl closing as this is pretty old

[2016-01-30 06:14] #1000 closed

[2016-01-30 06:14] amitshukla commented on #998
@moxiegirl closing this as it's pretty old

[2016-01-30 06:14] #998 closed

[2016-01-30 06:16] amitshukla commented on #972
@UserTaken is this still an issue?

[2016-01-30 06:17] amitshukla commented on #970
Closing this as it is an pretty old issue.

[2016-01-30 06:17] #970 closed

[2016-01-30 06:20] amitshukla commented on #915
The docs have been fixed for a while.

[2016-01-30 06:20] #915 closed

[2016-01-30 06:25] amitshukla commented on #868
Issue is old, and the immediate question was answered... closing

[2016-01-30 06:25] #868 closed

[2016-01-30 06:26] chanwit commented on #1713
:+1:

[2016-01-30 06:27] amitshukla commented on #822
Really old question... closing

[2016-01-30 06:27] #822 closed

[2016-01-30 06:28] amitshukla commented on #816
Really old issue... please reopen if it is still relevant

[2016-01-30 06:28] #816 closed

[2016-01-30 06:29] amitshukla commented on #775
The behavior is by design... also old issue

[2016-01-30 06:30] amitshukla commented on #767
@HackToday please reopen if this is still an issue

[2016-01-30 06:30] #767 closed

[2016-01-30 06:30] amitshukla commented on #761
Old issue... closing.

[2016-01-30 06:30] #761 closed

[2016-01-30 06:31] chanwit commented on #1708
Similar to a `dangling`, I'm thinking to propose:
[code]
to allow grouping together all containers started by the same `global` constraint.
So this kind of filter will be available only when using swarm, just like `-e constraint:`.

WDYT?

[2016-01-30 06:32] amitshukla commented on #741
Closing since its a pretty old ticket

[2016-01-30 06:32] #741 closed

[2016-01-30 06:33] amitshukla commented on #736
@aluzzardi is this question still relevant?

[2016-01-30 06:36] amitshukla commented on #722
Docs look cleaned up

[2016-01-30 06:36] #722 closed

[2016-01-30 06:37] amitshukla commented on #672
@aluzzardi is this still relevant?

[2016-01-30 06:41] amitshukla commented on #593
Resolving since docs have been updated

[2016-01-30 06:42] amitshukla commented on #437
Closing as this is pretty old

[2016-01-30 06:42] #437 closed

[2016-01-30 06:43] amitshukla commented on #1572
@moxiegirl should this be assigned to @rolfedh ?

[2016-01-30 08:35] vincentwoo commented on #1341
@amitshukla everything in that PR claims that it does not cover node removal. Why did you close this issue? Can you point me at the part of the PR that is removal-related?

[2016-01-30 13:53] anentropic commented on #1399
can someone clarify for me... `-m` flag is a memory _limit_, or indicates to the swarm how much memory to _reserve_ for the container... or both?

[2016-01-30 16:38] dhiltgen commented on #1113
Not at this time - I still see this as a "nice to have" as it would make it just a tad easier for people to stand up TLS protected swarm clusters.

[2016-01-30 18:13] stvnwrgs commented on #1484
@amitshukla i just tried rc2. Seems it does not work for me.

`docker -H "swarm-manager:23755" run -i -t --env TEST_SCRIPT=test.js stvnwrgs/private`
`Error response from daemon: Error: image stvnwrgs/private`

I am able to pull the image from the servers (manager and node) directly.

`docker -H swarm-manager info`

[code]

`docker -H swarm-manager version`

[code]

`docker info` on manager

[code]

[2016-01-30 22:04] jpetazzo opened #1716 "`docker ps --filter ancestor=...` includes all images"
**What I have:**

5 nodes cluster running Swarm 1.1.0-rc2 and Engine 1.9.1.

One one node, I'm running 4 containers:
- swarm agent
- swarm manager
- `docker run -dti alpine sh`
- `docker run -dti ubuntu sh`

**What I do:**

[code]

**What I expect to see:**

Just the Ubuntu container (that's what I see if I run the command vs my single node):

[code]

**What I see instead:**

All running container

[2016-01-30 23:44] stvnwrgs opened #1717 "Proposal: New strategy "balanced" container count"
I have the following situation right now:

A swarm cluster that is spawning the same container a few hundred/thousand times.
Every container is doing the same job and needs the same resources.

Spawning up to 1000 Containers on 5 Nodes in a few minutes resulted in the following:

**Spread**
- First x containers scheduled to node 1, then x containers to node 2, ...
- x was every time completely dif

[2016-01-30 23:59] abronan commented on #736
@amitshukla Yes, please do not close.

[2016-01-31 00:01] abronan commented on #767
Replaced by #1126

[2016-01-31 00:02] abronan commented on #775
Reopening this one if you don't mind, as this is still relevant, we saw on the 1000 nodes demo that the output of `docker info` is not practical to use. I for one would like to see such a feature as we expend the API to support node management.

[2016-01-31 00:05] abronan commented on #972
@amitshukla Yes this might still be an issue even though this is low priority. Please keep it open for the record.

[2016-01-31 00:09] abronan commented on #593
@amitshukla Re-opening it if you don't mind, this point is still relevant and not well explained in the documentation. Also relevant to the topic of rolling-upgrades of engines and Swarm which is impacted by such details.

[2016-01-31 00:12] abronan commented on #1341
Reopening as this is still an issue. Node Management does not answer this question completely. We still need better docs.

[2016-01-31 00:21] abronan commented on #1716
Thanks @jpetazzo! I think it indeed looks like a duplicate of #1700 but we'll keep it open for now as this adds some insights and details to the original issue.

/cc @dongluochen @vieux

[2016-01-31 00:25] abronan commented on #1343
@amitshukla Why closing? There is a reference to this issue in #1568 that will close it automatically when the PR is merged. It is still not merged yet so I'm re-opening to make sure this is dealt with.

[2016-01-31 00:27] abronan commented on #672
@amitshukla yes still relevant cluster needs better unit testing.

[2016-01-31 01:30] moxiegirl commented on #1333
@amitshukla Yes, Rolfe is documenting a set up on a VPC. He's using `etcd` as the discovery backend.

[2016-01-31 01:30] moxiegirl commented on #1001
@amitshukla that's fine.  We are covered with the new docs.

[2016-01-31 01:31] moxiegirl commented on #1000
@amitshukla Agreed. New docs have more diagrams so pretty much covered.

[2016-01-31 01:32] moxiegirl commented on #1572
@amitshukla Not now. Let's look at it for 1.20.

[2016-01-31 01:35] moxiegirl commented on #1404
@amitshukla I think we do.

[2016-01-31 02:24] moxiegirl commented on #1580
@amitshukla I made a PR for this work.

[2016-02-01 05:54] gradywang opened #1720 "godep: Unable to parse Godeps/Godeps.json: invalid character ':' after array element"
Hi,

I want to build swarm with the latest released source files on Ubuntu 14.04, but I meet the following errors:

root@gradyhost1:/opt/tmp# godep restore -v
godep: Unable to parse Godeps/Godeps.json: invalid character ':' after array element

My detailed steps as below:
1. Prepare the environment as below:
root@gradyhost1:/opt/tmp# cat /etc/*release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=14.04
DISTRI

[2016-02-01 09:09] nishanttotla commented on #1720
@gradywang thanks for reporting this, I can see that there's a `{` missing above line 43 in https://github.com/docker/swarm/blob/v1.0.1/Godeps/Godeps.json

Ping @vieux @abronan @dongluochen I'm not sure why our 1.0.1 release code has that, but can we fix it?

Check image below:
<img width="704" alt="screen shot 2016-02-01 at 1 06 20 am" src="https://cloud.githubusercontent.com/assets/1872537/12712

[2016-02-01 09:27] vieux commented on #1720
I would wait 1.1.0 in a few days.

[2016-02-01 10:11] gradywang commented on #1720
@nishanttotla thanks for your reply. How to submit a pull request to a stable release to fix this issue?

[2016-02-01 11:00] disastrous-charly commented on #1559
Hello,

Still have the same error :(
FYI, I upgraded my swarm master to docker 1.9.1. worker are in 1.9.0. Registry in 2.2.

Anything I could try ?

[2016-02-01 12:58] argon commented on #1524
Should this be reopened for tracking as there appears to be no final resolution /cc @abronan

[2016-02-01 16:43] vieux commented on #1720
@gradywang this is already fixed in master, you can build 1.1.0-rc2 today without this issue.

[2016-02-01 17:08] abronan commented on #1524
Thanks @argon. Yes let's reopen, a new documentation is coming and explaining this point but as of now there is still no clear mention on how to do it.

[2016-02-01 17:09] #1343 closed

[2016-02-01 17:26] nishanttotla commented on #1720
@gradywang please build 1.1.0-rc2 instead, as mentioned above, where you shouldn't have this problem: https://github.com/docker/swarm/releases/tag/v1.1.0-rc2

Closing the issue.

[2016-02-01 17:26] #1720 closed

[2016-02-01 17:30] #1625 closed

[2016-02-01 17:32] vieux commented on #1214
This is not perfect, but it was improved in https://github.com/docker/swarm/pull/1721 since the `\b` were removed

[2016-02-01 17:36] amitshukla commented on #593
@rolfedh can you please look into this?

[2016-02-01 17:51] abronan commented on #1710
Hi @vandita31, just tried with the same etcd version (`2.2.4`) starting `etcd` simply with:

[code]

This works fine, but quick question: are you using `CoreOS` distribution with proxy mode for etcd? (which would in this case be related to: #972)

[2016-02-01 18:10] agelwarg opened #1722 "Incorrect response from /exec/(name)/start endpoint via swarm"
For the /exec/(name)/start endpoint, it seems that swarm > 0.4.0 now responds with "Transfer-Encoding: chunked".  However, it doesn't appear to be working because the connection is closing incorrectly.  Using the following script, the problem can easily be recreated -- args are the swarm IP, swarm port and container name/id.  In this script, the command getting executed is simply "date":

---

[co

[2016-02-01 18:20] vandita31 commented on #1710
@abronan - I am using the latest release from-
https://github.com/coreos/etcd/releases/
(https://github.com/coreos/etcd/releases/download/v2.2.4/etcd-v2.2.4-linux-amd64.tar.gz)

Also , I am using systemctl to start etcd and keep it running so I'm not doing it manually and the configuration is as below

[code]

Can you see anything in the above configuration that needs to be enabled? I seem to have

[2016-02-01 18:47] vandita31 commented on #1710
@abronan - To add to your suggestion above , I decided to test it out manually , so i stopped it using systemd -

[code]

I then started it manually

[code]

I validated the process is running -

[code]
Does the way it start above look correct to you? Bceause my swarm issue still remains the same stating it is misconfigured.

[code]

[2016-02-01 19:13] nathanleclaire commented on #1399
It's both: `-m` to indicate the memory limit to Docker, which Swarm also uses to reserve the corresponding amount of space.

Based on how much they reserve.  If you schedule through Swarm it will refuse to schedule containers which reserve more memory than the system currently has available.

[2016-02-01 21:01] #1676 closed

[2016-02-01 21:11] #1698 closed

[2016-02-01 21:38] #1689 closed

[2016-02-01 22:16] vieux commented on #1722
I guess the bug was introduced by https://github.com/docker/swarm/pull/1252

can you tell us more, how do you get the issue ?
the docker client seems to be working fine.

[2016-02-01 22:29] agelwarg commented on #1722
We first discovered it when using the ruby gem docker-api (https://rubygems.org/gems/docker-api), which uses the excon gem (https://rubygems.org/gems/excon) for http communication with the docker (remote) api.  Ultimately it raises an exception with an error such as:

...vendor/bundle/ruby/2.1.0/gems/excon-0.45.3/lib/excon/socket.rb:45:in `read_nonblock': end of file reached (EOFError) (Excon::Err

[2016-02-01 22:43] vieux commented on #1189
basic volume API was added in swarm, see tests in https://github.com/docker/swarm/blob/master/test/integration/api/volume.bats

[2016-02-01 22:43] #1189 closed

[2016-02-01 22:44] vieux commented on #1470
@abronan now that libnetwork emit events, should we close this one ?

[2016-02-01 22:54] vieux opened #1727 "docker info with engine 1.6.2"
I was testing 1.6.2 compat, seems ok beside one small thing:

[code]

The Error is

[code]

(with a \n)

I think it could lead us to problems.

@dongluochen can you take a look ?

[2016-02-01 23:10] abronan commented on #1470
@vieux I need to try to reproduce first, I think this may still be an issue in some cases.

[2016-02-01 23:12] nishanttotla commented on #1427
Closing this issue since it's not really a Swarm issue, but a command line quirk. If more people have issues with it later, we can consider manipulating relative paths in Swarm.

[2016-02-01 23:12] #1427 closed

[2016-02-01 23:29] jimenez commented on #1583
Closing this as this behavior seems to be solved with 1.1. Thanks @Spritekin !

[2016-02-01 23:29] #1583 closed

[2016-02-01 23:30] vandita31 commented on #1710
@abronan

Your comments on IRC -

[code]

Here is my curl from the docker node

[code]

As you can see , i can access the etcd keys without any issues from the node , so it can connect to it without an issue

[2016-02-01 23:52] #888 closed

[2016-02-02 00:08] #1713 closed

[2016-02-02 00:36] vieux commented on #1686
@nicolaka I think I found a workaround https://github.com/docker/swarm/pull/1728

[2016-02-02 00:43] vandita31 commented on #1710
@abronan -

Updating ticket with testing using --net=host

[code]

[2016-02-02 01:02] vandita31 commented on #1710
@abronan:

Attempting starting etcd using

[code]

Docker swarm image -

[code]

[2016-02-02 01:14] vandita31 commented on #1710
@abronan -

The swarm join worked. However i get this error with swarm manage -

[code]
Why is it forcing to use --discovery flags? from the docs , it seems thats only for discovery with TLS enabled.

[2016-02-02 01:29] vandita31 commented on #1710
@abronon -

Using swarm manage without "tcp"

[code]

[2016-02-02 03:01] vandita31 commented on #1710
@abronan -

Since my docker Daemon is using TLS to run , i assumed i will have to use swarm manage using the same certs as the daemon to connect , however  it refuses to recognize the arguments

I attempted the following -

[root@docker-po-3p ssl]#  docker run --net=host atlas-registry.sys.comcast.net/automation/swarm -l "debug" manage -H 10.54.185.30:2380  --tlsverify --tlscacert=/app/support/doc

[2016-02-02 03:07] #1686 closed

[2016-02-02 06:06] doronl commented on #1203
Why was this closed? did you implement the missing ‘since’ events functionality in the swarm API? as I mentioned in #1504

Thanks

[2016-02-02 06:33] vieux commented on #1203
Sorry @doronl we just merged a PR related to events but you are right it doesn't fix the --since issue.

Every engine stores 64 events in memory but it's true that swarm could store more, I'm going to try to PoC something.

[2016-02-02 07:50] xFragger commented on #534
Same question for me. I've got a cluster, every node has one CPU and i want to reserve 1/4 for each container, so that the max is 4 containers per node. So i thought i could give --cpu-shared 256 to each "run"-command, to sum up to 1024

--cpu-shares would be ok, if it would accept floats, but it does not, or even i could manipulate the amount of available CPUs per node

[2016-02-02 07:50] gradywang opened #1730 "Swarm framework abort when Mesos master leaves."
According to my understanding, Swarm should detect the Mesos master automatically at runtime, and re-register to it when Mesos master recovery, but I found I am wrong after I tested this behaviour based on the latest code in community.

My test steps as below:

Step1: Prepare the Swarm + Mesos environment based on the latest code in community.

Step2: Run a task in Swarm cluster, and it started su

[2016-02-02 08:26] gradywang commented on #1591
@Spritekin  Currently, Swarm register to Mesos with the default role `*`, and it can not register with multiple roles, because Mesos does not support now,  so if you make static reservation for some roles in the Mesos slaves, Swarm will not get those resources except the resources which do not be reserved to any role. So your proposal is depend on the multiple roles support for a framework in Meso

[2016-02-02 08:29] gradywang commented on #1591
#dibs

[2016-02-02 09:05] jimmyxian commented on #1708
@chanwit Good idea. +1 for this.
When adding new node in cluster, does `global` container need to be auto started on the new node?

[2016-02-02 09:07] chanwit commented on #1708
To make it deterministic, it won't.
:-)

[2016-02-02 09:25] Yogesh9692 opened #1731 "Abnormal swarm behavior while querying port"
I am running swarm as a separate container, using docker 1.9.1 version. Swarm is listening on http://192.168.56.101:2376, When I view containers json I get 2 records, cdn_lr001_m2_fkt and cdn_lr001_m1_fkt, But when I do docker -H tcp://192.168.56.101:2376 port cdn_lr001_m1_fkt, I see abnormal behavior. It works for cdn_lr001_m2_fkt and doesn't work for cdn_lr001_m1_fkt.
Am I missing something? or

[2016-02-02 18:05] abronan commented on #534
@xFragger There is a conversion that is made from `-c` in swarm to `--cpu-shares` in docker. When you specify `-c 1` in swarm it traduces to `--cpu-shares 256` for docker. `-c` and `-m` are one of the rare flags that are a bit different in how they function from a swarm perspective.

Otherwise you can still use `--cpu-quotas` for example but cpu time will not be accounted by the scheduler, this is

[2016-02-02 18:16] #1727 closed

[2016-02-02 18:50] xFragger commented on #534
i saw the conversation, after commenting here....
my problem is, that i want to control the max number of containers per node, i thought, using the cpu could be a solution, but it isnt.... is there another possibility to control this number?
Normally all possible nodes, that i address with a "run" call (with constraints for some labels), are of the same kind and all of them should run a fixed numb

[2016-02-02 18:57] abronan commented on #534
@xFragger I think your use case is very typical and does not really fit using `-c` because it would be just a workaround to limit for a raw number of containers per node using cpu resource reservation.

Do you mind opening a short proposal (in a new issue) for this? I mean maybe we can use labels to specify the maximum number of containers per node and make the scheduler aware of that when using f

[2016-02-02 19:10] abronan commented on #1710
@vandita31 You need to mount the certs directory as a volume because you are using the docker Image to do that so using `-v /mycerts /path/to/mycerts` where `/path/to/mycerts` is your certs directory on the host. Also you should now use `--tlscacert=/mycerts/ca.pem` instead, etc. etc.

You can refer to the [volumes documentation](https://docs.docker.com/engine/userguide/dockervolumes/) for that.

[2016-02-02 19:13] nishanttotla opened #1733 "Swarm API versions need refining"
I see ~~two issues~~ one issue with Swarm API versions
1. Currently, the Swarm API allows arbitrary version numbers. This doesn't make sense since Engine sets a lower limit (https://github.com/docker/docker/blob/012a3b6e74d753e1b0560d8f9b085b0fa0a80c0f/api/common.go#L19). I think Swarm should stay in sync with that. It makes sense to prevent issues such as #1727 caused by too many differences acro

[2016-02-02 19:17] xFragger opened #1734 "New label to limit the number of containers per node"
just as discussed in #534 i would need to have a label (or something like this) to limit the number of containers per node.
What about something like com.docker.containersmax oder com.docker.swarm.maxcontainers?
It should be absolutely CPU-/Memory-/Somethingelse-independent.
When no node is found, the "error" should be in the same manner like the error, when no node with that port or constraint is

[2016-02-02 21:47] doronl commented on #1203
So is the PR opened somewhere? or should #1504 be reopened? … just to keep track of things

Thanks

[2016-02-02 21:59] nishanttotla commented on #1597
Closing this issue since it was fixed by #1645.

[2016-02-02 21:59] #1597 closed

[2016-02-02 22:06] dongluochen opened #1737 "swarm doesn't support docker network create --internal flag"
Docker [#19276](https://github.com/docker/docker/pull/19276) added `--internal` flag to network create to restrict external access to and from the network. Swarm needs to pass (and store) this information.

Here is reproduce step. Network create with `--internal` flag is issued to swarm manager.
[code]
Swarm doesn't include it in the request to engine.
[code]

[2016-02-02 22:11] dongluochen opened #1738 "swarm doesn't support docker network ls type filter"
Docker [17782](https://github.com/docker/docker/pull/17782) added --filter flag to network ls to hide predefined networks. Swarm doesn't support it yet.

[code]

[2016-02-02 22:11] vieux commented on #1733
Regarding #2, no they are different.
`api/handlers.go` should return a static number since it's the max version supported by the daemon (swarm)
The version in context is the one the client is talking to you with, see on engine:

[code]

ApiVersion is the engine version 1.23 even though I used 1.12 to talk to the engine.

[2016-02-02 22:16] nishanttotla commented on #1733
@vieux I get it now, you're right. Do you think we should fix the first one though?

[2016-02-02 22:25] vieux commented on #1733
@nishanttotla yes! according to https://docs.docker.com/engine/reference/api/docker_remote_api/ the minimum supported engine version by swarm (1.6.x) is using api 1.18, so 1.18 should be our minimum

[2016-02-02 23:32] amitshukla commented on #1661
@gaoning777 Can you try Swarm 1.1 rc2 and see if it is now working?
docker run swarm:1.1.0-rc2

[2016-02-02 23:33] vieux commented on #1647
as @dongluochen said, it should be fixed in 1.1.0.

Please reopen if you have any issue.

[2016-02-02 23:33] #1647 closed

[2016-02-03 00:14] amitshukla commented on #1298
@rolfedh is this on your radar?
cc: @moxiegirl

[2016-02-03 00:15] amitshukla commented on #752
@rolfedh can you please take a look at this?
cc: @moxiegirl

[2016-02-03 00:16] #1738 closed

[2016-02-03 01:16] amitshukla commented on #1643
@vandita31 was your question answered?

[2016-02-03 01:19] amitshukla commented on #1704
@winggundamth did Swarm rc2 resolve your issue?

[2016-02-03 01:21] amitshukla commented on #1648
@yutian1224 does the above answer your question?

[2016-02-03 01:47] amitshukla commented on #1664
@whites11 thank you for helping us identify this issue. Can we close it if no further action is needed?

[2016-02-03 02:19] dongluochen commented on #1567
@mrapczynski I do not get enough info to reproduce your problem. You may do some search on [docker-compose](https://github.com/docker/compose). If we do not get extra info, I may close this issue.

[2016-02-03 03:21] jimmyxian commented on #1700
Swarm does not support `dangling`
Also, I think difficult to support.
Image data which doesn't have repotag in swarm have two kinds of classification( `danging` and `intermediate images` ), and we can not distinguish.

Also, `docker images` in swarm does not show the image which doesn't have repotag by default.

[2016-02-03 06:48] whites11 commented on #1664
Yes, issue closed for me

Thanks

Il giorno mer 3 feb 2016, 02:48 Amit Shukla <notifications@github.com> ha
scritto:

[2016-02-03 07:05] #1664 closed

[2016-02-03 07:37] garagatyi commented on #1203
I think that this issue should be closed. The purpose of it is to find explanation why origin command doesn't show events. Now we know that this is because of --since option.
I, **definitely**,would like to have working --since with swarm, but it probably should be requested in separate issue.
@vieux  @doronl WDYT?

[2016-02-03 09:33] chanwit opened #1747 "Update command failed in Regression"
Is there anyone can help confirm this?

[code]

[2016-02-03 09:47] doronp commented on #1717
Hi,

Please see #1397
I the last version of the PR is exactly what you ask for.

[2016-02-03 09:47] doronp commented on #1717
@stvnwrgs @abronan cc

[2016-02-03 12:24] carnuel opened #1748 "Cluster of 10 PCs, multiple container in overlaynetwork, some containers can ping each other, others can't"
Hi,

Description of Setup:

10 hosts, one of which plays the role of the swarm manager
Discovery service consul on the host of the swarm manager
using an overlay network
the manager starts 9 containers with spread, one on each of the free nodes, some of them are able to ping each other, other's aren't.
They all appear in the docker -H 0.0.0.0:2375 info and   docker -H 0.0.0.0:2375 ps, can be enter

[2016-02-03 13:05] doronp opened #1749 "Do not really on mux vars for container, network, volume names"
e.g.

https://github.com/docker/swarm/blob/master/api/handlers.go#L452

This may prevent plugins from modifying the respected resources names before being processed.
Use the request instead.

[2016-02-03 13:20] chanwit opened #1750 "Performance degradation on cluster with overlay networking (cluster-store related)"
I'm not sure if it's caused by the Engine or Swarm. But it feels clearly slower when deploying Docker 1.10-rc3 with `swarm` from the master.
All nodes wired through a cluster store, Consul.

24 seconds to start a new container thru Swarm is too slow IMHO.
9 second for running directly is also strange.
Memory spec is 512MB on each DigitalOcean node. This might be the cause?

Is there anyone able to

[2016-02-03 13:26] chanwit commented on #1750
Cannot see anything in `top`. CPU and memory usage is quite low.
Hope it's a misleading by base performance of a DigitalOcean node :(

[2016-02-03 13:28] chanwit commented on #1750
Oh right, is it caused by the content addressable image?

[2016-02-03 14:55] chanwit commented on #1750
Testing on 1.10-rc3 standalone on a physical box and it's fast.
[code]
So it's obviously not caused by the Engine in its standalone mode.

Still checking.

[2016-02-03 15:51] mrapczynski commented on #1567
@dongluochen Thank you for the reminder. You know what the issue for now seems to mitigated for us. Not fixed per se, but just worked around.

In our CI, I have the build script run:

[code]

All has been well since then. It could very well be that Swarm 1.1 will get rid of any underlying issues. I'll close this request. Thank you for your assistance in the past weeks.

[2016-02-03 15:51] #1567 closed

[2016-02-03 17:33] vieux commented on #1747
@chanwit what engine version are you testing against ?

[2016-02-03 17:35] vieux commented on #1717
@stvnwrgs if you use spread and don't use any `-c` or `-m` on docker, you end up with exactly what you want I think

[2016-02-03 17:35] rolfedh commented on #1612
Reviewed.

[2016-02-03 17:35] #1612 closed

[2016-02-03 17:44] vieux commented on #1748
@carnuel did you update your engines ? are are they still in 1.9.1 ?

[2016-02-03 18:18] dongluochen commented on #1567
Thanks @mrapczynski . Feel free to reopen if you have reproduce.

[2016-02-03 18:47] dongluochen commented on #1750
Thanks @chanwit. We should also add integration test on latency.

[2016-02-03 18:50] abronan commented on #1750
Hi @chanwit,

I'm guessing you are using container networking when creating those containers? Can you try *destroying and re-creating* the droplets (if only a few)? Or otherwise find the faulty droplet.

I had the same issue when trying out container networking for docker `1.9`. I found out that one of the droplet was faulty and had its networking traffic stalled somehow. After destroying/re-creat

[2016-02-03 19:01] dongluochen commented on #1750
Here is my test result. I don't see obvious issue. I'm running directly on latest code.

A client from vm4 starts a container directly on vm3 daemon.
[code]
A client from vm4 starts a container thru swarm manager (vm2). The container is started on vm3 daemon.
[code]

[2016-02-03 19:57] dongluochen commented on #1717
@stvnwrgs Today containers are scheduled one at a time, partly because docker CLI doesn't allow scale factor. In your case, do you have batch mode workflow, i.e., to start 10 identical containers in one shot? If there are more than 10 nodes meeting the requirement, they can be scheduled in parallel, increasing your throughput.

[2016-02-03 20:15] ezrasilvera opened #1752 "Swarm introduces linear performance degradation as #networks or #containers increases"
It seems that Swarm introduces linear performance degradation as the number of networks and/or the  number of containers increases. I was focusing mainly on  starting a container and creating a network, but this issue affect many other commands like network delete, container delete, etc..

I made some profiling analysis and I believe that the source of this performance problem is the usage of Refr

[2016-02-03 20:42] #1580 closed

[2016-02-03 21:00] ezrasilvera commented on #1752
@abronan I'm not sure this is a network specific issue. I think it's a wider issue related to the overall Swarm "discovery" mechanism. The ability to create user-defined network just brought the issue to the surface as the number of networks increases.
However we also see similar behavior related to # of containers

[2016-02-03 21:11] vieux commented on #1752
@ezrasilvera thanks for the comprehensive report

We are definitely concerned about this and we want to improve performances.
I agree with you `refreshNetworks()` is the biggest issue, networks are the only place where you can do an API call on one engine and it's going to affect others engines, without swarm knowing about it.

That's why we are currently doing a refresh on every engine and that's

[2016-02-03 21:30] dongluochen commented on #1737
close by #1742.

[2016-02-03 21:30] #1737 closed

[2016-02-03 21:41] ezrasilvera commented on #1752
@vieux sure. will do.
I agree, that the NW has cross engine effect however when you manage a specific command (i.e., create container or network) you can limit the discovery - for example we can change RefrehNetwork on the engine to accept ID/filter so that we can do ListNetworks only on the NW ID you just created. and received. And when create/start  a container you just need to update the contai

[2016-02-03 21:47] dongluochen commented on #534
@xFragger I had a similar case and I used memory limit to do it. I can only run 4 instances of the following command to use up 4 GB memory on the node.
[code]

[2016-02-03 21:51] dongluochen commented on #1734
@xFragger I'm not very sure about CPU/Memory/Somethingelse-independent. Container clustering is about resource utilization and your case seems to fit in that. I had a similar case and I used memory limit to do it. I can only run 4 instances of the following command to use up 4 GB memory on the node.
[code]

[2016-02-03 22:26] dongluochen commented on #1731
@Yogesh9692 Is the Docker daemon where cdn_lr001_m1_fkt runs reachable or not? What's the output from `docker -H tcp://192.168.56.101:2376 ps -a`? I vaguely remember an issue like that.
cc @vieux.

[2016-02-03 22:35] vieux commented on #1752
@ezrasilvera agreed, also engine 1.10 (to be released tomorrow) also adds event on network creation/deletion/connect/disconnect

This removes the need for most of the `refreshNetworks()`

[2016-02-04 00:10] chanwit commented on #1750
@abronan  I see it's may be about networking setup. I'll double check again with a fresh cluster.

[2016-02-04 00:21] chanwit commented on #1747
@vieux  It's 1.10-rc3.

[2016-02-04 00:26] chanwit commented on #1750
@dongluochen could you try setup a real, overlay networking cluster and double checking this?
Standalone cluster seems to not affect by this slowness.

[2016-02-04 00:27] chanwit commented on #1752
I think this relates to #1750 with the better and nice graph.

[2016-02-04 00:37] nishanttotla commented on #1749
@doronp Can you clarify the issue a little further? What exactly are you trying to modify?

[2016-02-04 00:54] chanwit commented on #1750
@abronan it's back to normal after re-creating the whole cluster like use said.
[code]

I'm pinning point to the cluster-store as it's only problem I'm aware of.
FYI, it's caused the problem because I have been running the cluster store for **3 days** before testing.

[2016-02-04 00:57] chanwit commented on #1750
Both this and #1752 are related AFAIK.

[2016-02-04 01:08] dongluochen commented on #1750
Thanks @chanwit. We may need to do some tests to detect if there is degradation problem over long running clusters. If you get into this problem again, I think it helpful to collect network traces to see where the latency comes from.

[2016-02-04 01:13] chanwit commented on #1750
@dongluochen it's from `--cluster-store`, related to parameters in this docker/docker#18204.

[2016-02-04 01:16] chanwit commented on #1750
@dongluochen Let me know if you are able to confirm this :-)

[2016-02-04 05:37] ezrasilvera commented on #1752
@chanwit I don't think those issues are related. This issue is not specific to the latest version and will not be noticed with a single NW. You need to create multiple (many .. :-) )  networks in order to see that.

[2016-02-04 05:58] chanwit commented on #1752
@ezrasilvera I see. This is the point. When you creating new networks, cluster store needs to handle additional loads. I'm still thinking it's the cause and we were seeing it clearly in our lab that the cluster store's CPU were spiking.

However, I'll be also finding the root cause.

[2016-02-04 06:50] xFragger commented on #1734
But with this, i limit the memory per container to 1GB, i don't want to do this.

I'm sure, that that is exactly what i need: a max of n containers per node, controlled by a label at the node

[2016-02-04 07:12] ezrasilvera commented on #1752
@chanwit I fully agree that the cluster store also contribute to performance degradation, and we have seen that as well . We also saw nearly intensive CPU utilization and traffic for that.
However for this issue I actually think we know what is the root cause and we I believe we can eliminate most of the overhead especially if as @vieux said we can now listen to NW evenest and get rid of the refre

[2016-02-04 07:40] doronp commented on #1749
@nishanttotla
Any plugin which changes anything is the URL will be able to modify the request but not the mux vars as it runs in another process.

[2016-02-04 08:20] chanwit commented on #1752
@ezrasilvera thanks for that I'll keep follow this issue as it would solve my problem too :):):)

[2016-02-04 08:22] yutian1224 commented on #1648
yes,thanks for all

[2016-02-04 08:22] #1648 closed

[2016-02-04 10:07] xFragger commented on #1734
Another more general solution could be to allow <, >, >= and <= as possible constraint expressions and bring in some "variables" to compare to

I would label all my instances with a maxContainerCount label und check at launch time by
```-e constraint:maxContainerCount<$node.containers``` or something like that

[2016-02-04 17:44] amitshukla commented on #1709
@chanwit were you able to get any insights into this?

[2016-02-04 17:48] amitshukla commented on #1710
@vandita31 did this resolve your question?

[2016-02-04 17:58] amitshukla commented on #1681
@dvenza did rc2 or rc3 fix the issue?

[2016-02-04 18:08] abronan commented on #1710
@vandita31 I'm closing this one since the original question was solved (misconfigured `--advertise-client-urls` for etcd). But feel free to open a new one if you still encounter any issue. Also please take a look at the new [TLS documentation](https://github.com/docker/swarm/blob/master/docs/configure-tls.md) if you want clear steps on how to setup TLS. Thanks!

[2016-02-04 18:08] #1710 closed

[2016-02-04 18:21] vandita31 commented on #1643
@amitshukla Nope. I haven't seen any examples of setting up swarm cluster + consul + auth tokens as an example. We are using the Consul UI and ACL's are enabled via the Auth token , so keep in mind we are not using any certs for Consul security. I'm going to circle back on this and attempt again in my sprint this week , please keep this open for now and I can paste you the logs and issues I faced.

[2016-02-04 18:35] rolfedh commented on #593
I'll gladly add it to the documentation. However, mentioning it the doc will only help one out of every hundred customers who run into this error condition. You really have to do something about it in the software. This is a completely detectable condition. At a minimum, give them an error message that tells them how to solve the problem.

[2016-02-04 18:47] vieux commented on #1484
@stvnwrgs the credentials for the hub are stored locally, next to the client, not the daemon.
It looks like you have the credentials on `swarm-node-0` but not on `swarm-master`

can you do a `docker login` from the `swarm-master` machine ? so it will save the credentials on this machine as well ?

[2016-02-04 19:15] nishanttotla commented on #1709
I can confirm that this is still failing for me (locally) with 0 containers succeeding (instead of 2 as expected in code below)

[code]

[2016-02-04 19:36] amitshukla commented on #1343
@abronan I must have accidentally closed it - sorry

[2016-02-04 19:39] dongluochen commented on #1709
@nishanttotla What is your docker version? If it fails locally, can you print the output to show why containers fail to start? This passes on my machine with Docker 1.10-dev.

[2016-02-04 19:41] rolfedh commented on #1524
@moxiegirl @amitshukla I didn't cover this in topics for 1.10. Mary?

[2016-02-04 19:58] nishanttotla commented on #1709
@dongluochen I'm running the tests in a container (using `./test/integration/run.sh`), so that uses the latest Docker version right?

I'm still investigating, but I'm not sure the tests are really failing, it might just be these checks or a bats/bash issue.

[2016-02-04 20:08] vieux commented on #1559
@disastrous-charly we are still lacking doc for this, but if you follow:

[code]

it should work.

[2016-02-04 21:57] vandita31 opened #1760 "Swarm manage port mapping issue"
Hi ,

While attempting to do swarm manage , I get a binding error. As per your new updated documentation - https://github.com/docker/swarm/blob/master/docs/configure-tls.md , this is my attempt -

[code]

Let me address a few things -
- I have docker listening on port 2376 , since the host is behind TLS

[code]
- From the docker ps in your documentation, I can see that port 2375 is the exposed por

[2016-02-04 23:35] #1709 closed

[2016-02-05 01:00] amitshukla commented on #1559
@disastrous-charly also here: https://github.com/docker/swarm/blob/master/docs/swarm-api.md#registry-authentication

[2016-02-05 01:02] amitshukla commented on #1484
Plus, detail on private registry authentication in the 1.10 release is here: https://github.com/docker/swarm/blob/master/docs/swarm-api.md#registry-authentication

[2016-02-05 01:07] dongluochen commented on #1760
@vandita31 You get binding error because Docker daemon running on the host has already bind port 2376 for TLS. Now you try to bind it again using `host` network you get an error. I think the doc [https://github.com/docker/swarm/blob/master/docs/configure-tls.md](https://github.com/docker/swarm/blob/master/docs/configure-tls.md) may need some update. I'd suggest we be consistent on swarm ports, i.e

[2016-02-05 01:12] vandita31 commented on #1760
@dongluochen  Yes thats exactly why I am not sure why the documented stated to use 2376 because it makes sense that its already in use.

@abronan suggested i use host based networking --net=host for swarm discovery.

When i didnt use --net=host , i received this error : http://pastebin.com/byqTBzTZ

@abronan suggested i use host based networking , and I am using that with swarm join too. After try

[2016-02-05 01:12] dongluochen commented on #1760
cc @moxiegirl.

[2016-02-05 01:20] dongluochen commented on #1760
@vandita31 Right `host` network helps with network performance because you reduce a NAT layer. The container is using its host machine's network. That's why you have a binding conflict with port 2376. I think you can use this.
[code]

[2016-02-05 01:25] vandita31 commented on #1760
@dongluochen , That gives me a cert error again

[code]
I think that makes sense , because you are attempting to use port 3376 of the host , and the docker deamon and the certs are running on port 3376 , so by running this , how will you leverage docker to retreive swarm cluster info?

[2016-02-05 01:49] dongluochen commented on #1760
@vandita31 Swarm manager is an independent process once it's started. You already have your swarm manager up. The manager will connect to nodes in the cluster. I think the error message you get is certificate failure on a node. You can take a look at this concept [swarm diagram](https://github.com/dongluochen/container-notes/blob/master/swarm.md).

[2016-02-05 02:04] vandita31 commented on #1760
@dongluochen

Step 5 in your documentatiom walks through starting the docker deamon after creating the certs and restarting docker on Node 1 and node 2.

Without getting into the weeds of swarm , if one had to really ensure if the certs are GOOD , the best way would be to retreive info about node 2 from node 1 using the certs and verify it works.

The above error is on the swarm manager and states

[2016-02-05 03:52] rolfedh commented on #1341
@amitshukla Please describe the agreed-upon method for node removal then and assign this back to me.

[2016-02-05 07:12] nishanttotla commented on #1760
@vandita31 can you please try regenerating your certs one time? Make sure you use the same IP address to generate them, and to connect. I tried the process in the tutorial with port 3376 and it worked for me.

[2016-02-05 10:56] disastrous-charly commented on #1559
Hello all !
@vieux  Victoire ! It's working ! Thanks !

FYI :
I upgraded my swarm master host, my 2 nodes, my private registry host to  docker 1.10
swarm master + nodes with swarm 1.1.0

The error when trying to pull without the header is now :
`docker: Error response from daemon: Get https://cargo.irisa.fr:5000/v2/allgo/bigstat/manifests/1.0: no basic auth credentials`

With the header, everythin

[2016-02-05 12:35] winggundamth commented on #1704
After I upgraded to Docker 1.10.0 and restart all node. Everything went back fine again.

@amitshukla btw how to upgrade swarm? I ran swarm in container that has been automatic setup by docker-machine --swarm but I couldn't find any document write about how to upgrade swarm.

[2016-02-05 14:18] carnuel commented on #1748
We are still using Ubuntu 15.04 and just realized that docker 1.10 is not supported and will upgrade to ubuntu 15.10 soon.

[2016-02-05 23:35] vandita31 commented on #1760
@nishanttotla ,

I have a question around the certs you have currently generate for your SWARM implementation.

I want to understand how is that being handled by your code? In step 4 of your documentation , when you are sigining the CA ,

$ sudo openssl x509 -req -days 1825 -in swarm.csr -CA ca.pem -CAkey ca-priv-key.pem -CAcreateserial -out swarm-cert.pem -extensions v3_req -extfile /usr/lib/ssl/

[2016-02-06 02:50] dongluochen commented on #1760
@vandita31 I test `subjectAltName = DNS: whatever_name` and it works.

[2016-02-06 03:46] nishanttotla commented on #1691
Closing this issue since it's a `libnetwork` issue being discussed at https://github.com/docker/libnetwork/issues/552.

[2016-02-06 03:46] #1691 closed

[2016-02-07 00:00] rolfedh commented on #593
@moxiegirl Where should we place this information in the doc?

[2016-02-07 00:45] himan-k commented on #1664
wait, can you tell me how to fix the issue? I am running into it now, but don't see a solution above. Thanks.

[2016-02-07 11:35] anarcher commented on #1708
Good idea. +1

Sometimes, some containers like system/docker metric collector (cadviser, prometheus's exporter..) can be distributed to all nodes or some nodes.

I think that the proposal is useful for orchestration.

[2016-02-07 23:37] bergtwvd opened #1765 "DEBU[0750] Proxy hijack request"
Using Docker 1.10, Compose 1.6.0, and Swarm 1.1.0.

I set up a swarm with 4 nodes. The swarm master is started on node 1 with:
docker run -p 5000:2375 -it swarm --debug manage -H tcp://0.0.0.0:2375 "nodes://x.x.x.[65:68]:2375"

I set DOCKER_HOST to point to the swarm master.

Next, I do docker-compose -f myfile up

On the swarm output I see hijack messages (relating to varying hosts, see below for

[2016-02-08 00:24] Spritekin opened #1766 "Container running on unheathy node... for days..."
Hi,
I was just going through the swarm logs and noticed this message about a node disconnecting:
[code]

The problem is that, 5 days later...

[code]

And it goes on and on and on...

I guess there should be some kind of timeout where Swarm says... ok this node is gone for good. Any task there should be removed from my list.

Luck!
Guimo

[2016-02-08 02:22] himan-k commented on #1664
Guys,
I tried running swarm with docker-machine version 0.5.6 and the latest 0.6.0 after I looked up this issue.
I am using virtualbox on windows with docker toolbox. Can you please let me know how to get around this issue? I thought installing latest 0.6.0 virtual-machine.exe would solve the issue, but it didn't. Thanks.

[2016-02-08 02:23] himan-k commented on #1664
BTW,
Here's the error,
$ eval $(docker-machine env swarm)
Host does not exist: "swarm"

[2016-02-08 02:27] himan-k opened #1767 "Docker swarm doesn't work with latest 0.6.0 docker-machine."
After following the tutorial at https://docs.docker.com/swarm/install-w-machine/
here's the error,
$ eval $(docker-machine env swarm)
Host does not exist: "swarm"

Referred to bug https://github.com/docker/swarm/issues/1664 when i found my docker-machine version to be 0.5.6 and upgraded it. Still didn't solve the issue with latest 0.6.0

[2016-02-08 03:42] nishanttotla commented on #1767
@himan-k sounds like the `swarm` VM isn't running/created?

Can you open VirtualBox and check all VMs that are running? Alternatively open command line and run `$ VBoxManage list vms` and report the output.

[2016-02-08 03:46] himan-k commented on #1767
nope. VMs are fine,
$ docker-machine ls
NAME      ACTIVE   DRIVER       STATE     URL                         SWARM   DOCKER    ERRORS
agent1    -        virtualbox   Running   tcp://192.168.99.105:2376           v1.10.0
agent2    -        virtualbox   Running   tcp://192.168.99.106:2376           v1.10.0
default   -        virtualbox   Running   tcp://192.168.99.103:2376           v1.10.0
manager

[2016-02-08 03:47] himan-k commented on #1767
`$ docker-machine ls
NAME      ACTIVE   DRIVER       STATE     URL                         SWARM   DOCKER    ERRORS
agent1    -        virtualbox   Running   tcp://192.168.99.105:2376           v1.10.0
agent2    -        virtualbox   Running   tcp://192.168.99.106:2376           v1.10.0
default   -        virtualbox   Running   tcp://192.168.99.103:2376           v1.10.0
manager   -        virtual

[2016-02-08 04:04] nishanttotla commented on #1767
@himan-k no they're not. When you type the following command
[code]
it points the Docker client to the machine (VM) named `swarm`. You don't have any called `swarm`. If you want to point to the `manager` machine, then instead use
[code]

[2016-02-08 04:14] himan-k commented on #1767
I thought that too, but then just assumed that you could talk to the 'swarm' service like that too.
Can you tell me a way to verify swarm is working fine? I am at the stage in that document where it tried to connect to the 'swarm' (manager according to you).

I ran the docker hello-world too, but it didn't run on agent1 as the document says,

[code]

[2016-02-08 05:09] himan-k commented on #1767
Here's a way to check swarm status,
https://docs.docker.com/v1.6/swarm/

Here are node statuses; they say 'pending'. I don't think that is right.

[code]

[2016-02-08 05:52] nishanttotla commented on #1767
@himan-k "swarm service" doesn't mean anything. If you followed the https://docs.docker.com/swarm/install-w-machine/ tutorial, then you started the swarm manager inside a Docker container using (something like) the following

[code]

What this did was point your Docker client (on your host (Mac or Windows)) to the Docker engine running on the `manager` VM, and ran a container named `swarm`, which

[2016-02-08 05:53] nishanttotla commented on #1767
cc @moxiegirl @dongluochen I think we might have to update port numbers on this tutorial https://docs.docker.com/swarm/install-w-machine/, since `docker-machine` exposes engines on port 2376, not 2375. I can submit a PR to do that if you agree.

[2016-02-08 05:55] himan-k commented on #1767
I tried that as well yesterday, but it didn't work. I will try again now...

[2016-02-08 06:02] himan-k commented on #1767
OK. This is what happens,
[code]

[2016-02-08 06:07] nishanttotla commented on #1767
That's not what I was talking about. Please run
[code]
and
[code]
on your Swarm agents respectively, then check the output of
[code]
It should be able to connect to the nodes.

[2016-02-08 06:19] himan-k commented on #1767
The other service from my previous command also seems to be running. Let me know if that is screwing it up, but otherwise, it's still not resolved.

[code]

I appreciate the help, btw.

[2016-02-08 06:29] nishanttotla commented on #1767
It seems like your engines are still unable to connect. If you don't mind, can you please remove all your Docker machines, and redo the tutorial (clean slate), but this time taking the above things into account?

You can remove a Docker machine using
[code]

[2016-02-08 07:44] himan-k commented on #1767
I am afraid I haven't gotten past this issue,

[code]

Here's a snippet of my command history,

[code]

[2016-02-08 14:56] simonmittag commented on #1767
i think i have the same problem with docker-machine 0.6.0. i have already deleted the machines once and retraced all steps. this is what i'm running:

`#!/bin/bash
docker-machine restart manager
docker-machine restart agent1
docker-machine restart agent2

SWARM_TOKEN="$(docker -H $(docker-machine url manager) run --rm swarm create)"
AGENT1_IP="$(docker-machine ip agent1)"
AGENT2_IP="$(docker-machi

[2016-02-08 15:03] simonmittag commented on #1767
symptoms: i can't see the swarm machine, it's not being created

[2016-02-08 15:04] doronp commented on #1749
See PR #1770

[2016-02-08 17:50] moxiegirl opened #1771 "install with machine step 2 needs to be improved"
https://twitter.com/jjasghar/status/696752027251003392

![image](https://cloud.githubusercontent.com/assets/1347209/12894036/59804672-ce49-11e5-9d13-57c45378e435.png)

[2016-02-08 18:49] nathanleclaire commented on #1664
@himan-k Looks like `swarm` machine doesn't exist --  I highly suggest opening another issue with exact steps to reproduce.

[2016-02-08 19:08] vieux commented on #1766
@dongluochen can you take a look at this one ?

[2016-02-08 19:37] nishanttotla commented on #1767
@simonmittag @himan-k thanks for the updates, I think the docs need to be fixed, there has been an issue with TLS certs in the latest release. I'll do that today, and you can try running the tutorial again. Thanks!

[2016-02-08 19:46] dongluochen commented on #1766
@Spritekin Thanks for the info! From cluster management point of view, we don't want to remove the node from cluster. We want to add `disconnected` node refresh backoff strategy, i.e., reduce refresh interval for a node when it keeps failing. We will add this soon.

I want to clarify another problem with you. I think by default swarm doesn't check each container if the node is unhealthy. Do you tr

[2016-02-08 19:48] vandita31 commented on #1760
@dongluochen

Your step 3 in the documentation states -

sudo openssl req -config /usr/lib/ssl/openssl.cnf -new -key ca-priv-key.pem -x509 -days 1825 -out ca.pem

Could you cat the contents of the file in the documentation or on the ticket as well? This seems to be very specific to your system as I don't have that file on my server. Similar to (https://docs.docker.com/engine/security/https/) where

[2016-02-08 19:55] nishanttotla commented on #1771
Related #1767

The tutorial in the current form does not work. I'm working on fixing it now.

[2016-02-08 20:03] amitshukla commented on #1559
@kendiyqx @disastrous-charly can we close this issue now?

[2016-02-08 20:14] dongluochen commented on #1693
@nishanttotla I prefer Docker support on traffic management. Out of band metrics and feedback may be heavy solution.

@thaJeztah @crosbymichael , is there plan on supporting traffic control on Docker Engine? From github, this has been asked several times but I don't find a clear answer, see [docker#16477](https://github.com/docker/docker/issues/16477).

[2016-02-08 22:00] dongluochen commented on #1760
cc @moxiegirl .

I mostly use (https://docs.docker.com/engine/security/https/) to set up TLS for swarm. @moxiegirl may have more info.

[2016-02-09 00:52] nishanttotla commented on #1767
@simonmittag @himan-k I've fixed this doc in a new PR #1775. Please try the tutorial again once that's merged, it should work. Sorry for the previous issues!

[2016-02-09 00:54] nishanttotla commented on #1771
@moxiegirl I think the issue here is also that JJ Asghar is confused that the two docs https://docs.docker.com/swarm/provision-with-machine/ and https://docs.docker.com/swarm/install-w-machine/ are different. Why do we have two of these?

[2016-02-09 00:56] simonmittag commented on #1767
@nishanttotla thank you. Just to clarify the above. When I retrace the steps using the 2376 port on agent1 and agent2 and then run the info command on the manager, the output is:

1) there are no nodes visible in the info output.
2) docker-machine ls on the manager machine does not show the swarm machine

are you able to get a working swarm using these instructions with docker 1.10 and machine 0.6

[2016-02-09 01:04] nishanttotla commented on #1767
@simonmittag to remove any confusion, there is no `swarm` machine being created, so that was something incorrect in the docs. To connect to the manager, you have to either run `$ docker -H <manager-ip>:<manager-port> info` or set `DOCKER_HOST=<manager-ip>:<manager-port>` then run `docker info`.

The issue with the current doc was that TLS certs weren't being updated correctly for the manager. The

[2016-02-09 01:41] simonmittag commented on #1767
@nishanttotla. not totally sure yet.

192.168.99.100 is my manager machine IP

1) this does nothing. I assume that's correct it's not exposed.
[code]
2) this is the existing docker-machine TCP socket for manager. it comes back with info for manager but i can't see the swarm inside.

[code]

3) This is the external port that was mapped by the manager app. It gives me a TLS related error.
[code]

wh

[2016-02-09 01:46] nishanttotla commented on #1767
@simonmittag Can you wait for the new tutorial updates to be merged? That should fix all of these issues you're having.

To answer your questions above, (1) does nothing because port 2375 isn't exposed. (2) will only show info for the Docker engine on the `manager` machine, since 2376 is the port exposed by the Docker engine. Finally, assuming 5001 is your Swarm manager port, (3) is what you want

[2016-02-09 01:48] simonmittag commented on #1767
yes that clarifies,thank you @nishanttotla :)

[2016-02-09 02:13] #1767 closed

[2016-02-09 02:15] nishanttotla commented on #1767
@simonmittag @himan-k try out the updated doc here: https://github.com/docker/swarm/blob/master/docs/install-w-machine.md

[2016-02-09 03:42] tonysickpony opened #1779 "Docker machine created swarm agent not mapping any ports"
I tried to create swarm from docker machine.  My docker machine is `0.6.0`.

I can see the docker-machine up and running

[code]

But somehow the swarm wont recognize any nodes

[code]

And then I ssh into the machine i just created, and found that the swarm-agent-master and swarm-agent containers are not mapping any port to the machine

[code]

Here are some details

[code]

and

[code]

[2016-02-09 04:39] himan-k commented on #1767
@nishanttotla Here's what I get,
[code]

[2016-02-09 07:02] simonmittag commented on #1767
[code]

i can't get that image up and running, it shuts down immediately

[2016-02-09 07:07] simonmittag commented on #1767
[code]

[2016-02-09 07:21] nishanttotla commented on #1767
@simonmittag I think I made a typo in the PR. It should be `--tlskey=/certs/server-key.pem`. Sorry about that, I'll fix it.

[2016-02-09 07:29] nishanttotla commented on #1767
@himan-k can you delete all machines and try afresh? The issue you're having seems unlikely to be a swarm/machine issue to me.

[2016-02-09 07:37] nishanttotla commented on #1779
@tonysickpony can you describe how you created the machine?

[2016-02-09 08:48] lendico-seong opened #1780 "Regression on swarm network - calling API version 1.15"
It seems that the client library ```github.com/samalba/dockerclient```, which is imported in the cluster networking, has a hardcoded API version 1.15 in there.
Due to a recent change it seems that the API will return a HTTP status code 301, which cannot be handled by the networking.

The result is that no new networks can be created.

[code]

Image ```swarm:latest```.

Edit:

Additional debug logs

[2016-02-09 09:48] disastrous-charly commented on #1559
it's ok for me !

[2016-02-09 10:06] sboschman opened #1781 "Start container command not forwarding the HostConfig to the container"
Client tools (Docker plugin for Jenkins in our case) that rely on passing (additional) HostConfig in the start container command do not work since 1.1.0. For example the port bindings are not passed and the container is inaccessible.

I believe the commit for 'Add support for container rescheduling on node failure.' (https://github.com/docker/swarm/commit/13f60212f57dae8ba480c28bf26261bd7331ea4) b

[2016-02-09 15:42] jpetazzo opened #1782 "Restarting Consul leader leaves redundant Swarm cluster without a primary manager"
## What I have

- 5 nodes cluster
- each node runs Consul 0.6.3
- each node runs Swarm 1.1.0
- Swarm is setup to use `consul://localhost:8500` for discovery and redundancy

## What I do

- I'm rebooting random nodes, but between reboots, I let the cluster settle (i.e. I wait until all nodes are shown healthy, both by Consul and Swarm with `docker info`)

## What I expect to see

- everything is fi

[2016-02-09 16:22] auzias opened #1783 "swarm-docker build and spread strategy"
Hi everyone!

**Edit: two problems were identified**
#### swarm-docker build -t custom-image

Despite the `swarm-docker build -t custom-image`, the `custom-image` has only been built on a single node (the first to appear through `swarm-docker info`).
#### Odd scheduling

Note also that an odd scheduling occurred while performing `swarm-docker run --rm -it debian`, `debian` image being on all nodes

[2016-02-09 16:35] navinSing commented on #1567
Getting similar issue :
[code]

snippet from compose
[code]

ERROR:
[code]

[2016-02-09 16:52] navinSing commented on #970
facing similar issue with docker swarm and compose ..

`ERROR: unable to find a node that satisfies machinename==v3`

want to know the reason why it was closed.. OLd should not be the reason ..

thanks

[2016-02-09 17:32] jpetazzo opened #1785 "Swarm doesn't list all conflicting constraints when it fails to place a container"
## What I do

[code]

## What I expect to see

Something telling me that no node can satisfy both constraints "public port 80" and "volumes from web".

## What I see instead

Only the `--volumes-from` constraint is indicated, not the port constraint.
[code]

## Extra notes

FWIW, this is a frequent scenario when mapping host ports with Compose+Swarm (see docker/compose#2866).

If I allocate port 8

[2016-02-09 17:55] nishanttotla commented on #1780
@lendico-seong we want to solve the API version issue in time, but I'm not sure why you're getting this error. I have a Swarm setup that does work with older API versions. Can you provide more details about how you set up the Swarm?

[2016-02-09 18:26] jpetazzo commented on #1782
Extra details to reproduce:

- my 5 nodes are on EC2
- each node runs a Consul server, with `-advertise=172.31.X.X -client=0.0.0.0`
- first Consul node was started with `-bootstrap`, other nodes with `-join 172.31.X.X`
- each node runs a Swarm manager listening on :3376, with `--advertise 52.29.X.X:3376 --replication --consul://localhost:8500`

Then:
- `docker info | grep ^Primary` to check Swarm'

[2016-02-09 19:00] lendico-seong commented on #1780
Hi, thank you for your quick answer. I'm also digging in parallel. I updated the swarm image with the new version. But it looks like the docker engine replies with a 301.

I am running the daemon with TLS enabled.

Docker opts:

[code]

Swarm agent:

[code]

Manager:

[code]

Info:

[code]

Consul has all entries for the nodes.

Creating a network:

[code]

[2016-02-09 19:11] amitshukla commented on #970
@navinSing the code has changed significantly changed since June 2015 and it is unclear whether issues discovered today are related to those filed 8 months ago.

Can you please create a new issue rather than comment on an old, closed issue. Plus can you please provide more information in the new issue you create about versions, etc? Thanks

[2016-02-09 19:38] lendico-seong commented on #1780
Please disregard. It was my own stupidity.

After some digging, it became apparent that the consul kv replied with the 301.

**Solution**:

remove the trailing slash in the discovery

```consul://10.0.0.1:8443``` not ```consul://10.0.0.1:8443/```

[2016-02-09 19:38] #1780 closed

[2016-02-09 19:57] abronan commented on #1782
I think it's definitely related to the way the Consul cluster is setup (pointing to a local instance rather than a single Consul server), which is totally valid by the way. Will investigate using the same setup. Thanks for the report!

[2016-02-09 20:21] nishanttotla commented on #1781
@sboschman can you provide more details about your setup, and how to reproduce this issue?

[2016-02-09 20:27] joaofnfernandes commented on #1767
@himan-k I'm also running into this problem myself.

With my installation (made using Docker Toolbox), I don't have any certificates under `/certs`. I can find some certificates under `/Users/<user>/.docker/machine/machines/<machine-name>`.

So probably the issue is related to that.

[2016-02-09 20:31] nishanttotla commented on #1767
@joaofnfernandes the `/certs` folder is being mounted into the container. The actual certs are in your VM, under the `/var/lib/boot2docker` folder. If you want to confirm, try ssh into the VM using `docker-machine ssh manager` and navigate to that folder.

[2016-02-09 20:34] nishanttotla commented on #1785
@jpetazzo thanks for reporting this, I'll investigate what we could do. My hunch is that for the general case, it could be any subset of issues, so we need to find a way to efficiently get a minimal subset.

[2016-02-09 21:05] dnephin commented on #1785
If it's not easy to get the incompatible constraints, just listing the entire set of constraints would be a decent improvement. Something like: "unable to find a node that satisfies all of the constraints: container==..., port==80, node==...".

That way at least it's clear the issue was with some combination of constraints, not an individual one, and the full list is easily retrievable from the er

[2016-02-09 22:14] jpetazzo commented on #1785
Listing all constraints would indeed be an improvement. Especially when using tools like Compose, that add implicit constraints. Thanks a lot!

[2016-02-09 22:50] simonmittag commented on #1767
@joaofnfernandes the /var/lib/boot2docker folder is in the docker-machine as per above.
@nishanttotla after fixing the typo (should've spotted that myself) it works fine and now using the swarm with the new instructions. Thanks again for fixing this.

(The most confusing part in the old instructions was the commands that incorrectly suggested that swarm should appear as a docker-machine that can b

[2016-02-09 22:52] nishanttotla commented on #1767
@simonmittag great, glad to know it finally worked! The older docs worked fine, but we wanted to get rid of some `docker-machine` magic and make things more explicit. Hope everything is clear now!

[2016-02-09 23:47] tonysickpony commented on #1779
@nishanttotla
I start to suspect this has something to do with docker 1.10. My other swarms running the same setting works fine with docker 1.91.  And as long as I upgrade docker daemon on swarm, this happens.

This is my docker machine create script
[code]

And both my swarm nodes and manage instance are running `Linux docker-swarm-orchestrator 3.13.0-71-generic #114-Ubuntu SMP Tue Dec 1 02:34:22

[2016-02-10 00:18] nishanttotla commented on #1785
Actually on second thoughts, printing all constraints also seems to be more complex than I thought earlier. If I understood correctly, we'd have to go over all containers to print all constraints which can easily turn out to be a large response (affinities+constraints+dependencies+ports), and potentially expensive also.

@vieux @dongluochen WDYT?

[2016-02-10 00:25] dnephin commented on #1785
@nishanttotla sorry, I didn't mean all currently active constraints, I meant all constraints required to create the current container. You shouldn't need to look at anything except for the arguments to the API call (or the Container struct if it gets created first).

[2016-02-10 00:28] nishanttotla commented on #1785
@dnephin okay, my understanding from @jpetazzo's issue was to provide a full set of constraints that together can't succeed, but I get it now.

[2016-02-10 01:10] tonysickpony commented on #1779
And for more information, these are the logs
swarm-agent:
[code]

swarm-agent-master:
[code]

And consul on the manage instance:
[code]

[2016-02-10 07:22] auzias commented on #1783
@amitshukla the post has been edited, it appears there are two different issues (on build and on strategy).

[2016-02-10 10:13] marfago commented on #362
@heartpandora :+1:

[2016-02-10 14:39] sboschman commented on #1781
added a testcase to the integration tests (https://github.com/sboschman/swarm/blob/master/test/integration/api/start.bats) to reproduce this issue

it passes on the 1.0.1 swarm tag, but fails on swarm master

Start container function from github.com/samalba/dockerclient:
`func (client *DockerClient) StartContainer(id string, config *HostConfig) error`

Function call in container.go implemented in

[2016-02-10 17:59] schmunk42 commented on #1785
I noticed something similar ... let's say I have 2 nodes with label=app and 3 containers in a compose file, all have a constraint `app==1`.

*dummy compose file*
[code]

When I run `docker-compose up`, sometimes the following happens:
- service 1 goes to node A
- service 3 goes to node B
- now compose realizes that it can not deploy service2 because of `volumes_from` and fails with something like:

[2016-02-10 18:05] schmunk42 commented on #1783
Related issue from compose: https://github.com/docker/compose/issues/2721

[2016-02-10 18:13] dnephin commented on #1785
@schmunk42 no it does not, but now that we don't need links, and named volumes can replace `volumes_from` there are ways to create a Compose file that don't require the containers to be on the same node.

[2016-02-10 18:45] dongluochen commented on #1785
For @jpetazzo's initial question, it makes sense to output failure on the full constraint set, not individual one.

I think it helpful to provide a `dry-run` function. It doesn't run the container but selects nodes that fulfill the constraints. If it cannot find a node, it outputs conflict reason for `every` node. It's a heavy operation but helpful in debugging.

[2016-02-10 18:56] schmunk42 commented on #1785
@dnephin Yeah, I am actually also working on stacks which use the new features, like you described.
Using a volume plugin is another piece to the puzzle and currently we would be fine with `volumes_from`, but named volumes is the way to go, I think.

[2016-02-10 19:42] jmccormick2001 opened #1788 "broken link in docs"
https://docs.docker.com/swarm/machine-provisioning/provision-w-machine/

appears to be broken at the moment

[2016-02-10 19:44] vieux commented on #1788
@jmccormick2001 the correct link seems to be https://docs.docker.com/swarm/provision-with-machine/

where did you get your link ?

[2016-02-10 19:44] vieux commented on #1788
ping @moxiegirl

[2016-02-10 19:49] jmccormick2001 commented on #1788
I found that broken link at the bottom of this page:

https://docs.docker.com/machine/overview/

[2016-02-10 19:52] nathanleclaire commented on #1788
https://github.com/docker/machine/issues/3030

[2016-02-10 20:47] schmunk42 commented on #1748
@vieux Is there a special reason why `docker info` on a swarm is not including `docker` and `swarm` version? Should I open a new ticket for this?

[2016-02-10 21:03] vieux commented on #1748
@schmunk42 you mean `Server Version:` in docker info ? it was added in 1.10 apparently, I'm going to open a PR asap

[2016-02-10 21:11] vieux commented on #1748
@schmunk42 see https://github.com/docker/swarm/pull/1789

[2016-02-10 23:32] dongluochen commented on #1567
@mrapczynski I think node affinity should be `"constraint:node==v37"` where `v37` is the node name shown in swarm info, like `vva`.

[2016-02-10 23:33] nishanttotla commented on #1788
Closing this issue since it's not a Swarm issue.

[2016-02-10 23:33] #1788 closed

[2016-02-11 00:00] mrapczynski commented on #1567
@dongluochen Sorry wasn't me. Tagging @navinSing as he added to the comment above.

[2016-02-11 00:55] dongluochen commented on #1567
@mrapczynski My mistake here.

[2016-02-11 00:57] vieux commented on #1783
@auzias regarding build it's a not an issue to me, if you really need the image in every node, you can do

[code]

or

[code]

regarding the other issue,

the 1st PR shows 6 containers on bugs6 and the info later says 15, do you have stopped containers ?

Also can you do a docker version against swarm ?

Thanks

[2016-02-11 06:37] nlsun opened #1795 "Swarm affinity changes to lower case"
A capital label is mysteriously changed to lower case. I don't believe this is documented and if it is intentional I'd like to know why.
[code]

[2016-02-11 06:54] auzias commented on #1783
@vieux thanks for the reply. What should be the expected outcoming of a `swarm-docker build` ?
Mine is that the image would be built on every node.

Some containers were stopped on the local docker of one of the Swarm agent.

**`swarm-docker version`**
[code]

[2016-02-11 09:33] nishanttotla opened #1799 "Remove ROADMAP.md file"
This file is extremely outdated, and the current roadmap is tracked using the Wiki. I don't think we should confuse users.

WDYT @vieux @dongluochen @amitshukla?

[2016-02-11 19:16] vieux commented on #1795
@nlsun Hi, I don't think it was intentional, and even if it was, I don't see a reason why, I opened a PR https://github.com/docker/swarm/pull/1800

[2016-02-11 19:21] vieux commented on #1799
Maybe we should link to the Wiki from this file ?

[2016-02-11 21:24] nishanttotla commented on #1799
@vieux that's probably a better idea.

[2016-02-11 21:42] ahmetalpbalkan commented on #1089
@amitshukla I no longer need this, I basically did security through SSH tunneling to managers and all nodes are behind a firewall. It's not super secure but it's not too bad either. If someone else is interested in proposing something, please feel free to take up.

[2016-02-11 23:29] #1549 closed

[2016-02-12 01:22] vieux opened #1805 "panic on refreshcontainer"
Sorry for the bad formatting, looks like there is a panic on `github.com/docker/swarm/cluster/engine.go:555`

[code]

[2016-02-12 01:23] vieux commented on #1805
ping @dongluochen

[2016-02-12 03:21] nishanttotla commented on #1781
@sboschman thanks, I'm looking into it.

[2016-02-12 04:38] neconest opened #1808 "ERROR: compose.cli.main.main: 500 Internal Server Error: Cannot start container 3bf3e9b086b80b47e9cc055581ae005d41133187e4c6820cf34ba9ed580d4530: [9] System error: not a directory"
i added config file for kibana "- ./kibana/config/kibana.yml:/opt/kibana/config/kibana.yml" it's working fine in my local test machine (without swarm cluster),. but on swarm getting "ERROR: compose.cli.main.main: 500 Internal Server Error: Cannot start container 3bf3e9b086b80b47e9cc055581ae005d41133187e4c6820cf34ba9ed580d4530: [9] System error: not a directory" error.

my local storege driver is A

[2016-02-12 12:58] #1766 closed

[2016-02-12 13:04] chanwit commented on #1704
Shall we close this?

[2016-02-12 16:33] jpetazzo opened #1810 "Can't access rescheduled container using its name after failed node recovers"
This is about the experimental rescheduling support (#1488).

## What I do

- start a resilient container:
[code]

- reboot the node of this container:
[code]

- wait until the node is done rebooting...

- try to access the container using its name, `highlander`:
[code]

## What I expect

Information about the container

## What I see instead

[code]

## Discussion

Of course, when the node comes

[2016-02-12 16:33] jpetazzo commented on #1651
@MBuffenoir: I use `--swarm-image jpetazzo/swarm:experimental` (it is a 2-line Dockerfile with `FROM swarm:latest` and `ENTRYPOINT ["/swarm", "--experimental"]`; it works like a charm!)

@vieux: I played with the rescheduling, and I like it! I have one problem though; when a failed node recovers, there is a name clash. I opened #1810 to discuss it. But other than that, I like it! :+1:

[2016-02-12 17:09] aanand opened #1811 "Don't co-schedule containers which use "new-style" links"
When using links with custom networks, it's not necessary to co-schedule linked containers. As suggested by @bfirsh in https://github.com/docker/swarm/pull/388#issuecomment-180017222, this constraint therefore should be removed where possible, so that apps making use of links for aliasing (and not for enabling communication in the first place) can be distributed across the cluster.

@mavenugo expl

[2016-02-12 18:17] #1795 closed

[2016-02-12 18:26] dongluochen commented on #1810
I think there are 2 problems here.

For container rescheduling, I believe the existing design is to *delete* the container on the *failed* node when it comes back. The new one should stay. Swarm manager should take care of this if it has not been interrupted.

The other problem is how to deal with duplicate container names in Swarm. I think we may report *conflict* information instead of `Error: N

[2016-02-12 18:35] dongluochen commented on #1810
cc @vieux.

[2016-02-12 18:54] dnorth98 commented on #1779
I have exactly the same problem (I'm using the vsphere driver) and have just been banging my head against the wall for the last 2 days :)  I'd assumed it was with the discovery but a docker run swarm list token//<MY TOKEN> shows my nodes.  But, like you, docker info is not showing anything and running a container on the swarm just runs it on the master, not the agent(s)

[2016-02-12 19:04] yfinkelstein opened #1812 "reschedule:on-node-failure with Consul is broken"
I'm using Consul for discovery and enabled experimental feature to enable rescheduling.
I have 3 Swarm managers for HA.
I have deployed a container on swarm with options
--restart=unless-stopped
and
-e reschedule:on-node-failure

Also, the container exposes port 80, so I use option
-P to proxy this port on a random port (Registrator + Consul are used for automatic service discovery)

If I stop the

[2016-02-12 19:21] vandita31 commented on #1561
@abronan @dongluochen @nishanttotla

I know i have worked with all of you individually on IRC for a while now and on different parts of this issue and documentation, so I want to loop all of you in on some testing and Proof of concept that i did. I got swarm to finally work using the IP's of my hosts in the certificate. I want to really stress on the fact that Swarm does NOT work with wildcard DNS

[2016-02-12 19:22] vieux commented on #1810
@jpetazzo @dongluochen regarding the error, it's printed by the CLI, nothing much we can do

as @dongluochen said, the 1st container should be removed, @jpetazzo do you have logs ? (in --debug)

[2016-02-12 19:29] vandita31 commented on #1760
@abronan @dongluochen @nishanttotla

I know i have worked with all of you individually on IRC for a while now and on different parts of this issue and documentation, so I want to loop all of you in on some testing and Proof of concept that i did. I got swarm to finally work using the IP's of my hosts in the certificate. I want to really stress on the fact that Swarm does NOT work with wildcard DNS

[2016-02-12 22:29] nishanttotla commented on #1779
I think this might be related to #1781, with the HostConfig struct not being passed on. This might only be happening with users using 3rd party drivers, I'm looking into it.

cc @dongluochen @vieux what do you think?

[2016-02-13 00:26] #1805 closed

[2016-02-13 08:01] winggundamth commented on #1704
Everything still work fine until now. So I'll close this issue. By the way I still have question how to upgrade swarm that has been setup with docker machine?

[2016-02-13 08:01] #1704 closed

[2016-02-13 19:58] dongluochen commented on #1704
@winggundamth In your case there are 2 different ways to upgrade swarm. Swarm is run as a docker container in your case. You can start a new container to run latest swarm image or selected image as shown in (https://docs.docker.com/swarm/install-w-machine/). And remove the old containers.

If you follow (https://docs.docker.com/swarm/provision-with-machine/), the other way to upgrade is to provisi

[2016-02-13 23:33] jacobmarshall opened #1814 ""No route to host" on Docker Swarm cluster (overlay networking)"
I've been trying to figure out why my containers, on a newly setup swarm cluster, are unable to reach each other using their container names as hostnames.

I have the following setup;
- master (consul & swarm manager)
- agent1 (swarm agent)
- agent2 (swarm agent)

The agents have been setup with the `cluster-store` and `cluster-advertise` engine opts - equal to `consul://192.168.33.172:8500` (whic

[2016-02-13 23:38] jacobmarshall commented on #1814
I've put the script I used to setup the swarm, [here](https://gist.github.com/jacobmarshall/f8641081fd0c2caa179b).

[2016-02-14 02:43] rolfedh commented on #1606
Created this topic and am closing this issue:
https://docs.docker.com/swarm/install-manual/

[2016-02-14 02:43] #1606 closed

[2016-02-14 06:57] dongluochen commented on #1814
@jacobmarshall Have you validated your ACL setting on your subnet? The following ports need to be open.
[code]

[2016-02-14 07:14] jacobmarshall commented on #1814
I've not touched them. I assume the defaults are correct? This is a newly setup VPC.

<img width="770" alt="screenshot 2016-02-14 20 12 39" src="https://cloud.githubusercontent.com/assets/4710291/13032433/85473906-d357-11e5-9f13-641b446940eb.png">

[2016-02-14 07:26] dongluochen commented on #1814
Can you run some tests? From machine 1 `telnet $(machine 2 IP) 7946`. If port is accessible it should be able to connect, otherwise you see "no route to host".

[2016-02-14 07:36] jacobmarshall commented on #1814
Yep, absolutely no problem. I originally opened up all ports when I noticed the issue, incase that was the issue.

<img width="407" alt="screenshot 2016-02-14 20 31 17" src="https://cloud.githubusercontent.com/assets/4710291/13032522/9f3d4f78-d35a-11e5-9b0b-a8dc43043185.png">

[2016-02-14 09:01] dongluochen commented on #1814
Can you login to the agent machine and check the daemon process with `ps -ef | grep -i docker` to see if it's running with the right options? I'm also not sure if `cluster-advertise eth0:2376` is translated correctly. The daemon process should show the right IP. From (https://docs.docker.com/engine/userguide/networking/get-started-overlay/) it uses the different syntax.

[code]

You may also resta

[2016-02-14 09:12] woshihaoren opened #1815 "swarm manage can's TLS handshake with docker"
Hi:
   I run docker with -H tcp://0.0.0.0:2376 --tlsverify --tlscacert=/etc/docker/ca.pem --tlscert=/etc/docker/server-cert.pem --tlskey=/etc/docker/server-key.pem,then run swarm manage and agent,But /var/log/message has error:

###
Feb 14 17:07:29 docker-33-107 docker: 2016/02/14 17:07:29 http: TLS handshake error from 172.17.0.4:38609: remote error: bad certificate

And docker -H ip:3376 --tlsve

[2016-02-14 09:22] jacobmarshall commented on #1814
Should that IP be the public or private IP for that node? Right now it's not translated to anything. But setting it to be the public IP for that node yields the following error in the daemon debug logs...

[code]

[2016-02-14 10:12] hackndoes opened #1816 "Swarm fails to find an image that is present using docker 1.10"
I am using docker 1.10 and latest swarm release (14/02/2016) with docker-machine.
building an image on swarm (pointing to the swarm manager) successfully creates an  image.
docker images | grep <image_id>
shows the image in the list but:

docker tag <image_id> <tag_name> fails with error:
Error response from daemon: No such image: <image_id>

to recreate simply start a swarm on docker-machine (nod

[2016-02-14 11:22] Spritekin commented on #1591
I was thinking more on the line that swarm should only accept resources from the groups specified in the filter when launching the container.
But I guess you are correct, this may depend on the multiple role support on mesos.

[2016-02-14 19:30] dongluochen commented on #1814
It should be the private IP of the node. The public IP is not a logical IP on the node's interfaces.

[2016-02-14 22:59] jacobmarshall commented on #1814
Interestingly, it would seem that deploying the same cluster on DigitalOcean works. If all ports are open for all nodes in the VPC, what else could this mean?

My test was...

[code]

The setup script I used was...

[code]

The only difference being the fact the agents connect to the consul server using the master node's public IP. I wouldn't suspect that would have anything to do with it though.

[2016-02-15 00:04] mavenugo commented on #1814
@jacobmarshall which distro are you trying the scenario in AWS ? If it is with a kernel < 3.16 (such as ubuntu 14.04), then it could be the overlapping/conflicting route (to 10.x.x.x/y subnet) between the overlay network and the network managed by AWS. If that is the case, then pls use the `--subnet` option in `docker network create` command and use a subnet that doesn't overlap with the underlyin

[2016-02-15 00:23] jacobmarshall commented on #1814
Hey @mavenugo, I'm using the default EC2 AMI for docker, which as according to https://docs.docker.com/machine/drivers/aws/#default-amis is Ubuntu 15.10 LTS (ami-26d5af4c).

The subnet for the VPC is 192.168.33.0/x, I originally tried with 10.0.0.0/x but changed it when I ran into this issue originally, as I had the same thought.

I don't have access to the computer I set this all up with right no

[2016-02-15 02:20] #1815 closed

[2016-02-16 05:12] zhanghuanzhong commented on #511
I met the same question too. I added -H tcp://0.0.0.0:2375 -H unix:///var/run/docker.sock -d, but it doesn't work for me.

[2016-02-16 05:33] Spritekin opened #1818 "Request: Quarantine a node"
Hi,

I'm using Swarm 1.1.0 with binpack scheduler on a mesos cluster 0.26.

We are running lots and lots of jobs so the 20 nodes we have are full. Now I would like to isolate a node so the current running jobs finish but no more offers are accepted from (and no more jobs are sent to) this node. The objective is to shutdown the node and start a new node with a new setup.

I would like to have a qua

[2016-02-16 08:01] jacobmarshall commented on #1814
Hey @mavenugo, sorry about the delay. That did not work either.

<img width="1022" alt="screenshot 2016-02-16 20 58 59" src="https://cloud.githubusercontent.com/assets/4710291/13070283/347bde10-d4f0-11e5-9328-bd8e8804e9b9.png">

I will rebuild the cluster, again, for the 4th (ish) time, and see whether or not everything is working. I'll make sure that all ports are open right from the get-go, as f

[2016-02-16 09:26] jacobmarshall commented on #1814
So I did some testing. I rebuilt the cluster with all ports exposed for all nodes.

Everything worked.

See here...

[code]

So then I only allowed 2376, 22 for all nodes, and an additional 3376, 8500 for the master (swarm & consul).

I got the following error...

[code]

Anyways, so then I tried adding the additional ports (vxlan etc...) as mentioned by @dongluochen in https://github.com/docker/s

[2016-02-16 09:29] jacobmarshall commented on #1814
Just as a side note, `nginx` was running on agent1, I assume swarm was attempting to run the busybox container on agent3.

[2016-02-16 09:47] jpetazzo commented on #1783
@auzias: Swarm won't build on every node, because if you have a large cluster (think 1000 nodes) it will be very costly. Also, imagine that you have a build that causes a lot of I/O activity, and it gets scheduled on a machine hosting a database: it will cause a performance degradation.

As indicated by @vieux, the best solution is to build on a single node, then copy the image where needed. If yo

[2016-02-16 09:48] gradywang opened #1819 "Reserved resources show incorrect in docker info command"
I build the swarm binary with the latest code to create my swarm cluster, and I find that the reserved resources alway show 0 in docker info command when I create container without `-m` and `--cup-shares` flag.

Steps to reproduce:

Step1: Create container without `-m` and `--cup-shares` flag.
$ docker -H gradyhost2.eng.platformlab.ibm.com:2375 run -d  ubuntu:14.04 sleep 2000

Step1: Check the res

[2016-02-16 09:49] gradywang commented on #1819
In addition, can some guys tell me how to assign a swarm bug to myself.

[2016-02-16 09:58] auzias commented on #1783
Thanks @jpetazzo.
I see, that makes sense and seems obvious.

I would like to write it up in the swarm doc. If any page of the doc would mention, should it be in the [swarm-api](https://github.com/docker/swarm/blob/master/docs/swarm-api.md) page or another one?

A question remains though:
What should be the _expected_ outcoming of a `swarm-docker build` ?
IMHO, a warning or a cowardly error messag

[2016-02-16 13:16] mavenugo commented on #1814
@jacobmarshall can you pls confirm all the ports (& corresponding protocols) thats currently opened ?
Pls refer to https://docs.docker.com/engine/userguide/networking/dockernetworks/#an-overlay-network and confirm if protocol UDP is opened for 4789 & 7946.

[2016-02-16 13:27] OferE opened #1820 "ER: remove discovery backend dependency"
Hi,
I have an enhancement request: remove discovery backend dependency (or at least make it optional).

Adding backend requirement makes swarm installation a big pain.
(by backend i also mean adding a file/list of nodes - which might not be known when the cluster is created).

I think that the discovery backends are not necessary... The agents should connect to the manager and not vice versa...

A

[2016-02-16 15:19] CRogers opened #1821 "nil pointer deference panic"
We're getting a random nil pointer dereference error with `swarm-1.1.0` and docker `1.10.1`:

[code]

Full stacktrace here: http://pastebin.com/7p1JjQaG.

---

Docker info:

[code]

Identical configuration on swarm nodes.

The container died:

[code]

This just seems to randomly happen after a period of time; not sure what's going on.

[2016-02-16 16:54] abronan commented on #1818
/cc @vieux @jimenez

[2016-02-16 17:02] abronan commented on #1821
Thanks @CRogers, seems like this issue was fixed in `master` (#1805), we planned to release an `1.1.1` soon. Can you give it a try and let us know if that fixes the issue? (if using the Image you can pull `dockerswarm/swarm:master`)

[2016-02-16 17:35] jacobmarshall commented on #1814
My bad, I didn't realise that the VXLAN & Control plane were intended to be exposed on the master node as well. That was the issue. Thanks a bunch for your help @mavenugo.

[2016-02-16 18:37] dongluochen commented on #511
@zhanghuanzhong @sinderrellar What's the output from `docker -H swarm_manager:manager_port info`? Can you reach each daemon with `docker -H node:2375 info`?

[2016-02-16 19:23] ezrasilvera commented on #1752
I tested again with the latest code that includes @vieux changes of #1777 . The results are better but there is still a  gap compared to pure engine. I'm going to analyze the root-cause later on ..
![create_nw_v1](https://cloud.githubusercontent.com/assets/13567561/13088068/70939caa-d4f3-11e5-89b9-9c72de342185.jpg)

[2016-02-16 19:44] #1814 closed

[2016-02-17 00:07] dongluochen commented on #1819
@gradywang Today swarm uses `Reserved` CPU/Memory to estimate the load on each node. The reserved CPU/memory is specified by configuration from `-m` and `--cpu-shares`, etc. They are not the real consumption of CPU/memory on the node. That's the reason you see 0 in reserved CPU/memory. If users do not specify reserved resource, node resource reservation are all 0s. (Swarm does a trick to use conta

[2016-02-17 00:39] nishanttotla commented on #1781
@sboschman I'm fixing this now, do you mind if I include your commit (for the test) into my PR, so that you get credit?

[2016-02-17 00:44] jimmyxian commented on #1816
@hackndoes Thanks for reporting this. But I can't reproduce. Can you provide the command you use.

[2016-02-17 01:26] rolfedh opened #1823 "Document node states as described by this state diagram"
The state diagram three-quarters of the way down this issue is crucial to understanding a some of the  options and terminology we use WRT node health: https://github.com/docker/swarm/issues/1486

Note that the maintenance state doesn't exist yet.

We should add this to our Discovery documentation.

[2016-02-17 01:33] nishanttotla commented on #1781
@sboschman if you want me to include your commits, you'll have to sign them. Do you mind either creating new commits, or signing them?

I'll then port over those commits to my fork (https://github.com/nishanttotla/swarm/tree/1781-pass-hostconfig) and submit a PR to Swarm so you get credit. We'd like for this to be done by tonight, so please let me know if you can get the tests in.

Thanks,

[2016-02-17 06:57] allencloud commented on #1281
I think it is reasonable to update refreshLoop. Since docker 1.10 supports labels configuration reload, swarm should have the ability to get new labels of all docker engines.

[2016-02-17 07:58] sboschman commented on #1781
timezone delay :)   thanks for fixing the issue

I made a new commit and signed it off: https://github.com/sboschman/swarm/commit/395a5fa6ddad6a5daf1e1a9fc2b59ed92cf629b7; hope it is oke like that

[2016-02-17 08:05] ruijf opened #1826 "Swarm manage leaks tcp connection leading to "too many files open""
Env:
centos 7.1 + swarm 1.1.0 + docker-1.8.2-10.el7.centos.x86_64 + etcd 2.1.1

Docker options:
OPTIONS='-g /data/paas/docker/data -H tcp://0.0.0.0:2375 -H unix:///var/run/docker.sock --label nodetype=app'

Start swarm manager
./swarm manage -H tcp://server1:2376 etcd://server1:2379,server2:2379,server3:2379

Start swarm join
./swarm join --addr server1:2375 --heartbeat 60s --ttl 180s etcd://serve

[2016-02-17 08:29] allencloud opened #1827 "whether skipping swarm containers is reasonable when proxy docker ps command?"
Issue reporting is like below:

Background:
If a swarm is managing docker daemon cluster and swarm is also running in a container,when we running `docker tcp://<swarm_ip>:<swarm_port> ps`,the swarm container based on image named swarm,such as swarm:1.1.0,will not be shown in the `docker ps` command result.

Root Cause:
https://github.com/docker/swarm/blob/v1.1.0/api/handlers.go#L358-L361

[code]

[2016-02-17 09:15] auzias opened #1828 "Option `--ip` does not (seem to) work."
On a four swarm agents cluster, a custom overlay network is run with the [weave plugin](http://www.weave.works/products/weave-net/):
[code]

When containers are run their IP address should be set using the `--ip` option. According to the `docker-run` doc:

       --ip=""
          Sets the container's interface IPv4 address (e.g. 172.23.0.9)

       It can only be used in conjunction with --net fo

[2016-02-17 09:24] nishanttotla commented on #1781
@sboschman thanks!

[2016-02-17 09:32] nishanttotla commented on #1781
@sboschman if you don't mind, can you rebase your branch on top of the latest swarm master? That way, I can update my current PR with the fewest extra commits. I'm trying to figure how to add your commit to my PR. If that isn't feasible eventually, I'll open a separate PR for your commit.

[2016-02-17 10:05] dvenza commented on #1819
This issue is interesting also because not all of the memory installed on the system is actually available to docker/swarm.

There are (at least) operating system processes running along docker, they use up some memory and need some headroom, so when docker says that I have the full amount of RAM available for reservation, it is telling a lie, because if I try to reserve and use all that memory so

[2016-02-17 10:13] sboschman commented on #1781
@nishanttotla rebased the branch

[2016-02-17 12:15] zhanghuanzhong commented on #511
@dongluochen, I disabled the firewalld service on my docker host and the question has gone:)

[2016-02-17 12:49] dvenza commented on #1681
I cannot reproduce this bug on swarm 1.1.0.

Thanks

[2016-02-17 13:57] jpetazzo commented on #1783
I'll let @vieux or @moxiegirl answer the question about docs.

Regarding your question:

The more I work with Swarm, the more I think that it's OK for Swarm to refuse to do builds :-) but it's a though question.

[2016-02-17 14:11] auzias commented on #1783
@jpetazzo +1 for a message-refusal (if my vote count).

The behavior about build makes me think about the pull one. Shouldn't they be coherent?

[2016-02-17 14:39] auzias commented on #1816
What outcome are you expecting from a `swarm build` ?

Swarm build should actually not build anything, and IMHO, should even refuse to do so. [Here is an explanation why -- scroll up for another explanation](https://github.com/docker/swarm/issues/1783#issuecomment-184600268).

[2016-02-17 15:29] CRogers commented on #1821
Ok, I've installed the latest master. Will leave to see if it crashes again after a couple of days of use.

[2016-02-17 16:57] abronan commented on #1681
Closing this one, thanks for reporting.

[2016-02-17 16:57] #1681 closed

[2016-02-17 18:01] kawasakitoshiya commented on #1197
thanks to @ezrasilvera, PR https://github.com/docker/swarm/pull/1350 fixed this :smile:

[2016-02-17 18:01] #1197 closed

[2016-02-17 18:29] amitshukla commented on #1731
@Yogesh9692 any update based on Dongluo's comment above?

[2016-02-17 18:35] amitshukla commented on #1810
@jpetazzo ping on logs ^^

[2016-02-17 18:35] amitshukla commented on #1693
@thaJeztah @crosbymichael ping ^^

[2016-02-17 18:46] amitshukla commented on #1748
@carnuel is the problem resolved after upgrading to Engine 1.10?

[2016-02-17 18:52] vieux commented on #1747
@chanwit the 1.10 had a API version mistake, it should be good now,

[2016-02-17 18:52] #1747 closed

[2016-02-17 19:00] vieux commented on #1826
@docker/swarm-maintainers can someone reproduce ? I cannot

[2016-02-17 19:04] carnuel commented on #1748
@amitshukla sorry for the late response.

It works on ubuntu 15.10 with Engine 1.10.
 Though I am pretty sure we faced the same problem once during testing, i.e. we couldn't ping between some containers as mentioned above. But we weren't able to reproduce the error the day after.

 Altogether, it seems to work. We setup a cluster of containers on several hosts, tested a few things, took them down

[2016-02-17 19:15] thaJeztah commented on #1693
I don't think it's actively worked on; as far as I'm aware it was always considered something to control externally? Perhaps @mavenugo knows of plans in this area?

[2016-02-17 19:17] vieux commented on #1828
@auzias can you please do a `docker version` against swarm ? It looks like you are using 1.0.0 and it was fixed in 1.1.0

Thanks

[2016-02-17 19:42] nathanleclaire commented on #1826
I can dupe some connection bloat with Swarm (master) and with the Docker daemon (1.10.1) directly, but it doesn't seem to be what @ruijf is seeing.  I see only a bunch of `TIME_WAIT` connections (I'm assuming one for each `curl`).  They go away in around 30-60 seconds though:

[code]

[2016-02-17 19:48] dongluochen commented on #1826
I cannot reproduce with swarm 1.1.0 + docker 1.10 engines either.
@ruijf Docker swarm 1.1.0 has persistent connections with engine, but it shouldn't keep increasing. Can you output delta in your connections? What are the source and destination IPs?
[code]

[2016-02-17 19:55] marceloamaral opened #1830 "swarm label constaint is not working"
Hi I am using swarm with compose to deploy two container into two different host. Where the docker daemon on each host is configured with different label. I am also using consul.

I got the error ERROR: unable to find a node that satisfies x.storage==ssd

There exist a machine with this label, but swarm is not finding the machine.

The docker compose yml file is:
[code]

[code]

[code]

[2016-02-17 21:56] apetitbois opened #1831 "Documentation update - Evaluate Swarm in a sandbox"
Command in the documentation to update the DOCKER_HOST is not working with docker-compose.

In file: swarm/docs/install-w-machine.md

Replacing
`$ DOCKER_HOST=$(docker-machine ip manager):3376`
with
`$ DOCKER_HOST=tcp://$(docker-machine ip manager):3376`

and

`$ DOCKER_HOST=<manager_ip>:<your_selected_port>`
with
`$ DOCKER_HOST=tcp://<manager_ip>:<your_selected_port>`

[2016-02-17 23:00] ekristen commented on #1468
Yes I'm reproducing it right now.

[2016-02-17 23:15] nishanttotla commented on #1831
@apetitbois this works for me. Can you let me know what issue you have when you use the current docs?

[2016-02-17 23:17] nishanttotla commented on #1830
This might be related to #1785.

[2016-02-17 23:27] dongluochen commented on #1468
@ekristen Do you have swarm debug logs? Do you see corresponding engine logs like below?
[code]

[2016-02-17 23:37] ekristen commented on #1468
Fail. No I don't. I could have swarm I had enabled that. :/

Guess I'll enable it for the next time it happens. I'll try and monitor it a little closer I suspect it is happening frequently.

[2016-02-17 23:58] apetitbois commented on #1831
Everything works until I need to start my containers.

Docker compose will error out with this message :
docker.errors.TLSParameterError: If using TLS, the base_url argument must begin with "https://".. TLS configurations should map the Docker CLI client configurations. See http://docs.docker.com/examples/https/ for API details.

If I include tcp:// (which is what docker-machine env would set the

[2016-02-17 23:59] dongluochen commented on #1819
@dvenza Swarm gets node CPU/memory information from docker daemon running on each node. Docker daemon doesn't limit its resource, i.e., it considers all resources can be used.

Swarm allows `overcommit` on resource, that is, you can reserve more or less memory/CPU from docker daemon. By default swarm has overcommit = 0.05 which means it can reserve 1.05GB memory if the daemon has 1GB memory. You c

[2016-02-18 01:49] dongluochen commented on #511
@zhanghuanzhong thanks for your update! We can keep this issue closed.

[2016-02-18 01:56] nishanttotla commented on #1781
Reopening issue since the PR had to be reverted due to docker-compose related issues.

[2016-02-18 02:29] ruijf commented on #1826
@dongluochen
Swarm manage is on server 3, container a5b696bd083d is on server 2, after swarm starts, and run "curl http://server3:2376/containers/**a5b696bd083d**/json" 6 times.

Below is the result for "netstat -tpn | grep swarm". 6 new ESTABLISHED connections added.
`tcp        0      0 server3:47529       server2:2375        ESTABLISHED 15670/paas-swarm`

[2016-02-18 02:33] ruijf commented on #1826
@nathanleclaire can you try "localhost:4000/containers/**container id**/json", sorry for not mentioned clearly in the post.

[2016-02-18 03:21] shenshouer opened #1837 "problem of reschedule:on-node-failure with Consul"
I have 4 machine such as:

* swarm-01 consul && swarm master
* swarm-02 swarm master
* swarm-03 swarm node
* swarm-04 swarm node

version:
* coreos 955.0.0
* docker 1.10.0
* swarm v1.1.0 or v1.1.1
* compose 1.6.0

[code]

### I run one container use docker command:
`core@swarm-01 ~ $ DOCKER_HOST=127.0.0.1:4000 docker run -P -d --name=web -e reschedule:on-node-failure nginx`

found it run at the sw

[2016-02-18 04:02] shenshouer commented on #1837
Got it working in `docker-compose` like so:
[code]

[2016-02-18 04:53] ruijf commented on #1826
more describe
[code]

[2016-02-18 06:44] Yogesh9692 commented on #1731
@dongluochen @amitshukla Yes cdn_lr001_m1_fkt is reachable. And when I do <ps -a> it shows me all running containers. Actually when I do <ps -a> swarm is also listed, so <ps> works fine.

[2016-02-18 06:58] vincentwoo commented on #1341
@amitshukla @rolfedh any progress on this? I think the priority of this issue should be escalated - it's hard for me to see how you can ship a distributed system for node management without explicit docs on how to remove nodes

[2016-02-18 07:10] OferE commented on #1820
Another reason why this is a better approach is the ports issue  - currently agents needs to have some ports open. It would be best to avoid such thing if possible.

[2016-02-18 07:23] auzias commented on #1828
@vieux The client is `1.10.0`, while the server is, indeed, `1.0.0`!

###### ---- _An upgrade later_ ----

Works like a charm! Perfect!

Bien vu! Merci :+1:

[2016-02-18 07:23] #1828 closed

[2016-02-18 07:36] dongluochen commented on #1826
@ruijf I run the command with container_id and there is no reproduce for me on swarm 1.1.0 + Docker engine 1.10. Can you show the output of `docker -H swarm_ip:swarm_port version`,  `docker -H swarm_ip:swarm_port info`, and the output of `curl http://swarm_manager:manager_port/containers/[container_id]/json`?

It looks like the last command doesn't finish cleanly. That's the operation between swar

[2016-02-18 07:49] dongluochen commented on #1731
@Yogesh9692 What's the output from `docker -H tcp://192.168.56.101:2376 ps -a | grep -i cdn_lr001_m1_fkt`? Do you see one record or more than one? Swarm gets confused when there are more than containers with same name.

[2016-02-18 09:16] ruijf commented on #1826
[code]
Docker has updated to 1.10.1,but  connections still increase.

[2016-02-18 09:23] Yogesh9692 commented on #1731
@dongluochen I see only one record, the one which I grep. I am not running containers with same names, they are similar though but not same does that matters? I think it should not.

[2016-02-18 10:29] Spritekin opened #1838 "Crash using 1.1.1"
Hi,
I started swarm 1.1.1 and now I got this after a while:

[code]

And heaps and heaps of stack info... like 13MB if anyone interested.

Not sure what happened here.

Running on CoreOS.
Marathon 0.15.1
Mesos 0.26
Logging to AWS

[2016-02-18 10:32] chanwit commented on #1838
Didn't see anything yet. Could you please post the whole stack somewhere else, like on Gist, and put the link here?

[2016-02-18 10:44] Spritekin commented on #1838
Hi,
Here is the file: https://gist.github.com/Spritekin/fc83be8d6447c76fd7ce

After that, it just crashed. I'm running on a container of course so Marathon detected the crash and restarted the service, but of course all my running jobs were gone (worse yet, sitll running and using resources).

This has happened a few times already.

[2016-02-18 11:12] Spritekin commented on #1838
Ok looks like the 10000 thread limit is something relatively common for Go.

I read one partial solution is to use SetMaxThread to say... 100k. But how do I do that?

[2016-02-18 11:12] marceloamaral commented on #1830
@nishanttotla  Hi, thanks for the reply. Yes, it will be very useful to debug the problem.
I my case I have nothing running in the cluster; thus it should not have conflicts.
Do you have a swarm image with this modifications? It would be very helpful!

[2016-02-18 11:23] chanwit commented on #1838
Seems not to be able to set from outside.

[2016-02-18 11:31] Spritekin commented on #1838
Sorry I don't understand...

[2016-02-18 11:50] Spritekin commented on #1838
What I notice again and again is this section. Probably 9500 threads are spent this way. Like its locked waiting for something.
[code]

[2016-02-18 13:36] brynmathias opened #1839 "Documented instructions for production swarm on aws don't produce a working envrionment"
Hi All,

I have followed the instructions at:
https://docs.docker.com/swarm/install-manual/ for producing a production replicated cluster

However I end up with the following when querying the swarm.

`ubuntu@ip-172-31-44-159:~$ docker -H :4000 info
Containers: 0
 Running: 0
 Paused: 0
 Stopped: 0
Images: 0
Role: primary
Strategy: spread
Filters: health, port, dependency, affinity, constraint
Node

[2016-02-18 16:30] oiavorskyi opened #1840 "[1.1.1 Regression] Containers are not attached to networks with Compose"
I have first opened this issue against Docker Compose but after the investigation it looks like the problem was caused by changes in Swarm 1.1.1. Please take a look at the [original issue](https://github.com/docker/compose/issues/2949) for the details on how to reproduce.

[2016-02-18 16:36] dongluochen commented on #1731
@Yogesh9692 What do you get from `docker -H tcp://192.168.56.101:2376 inspect cdn_lr001_m1_fkt`?

[2016-02-18 18:48] dongluochen commented on #1838
@Spritekin Thanks for reporting this issue! It looks swarm manager keeps opening new HTTP connections. Are these TCP connections to a specific node or spread to all nodes? You may inspect that with `netstat -tpn | grep -i swarm` on swarm manager.

Can you provide OS version for swarm manager and nodes, docker version for nodes, how many nodes do you have?

[2016-02-18 18:56] nathanleclaire commented on #1840
Using Swarm master I see in the logs:

[code]

[2016-02-18 18:59] dongluochen commented on #1838
There are 93 instances of StartMonitorEvents in the stack.
[code]

#1826 also reports TCP connection leak. They might be related.

[2016-02-18 19:15] nishanttotla commented on #1840
@oiavorskyi We just released 1.1.2 which should fix the breaking change. Can you try that please?

[2016-02-18 21:03] Spritekin commented on #1838
I will as soon as I ask patience to the CTO for so many crashes.
Ok so as a test I recompiled swarm setting the SetMaxThread to an absurd number (1 million) The engine laster for longer but now it crashed but for a different reason:

[code]

And heaps like this. Down to 57752.

So this time it didn't crashed due to the threads, it crashed due to not being able to open a port that doesn't exist? Us

[2016-02-18 21:08] Spritekin commented on #1838
[code]

[2016-02-18 21:16] Spritekin commented on #1838
So I decided to do a few counts:
[code]

A couple mins later:
[code]

And a couple mins later:
[code]

So something is definitely wrong. Now all this ports looks are slave ports. Nobody connects to the slaves.
[code]

So definitely looks like a port opening to connect to a slave but never released.

[2016-02-18 22:00] oiavorskyi commented on #1840
@nishanttotla I have tried with 1.1.2 and could confirm that behavior is back to normal. Thank you for the prompt response.

[2016-02-18 22:01] oiavorskyi commented on #1840
Closing the defect as fixed.

[2016-02-18 22:01] #1840 closed

[2016-02-18 22:27] dongluochen commented on #1826
@ruijf Thanks a lot for the information! I have a reproduce when I run swarm manager in a container. Is this also your setup? Previously I ran swarm from a binary, not within a container.

[2016-02-18 22:55] nishanttotla commented on #1760
@dongluochen I think this might be a real issue since we only pass the engine address to the `NewDockerClientTimeout` function in `samalba/dockerclient` (https://github.com/samalba/dockerclient/blob/master/dockerclient.go#L62). This is called in Swarm here https://github.com/docker/swarm/blob/master/cluster/engine.go#L158

[2016-02-18 23:05] dongluochen commented on #1838
@Spritekin Thanks a lot for your info! I have a similar repro. I'd like to get your help to get to a quick fix. Do you run swarm binary or run it in a container? I think it's a bug introduced recently. Can you run the same set up with swarm 1.1.0 and see if it has some problem?

[2016-02-18 23:13] Spritekin commented on #1838
I run in a container. I'm trying to setup this in a parallel service. I will do a couple tests and report.

I did submit a patch before 1.1.0 where I solved a problem with engines not properly disconnected and crashing the docker engines in the slaves. Looks like the problem runs deeper.

[2016-02-18 23:24] Spritekin commented on #1838
There is one thing I have in doubt and I'm not sure if it is related. Reading though the code I noticed 2376 is the TLS port which I have been using as my swarm port. Not sure if that may cause any problem but I will change it for this tests.

[2016-02-18 23:37] dongluochen commented on #1838
@Spritekin I have a guess on where the bug is. Need to run some tests to validate. It's not related to port 2376. I'd like your help to run swarm 1.1.0 with the same setup and check the TCP connection count. In my test the issue is introduced at 1.1.1. It'd be helpful if you can confirm it.

[2016-02-19 00:27] dongluochen commented on #1826
@ruijf I think the connection leakage bug was introduced in Swarm 1.1.1. I don't find the problem in Swarm 1.1.0. Can you validate you are running the official Swarm:1.1.0? I wonder if you are running a dev version after 1.1.0.

[2016-02-19 00:30] Spritekin commented on #1838
I have started swarm with 1.1.0 in one server and 1.1.1 in another server. Both share the same cluster though mesos. Both are not receiving any jobs just standing still. Note that in this state the only thing they receive is offers from mesos.

Look at this. I run the same commands at the same time.

Swarm 1.1.1
[code]

Swarm 1.1.0
[code]

So I guess this is not a new bug but I have an idea where

[2016-02-19 00:42] nishanttotla commented on #1830
@marceloamaral try this branch https://github.com/nishanttotla/swarm/tree/list-conflicting-constraints

Although if you can wait for a bit for #1796 to get merged, you'll be able to use Swarm latest, which has some bug fixes.

[2016-02-19 00:42] Spritekin commented on #1838
They are already on 49. And look at this, it is periodic... I run the command about once per second. I bet it increases by two because I have 2 nodes in my cluster. So with 20 nodes that I had it would increase much faster.
[code]

Another fact. My offer timeout is       "--cluster-opt","mesos.offertimeout=15s", If you count the number of times I called this is around 15 times (hey I'm not a clock

[2016-02-19 01:14] nishanttotla commented on #1760
@vandita31 what happens when you try to get images on Host 3 from Host 2, using both IP and domain name?

[2016-02-19 01:16] Spritekin commented on #1838
I this the problem is this...
When an offer is received, the mesos scheduler creates a new engine (mesos/scheduler.go:73 and 74).
When the engine connects it calls the function NewDockerClientTimeout to create a connection to the client (engine.go:158). This connection is then passed to the connectWithClient function through the c.httpClient object.
The connectWithClient function saves the connect

[2016-02-19 02:25] dongluochen commented on #1838
@Spritekin We found a problem that the swarm manager keeps opening new TCP connections. We are now testing the fix in #1843.

[2016-02-19 03:10] Spritekin commented on #1838
I'm testing something else that might be complementary. When the engine disconnects I'm forcing a closeIdleConnections on the httpClient. I'm checking if that helps.

[2016-02-19 03:13] ruijf commented on #1826
@dongluochen yes, we were pull the code from master previously, now, after we get the code from release package for 1.1.0, the problem is gone. we will keep monitoring on this.

Thanks all!

[2016-02-19 03:17] nathanleclaire commented on #1826
:+1:

[2016-02-19 04:56] MBuffenoir commented on #1708
or registrator also, so +1 too.

This way I could even simply add it to my compose instead of my docker-machine provisioning script and by adding some depends_on to be sure it's started before doing anything else ...

[2016-02-19 05:04] ruijf commented on #1826
@dongluochen  one more finding, when we run "curl http://dc7:2376/containers/9703b9c51452/json", the established conntion still increase 1, but after we run "cull  http://dc7:2376/containers/9703b9c51452/json" again for the same container, the connection is not increasing. Not sure is this a problem.

[2016-02-19 11:50] #1611 closed

[2016-02-19 11:52] #1610 closed

[2016-02-19 11:53] #1613 closed

[2016-02-19 11:53] #1609 closed

[2016-02-19 11:54] #1614 closed

[2016-02-19 11:54] #1608 closed

[2016-02-19 11:54] #1607 closed

[2016-02-19 11:54] #1605 closed

[2016-02-19 11:55] #1603 closed

[2016-02-19 11:59] marceloamaral commented on #1830
@nishanttotla thank you! I will close this issue.

[2016-02-19 11:59] #1830 closed

[2016-02-19 12:53] antimack opened #1846 "Docker swarm manager doesn't restore exposed ports when rescheduling the container"
Hi,

I have a 3 node swarm cluster with swarm token(1 manager and 2 agent nodes, daemon on all of these nodes started with params DOCKER_OPTS="-H tcp://0.0.0.0:2375 -H unix:///var/run/docker.sock --label=environment=test")
what has been done:
1. Swarm manager running on master node with cmd "docker run -d --name swarm_master -p 3375:2375 swarm -experimental manage token://$SW_TOKEN"
2. Swarm agent

[2016-02-19 13:52] echupriyanov opened #1847 "Swarm 1.1.x volume plugin issues"
This issue is related to https://github.com/docker/compose/issues/2958

Is it possible, that problem is on Swarm sife?
And also some observations.

My setup:
[code]
Volumes:
[code]
Let’s create a volume:
[code]
So far so good. But:
[code]
I suspect, that volume should be addressable without the need to use node prefix.
Is it so?

[2016-02-19 13:58] markdand opened #1848 "Running Containers with Swarm uses environment variables of the client machine, not the host node where the container is deployed"
When we use Docker Swarm to deploy containers, it uses the environment variables from the machine that the client is run on, not the node to which it is being deployed.

Example:
A 3 node swarm cluster with manager on node1 and $DBNAME environment variable set

If this is run on a Dev PC:
# > DOCKER_HOST=node1:4000 docker run image cmd db_name=$DBNAME

and the $DBNAME variable does not exist on th

[2016-02-19 14:18] snoopy86 commented on #599
What if you have one node on one location and one on the other and then network fails between them? Would node on the other location also run the container as it would not see the other running container?

[2016-02-19 16:32] ekristen commented on #1468
I have debug enabled now, I'll let you know if I come across anything.

[2016-02-19 16:33] nishanttotla commented on #1830
@marceloamaral thanks! Just checking, did you try out that branch? If so, did it help?

[2016-02-19 16:38] marceloamaral commented on #1830
sorry @nishanttotla  I didn't try the branch yet. But the discussion itself was very useful. I could try to track the problem and I am sure that this modification will be very useful to debug.

[2016-02-19 17:44] nishanttotla commented on #1830
Great, thanks @marceloamaral!

[2016-02-19 18:05] ekristen commented on #1468
I have debug enabled and I am showing that several of my apps are in `restarting` mode via the swarm master even though they are not on the actual engine.

What do you want from the logs @dongluochen

[2016-02-19 18:21] ekristen commented on #1468
FWIW i see engine update succeeded for the engines being affected happening regularly.

[2016-02-19 18:50] Spritekin commented on #1838
Ok looks like its two problems here. The first one is that there are many pages asking why golang won't close HTTP connections and keeps them open (https://www.google.com.au/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=golang%20http%20request%20does%20not%20close%20connection)
So they added more parameters to configure this behaviour.

So after checking the docs I added:
swarm/Godeps/_wor

[2016-02-19 18:56] Spritekin commented on #1838
I still can't find the second problem seems to be located in the swarm/Godeps/_workspace/src/github.com/samalba/dockerclient/dockerclient.go:
StartMonitorEvents.

[2016-02-19 19:15] dongluochen commented on #1838
@Spritekin `DisableKeepAlives: true` would start a new connection for every request. The connection will be closed after the request. This should `fix` the multiple connection problem although we don't want to go that route. @vieux is looking at HTTP resp.body closing issue which might prevent connections from closing.

[2016-02-19 19:18] Spritekin commented on #1838
I think I found it... its a missing defer close stream.
swarm/Godeps/_workspace/src/github.com/samalba/dockerclient/dockerclient.go:463
[code]

I'm running with this two changes and the treads are stable at 4.

[2016-02-19 19:21] nishanttotla commented on #1846
@antimack is this new, or did this break recently?

[2016-02-19 19:21] nishanttotla commented on #1839
cc @moxiegirl

[2016-02-19 19:25] dongluochen commented on #1838
@Spritekin Cool :+1:.   Let us know your test result.

[2016-02-19 19:26] Spritekin commented on #1838
Unfortunately I enabled the keepalive and the connections started to rise again. You need both changes.

I understand you may prefer faster connections but not useful to sacrifice stability for performance. Once you get it stable worry about making it faster.

Please add this changes to your fix. I will be eager to download a new version.

Luck!

[2016-02-19 19:29] antimack commented on #1846
@nishanttotla I've got this issue 2 weeks ago with 1.1.0, and I've decided to return to this and check with 1.1.2 because I thought it can be fixed in this version, but still got this issue

[2016-02-19 19:44] snoopy86 commented on #1488
What if you have one node on one location and one on the other and then network fails between them? Would node on the other location also run the container as it would not see the other running container?

[2016-02-19 19:47] dongluochen commented on #1838
@Spritekin Thanks for the feedback! There are multiple places we might miss closing http resp.Body. @vieux is going thru this issue. It could be another one that causes your connection leak. Do you have sample requests (run, events, network, etc) to your swarm manager? I want to play the requests in my test cluster to validate our changes.

[2016-02-19 20:22] echupriyanov commented on #1847
I've put the set of Ansible playbooks I use to setup Swarm cluster in AWS
Its locate here: https://github.com/echupriyanov/ansible-swarm-aws

[2016-02-19 20:36] mrgnr opened #1849 "`docker volume ls -f dangling=true` returns all volumes"
**Description:** Filtering doesn't work for the `docker volume ls` command when run via the Swarm manager. All volumes are returned, regardless of whether `dangling=true` or `dangling=false`.

**System info:**

[code]

[code]

[code]

**Steps to reproduce:**

[code]

**Results:**
When `docker volume ls -f dangling=true` is run via the Swarm manager, all volumes are returned (including the `used` v

[2016-02-19 21:28] nishanttotla commented on #1849
@emrob thanks for reporting. Swarm does not support volume filters right now, so the output you're seeing makes sense. We're still working on supporting new Docker options with Swarm. Do you have a strong requirement for this feature right now?

[2016-02-19 21:36] vieux commented on #1846
@antimack thanks for the report, it should be fixed in https://github.com/docker/swarm/pull/1850 I added a test to check.

[2016-02-19 22:35] dongluochen opened #1851 "Swarm may leak connections to stuck engine"
In test I have an engine run out of space. It accepts connections from swarm manager and responses to `ps`, `inspect` but cannot respond to `info`. Swarm manager would periodically validate this engine. Because it doesn't get connection failure, swarm manager doesn't back off on retries. It'd waste TCP connections on such engine.

Swarm manager should detect such engine and back off on retries.

[2016-02-20 00:40] Spritekin commented on #1838
All my tests have been just starting swarm and leaving it running idle, no jobs sent. I wanted to stabilise first.

As I said, even standing idle it kept accummulating connections at  rate proportional to the number of slaves plus the time of the offerTimeour parameter (i.e. 15 connections each 15 seconds). You can imagine that in my final cluster I was making like 100 connections per minute. This

[2016-02-20 02:44] Spritekin commented on #1838
Ok I started 20 http servers using swarm docker run, then I tested docker inspect, docker logs, docker kill, docker rm.

All worked fine. No threads lost.

[2016-02-20 02:45] dongluochen commented on #1468
@ekristen For those containers stuck with `starting` status, do corresponding engines refresh properly? Swarm manager refreshes engines periodically and output logs like this.
[code]

[2016-02-20 04:28] ekristen commented on #1468
Yup all engines are updating regularly

[2016-02-20 15:31] echupriyanov commented on #1847
Here is my quick fix:
[code]

I didn’t get this part of Volumes.Get function:
[code]
No volume in cluster.Volumes() starts with ‘/‘, maybe it have to be added when we get list of volumes from Engine? Should it be unique in list? Or we just mark all non-local volumes with beginning ‘/‘?

Can you, please, explain me, how it is planned to be used.

[2016-02-22 02:30] #1617 closed

[2016-02-22 02:31] rolfedh commented on #1617
https://docs.docker.com/swarm/swarm_at_scale/

[2016-02-22 02:32] rolfedh commented on #1616
https://docs.docker.com/swarm/plan-for-production/
https://docs.docker.com/swarm/install-manual/

[2016-02-22 02:32] #1616 closed

[2016-02-22 02:33] rolfedh commented on #1615
https://docs.docker.com/swarm/secure-swarm-tls/
https://docs.docker.com/swarm/configure-tls/

[2016-02-22 02:33] #1615 closed

[2016-02-22 08:10] keyboardfann opened #1853 "swarm on mesos can't allocate container"
Dear All,

I follow swarm on mesos readme guide. run docker swarm manager and it register to mesos , but when i want to allocate container on mesos , it show the following error.

docker: Error response from daemon: container failed to start after 5s.

Any one meet the problem and could you give me some feedback or solution? Thank you your time for looking the problem.

Env:

[code]

Testing host:

[2016-02-22 11:28] nihn opened #1854 "Cannot remove empty network"
Hi,

I've run into issue: I have created overlay network through `docker-compose` and now I cannot remove it.

[code]

[2016-02-22 14:59] garagatyi commented on #1214
@vieux Problem is not in \b symbols only. Docker/Swarm change this output quite often. For example entries number between Node entry and its host/IP was changed several times.
It would be much easier to handle if API responds in a predictable way.
If this information is not so useful for docker clients Swarm can add it as its own endpoint because it is useful information for Swarm clients.

[2016-02-22 15:33] emrob commented on #1849
@nishanttotla This feature would be very convenient to have, but I can work around it for now. Thanks!

[2016-02-22 18:08] dongluochen commented on #1854
This looks the same as [docker issue #19261](https://github.com/docker/docker/issues/19261) in libnetwork, not swarm specific issue.

[2016-02-22 18:20] nishanttotla commented on #1849
@emrob I've been investigating it, and it's slightly more complex to implement than just a simple filtering, because the underlying client Swarm uses doesn't support filtering yet. I'll still try to see if there's an easy way to do it for now.

[2016-02-22 18:53] dongluochen commented on #1839
@brynmathias Can you start swarm manager with debug option `-l debug` and check the logs? Also remove `-d` in docker run so you can see the logs on consul.

[code]

You should see logs like this.
[code]

[2016-02-22 22:46] #1846 closed

[2016-02-23 00:53] #1826 closed

[2016-02-23 01:06] vieux commented on #1837
@shenshouer the `environment` part will be fixed in compose 1.6.1

For the rest I added a test here: https://github.com/docker/swarm/pull/1856 to make sure it works

[2016-02-23 03:56] Spritekin commented on #1853
5s is not enough time to fetch the image so it fails.
Increase your container timeout. Use the env variable SWARM_MESOS_TASK_TIMEOUT=180s or the parameter "--cluster-opt mesos.tasktimeout=180s"

Also, you might need to change your mesos slave configuration to provide a larger registration time:
--executor_registration_timeout=3mins

Luck!

[2016-02-23 05:03] keyboardfann commented on #1853
Dear @Spritekin ,

Thank you for the feedback , I enlarge the timeout but it still fail.

Start mesos slave and add timeout 3min

	mesos-slave --master=zk://kmaster.com:2181/mesos --executor_registration_timeout=3mins --containerizers=docker,mesos --launcher=posix </dev/null >/dev/null &

Add timeout 180s when start swarm manager

	docker run -d -p 4000:2375 -p 3375:3375 \
    swarm manage \

[2016-02-23 08:47] howardshaw commented on #1853
@keyboardfann I meet the same problem as you,did u fix the problem?

[2016-02-23 08:52] shenshouer opened #1859 "swarm runtime: program exceeds 10000-thread limit cause reelected leader very frequently"
When I run `docker-compose scale -t 30 web=1000` , report `runtime: program exceeds 10000-thread limit` very frequently

* 3 swarm master and 3 consul master
* 15 swarm node

version of swarm: `swarm version 1.1.2 (f947993)`

OS:
[code]

docker

[code]

[code]

[2016-02-23 09:00] gradywang opened #1860 "Proposal: Swarm support the rescind offer operation from Mesos"
Currently, Swarm does not implement the interface of `OfferRescinded` in scheduler, propose to implement it to avoid to schedule the create container request to the invalid offer to improve the performance of swarm+mesos.

[2016-02-23 09:15] keyboardfann commented on #1853
@howardshaw
No , I still be hang by the error.  Maybe I think the docker swarm manager use the public DNS resolve , so kmaster.com the ip i setup is 10.1.20.90(private ip) , but the docker swarm manager will get info from 141.8.225.124(public DNS record from whois)

[2016-02-23 10:37] skryzhny commented on #1214
+1
We need machine friendly output.
It better to have not just array,  but structured info.
What about adding another endpoint with machine friendly output if you don't want to change existing one?
Maybe we can have some script distributed with swarm, that convert output of /info to machine friendly form?

[2016-02-23 11:02] howardshaw commented on #1853
I test with vagrant box bentos/centos-7.1
env
`
swarm version 1.1.2 (f947993)
mesos-0.28.0+git20160221.1e65c7f-0.2.220.centos701406.x86_64
kernel:4.4.2-1.el7.elrepo.x86_64
docker 1.10.2
API version:  1.22
`

can see swam active framework on mesos web ui
`Active Frameworks

Find...
ID	Host	User	Name	Active Tasks	CPUs	Mem	Disk	Max Share	Registered	Re-Registered
…be48-74136c171391-0000 	c3d292773e49

[2016-02-23 19:43] nishanttotla commented on #1859
This might be related to #1838.

Ping @dongluochen

[2016-02-23 21:55] vieux commented on #1859
@shenshouer can you try with master ? `dockerswarm/swarm:master`

[2016-02-23 22:04] dongluochen commented on #1859
@shenshouer Thanks for reporting the issue! Do you see a lot of threads stuck at `syscall`? PR #1843 might address the issue. If you have swarm repo you can build and test it, or it'll be release soon.

[code]

[2016-02-23 23:57] Spritekin opened #1862 "Request: Marathon Health Check on Swarm (or please get curl on swarm image)"
Hi,
I have installed swarm on marathon. All runs perfectly but now I would like to add some health checks.
Adding an HTTP health check is very easy, however adding a command health check is not. This is a simple example with two health checks doing the same thing:

[code]

The HTTP check works perfectly. The Command check doesn't. The reason is that the command is run INSIDE the swarm image and th

[2016-02-24 00:03] Spritekin commented on #1862
Ok I found wget in there... trying to change my command to post using wget.

[2016-02-24 00:08] Spritekin commented on #1862
Nope... is a simplified wget that won't send jobs.

[2016-02-24 00:29] vieux commented on #1862
@Spritekin maybe this could help  ?https://github.com/mesosphere/multiverse/blob/version-1.x/repo/packages/S/swarm/0/marathon.json

[2016-02-24 00:57] vieux commented on #1821
@CRogers verdict ?

[2016-02-24 01:20] Spritekin commented on #1862
Thanks viewx, but my problem is not running swarm, as I said is running fine.
It is not running an HTTP health check either.
Is specifically running a COMMAND health check. A command health check is a command run inside the container and I want to run a hello-world.
Imagine this, if you get a shell into a running swarm container (i.e. docker exec -ti my-swarm-container /bin/sh) then how do you req

[2016-02-24 01:24] Spritekin commented on #1838
FYI. I have been running a test cluster with this two changes. Very stable and quite fast. Now the problem is both fixes are in the samalba library, not in swarm per se.

[2016-02-24 01:37] gradywang commented on #1860
@nishanttotla ， cloud you help to assign this enhancement to me? or can you tell me how to assign an existing issue to myself?

[2016-02-24 01:39] dongluochen commented on #1838
@Spritekin Thanks for the feedback! In your crash dump I see the threads were stuck at network dialConn `created by net/http.(*Transport).dialConn`. I think #1843 should fix this issue. It seems you still have problem with #1843. Do you have a crash log from that?

The resp close issue at dockerclient.go is a little complicated. The stream is passed to `readJSONStream` and is (or should be) closed

[2016-02-24 01:48] Spritekin commented on #1838
Hi, I don't have a crash log because I didn't wait for the crash. I started swarm but when I run "sudo netstat -tpn | grep -i swarm | wc -l" I could see the threads increasing. Doesn't take much to imagine they would eventually crash again.

I will do my tests again once 1.1.3 is out. For now, the modified version I'm using is very stable.

Luck!

P.S. I say modified not just because of this fix,

[2016-02-24 02:27] dongluochen commented on #1862
I'm not very clear how this health check is triggered. Can you install curl first before your run your health check command? Or can you build the container image with curl?
[code]

[2016-02-24 03:06] Spritekin commented on #1862
That's the point of this request. I'm asking to add this to the Dockerfile
RUN apk update && apk add curl

That way we can get curl and run health checks in marathon.

[2016-02-24 03:12] Spritekin commented on #1853
Use the root user. Also I prefer using env variables for the configuration. Here is my Marathon json file, maybe it helps with your own setup:
[code]

[2016-02-24 03:40] Spritekin commented on #1862
Please please add it. It just adds 2 MB to the image size and it works fine. Already tested.

This are my final marathon health checks:
[code]

[2016-02-24 04:40] linleybao opened #1865 "start swarm by systemd faild , but swarm is running"
I tried running swarm by systemd。The following is systemd config file

/etc/sysconfig/swarm-manager
[code]

/usr/lib/systemd/system/swarm-manager.service
[code]
swarm runing is OK,but systemd start swarm faild, start active status is activating

[code]

[2016-02-24 07:27] howardshaw commented on #1853
Thanks @Spritekin
I follow you advice and can get resource from mesos now

[code]
But when I try to run containers ,I met the Abnormal executor termination problem,but I already set SWARM_MESOS_USER when run swarm manage.

marathon create swarm json file as below
[code]

error msg
[code]

[2016-02-24 08:24] shenshouer commented on #1859
@vieux The swarm I used with binary file which I build with the master branch of source code.

everything is ok when I use docker command to run containers , command like:

[code]

So the problem is docker-compose ?

[2016-02-24 08:32] auzias commented on #1783
Any news?

[2016-02-24 09:14] Spritekin commented on #1853
Hmmmmm... that one is interesting... I can imagine your docker container setup is fine otherwise you wouldn't have run swarm from marathon. Have you tried running all as root instead of the vagrant user even when it might be a superuser? (hey maybe you can try vagrant as the user).

I would think its a OS/vagrant thing. I use CoreOS so I can't give you any more advice. Maybe someone of the Swarm g

[2016-02-24 09:34] ungureanuvladvictor opened #1867 "Request headers not being propagated to the engine"
I am trying to develop an auth plugin for Docker which uses different information passed via request headers. Everything works as expected when connecting directly to the engine. When connection via the Swarm to the engine the request headers are not passed over (from what I see we use dockerclient but pass nil in the headers field). Is there any plan for the future to forward the request headers

[2016-02-24 09:41] allencloud opened #1868 "Nothing in api response body when using --cors in swarm manage"
Hi,
Recently, I run into a bug that when I use the command `swarm manage --cors ...`, I can get nothing in API request, such as "curl  127.0.0.1:2375/info".

Below is my environment, and I think everyone can reproduce it:

1.
[code]

2.docker info
[code]

3.swarm **enable** cors
[code]

4.curl api /info
[code]

5.swarm **disable** cors
[code]

6.curl api /info, and nothing goes wrong
[code]

I thi

[2016-02-24 12:50] hackndoes commented on #1816
nothing like swarm build was mentioned.
what I meant was running docker build against the swarm manager.
it seems like everything is working in 1.10.2 so problem solved somehow.
thanks.

[2016-02-24 12:50] #1816 closed

[2016-02-24 15:23] allencloud opened #1873 "swarm manage panic error when docker-engine 1.10.x set a label which is not key=value format"
docker-engine 1.10.x has a new feature of new configure json file `/etc/docker/daemon.json`, and we can set labels in this json file like below:
[code]

`docker info` output:
[code]

If we use flags to set labels in docker daemon, daemon will validate lablel's format "key=value".However setting labels in daemon.json can escape validation,like above just key without value. It is a **BUG** of docker

[2016-02-24 15:58] wallnerryan commented on #1847
@echupriyanov I am seeing the same issues, in fact `inspect` works fine when not pointing at Swarm, so furthermore points toward this

[2016-02-24 16:01] wallnerryan commented on #1847
FWIW, this also affect using `docker-compose` with external volumes or volume plugins.

[code]

[2016-02-24 16:05] echupriyanov commented on #1847
@wallnerryan yes, its already linked here: https://github.com/docker/compose/issues/2958
 proposed PR https://github.com/docker/swarm/issues/1872 fixes that issue too

[2016-02-24 16:16] wallnerryan commented on #1847
@echupriyanov yup just saw and commented on it. Thanks for bring this up. let me know if and how I can help any. (disclaimer: i work for ClusterHQ and want this fixed as well). Wanted to make sure it wasn't caused by our plugin.

[2016-02-24 16:24] echupriyanov commented on #1847
@wallnerryan I think its not related to flocker at all. Also there is one more issue with Swarm and volume drivers. I seen it reported for rexray driver, but I seen it with flocker too - https://github.com/emccode/rexray/issues/291

It can be easily catched when you start to monitor open files with `lsof` on swarm node with volume driver plugin (either `flocker` or `rexray`)

You can check it with

[2016-02-24 16:44] wallnerryan commented on #1847
yup, i've seen this in the past with swarm. When I was hacking with swarm it seems to relate the connections being made as you allude to.

[2016-02-24 18:01] dongluochen commented on #1859
@shenshouer Would you mind sharing your compose file?

[2016-02-25 00:34] nishanttotla opened #1879 "Proposal: Roadmap to replace samalba/dockerclient with engine-api/client"
## Problem

Swarm has been using [`samalba/dockerclient`](https://github.com/samalba/dockerclient) to send requests to Engines in the cluster so far. This has been a limiting factor for supporting new features of the Engine API, since `dockerclient` is outdated and does not fully support the current Engine API.
## Solution

[`engine-api/client`](https://github.com/docker/engine-api/) contains the

[2016-02-25 00:35] nishanttotla commented on #1879
cc @docker/core-swarm-maintainers

[2016-02-25 00:47] MHBauer commented on #1879
same as #1560?

[2016-02-25 00:49] vieux commented on #1812
Thanks for the report,

this fixed in https://github.com/docker/swarm/pull/1850

Can you use swarm:1.1.3-rc1 to try it.

[2016-02-25 00:49] #1812 closed

[2016-02-25 00:53] nishanttotla commented on #1879
@MHBauer thanks, I'd missed that issue. We can start a fresh discussion here, and close that issue, or continue there if others prefer that.

Looking over the comments there, I can see that `engine-api` has been updated significantly and added a `mock` client, but not a `nop` client, though we can push for it if it's necessary.

[2016-02-25 01:00] MHBauer commented on #1879
I think this effort is a great testbed for how we address the needs of people outside the docker cli itself. There isn't a nopClient, but I think it should be able to be rigged up internally for now, giving it a mock type client. Definitely something we can get into engine-api if it's a pain to configure.

[2016-02-25 01:03] vieux commented on #1837
This is fixed in compose 1.6.2 see https://github.com/docker/swarm/pull/1881

[2016-02-25 01:03] #1837 closed

[2016-02-25 01:13] vieux commented on #1810
@jpetazzo can you retry with `1.1.3-rc1` we fixed a bunch of issues.

Also, are you setting TTLs to a small values like `--engine-refresh-min-interval=1s --engine-refresh-max-interval=1s --engine-failure-retry=1` ? otherwise swarm takes some time to detect node failure.

[2016-02-25 01:47] gradywang commented on #1860
#dibs

[2016-02-25 01:48] gradywang commented on #1860
#1866

[2016-02-25 02:17] shenshouer commented on #1859
@dongluochen
version of compose I used :

[code]

[2016-02-25 02:26] dongluochen commented on #1838
@Spritekin We released [swarm 1.1.3-rc1[(https://github.com/docker/swarm/releases/tag/v1.1.3-rc1) today. It'd be great if you can run a test to see if it fixes this issue.

[2016-02-25 02:27] dongluochen commented on #1859
@shenshouer We released [swarm 1.1.3-rc1[(https://github.com/docker/swarm/releases/tag/v1.1.3-rc1) today. It'd be great if you can run a test to see if it fixes this issue.

[2016-02-25 02:36] dongluochen opened #1883 "validate and add tests for container label update"
Docker [#18958](https://github.com/docker/docker/pull/18958) is going to support container label update. Swarm should validate this change and add tests for it.

[2016-02-25 03:22] gradywang opened #1884 "Proposal: DOCKER INFO should show nodes information in Swarm + Mesos"
Currently, when Swarm run on Mesos, `docker info` command shows as below:

[code]

I think we should show nodes information rather than offer information, because the filter and strategy of swarm are worked on nodes information. actually, end user does not care about the resources information in each offer, s/he only care about the total resources on each node, because a container can be created w

[2016-02-25 06:48] shenshouer opened #1885 "Cannot remove duplicate containers"
Hi
I start one container with command:

[code]

then I can get the node `worker-xxx-110` which this container running with:

[code]

I stop the `swarm.service` on node `worker-xxx-110`, and after wait for a while, I can see reschedule the container to other node:

[code]

Then I start the  `swarm.service` on node `worker-xxx-110` , and I have saw tow containers named adoring_hopper and with the sa

[2016-02-25 07:08] allencloud commented on #1885
@shenshouer Can you open DEBUG log level of swarm , and output the log. Then we can confirm that RemoveContainer is called indeed.

[2016-02-25 08:31] shenshouer commented on #1885
@allencloud  `removeDuplicateContainers ` will use if there have two containers on one node with the same swarm id , but  the case in my test on two different nodes.

[2016-02-25 08:34] vieux commented on #1885
@shenshouer it's not `on one node`, the function should do exactly what you want.
Can you provide logs in debug mode ?

We have a test https://github.com/docker/swarm/blob/master/test/integration/rescheduling.bats#L125 that is supposed to check that the containers are removed correctly but I guess one case isn't handled properly

[2016-02-25 08:37] shenshouer commented on #1885
@vieux OK, I start my test now, for a moment.

[2016-02-25 09:04] shenshouer commented on #1885
if I open logs in debug mode, I stop the swarm service on the node one container running , then I will get three running containers on other nodes.
[code]

the log on swarm leader:
[code]

[2016-02-25 09:08] shenshouer commented on #1885
I start the swarm on node which I stoped (`worker-10-11-3-117`) . and get the result:
[code]

logs
[code]

[2016-02-25 09:15] shenshouer commented on #1859
ok, I will test it one moment

[2016-02-25 09:25] allencloud commented on #1885
Actually, function removeDuplicateContainers has not been called, since there is no debug log of `log.Debugf("removing duplicate containers from Node %s", e.ID)` in your presented log.

There may be something wrong when node reconnect to the cluster, as no event engine_reconnect is triggered.

[2016-02-25 09:31] shenshouer commented on #1885
I think there are two problems:

1. lose one running container on failure node, will reschedule three containers on other three nodes.
2. `removeDuplicateContainers` has not been called

[2016-02-25 09:44] howardshaw commented on #1853
thanks @Spritekin
If i try to lanuch swarm via docker instead of marathon as below,it works.

[code]
logs as below

[code]

[2016-02-25 10:28] shenshouer commented on #1859
my testing environment:

* 3 swarm master && consul node
* 15 swarm node && consul node

OS:
[code]
docker:`Docker version 1.10.1, build 88b8b3a`
docker-compose:`docker-compose version: 1.5.1`
swarm: `swarm version 1.1.3 (da37fb5)`

docker-compose.yml:
[code]

run container with docker-compose:
[code]

scale container number to 3000
[code]

and I got the error:
[code]
and in order to get 3000 runn

[2016-02-25 10:41] shenshouer commented on #1859
the same with `docker-compose version 1.6.2, build 4d72027`

[2016-02-25 11:04] eric-basley opened #1887 "image not found"
since swarm migration,when trying to run a container, we get such an error message:
Error response from daemon: No such container <name>
Whereas image is available, listed and can be tagged on all swarm's nodes.
ex:
docker images
rp3:~# docker images
timetrack 0d133694cd4a eaaacce3d273 3 weeks ago 860.2 MB

rp3# docker run -d --net=swarm -e constraint:node==rp3 -v /opt/timetrack:/config timetrack:

[2016-02-25 12:00] anarcher commented on #1859
I has some issue.

- swarm:1.1.2
- docker 1.10.2

[code]

[2016-02-25 12:01] gradywang opened #1888 "Proposal: Support revive offer to improve Swarm + Mesos performance"
Currently, in Swarm + Mesos, if there are no sufficient resources in Swarm to create container, then Swarm will save this task in a pending tasks queue to wait receive offers from Mesos. In order to improve the performance for creating container in Swarm + Mesos, I propose to revive offers from Mesos if resources are not enough to create a container.

[2016-02-25 12:54] gradywang opened #1889 "Proposal: Swarm support to register Mesos with a specified Mesos role"
Currently, Swarm register Mesos with the default Mesos role "*", proposal to introduce a new cluster option and a new environment variable for Swarm on Mesos to specify a Mesos role to register. Then it can use Mesos static/dynamic reservation, create volume, quota features to reserve some resources to Swarm framework.

[2016-02-25 13:37] yank1 commented on #1868
LGTM

[2016-02-25 14:12] gradywang commented on #1889
#1890

[2016-02-25 17:31] allencloud opened #1891 "Proposal: set desired state for rescheduled containers when node failure"
Although rescheduling container when node failure is an experimental feature, I think it can promote container 's HA a lot.

Now when rescheduling happens for a container, swarm create a new container and start it if the old container's state is running.Here is the code:[https://github.com/docker/swarm/blob/master/cluster/watchdog.go#L84-L89](https://github.com/docker/swarm/blob/master/cluster/wat

[2016-02-25 17:41] vieux commented on #1887
@eric-basley it means the images `timetrack:0d133694cd4a` is not present on node `rp3`

In the 1st case, you add a node constraint, so it's going to schedule on `rp3`, image isn't here so it's going to try to pull and it can't (local images only I assume) so it's going to fail.

In the 2nd case, you don't have node constraint, so swarm is going to pick a machine where the image exists (I guess `rp

[2016-02-25 17:56] dongluochen commented on #1859
@shenshouer Thanks for providing the related info!

[2016-02-25 17:58] dongluochen commented on #1859
@anarcher What are the top 2 frequent threads in your dump? Can you describe your set up and what workload gets to the crash?

[2016-02-25 19:28] vieux commented on #1885
Did you truncate the logs ?

There is ony one rescheduling happening in the logs `Rescheduled container 0d854bbc7165b3357314402214b0e95d89b52f88b3505e189f19a8c755457845 from worker-xxx-117 to worker-xxx-126 as 704ba0bd4b6c373651f3b1dfdbe8830e996b7dedb7dcd14f13f569f0fda34363`

I don't see how it could go on `112` and `128`

[2016-02-25 21:34] antimack commented on #1846
Tried this in a new 1.1.3-rc1 and issue is still presented, actually re-scheduling is broken. Swarm manager re-created container with correct host-config on the healthy node but didn't start it at all.
[code]

[code]

[code]

[code]

[code]

[2016-02-25 21:58] heycalmdown commented on #1692
Same problem here.

@chanwit, should I build an empty image from the image what I actually want for a workaround?

[2016-02-25 22:11] #1868 closed

[2016-02-25 23:02] kevinsimper commented on #1217
@amitshukla This should be reopened because it was not solved in #1520.

#1520 only talks about how containers are placed but nothing about memory `-m` arguments and how memory occupation is calculated.

How is a server with 1 GB of ram and 2 GB swap used and calculated?

[2016-02-25 23:13] kevinsimper opened #1893 "How does swarm handle swap?"
How does swarm handle swap? Both when scheduling and reporting size with `docker info`.

It is related #1217 in that i want to "oversell" a node.

[2016-02-25 23:50] chanwit commented on #1692
@heycalmdown Yep I think you can do that. At least it will pull your base image to the correct node.

[2016-02-26 00:00] Spritekin commented on #1838
@dongluochen
Unfortunately not. I started a swarm service in my mesos cluster currently with 15 machines. I run using marathon but this is essentially my setup:
[code]

Once started I give it one minute to set. Then I  run this command every 6 seconds:

$ sudo netstat -tpn | grep -i swarm | wc -l

This is the progression:
[code]

And last read before I finish this message:
$ sudo netstat -tpn | gr

[2016-02-26 00:05] Spritekin commented on #1853
I use to run Marathon from a container as well... try this (change to your ZK)

docker run --name marathon -e LIBPROCESS_PORT=9090 --net=host \
            mesosphere/marathon:v0.15.3 --master zk://mesos-zk.aws.cmcrc.com:2181/mesos --zk zk://mesos-zk.aws.cmcrc.com:2181/marathon --checkpoint --task_launch_timeout 300000

And look at that... I forgot I also added a task timeout to marathon! Maybe th

[2016-02-26 00:22] #1873 closed

[2016-02-26 02:30] gradywang commented on #1819
In addition, I find docker/swarm changed the semantics of `--cpu-shares` parameter of docker run. For docker only, it is a relative weight, but in swarm, it uses it as the real cpu numbers.

@dongluochen, I think we need to document it for this change, do you think so?

[2016-02-26 03:26] Spritekin commented on #1838
Ok a bit of good news, I applied only the change to swarm/Godeps/_workspace/src/github.com/samalba/dockerclient/utils.go:15
MaxIdleConnsPerHost: 1,
DisableKeepAlives: true,

While not stable, the increment is slower. This is the read after 45 mins (similar to the read in the previous post).
$ sudo netstat -tpn | grep -i swarm | wc -l
246

So I would say the progresive increment is like 4 times slo

[2016-02-26 03:55] Spritekin opened #1895 "Two swarm on same mesos cluster share jobs. Bug or Feature?"
Hi,
I started two swarm servers in the same mesos cluster (one for tests). One was started yesterday so it has running jobs. The other was started minutes ago.

When I do a docker ps on each one, the old server lists all its jobs. But the new service, where I have not issued any job, also responds with a partial list. This is a partial extract:

Old server

[code]

New server:

[code]

On the full

[2016-02-26 08:28] michaelzangerle commented on #1484
Any updates on this issue? I have basically the same setup as @s093294 has (but Docker 1.10.2 and Swarm 1.1.2) and I can pull from the swarm-nodes and through the swarm master when it's a public repository. I can also pull a private repository directly on the swarm-nodes but when I try to pull from a private repo through the swarm-master I get `Error: image [...] not found`.

I tried setting the `

[2016-02-26 08:47] howardshaw commented on #1853
ok thanks @Spritekin
I tried but still got the same error.
So only to run swarm from docker cli will works.

Hope swarm mesos support come to production soon.

[2016-02-26 14:48] ringtail opened #1897 "can't start container via api"
docker deamon log

[code]

swarm master log

[code]

container status

[code]

[2016-02-26 14:50] ringtail commented on #1897
versions
[code]

[2016-02-26 15:51] jpetazzo commented on #1810
I couldn't reproduce with 1.1.3-rc1 and `--debug` so I thought we were good, but then when I did a dry run fro my meetup tonight, the problem appeared again. Here the logs (without `--debug`). I'll try to reproduce again over the week-end. Also, I had a crash when trying to scale a service to 100 containers; I'll open a separate ticket.

[node3.log.txt](https://github.com/docker/swarm/files/148483

[2016-02-26 15:51] jpetazzo commented on #1810
(To answer @vieux's question: no, I didn't change the TTL, but I waited a looooong time)

[2016-02-26 18:50] dongluochen commented on #1897
@ringtail There have been a lot of changes and bug fixes since `Docker version 1.9.0-rc4`. Can you upgrade your docker daemon to [Docker 1.10.2](https://github.com/docker/docker/releases/tag/v1.10.2) and retry?

[2016-02-26 19:18] dongluochen commented on #1897
I'd also suggest using [latest swarm build](https://github.com/docker/swarm/releases/tag/v1.1.3-rc1).

[2016-02-26 21:52] Spritekin commented on #1838
It did crash after 15 hours. Not only got the service but somehow if crashed the mesos master. I know it was it because the moment I restarted the mesos master the only service restarting was swarm (1.1.3rc1 with disablekeepalives as mentioned above).

1.1.2 with disabled keepalives AND disabled EventMonitoring (defer close stream) was working just fine and steady at 6 connections.

Luck!

[2016-02-27 00:34] dongluochen commented on #1859
@shenshouer I do not get swarm crash from `10000-thread limit` by running your application. I find an issue that docker-compose may flood swarm. (There are several minor differences from your setup that I may look into. I'm not running compose from some host, but from external.) And docker-compose may interrupt its operation from this.

When docker-compose tries to scale web instance to 3000. It g

[2016-02-27 00:46] everett-toews opened #1899 "Update "Try Swarm at scale" tutorial to use Interlock 1.0.0"
[Version 1.0.0](https://hub.docker.com/r/ehazlett/interlock/tags/) of Interlock just shipped. The [Try Swarm at scale](https://docs.docker.com/swarm/swarm_at_scale/) tutorial uses `ehazlett/interlock:latest`.

However, from the [README.md](https://github.com/ehazlett/interlock/blob/master/README.md)

The "Try Swarm at scale" example needs to be updated to use `ehazlett/interlock:1.0.0`

[2016-02-27 03:24] gradywang commented on #1889
@jimenez , cloud you help to review this proposal and patch, if you have some comments, let me know. Thanks!

[2016-02-27 03:31] gradywang commented on #1884
According to the proposal, the output of DOCKER INFO will be enhanced to:

[code]
Note: In above output,  the used resources are using for the current contains on that node, total resources = used + free (plus all offers on that node.)

@jimenez , cloud you help to review this proposal, if you have some comments, let me know, Thanks!

[2016-02-27 08:31] dongluochen commented on #1859
@shenshouer @anarcher So far I think the problem is request spike causing swarm manager and docker node resource starvation. In my test with Swarm 1.1.3-rc1 I did not get to 10000 thread limit when docker-compose stopped first. I think docker-compose should have flow control to not flood swarm. And swarm should implement self protection to handle high load, and protect docker engine when it's clos

[2016-02-27 09:21] anarcher commented on #1859
Hi, @dongluochen

I'm sorry about I have no logs about it now. I used to use the `Interlock` with interlock's stat plugin. I suspect the plugin makes many requests so that this issue appeared.

After turn out the interlock container, The problem does not appear.

Thanks,
anarcher

[2016-02-28 09:26] shenshouer commented on #1859
@dongluochen  Use the `docker run` command is not wrong, but there will be some error with docker-compose. I will test again next week and will log list.

[2016-02-28 09:29] shenshouer commented on #1885
@vieux Yes, There are too many log and beyond my limit display of terminal tool.

[2016-02-28 10:22] gittycat commented on #1899
Yes please, keep these tutorials and doc up to date.
You guys are the source of truth after all.

[2016-02-29 00:52] anentropic opened #1902 "How is discovery supposed to work?"
I'm confused about discovery

swarm requires some kind of discovery backend... I'm running consul

I launched some containers in my swarm with docker-compose

I can't find anything except the consul node itself registered as services in consul though... maybe I don't know where to look, but shouldn't the 'services' from my docker-compose.yml be reflected as services in consul? or I got the wrong e

[2016-02-29 03:51] wenchma opened #1904 "Swarm node cannot join Swarm master[dial tcp :2375: getsockopt: connection refused]"
I just setup a swarm master and a swarm node on all-in-one host, Swarm node cannot join Swarm master.
Steps to reproduce:

[code]

[2016-02-29 06:46] gradywang opened #1905 "The optimal node does not be chose when multiple soft constraints are used to create container."
I find if we use multiple soft constraints in `docker run`, the expected node maybe does not be selected, let me describe this issue with an example:

Show swarm cluster info:

[code]

Create one container with two soft constraints:

[code]

The above result confuse me, according to my current understanding, container should be deployed on `gradyhost2.eng.platformlab.ibm.com` rather than `gradyhos

[2016-02-29 08:47] Clabfabs commented on #1214
+1
Just ran into the same problem while integrating swarm into my app. `/info/json` would do it, no need to change `/info`.

[2016-02-29 13:43] joes opened #1906 "swarm join with IPv6 not supported?"
Hi,

It seems I am not able to to set the advertise option to the docker host's IPv6 address:

[code]

However, the discovery backend's URI is accepted if I use an IPv6 address.

[2016-02-29 17:37] vandita31 commented on #1760
@nishanttotla Not sure if you received my IM's on IRC , but retrieving images works both ways works using both IP and domain name using the certs. They are meant to work since the certs were created with a wildcard domain and both have the same domain name

[code]

from the other host -

[code]

You have one field here for host using -H , so you can either specify the FQDN or the IP and in my prev

[2016-02-29 18:37] dongluochen commented on #1838
@Spritekin I suspect there could be more than 1 issue behind this TCP connection leak. The first problem is TCP connections not closed when Mesos disconnects a node. I'm adding #1907 for this. In addition we may provide an option to disable TCP keepalive.

Can you provide details on `disabled EventMonitoring`? I want to take a look at this.

[2016-02-29 22:07] dongluochen commented on #1899
@everett-toews Thanks for bringing up the issue. We will update the doc.

[2016-02-29 22:39] dongluochen commented on #1904
@wenchma The error is
[code]
Can you test from swarm manager `docker -H 9.5.126.179:2375 info` or `curl http://9.5.126.179:2375/v1.15/info`?

[2016-02-29 22:47] vieux commented on #1904
@wenchma did you update the configuration of the docker engine on the machine `9.5.126.179` to listen on `2375` ?

[2016-03-01 00:01] Spritekin commented on #1838
I describe as disabled EventMonitoring to the fact that I do the "defer resp.Body.Close()" I mentioned above in dockerclient.go EventMonitoring function.

I know that the "resp" will be used downstream in the readJSONStream function (dockerclient:259). In that function it is even manually closed (dockerclient:282) but for some reason the connection is not closed. I have tested the "stream.Close" i

[2016-03-01 01:43] qianzhangxa commented on #1619
I has submitted the design proposal in #1900.

[2016-03-01 02:57] Spritekin commented on #1838
P.S. Maybe related maybe not. When I run docker inspect in an image sometimes I get the json but sometimes I get an Image Not found. Then if I run again I get the info. Maybe an effect of closing the event monitoring stream. Not sure.

[2016-03-01 07:52] wenchma commented on #1904
@dongluochen @vieux  thanks for your reply,  I configure docker(/etc/default/docker) with options:
`DOCKER_OPTS="-H tcp://0.0.0.0:2375 -H unix:///var/run/docker.sock"` , I found the conf not take effect,
so it failed to dial tcp...

[2016-03-01 07:59] echupriyanov commented on #1847
@vieux sorry to bother. Any comments on this issue?
At present state its impossible to use volume plugins (like flocker or rexray) with docker-compose.
I was told there are plans for a swarm-level volume plugins. Is it so?
Where can I find any info on this subject.

[2016-03-01 09:11] gradywang commented on #1618
Append the PR #1890 , In that PR, Swarm is enabled to use both reserved and unreserved resources to create container.

**The design proposal is** : swarm will use reserved resources firstly, if reserved resources are not enough for the creating container, then the unreserved resources will be used for the gap. This behaviour is hardcode, it does not support to change to use the unreserved resource

[2016-03-01 09:54] chenqing commented on #1643
I have the same problem. @vandita31  have you fix this ?

[2016-03-01 10:51] bk1te commented on #1847
Same problem here...

[2016-03-01 12:58] wallnerryan commented on #1847
@echupriyanov does https://github.com/docker/swarm/pull/1872 work? Have you done anymore work to get it to pass CI or waiting for review of this issue first?

[2016-03-01 13:55] echupriyanov commented on #1847
@wallnerryan It compiles and works locally.
As far as I can tell, CI failures are related to Docker Engine build, and not related to this particular PR.
I can try to re-submit PR, maybe it will pass now, but I’m not sure this is a good idea.
So I’m waiting for someone from Swarm team to clear out this situation.

[2016-03-01 13:56] wallnerryan commented on #1847
_nods_ thanks

[2016-03-01 14:10] gradywang opened #1911 "./test/integration/run.sh does not show the tests results."
When I following the steps in CONTRIBUTING.md to run the integration tests with command `./test/integration/run.sh` after changing some source code, the results show as following:

[code]

Actually some tests execution failed，but it does not show the results and the detailed stacks. I will to enhance this doc to make it clearly. If some guys have some good suggestions, you can append them here.

[2016-03-01 15:01] garagatyi opened #1912 "Force pull of base image on build doesn't work with swarm"
I tried to set pull parameter of POST /build.
It works with plain docker, but it doesn't over swarm.
Here example that shows how to reproduce (take a look at logs - swarm doesn't pull):
$ ps ax | grep docker
 6856 ?        Sl     0:59 /usr/local/docker-distribution/bin/registry /usr/local/docker-distribution/config.yml
16718 ?        Ssl   25:30 /usr/bin/docker daemon --selinux-enabled=false -g /v

[2016-03-01 17:07] nishanttotla commented on #1879
Here are some good comments regarding the nopclient, from an issue I opened in `engine-api`: https://github.com/docker/engine-api/issues/117

For now, I'm going to create our own nopclient, but we could consider moving away from it in the future.

[2016-03-01 17:48] dongluochen commented on #1904
@wenchma Different OS has different configuration that you need to look into.

[2016-03-01 18:21] garagatyi commented on #1912
I don't know if this is useful but command that uses plain docker is logged as
`Mar 01 18:18:39 dev.box.com docker[16718]: time="2016-03-01T18:18:39.045324355Z" level=info msg="POST /v1.20/build?cgroupparent=&cpuperiod=0&cpuquota=0&cpusetcpus=&cpusetmems=&cpushares=0&dockerfile=Dockerfile&memory=0&memswap=0&pull=1&rm=1&t=&ulimits=null"`
whereas command through swarm is logged as
`Mar 01 18:19:43 d

[2016-03-01 18:31] garagatyi commented on #1912
Ok in accordance with [build in Docker API v1.15](https://docs.docker.com/engine/reference/api/docker_remote_api_v1.15/#build-an-image-from-dockerfile-via-stdin) there is no such parameter as pull.
Looks like swarm uses v1.15 client of docker https://github.com/docker/swarm/blob/master/Godeps/_workspace/src/github.com/samalba/dockerclient/dockerclient.go#L20
Is it possible to upgrade docker client

[2016-03-01 19:10] dongluochen commented on #1838
@Spritekin It think the `Image Not Found` issue is not related to your change to close event monitoring stream.

But I find that you cannot call `defer resp.Body.Close()` at
(https://github.com/samalba/dockerclient/blob/master/dockerclient.go#L505) because the response is a stream and will exist after this method is finished. The closing of this stream should be done when the events stream is clos

[2016-03-01 20:40] jpetazzo opened #1913 "Swarm crashes, then fails to restart (1.1.2; multiple networks; might be related to "error locating sandbox")"
What I did (approximately):
- I have a Compose application spanning multiple networks
- I scaled a service (on network A) to 100 instances
- I scaled a service (on network B) to 100 instances
- I have a load balancer between the two networks
- at first, I saw bursts of errors like the following:

[code]
- so I remove everything with `docker-compose down` and retried
- then Swarm stopped responsing

[2016-03-01 23:12] dongluochen commented on #1906
There are some issues with IPv6 address handling in swarm. I'll look into it.

[2016-03-01 23:30] jpetazzo opened #1914 "Race condition when allocating a port on all nodes of the cluster"
**What I do:**

5 nodes cluster running Swarm 1.1.2 (f947993) and Engine 1.10.2.

I reproduce the bug with Compose 1.6.2 and the following `docker-compose.yml`:

[code]

I do `docker-compose up -d` then `docker-compose scale www=5`.

(It has to match exactly the size of my cluster: 5 nodes → 5 containers.)

**What I expect:**

Each node starts one container, binding to port 8888.

**What I see ins

[2016-03-01 23:44] dongluochen opened #1915 "zookeeper fails to add nodes back in integration test"
In [Jenkins test](https://jenkins.dockerproject.org/job/Swarm-PRs%20%28engine%20master%29/2015/console) frequently zk fails to add nodes back at (https://github.com/docker/swarm/blob/master/test/integration/discovery/zk.bats#L90). 2 nodes are expected to register, but only 1 does.

[code]

[code]

[2016-03-01 23:48] vieux commented on #1914
@jpetazzo can you try with 1.1.3-rc1 (or -rc2 in a couple of hours?) we touched something that might help

[2016-03-01 23:56] Spritekin commented on #1838
Yes you are right... but it works even if I get an error message. The thing is stable.
Testing your latest commit right now. Hope it helps.

[2016-03-02 00:23] jpetazzo commented on #1914
@vieux got exactly the same problem with 1.1.3-rc1:

[code]

[2016-03-02 00:26] jpetazzo commented on #1914
And for what it's worth, the Swarm manager logs have this:

[code]

And `docker ps -a` confirms that two containers were scheduled on the same node:

[code]

[2016-03-02 03:02] Spritekin commented on #1838
Unfortunately, swarm crashed 1 hour after being started.
[code]

Full log attached.

[swarm.log.zip](https://github.com/docker/swarm/files/154027/swarm.log.zip)

[2016-03-02 04:52] Spritekin commented on #1895
I just noticed that both services can find the containers by id even if they don't list them all.

So, I just scaled my swarm service to 3 instances using marathon. WAY more stable. I can no longer detect a few bugs where a container reported as not existing. Also if one service crash then there are others to respond while it restarts.

Intentional or not, I really love they way it is working. I r

[2016-03-02 08:21] jpetazzo commented on #1827
Suggestion: use a label (e.g. com.docker.swarm.hidden) to trigger the visibility of the container, instead comparing the name.

[2016-03-02 09:33] jpetazzo commented on #1914
Note: this is way harder to reproduce in debug mode, but after many tries, it happened again. Here is the log of the primary manager.

[node1-swarm-agent-master.log.txt](https://github.com/docker/swarm/files/154419/node1-swarm-agent-master.log.txt)

[code]

[2016-03-02 09:44] jpetazzo commented on #1914
And I reproduced it with 1.1.3-rc2.

[node1-swarm-agent-master.log.txt](https://github.com/docker/swarm/files/154443/node1-swarm-agent-master.log.txt)

[code]

[2016-03-02 09:51] jpetazzo commented on #1810
This is still the case with 1.1.3-rc2.

- start highlander container with reschedule policy
- reboot the node on which the container was scheduled

Result: the container gets rescheduled two times but both instances fail to start.

[code]

After the node reboots and reintegrates the cluster:

[code]

[code]

Log is attached.

[node1-swarm-agent-master.log.txt](https://github.com/docker/swarm/files

[2016-03-02 09:54] jpetazzo commented on #1716
This is still the case with 1.1.3-rc2, by the way.

[2016-03-02 10:32] eric-basley commented on #1887
How to explain that this commande ( docker run -d --net=swarm -e constraint:node==rp3 -v /opt/timetrack:/config timetrack:0d133694cd4a) doesn't run neither on rp3 nor on rp4.

How to explain I can list, tag, push the image from both servers whereas I cannot run it ?

[2016-03-02 19:36] #1906 closed

[2016-03-02 21:48] dongluochen commented on #1838
@Spritekin The crash you see is not introduced by #1907. It's an issue on mesos handling of offer. It looks like the engine is not initialized in `addOffer`, but `removeOffer` would try to `Disconnect` and cause the crash.

cc @jimenez .

[2016-03-03 01:25] Spritekin commented on #1838
But if thats the case, how did it run for 1 hour before crashing? Surely we would have seen this problem before because I release offers every 15s (offer timeout).

[2016-03-03 02:26] nishanttotla opened #1919 "Binpack scheduling test failing often"
I'm not sure why this is happening. It's always happening locally and sometimes in the CI, we should monitor it.
[code]
Printed output, and seems like containers were scheduled in different nodes, unlike what's expected.
[code]

[2016-03-03 02:42] EvanMcClure commented on #1716
:+1:

I believe this bug is _not_ related to #1700.

[2016-03-03 02:45] nishanttotla commented on #1716
I think we might have a better chance of supporting this once #1879 is through. Hopefully that can happen by the 1.2 release!

[2016-03-03 02:45] nishanttotla commented on #1849
We'll be able to filter volumes once #1879 is through. This is scheduled for the 1.2 release.

[2016-03-03 04:51] Spritekin opened #1920 "Swarm crash may bring down mesos master"
Using:
swarm 1.1.3-rc1
CoreOS 899.9
Mesos 0.27.1
Marathon 0.15.3

When swarm is stopped/restarted it may crash the mesos-master. It doesn't happens always but frequently enough to be a pain.

If for some reason the swarm service fails, marathon will try and restart the service. When this happens mesos may crash. I would say it happens around 50% of the times.

This looks like a swarm/mesos problem