[2015-04-03 00:11] abronan commented on #564
@mgoelzer Good catch!

Of course feel free to submit a PR, we'll be there to test and review :)

[2015-04-03 00:22] abronan commented on #563
Hi @phuna,

Could you please give us the log output on the Manager? It seems that you probably created the agent VMs with the same hostname.

[2015-04-03 00:30] vieux commented on #447
Closed by #478

[2015-04-03 00:30] #447 closed

[2015-04-03 01:12] vieux commented on #562
the --addr in join should be docker addr, not the manager and each machine is supposed to do it's own join:

Assuming docker listen on *2375*:
On **137** I ran docker run -d swarm:0.2.0-rc1 join --addr=xxx.xxx.xxx.**137**:2375 token://af88de735316ff60e61db70e5d8c5e0f

And on **138** I ran docker run -d swarm:0.2.0-rc1 join --addr=xxx.xxx.xxx.**138**:2375 token://af88de735316ff60e61db70e5d8c5e0f

T

[2015-04-03 02:55] jimmyxian opened #568 "Proposal: Add a Retry Filter"
### Proposal: Retry Filter
When we create a container, if fails on a selected node(such as pull image failed...), then the create task will fail. I think that is not good, the cluster should try another node to do the create task.So I propose to have Retry Filter to do this.

### Implement steps:
* (1) Add two interfaces(IsTried() and SetTry(tried bool)) in Node interface(node.go). This two interf

[2015-04-03 03:02] mgoelzer commented on #558
Hi @snrism, I agree with you on making it an unsigned int.  It might also be a good idea to require it to be strictly >0, because currently 0 is allowed and I'm not sure if that's a bug or a real use case.

[2015-04-03 06:04] snrism commented on #558
@mgoelzer Indeed. I will open a pull request and see what folks think about it.

[2015-04-03 07:39] janeczku commented on #523
Haha, i just wondered about this too and Google pointed me here.

[2015-04-03 07:44] ashish235 commented on #557
I think the issue was because swarm was trying to pull the images from github repo hence it was taking a longer time even though I had those images on all my docker nodes. However when I tried to pull an image from a local repo, it worked. Not sure but maybe this is a possible reason.

@abronan, yes my info command was working.

[2015-04-03 12:53] elferink commented on #560
I think we encountered the same problem, for us the problem happend when getting UsedMemory as we don't use the CpuShares.
We also use swarm on a CentOS 7 server, our swarm exists of CoreOS clients.

* CentOS 7 (swarm server)
* CoreOS stable (607.0.0) (swarm clients)
* Docker version 1.5.0, build a8a31ef-dirty
* Swarm version 9f8ba511

[code]

[2015-04-03 16:01] phuna commented on #563
Hi @abronan,
here's the log from manager:
[code]

[2015-04-03 16:47] qkslvrwolf commented on #562
That did it, thank you.

[2015-04-03 17:04] #562 closed

[2015-04-03 18:19] jangelfdez opened #569 "Token Discovery Service API Differences between documentation and reality"
Hi!

I'm playing with the Token discovery service API following the API defined here: https://github.com/docker/swarm/blob/master/discovery/token/README.md

* Create a new cluster: OK
* Add new nodes to a cluster: OK
* List nodes in a cluster:

Expected:  ["<ip:port1>", "<ip:port2>"]
Received:
[
"------WebKitFormBoundaryFHknzaNRPP4Fz8MW\ \ Content-Disposition: form-data; name=\"data\"\ \ \ \ ip.:p

[2015-04-03 18:21] abronan commented on #563
@phuna You duplicated the VM right? :D The problem is that docker generates a single ID when you install the daemon. If you duplicate the VM you will end up with two different hosts and their own IP address but with a duplicate ID from docker that swarm uses. You should reinstall the docker daemon on the second node :)

[2015-04-03 18:22] vieux commented on #569
@jangelfdez Hi we are aware of the delete issue we are going to fix it soon.

Regarding the `List nodes in a cluster` it's probably an error from you, because `swarm list` is using it and it works.

[2015-04-03 18:43] vieux commented on #569
@jangelfdez to add a node you just need <ip>:<port> in the post body. you shouldn't use a <data> key with <ip>:<port> value

[2015-04-03 18:45] vieux commented on #568
I can understand the need, but I don't think retry should be a `filter` it's not really filtering.

/cc @abronan @aluzzardi

[2015-04-03 18:50] abronan commented on #568
True, I don't think it belongs to the filtering part even though this can be useful.

[2015-04-03 18:55] jangelfdez commented on #569
Hi Vieux,

calling it from different tools and computers produces the same output for me:

*Web browser (Chrome, IE):
[code]

* PowerShell:
[code]

* Curl & wget
[code]

Should it be normal? Running from the same computers a Swarm List, I get also the correct values on the screen.

[2015-04-03 18:59] jangelfdez commented on #569
@vieux thanks, after reading in the documentation
[code]
i thought it was a key=value pair. Trying with the data only in the body works OK ;)

[2015-04-03 19:02] vieux commented on #569
@jangelfdez feel free to do a PR on the documentation if you have a better way to explain it.

[2015-04-03 22:06] aluzzardi commented on #568
Thanks @jimmyxian

A few comments on the proposed implementation:

* As Victor mentioned, this doesn't belong to filters
* The problem with adding that boolean to Node is that it will break parallel scheduling since Node objects are the same. The alternative would be to either use a separate structure for the scheduler (filled from the Nodes, but the scheduler can fiddle around with them), or simp

[2015-04-03 23:05] abronan commented on #507
I'll wait a little bit before opening a PR but you can take a look at a first PoC in: https://github.com/abronan/swarm/tree/store_changes

[2015-04-03 23:07] aluzzardi commented on #564
Fixed by https://github.com/docker/swarm/pull/567

[2015-04-03 23:07] #564 closed

[2015-04-03 23:26] aluzzardi commented on #560
Thanks @evoevodin and @elferink.

This is a rare race condition that happens if we run a `docker info` right after we detect a new container **before** we get a chance to do an inspect - the crash window is in the order of a few milliseconds.

[2015-04-04 00:03] #560 closed

[2015-04-04 00:38] phuna commented on #563
@abronan : Yes, you're right I duplicated it :) I'll reinstall it now. Thank you for help :)

[2015-04-04 02:05] phuna commented on #563
For those who finding solution like me:
I tried to remove & install again lxc-docker but still does not help as ID stays the same. I need to remove ```/etc/docker/key.json``` per answer here https://github.com/docker/swarm/issues/362, then ```sudo docker restart```

[2015-04-04 11:13] jimmyxian commented on #568
Thanks @vieux  @abronan  @aluzzardi .
I got it...
* First: Not a filter
* Second: Break the parallel scheduling
* Third: Not have a clear way to define failed

I will rethink about it....   :)

[2015-04-04 12:45] conradkleinespel commented on #469
I'm getting this error too, now. @vieux or @gideonairex , any idea if this is a problem on my end ? Thanks for any help / tip you can give :+1:

[2015-04-05 04:58] MrMMorris opened #576 "Help incorrectly shows ability to specify multiple consul IPs"
The help message for Swarm shows that you can specify multiple consul IPs (which would be nice): https://github.com/docker/swarm/blob/master/help.go#L21

However, it doesn't actually (yet):

`swarm version 0.2.0 (HEAD)`

[code]

Trying the command with each IP on it's own works.

Not sure if it was put there in anticipation of the feature, but it's a bit confusing that it's there but doesn't work.

[2015-04-05 14:46] sandric commented on #469
so what, is it fixed, should I take it from git master?

[2015-04-05 17:42] lyndaoleary opened #577 "pq: permission denied for relation clusters"
Hi, I am getting the following error when attempting to create a discovery token.
[code]
I've seen that this issue was raised before (#469), but it appears to be closed.

[2015-04-05 17:47] tombee commented on #577
Same issue here.

[2015-04-05 23:39] vanzhiganov commented on #577
I have this error message too in CentOS 6.6 x86_64

[2015-04-06 00:01] vanzhiganov commented on #577
Try execute command with `sudo`

[2015-04-06 00:26] vanzhiganov commented on #577
Try to execute command with `sudo`

[2015-04-06 00:27] vanzhiganov commented on #469
Try to execute command with `sudo`

[2015-04-06 02:34] phagunbaya opened #578 "Couldn't get swarm manager connect with swarm agents"
I'm running 2 nodes (centOS 7):

1. dev-swarm-01 (swarm manager)
Client version: 1.5.0-dev
Client API version: 1.18
Go version (client): go1.3.3
Git commit (client): fc0329b/1.5.0
OS/Arch (client): linux/amd64
Server version: 1.5.0-dev
Server API version: 1.18
Go version (server): go1.3.3
Git commit (server): fc0329b/1.5.0
OS/Arch (server): linux/amd64

2. dev-agent-01 (swarm agent)
Client version

[2015-04-06 04:04] abronan commented on #578
Hi @phagunbaya,

Did you run `docker -H tcp://0.0.0.0:2375 -d` on your agents as the documentation says? Just to make sure that the docker daemons running on agents are reachable over tcp.

[2015-04-06 07:16] chanwit commented on #559
+1

[2015-04-06 07:51] chanwit commented on #522
totally guessing but @technolo-g have you got any $http_proxy setting there?

[2015-04-06 07:53] chanwit commented on #498
@groob any progess about this? If not, would you mind if I take over this one?

[2015-04-06 08:37] tombee commented on #577
Looks like it's working again -- no need for `sudo`.

[code]

[2015-04-06 11:26] sourav82 opened #580 "Remove a cluster from docker swarm"
Is there any API/ workaround to remove a docker cluster from swarm (say, swarm remove token://<clusterId>) or de-register a specific node from a cluster (say swarm leave --addr=... token://...) ?

[2015-04-06 13:20] groob commented on #498
@chanwit go ahead, I ran out of steam.

[2015-04-06 13:42] chanwit commented on #498
Thanks @groob ! Review is very welcome.

[2015-04-06 14:32] phagunbaya commented on #578
@abronan : Thanks for the quick response. It's resolved now, there was some firewall issue. I just got confused with the API version in the log.

[2015-04-06 14:32] #578 closed

[2015-04-06 16:41] mgoelzer commented on #577
I am getting this error intermittently as well.  By the way, I don't think it's related to sudo or lack thereof:

[code]

[2015-04-06 18:04] vieux commented on #577
Hi guys, it's fixed (again) sorry about that.
It was a server side issue.

[2015-04-06 18:04] #577 closed

[2015-04-06 18:50] mgoelzer commented on #580
@sourav82, with etcd discovery, a node is deleted automatically if it doesn't check in periodically.  I don't think the (default) token discovery mechanism supports this.  You can delete the entire swarm by doing "curl -XDELETE https://discovery-stage.hub.docker.com/v1/clusters/<put token here...>" although that doesn't work for me because postgres on Docker Hub is having problems right now (proba

[2015-04-06 22:07] vieux commented on #558
@snrism I agree with @mgoelzer unsigned + > 0

[2015-04-06 22:47] snrism commented on #558
@vieux: thanks, I am working on it, will open a PR soon...

[2015-04-07 00:03] abronan commented on #576
@MrMMorris Yes this was mostly the doc being copied from etcd I guess but consul is not taking multiple IPs when initializing the client. An example of consul taking multiple IPs is in #583.

[2015-04-07 01:16] abronan commented on #563
@phuna Yes you should remove the key as well. I'll close the issue for now as it seems to be solved on your side :)

[2015-04-07 01:16] #563 closed

[2015-04-07 09:39] jimmyxian opened #585 "Idea of "docker load" api implementation"
I want to implement the 'docker load' api in swarm, the following steps is my idea to do this:

* (1) swarm cache the load-file(save in a temp file)\[api/api.go\]
* (2) call cluster.Load(temp_file_path)
	* Need to add a "func Load(file_path string)" interface in cluster[cluster/cluster.go]
* (3) In swarm cluster,  implement Load interface, send load request to every node[cluster/swarm/cluster.go]

[2015-04-07 17:28] vieux commented on #585
I think so, as we decided that `docker pull` pulls on every node, I think it's a good idea to have `docker load` load on every machine.

[2015-04-07 17:55] #559 closed

[2015-04-08 01:33] jimmyxian commented on #585
@vieux OK. I will do it

[2015-04-08 01:34] vieux commented on #452
Closed by #538

[2015-04-08 01:34] #452 closed

[2015-04-08 01:35] vieux commented on #454
Closed by #547

[2015-04-08 01:35] #454 closed

[2015-04-08 01:35] vieux commented on #453
Closed by #547

[2015-04-08 01:35] #453 closed

[2015-04-08 02:26] #460 closed

[2015-04-08 02:27] vieux commented on #437
@squillace can we close this ?

[2015-04-08 02:28] vieux commented on #484
@chanwit let's keep something simpler for now like https://github.com/docker/distribution/blob/master/MAINTAINERS or https://github.com/docker/machine/blob/master/MAINTAINERS

[2015-04-08 02:28] vieux commented on #436
I believe every issue is fixed.

[2015-04-08 02:28] #436 closed

[2015-04-08 02:29] vieux commented on #415
@128keaton can we close this ?

[2015-04-08 02:29] #408 closed

[2015-04-08 02:29] vieux commented on #401
@kevinsimper please tell us if it's still an issue.

[2015-04-08 02:29] #401 closed

[2015-04-08 02:30] vieux commented on #387
for now, we are still in beta and we don't want to vendor a bunch of code because it can change, let's revisit the issue when we will be out of beta.

[2015-04-08 02:30] #387 closed

[2015-04-08 02:32] vieux commented on #535
@aluzzardi @abronan any comment on this ?

[2015-04-08 05:21] technolo-g commented on #295
I'll close this until I have a more solid suggestion on how to handle it.

[2015-04-08 05:21] #295 closed

[2015-04-08 06:18] squillace commented on #437
My apologies. You bet!

[2015-04-08 08:38] jangelfdez commented on #569
Solved #570

[2015-04-08 08:38] #569 closed

[2015-04-08 09:32] frntn opened #589 "Regexp filtering limitation"
# What I do

I have 5 docker server in the pool of my swarm manager.
Two servers are started with the following label :
  * server1 : ̀`type=app`
  * server2 : `type=db`

I then want to start a container on any nodes with types `app` **or** `db` :

[code]

# What I get

I get an the following error on client side :
[code]

And this one on proxy side :
[code]

# What I expected

The [scheduler READ

[2015-04-08 10:35] bfirsh opened #590 "Documentation home page should point at GitHub, IRC, etc"
http://docs.docker.com/swarm/ is currently the landing page for Swarm. A few cases this page doesn't cater for:

- Somebody wants some help using Swarm, in which case we should point them at the mailing list or IRC channel
- Somebody wants to suggest features, report bugs or contribute code, in which case we should point them at GitHub

I think we should have links off to those things somewhere. @

[2015-04-08 10:43] garagatyi commented on #590
For IRC nice button can be provided (replace image)
[![Visit Swarm IRC channel](https://kiwiirc.com/buttons/irc.freenode.net/kiwiirc.png)](https://kiwiirc.com/client/irc.freenode.net/#swarm)

[2015-04-08 10:59] abronan opened #591 "Golint panic in travis build"
Trying to build #583 again and golint panics. (golint checks are passing locally using an older version of the tool)

See: https://travis-ci.org/docker/swarm/builds/57624740

[2015-04-08 11:32] chanwit commented on #484
+1

[2015-04-08 14:40] wallnerryan opened #592 "late-bound constraints"
Reading the docs, https://docs.docker.com/swarm/scheduler/filter/ constraints are added when the docker daemon is started.

Is there a way to add constraints after the engine in started? E.g. today I can do this by starting a container with a name that would be my constraint and then use affinity with the container name equal-to that name.

A use case for this may be if a a service is deployed to

[2015-04-08 15:39] snrism commented on #591
Yup, same issue in https://github.com/docker/swarm/pull/587 and https://github.com/docker/swarm/pull/588

[2015-04-08 16:05] aidanhs opened #593 "The documentation is unclear what will happen if you run different daemon versions"
To me, this suggests that swarm does not offer any guarantees about what will happen if you try and use daemons of different patch versions, which implies that all daemons must be upgraded in lockstep, which means I have to take down my cluster on every docker upgrade.

Can you clarify in the documentation what happens when you run multiple version of docker (>= 1.4.0)? Is it
a) "swarm has undefin

[2015-04-08 16:18] abronan commented on #591
This should be due to the latest version of golint (there was breaking changes 12 hours ago) as we do a `go get` and put the package in the `Godeps/_workspace` folder in the travis environment.

cc @aluzzardi @vieux

[2015-04-08 16:41] abronan commented on #591
We should probably manage **golint** with Godeps and update manually when we need to.

Thoughts?

[2015-04-08 17:00] abronan commented on #592
Hi @wallnerryan. No, you need to restart the engine in that case.

I you need a service to run on a specified set of nodes, why not using node constraints? (you don't need late-binding in that case)

[2015-04-08 17:20] wallnerryan commented on #592
@abronan I guess I could.. the thing is if I deploy a service after my initial docker engine is started up that say "gives a groups of nodes a specific roll in a cluster" as in node1-4 have a specific configuration to them, I would need something like a service discovery tool to let me know that those 4 nodes are now running such a service and are used for that role now, so reference them with nod

[2015-04-08 18:18] apexskier commented on #449
Starting the docker daemon with the -H flag solved this.

[2015-04-08 18:18] #449 closed

[2015-04-08 21:00] phemmer opened #595 "invalid character 'e' looking for beginning of value"
With current master, I'm getting the error `invalid character 'e' looking for beginning of value` when trying to perform several different operations on a container.

[code]

However when I operate against the docker host directly, it works fine:

[code]

versions:
[code]

[2015-04-08 21:11] vieux commented on #595
@phemmer my bad, the fix will be merged soon #596

[2015-04-08 21:12] #595 closed

[2015-04-08 21:30] vieux commented on #593
It is not entirely swarm related, the issue is the relationship between the docker client and docker daemon.
Uou cannot use a client newer than a daemon.

So, let's say you have a swarm cluster with 2 nodes, one with the daemon `1.4.0` and the other `1.5.0`

If you use docker client `1.4.0` -> no problem
If you use docker client `1.5.0` -> almost all operations will fail on the `1.4.0` node (same

[2015-04-08 21:46] smothiki opened #597 "Usecase for State.store in swarm"
I'm trying to implement handling  node fail-overs in swarm and figured out that A state of a container is stored in ```.swarm``` file as a key value pair {container : container state}. But swarm is not storing the state of a Node . it would be helpful to store a key value map of {Node : containerList} along with the {container : container state} and keep updating containerList . This helps for a f

[2015-04-08 21:48] vieux commented on #597
@abronan @aluzzardi

[2015-04-08 21:57] vieux commented on #591
Fixed by https://github.com/golang/lint/commit/3b3fdebcde972819016da7b8377e79651998f5fc :D

[2015-04-08 21:57] #591 closed

[2015-04-08 21:59] technolo-g commented on #522
Sorry guys, missed this.

@aluzzardi yes docker was reachable and I saw the tests creating containers and destroying them on the Docker host. Also the commands in the paste were run sequentially in the same terminal.

@chanwit where would that setting live?

[2015-04-08 22:08] aluzzardi commented on #597
Hey @smothiki - we are working on it (specifically @abronan)

See #507

[2015-04-08 22:08] #597 closed

[2015-04-08 22:14] aluzzardi opened #598 "Multi-tenancy: Leader Election"
Currently, only a single Swarm manager is allowed per cluster. This means that if it goes down, it becomes temporarily impossible to schedule new containers on the cluster. Existing containers will continue to operate as usual.

In order to get multi-tenancy, multiple masters should be allowed per cluster. Only one master at a time will be operational, the others will be in stand-by and perform a

[2015-04-08 22:18] aluzzardi commented on #529
Yes - See our roadmap https://github.com/docker/swarm/wiki/0.3.0-Milestone-Project-Page

And issue #598 for the details.

[2015-04-08 22:18] #529 closed

[2015-04-08 23:15] aluzzardi opened #599 "Container Rebalancing"
In case of node failure, containers should be rescheduled automatically by swarm.

Rebalancing means re-creating the container on another healthy node that fits the original constraints, affinities and requirements of such container.

* Only select containers should be re-scheduled. This strictly includes stateless containers with the go-ahead of the operator
  * Containers with volumes or any oth

[2015-04-08 23:18] aluzzardi opened #600 "Virtual Container IDs"
Re-scheduling containers (see #599) means they will change ID. This is unacceptable since it's the only link between the user and a container.

Swarm should create a **Virtual Swarm ID** for every container that maps to an actual **Physical ID** from the engine.

Only the **Virtual ID** is exposed to the user, and Swarm maintains a mapping between the two. A rescheduled container will have a diffe

[2015-04-08 23:27] aluzzardi opened #601 "Global Scheduling"
This feature would allow to schedule a container on every single node in the cluster.

A typical use case would be *system containers* (such as log collectors).

* Those containers must be scheduled on every **current node**.
* When **new nodes** join the cluster, global containers should be scheduled on them.
* Standard **constraints** apply as well. For instance, one could want to schedule a *ng

[2015-04-08 23:27] abronan commented on #599
Just a few thoughts:

What if the container uses a distributed block storage (Ceph, GlusterFS, etc.), should it be excluded from rebalancing or could we find a way to rebalance on a host with a mount-point to the same distributed volume?

Should we keep the latest version or the old one? What if the original scheduling of a container was using constraints (using a machine with an ssd storage) but

[2015-04-08 23:29] aluzzardi commented on #601
/cc @vieux @abronan @chanwit @gabrtv @smothiki

[2015-04-08 23:38] abronan commented on #601
Makes sense to me.

I lean toward multiple entries with a label specifying that this container is globally scheduled. This way you filter containers through labels using `docker ps` and issue a `docker rm` on any agent hosting the container.

[2015-04-08 23:51] aluzzardi opened #602 "Docker API Parity"
Umbrella issue for missing API endpoints.

* #585: `docker load`
* #455: `docker build`
* `docker save`

Also, in order for private images to work, we need auth support (#374).

[2015-04-09 01:47] jimmyxian commented on #601
Agree @abronan
When remove a container, first check whether the container is globally scheduled. If True, delete it on every node. Also, I think the containers that are globally scheduled should associate a unique group ID. From that we can find all globally scheduled containers

[2015-04-09 02:07] chanwit commented on #522
just `export http_proxy=` in the shell.
but I could be wrong as you have got some test case running.

[2015-04-09 02:49] jimmyxian commented on #602
@aluzzardi Also, "docker import " is not implement
I will focus on these APIs'implementation.

[2015-04-09 04:18] smothiki commented on #601
I agree with @abronan for multiple entries with ```--label=global```.
Some thoughts on  design
maintain Key value pair for global containers ```{container_name: list_nodes}``` .
If ```docker rm``` is issued through swarm API remove all containers and delete the key value pair.
If ```docker rm``` is issued from normal docker client remove the container in the node and update the list_nodes.

[2015-04-09 05:21] phemmer opened #606 "panic while deleting container"
I was deleting several hundred containers (`docker ps -aq | xargs docker rm -fv`) when I received the following panic.

[code]

[code]
*(swarm is current master, caa5fd0)*

[2015-04-09 05:34] smothiki commented on #600
@aluzzardi what is the Use case for containers getting re-scheduled other than node fail-over. Any ways Swarm is trying to enforce a unique naming scheme for containers across the cluster . May I know more about how Virtual ID is useful.

[2015-04-09 07:11] vieux commented on #602
@jimmyxian thanks can you start by adding a PR to update api/README.md to say it's not implemented ? Thanks

[2015-04-09 07:12] vieux commented on #602
@jimmyxian i spoke too fast :D

[2015-04-09 08:59] YanXiaoping opened #607 "Cannot create a swarm"
Hi,

[root@centos-minion ~]# docker run --rm swarm create
time="2015-04-09T08:43:28Z" level=fatal msg="Post https://discovery-stage.hub.docker.com/v1/clusters: dial tcp 162.242.195.83:443: i/o timeout"

Any idea what could be the problem?

[2015-04-09 09:41] aidanhs commented on #593
That makes sense. So would you be happy with a doc update along the lines of: "Different versions of the docker daemon may be used in your cluster, with the caveat that the docker client version must match the *lowest* version in your cluster."

[2015-04-09 09:45] jimmyxian commented on #607
Maybe you can't connect the Docker Hub token discovery service. You can try other Discovery backend, such as etcd,zookeeper or local file.
http://docs.docker.com/swarm/discovery/

[2015-04-09 17:46] huslage opened #608 "Swarm does not pass pull errors back to the client properly"
When doing a `docker run` of an image in a private repo that doesn't exist on any host in the cluster, we received an error: `invalid character 'v' looking for beginning of value`.

Doing a `docker pull` of the image directly on the host, we saw that the CA.pem for the registry had not been installed on the client machine.

Swarm should pass the error back to the client instead of trying to parse

[2015-04-09 18:28] vieux commented on #608
@huslage were you using master or 0.1.0 ?

[2015-04-09 18:31] huslage commented on #608
Whatever version is in swarm:latest on DockerHub.

On Thu, Apr 9, 2015 at 12:28 PM, Victor Vieux <notifications@github.com>
wrote:

--
Aaron Huslage
Solution Architect - Docker, Inc.
+1-919-600-1712

[2015-04-09 18:38] vieux commented on #608
@huslage Ok I'm pretty sure it's fixed on master already. I'll make sure of it.

[2015-04-09 20:57] aluzzardi commented on #607
ping @vieux ?

[2015-04-09 21:00] aluzzardi commented on #608
Could you try to reproduce on master?

[2015-04-10 00:45] aluzzardi commented on #600
This is work in progress, so feedback is very much welcome.

Yes, the only re-scheduling reason (for the foreseeable future) is node fail-over.

Some reasons why we would need this:
* **Centralized Container IDs**: Right now, each engine creates its own IDs. They might conflict with each other on different engines. Creating them in a central place guarantees uniqueness.
* **Consistent IDs**: When

[2015-04-10 13:58] chanwit commented on #504
@crosbymichael @vieux done. This issue can be now closed :)

[2015-04-10 15:01] abronan commented on #504
@chanwit :+1:

[2015-04-10 15:01] #504 closed

[2015-04-10 18:24] fredlf commented on #590
Closed by #604

[2015-04-10 18:26] #590 closed

[2015-04-10 19:11] #558 closed

[2015-04-10 20:42] aluzzardi opened #611 "Discovery: Handle TTL"
Currently, token discovery never expires and obsolete nodes are kept forever.

Discovery should filter nodes that didn't send heartbeats in past X hours.

[2015-04-10 20:50] aluzzardi commented on #593
ping @SvenDowideit @fredlf

[2015-04-10 20:51] aluzzardi commented on #589
ping @chanwit

[2015-04-10 20:53] aluzzardi commented on #568
Thanks @jimmyxian

Please re-open this issue or open a new one once you are ready to restart the conversation!

[2015-04-10 20:53] #568 closed

[2015-04-10 20:56] aluzzardi commented on #523
Please see #599 and #598

[2015-04-10 20:56] #523 closed

[2015-04-10 20:57] aluzzardi commented on #490
Please see #374

[2015-04-10 20:57] #490 closed

[2015-04-10 20:58] aluzzardi commented on #402
Thanks @sonchang

Will be addressed by #580

[2015-04-10 20:58] #402 closed

[2015-04-10 21:00] aluzzardi commented on #377
Thanks @jmmills !

This will be addressed by #598 in the next release.

[2015-04-10 21:00] #377 closed

[2015-04-10 21:01] aluzzardi commented on #372
Thanks @david-guenault

This will be addressed by #583

[2015-04-10 21:01] #372 closed

[2015-04-10 21:03] aluzzardi commented on #177
Thanks @vincentwoo

We are getting there, endpoint by endpoint!

The overall progress is tracked by #602

[2015-04-10 21:03] #177 closed

[2015-04-10 21:05] aluzzardi commented on #149
Hey @ykumar6

We addressed many of this issues since then in our new scheduler (balanced strategies, better filters, etc).

I guess this issue is very generic and it's going to be a constant focus for us to improve the scheduler.

If you want to suggest improvements, please open issues for specific areas.

Thanks!

[2015-04-10 21:05] #149 closed

[2015-04-10 21:06] aluzzardi commented on #144
This is being worked on with the clustering API. We are still missing the "plugin" part, but we are getting the extensible side.

Closing this in favor of #213 to track the underlying efforts.

[2015-04-10 21:06] #144 closed

[2015-04-10 21:08] abronan commented on #592
@wallnerryan I understand the use-case but unfortunately it belongs to the docker engine to support late-binding of labels (because we use the docker API and `docker info` to retrieve those labels). Feel free to open an issue on docker :) I'll close the issue for now but we might reconsider this in the future if the feature hits the engine.

[2015-04-10 21:08] #592 closed

[2015-04-10 21:51] abronan commented on #557
@ashish235 Do you still encounter issues running commands on Swarm? This is probably related to the registry you were trying to pull an image from as the `docker run` on swarm will not show you the progress of `docker pull`. Hence it appears to be blocked while it can be due to a very slow download speed instead (even if an hour seems to tell that it couldn't contact the registry somehow).

[2015-04-10 21:54] abronan commented on #425
@jpetazzo Just an FYI but I cannot reproduce anymore with `master`. Would be cool if you can confirm that the issue vanished or still persists on your setup :smile:

[2015-04-10 22:45] mgoelzer commented on #598
From the Raft paper (section 8):

"Clients of Raft send all of their requests to the leader. When a client first starts up, it connects to a randomly- chosen server. If the client’s first choice is not the leader, that server will reject the client’s request and supply in- formation about the most recent leader it has heard from."

I think you should consider following this behavior exactly instea

[2015-04-10 22:47] mgoelzer commented on #598
Btw, I think this is a great feature @aluzzardi.  Happy to help with coding and/or testing.

[2015-04-10 23:00] aluzzardi commented on #598
@mgoelzer Thanks.

I think that, since we will need a distributed data store to share state between nodes, we could on rely that to perform leader election.

Similar to discovery, we'd support multiple stores (etcd, consul, zookeeper, ...).

That way, we don't have to implement raft (or use go-raft): we only rely on basic election mechanism of the store (locking and such).

As for

This is a bit h

[2015-04-11 00:04] fredlf commented on #593
That sounds reasonable to me, but I think I would word it a little more strongly, and give an example for more clarity:

We don't recommend running different versions of the Docker daemon in your cluster, but if it is absolutely necessary, the version of the Docker client you are running must be the same as the lowest version of the Docker daemon you are running. For example, if you are running Do

[2015-04-11 00:39] vieux commented on #593
I think the sentence is reverse `all your clients` -> there is only one docker client, but multiple daemons.

[2015-04-11 03:44] mgoelzer commented on #598
Hi @aluzzardi,

I think you are saying that first we would build a distributed key value store into swarm, and then we would rely on that store to do leader election among swarm managers, right?  But the problem I see is, how do the nodes in the distributed key value store know which one of them has the authoritative copy of the store?  They need to agree on a leader, which means we'd need to impl

[2015-04-11 04:27] chanwit commented on #589
Ack. I'm fixing it.

[2015-04-11 13:44] mgoelzer commented on #507
@abronan, I tried your store-changes branch, but the consul-agent side container is not getting started succcessfully and goes into an infinite loop of restart-fail-restart.  The cause seems to be a "flag needs an argument: -join" error from Consul.

Here is what I am doing specifically.  I run swarm (compiled from your branch) like this:

[code]

Then in another terminal I see the Consul containe

[2015-04-11 18:46] abronan commented on #507
Hi @mgoelzer, actually I tried to add a few flags to Swarm to bootstrap the cluster between multiple Managers before switching branch. I haven't tested it yet because I'm moving the code externally and adding new backends... If you go back a few commits (right before adding those flags), this should work fine for a single Manager :)

[2015-04-11 18:50] abronan commented on #507
@mgoelzer Huh my bad I squashed those commits. So I'll try to see what's going on with those flags and make it work somehow if you want to test it :)

[2015-04-11 20:34] fredlf commented on #593
Ah, right. That always kind of confuses me. So...

We don't recommend running different versions of the Docker daemon in your cluster, but if it is absolutely necessary, the version of the Docker client you are running must be the same as the lowest version of the Docker daemon you are running. For example, if you are running Docker client 1.4.0, all daemons must also be 1.4.0 or lower.

[2015-04-12 00:07] aidanhs commented on #593
Well, the new sentence is incorrect (a lower docker daemon won't work). Perhaps turn the old sentence

into

[2015-04-12 14:42] chanwit commented on #557
@ashish235, like @abronan mentioned, `docker run` via Swarm will not show any progress.

With the current version of Swarm you better do:
`docker -H tcp://172.16.131.252:6000 pull nginx` first before `docker run`.

[2015-04-12 14:55] chanwit commented on #601
I'd love to go wtih the single entry approach.

We've found the problem of listing a large number of containers (and images) already on our 50-node cluster (via DockerUI). As we are expecting to have at least 200 nodes in the near future, Virtual IDs will be directly a benefit to us.

Aggregate the similar containers and maybe have a display like:
[code]
Then when `docker inspect swarm_vid/thousan

[2015-04-13 06:51] ashish235 commented on #557
@abronan and @chanwit thanks for the reply. Yes, it was the pull which was taking ages actually and since there was no progress shown, I was clueless what's happening. So to confirm this I created a local private repository and tried to the run the image from there it started within seconds.
I think a progress bar would be helpful here.

[2015-04-13 08:47] chanwit commented on #557
@ashish235 It's been reported in #336 since 0.1.0 :) and @vieux has been finding a proper way to accomplish it.

[2015-04-13 16:26] abronan commented on #557
@ashish235 Yes it would be really useful to have at least a progress bar and help diagnose network issues during the pull operation. But you can still fire the `pull` prior to `run` for now and it will show the actual progress of downloading the image. Feel free to comment on the issue reported by @chanwit :) I'm closing this one.

[2015-04-13 16:26] #557 closed

[2015-04-13 16:45] abronan commented on #601
@chanwit We should allow both for convenience. A single entry approach as a quick overview of the globally scheduled containers (`swarm list global`?) and the default multiple entry approach through `docker ps` and `--filter`. Having the multiple entry approach is mandatory if you want to diagnose which container failed amongst the 50 containers you were trying to schedule globally. We could do th

[2015-04-13 17:14] tnachen commented on #601
I think having both makes sense, as the client needs to be able to remove the global schedule as well as restart certain ones in the cluster. Just that I'm not sure then once we introduce "virtual" containers then we need to somehow translate all the docker client APIs targeting a single container to do special cases for it now. I'm not sure what should swarm return when docker inspect on that con

[2015-04-13 17:28] chanwit opened #615 "Test cases added but test coverage decreased"
At least 3 PRs at the moment, #614, #612 and #581 added unit and integration test cases to the code base. All of them are falsely reported that they decreased the test coverage without doing so.

[2015-04-13 17:30] abronan commented on #615
@chanwit We are looking into this, thanks for reporting :+1:

[2015-04-13 17:30] thaJeztah commented on #615
Perhaps coverall takes the code of the tests *themselves* as non-covered?

[2015-04-13 18:10] tnachen commented on #600
So does all the docker commands will try to find the ID in both docker names/ids and also the labels virtual IDs then? ie: docker stop virtualId1

[2015-04-13 18:36] vieux commented on #600
@tnachen yes, that's the plan. I also think that `docker run` should return the virtual ID, so you would use virtual ID all the time, and almost never actual container ID

[2015-04-13 18:53] tnachen commented on #600
cool, the user experience definitely becomes a bit interesting. I think we have to tell the user this is a virtual ID, since when docker ps is called users will get confused which one to look at.
And I'm curious what will we return with docker inspect (virtualID), seems like we can return all the container infos since it's an inhereit array. There is probably some things we don't want the user to

[2015-04-13 19:59] #589 closed

[2015-04-13 20:02] chanwit commented on #498
@abronan @aluzzardi This issue can be closed for now.

[2015-04-13 20:05] #498 closed

[2015-04-13 20:07] aluzzardi commented on #615
It's a problem with coveralls - it says "Coverage decreased (-XX%) to YY%", where YY is the current coverage. So there's a problem when computing XX, for some reason.

Let's ignore it for now.

[2015-04-13 20:13] aluzzardi commented on #502
A very good candidate for this is `cluster/swarm/cluster.go`

It's the 3rd largest file of Swarm yet the coverage is at 6%

[2015-04-13 22:53] yunspace commented on #336
I also came across this issue in a fresh 2 node cluster deployed to azure using docker machine. Tried to run rancher/server (505mb) and the process was still not finished after 7 hours.

By opening up another terminal I can see that swarm has been downloading various images including a 505mb image but none of them have names or tags associated which is quite odd.

I know my network is fine because

[2015-04-13 23:55] abronan commented on #507
@mgoelzer Pushed some changes and it should work now. It is still an experimentation on the automatic bootstrapping of a consul cluster so expect it to fail eventually.

#### Multiple Managers

For 3 machines running with IPs `192.168.42.[100-102]`

First launch the **initiator** (The first swarm manager) with:

[code]

Then launch the other two managers with:

[code]

It should create the Raft ba

[2015-04-14 15:44] abronan commented on #615
Seems to be solved, closing for now.

[2015-04-14 15:44] #615 closed

[2015-04-15 01:43] aanm opened #619 "Powerstrip fails against swarm"
I know this is too much experimental but it should work since docker-swarm has almost the same endpoints has docker

CONSOLE 1:
[code]

CONSOLE 2:
[code]

powerstrip-debug logs:
[code]

P.S. I make sure busybox was pulled in to the 2 nodes
More-info: https://github.com/ClusterHQ/powerstrip/issues/80

[2015-04-15 03:43] mgoelzer commented on #507
@abronan Thanks for fixing this.  I can confirm that it does work for me now, and consul comes up with no errors.  (I'm only trying Sinlge Manager mode right now for simplicity.)  I definitely want to play around with this more, but won't have time until this weekend.  I think what you're doing with the storage part is going to be really useful.

[2015-04-15 16:03] sunyc commented on #600
Docker use a UUID for a reason, but what's the point of  using a generated  ID in a swarm instance? the user should just be able to use a good name to define a "job" with a good name , that has a number of "tasks"  (which is actually containers ) running in the swarm cluster.

[2015-04-15 17:55] aluzzardi commented on #522
Are you running the integration tests on an engine using `devicemapper` as a graph driver?

It looks like there are problems running docker-in-docker instances with `devicemapper`, as reported in https://github.com/jpetazzo/dind/issues/19

[2015-04-15 18:18] abronan commented on #522
@technolo-g This seems to be indeed due to **devicemapper**, I just ran into the same issue with a Vagrant setup without aufs installed.

[2015-04-15 18:27] dpwspoon commented on #492
https://zapier.com/engineering/continuous-integration-jenkins-docker-github/

On Sun, Mar 22, 2015 at 6:40 PM, Jessie Frazelle <notifications@github.com>
wrote:

[2015-04-15 18:30] abronan opened #621 "Warning/Refuse to run integration tests if storage driver is devicemapper"
As of now there are issues running integration tests using `devicemapper` as the storage driver with `dind` on swarm.

We should add a warning message or refuse to run integration tests if docker uses `devicemapper`.

related to #522

[2015-04-15 22:47] abronan commented on #522
@technolo-g So your `docker info` shows that the local daemon uses `aufs` but it seems that your `dind` (docker in docker) images are choosing `devicemapper` instead..

If I run docker with `devicemapper` but the `aufs` module is loaded, `dind` will choose `aufs` by default and the tests will run fine. If I unload `aufs`, then `dind` will use `devicemapper` as the default storage driver and I run

[2015-04-16 00:05] snrism opened #625 "Get Node Info via API"
Is there a way to get the node info via API? I would like to get the "docker info" output of individual nodes in the cluster (this is required so that I can read the standard filters and user-defined labels to schedule the containers)? If yes, any pointer is appreciated. If this is an open issue, I am happy to send a PR.

Thanks,
Sriram

[2015-04-16 00:25] pireslaert commented on #607
I'm having a similar issue:
docker run --rm swarm create
time="2015-04-16T00:23:21Z" level=fatal msg="Post https://discovery-stage.hub.docker.com/v1/clusters: dial tcp: lookup discovery-stage.hub.docker.com: no such host"

wget https://discovery-stage.hub.docker.com/v1/clusters
--2015-04-16 10:24:41--  https://discovery-stage.hub.docker.com/v1/clusters
Resolving intproxy81.prod.srv.westpac.com.au.

[2015-04-16 00:43] pireslaert commented on #607
Also when I try with a local file:

docker run --rm swarm manage -H tcp://XX.XX.XX.XX:2375 file:///tmp/my_cluster
time="2015-04-16T00:39:43Z" level=fatal msg="open /tmp/my_cluster: no such file or directory"

$ cat /tmp/my_cluster
XX.XX.XX.XX:2375
yy.yy.yy.yy:2375

What am I doing wrong? I got the lastest swarm image and running docker:
docker version
Client version: 1.5.0
Client API version: 1.17

[2015-04-16 00:50] YanXiaoping commented on #607
Hi,

Is “/tmp/my_cluster” host directory? To be visible inside container you need to mount volume?

Br, Rip

From: ext pireslaert [mailto:notifications@github.com]
Sent: Thursday, April 16, 2015 8:44 AM
To: docker/swarm
Cc: Yan, Xiaoping (Nokia - CN/Hangzhou)
Subject: Re: [swarm] Cannot create a swarm (#607)

Also when I try with a local file:

docker run --rm swarm manage -H tcp://XX.XX.XX.XX:237

[2015-04-16 01:05] abronan commented on #607
@pireslaert Indeed, as noted by @YanXiaoping, because you run the manager on a container, you need to mount the host directory as a data volume with:

[code]

For your issue with the token discovery service, this seems to be a proxy issue.. can you check if the discovery is reachable outside of this setup?

[2015-04-16 01:17] aluzzardi commented on #376
Replaced by specific integration test issues (such as #492).

[2015-04-16 01:17] #376 closed

[2015-04-16 01:18] aluzzardi commented on #492
We are missing the following integration tests (defined in `api.bats`):

[code]

Help very appreciated as it's a colossal amount of work!

[2015-04-16 02:03] pireslaert commented on #607
Hi, indeed! @YanXiaoping was right i had to pass as a volume the documentation needs updating: http://docs.docker.com/swarm/discovery/#using-a-static-file-describing-the-cluster

I do  get another error though:
time="2015-04-16T01:53:43Z" level=fatal msg="listen tcp XX.XX.XX.XX:2375: bind: cannot assign requested address"

But as for the discoveryservice I get a 404 anywhere I tried (outside the s

[2015-04-16 02:21] chanwit commented on #492
:)

[2015-04-16 02:28] chanwit commented on #492
Could we have a proper checklist? So works can be done individually and randomly.

[2015-04-16 04:25] aluzzardi commented on #492
Sure, @chanwit, sounds like a good idea!

[2015-04-16 06:10] jimmyxian commented on #492
@jfrazelle  @aluzzardi
I will be working on it.

[2015-04-16 06:26] HisenWu commented on #621
LGTM

[2015-04-16 06:28] jimmyxian opened #631 "Add support "docker import" api"
I will implement the "docker import" api by the following steps .
+ Submit a PR in docker client : Implement the import api
+ Submit a PR in swarm: Send pull request on every machine(same as Load and Pull)

any advice?

[2015-04-16 06:46] jimmyxian commented on #621
LGTM
I run integration tests in Centos7 using devicemapper, i fails sometime.
I will rebuild integration test environment in Ubuntu using aufs.

[2015-04-16 06:47] pireslaert commented on #607
I'm trying to run swarm on the simplest way:

 docker run --rm swarm manage -H tcp://XX.XX.XX.XX:2375 nodes://XX.XX.XX.XX:2375,YY.YY.YY.YY:2375
time="2015-04-16T06:39:22Z" level=info msg="Listening for HTTP" addr="XX.XX.XX.XX:2375" proto=tcp
time="2015-04-16T06:39:22Z" level=fatal msg="listen tcp XX.XX.XX.XX:2375: bind: cannot assign requested address"

both nodes are listing on the ports and can

[2015-04-16 07:18] pireslaert commented on #607
@abronan its strange that I'm getting this error:
level=fatal msg="Post https://discovery-stage.hub.docker.com/v1/clusters: dial tcp: lookup discovery-stage.hub.docker.com: no such host"

I am using a proxy and can pull images from the hub, but not the discovery service?

[2015-04-16 19:51] aluzzardi commented on #492
Thanks @jimmyxian

Do you want to work on all of them or just a few ones? I can check the boxes on the ones you'd like to tackle to mark them as assigned

[2015-04-16 23:16] vieux opened #632 "Improve docker build"
The docker build implementation (#603) is currently pretty basic.
It would be nice to rewrite it the same way load (#609) was implemented so we don't use the proxy anymore.

We should add a `Cluster.Build` method to the cluster interface and add build support in `dockerclient`

[2015-04-16 23:17] vieux commented on #632
@jimmyxian do you think you could look into this as you did the load ? Thanks

[2015-04-16 23:21] #455 closed

[2015-04-16 23:27] vieux opened #633 "Cluster driver specific flags"
We need each cluster driver to install specific flags in swarm and I have 2 questions:

CLI
----

* Should we do something simple like docker-machine did:
`swarm --debug manage --tlsverify 1.2.3.4:2375`
`swarm --debug manage --tlsverify -c mesos --mesos-user=root 1.2.3.4:5050`

 * Pros: easy to implement
 * Cons: `swarm manage --help` will display all the flags installed by all the drivers

* Or m

[2015-04-16 23:28] vieux commented on #633
@tnachen @jimenez @abronan @aluzzardi @ehazlett @chanwit @jimmyxian I'd love your feedback!

[2015-04-17 00:54] jimmyxian commented on #632
@vieux
Yes, i think so.
Swarm Api --> Cluster Api --> Engine Api   --> dockerclient Api
It's much better to do in this way. I will be working on it

[2015-04-17 01:09] jimmyxian commented on #492
@aluzzardi Yeah, i will work all of them. The following tests are not done, others are already done locally.
+ diff
+ events
+ wait
+ import (not support in Swarm)
+ login (do not have a good idea)
+ logout (do not have a good idea)

[2015-04-17 02:55] pireslaert commented on #607
I got the swarm manage working with local files as a discovery service, the problem was that my nodes were not listening on tcp 2375 ports and the container of the swarm manager:
docker run -p 2376:2375 --rm swarm manage -H tcp://X.X.X.X:2375 nodes://X.X.X.X:2375,Y.Y.Y.Y:2375
But I still can't connect to the discovery service though, not the end of the world as i can work with other discovery serv

[2015-04-17 06:29] jimmyxian commented on #633
I prefer the subcommands, because the help information is cleaner if we have a lot of cluster drivers.

[2015-04-17 09:42] YanXiaoping commented on #607
@abronan @pireslaert , any idea why I get this error:
docker run -p 2376:2375 --rm swarm manage -H tcp://X.X.X.X:2375 nodes://X.X.X.X:4243,Y.Y.Y.Y:4243
time="2015-04-17T09:33:42Z" level=info msg="Listening for HTTP" addr="X.X.X.X:2375" proto=tcp
time="2015-04-17T09:33:42Z" level=fatal msg="listen tcp X.X.X.X:2375: bind: cannot assign requested address"

[root@centos-minion ~]# ps aux| grep docker

[2015-04-17 12:56] ehazlett commented on #633
+1 for the subcommands.  we (machine) are most likely going to switch to them and in hindsight would have been better from the start.  once you get several drivers, the help text gets almost unusable without `grep` :)

[2015-04-17 18:27] abronan commented on #633
+1 for the subcommands and a cleaner help output.

[2015-04-17 18:41] snrism commented on #625
I guess, by gathering the label values from engine Info and appending this to the cluster info, we can get this information in "docker info" and via the /info api call. I will send a PR for this.

[2015-04-17 19:11] chanwit commented on #633
I am currently a docker-machine user with `grep`. So I prefer subcommands too :):)

[2015-04-17 19:19] tnachen commented on #633
subcommands is much more ideal as well, from a user standpoint and feels more flexible from a cluster impl to add help and commands.

[2015-04-17 23:28] vieux commented on #633
Awesome everyone seems to agree! @aluzzardi ?

[2015-04-18 00:06] arun-gupta opened #640 "Cannot run a container on Swarm node"
Created a Swarm cluster on Mac OS X as:

[code]

Running a container in this cluster as:

[code]

The container does not seem to be running on a Swarm node:

[code]

[2015-04-18 01:29] aluzzardi commented on #633
Any idea of what kind of cluster driver specific flags we'll have?

[2015-04-19 04:01] aluzzardi opened #644 "Integration tests for discovery"
The following services need integration tests:

* [x] consul
* [x] etcd
* [x] file
* [x] token
* [x] zookeeper

[2015-04-19 04:03] aluzzardi commented on #495
Aggregated in #644

[2015-04-19 04:03] #495 closed

[2015-04-19 04:03] aluzzardi commented on #493
Aggregated in #644

[2015-04-19 04:03] #493 closed

[2015-04-19 04:04] aluzzardi commented on #497
Aggregated in #492

[2015-04-19 04:04] #497 closed

[2015-04-19 05:46] etuttle commented on #374
I can't pull against an a private, authenticated registry either.

It looks like swam isn't passing along the `X-Registry-Auth` header to the `/images/create` endpoint.  I think that's all that has to happen to make this work.

[2015-04-19 06:27] noxiouz opened #645 "Engine: hell of synchronization"
I want to share an idea about `cluster.Engine`.

`cluster.Engine` contains properties (ID, IP, Cpus, etc). Only one goroutine has a write access to them `go e.refreshLoop()`. The goroutine does it without any synchronization. However the properites are read in many other places. So it's a kind of race.
Seems it's better to move these fields into a separate struct and add getters. The point is to u

[2015-04-20 03:01] darron opened #647 "Missing nodes in my swarm"
[code]
All nodes joined like this:
[code]
It appears to operate:
[code]
And I can speak to all nodes:
[code]
But only 1 node shows up in the swarm:
[code]

Any idea what I'm missing? oswarm3 was the last node that joined the swarm.

[2015-04-20 16:34] cultureulterior commented on #599
Speaking as someone investigating swarm, I don't see virtual container IDs necessary for this feature to be useful for me.

[2015-04-20 16:43] abronan commented on #599
@cultureulterior It is not **necessary** for sure, but it is way more convenient in a huge cluster. It is easier to reason about your system with a single ID for a container no matter how many failures occurs in the system and how many times you container moves from a host to another.

[2015-04-20 16:58] iamthemuffinman commented on #647
That's odd. Can you replace ```0.0.0.0``` with the IP of the machine that runs the swarm master when you run the following command and see what happens? ```docker -H tcp://<swarm-master-ip>:2375 info```

[2015-04-20 17:29] darron commented on #647
No problem - here's the output:

[code]

I am running the swarm manager on the same node - but as you can see it's on a different port.

[2015-04-20 17:37] abronan commented on #647
@darron Probably a duplicate of #563. Have you cloned your Swarm Agent VMs?

[2015-04-20 17:44] darron commented on #647
Ahh yes - that's exactly what I did - launched 3 of them - perfect. Thanks and sorry about that - didn't see that when I searched!

[2015-04-20 17:44] #647 closed

[2015-04-20 17:49] abronan commented on #647
@darron No worries, this is a tricky issue with duplicate docker daemons ID and this is not the first thing that comes to mind when searching for an answer :smile:

[2015-04-20 17:51] darron commented on #647
Yes - that also means a whole bunch of systems that I've previously created will have the same ID - will add that part to my build so that it generates a new one each time.

[2015-04-20 18:13] vieux commented on #633
@aluzzardi at least `--mesos-user` `--mesos-port` `--mesos-addr`

[2015-04-20 18:21] vieux commented on #607
@YanXiaoping you are running the manager in a container, when you use `-H tcp://X.X.X.X:2375` I'm guessing you are using an IP from the machine, which is not available inside the container, what you should do it bind to 0.0.0.0 inside the container and specify your address when you bind in docker. IT would look like :+1:

[code]

Regarding the `--rm` it is to remove the container when it exits. Us

[2015-04-21 01:32] denverdino commented on #601
+1  @abronan

I like the idea for using label to specifying and filtering the containers.

[2015-04-21 01:44] YanXiaoping commented on #607
Thank you @vieux, it works
There is one syntax error in this command:
docker run -p 2376:X.X.X.X:2375 -d swarm manage -H tcp://0.0.0.0:2375 nodes://X.X.X.X:4243,Y.Y.Y.Y:4243
It should be:
docker run -p X.X.X.X:2376:2375 -d swarm manage -H tcp://0.0.0.0:2375 nodes://X.X.X.X:4243,Y.Y.Y.Y:4243

[2015-04-21 01:44] #607 closed

[2015-04-21 06:31] HisenWu commented on #631
LGTM

[2015-04-21 17:37] qicongchen commented on #580
Hi @mgoelzer, I used etcd for discovery. When a node is down, its info is removed from etcd, but still exists in docker info (on swarm manager). Any way to fix this?Thanks!

[2015-04-21 18:50] vieux commented on #631
sound good to me as well

[2015-04-21 21:17] #625 closed

[2015-04-21 21:34] vieux commented on #633
Here is what I managed to do: `swarm manage <cluster> <flags> <discovery>`
Unfortunately there is no way to no break the current command line if we decide to use subcommands.

So it would give:

`swarm --debug manage swarm --tlsverify --swarm-overcommit 0.10 token://XXXXXXXXXXX`
`swarm --debug manage mesos --tlsverify --mesos-user=root zk://X.X.X.X/mesos`

Here are the helps:

[code]

[code]

[cod

[2015-04-21 21:43] abronan commented on #633
@vieux :+1:

[2015-04-21 21:50] abronan commented on #621
Considering that integration tests will run on CI (#651) using `aufs` by default, I'm closing the issue for now.

[2015-04-21 21:50] #621 closed

[2015-04-21 21:58] jimenez commented on #633
+1 :smile:

[2015-04-21 22:29] nathanleclaire commented on #633
+1 Subcommands.  I wouldn't worry too much about breaking backwards compat versus providing a good user experience long-term.  Like @ehazlett mentioned, we want to switch in that direction as well.

[2015-04-21 22:30] vieux commented on #633
ping @aluzzardi

[2015-04-21 22:33] nathanleclaire commented on #633
Definitely is worth considering whether having a (probably YAML) file might suit your needs better though.

[2015-04-21 23:06] aluzzardi commented on #633
Give me some time to think about it :)

Again, 80+% of Swarm users will use the swarm backend. I'm a little bummed that we have to drastically change the UX for the remaining 20-ish%

[2015-04-22 00:21] aluzzardi commented on #640
Could you try a `ps -a`? Perhaps the container crashed for some reason.

[2015-04-22 01:59] tnachen commented on #633
@vieux nice job!
@aluzzardi that might be true, but the UX doesn't seem to be that different using the swarm backend, as you could put a default choice for swarm so swarm manage or help just gives you the swarm backend help. What this allows is much simpler help interface not just for mesos but any other backend, and I think you definitely want to provide a nice experience using another backend fo

[2015-04-22 02:05] vieux commented on #633
@tnachen I tried to put swarm as default so `swarm manage` would work as before, but if we do that, there is no way to "guess" that you have to do `swarm manage mesos` to use mesos.

[2015-04-22 02:27] tnachen commented on #633
@vieux I see, I wonder if we have other options then? could we somehow handle special case for swarm manage <arg> where if arg is one of the backends?
Otherwise we might need to store the backend choice for swarm somewhere and infer that config then right?

[2015-04-22 05:06] arun-gupta commented on #640
@aluzzardi The container seem to be running as shown by the first entry in `docker ps` log. How do I make sure it runs on the Swarm cluster?

[2015-04-22 05:09] vieux commented on #633
@tnachen the other option is keeping the `-c` as we have in the mesos branch and have all the flags in the manage output like

[code]

[2015-04-22 08:08] tnachen commented on #633
I see, and that was the alternative option that you were proposing earlier...
Didn't realize subcommands forces you to choose a path and can't infer defaults.
I personally given that trade off I would stick with the flags as I think it's more important to have a simple way to launch things with defaults than remembering to type swarm again. What you guys think?

[2015-04-22 08:11] thefallentree opened #657 "Tight loop due to duplicated "/etc/docker/key.json""
Hi,

We ran into a issue where multiple docker machines have same /etc/docker/key,json , caused by cloning.

And swarm doesn't handle this issue well, it will use ~30% cpu keep looping containers from those machines, driving docker daemon cpu to 100%.

While it is a issue with configuration, but it would be nice to fix the tight loop.

Cheers.

[2015-04-22 09:35] aluzzardi commented on #640
Weird - can you try a `docker info`?

It should tell you whether you're talking to swarm or just a docker engine,

[2015-04-22 09:57] jimmyxian opened #658 "Bug: docker exec error in Integration test environment"
I writing integration test #637 #655, docker exec fails
## Integration Test Environment
[code]

## docker exec Error
I run aluzzardi/docker:1.5 container manually, and  run busybox in it. Then do docker exec.
[code]
### Analysis
+ The `ls` command exec ok because of `$?` is `0`. But return result error, is it a BUG?
+ The result of `ls` command send to 172.17.42.1, Why send to 172.17.42.1? because

[2015-04-22 12:48] arun-gupta commented on #640
`docker info` shows

[code]

`docker ps` shows

[code]

`ps -a` shows the same output.

[2015-04-22 17:54] arun-gupta commented on #640
Had to connect to the Swarm cluster as `eval "$(docker-machine env --swarm swarm-master)" ` and now the containers can run on the the cluster.

[2015-04-22 17:54] #640 closed

[2015-04-22 18:47] abronan opened #659 "Issue with refresh after tagging image"
There is actually an issue with refreshing images after tagging.

Easy way to reproduce:

[code]

Then:

[code]

If you wait a little bit you get the refreshed output with the tagged image:

[code]

Infos:

[code]

related to #654

[2015-04-22 21:29] aluzzardi commented on #659
/cc @jimmyxian

[2015-04-22 21:53] abronan commented on #659
My bad this issue was solved 2 days ago by #650 but I was testing against @jimmyxian branch on the integration test which wasn't rebased off of Master. Closing the issue as this is solved.

[2015-04-22 21:53] #659 closed

[2015-04-22 22:30] vieux commented on #658
ping @aluzzardi

[2015-04-23 00:51] arun-gupta opened #660 "Local version of Discovery Service"
Is there a way by which Swarm cluster can be created by pointing to a Discovery Service that is hosted inside the firewall? Basically, make Discovery Service as another Docker image that can run inside the firewall.

This can be useful for default installations where they don't have to (want to?) get into etcd, consul, or zookeper.

[2015-04-23 02:10] arun-gupta opened #661 "View the list of clusters that already exists"
`docker run swarm` allows to create a cluster. `list`, `manage`, `join` requires the token. A new command that would allow to show the list of tokens that are already available would be useful.

[2015-04-23 11:50] chenjie901 opened #664 "while swarm need to https://discovery-stage.hub.docker.com/v1/clusters when i create a token"
when i create token use docker run --rm swarm create i get time="2015-04-23T11:46:52Z" level=fatal msg="Post https://discovery-stage.hub.docker.com/v1/clusters: dial tcp 162.242.195.83:443: i/o timeout"

why swarm need to connect  https://discovery-stage.hub.docker.com/v1/clusters

[2015-04-23 12:56] arun-gupta commented on #640
This is now explained in a blog at: http://blog.arungupta.me/clustering-docker-swarm-techtip85/

[2015-04-23 16:03] bacongobbler commented on #664
The discovery token is generated from DockerHub and is hosted there: https://github.com/docker/swarm/tree/master/discovery#hosted-discovery-with-docker-hub

[2015-04-23 16:04] abronan commented on #664
Hi @chenjie901,

It needs to connect to the discovery service on the docker Hub to give you a unique token. This unique token will be used by the Swarm Agents to register on this service and by your Swarm Manager to access the list of all the docker daemons it needs to connect to (the agents).

[code]

For the error connecting to the discovery service, it's really difficult to determine why you ca

[2015-04-23 16:09] abronan commented on #640
@arun-gupta Always great to have blog posts explaining the interaction between docker tools, in this case `docker-machine` and `swarm`. Thanks!

[2015-04-24 01:17] jimmyxian commented on #664
hi @chenjie901 I guess you are in China. Maybe you can't connect the Docker Hub token discovery service. You can try other Discovery backend, such as etcd,zookeeper or local file.

The same issue as https://github.com/docker/swarm/issues/607, you can follow that.

[2015-04-24 01:28] arun-gupta opened #668 "Cluster is not preserved across machine restarts"
Created a Swarm cluster as explained at: http://blog.arungupta.me/clustering-docker-swarm-techtip85/

TL;DR
[code]

Now listing the cluster information using `docker info` shows the correct value:

[code]

Rebooted the machine, manually restarted the Docker Machines (node1, node2, master) and now `docker info` does not show the correct values:

[code]

The cluster state is not preserved across mac

[2015-04-24 01:35] vieux commented on #668
This is a machine issue I think, @ehazlett ?

[2015-04-24 05:40] chenjie901 commented on #664
@abronan yes i use a proxy, i solve this problem by pass HTTP_PROXY ENV to swarm ,an it works

[2015-04-24 05:40] #664 closed

[2015-04-24 09:01] rachit1arora commented on #475
Any updates on this ?
As of today In my 8 cpu machine , i can give values for  --cpu-shares from 1 to 8 , giving me an impression that value 1 means 1 CPU , But if i do

--cpu-shares=1 centos:centos6 /bin/bash
In run command i see following information in info command

  â Containers: 2
  â Reserved CPUs: 16384 / 8
  â Reserved Memory: 2 GiB / 16.03 GiB

This is very confusing and after this if tr

[2015-04-24 09:15] lewissw opened #670 "Problem Creating containers via API"
swarm instance logs the following when I try to create a container:

time="2015-04-24T09:09:36Z" level=info msg="HTTP request received" method=POST uri="/containers/create"
time="2015-04-24T09:09:36Z" level=error msg="HTTP error: json: cannot unmarshal string into Go value of type []string" status=400

I'm guessing my json is missing an element that swarm is looking for, but the API doc doesn't sa

[2015-04-24 12:19] calh commented on #475
16k Cpus?! Boy, and the kernel has a theoretical max of 4096. Maybe you
should try Windows 8 next. :-P

[2015-04-24 16:45] abronan commented on #670
Hi @lewissw,

Can you post more informations about your Swarm instances and Manager? Which version of swarm and docker are you using, etc?

[2015-04-24 17:00] AxelVoitier opened #671 "Spread scheduler not spreading evenly"
Hello,

I am seeing a situation where the spread scheduler seems to not evenly distribute the containers over all nodes.
Well, I guess it is spread, as I did not set it on the swarm manage command line and according to doc the default is spread.

I have this state as an initial and steady state:
[code]

The fact that the first node, docker01, has more containers running is normal, as it is the "ma

[2015-04-24 17:43] abronan commented on #671
Hi @AxelVoitier, Swarm `v0.1.0` only has `random` and `bin-packing` for strategies which explains the fact that your containers are not evenly distributed over Swarm agents. `Spread` was introduced as a default strategy in `v0.2.0`. Try again with the new version and tell us if you encounter any issue ;)

[2015-04-25 00:22] aluzzardi opened #672 "Cluster needs better unit testing."
In order to improve the code coverage of `Cluster`, we might need to create a mock Engine.

Related to #502

[2015-04-25 00:28] jimmyxian commented on #672
Great! I think creating a mock Engine help us a lot to write unit test in cluster

[2015-04-25 00:35] jimmyxian commented on #658
ping @aluzzardi @abronan

[2015-04-25 01:14] aluzzardi commented on #670
Could you also provide the JSON blog your application is passing to swarm so we may be able to reproduce the issue?

[2015-04-25 01:16] aluzzardi commented on #661
@arun-gupta this is right now not possible since we don't know who created what.

However, this feature could definitely be possible once we address #374

[2015-04-25 01:20] aluzzardi commented on #660
Some background: The API the discovery service is using is entirely [open](https://github.com/docker/swarm/blob/master/discovery/README.md) but the reason the implementation is not is because it has a dependency on storage (right now it's using our internal infrastructure storage) and so it wouldn't work anywhere else.

Even if we made it available, you would have to set up some kind of storage (c

[2015-04-25 01:21] aluzzardi commented on #658
Was able to reproduce.

This seems to be an issue of running docker in docker and is not related to swarm.

As a workaround, using `exec -i` works. We need to find the underlying cause.

[2015-04-25 01:34] aluzzardi commented on #671
@AxelVoitier Could you provide the output of `docker version`?

[2015-04-25 04:53] arun-gupta commented on #660
@aluzzardi This is very helpful. Can you share instructions on what it requires to setup storage to work with token-based service?

[2015-04-25 04:55] arun-gupta commented on #661
@aluzzardi Agreed about #374. Are tokens generated without authentication with Docker Hub?

[2015-04-27 06:52] lewissw commented on #670
As requested:
docker version
Client version: 1.4.1
Client API version: 1.16
Go version (client): go1.3.3
Git commit (client): 5bc2ff8/1.4.1
OS/Arch (client): linux/amd64
Server version: 1.4.1
Server API version: 1.16
Go version (server): go1.3.3
Git commit (server): 5bc2ff8/1.4.1
===========================
docker images
REPOSITORY          TAG                 IMAGE ID            CREATED

[2015-04-27 11:15] cusspvz opened #676 "Is anyone think about machine scaling on swarm?"
*Swarm* looks like an amazing tools for deploying apps into cloud, but I have a doubt about how it would integrate with cloud-providers autoscaling.

Is there any integration between *swarm* and *machine* for docker-based scaling? Or sort of for each kind of driver?

[2015-04-27 15:09] cultureulterior commented on #676
I'm looking at this myself- luckily, docker already integrates cpu usage, so once that is integrated into the swarm api, it should be possible to see how loaded each type of container is and spawn more.

[2015-04-27 15:56] abronan commented on #676
As @cultureulterior stated above, there is a way to scale above the initial Swarm agents by monitoring CPU and Memory usage on each node. This way when you reach a given threshold (let's say 80% of resources in use throughout the cluster), you create another Swarm agent to accommodate the demand and incoming future containers in the cluster.

The same way, you can tell: "Most of the time my cluste

[2015-04-27 16:37] vbichov opened #677 ""All" option for running a container on several hosts"
Hello,

I've been going through the swarm documentation, and something that I (personally) really missed, is an option to ask swarm to run a container on all hosts. (or all hosts that matches a filter)

For example, say you have a logging or monitoring agent container that you would like to run on all hosts, and you don't want to have to: run on host-1, run on host-2 etc...
you just want to: docke

[2015-04-27 16:48] abronan commented on #677
I guess that what you want refers to Global Scheduling (#601) and it is planned for 0.3.0. The issue being that we need to properly handle the output in `ps` (amongst other things). I'll close this issue as this is a duplicate, but feel free to comment on #601. Thanks!

[2015-04-27 16:48] #677 closed

[2015-04-27 17:06] abronan commented on #670
A missing element does not seem to be the cause here. Probably just a type mismatch between two elements (thus the unmarshalling exception from `string -> []string`). But I see nothing wrong with this JSON output (excluding the fact this is not valid JSON due to the use of single quotes).

@lewissw Does `docker run` fails with this exact same config? This would help if you can give us the complete

[2015-04-27 17:56] vieux commented on #661
I don't think it's related to #374, but to #438. With #438 token will be linked to a docker hub user.

[2015-04-27 18:39] cusspvz commented on #676
@abronan @cultureulterior thanks for your fast answers.

So, that means it is possible to implement auto-scaling feature running on `swarm-master`, right?

Should this be changed to a FR? Or it should be requested on *composer*?

[2015-04-28 09:02] lewissw commented on #670
Hi the JSON is missing the double quotes, as I have dumped it out from python script, but double quotes should be presented to API.

Yes I can start the container if I go directly to Docker remote API port 2375, but get the error above if accessing swarm on port 2222 (as per my swarm manage command line above).  I have simplified the api json playload to the following, but I still get the marshall

[2015-04-28 14:01] chanwit opened #682 "Could not run integration tests"
I think there's something prevents us to run integration tests recently. I cannot complete any test. Probably it's because the `dind` image is changed to `dockerswarm/docker`?

Most of time I suspect each script is hanging around `docker_swarm info` but not really sure.

/cc @aluzzardi

[2015-04-28 16:13] cultureulterior commented on #295
I'd like to bring this up again. In general, docker swarm is a service in consul parlance-
- When it goes away, it should be dropped from the list
- When the node it is hosted on goes away, it should be dropped from the list
- You generally want a list of nodes with a single service.

[2015-04-28 17:24] abronan commented on #682
@chanwit Tests are hanging on the last test of each file. Doing Ctrl-C shows the test succeeding. It seems to be related to `bats` somehow sstephenson/bats#80

cc/ @aluzzardi @vieux

[2015-04-28 18:18] vieux commented on #374
@etuttle pull will be fixed in #684

[2015-04-28 18:47] aluzzardi commented on #682
Tests hanging means we forgot to do a cleanup

[2015-04-29 00:42] chanwit commented on #682
Yes, that is what I am aware of.
But something's strange when upgrading to Docker 1.6.0 as I cannot do regression on existing integration tests any more.

I have no idea what's going on here on my machine.

[2015-04-29 00:46] abronan commented on #682
@chanwit Can you pull the latest changes (merged with #685) and try again to see if that fixes the issue?

[2015-04-30 17:39] snrism commented on #682
@abronan @aluzzardi after pulling the latest code, I am still facing some issues running the integration tests. The tests fail when `swarm manage` is called and it backtraces to this https://github.com/docker/swarm/blob/master/test/integration/helpers.bash#L28 call. I rebuilt the binary and ran `bats test/integration/<filename>` .

[2015-04-30 18:24] aluzzardi commented on #682
Could you provide the complete output?

[2015-04-30 18:44] snrism commented on #682
Here is the output when I run `port-filter.bats`

 ✗ docker should filter port in host mode correctly
   (from function `build_swarm' in file test/integration/helpers.bash, line 28,
    from function `swarm_manage' in file test/integration/helpers.bash, line 52,
    in test file test/integration/port-filter.bats, line 12)
     `swarm_manage' failed
   Containers: 0
   Images: 0
   Storage Driver:

[2015-04-30 18:59] aluzzardi commented on #682
What operating system are you using?

[2015-04-30 19:00] vlerenc opened #687 "Docker and Swarm ReST APIs differ"
Hello guys,

while we (@holgerkoser and me) were trying to make https://github.com/cf-platform-eng/docker-boshrelease work with Swarm instead of Docker (by swapping it under the hood), we noticed one compatibility issue between the two ReST APIs (Swarm vs. Docker):
* Docker returns "ApiVersion" (https://docs.docker.com/reference/api/docker_remote_api_v1.18/, GET /version)
* Swarm returns "APIVersi

[2015-04-30 19:02] aluzzardi commented on #682
Could you try changing `build_swarm` in `helpers.bash` with:

[code]

Basically $SWARM_BINARY is created with a `mktemp` (so the file exists but is not executable). On my system, `go` happily overwrites that file with the binary but on yours it doesn't.

This should fix it.

[2015-04-30 19:04] aluzzardi commented on #687
Thanks for reporting this!

@vieux: Care to take a look? I'm worried this will break our golinting :/

[2015-04-30 20:18] snrism commented on #682
@aluzzardi that works. Will you be able to push that change to master or do you want me to add that as part of the dependency.bats pull request?

[2015-04-30 20:28] aluzzardi commented on #682
Sure

[2015-04-30 21:32] #682 closed

[2015-05-01 00:27] aluzzardi opened #689 "Issues with docker exec error handling"
On Docker:
[code]

On Swarm:
[code]

We are probably not checking the HTTP error code somewhere

[2015-05-01 00:28] aluzzardi commented on #689
/cc @vieux

[2015-05-01 01:07] aluzzardi commented on #658
Hey @jimmyxian - actually it's still broken for me, even with -i.

Any luck on your side? The integration tests are failing on my box

[2015-05-01 02:51] snrism opened #692 "Need to check if network address in "swarm join" is a valid network interface"
Here is my setup:

host1: 192.168.111.78, host2: 192.168.111.79, host3: 192.168.111.80

If by mistake I join host2 with host1's IP into my swarm cluster with `swarm join --addr=192.168.111.78:2375 token://4432db3c4617b18655632bf091d9dfc7` (I used host1's address in host2), there is no error in host2 to indicate that I have started my `swarm join` with a wrong IP address nor there is any log in the

[2015-05-01 18:04] vieux opened #694 "Improve build"
A few days ago, `-c` and `-m` were added to `docker build`. We should use those to schedule builds.

[2015-05-01 23:26] vieux commented on #438
This is being worked on #695

[2015-05-02 02:26] aluzzardi opened #697 "Make use of pull@digest"
This new feature allows to pull a specific image based on a digest.

We should be relying on this feature when moving a container from a node to another, but also perhaps when doing a docker pull (resolve the latest digest and pull that specific version on every node).

[2015-05-02 03:02] aluzzardi opened #698 "Leverage CPU and Memory in docker build"
`docker build` now supports `-c-` and `-m`. We should leverage this when scheduling a build on the cluster.

[2015-05-02 03:04] aluzzardi commented on #698
Duplicate of #694

[2015-05-02 03:04] aluzzardi commented on #694
Should this be in 0.3.0 or 0.4.0? I just created a new milestone, feel free to move around.

[2015-05-02 03:04] #698 closed

[2015-05-02 03:13] aluzzardi opened #699 "Backward compatibility with labels"
Right now, Swarm will fail when using docker < 1.5.

We should revert to environment variables when using older versions.

[2015-05-02 03:14] aluzzardi commented on #699
@vieux we should discuss this together

[2015-05-02 04:49] aluzzardi commented on #633
We should probably use the same syntax docker uses for `--storage-opt`

[2015-05-02 22:01] arbedout commented on #692
Cool idea. This may be a problem if the interface that swarm manager can reach is not in the list of interfaces returned by `net.InterfaceAddrs()` though. (Certain NAT and HTTP proxy setups come to mind).

Could this be just a `log.Printf()` instead of a `log.Fatalf()`? That way the user is warned but os.Exit() won't be called, and they're free to continue if they know what they're doing.

[2015-05-03 01:18] thaJeztah commented on #699
Or, add a compatibility table to the README; e.g. Swarm 0.2 supports docker <= 1.5, Swarm 0.3 supports Docker 1.6 and up.

This may "gently" push users to update their software to recent versions, reducing the burden of having to support old clients. People that refuse to (of cannot) upgrade Docker, can sill download an older version of Swarm.

Note; I suggested the same approach for compose, wher

[2015-05-03 11:21] chanwit opened #701 "integration: docker attach through websocket failed"
The test case "docker attach through websocket" failed on my machine. How should I setup to let the test go through?

[code]

[2015-05-03 18:44] snrism commented on #692
@arbedout thanks

@aluzzardi any comments/feedback?

[2015-05-03 22:37] aluzzardi commented on #701
It failed on my machine as well.

/cc @jimmyxian

[2015-05-04 01:33] aluzzardi commented on #633
`--cluster mesos --cluster-opt foo=bar --cluster-opt bar=baz`

[2015-05-04 01:33] aluzzardi commented on #633
Or just regular `--mesos-*` flags

[2015-05-04 02:21] jimmyxian commented on #701
I test locally, it's OK. can you provide some information about your environment so that i can reproduce it.

[2015-05-04 02:26] aluzzardi commented on #701
Once we merge #696 we'll share the same environment so it'll be easier to reproduce.

[2015-05-04 02:30] jimmyxian commented on #701
@aluzzardi OK

[2015-05-04 06:59] aku163 opened #705 "Unable to use --link while starting container (through swarm)"
Hi,

I have two nodes out of which swarm manager is running on second node.
on
host1 :
    3 containers are running with name as name1, name2, name3
    docker deamon is running with port 2375
host2:
    docker deamon is running with port 2375
    swarm manager is running with port 2376

Issue:
=================================================
While starting container on host2 with below command,

[2015-05-04 09:07] jimmyxian commented on #705
@aku163 Can you provide the result of `docker -H tcp://host2:2376 info` and `docker -H tcp://host2:2376 ps`?

[2015-05-04 09:18] jimmyxian commented on #658
@aluzzardi Yeah, It works in my environment.

[2015-05-04 09:45] aku163 commented on #705
Below outputs are without --link option.

Containers: 8
Strategy: spread
Filters: affinity, health, constraint, port, dependency
Nodes: 2
 node1: host1:2375
  └ Containers: 4
  └ Reserved CPUs: 0 / 8
  └ Reserved Memory: 0 B / 14.99 GiB
 node2: host2:2375
  └ Containers: 4
  └ Reserved CPUs: 0 / 8
  └ Reserved Memory: 0 B / 14.99 GiB

==========
CONTAINER ID	IMAGE		COMMAND		CREATED	 STATUS	  PORTS

[2015-05-04 15:23] phlegx commented on #608
I can also pull just fine outside the swarm env from my local test registry, but I do get the same error as @huslage when pulling form inside the swarm env.

Using newest swarm version ```0.2.0```

[2015-05-04 20:40] vieux commented on #602
@jimmyxian can you please take a look at `docker save` as you did load, it should be quite similar ?

[2015-05-04 20:44] #658 closed

[2015-05-04 23:00] aluzzardi commented on #701
@jimmyxian

Can you try with:

`test/integration/run.sh api.bats`

[2015-05-05 00:56] jimmyxian commented on #602
@vieux OK, i will be working on it. :)

[2015-05-05 01:18] jimmyxian commented on #701
@aluzzardi OK, i will try it

[2015-05-05 02:45] vieux commented on #608
@phlegx what do you mean by `swarm env` ? Thanks

[2015-05-05 03:36] aluzzardi opened #714 "containers not refreshed after docker wait"
If you run `docker wait` immediately followed by `docker ps -l`, you will still see the container as running.

Maybe we should force a refresh before having `wait` return.

Thoughts?

[2015-05-05 03:38] aluzzardi opened #715 "Integration tests for image affinity is flaky"
Sometime it works, sometime it fails.

[2015-05-05 05:25] chanwit commented on #676
I've just done 100-node scaling using `compose` via `swarm`. Although it's not auto-scaling, but I think `compose` would be a good place for this feature?

Anyway, with Global scheduling #601, `swarm` will have an autoscaling-like feature anyway.

[2015-05-05 05:25] aluzzardi commented on #644
Hey @chanwit, if by any chance you get bored, do you think you could tackle `consul`?

Similar to `zookeeper`, there is an image ready for consul: https://github.com/progrium/docker-consul

No pressure, we'll do it eventually :)

[2015-05-05 05:30] chanwit commented on #644
@aluzzardi no problem. I'll do it, but it would take sometime anyway.

[2015-05-05 06:00] aluzzardi opened #717 "docker inspect regression with docker master"
`127.0.0.1:2375` is a Swarm manager.

With a docker 1.6.0 CLI:
[code]

With a docker 1.7.0-dev (master) CLI:
[code]

docker version:
[code]

[2015-05-05 06:01] aluzzardi commented on #717
@vieux Care to take a look? I can help you with that

[2015-05-05 06:38] snrism commented on #644
@aluzzardi @chanwit I was working on it. Let me try to finish it in next few days and open a PR. If I am unable to get it done, will drop in a note soon.

[2015-05-05 06:43] chanwit commented on #644
@snrism great! let me know if you've got the PR up.

[2015-05-05 07:03] phlegx commented on #608
@vieux  I meant by setting the environment (env) like this:  ```eval $(docker-machine env --swarm swarm-master)```

best
m

[2015-05-05 10:56] phlegx commented on #608
I just tried with the master version ```0.3.0 (HEAD)``` but still the error seems to appear:

[code]

[2015-05-05 11:07] jimmyxian commented on #714
@aluzzardi Agree

[2015-05-05 12:18] jimmyxian commented on #701
I got it.
If the image jimmyxian/cenos7-wssh is not in local, the output of `run docker run --rm --net=host jimmyxian/centos7-wssh wssh $URL` will be as the following. It contains not only `Session Open Session Closed` but also some other information

[code]

[2015-05-05 14:25] phlegx commented on #608
I think this has to do something with SSL. My local registry server is running on port 5000 and not SSL and it seems that within the clustering environment this cannot be handled. My remote registry server however runs on SSL and I can pull there just fine, also from the clustering environment.

[2015-05-05 16:54] smothiki opened #721 "swarm join with Etcd fails"
I have tried swarm join with the following  etcd protocol syntax only the last syntax worked.
[code]
[code]
[code]
[code]

172.17.8.100 is the leader host. Let me know if I'm missing any details while doing swarm join

[2015-05-05 17:17] abronan commented on #721
Hi @smothiki, I encountered this same issue last week using the etcd docker image (`coreos/etcd`), with the old and new version of etcd (`0.4.6` and `2.0`). The only way for me to test the discovery locally was to run a single local instance running the `etcd` binary directly as a standalone server. (Note: even running vagrant-etcd which setups a local cluster instance was returning the error)

So

[2015-05-05 17:22] abronan commented on #721
**Note**: I was not even running `swarm join` but just using `curl` against the etcd API.

[2015-05-05 17:52] ahmetalpbalkan opened #722 "Docs discrepancies (in-container & outside-container)"
Someone starting to read Swarm docs here http://docs.docker.com/swarm/ is seeing that `swarm` is executed within a container:

    docker run -d swarm join ...

and then when they go to the next page ("[Discovery service](https://docs.docker.com/swarm/discovery/)") examples suddenly start running `swarm` out of the container:

    swarm join ...

It's probably not a big deal for a person who knows

[2015-05-05 18:57] vieux commented on #608
and you can pull the same way with docker (without swarm) on both ? or do you need to specify some parameters ?

[2015-05-05 19:00] vieux commented on #717
I'll take care of it

[2015-05-05 19:01] vieux commented on #717
It was broken by https://github.com/docker/docker/pull/12406

[2015-05-05 19:43] phlegx commented on #608
@vieux yes I can pull just fine without swarm on both. No special params needed.

[2015-05-05 23:12] aluzzardi commented on #608
@vieux Could this be similar to #706?

[2015-05-06 01:24] vieux commented on #633
@aluzzardi good idea, it might look like

[code]

[code]

[code]

[2015-05-06 02:32] #715 closed

[2015-05-06 02:59] aluzzardi commented on #522
Hey @technolo-g, a lot has changed since.

You can:
- Try again exactly like you did
- Try also with `test/integration/run.sh`

[2015-05-06 03:10] aluzzardi commented on #705
Hi @aku163,

I'm unable to reproduce the issue.

Here's what I tried to run:

[code]

Could you try to run those exact same commands, see if they work?

[2015-05-06 03:12] aluzzardi commented on #692
@snrism so, I'm thinking of `swarm join` running as a container inside docker. The address provided to `--addr` won't be visible by the container (probably).

Thoughts?

[2015-05-06 07:06] vieux commented on #694
@aluzzardi thanks I moved it to 0.4.0, if we do it before it's even better.

[2015-05-06 07:27] phlegx commented on #608
I have to correct me here: Also with my own remote repository server (SSL with valid startssl cert) I run into trouble when pulling images. I frequently run into timeouts,  please see:

https://github.com/docker/compose/issues/1387

When running  pull then the pull for an image the image is pulled by all of the swarm nodes, one of them in the end times out. Not sure why all of the swarm nodes are

[2015-05-06 07:34] phlegx commented on #608
I have to correct me here: Also with my own remote repository server (SSL with valid startssl cert) I run into trouble when pulling images. I frequently run into timeouts,  please see:

https://github.com/docker/compose/issues/1387

When running  pull then the pull for an image the image is pulled by all of the swarm nodes, one of them in the end times out. Not sure why all of the swarm nodes are

[2015-05-06 09:50] aluzzardi opened #729 "rename: Container ID and Name collision"
I experienced this in our tests for `rename`, but it might be affecting other:

Here we looked up `c4` as a name and collided with a container whose id starts with c4.

[2015-05-06 15:37] snrism commented on #692
@aluzzardi good point. Starting swarm inside a container will not bring this issue, but running the swarm binary in the host certainly generated this problem when I bootstrapped my application. I guess I can adjust my setup to spinup swarm inside a container, but do you think it is worth documenting this issue somewhere so that folks start swarm in container as default? maybe some guidelines? I wi

[2015-05-06 16:50] vieux commented on #729
Oh nice, I'm glad you found the cause, I'll take care of this one.

[2015-05-06 17:14] smothiki commented on #721
Okay I'm running swarm on Core-OS latest stable release. I'll dig deep on the error

[2015-05-06 20:13] aku163 commented on #705
Hi @aluzzardi  not sure if these two nodes belong to same swarm cluster on different nodes.

I recently came to a new issue,

Existing issue as explained:
=========================================

Using swarm cluster i created two containers on different IPs say IP1, IP2

Usking --link prevents to start the container while putting reference to container on other node

New issue as explained:
====

[2015-05-06 22:34] snayakie opened #731 "Stop/start/restart commands for "swarm""
Similar to swarm commands such as "create" and "manage", it would make sense to be able to "stop", "start", "restart" and "delete" the cluster.

e.g.,:
[code]

Current options are:
[code]

[2015-05-07 01:01] snrism commented on #644
@chanwit @aluzzardi opened a PR for consul integration https://github.com/docker/swarm/pull/733. If this works, I can work on etcd next in the next few days as well.

[2015-05-07 03:01] aluzzardi opened #734 "support `ps --filter`"
ps filters are server side in docker:
https://github.com/docker/docker/blob/master/daemon/list.go#L97

We need to support them as well.

[2015-05-07 05:10] ahmetalpbalkan opened #735 "Proposal: API endpoint for listing nodes in cluster"
~~**Question:**~~ Is there a plan for building an API endpoint (specific to Swarm) that would list all the active/healthy nodes in the cluster? This could help a great deal in building tools/functionality on top of Swarm. I'm not sure if this is discussed before but it sounds like a having this would be nice-to-have yet harmless to me.

[2015-05-07 05:42] aluzzardi opened #736 "Container / ContainerInfo refactoring"
I'm wondering if having `Container` being a `dockerclient.Container` and `Container.Info` a `dockerclient.ContainerInfo` still makes sense.

Back then, the idea is that the two contained different informations. I believe however that now we have everything we need in `dockerclient.ContainerInfo` and no longer need the data in `dockerclient.Container` since we can generate it from the former.

We u

[2015-05-07 05:47] aetherical opened #737 "Swarm discovery via static IP doesn't work when specifying -H or --host"
I have found that I cannot use the `--host` or `-H` with the swarm manager if I am specifying a set of IP addresses for my discovery.  It appears to start up properly, the logs say it is binding to the port, but netstat says otherwise. However, `-p XXXX:2375` works:

[code]

[2015-05-07 06:14] garagatyi commented on #735
Would it help?

https://docs.docker.com/swarm/

Once the manager is running, check your configuration by running docker info as follows:

`docker -H tcp://<manager_ip:manager_port> info`

`$ docker -H tcp://0.0.0.0:2375 info`
`Containers: 0`
`Nodes: 3 `
`agent-2: 172.31.40.102:2375`
` └ Containers: 0 `
`└ Reserved CPUs: 0 / 1 `
`└ Reserved Memory: 0 B / 514.5 MiB `
`agent-1: 172.31.40.101:2375 `
`

[2015-05-07 06:28] chanwit commented on #701
@jimmyxian @aluzzardi shall I close this one?

[2015-05-07 06:29] ahmetalpbalkan commented on #735
OK it looks like `/info` provides through some hacks (like pushing info down to `DriverStatus`) and thus making the output look like above. It didn't cross my mind that I could find this at `/info` endpoint.

[code]

It is not documented at https://docs.docker.com/swarm/API/#endpoints-which-behave-differently –it probably should be, because it's essentially behaving quite differently than any norm

[2015-05-07 06:34] jimmyxian commented on #701
@chanwit I think so :)

[2015-05-07 06:44] aluzzardi commented on #701
Fixed by #720

[2015-05-07 06:44] #701 closed

[2015-05-07 06:51] jimmyxian commented on #737
@aetherical
Because the container's net namespace is different from Host.
you can use `ip netns exec <container net namespace id> netstat -nap` to show the container listening ip-port.
Or you can run container with --net=host, and run `netstat -nap |grep 7890` on host

[2015-05-07 07:00] aetherical commented on #737
However, if I use token:// for the lookup it works as expected. I am not at my laptop right now, but will post results when I am.

On May 7, 2015 2:51:46 AM EDT, Xian Chaobo <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-05-07 07:24] garagatyi commented on #735
I agree that it's is not well parsable. Actually I had some issues with that because addition labels (I suppose not only labels) changes this output and I have to go though all items and search for Nodes entry.

+1 to add swarm specific API.

[2015-05-07 10:12] jimmyxian opened #740 "Bug: Image.Match() matching image using prefix influence some api"
### BUG reproduce
one manage: 127.0.0.1:2222
one node with busybox image:127.0.0.1:2375
* docker rmi API
[code]
We find that "bus image" and "not_exists image"  are not in node, but respond differently. Because the busybox'prefix is bus, in our swarm, will send the request the node with busybox.

* docker history API
[code]
Also respond differently

* docker save API
[code]
Also respond differentl

[2015-05-07 12:08] vbichov opened #741 "Port assignment during configuration"
Hello,

I'm attempting to install swarm on several machines using **Consul** for discovery.
I'm afraid that I've found the documentation for configuring the Swarm cluster to be incredibly unclear:

*$ swarm join --addr=node_ip:2375 consul://consul_addr/path*
what is the "node_ip" and what is the 2375 port? and can it be changed?
i suspect that it is the localhost - that is the host running the swa

[2015-05-07 17:32] chanwit opened #742 "integration: zookeeper random failing in janky"
I saw some random failing of the zookeeper test case at least 2 times in `janky'. Not sure if it's caused by non-existed zookeeper image locally on the CI?

Some time this test on `janky` is fine.
Tested newly `run.sh` locally on my machine is fine.

[2015-05-07 17:32] chanwit commented on #742
/cc @aluzzardi

[2015-05-07 17:38] chanwit commented on #742
if it's about port conflicts, is there any chance we can use this `freeport` utility?

https://github.com/phayes/freeport

[2015-05-07 18:29] vieux commented on #735
@ahmetalpbalkan no, we want to abstract nodes from the API, for example when using swarm with the mesos scheduler backend, there is no concept of nodes.

[2015-05-07 18:32] vieux commented on #692
@snrism I think @aluzzardi the good practice is the start the join in a container, that's the way docker-machine works today. As we don't want to force `--net host` I think it's better not to merge this PR/feature.

[2015-05-07 18:32] aluzzardi opened #743 "Proposal: docker build + docker create without image affinities"
Right now, in order to build in the cluster and run a container one must:

[code]

That's because `foo` ends up on one machine but the container using `foo` might end up on a different one since swarm has no idea that the image is local and cannot be pulled from the registry

How about this:

1/ Try a create. It fails with 404
2/ Try a pull. It fails with something like `image not found`
3/ Check

[2015-05-07 18:34] aluzzardi commented on #743
@vieux Thoughts?

[2015-05-07 18:59] snrism commented on #692
@vieux @aluzzardi: Agreed. Closed the PR. Thanks

[2015-05-07 19:02] #692 closed

[2015-05-07 19:15] snrism commented on #742
I did see this issue before as well. Same behavior seen in https://github.com/docker/swarm/pull/733

https://jenkins.dockerproject.com/job/Swarm-PRs/79/console

[2015-05-07 20:05] ahmetalpbalkan commented on #735
@vieux I see. Is that the case because the Mesos framework for Swarm would advertise the available resources (i.e. nodes) from Swarm to Mesos (instead of Mesos asking Swarm). If someone was building another sort of tool on top of Swarm, and they need list of nodes, is there any way they could get that?

I understand the concern that Swarm must abstract the nodes in "Docker Remote API", but how abo

[2015-05-07 21:52] vieux commented on #743
Great idea.

[2015-05-07 22:00] vieux commented on #742
I would use `docker run -P` and do a docker port to find it

[2015-05-07 22:05] aluzzardi commented on #742
I don't think it's port conflicts - I think this might be the same issue as seen in Consul.

My guess: zookeeper is not ready to serve requests.

[2015-05-07 22:37] #734 closed

[2015-05-07 23:24] #729 closed

[2015-05-08 00:14] aluzzardi opened #748 "Fix race conditions by improving the refresh management"
Right now we have a bunch of race conditions in container and image state.

For instance:
[code]

- `start` will proxy the start request to the node then return to the client.
- The engine will emit a `start` event, which will trigger a refresh by the Engine
- In between steps 1 and 2, if a client emits a `ps` at the right time, it will see `foo` as stopped even though it's running

To mitigate th

[2015-05-08 00:19] aluzzardi commented on #748
Hint: Look for `retry` and `docker wait` in integration tests to find the workarounds we implemented.

The hacks should be removed from integration when testing the proposed changes.

[2015-05-08 00:30] aluzzardi opened #749 "Get rid of RANDOMENGINE"

[2015-05-08 01:20] aluzzardi commented on #633
Yep!

Two things:

docker has `--storage-driver` and `--exec-driver`.

How about: `--cluster-driver` instead of `--cluster`?

It also makes the option less confusing.

Also, in docker, `storage-opt` currently works like:
[code]

Maybe we could have:
[code]

- It makes it obvious it's a `mesos` specific flag
- We **could** do error check enforcing `--cluster-driver mesos --cluster-opt swarm.overcom

[2015-05-08 02:57] jimmyxian commented on #740
ping @aluzzardi @vieux

[2015-05-08 08:48] electrical commented on #743
Sounds a very good solution for the problem i'm having now :-)

[2015-05-08 09:07] aluzzardi opened #752 "Document API behaviour"
Keeping track of things that should be documented.
- **pull**: pulls on every host currently part of the cluster
- **build**: builds on one node. To run/create, must use affinity or push
- **images**: duplicates for every node. supports filtering

[2015-05-08 09:08] aluzzardi commented on #752
/cc @vieux @abronan

We should edit this issue when we stumble upon things and sync up with documentation eventually, we have a bunch of hidden gems people are not even aware of.

[2015-05-08 10:28] electrical opened #753 "docker images listing"
Hi all,

At the moment with swarm when doing a `docker images` i get all the images form all the slaves which is nice but its not clear which image is living on which slave.
The `docker ps` command added the slave name to the listing, could we do something like the same with the images listing?

[2015-05-08 14:02] garagatyi commented on #752
+1
Would be nice to add info about retrieving list of nodes with /info

--
Alexander Garagatyi -- Developer -- Codenvy
8 мая 2015 г. 12:08 пользователь "Andrea Luzzardi" <notifications@github.com>
написал:

[2015-05-08 19:47] #602 closed

[2015-05-08 19:53] aluzzardi commented on #689
Fixed by @jimmyxian

[2015-05-08 19:53] #689 closed

[2015-05-08 19:56] aluzzardi commented on #585
Fixed by @jimmyxian

[2015-05-08 19:56] #585 closed

[2015-05-08 19:58] aluzzardi commented on #576
ping @abronan

[2015-05-08 20:00] abronan commented on #576
Help is now correct for consul and shows a single IP :)

[2015-05-08 20:00] #576 closed

[2015-05-08 20:00] aluzzardi commented on #485
Will be provided by https://github.com/docker/docker/issues/12931

[2015-05-09 02:14] aluzzardi commented on #522
Closing for now. Please re-open if it happens again.

[2015-05-09 02:14] #522 closed

[2015-05-09 02:15] aluzzardi commented on #492
I think we have covered everything we have on the API side.

@jimmyxian can we close this?

[2015-05-09 02:39] abronan commented on #671
I will close this for now, @AxelVoitier please feel free to comment here if you still have an issue, but I believe that you are using swarm `v0.1.0` :)

[2015-05-09 02:39] #671 closed

[2015-05-09 02:57] abronan commented on #580
Hi @qicongchen, this is related to #197 and the node removal feature. Actually the manager does not remove the node entry from its list according to the state of the discovery service. We plan to have it soon. I'll close this issue again but feel free to comment on the issue I linked :)

[2015-05-09 02:57] #580 closed

[2015-05-09 15:01] aetherical commented on #737
Ok, I figured out what I'd done.  <red-faced>I'd left out the `-p` mapping</red-faced>.  D'oh.

[2015-05-09 15:01] #737 closed

[2015-05-10 06:37] vbichov commented on #741
I'm closing this due to lack of response. (and since i did get it to work)
I would still advice to revise the documentation and make it - and the Swarm operational model - more clear.

[2015-05-10 12:31] vbichov opened #760 "Command line variable evaluation on Swarm host - escape for bash"
Hello,

When scheduling a container using Swarm, it evaluates stuff like: $(hostname) locally.
So, if your command has something like: docker run ... -h $(hostname) ...
it will result in an incorrect expression.

This is a bit of an issue, since the whole point is that you don't know in advance where your container will run.
Yet, some containers require such or similar evaluation in the docker com

[2015-05-10 13:42] vbichov opened #761 "Repull image on target host"
How can you repull an image on your target host, assuming you don't know what the target host will be?

[2015-05-10 14:23] vbichov opened #762 "Affinity filter crashing"
Running this command:

[code]

Getting:

[code]

**docker logs swarm**:

[code]

**docker info**:

[code]

[2015-05-11 00:23] jimmyxian commented on #492
@aluzzardi Yeah..

[2015-05-11 14:45] chanezon commented on #428
I tested this again, with a cluster provisioned with machine 0.2, and it works.
You can close this bug.
[code]

[2015-05-11 14:46] #428 closed

[2015-05-11 15:16] abronan commented on #731
Hi @snayakie, currently stopping a Swarm cluster is just a mean of stopping the Manager which communicates with remote docker daemons. If you mean stopping machines running a Swarm agent, then it should be the role of `docker machine` to do such thing.

For the `stop/start/restart`, it means that we need to control remote docker agents, but this is usually a thing that you do with `ansible` or `ch

[2015-05-11 21:29] aluzzardi commented on #492
:fireworks: :fireworks: :fireworks:

[2015-05-11 21:29] #492 closed

[2015-05-11 22:20] peebles opened #764 "Container labels are ignored"
When launching a container to a non-clustered docker host thru port 2376, I can pass a label which I can then later filter on with 'docker ps':

    $ docker run -d --label=roambee=true --name=busybox busybox sleep 120
    $ docker ps  --filter "label=roambee=true"
    CONTAINER ID        IMAGE               COMMAND             CREATED             STATUS              PORTS               NAMES

[2015-05-11 22:39] arun-gupta opened #765 "Deploying an application unable to use a previously used port"
Created a cluster as:

[code]

Deployed an application as:

[code]

Terminated the application by Ctrl+C. Trying to run the application again as:

```docker-recipes> docker run -p 8080:8080 -it arungupta/javaee7-hol```

It gives the error:

[code]

`docker ps -a` shows:

[code]

Port 8080 is available for use and so the application should start.

[2015-05-11 23:05] arun-gupta commented on #765
Starting the application as:

```docker run -p 8081:8080 -it arungupta/javaee7-hol```

starts up well.

[2015-05-12 00:17] vieux commented on #764
@peebles this was fixed with https://github.com/docker/swarm/pull/738 are you using 0.2.0 or master ?

[2015-05-12 00:49] peebles commented on #764
I am using "docker run --rm swarm create" (etc).  So which version are you talking about?
$ docker --version
Docker version 1.6.0, build 4749651
$ docker-machine --version
docker-machine version 0.2.0 (8b9eaf2)

[2015-05-12 00:53] peebles commented on #764
I see.  I can install "swarm" binary itself and use it.  And master has the fix.  Then how do I do things like

  eval $(docker-machine env --swarm cluster-master)
  docker ps

[2015-05-12 06:53] HackToday commented on #689
which release include such fix ? Could tell me how to find that ?
Thanks

[2015-05-12 07:01] jimmyxian commented on #689
06/16/2015 - Release 0.3
It has already fixed in master

[2015-05-12 07:50] HackToday opened #767 "docker swarm exec can not work while docker itself can work"
I setup one swarm cluster
and info as below

[code]

[code]

[code]

docker exec has nothing. for other command, ls, etc. same results

While docker itself, (in another machine)
[code]

[code]

It seems docker swarm not support exec well

[2015-05-12 09:08] jimmyxian commented on #767
@HackToday
I tested locally. It's OK
Stop the firewall, and try again. waiting for your reply :)

[2015-05-12 11:15] jimmyxian commented on #765
Was able to reproduce.
Two ways to solve:
* Manually remove the container that has already to use port 8080 even exited
* Fix port filter: Check container's state in `portAlreadyInUse` function. Add one condition `container.state != 'exited'`. I have done this locally, it works

ping @aluzzardi @vieux @abronan , Any thoughts?

[2015-05-12 12:52] chanwit commented on #762
@vbichov have you got some typo? should it be `docker run` instead of `swarm run` ?

[2015-05-12 12:58] chanwit commented on #765
@jimmyxian we've been discussing about this in #273 as there will be a race.
As you mentioned, the workaround is to remove the container before starting a new one.
But I think checking the container's state would be feasible too. /cc @aluzzardi

[2015-05-12 13:01] vbichov commented on #762
@chanwit No, this is not a typo. This an alias for "docker -H tcp://swarm-host:swarm-ip"

[2015-05-12 13:02] chanwit commented on #762
@vbichov OK. I got it.

[2015-05-12 13:03] chanwit commented on #762
@vbichov which version of `swarm` you're using?

[2015-05-12 20:08] peebles commented on #764
Cool, it works with master.  I git-cloned, built the image with Dockerfile
and used that image when launching the swarm nodes and master.  ps
filtering appears to work fine now.
a

On Mon, May 11, 2015 at 5:18 PM, Victor Vieux <notifications@github.com>
wrote:

[2015-05-12 22:26] arun-gupta opened #771 "Admin only Swarm master"
Running three containers on a three host cluster, with `spread` strategy, shows the following output:

[code]

A container is started one each on master and two other nodes. It would be beneficial where Swarm master can be made purely admin-only, where no containers are deployed on it.

[2015-05-12 22:44] arun-gupta opened #773 "Access containers running on a Docker host in a host-independent way"
Started a MySQL server and WildFly application server on Swarm cluster. The default strategy is to spread them across different hosts. In order to access the MySQL server an application deployed on WildFly, the exact IP address of Docker host where MySQL server is running, and the forwarded port need to be passed as environment variable. This is brittle because MySQL server may get killed, and lik

[2015-05-13 00:52] vieux commented on #633
I opened a PR with @aluzzardi suggestion #633

It's very simple on purpose, when might refactor the code later if need.

[2015-05-13 00:52] vieux commented on #633
I opened a PR with @aluzzardi suggestion #774

It's very simple on purpose, when might refactor the code later if need.

[2015-05-13 02:01] ghost opened #775 "Cluster Individual Node Info"
Running `docker info` against the swarm master prints a list of nodes comprising the cluster but currently there is no convenient way to be able to print the info of a select node as if the client is pointed at it without having to manually point to each node. As in from

[code]

to

[code]

without having to change shell eval.

[2015-05-13 02:17] UserTaken opened #776 "Atrocious Help Output"
The help output of `Swarm` is atrociously outdated compared to its sister projects. Bringing it more in-line with `Docker` and `Machine` would be changing

[code]

to something like

[code]
As well as the formatting, capitalization, syntax order, alphabetical order of each command's help output.

[code]

[2015-05-13 06:14] vieux commented on #776
I guess we simple have to update codegansta/cli ?

@ehazlett did you do something special in machine's help ?

[2015-05-13 08:50] vbichov commented on #762
@chanwit Swarm version was the latest in Docker Hub at the time of the original post.

[2015-05-13 09:33] #644 closed

[2015-05-13 13:12] chanwit commented on #762
@vieux this is what I'm trying to fix in #769.
`        /go/src/github.com/docker/swarm/scheduler/filter/affinity.go:37 +0xacc`

[2015-05-13 14:04] ehazlett commented on #776
@vieux we updated the templates for cli: https://github.com/docker/machine/blob/master/main.go#L15

[2015-05-13 17:20] abronan commented on #764
Perfect! :)

[2015-05-13 17:20] #764 closed

[2015-05-13 17:34] abronan commented on #771
@arun-gupta Are you using `docker-machine`? In this case the Swarm Master will also have a Swarm Agent running on this same machine. It makes sense to have the Master "being" a Swarm Agent so you can use spare resources from the Master to schedule containers onto it.

If you want the master to be admin only, you can use `docker-machine` to create your regular Swarm agents VMs (the same way you did

[2015-05-13 21:55] buth commented on #721
I'm having a similar problem in that I can only get the join to work if I specify the current etcd cluster leader. Perhaps the issue is the client never runs [SyncCluster](https://godoc.org/github.com/coreos/go-etcd/etcd#Client.SyncCluster) after it's initialized?

[2015-05-13 22:42] aluzzardi commented on #767
Can you provide a reproducible use case?

[2015-05-13 22:49] aluzzardi commented on #722
ping @SvenDowideit @moxiegirl

[2015-05-13 23:34] RusDavies opened #781 "Can't get "docker run --rm swarm create" to work... is it just me?"
Hello.

I'm following the instructions here:http://docs.docker.com/swarm/, but I can't get past the first step.  Don't know if it's a bug, or something borked in my configuration, but here's what I get:
[code]
Looks to my naive eye as if something isn't getting mounted.  There's messages about unmounting errors  in journalct:

[code]

For reference, here's the output of `docker info`:
[code]

And

[2015-05-13 23:36] vieux commented on #740
@jimmyxian I think it's fine for `docker history` and `docker save` I'll fix match

[2015-05-13 23:36] aluzzardi commented on #721
Tried to find some more documentation regarding `SyncCluster` but it's a bit sketchy.

- Should we call it when we initialize the store?
- Before every operation?
- Periodically in a goroutine?

[2015-05-14 00:18] aluzzardi commented on #721
@smothiki Can you try against master? Should have been fixed by #782

[2015-05-14 00:27] #687 closed

[2015-05-14 00:32] abronan commented on #721
There are two problems here I guess:

- The first one being the `--addr` and `--bind-addr` flags being misconfigured which completely hinders the `Sync` process. (see: https://groups.google.com/forum/#!topic/confd-users/WM4a4LfPLaY)
- The second may be related to calling `SyncCluster` with the client. (hopefully fixed by #782, but the questions of whether we should call it before each operations r

[2015-05-14 00:47] vieux commented on #781
@RusDavies It looks like a docker error, do you have similar issues with other container or just swarm ?

[2015-05-14 00:48] vieux commented on #771
@arun-gupta you can always use `-e node!=swarm-master` when you do a docker run ;)

[2015-05-14 00:49] vieux commented on #761
@vbichov I don't understand what you mean by `you don't know what the target host will be`

[2015-05-14 00:50] vieux commented on #760
This is related to the docker cli, it's not swarm specific, please ask you question on https://github.com/docker/docker

[2015-05-14 00:50] #760 closed

[2015-05-14 00:52] vieux commented on #753
Duplicate of #485

(Short answer: it's will be possible once with a change in the docker CLI)

[2015-05-14 00:52] #753 closed

[2015-05-14 00:59] arun-gupta commented on #771
Having an admin-only Swarm master would be a usual design pattern and should be supported easily.

[2015-05-14 01:41] jimmyxian commented on #740
@vieux In swarm `docker rmi`, two problems:
* I find that calling remove image by id in `engine`. I don't know if it's right. If one image has several tags and we just want delete one of it, In swarm, it can't
* In docker, rmi with no tag, it will delete latest. But in swarm, it can't

So, in my opion, rmi should follow this:
* First,  match image ID, If ID matches: remove image by id
* Second, ma

[2015-05-14 01:46] vieux commented on #740
@jimmyxian can you add a PR with the tests that fail ?

[2015-05-14 01:58] jimmyxian commented on #740
@vieux OK

[2015-05-14 02:00] zstarer opened #786 "Overloaded swarm node breaks the rest of the cluster"
Hi guys -

We've been experimenting (A LOT) with swarm lately. One issue we've just discovered is that overloading any particular node in the cluster can break certain functionality expected from the master.

On one node, we had ~150 containers running , and can no longer hit the docker daemon (on that node) to see what's running (I think there's just no resources left) however, we can still hit t

[2015-05-14 02:05] #740 closed

[2015-05-14 02:44] jimmyxian commented on #740
@vieux I have done to add a PR https://github.com/docker/swarm/pull/788

[2015-05-14 07:09] HackToday commented on #767
Hi @aluzzardi @jimmyxian
I don't know how to give a use case,
we setup the docker swarm cluster use token ways, as suggested in swarm doc the first option.

$ sudo docker -H tcp://0.0.0.0:2379 ps
CONTAINER ID        IMAGE               COMMAND             CREATED             STATUS              PORTS               NAMES

[~]$ sudo docker -H tcp://0.0.0.0:2379 ps  -a
CONTAINER ID        IMAGE

[2015-05-14 07:10] HackToday commented on #767
[ ~]$ sudo docker ps
CONTAINER ID        IMAGE               COMMAND                CREATED             STATUS              PORTS                    NAMES
b58589e41b9c        swarm:0.2.0         "/swarm join --addr    23 hours ago        Up 23 hours         2375/tcp                 swarm-agent
16e781db775b        swarm:0.2.0         "/swarm manage -H tc   23 hours ago        Up 23 hours         0.

[2015-05-14 08:29] vbichov commented on #760
@vieux Swarm already exposes API that does not behave as Docker does.
see: https://docs.docker.com/swarm/API/#endpoints-which-behave-differently
while one could use the Docker client remotely and run into a similar issue, this just might become a prevalent issue when using Swarm.
please consider addressing this issue.

[2015-05-14 08:37] vbichov commented on #761
you may use swarm to issue a "docker pull" command on some host.
you presumably also use some strategy and a filter to guide the selection of the target host.
ultimately, the target host is selected by swarm - you don't know ahead of time which it will be.
if you wish to pull (specifically, repull) an image before running it, you will run "swarm pull" and then "swarm run".
but these two commands m

[2015-05-14 12:31] RusDavies commented on #781
@vieux , not that I'm aware of.  For example, I can build docker-machine with no trouble, which does mount folders.

Other trivial examples, which both work:
docker run -a stdin -a stdout -a stderr -i -t ubuntu /bin/bash
mkdir -p stuff && : > stuff/helloWorld && docker run --rm -v $(pwd)/stuff:/stuff ubuntu ls -la /stuff

Let me know if there's something specific you want me to test at this end.

[2015-05-14 12:53] RusDavies commented on #781
debug level dump from journalctl, in case that provides extra hints:
[code]

[2015-05-14 13:02] RusDavies commented on #781
The problem occurs on a stock Fedora 21, but not on a stock Fedora 20.

From the fedora 21 machine (NOT working):
[code]

From the fedora 20 machine (working):
[code]
If I then upgrade from docker 1.5 to docker 1.6 on Fedora 20 (`yum --enablerepo=updates-testing update docker-io`), then it fails in exactly the same way.  So, the difference seems to be the docker version.

[2015-05-14 14:59] kelseyhightower commented on #721
@aluzzardi @abronan I'm going to get someone from CoreOS to review this, but I think we might want to consider making a requirement that people use etcd 2.x for swarm discovery.

Recent changes in go-etcd may also help with some of the issues listed in this issue.

[2015-05-14 15:05] xiang90 commented on #721
@aluzzardi If you know your cluster configuration is changing periodically, then you need to call syncCluster periodically accordingly.

[2015-05-14 15:09] kelseyhightower commented on #721
@aluzzardi To be clear, cluster configurations in this case would be adding and removing etcd members. Leader elections should not require a cluster sync.

[2015-05-14 17:21] abronan commented on #721
@kelseyhightower @xiang90 Thank you for the clarification. As of now we use `v0.4.6` for the integration tests, we might switch to `v2.0.6` then. Regarding the sync it is safe then that we add the periodic `syncCluster` for those who manage their own Etcd cluster. A 10 minute refresh sounds reasonable compared to the cost of having an outdated configuration in the long run.

[2015-05-14 18:08] vieux commented on #760
@vbichov we won't.

It's a docker issue, you can have the docker cli on one machine and the docker deamon on another (not use swarm at all) and you still could use the feature your request.

So it has to be done in docker, not swarm.

[2015-05-14 18:11] vieux commented on #761
@vbichov not sure it's what you want, but currently swarm pull will pull on all hosts, so the next run will have the last version of the image.

[2015-05-14 19:17] garrypolley opened #790 "docker run --rm swarm --create not working"
Currently whenever I attempt to setup a swarm instance using the guide here:

http://docs.docker.com/swarm/

I get the following output on a RHEL 7 node:

[code]

[2015-05-14 19:26] abronan commented on #790
Hi @garrypolley, thanks for reporting the issue. As you are using RHEL it seems to be a duplicate of #781. I'll close this one but feel free to comment on the other issue so we can concentrate our effort there.

[2015-05-14 19:26] #790 closed

[2015-05-14 19:37] vieux commented on #781
@RusDavies unfortunately, red hat added a few patches outside of our control in docker for RHEL, and they broke something, we see tons of reports like this on docker/docker

So I would say revert to 1.5.

I'll try to investigate and find why it happen with the swarm image

[2015-05-14 20:00] garrypolley commented on #790
Thanks! I didn't see the other issue when I was searching around.  I appreciate the linking.

[2015-05-14 22:17] moxiegirl commented on #722
@aluzzardi When you have a few minutes, come chat and I'll get a grasp of this isse; then I'll fix the docs.

[2015-05-14 23:33] RusDavies commented on #781
@vieux , OK, thanks for your help.  I'll look on redhat bugzilla, to see if I can find an appropriate report to weigh in on.

[2015-05-15 00:14] peebles opened #792 "standard out (docker exec [-it] ...)"
Seems like STDOUT isn't eactly perfect using docker talking to a swarm master.  I have a swarm cluster running in AWS.  The swarm master is running on an AWS machine.  I run docker on my laptop.  I will do something like:

    docker exec -it my-container compile-something-command

where "compile-something-command" is someting that produces maybe 100 or 200 lines of stdout.  When exec is run with

[2015-05-15 05:39] aluzzardi opened #794 "Broken TTLs"
It turns out that:

- zk/etcd/consul were not using any TTLs (entries never expired)
- token discovery "never" expires (one week)

Once we fix **1** (@abronan) and **2** (@vieux) we should probably alter the `discovery-*.bats` tests to, at the end, stop one join, wait `heartbeat` seconds and make sure `swarm list` (and possibly `docker info`) doesn't show up the node.

[2015-05-15 08:18] aluzzardi commented on #721
@kelseyhightower thanks for chiming in, we really appreciate it.

Given the features in our roadmap, moving forward we're going to use `etcd` for a lot more than just discovery (persistent state storage and leader election are currently being worked on) so it's great if we can get feedback from your side (for instance, make etcd 2.x a requirement as you mentioned).

If you don't mind I'll ping you

[2015-05-15 08:53] vieux commented on #794
At least etcd used to handle TTLs : https://github.com/docker/swarm/blob/48fd99368feacb2929563ea7ec74931d8101b166/discovery/etcd/etcd.go#L87

[2015-05-15 13:59] UserTaken opened #797 "ARM Support"
I have a old last gen Raspberry Pi that I thought would be suitable to run as a swarm master given its modest specs. There are Docker packages for ARM so I'm wondering if it's possible to have a `swarm` image for ARM and if so, control x86-64 Docker daemons through ARM `swarm` or will it be limited to ARM `docker`?

[2015-05-15 14:36] xiang90 commented on #721
@aluzzardi I am happy to discuss more about etcd with you guys. We also plan to make etcd to store more data and be more reliable.

We have a great roadmap to work on. It would be great to listen your use case and requirements.

[2015-05-15 17:58] abronan commented on #794
Actually it is fairly easy to implement the concept of Ephemeral for Consul and Zookeeper. For Zookeeper I create a `Key` with the `Ephemeral` flag while in Consul I create a global session with the attribute `Behavior` to `delete` (which will trigger the node deletion at Session invalidate, when the node is considered down by the failure detector)

The open question is: how to do a similar thing

[2015-05-15 18:23] magaal opened #798 "--rm and -d concurrent support"
Hi - I'd like to submit containers that have a specific purpose across my cluster nodes with affinity set so that only one container runs per node; and then have them shutdown on task completion, freeing up the node for another container. --rm and -d supported simultaneously seems like it would help me out, otherwise I get a flood of output to where I launched my docker run commands. Is this a bad

[2015-05-15 18:24] vieux commented on #798
@magaal not a bad idea, bu this is not supported in docker, so it won't be in swarm.

If you want this behavior to change, please open an issue on docker/docker.

[2015-05-15 18:24] #798 closed

[2015-05-15 23:07] aluzzardi opened #802 "Container matching algorithm is wrong"
If we name a container `c1` and another one has an ID that starts with `c1`, `cluster.Container()` will return the one whose ID starts with `c1`, which is wrong.

We should revisit our matching policy has follows:
1/ Exact ID
2/ Short ID (maybe? the one 12 chars long ... there is a helper in `docker/pkg/stringid`)
3/ Exact Name
4/ Prefix ID matching

[2015-05-16 06:01] aanm commented on #781
I'm having the same error using F21.
I will revert to 1.5.
Non working version:
[code]

[2015-05-16 11:52] jasw opened #804 "Getting started documentation is confusing"
Hi, I am trying to follow this guide (http://docs.docker.com/swarm/) to setup swarm with two nodes. As I am relatively new to Docker and Swarm, I wrote down everything I tried here. Might be helpful to beginners like me and the documentation maintainer to see where people got stuck at.

Here is what I have done.

1.created 3 new Ubuntu instances (14.04 LTS) from AWS, install docker by following th

[2015-05-16 23:51] jasw commented on #804
Just to add, doing a 'docker run --rm swarm list token://<cluster_id>' actually successfully reported my instance B and C's ip addresses as you can see here:

[code]

So, why docker -H tcp://0.0.0.0:<manager_port> info does not report the right information?

[2015-05-17 01:17] jasw commented on #804
I just changed the security group by allowing access to the tcp 2375 ports in the agents, now all worked.
I guess I will need to read more about the TLS to make it secure, now its wide open to the world.

[2015-05-17 03:28] aanm opened #806 "Run local built container on swarm"
I know this is probably something hard to do, but will (or is it right now?) be possible to run a docker image built on the host machine to be ran on a swarm machine? I just figure this out when I tried to run the simplest demo from compose and swarm, where one of the containers is built on my machine.

[2015-05-17 04:56] aluzzardi commented on #806
You can either:
- Push the container somewhere, then you'll be able to run it, or
- `docker build` on Swarm (instead of the local machine) then `docker run` using image affinities (no need of image affinities once we address #743)

[2015-05-17 05:01] aluzzardi commented on #797
Swarm could control any kind of Docker daemons (it doesn't care about the target arch as long as it speaks the same API).

We have no ARM image for Swarm but you could easily build an ARM binary (`git clone` + `godep go build`) and run it instead of using `docker run swarm`

@chanwit used Swarm on a x86/ARM hybrid cluster

[2015-05-17 05:05] aluzzardi commented on #786
Thanks for reporting this, @zstarer.

There must be a deadlock somewhere making the `Cluster` object freeze.

We are going to reproduce the issue in our integration tests so we can fix it and make sure it stays fixed.

[2015-05-17 05:06] #334 closed

[2015-05-17 05:28] chanwit commented on #797
@UserTaken you can just compile and run `swarm` on the ARM board. It just works with your x86-64 Docker deamons without any problem.

Side note: a Docker daemon would use around 500 MB of RAM at fully operation. So using the `swarm` binary is just better for a constraint machine.

@aluzzardi thank you for the ping :)

[2015-05-17 05:42] UserTaken commented on #797
@chanwit and @aluzzardi Thanks for answering my questions.

[2015-05-17 05:42] #797 closed

[2015-05-17 06:05] vbichov commented on #761
@vieux Thank you.

[2015-05-17 11:50] j4b0l opened #807 "Unable to run container with --volumes-from with access mode (ro, rw)"
## Issue
When running a container with swarm, specifying --volumes-from I can only start container if mode is not specified.
Running without swarm works fine on both nodes locally and via docker remote API.
## Environmnent
docker version: 1.6.2 on both nodes and client
swarm version: 0.2.0
## Example use case
Jenkins Docker Plugin by default specifies rw access mode for volumes-from set. This way

[2015-05-17 14:09] aanm commented on #806
@aluzzardi Where does swarm stores the image made by `docker build`? I mean, is it possible the built result would end up on a node and `docker run` will be addressed to a different node?

[2015-05-18 01:41] lokikiller opened #808 "Why not refresh the Nodes' information when some Node crushed down"
In swarm cluster some commands getting information from local cache, like 'docker info' or 'docker run' ..., but when some Node crushed down, the information from that commands may not be right. For example, I have 3 nodes in the cluster, then one node crushed down, when I command 'docker -H tcp://0.0.0.0:2375 info' in the master, I will get there are 3 nodes in my cluster, but not 2 nodes. I thin

[2015-05-18 01:59] abronan commented on #808
Hi @lokikiller, Yes for now the Swarm Manager will still report dead nodes on `docker info`. This is a duplicate issue of #197.

This is however, not as simple as it seems: we need to gracefully stop the connection and all their attached goroutines in `dockerclient` which is something that is not handled now.

Also we need the discovery service to delete entries of dead nodes. There is some work o

[2015-05-18 01:59] #808 closed

[2015-05-18 02:46] lokikiller commented on #808
Thanks for you @abronan , but I think we needn't to stop the connection and all their attached goroutines, because when the node repaired, it will join the cluster automatic. I suggest that validate the healthy attribute of engine when use the engine

[2015-05-18 04:04] aluzzardi commented on #808
@lokikiller `docker run` will never run containers on unhealthy nodes because of this:
https://github.com/docker/swarm/tree/master/scheduler/filter#health-filter

We are working on getting `docker info` etc right as well

[2015-05-18 04:05] aluzzardi commented on #197
@vincentwoo We have a few PRs cooking for this - should be completed for 0.3.0.

[2015-05-18 04:11] aluzzardi commented on #806
@aanm Yes, very likely. `docker build` uses the same scheduling as `docker run`, so it will end up on a machine depending of your filters and strategy. `docker run` will likely try to run on a different node.

Right now, you can solve this by using image affinities:
[code]

The former will build an image on the cluster while the latter will schedule a run and force it to be on a machine that has t

[2015-05-18 04:16] aluzzardi commented on #807
Thank you for the report @j4b0l.

It's likely a bug in our `dependency` filter, we'll have a look.

[2015-05-18 07:19] lokikiller commented on #808
@aluzzardi The heartbeat is 30 seconds, so once the node crushed down, and command 'docker run' immediately, it may run containers on unhealthy node?

[2015-05-18 15:17] ArmandGrillet opened #810 "Getting all the containers using the flag true instead of 1"
To get all the containers running on a swarm (including the ones stopped) through the Remote API we have to use the flag `1` as we can read in [api/handlers.go](https://github.com/docker/swarm/blob/master/api/handlers.go):
[code]
`1` is the only flag allowed to get all the containers, not `true` or `True`. As the [Docker Remote API](https://github.com/docker/docker/blob/master/docs/sources/referen

[2015-05-18 15:27] ArmandGrillet commented on #781
Had the same issue (Fedora 21), my solution has been to install it using Go:
[code]

[2015-05-18 20:38] #463 closed

[2015-05-18 20:38] #802 closed

[2015-05-18 20:53] #742 closed

[2015-05-18 21:16] #776 closed

[2015-05-19 02:41] #807 closed

[2015-05-19 07:45] jimmyxian commented on #810
Thank you for the report @ArmandGrillet
We'll have a look and fix it.

[2015-05-19 17:11] #197 closed

[2015-05-19 18:45] aluzzardi opened #816 "Feedback wanted: Storage configuration UI problem"
We're running into a UI problem, would love your feedback.

Right now with Swarm you specify a discovery backend such as:
`swarm manage consul://...`

With the upcoming distributed state storage, we'll need a store configuration as well:
`swarm manage --storage consul://... consul://...`

We also have leader election cooking. It depends on a store:
`swarm manage --leader-election consul://... cons

[2015-05-19 18:58] aluzzardi opened #817 "Feedback: `--addr` is very confusing"
One of the first steps to set up a cluster is to run `swarm join --addr=<address> <discovery>`.

Many people mistake `--addr` for the manager address instead of the docker address.

We should find an alternative name, perhaps:
- `--cluster-addr`
- `--peer-addr`
- `--my-addr`
- `--engine-addr`
- `--docker-addr`

Additionally, perhaps it would help if we'd pre-fill that option. In order to do that,

[2015-05-19 19:03] aluzzardi commented on #771
@arun-gupta It's supported out of the box, actually, that's the default. You are explicitly running `swarm join` on the `swarm-master` machine, which is effectively putting the master into the rotation.

[2015-05-19 19:06] aluzzardi commented on #804
Thank you @jasw, this is really helpful.

I'm going to re-open this issue and flag it as a documentation problem - it should be way more obvious.

[2015-05-19 19:11] aluzzardi commented on #817
See also #741

[2015-05-19 19:13] aluzzardi commented on #816
ping @thaJeztah @chanwit @snrism @JeffChien @jimmyxian

Any suggestion?

[2015-05-19 19:17] squillace commented on #817
See also [#437](https://github.com/docker/swarm/issues/437). :-)

[2015-05-19 19:22] aluzzardi commented on #437
Re-opening. We have a docs issue.

[2015-05-19 19:22] aluzzardi commented on #817
@squillace Thanks! Re-opening that, we should fix the docs.

[2015-05-19 19:28] thaJeztah commented on #817
My first idea was `-H`, like the regular flag to specify the docker host, but that's confusing, because `swarm manage` uses that. I like `--docker-addr`, `--docker-address` or perhaps `--docker-host`.

[2015-05-19 19:30] thaJeztah commented on #816
Was already giving it some thought, no good suggestions (yet), will let you know when something materialises :smile:

[2015-05-19 20:30] UserTaken commented on #817
I like `--node-addr` since isn't that the offical term when running `info` and all in the docs?

[2015-05-19 21:14] aluzzardi commented on #817
@UserTaken That's another thing - I'm unsure about the term `node`, wondering if it should be `engine`. Thoughts?

[2015-05-19 21:42] thaJeztah commented on #817
Engine, without the "docker" context ("Docker Engine") ... not sure. Daemon might ring more bells on the command line.

[2015-05-19 23:50] UserTaken commented on #817
I think `node` is fitting as it is a de facto term used in explaining a distributed systems such as Consul, Etcd, Fleet, Kubernetes, cryptocurrency, etc.

[2015-05-20 01:57] jasw opened #818 "Docker-Machine(with boot2docker) with Swarm awkwardness on DOCKER_TLS_VERIFY"
Hi all,

I use docker-machine with my OSX macbook.  I would like to use this laptop as the swarm manager to manage a bunch of docker swarm nodes.  In the meantime, I have other containers running in this laptop, so it does need to work besides being a swarm manager.

I got it all going in the end but with a awkward situation:

I have to keep change DOCKER_TLS_VERIFY to 1 and unset it to be able to

[2015-05-20 03:18] aluzzardi commented on #721
@smothiki Could you retry with `master`?

We have:
- Updated our integration tests to run against `v2.0.11` #801
- Updated our go-etcd library #801
- Called `SyncCluster` #782

[2015-05-20 04:14] smothiki commented on #721
Sure. I'll retry with latest code and update in the comments

[2015-05-20 04:16] abronan commented on #721
@aluzzardi @smothiki Just a reminder: I removed the call to `SyncCluster` in #801 because this was breaking integration tests after updating `etcd` to `v2.0.11`. Please tell us if something goes wrong so we can fix this ASAP.

[2015-05-20 07:30] thaJeztah commented on #817
While I agree that `node` is used as the "official" term; the example, as mentioned in https://github.com/docker/swarm/issues/741 shows `$ swarm join --addr=node_ip:2375 consul://consul_addr/path`

The `node_ip` apparently wasn't enough to clarify what had to be entered;

For consistency, `--node-addr` / `--node-address` sounds good, but it still needs a good explanation around that in the docs. I

[2015-05-20 07:48] chanwit commented on #762
@vbichov could you please post some steps to reproduce this bug?

After a discussion we've found that a container should always have its name, so this bug should not be happening.

[2015-05-20 16:50] abronan commented on #817
I agree with @thaJeztah and @UserTaken for the `node` term.

In comparison:
- `docker-addr/engine-addr`: too much bound to docker notions. Someone could get to know Swarm but still don't know anything about what docker exactly is (Although I agree that if they land on that github page that's very unlikely but still :)
- `cluster-addr`: Too broad, what is a cluster in the context of swarm? Should I

[2015-05-20 17:09] #810 closed

[2015-05-20 17:35] squillace commented on #817
I'm only one voice, but as a relative newbie to docker-things, I like the `node-addr` idea but as @abronan and others mention, what you are doing here is completely unclear. what IS the port number we are putting there, conceptually? Is it the open VM port to the docker daemon on that machine? Is it a random SSH port? What IS the thing?

if you documented quickly what that thing is here, you'd sol

[2015-05-20 17:59] abronan commented on #817
You are right :) but I agree it's not clear in the doc yet.

A quick attempt here:

**Before**

---

Register the Swarm agents to the discovery service. The node's IP must be accessible from the Swarm Manager. Use the following command and replace with the proper `node_ip` and `cluster_id` to start an agent.
[code]

---

**After**

---

Register the Swarm agents in the cluster:
[code]
Where `ip` i

[2015-05-20 18:16] thaJeztah commented on #817
@abronan looking good. I know I mentioned it in other places, but `2375` is the non-secure port, should the examples use `2376` secure/TLS?

[2015-05-20 18:36] squillace commented on #817
1. IMHO, you should never document insecure ports without noting the fact and pointing to the secure instructions right there.
2. @abronan : yes, you're on the right track I think. Here's my take for your consideration:

my quick version for you.....???

[2015-05-20 18:37] squillace commented on #817
Missing, still, is the stronger sense of the fact that WHATEVER port you configured docker to use on that node, THAT is the port value you need to put there. You're telling swarm that's here this node's docker endpoint is. It needs to know that. :-)

[2015-05-20 18:41] snrism commented on #817
+1 to @abronan I think `--node-addr` fits well. In addition, it will be nice to document about default port 2375/2376 as part of the README and highlight to use the secure option.

@aluzzardi regarding pre-fill the address with --net-host, i believe we might have multiple interface choices in the host and hence might have to pick the right iface.

[2015-05-20 18:43] UserTaken commented on #817
I agree with emphasizing security as I've noticed an abundance of unencrypted Docker ports when scanning the Internet, up to a dozen on a single IP range. Most are VPS' ranging from single core and 512MB RAM to

[code]

[2015-05-20 18:44] squillace commented on #817
@UserTaken Geebers!!

[2015-05-20 18:51] snrism commented on #741
The documentation update (after resolving https://github.com/docker/swarm/issues/817) will address this issue. but regarding <path> either in etcd/consul/zookeeper, we can add a sentence in the discovery readme to discuss how to configure it or can add an example command. However, IMO including additional details about individual services should be out of scope.

[2015-05-20 19:15] aluzzardi commented on #817
Thanks for the great feedback!

/cc @moxiegirl

To sum up the conversation:
- Change the flag `--addr` into `--node-addr`, as everyone seems to agree
- Add a good explanation in the docs  of what `node-addr` is - everyone is agreeing as well
- Explain what the port number is conceptually as @squillace mentioned
- Emphasize security, as @UserTaken suggested

One think I might add as well, related t

[2015-05-20 20:00] moxiegirl commented on #817
@aluzzardi Sure thing. A few questions.
-- Must the `--node-addr` be an actual IP or can I use a named value that resolves like `localhost` or `my-computer-name`  If the option **requires** an actual IP I would rename it `--node-ip` to be exact.
-- Are IPV6 addresses supported? (I really should check the code but I'm trying to be quick.)
-- In this statement "This is tough to document since it's l

[2015-05-20 20:11] snrism opened #821 "Libnetwork integration"
Now that libnetwork replaced existing docker networking code (docker issue 13060), any inputs/timeline on the `integrate swarm with docker networking` task in ROADMAP is appreciated. If there are any plans already in place, I am happy to be part of this effort. Thanks!

[2015-05-20 20:52] aluzzardi commented on #817
Thanks @moxiegirl

1/ It can be something that resolves but it must be reachable by Swarm so `localhost` won't work. To put it in other words, Swarm will connect to `node-addr` in order to talk to the Docker Engine running on that machine. If it's `localhost`, then Swarm will attempt to connect to itself.

2/ I believe it does support IPv6. Under the hood we use Go's `net/http` package which does

[2015-05-20 21:04] squillace commented on #817
@aluzzardi: re: 1, above, are we saying something like, "any address form that can be reached by the swarm master that is not the swarm master's address"? I'm assuming that, although it makes little sense, you could be testing out swarm on your local machine and in that case, `localhost` would work? But it's unlikely to be useful in other cases....??

[2015-05-20 21:10] aluzzardi commented on #817
@squillace: I was just implying we shouldn't mention `localhost` as an example in the docs - there are valid use cases for using `localhost` (I use it all the time), but I think we should just explain that the address must be reachable by Swarm and that's it (as in, not mention `not the swarm master's address`).

This might help: In order to check if the address is correct, the user could run `doc

[2015-05-20 21:21] aluzzardi commented on #821
/cc @mavenugo @mrjana

We'd love to start the integration work ASAP and are actively working with the `libnetwork` folks.

As soon as we have a clear plan, we'll update our `ROADMAP` and create relevant issues here on GH which everybody will be more than welcome to help us with.

[2015-05-20 21:27] squillace commented on #817
@aluzzardi: yes, agreed on no specific mention of `localhost`. agreed that a note indicating your test for the address value would be useful; everything else seems just peachy to me....

[2015-05-20 21:27] magaal opened #822 "enlightened container environment variables for cloud scenarios - auto-kill, etc."
Hi - I have a scenario where in an HPC pleasingly parallel deployment of my containers into a swarm cluster, I'd like for when the container exits to also cause the node to kill itself to cease billing. I can do this easily via script by installing in to my container the cloud specific CLI and having the last line on the script I run at container launch perform the shutdown via cloud provider API'

[2015-05-20 21:34] ehazlett commented on #817
If the new --node-addr will be in 0.3.0 we will get it updated in master.
Along with that I will get the ability to use a different swarm image so we
can test the provisioning process.

Thanks for the heads up!

On Wednesday, May 20, 2015, Andrea Luzzardi <notifications@github.com>
wrote:

[2015-05-20 21:38] snrism commented on #821
Thanks for the update

[2015-05-20 22:39] aluzzardi commented on #817
Alternative: How about `--public-addr`? @squillace @thaJeztah @UserTaken @snrism

[2015-05-20 22:46] thaJeztah commented on #817
Good one. Clear, descriptive.

Only worry I have is that "public" doesn't need to be "public". Haven't actually checked if this is possible yet, but multiple nodes (in the same datacenter) will probably use the internal/private network.

[2015-05-20 22:56] squillace commented on #817
I'm a cloud guy: node means "this machine, here". That could **easily** be in a private cluster, accessible through no public interface directly, as @thaJeztah suggests. At least, I believe so. The result is that `--public-addr` sounds like it's slightly wrong. Public to the VM, sure, but....  am I off base? I could easily be....

[2015-05-20 22:59] thaJeztah commented on #817
Confirmed. Toughest thing in development is *naming* things. Just call it `--opt-817`

[2015-05-20 23:17] aluzzardi commented on #817
Okay so, let's keep it `--node-addr`.

One last thought:

From our docs:
[code]

How about this instead:
[code]

Then explain that Swarm will listen by default to `2375` and that can be changed (in the same way as Docker) with:

[code]

Is it more obvious?

[2015-05-20 23:31] UserTaken commented on #817
Port 2375/2376 are the default ports for Docker daemon so shouldn't Swarm master default 3375/3376?

[2015-05-20 23:32] thaJeztah commented on #817
Afaik, we discourage using `--net=host` out of security considerations. Using it purely for convenience doesn't sound right, especially when targeting "newbies" that might not be aware of that. See https://docs.docker.com/reference/run/#mode-host

[2015-05-21 00:52] jimmyxian commented on #821
@snrism  @aluzzardi
Great! I will also waiting for the relevant issues.

[2015-05-21 01:02] mavenugo commented on #821
@aluzzardi @snrism :+1: only as early as humanly possible :)

[2015-05-21 01:51] squillace commented on #817
@aluzzardi +1 for @thaJeztah. I feel.... qualified as a newbieish person... to say that I prefer explicit in basic documentation to "this easy shorthand", whether it's `--net=host` or anything else. I'm likely to set up the swarm my own way; if the docs do anything that is default, I'm hosed if I've never used the default or the shorthand. And unhosing unknown defaults is kinda hard sometimes.

An

[2015-05-21 06:56] marcusramberg commented on #781
Anyone know if this issue has been reported to redhat anywhere? Seeing the same kind of problem on RHEL71

[2015-05-21 10:23] monokal commented on #599
I guess what you're asking for is mainly the functionality already implemented in Google's Kubernetes (Replication Controllers rescheduling Pods when a host dies), perhaps we can take some design decisions from there, or decide how far we want to abstract Swarm before just supporting Kubernetes?

[2015-05-21 12:58] chanwit opened #826 "Proposal: Cross-platform Swarm cluster"
I'd like to thank you @bfirsh for inviting me to propose this feature to `swarm`.
According to my DZone [article](http://java.dzone.com/articles/cross-platform-hybrid-cloud), a POC of the cross-platform hybrid cloud have been successfully built atop `swarm`.

To make `swarm` support the similar kind of feature mentioned in the article, i.e., being able to pull a certain image to its correct platfo

[2015-05-21 16:45] RusDavies commented on #781
@marcusramberg , yes, see here: https://bugzilla.redhat.com/show_bug.cgi?id=1213258

[2015-05-21 22:16] abronan opened #830 "Default settings for Node removal are not optimal"
Default settings for TTLs and Node removal on storage backends are not optimal and two annoying things could happen:

- It takes time using Consul and Etcd to detect a node failure, if the value of the TTL is high, swarm will see those nodes as alive until those entries are expired.
- This other scenario can happen:
  - Swarm agent registers onto discovery service
  - Manager sees the new entry: i

[2015-05-21 22:31] grahamc opened #831 "Installation Documentation is Irresponsibly Insecure"
People new to Docker may be likely to try out the whole offering of Docker, including Swarm. Unfortunately the Swarm instructions include such travesties as:

[code]

To users who are already intimately familiar with docker this will immediately be recognized this as a huge problem and risk. However, the documentation makes no indication to docker newbies that this opens up the node to literally r

[2015-05-21 23:09] smothiki commented on #721
Just tested the syntax is working with just etcd IP

[2015-05-21 23:10] aluzzardi commented on #826
Thank you so much for reporting back, I love the idea.

We'll talk with the Engine maintainers to figure out a path to achieve hybrid cluster management.

[2015-05-21 23:20] UserTaken commented on #831
I already brought up this in https://github.com/docker/swarm/issues/817 but the existing documentation on how to manually secure the connection is not convenient or easy to understand for new people not familar with OpenSSL, x509 and TLS.

[2015-05-21 23:24] grahamc commented on #831
So because the existing documentation is difficult, and the process is difficult, it is preferable to open boxes owned by potential users up to root-equivalent access to anonymous users on the internet?

Remember this is not just a disservice to the user, it is a disservice to the wider internet.

[2015-05-21 23:27] UserTaken commented on #831
No, I'm not saying it is more preferable leave unencrpyted ports on the Internet and I agree security should be emphasized and documentation should be improved.

[2015-05-21 23:27] grahamc commented on #831
Thank you for the clarification. :)

[2015-05-22 01:55] chanwit commented on #826
Thank you, @aluzzardi
Please feel free to let me know if you'd like me to start any PR regarding this proposal.

[2015-05-22 03:08] UserTaken commented on #831
Here is an example of more than half a dozen vulnerable machines on a single IP range I mentioned in https://github.com/docker/swarm/issues/817: `167.88.41.216:3375`

[2015-05-22 04:23] squillace commented on #831
There is no question that the default machine/swarm installation should be the secure one at some point. Until that time, it would be fantastic if the docs pointed out that in fact the installation described her was for demonstration purposes and should be torn down afterward or only set up in a protected network.

[2015-05-22 17:05] NathanMcCauley commented on #831
@grahamc thanks for opening the issue, we agree with your assessment and @abronan has opened a PR to update the docs. See: https://github.com/docker/swarm/pull/833

If there are any other parts of the documentation where we can improve the default security configuration please feel free to let us know -- we're definitely interested in encouraging folks to do the right thing!

[2015-05-22 18:35] abronan opened #834 "Swarm generating certs for TLS usage"
As of now, the TLS setup is tricky because users have to figure out themselves how to configure their own certs (whether self-signed or not). This results in the documentation taking the easy path of explaining how to setup the cluster in a very insecure manner (see #831)

I took a quick look at other projects like CockroachDB and they use a dedicated command to generate self-signed certs.

This w

[2015-05-22 18:36] abronan commented on #834
cc/ @aluzzardi @vieux

[2015-05-22 18:36] cpuguy83 commented on #834
fyi, docker-machine handles setting these certs up for you, and also includes swarm provisioning.

[2015-05-22 18:38] abronan commented on #834
@cpuguy83 Yep, that's why we are trying to slowly replace our doc with how to setup a Swarm using `docker-machine` instead :+1:

This only concerns the manual setup part.

[2015-05-22 18:47] bpradipt commented on #826
This feature will be good for Power (ppc64) platform as well. Today swarm can be built and run on power architecture without any issues. However my understanding was that to really have a hybrid arch cluster, we would need the image registry to be arch aware so that the image 'pull' request automatically handles downloading of the appropriate arch image for the respective cluster members.

[2015-05-22 18:58] abronan commented on #834
BTW what I propose is still *insecure* but it's a bit better than what with have now.

[2015-05-22 19:23] snrism commented on #834
@abronan +1 for this feature. The `swarm cert create --path=/certs` will be very useful. If this can handle all creation steps,  the setup becomes much simpler.

[2015-05-22 19:28] squillace commented on #834
@abronan I'd love it if the docs do not imply that the only "happy path" of creating swarms is run through docker-machine. I'd also love it if the docs pointed out happily that if you used docker-machine to create your vms all this would have been taken care of for you, as that's what it's for!

+1 for `swarm cert create --path=/certs`. Add that, and then the story for secure creation without requ

[2015-05-22 23:17] squillace commented on #831
FWIW, I'm happy to work through this entire setup scenario with documentation, including contributing PRs to docs here. Have a working, secure, basic swarm as "the" way to do the basic scenario is just the right way to go.

[2015-05-22 23:54] abronan commented on #834
@squillace Completely agreed on this :+1:

[2015-05-23 02:33] aluzzardi commented on #817
Another day another flag.

I just realized Consul uses `--advertise` - what do you think of that?

[2015-05-23 03:31] chanwit commented on #826
@bpradipt a good thing in this design is that swarm will be taking care of platform-awareness. So the current registry does not need to change.

[2015-05-23 04:11] aluzzardi opened #836 "Node removal makes the manager crash"
It looks like the events callback gets called anyway even though we unregister it when disconnecting the engine:

[code]

[2015-05-23 04:12] aluzzardi opened #837 "Discovery temporarily loses nodes"
Now that we have node removal, it's easier to spot those issues.

I was using consul discovery and noticed this:
[code]

It means that the node was lost after 35 minutes and re-discovered again 20 minutes later, even though nothing changed (both the manager and join were still running).

[2015-05-23 04:18] aluzzardi opened #838 "Discovery broken with low TTL"
On master, this works:

[code]

However this fails mysteriously:

[code]

[2015-05-23 04:34] abronan commented on #838
There is a missing check here when the chosen store is Consul: Consul forbids using a TTL < 10s.

This is easy to fix but I don't know if we should forbid a TTL < 10s for every store or just for Consul? (to stay consistent)

[2015-05-23 04:38] aluzzardi commented on #838
I guess only Consul could fail. We have to have API consistency however it's probably fine if every store has its own `Options` sanity checking.

Let's do this after `-rc1` as it's not a top priority

[2015-05-23 05:14] abronan commented on #837
What were your `ttl`, `heartbeat` and `refresh` (on Manager) settings during this test? Might be related to #830 although not sure.

[2015-05-24 19:22] thaJeztah commented on #722
I saw https://github.com/docker/swarm/pull/839 was rewriting the docs, but looks like there's still both containerised and non-containerised instructions in there

[2015-05-25 00:49] aluzzardi commented on #598
@mgoelzer It has been implemented in #819 #835

[2015-05-25 00:53] aluzzardi commented on #598
ping @Fangfenghua @robwithhair @janeczku @jmmills

[2015-05-25 00:56] aluzzardi commented on #377
So, this has been implemented in #819 #835. It's still a highly experimental feature, feel free to share your feedback.

[2015-05-25 00:58] aluzzardi commented on #599
@cultureulterior So, virtual container IDs are an internal thing that won't be directly exposed to the user.

Regarding what to do with duplicates (kill first, kill last, do nothing), it should be user configurable through a reconciliation policy.

[2015-05-25 01:11] aluzzardi commented on #598
Regarding:

What I did is that *followers* (as in, *slaves* or *non-followers*) know where the leader is located and will automatically forward requests to it.

[2015-05-25 01:23] shykes commented on #599
@aluzzardi you say here that "virtual ids won't be directly exposed to the user", but in #600 you say they will. Could you clarify?
Note, my preference is to expose them to the user and make the *physical* ids an advanced field.

[2015-05-25 02:02] aluzzardi commented on #599
@shykes Short answer, will elaborate more:

They are exposed to the user as labels (`com.docker.swarm.id`).
One can manipulate a container using either its physical ID or virtual ID.
With docker/docker#12931 (or docker/docker#10255), the virtual ID could show up in `docker ps`.

However, when you do things such as `docker create` the phyID is returned rather than the virtual ID.

This is because:

[2015-05-25 22:23] abronan opened #842 "Cluster entry is lost after leaving and rejoining the cluster with Zookeeper"
Steps to reproduce using Zookeeper discovery:

- Create a single Manager
- Create 3 Agents and join the cluster
- Kill 1 agent
- Try to rejoin the cluster with that agent

**Expected**:
The entry is added back to the cluster and we see 3 nodes again

**What happens**:
Nothing, the entry is lost and the cluster always shows 2 entries with `docker infos`

[2015-05-26 00:40] mavenugo opened #843 "Store AtomicPut must return the latest index to honor atomicity"
`AtomicPut` operation currently doesn't return the latest index.
This forces the client to perform a `Get` request immediately following the `AtomicPut`.
That doesn't necessarily provide a guaranteed atomicity because the client must retain the latest index that it knows of in order to best utilize the watch functionality.

[2015-05-26 01:20] coffenbacher opened #844 "Docker swarm master not in sync with nodes"
My Swarm master seems to lose track of what my nodes are doing after some use. It reports non-existent containers. I destroyed and recreated ts02 within the last two weeks, perhaps that has something to do with the below example? I see this behavior fairly often.

1) Is there a known issue for why this happens?
2) Is there a workaround? Destroying and recreating the master Swarm machine (docker-ma

[2015-05-26 02:20] abronan commented on #843
@mavenugo This is a limitation of Key value stores like Consul that does not return any information other than the success of the operation after a Compare and Swap.

Etcd allows you to get back the last Index after a CAS (and we use it for the locking algorithm).

We can use the existing index returned by Etcd and embed the Get operation right after the CAS in `AtomicPut` for Consul (to get the l

[2015-05-26 07:21] vbichov commented on #762
@chanwit I would love to, but I'm afraid there isn't much more to add.
I'm using the Consul for discovery.
got about 10 hosts connected, Swarm found them just fine.
(Update rate is slow, data may become stale, also how do you use the Swarm agent to de-register? - this is off topic...)
run the command above and that's it.
The filter is the problem: -e affinity:container!="registrator*"
That's it.

[2015-05-26 10:59] mavenugo commented on #843
@abronan Thanks for the quick response. Do you think we can make use of the `Lock()` mechanism in order to provide this level of atomicity ?
For example, `AtomicPut` becomes :
1. obtain Lock
2. perform CAS
3. Get Index
4. release Lock
5. return Index

wdyt ?

[2015-05-26 18:12] abronan commented on #842
ping @aluzzardi

[2015-05-26 18:19] abronan commented on #842
Somehow the Watch event is not triggered:

[code]

At this point I added back the entry but the Register event never occurs. This happens only with Zookeeper.

[2015-05-26 20:00] abronan commented on #842
After investigating a little bit this is what happens: the Watch is registered and we pass only once in the triggered watch `chan`. After this the watch `chan` is immediately closed and we loop indefinitely.

Rolling back to use `for .. range {}` works surprisingly and the chan is not closed in that case.

@aluzzardi Sounds strange that the chan is closed during a `select` and not on a `range` as

[2015-05-26 20:30] abronan commented on #721
@smothiki So this still does not work with multiple IPs right?

[2015-05-26 22:00] #838 closed

[2015-05-26 22:23] #842 closed

[2015-05-26 22:26] abronan commented on #619
Hi @aanm, sorry for the late response: any update on the issue? Went through the issue on Powerstrip and this seems to be related to the use of TLS. Let us know if there is something else we could help on or if we can close it :)

[2015-05-26 22:57] #843 closed

[2015-05-26 23:28] aanm commented on #619
@abronan Oh I forgot to close it, yep, it was related to the use of TLS. Thanks!

[2015-05-26 23:28] #619 closed

[2015-05-26 23:50] aluzzardi opened #853 "Improve mesos driver test coverage"
#845 drops test coverage by about 7 points - we should investigate that.

/cc @tnachen @jimenez

[2015-05-26 23:51] aluzzardi opened #854 "Write mesos/swarm getting started docs"
/cc @tnachen @jimenez @vieux

[2015-05-26 23:53] aluzzardi opened #855 "mesos lacks extensive integration tests"
It would be cool if the Mesos integration tests would start an entire cluster.

/cc @tnachen @jimenez @vieux

[2015-05-26 23:55] vieux opened #856 "add docs for mesos"
We should add docs for mesos @jimenez @tnachen @moxiegirl

[2015-05-26 23:57] vieux commented on #856
duplicate of #854

[2015-05-26 23:57] #856 closed

[2015-05-27 00:09] aluzzardi commented on #817
I think I'm going to go with `--advertise` - it kinda speaks to me.

Thoughts? @thaJeztah @squillace @UserTaken

[2015-05-27 00:18] abronan commented on #817
@aluzzardi +1 I was torn between using it for Leader Election or for regular machines joining the cluster, but it makes more sense for `swarm join` I guess. You `advertise` your address through the discovery service. Makes sense to me.

[2015-05-27 00:21] squillace commented on #817
Can I buy you a strong Long Island Iced Tea? I'm questioning your judgment. :-)

so, the command is something like,

`docker run -d swarm join --advertise=<node_ip>:<node-docker-port> token://<cluster_id>`

??? So, the command says, "have this node ADVERTISE it's docker endpoint to the swarm with <cluster-id>"?

[2015-05-27 00:24] squillace commented on #817
that sounds redundant to me, looking at it. The `join` command says, "JOIN", not "please may I join if you notice that I'm here?" which was what "advertise" feels like. Why isn't the command `swarm advertise <ip>:<port>` then? Why not ditch the whole named argument issue?

BTW: at this point, I am just responding honestly. I think really so long as you dock it properly, you can use --opt-817 as @U

[2015-05-27 00:40] aluzzardi commented on #817
Please :-)

For me, it means `join` this cluster and `--advertise` this as my address. The flag doesn't control **if** join should advertise, it sets **what** it should advertise.

Because:
1) It feels strange to pass both `token://foo <ip:port>` to `join` (or `advertise`)
2) `--advertise` can be optional. Consul uses the bind address if `--advertise` is not provided
3) There are some ways to set

[2015-05-27 01:01] squillace commented on #817
@aluzzardi OK, this we can work with. So, if we were being honest, we'd say something like, `swarm join --advertisement-address=<ipOrDnsNameForVM>:<dockerPort> token://<clusterId>`.

How does that feel? `swarm join` is the command. the `<ip>:<port>` portion is the advertised, announced, publicized, or published location of the node computer and it's docker daemon listening port. Advertised seems t

[2015-05-27 01:03] aluzzardi commented on #817
How's that different from `--node-addr` or even `--addr`?

[2015-05-27 01:04] vieux commented on #600
Merged in #745

[2015-05-27 01:04] #600 closed

[2015-05-27 01:14] squillace commented on #817
@aluzzardi bingo, I would say. From my newbie point of view, the problem for me -- and so therefore your mileage may vary -- was that the _argument possibilities_ weren't clear. `--addr` said to me, "ok, this is supposed to be an address... but of what?". So it's the "of what" part that needs to be clear in my view. "advertise" doesn't change that one iota, to me.

Certainly, I thought that `--nod

[2015-05-27 01:24] aluzzardi commented on #817
Does that help?

[code]

[2015-05-27 01:27] jpetazzo commented on #817
*Reacts to random GH ping*

Much ♥ to `--advertise`, or `--my-addr`, or `--this-node-addr` ... :-)

Also, inferring the value automatically would be super nice, but risk-prone:
- when using the local interface address, on EC2, we'll get an internal address, which is cool if the whole cluster is internal, not so cool if the cluster spans multiple subnets;
- when using the public address seen by the

[2015-05-27 01:47] squillace commented on #817
@aluzzardi YES, that is absolutely fine. Go for it. IMHO, that was nexus of the problem. :-)

@jpetazzo: yes, agreed. I have swarms crossing subnets, clouds, and flowing onto the premise, too. Let ME tell swarm what that address should be. :-)

[2015-05-27 02:12] chanwit commented on #817
Actually I dont have any problem as we are doing the whole setting up thing via docker-machine, but let me be able to tell it too.

[2015-05-27 03:35] chanwit commented on #855
Is there any requirement to help doing integration test over Swarm/Mesos?

I'm impressed by the testing infrastructure of `swarm` that let me fetch the current branch and just calling `run.sh` to test. I expect that I could do the same for Swarm/Mesos.

[2015-05-27 03:40] smothiki commented on #721
Just tried with the latest swarm code and its not working.
[code]
[code]
[code]

[2015-05-27 04:58] abronan commented on #721
Thanks @smothiki. I will investigate on this. Which version of `etcd` were you using? We recently switched to `v2.0.11` (latest) but the call to `SyncCluster` seems to panic for some reasons.

That would be nice if you could also provide us with the complete command you used to launch `etcd`. That would help to solve the issue with `SyncCluster`.

[2015-05-27 16:13] smothiki commented on #721
I'm using etcd 0.4.9 which comes with latest core-os release
https://coreos.com/releases/#647.0.0

[2015-05-27 21:37] AxelVoitier commented on #671
Hello,

Sorry for late answer. I was carried away by other work.
I confirm at the time I opened this issue I was using version v0.1.0.

Today, I redeployed the swarm on a new set of virtual machines (got 24 cores to play with now :)). So I took the opportunity to use v0.2.0.
After a basic test I confirm it is now spreading as expected, and that is very cool :sunglasses:.

Thanks for your good work

[2015-05-27 22:20] aluzzardi commented on #817
Fixed in #858

[2015-05-27 22:20] #817 closed

[2015-05-27 22:23] aluzzardi commented on #741
/cc @moxiegirl

[2015-05-27 22:23] #717 closed

[2015-05-27 22:25] #794 closed

[2015-05-27 22:26] #598 closed

[2015-05-27 22:26] #507 closed

[2015-05-27 22:28] aluzzardi commented on #437
ping @moxiegirl

[2015-05-27 22:30] aluzzardi commented on #831
ping @moxiegirl

[2015-05-27 22:33] aluzzardi commented on #818
/cc @ehazlett @nathanleclaire

[2015-05-27 22:34] aluzzardi commented on #804
ping @moxiegirl

[2015-05-27 22:34] aluzzardi commented on #792
ping @jimmyxian

[2015-05-27 22:35] aluzzardi commented on #781
ping @tianon @RusDavies

[2015-05-27 22:36] aluzzardi commented on #781
Since this is not Swarm related, I'm tempted to close this - unless someone has a suggestion on what we could do to fix this.

[2015-05-27 22:37] aluzzardi commented on #767
ping @jimmyxian ?

[2015-05-27 22:39] aluzzardi commented on #714
@jimmyxian Is this fixed?

[2015-05-27 22:41] aluzzardi commented on #705
@aku163 Linking doesn't work across hosts.

I'm still unable to reproduce: Could you provide all the commands / flags you used?

[2015-05-27 22:44] aluzzardi commented on #668
@arun-gupta Have you given swarm a few seconds to probe the cluster?

[2015-05-27 22:45] #633 closed

[2015-05-27 22:46] aluzzardi commented on #631
Merged

[2015-05-27 22:46] #631 closed

[2015-05-27 22:48] #502 closed

[2015-05-27 22:49] aluzzardi commented on #472
/cc @moxiegirl

[2015-05-27 22:49] aluzzardi commented on #462
It's in master

[2015-05-27 22:49] #462 closed

[2015-05-27 22:49] aluzzardi commented on #425
Assuming this is fixed

[2015-05-27 22:49] #425 closed

[2015-05-27 22:50] #415 closed

[2015-05-27 22:51] aluzzardi commented on #336
I'm afraid we can't fix this due to an API limitation.

@vieux Any better idea on how we could fix it?

[2015-05-27 22:51] aluzzardi commented on #213
Implemented \o/

[2015-05-27 22:51] #213 closed

[2015-05-27 22:52] moxiegirl commented on #804
@aluzzardi I'm working the updates on the new getting started with machine. Then, I planned to do the manual one. If you have additions to the manual one in the mean time, please make 'em. I'll pile mine on after.

[2015-05-27 22:53] moxiegirl commented on #741
@aluzzardi if you want to assign these to me, that is fine.

[2015-05-27 22:54] nathanleclaire commented on #818
I don't fully understand the question or your setup.  Are you using the `--swarm` etc. options when you create the machines?  That will mostly take care of the cluster/swarm management for you, and allow you to point towards the Swarm master pretty easily with something like `eval $(docker-machine env --swarm masternode)`.  Generally it's not a good idea to expose non-TLS protected Docker ports, a

[2015-05-27 23:02] moxiegirl commented on #472
@vieux adding "node" to discovery service isn't really going to help.  Because the notion of service discovery is so dominant.

Can someone define for me "discovery backend" I had this question when I started working the getting started docs and thought it meant service discovery. Is that the same or different than the topic here?

Don't "nodes join a swarm" that seems a natural way to say it.  Sw

[2015-05-27 23:42] aluzzardi commented on #671
Awesome - glad it works just fine with the latest release, @AxelVoitier.

Turns out we released `0.3.0-rc1` a few hours ago - feel free to play around, it contains a ton of fixes.

[2015-05-27 23:50] tianon commented on #781
Yeah, I'd definitely agree -- this isn't an issue with Swarm, but is an issue with RedHat's packaging of Docker.

[2015-05-27 23:56] RusDavies commented on #781
@aluzzardi, @tianon ,  yeap, agreed.  Either way, it's filed with Redhat now so the ball's in their court.

[2015-05-28 00:42] jimmyxian commented on #714
@aluzzardi
Yeah, already fixed in https://github.com/docker/swarm/pull/796
[code]

[2015-05-28 00:46] aluzzardi commented on #714
Awesome

[2015-05-28 00:46] #714 closed

[2015-05-28 01:03] jimmyxian commented on #767
@HackToday
I tested locally, `docker ps ` works
I'm unable to reproduce the issue.
Here's what I tried to run:
swarm is listening on PORT 2222
[code]
Can you try those command? see if they work?

[2015-05-28 01:33] jimmyxian commented on #792
HI @peebles
I tested locally, it's OK.I'm unable to reproduce the issue.
Here's what I tried to run:

[code]

[code]
Can you provide a reproducible use case? Or try those cmd, see if they work?

[2015-05-28 03:22] HackToday commented on #767
[fedora@swarmbay-x6q7lyfjmsrw-swarm-manager-kzrmvaukzh3f ~]$ docker -H tcp://0.0.0.0:2376  ps
CONTAINER ID        IMAGE                       COMMAND             CREATED             STATUS              PORTS               NAMES
b0977d3e4d5f        busybox:buildroot-2014.02   "sleep 1000"        39 seconds ago      Up 25 seconds                           sw-mv5wosxzpa7-1-sxlfwze4k7fq-swarm-node-mrf

[2015-05-28 04:08] aluzzardi commented on #767
Please include:

- `swarm --version`
- entire swarm manage command-line (with options)
- entire swarm join command-line (with options)
- Where is swarm running?
- Where is docker running?
- Are they on the same machine?
- What's the address of the Docker engine?

[2015-05-28 04:10] jimmyxian commented on #767
@HackToday Can you provide more information about your environment?

[2015-05-28 06:44] anderssv commented on #336
I really don't see how you can say this is something that won't be fixed, period. I understand it might be hard, or not solvable right now. But this is a major usability hurdle when getting started with Swarm, and something that will trip a lot of people up. For Swarm adaptation and ease of testing this might be really negative.

One of the first tings I noticed starting to work with Docker was it

[2015-05-28 06:53] chanwit commented on #336
I know that it's the API limitation but I still insist that this issue requires a fix. @aluzzardi could you please still open it as a reference?

[2015-05-28 07:38] HackToday commented on #767
I have 3 VMs,
I have swarm agent and swarm manager all running in contianers.

VM1:  agent container
VM2: agent container
VM3: agent container and manager container

For exmaple VM3:
root      1131     1  0 02:13 ?        00:00:06 /usr/bin/docker run --name swarm-agent swarm join --addr 10.0.0.3:2375 token://86be1c3c8d35d144e34076371d521248
root      1134     1  0 02:13 ?        00:00:04 /usr/bin/

[2015-05-28 10:42] hcguersoy opened #868 "spread strategy does not allow memory and / or CPU overcommit"
Hi Folks,

first of all: this is not a bug report but a enhancement request / call for discussion.

Currently I'm testing swarm very intensive for our environment and have observed that memory overcommit is not possible then I use the default spread strategy.
This is because the method `weighNodes` (in the file `scheduler/strategy/weighted_node.go`) is called by the BinPack strategy (there it is O

[2015-05-28 10:46] jimmyxian commented on #767
@HackToday
Can you try this, see if they work?

* swarm manage:
[code]

[2015-05-28 12:49] myfear opened #869 "Swarm Cluster Created with Machine hangs, trying to deploy to cluster"
If I create a swarm cluster on windows with machine:

. docker run swarm create
. docker-machine create -d virtualbox --swarm --swarm-master --swarm-discovery token://<TOKEN> swarm-master
. docker-machine create -d virtualbox --swarm --swarm-discovery token://<TOKEN> swarm-node-01
. docker-machine create -d virtualbox --swarm --swarm-discovery token://<TOKEN> swarm-node-02

docker run swarm list t

[2015-05-28 17:52] abronan commented on #837
@aluzzardi I have a running Swarm with Consul and default settings (and multiple managers) for more than 2 hours now, I cannot reproduce :( Are you sure this was not something related to your VMs setup, or putting your machine into sleep while testing?

[2015-05-28 18:34] abronan commented on #869
Hi @myfear, thanks for reporting the issue. Is this really hanging (no output after a few minutes) or if you wait a little bit you finally see the hello-world output (appears like hanging)?

With swarm when you do a `docker run` it may pull the image in the background so it appears like hanging while it is indeed pulling the image.

Can you `docker info`/`docker version` or is this hanging too?

[2015-05-28 19:56] peebles commented on #792
# eval $(docker-machine env --swarm staging-cluster)
# docker run -it busybox echo hello
hello

At this point I do not get back the prompt.  I must hit <CR> two times to
get the prompt back.  Both <CR>s are not echo'd back to the screen.  In
other words, after the two <CR>s my terminal looks like this:

# docker run -it busybox echo hello
hello
#

I could not try your example with the mapped volum

[2015-05-28 20:17] abronan commented on #844
Hi @coffenbacher, thanks for reporting. I see that you are using `docker-machine` which uses swarm `0.2.0`. There were huge changes since `0.2.0` to the latest `0.3.0-rc1`. In your case it is indeed the Manager not refreshing correctly.

I have a cluster up with `0.3.0rc1` and I will keep an eye on this but so far I cannot seem to reproduce the issue.

In the meantime you can probably try using th

[2015-05-28 21:55] marcusramberg commented on #781
Indeed. Just very sad that RedHat hasn't responded at all so far, even to acknowledge it's a problem.

[2015-05-28 23:50] HackToday commented on #767
hi @jimmyxian  yes, it now have output.

Not sure what's the issue ?

[2015-05-29 01:14] jimmyxian commented on #767
@HackToday
`Docker run` default use `NAT`. Maybe there are something wrong with exec under `NAT` in docker.
Maybe same issue as https://github.com/docker/swarm/issues/658
As a workaround, you can use `--net=host` instead.

[2015-05-29 01:19] HackToday commented on #767
@jimmyxian  want to know for NAT ways, is it a issue ?
If we use work-around, what's the different between NAT ? I don't know if net=host can have other issue or not

Do we have a workable swarm version for that ?

[2015-05-29 01:47] baoyonglei commented on #767
@HackToday
I'm trying to reproduce this issue, and we will find what's wrong. In swarm, `exec` do nothing but send command `exec` request to the right node.
Also, use `exec -it` can solve this.
* Reproduce step(all in one node)
[code]

/cc @aluzzardi @vieux

[2015-05-29 01:49] jimmyxian commented on #767
@HackToday
I'm trying to reproduce this issue, and we will find what's wrong. In swarm, `exec` do nothing but send command `exec` request to the right node.
Also, use `exec -it` can solve this.
* Reproduce step(all in one node)
[code]

/cc @aluzzardi @vieux

[2015-05-29 05:54] myfear commented on #869
C:\Users\myfear>docker version
Client version: 1.6.0
Client API version: 1.18
Go version (client): go1.4.2
Git commit (client): 4749651
OS/Arch (client): windows/amd64
Server version: swarm/0.2.0
Go version (server): go1.3.3
Git commit (server): 48fd993
OS/Arch (server): linux/amd64

C:\Users\myfear>docker info
Containers: 5
Strategy: spread
Filters: affinity, health, constraint, port, dependency

[2015-05-29 13:04] Madko opened #871 "Post https://discovery-stage.hub.docker.com/v1/clusters: dial tcp: i/o timeout"
I'm following this guide http://docs.docker.com/swarm/

But I can't have a token:

    # docker run --rm swarm create
    time="2015-05-29T12:57:55Z" level=fatal msg="Post https://discovery-stage.hub.docker.com/v1/clusters: dial tcp: i/o timeout"

Is it normal?

I'm able to do http post to that URL so I don't understand why it fails:

    # https_proxy=http://192.168.1.0:3128 curl -X POST https://

[2015-05-29 18:37] stefan-jones commented on #781
Same error (running docker swarm -rm create) Seen on Centos Linux 7:

[root@xxxx ~]# docker info
Containers: 13
Images: 80
Storage Driver: devicemapper
 Pool Name: docker-253:1-202746329-pool
 Pool Blocksize: 65.54 kB
 Backing Filesystem: xfs
 Data file: /dev/loop0
 Metadata file: /dev/loop1
 Data Space Used: 3.001 GB
 Data Space Total: 107.4 GB
 Data Space Available: 49.41 GB
 Metadata Space Used

[2015-05-29 20:00] abronan commented on #844
@coffenbacher By the way, which one of the driver are you using with `docker-machine`? I'd like to get as close as I can to your setup using the latest version of machine and swarm.

[2015-05-29 20:06] abronan commented on #837
Seems like the node removal was a legitimate one if you were using default values, not sure if this is the Hub being down (for token discovery) or another network related error if you were using another discovery service. I'll close it for now.

[2015-05-29 20:06] #837 closed

[2015-05-29 20:56] vieux commented on #871
When you do `docker run --rm swarm create`, this is probably not using your http proxy.
Can you try: `docker run --rm -e https_proxy=http://192.168.1.0:3128 swarm create` ?

[2015-05-29 21:16] aluzzardi commented on #868
Thanks for the feedback. We've had many back and forth with this matter, feedback is very welcome.

A few things:

- We actually already have a configurable overcommit.

It defaults to 5%: `--cluster-opt swarm.overcommit=0.05`

- Overcommit in general:

The default is low for a reason - safety. For instance, in your example you have 10x4GB app servers (40GB total) on a 32GB node - but only 10GB ar

[2015-05-29 22:10] #214 closed

[2015-05-29 22:39] hcguersoy commented on #868
Hi Andrea,

thank you for your detailed answer. I've found nothing in the docu and have missed it in the code.
I'll take a look into it again and may come back.

[2015-05-30 00:15] jimmyxian commented on #792
Please include:

* swarm --version
* docker -H <swarm address> info
* docker -H <docker address> info
* entire swarm manage command-line (with options)
* entire swarm join command-line (with options)
* Where is swarm running?
* Where is docker running?
* Are they on the same machine?
What's the address of the Docker engine?

[2015-05-30 01:21] ehazlett commented on #869
Hi Markus,

It looks like you are running in virtualbox. Could you try shutting down the instances and changing the NIC driver for each interface to Intel E1000?  There were issues with the old driver that we fixed in Machine master (coming in 0.3). This may help with the performance.

[2015-05-30 02:51] peebles commented on #792
I am not using a "swarm" binary, I am using the swarm container (see
below).

So I start out by creating four machines using docker-machine, like this:

    docker-machine create --driver amazonec2 \

                   --amazonec2-access-key $AWS_KEY \

                   --amazonec2-secret-key $AWS_SECRET \

                   --amazonec2-vpc-id $VPC \

                   --amazonec2-region $REG

[2015-05-30 16:58] smakam opened #874 "Swarm agent not registering to Swarm master"
Hi
I tried 2 approaches to create Swarm cluster:
Approach 1(https://docs.docker.com/machine/#using-docker-machine-with-docker-swarm). This approach uses integrated machine/swarm and it worked fine for me.
Approach 2(https://docs.docker.com/swarm/#set-up-swarm-nodes). Here the Swarm cluster is created manually. With approach 2, I could not get Swarm nodes to register with master.

Following are mor

[2015-05-30 21:47] mavenugo opened #875 "Newly introduced (#843) Store AtomicPut for Consul under Lock fails"
#843 introduced the support for retuning the LastIndex for the AtomicPut operation.
But unfortunately for the Consul backend, the Lock() operation results in the subsequent CAS to fail with ErrKeyModified error in AtomicPut method.

As a quick test, commenting out solved the problem.
[code]

[2015-05-30 21:47] mavenugo commented on #875
ping @abronan. Any idea why the integration test failed to catch this condition ?

[2015-05-30 22:53] thaJeztah commented on #818
I'd like to emphasise that a bit more; it's a **bad** idea to expose those ports unprotected; anyone that can gain access to the docker remote API effectively has root access to your machine, so is a **big** security issue.

[2015-05-31 00:05] aluzzardi commented on #336
Sorry about that - I was triaging bugs and closed it in a hurry without giving too much thought.

I spent more time thinking about the issue and I actually think we could fix this - it will require a Docker API change though (and docker engine change, and CLI change) - but it should work.

Right now the problem is that "create" (or "run") doesn't pull the image. The CLI tries to create the contain

[2015-05-31 03:12] jimmyxian commented on #336
@aluzzardi @vieux
Can we solve this as following temporary way:
Main Idea: Matain a table in store that mark whether need pull the image on a single node.
* CreateContainer in swarm: if not found image,  save a key/value(`need_pull_on_singe_node_xxxximage: node_addr`) in store, then return NO_FOUND to docker client.
* Docker client will send pull request. In Swarm pull, first check the key/value.

[2015-05-31 03:48] aluzzardi commented on #336
Thanks for the suggestion, I appreciate it! I didn't think of that. It should work, although I'm afraid it will introduce many race conditions at the only benefit of getting a progress bar:

- if you send a create request for busybox then immediately after a pull request, instead of pulling on the entire cluster it will pull only on the machine selected by create.

- if you send a create through t

[2015-05-31 06:19] chanwit commented on #336
thank you @aluzzardi I appreciate your hard work !!

[2015-05-31 08:12] jimmyxian commented on #336
@aluzzardi Thanks , totally agree!

[2015-05-31 08:41] frol opened #876 "Swarm doesn't check implicit :latest tag for private registry images on /image/{name}/* API calls"
Reproduction:

[code]

Docker daemon handles these requests well and returns valid JSON for both.

This bug affects docker-py `client.inspect_image()` and, as a result, docker-compose (where I have started my investigations).

[code]

Workaround for docker-compose is to specify `:latest` tag explicitly.

[2015-05-31 12:26] frol commented on #876
You may even get such error with `docker-compose up`:

[code]

Once you explicitly specify `:latest`, the issue goes away.

[2015-05-31 12:36] chanwit commented on #876
AFAIK, I do not think it's Swarm bug as I clearly see that Swarm will append the missing tag (:latest) in the current code.

Probably
1. You've been running the 0.2.0 version of Swarm?
2. It's a Docker Compose issue.

[2015-05-31 12:40] frol commented on #876
@chanwit I provided docker info output, which clearly states:

[code]

It is not Docker Compose issue as I queried Swarm via curl!

[2015-05-31 12:41] frol commented on #876
@chanwit Please, point me out to the code where it adds `:latest`. From my tests, it only fails to work with private registry!

[2015-05-31 12:42] chanwit commented on #876
Here it is:
https://github.com/docker/swarm/blob/master/cluster/engine.go#L422

[2015-05-31 12:43] chanwit commented on #876
So is it possible to be the registry bug then?

[2015-05-31 12:47] frol commented on #876
@chanwit Are you kidding? Why do you try to find bug elsewhere if I clearly stated:

1. It reproduces on the remote API level to Swarm.
1. "Docker daemon handles these requests well and returns valid JSON for both." => it means Docker Swarm handles same requests differently.
1. I clearly use Docker Swarm and it is clear that it is 0.3.0 (ok, it is not clear that it is 0.3.0-rc1)

[2015-05-31 12:51] chanwit commented on #876
@frol  Well, sorry for that. It's just counter my belief as I see the :latest prefix appended there in the code.

Maybe you're right that Swarm handles the request differently.

[2015-05-31 12:56] frol commented on #876
@chanwit My apologies also.

Your link goes to Pull method. It seems to me that `/images/(name)/json` should be handled somewhere else. Where is it? (I'm sorry, I'm not that familiar with the code base and I cannot still find appropriate code)

[2015-05-31 12:59] frol commented on #876
@chanwit https://github.com/docker/swarm/blob/master/cluster/engine.go#L493 Here it is. There is no `:latest`-specific code at all though it somehow works for Docker Hub images.

[2015-05-31 13:02] chanwit commented on #876
@frol good catch !! I am about to tell you that the bug should be there.
But I think it's also possible to be in the `image.Match` problem.

Let's see for a bit where it should be fixed.

[2015-05-31 13:06] chanwit commented on #876
It's broken here:
https://github.com/docker/swarm/blob/master/cluster/image.go#L26

Image name is split by a colon and your image's name contains ":5000" as it's from a private registry.

[2015-05-31 13:12] frol commented on #876
@chanwit Yay! BTW, `Pull` will be broken also!

[2015-05-31 14:20] chanwit commented on #876
@frol I'll fix the matching case first, then will try to reproduce what's breaking `Pull` later in a different PR.

[2015-05-31 18:37] frol commented on #876
@chanwit The fix works for the original issue. However, I cannot make `Pull` fail, which is good from some point, but it would be better to understand why it works when it seems it shouldn't.

[2015-05-31 18:49] chanwit commented on #876
@frol I think It uses query parameters separately, e.g. `fromImage` and `repo`. So the image name is already in a short form, say `name:latest`. Maybe this is the reason it's still working fine.

[2015-05-31 18:52] frol commented on #876
@chanwit Good guess.

It was a pleasure to work with you! Thank you for the fix!

[2015-05-31 19:00] chanwit commented on #876
@frol no problem. Thank you for your patience to my wrong guesses at the beginning too.

[2015-05-31 20:53] abronan commented on #875
We don't use it yet in swarm to be honest and the integration tests only include Put/Get/Delete/Watches/List we can't detect failure for CAS as of now (we'll try to build more extensive integration tests for each backend). I know it works for Etcd and Zookeeper, but those are easy cases as they return the last index as part of the operation.

Now that I look back at the code this lock has nothing

[2015-05-31 20:54] abronan commented on #875
/cc @mavenugo

[2015-06-01 01:14] jimmyxian commented on #792
@peebles
Can you try this in fourth machine(swarm manager):
Using `--net=host` instead of `-p 3376:3376 `, and see if it works.
[code]

[2015-06-01 04:31] aluzzardi commented on #767
[code]

@HackToday Can you start the manage with the `-l debug` option?

`docker run [...] swarm -l debug manage [...]`

Then try an `exec` and post the logs here?

(`docker logs swarm-manager`)

[2015-06-01 07:02] HackToday commented on #767
hi @aluzzardi  this is what I get for  (exec 'ls' 'pwd' )

time="2015-06-01T06:53:10Z" level=debug msg="Initializing strategy" name=spread
time="2015-06-01T06:53:10Z" level=debug msg="Initializing filter" name=affinity
time="2015-06-01T06:53:10Z" level=debug msg="Initializing filter" name=health
time="2015-06-01T06:53:10Z" level=debug msg="Initializing filter" name=constraint
time="2015-06-01T06:5

[2015-06-01 07:16] abronan commented on #869
@myfear Unfortunately, this is a limitation of the API, you can see the progress using `docker pull` directly but if you do this, this will pull the image on every machine. We hope to make the process less confusing using `docker run` if there is some improvement on the API side to stream progress on the underlying `pull` operation, you can take a look at the last comments on #336 for more details

[2015-06-01 07:23] bpradipt commented on #826
@chanwit , @aluzzardi , I was trying to code up a simple implementation of this proposal and wanted to take your inputs on the design.
Here are the key changes
1. Extend docker engine Info structure to report the platform Architecture (amd64, ppc64, arm64, s390x etc). Example 'docker info' o/p with proposed changes
[snip]
Name: swarm-vm1
ID: HTLL:YJFZ:S6I4:ZTKA:A2H4:OSUX:L2ZU:ECVI:I5GY:2QL3:TICT:P

[2015-06-01 07:30] chanwit commented on #826
@bpradipt Thank you for looking into this!

1. `architecture` is not enough to handling all cases, IMO.
We need the `platform` label, which is a concat of `os` and `architecture`.

2. Adding label to Swarm will not help much. I think you mean adding it to the engine?

3. There's several points in Swarm / Registry to intercept to make things flow smoothly. Maybe I need to have a bit better design b

[2015-06-01 07:59] bpradipt commented on #826
@chanwit, engine already provides for operating system label. I was of the opinion to just add architecture.  Any concatenation can be done by the users of those label (swarm in this case).

[2015-06-01 08:34] Madko commented on #871
Same results when adding -e https_proxy:

    # docker run --rm -e https_proxy=http://192.168.1.0:3128 swarm create
    time="2015-06-01T08:30:41Z" level=fatal msg="Post https://discovery-stage.hub.docker.com/v1/clusters: dial tcp: i/o timeout"

So just to try something I also added -e http_proxy and now this is working! I didn't think about passing the proxy thru the container, thank you Victor f

[2015-06-01 11:00] chanwit commented on #826
@bpradipt to me, the current operating system label in Docker is for human read, e.g. Ubuntu, Debian etc. We need a kind of uncertain parsing to detect which one the OS is (linux, windows, etc.). IMO, it's far better to just have the platform label using values providing by Go.

[2015-06-01 12:49] bpradipt commented on #826
@chanwit, I see your point on the operating system type (Linux/Windows etc). I have submitted a new docker issue[1] to get thoughts from the engine pov. Based on their suggestion I'll submit the appropriate PRs. Thanks for your suggestions

[1] https://github.com/docker/docker/issues/13634

[2015-06-01 13:24] chanwit commented on #826
@bpradipt thank you for that!
I'll continue to update the design to this proposal in the mean time.

[2015-06-01 15:09] mavenugo commented on #875
@abronan thanks for looking into this. I will try #881 and let you know.

[2015-06-01 16:33] peebles commented on #792
I get the same result.  Does not seem to make any difference.
a

On Sun, May 31, 2015 at 6:14 PM, Xian Chaobo <notifications@github.com>
wrote:

[2015-06-02 07:15] aluzzardi opened #888 "Resource management integration tests"
Docker 1.7 broke our resource management (`Memory` and `CPU` are now in `HostConfig` rather than `Config`).

This should not happen again - we need to add integration tests to verify everything is working correctly.

Basic tests:
- [x] **Resource Propagation**: `docker run -m X -c Y foo` and check if data is shares are propagated correctly (`docker inspect` again swarm and docker host). **Note**:

[2015-06-02 07:19] aluzzardi opened #889 "Network integration tests"
We currently have network integration tests (`test/integration/port-filter.bats`) that verify host mode networking (contributed by @chanwit).

We should add tests to verify `bridge` mode as well

[2015-06-02 07:30] vbichov commented on #601
There is an issue related to container naming.
Globally scheduled containers may run with "--name [container-name]"
All of these containers will have the same name - which is **great** - it's what you want.

Today, you can't do that because swarm abstracts as if it were a single host.
It would be useful to give the same name to containers on different hosts even without global scheduling, but the

[2015-06-02 07:46] aluzzardi opened #890 "Leader election: Export the leader status in docker info"
Currently, there's no way from the API to know which manager is the leader and if the current manager is leader or not (every manager forwards to the leader transparently).

We should:
- Never forward `/info` and handle it locally
- Add a couple of fields to `/info`: a status (leader or follower) and the address of the current leader.

I have no idea on how to name things:
- leader/follower, prima

[2015-06-02 07:51] aluzzardi commented on #876
Should we close this down since the PR was merged?

[2015-06-02 07:52] #876 closed

[2015-06-02 08:03] aluzzardi commented on #874
Thanks for the report, @smakam.

This is a problem with our docs and flag names / help text, we are working on them.

Actually, would you mind if I try out the changes we made recently to our flag names/docs with you?

What if I told you that `--addr` is gone and now there's a flag named `--advertise` instead with the following help text:

Does it help figuring out what the problem is / would you

[2015-06-02 08:06] aluzzardi opened #891 "discovery flags"
Discovery flags today are misleading (and sometimes plain wrong).

`ttl` and `heartbeat` should **only** be available at `join`.

`heartbeat` is currently used by the manager to force a refresh for stores that do not support streaming updates (`token` and `file`).

We should
- Find a better flag name for `heartbeat` in `manage`
- Verify the current flags: Should it be `--ttl` or `--discovery-ttl`?

[2015-06-02 08:17] aluzzardi commented on #601
After giving in some extra thought, I think global scheduling is just a special case of scaling.

We run into the exact same issues if we wanted to scale a container to X instances (single entry, naming, ...).

I believe we should address the scaling issue at the same time, maybe there should be a higher-level concept (`container group` or something like that)

[2015-06-02 08:48] vbichov commented on #601
@aluzzardi You don't necessarily schedule globally because you wish to scale.
Sometimes you do it because Swarm is represented as a single docker host yet provides no solution for "--volume-from" across "actual" hosts.
So you need identical instances of globally scheduled containers - not because you need more then one, but because you have no choice.

[2015-06-02 13:04] chanwit commented on #888
@aluzzardi could you please make them into a check list, so I can help fixing some of them. I see 4 items here.

[2015-06-02 13:18] vbichov commented on #761
Is there a plan to change this behavior?
(So that Swarm will not pull on all hosts?)

[2015-06-02 13:56] chanwit commented on #761
I'd like to rephrase what @vbichov asked to this one.
@vieux can we do `docker pull -e constraint:node==node1 image` to let it pulls to a specific node.

If not, may be it's a possible one to be a PR.

[2015-06-02 14:48] smakam commented on #874
hi @aluzzardi
Sorry, I couldnt follow you completely....

Does the --advertise option need a new swarm version?
When you mention that I can try without --addr in the current swarm version that I am using, do you mean I can skip that option itself?

Thanks
Sreenivas

[2015-06-02 18:10] coffenbacher commented on #844
Great, thanks for the response. I'll experiment with updating us to 0.3.0-rc1 and see if I can still repro.

We're using the digital ocean driver.

[2015-06-02 18:53] aluzzardi commented on #601
@vbichov, indeed. However, in terms of design, implementation and user experience, those two are quite identical.

[2015-06-02 19:13] vieux commented on #888
@aluzzardi I quickly created https://github.com/docker/swarm/pull/886 to track the issue in the engine.

[2015-06-03 22:40] aluzzardi commented on #888
@chanwit, sure!

[2015-06-03 23:03] #871 closed

[2015-06-04 09:08] jasw commented on #806
Thanks, that helped me.

[2015-06-04 18:38] vieux commented on #855
I started working on it in #894

[2015-06-04 18:44] #875 closed

[2015-06-04 18:47] chanwit opened #899 "Performance improvement for store/zookeeper"
This issue helps tracking samuel/go-zookeeper#59 (support calling `Multi` with `GetDataRequest`). When it gets fixed, performance of the ZooKeeper store can be improved.

Relates to #895

/cc @abronan @aluzzardi

[2015-06-04 18:52] vieux commented on #891
regarding `heartbeat` in `manage`, it's only used when we create the discovery, and Mesos doesn't use discovery, so I think it could be move to `--cluster-opt swarm.*=20s` where * is the new name (I have no idea)

[2015-06-04 18:53] abronan commented on #899
:+1:

[2015-06-04 20:56] #830 closed

[2015-06-04 21:01] aluzzardi commented on #831
I think this was fixed by @moxiegirl recent changes (machine by default).

@moxiegirl Do you think we can close this down?

[2015-06-04 22:37] moxiegirl commented on #722
@aluzzardi I'll come by in the AM and see what I can do about fixing this for this release.

[2015-06-04 22:54] moxiegirl commented on #831
@aluzzardi the new getting started provides a very secure way to install. The old installation method is in the new docs/install-manual.md file.  That should be updated but it is put there as the "advanced" --- so yes, I think we can close this as we have a solution.  I still need to redo the manual file tho...

[2015-06-05 10:00] chanwit commented on #889
@aluzzardi let me know if you've got something else needed to test.

[2015-06-05 10:02] chanwit commented on #888
I don't understand what resource propagation is, so I skip it :)
But I think I could handle `binpack` and `spread` tests.

[2015-06-06 13:02] chanwit opened #905 "Regression for certain versions of Docker"
Is it possible to setup a set of regression tests across different version of Dockers?
For example, Docker 1.7-rc1 broke Swarm 0.3.0 and we made changes. But how about Docker 1.6.0?

Not sure if there's a kind of backward compatibility plan like this?

[2015-06-07 08:33] vbichov opened #906 "swarm does not pass the --ulimit parmeter"
how to reproduce:
add "--ulimit nofile=[some number]" to your run command.
check your container.

[2015-06-07 17:11] peebles commented on #792
Any input on this topic?  The stdio things is starting to really give me
grief when trying to script docker commands for the cluster.  The commands
fired with -it will not complete.
a

On Mon, Jun 1, 2015 at 9:33 AM, Andrew Peebles <aqpeeb@gmail.com> wrote: